footer.footer

	.footer-top
		.container
			.footer-top-content

				.footer-col
					span.title.dropdown-title Компания
					ul.dropdown-content
						li
							a(href="#") О нас
						li
							a(href="#") Оптовый отдел
						li
							a(href="#") Сервисный центр
						li
							a(href="#") Учебный центр
						li
							a(href="#") Контакты

				.footer-col
					span.title.dropdown-title Интернет-магазин
					ul.dropdown-content
						li
							a(href="#") Каталог
						li
							a(href="#") Доставка и оплата
						li
							a(href="#") Возврат товара
						li
							a(href="#") Кредит и рассрочка

				.footer-col
					span.title.dropdown-title Наши контакты
					ul.dropdown-content
						li 
							a(href="tel:375172629111") +375 17 262 91 11 (многоканальный)
						li 
							a(href="tel:375172161922") +375 17 216 19 22
						li 
							a(href="tel:375172664910") +375 17 266 49 10
						li 
							a(href="tel:375296960580") +375 29 696 05 80 (велком)
						li 
							a(href="mailto:info@printlux.by") info@printlux.by

				.footer-col
					span.title.dropdown-title Время работы
					ul.dropdown-content
						li Понедельник-Пятница:<br>с 9.00 до 18.00,
						li Суббота-Воскресенье:<br>выходной 

				.footer-col
					span.title Мы в социальных сетях:

					.social-row
						.wrap-icon
							a(href="#").icon
								img(src="img/facebook.svg", alt="")
						.wrap-icon
							a(href="#").icon
								img(src="img/vk.svg", alt="")
						.wrap-icon
							a(href="#").icon
								img(src="img/instagram.svg", alt="")
						.wrap-icon
							a(href="#").icon
								img(src="img/youtube.svg", alt="")

					.wrap-company
						.wrap-logo.wrap-img
							img(src="img/icon-next-lavel.svg", alt="")
						span.name-company Детский<br>учебный центр

	.footer-bottom
		.container
			.footer-bottom-content
				span.copyright © 2013-2018 Printlux
				.company-development
					span Разработка сайта:
					.wrap-img
						img(src="img/logo-webco.svg", alt="")
