.wrap-preview
	.wrap-img.wrap-img-desktop
		img(src="img/single-article-1.jpg", alt="")
	.wrap-img.wrap-img-mobile
		img(src="img/single-article-mobile.jpg", alt="")
	span.title Honor View 10: смартфон с искусственным интеллектом длинное название в две строки
	.bottom-info
		span.data 15 марта 2108
		span.row-tags
			a(href="#").tag Next Level
			a(href="#").tag Pentax 
			a(href="#").tag Lego Education


			