@import "../common/vars";

.sec-sites-works {
	padding-bottom: 0;

	.wrap-our-works{
		.wrap-btn-large-yellow{
			span{
				svg{
					width: 30px;
					height: 20px;
					right: -45px;
				}
			}
		}
	}
}