$white: #fff;
$ash: #CCC4B8;
$pearl-bush: #EEE9E1;
$tangerine: #F38504;

$accent: $tangerine;
$gray: $ash;
$default-text: $pearl-bush;
$body-bg-gradient:  linear-gradient(0deg, #31302F, #31302F), linear-gradient(113.02deg, #DCDBD9 4.95%, #EBE9EA 51.81%, #E0DCDB 99.66%);
$dark-bg: #31302F;
