.wrap-breadcrumbs
	*
		color: $text
		font-size: 14px
		line-height: 17px
	.delimiter 
		margin: 0 20px

+media(lg)
	.wrap-breadcrumbs
		.cur-page
			a
				font-size: 12px
				&:hover
					color: $text
		.delimiter 
			margin: 0 13px

+media(md)
	.wrap-breadcrumbs
		.page-item, a
			font-size: 10px
			line-height: 12px

+media(sm)
	.wrap-breadcrumbs
		.delimiter
			margin: 0 10px