.first-sec-page
	padding: 64px 0
	position: relative
	min-height: 580px
	.wrap-sec-img
		position: absolute
		top: 0
		right: 0
		height: 100%
		width: 55%
		background-size: cover
		background-position: center center
		z-index: 0
	.sec-content
		width: 42%
		position: relative
		z-index: 1
		.title
			margin: 10px 0 20px
		.subtitle
			margin-bottom: 14px
		.bottom-line
			margin-top: 32px
			> span
				display: block
			.price
				margin-top: 8px
				font-size: 34px
				line-height: 41px
				color: $accent


@media(max-width: 1600px)
	.first-sec-page
		.wrap-sec-img
			width: 54%


+media(xl)
	.first-sec-page
		.wrap-sec-img
			width: 53%
		.sec-content
			.title
				font-size: 46px
				line-height: 46px
			.subtitle
				margin-bottom: 14px
				font-size: 21px
				line-height: 26px

+media(lg)
	.first-sec-page
		padding: 45px 0
		min-height: 480px
		.wrap-breadcrumbs
			*
				font-size: 13px
				line-height: 15px
			.delimiter 
				margin: 0 10px
		.sec-content
			.title	
				font-size: 37px
				line-height: 40px
				margin: 10px 0 17px
			.subtitle
				font-size: 16px
				line-height: 20px		
			.subtext
				font-size: 13px
		
+media(md)
	.first-sec-page
		padding: 60px 0
		min-height: 450px
		.wrap-sec-img
			width: 100%
			left: 0
			right: auto
			opacity: .3
		.wrap-breadcrumbs
			*
				font-size: 13px
				line-height: 15px
			.delimiter 
				margin: 0 10px
		.sec-content
			width: 80%
			margin: 0 auto
			text-align: center
			.title	
				font-size: 38px
				line-height: 38px
			.subtitle
				font-size: 16px
				line-height: 20px		
			.subtext
				font-size: 12px
				line-height: 13px

+media(sm)
	.first-sec-page
		min-height: 400px
		.wrap-breadcrumbs
			*
				font-size: 11px
				line-height: 13px
		.sec-content
			width: 85%
			.title	
				font-size: 32px
				line-height: 32px
				margin: 5px 0 15px
			.subtitle
				font-size: 12px
				line-height: 16px				
			.bottom-line
				margin-top: 25px
				.small-text
					font-size: 13px
					line-height: 13px
				.price
					font-size: 30px
					line-height: 30px

@media(max-width: 420px)
	.first-sec-page
		.sec-content
			width: 100%


