.main-footer
	background-color: #F4F5F6
	padding: 87px 0
	.wrap-footer-cols
		display: flex
		align-items: stretch
		justify-content: space-between
		.col
			flex-basis: calc(100% / 3 - 16px)
		.first-col
			display: flex
			flex-direction: column
			justify-content: space-between
			.wrap-logo
				margin-bottom: 30px
				.wrap-logo-img
					width: 170px
					display: flex
					align-items: center
				.sub-text
					color: #8D9293
		.second-col
		.third-col
			> div
				margin-bottom: 30px
				&:last-child
					margin-bottom: 0
			.wrap-icon
				width: 15px
				height: 15px
			.wrap-callback 
				.top-line
					justify-content: flex-start
					margin-bottom: 5px
					.phone-icon
						path
							fill: $text
				.bottom-line
					.btn-callback
						display: inline-block
						margin-left: 27px
			.wrap-msg, .wrap-address	
				display: flex
				color: #000
				.wrap-icon
					margin-right: 10px
		.fourth-col
			display: none
			text-align: center
	

+media(xl)
	.main-footer
		padding: 75px 0
		.wrap-footer-cols
			.first-col
				.wrap-logo
					.wrap-logo-img
						width: 130px
					.sub-text
						font-size: 12px
				.copyright
					font-size: 14px
			.second-col 
				li
					margin-bottom: 15px
					line-height: 18px
					&::before
						width: 5px
						height: 10px 
						top: 4px
			.third-col 
				> div
					margin-bottom: 20px
				.wrap-callback 
					.top-line
						margin-bottom: 0
						.tel	
							font-size: 16px
							margin-bottom: 0px
					.bottom-line
						.btn-callback
							margin-left: 23px
							font-size: 12px
				.wrap-msg
					.link
						font-size: 12px
						line-height: 16px
				.wrap-address
					.address-data
						font-size: 12px
						line-height: 16px

+media(lg)
	.main-footer
		padding: 75px 0
		.wrap-footer-cols
			.first-col
				.copyright
					font-size: 12px
					line-height: 16px
			.second-col 
				li
					margin-bottom: 15px
					a
						&:hover
							color: #000					
			.third-col 
				> div
					margin-bottom: 20px


+media(md)
	.main-footer
		padding: 45px 0
		.wrap-footer-cols
			display: block
			.col
				width: 60%
				margin-left: auto
				margin-right: auto
				margin-bottom: 40px
				&:last-child
					margin-bottom: 0
			.first-col
				.wrap-logo
					margin-bottom: 0
					margin: 0 auto
					.wrap-logo-img
						margin: 0 auto
				.copyright
					display: none
			.second-col
				width: 50%
				padding-left: 30px
			.third-col
				text-align: center
				.wrap-callback
					display: inline-block
					.top-line
						justify-content: center
				.wrap-msg, .wrap-address
					justify-content: center
			.fourth-col
				display: block


+media(sm)
	.main-footer
		.wrap-footer-cols
			.col
				width: 90%
				max-width: 250px
			.fourth-col
				max-width: 300px
				font-size: 12px
				line-height: 16px