.form
	.wrap-field
		border: 1px solid #E0E0E0
		margin-bottom: 8px
		&:last-child
			margin-bottom: 0
		.input
			width: 100%
			padding: 15px 24px
			color: #1A1B1B
			&:focus
				&::placeholder
					opacity: 0
			&::placeholder
				font-family: $default-font
				color: #8D9293
				+trs(.2, eio)



+media(xl)


+media(lg)


+media(md)


+media(sm)