.wrap-header
	position: relative
	.main-header
		margin: 0 auto
		padding: 0 30px
		max-width: 1440px
		min-height: 140px
		display: flex
		align-items: center
		position: relative
		z-index: 4
		background-color: #fff
	
		> *:not(.wrap-menu-2)
			z-index: 3

		&:after
			content: ""
			position: absolute
			top: 0
			left: 50%
			transform: translate(-50%, 0)
			width: 1440px
			height: 100%
			background-color: inherit
			z-index: 2
		.wrap-menu-2
			position: absolute
			top: 100%
			left: 30px
			width: 260px
			background-color: #fff
			padding: 20px 28px
			border-bottom: 3px solid $accent
			transform: translate(0, -110%)
			z-index: 1
			transition: 1s all ease !important
			.menu-item
				margin-bottom: 23px
				&:last-child
					margin-bottom: 0
				a
					color: #000
					display: block
					&:hover
						color: $accent
		.nav-active
			transform: translate(0, 0%)
			box-shadow: 0px 12px 46px 0px rgba(0,0,0,0.1)
		.wrap-menu-icon
			margin-right: 30px
			.icon
				padding: 0
				cursor: pointer
				display: flex
				align-items: center
			.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
				width: 100%
				height: 2px
				background-color: inherit
			.hamburger--squeeze .hamburger-inner
				background-color: $accent
				bottom: 5px
				transition-duration: .25s
			.hamburger-inner:before
				top: -7px
				transition-duration: inherit
			.hamburger-inner:after
				bottom: -7px
				transition-duration: inherit
			.hamburger-box
				height: 24px
				width: 23px
			.is-active
				.hamburger-inner:before
					top: 0px
				.hamburger-inner:after
					bottom: 0px
		.wrap-logo
			margin-right: 40px
			margin-top: 8px
			text-align: right
			&-img
				width: 175px
				display: flex
				align-items: center
			.sub-text
				color: #000
				font-weight: bold
				font-size: 10px
				line-height: 12px
				text-transform: lowercase
				display: block
				letter-spacing: 0.08em
		.nav-desktop
			margin: 0 auto
		.nav-list	
			display: flex
			flex-wrap: wrap
			justify-content: center
			width: 100%
			> .menu-item 
				margin-right: 25px
				position: relative
				&:last-child 
					margin-right: 0
				a
					color: #000
					line-height: 43px
					display: block
				&:hover
					> a
						color: #f84a51
					.sub-menu
						display: block
						z-index: 3
				.sub-menu
					position: absolute
					top: 90px
					left: 0
					background-color: #fff
					padding: 20px 28px
					border-bottom: 3px solid $accent
					width: 250px
					display: none
					box-shadow: 0px 12px 46px 0px rgba(0,0,0,0.1)
					&:after
						content: ""
						position: absolute
						top: -60px
						left: 0
						width: 100%
						height: 100%
						z-index: 1
					li
						margin-bottom: 20px
						opacity: 1
						z-index: 3
						position: relative
						&:last-child
							margin-bottom: 0
						a
							color: #000
							position: relative
							z-index: 3
							padding: 0
							line-height: 20px
							display: block
							&:hover
								color: $accent
		.wrap-callback 
			margin: 15px 41px 6px auto
			.btn-callback, .tel 
				white-space: nowrap
			.btn-callback
				margin-left: 22px
		.wrap-header-icons 
			margin-top: 10px
			display: -webkit-box
			display: -webkit-flex
			display: -ms-flexbox
			display: flex
			-webkit-box-pack: justify
			-webkit-justify-content: space-between
			-ms-flex-pack: justify
			justify-content: space-between
			.wrap-icon 
				width: 25px
				cursor: pointer
			.wrap-user 
				margin-right: 25px
				.user-icon 
					margin-left: auto
					margin-right: auto
				.small-text 
					color: #000
					font-size: 16px
					white-space: nowrap
	.nav-mobile
		display: none
		background-color: #fff
		position: absolute
		top: 99%
		left: 0
		transform: translate(0, -105%)
		width: 100%
		z-index: 3
		border-bottom: 3px solid $accent
		box-shadow: 0px 12px 46px 0px rgba(0,0,0,0.1)
		padding-bottom: 20px
		+trs(1)
		ul
			padding: 10px 0
			.menu-item
				border-bottom: 1px solid rgba(0,0,0,.05)
				padding: 5px 0
				&:last-child
					margin-bottom: 0
					border-bottom: none
				a
					font-size: 18px
					line-height: 35px
					display: block
					color: #000
				.sub-menu
					padding: 0 0 0 15px
					display: none
					li
						border-bottom: 1px solid rgba(0,0,0,.05)
						&:last-child
							border-bottom: none
					a
						font-size: 14px
			.menu-item-has-children
				position: relative
				.icon-dropdown
					position: absolute
					top: 2px
					right: 0
					width: 40px
					height: 40px
					display: flex
					justify-content: center
					align-items: center
					&:after
						content: ""
						position: absolute
						left: 0
						top: 50%
						transform: translate(0, -50%)
						width: 1px
						height: 60%
						background-color: rgba(0,0,0,.05)
					svg
						transform: rotate(-90deg)
						width: 8px
						height: auto
						+trs(.4)
						path
							fill: $accent
			.menu-item-active
				.icon-dropdown
					svg
						transform: rotate(90deg)
		.wrap-menu-2-mobile
			margin-top: 20px
			ul
				padding-top: 20px
				border-top: 2px solid rgba(0,0,0,.1)
	.nav-active
		transform: translate(0, 0%)


@media (max-width: 1440px)
	.wrap-header
		.main-header
			max-width: 1140px
			padding: 0 15px
			.wrap-menu-2
				left: 10px
			.wrap-menu-icon
				margin-right: 15px
			.wrap-logo
				margin-right: 21px
				&-img
					width: 155px
				.sub-text	
					font-size: 9px
					line-height: 12px
					letter-spacing: 0.10em
			.nav-list
				padding-right: 10px
				> .menu-item 
					margin-right: 20px
			.wrap-callback 
				margin: 28px 12px 6px auto
				.btn-callback, .tel 
					font-size: 13px
			.wrap-header-icons
				margin-top: 15px
				.wrap-user 
					margin-right: 13px
					.small-text 
						font-size: 14px
		
+media(xl)
	.wrap-header
		.main-header
			max-width: 970px
			min-height: 120px
			.wrap-menu-2
				left: 10px
				.menu-item
					margin-bottom: 18px
					a
						font-size: 15px
			.wrap-logo
				margin-right: 21px
				margin-top: 3px
				&-img
					width: 125px
				.sub-text	
					font-size: 8px
					line-height: 10px
					letter-spacing: 0.06em
			.nav-list
				> .menu-item
					margin-right: 15px
					a
						font-size: 13px
						line-height: 35px
			.wrap-callback
				margin: 28px 10px 6px auto
				.btn-callback
					font-size: 13px
					margin-left: 22px
				.tel, .btn-callback
					font-size: 13px
			.wrap-header-icons
				.wrap-icon
					width: 22px
				.wrap-user
					margin-left: auto
					margin-top: 0px
					margin-right: 16px
					.small-text
						display: none
					
+media(lg)
	.wrap-header
		.main-header
			max-width: 750px
			min-height: 90px
			align-items: center
			position: relative
			.wrap-menu-2
				display: none
			.wrap-menu-icon
				flex-basis: 33%
				display: block
			.wrap-logo
				flex-basis: 33%
				margin-top: 0px
				margin-right: 0px
				text-align: center
				&-img
					margin: 0 auto
				.sub-text	
					font-size: 10px
					line-height: 15px
					margin-top: 4px
			.nav-desktop
				display: none
			ul.nav-list
				display: block
				text-align: center
				padding: 10px 0
				> .menu-item
					margin-right: 0
					a
						padding: 0
						line-height: 35px
						font-size: 16px
						&:hover
							color: #000
			.wrap-callback
				margin: 0 20px 0 auto
				.phone-icon
					width: 10px
					margin-right: 8px
				.btn-callback
					font-size: 11px
					margin-left: auto
					padding: 0
				.tel
					margin-bottom: 0
				.tel, .btn-callback
					font-size: 11px
			.wrap-header-icons
				margin-top: 0
				.wrap-icon
					width: 16px
				.wrap-user
					margin-right: 16px
		.nav-mobile
			display: block

+media(sm)
	.wrap-header
		.main-header
			min-height: 80px
			justify-content: space-between
			> div
				flex-basis: 33%
			.wrap-logo
				&-img
					width: 120px
				.sub-text
					margin-top: 5px
					font-size: 8px
					line-height: 10px
			.wrap-callback 
				display: none
		.nav-mobile
			.nav-list, .menu-2-list
				> li
					padding: 9px 0
					a
						font-size: 16px
						line-height: 21px
					ul
						li
							padding: 7px 0
			ul 
				.menu-item-has-children 
					.icon-dropdown
						top: -1px
						