.wrap-list
	ul, ol
		li
			position: relative
			color: #000
			a
				color: #000
			&:hover
				a
					color: $linkHover
			&:last-child
				margin-bottom: 0
			em
				font-style: normal
				font-weight: bold
				

.wrap-list-arrow
	ul
		li
			padding-left: 15px
			margin-bottom: 10px
			&:before
				content: ""
				background: url("../img/arrow_right.svg") no-repeat center
				background-size: cover
				width: 7px
				height: 12px
				position: absolute
				top: 4px
				left: -5px

.wrap-list-circle
	ol
		counter-reset: custom-circle
		li
			counter-increment: custom-circle
			padding-left: 40px
			margin-bottom: 20px
			&:before
				content: counter(custom-circle)
				font-size: 12px
				line-height: 15px
				font-weight: bold
				color: #fff
				position: absolute
				z-index: 1
				top: 50%
				transform: translate(0, -50%)
				left: 10px
				text-align: center
			&:after
				content: ""
				border-radius: 50%
				background-color: $accent
				width: 26px
				height: 26px
				position: absolute
				left: 0
				z-index: 0
				top: 50%
				transform: translate(0, -50%)

.wrap-list-check
	ul
		li
			padding-left: 38px
			margin-bottom: 20px
			&:before
				content: ""
				background: url("../img/list_check_img.svg") no-repeat center
				background-size: cover
				width: 22px
				height: 17px
				position: absolute
				top: 4px
				left: 0

+media(xl)
	.wrap-list-check
		ul
			li
				padding-left: 38px
				margin-bottom: 20px
				&:before
					content: ""
					background: url("../img/list_check_img.svg") no-repeat center
					background-size: cover
					width: 22px
					height: 17px
					position: absolute
					top: 4px
					left: 0

+media(lg)
	.wrap-list-circle
		ol
			li
				padding-left: 35px
				&:before
					font-size: 10px
					left: 8px
				&:after
					width: 22px
					height: 22px

	.wrap-list-check
		ul
			li
				padding-left: 34px
				margin-bottom: 15px
				&:before
					width: 18px
					height: 14px
					top: 2px

+media(md)


+media(sm)
	.wrap-list-circle, .wrap-list-check
		ul, ol
			li
				font-size: 13px
				line-height: 16px

	.wrap-list-circle
		ol
			li
				margin-bottom: 15px

	.wrap-list-check
		ul
			li
				padding-left: 28px
				margin-bottom: 12px
				&:before
					width: 14px
					height: 10px

