.sec-callback
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	min-height: 505px
	display: flex
	align-items: stretch
	position: relative
	&::before
		+decor()
		background: linear-gradient(96.5deg, #CED4D2 1.16%, rgba(255, 255, 255, 0) 68.88%)
	&-content
		display: flex
		align-items: center
		justify-content: space-between
		height: 100%
		position: relative
		> div
			flex-basis: 40%
		.wrap-callback-text
			align-self: flex-start
			margin-top: 30px
			margin-left: 80px
			.sec-callback-title
				margin-bottom: 12px
			.sec-callback-subtitle
				white-space: pre-line
		.wrap-callback-form
			.form-content
				text-align: center
				padding: 38px 25px
				width: 368px
				background-color: #fff
				.form-text
					width: 85%
					margin: 0 auto 18px auto
				.h3.form-title
					margin-bottom: 2px
				.form-callback
					.wrap-btn
						margin-top: 8px
						min-width: 208px
						.btn
							width: 100%
							padding: 17px 29px

.sec-callback-dark-shadow
	&::before
		background: linear-gradient(95.98deg, #1A1B1B 6.49%, rgba(20, 20, 20, 0.754921) 24.88%, rgba(0, 0, 0, 0) 81.52%)
	.sec-callback-content
		.wrap-callback-text
			.sec-callback-title, .sec-callback-subtitle
				color: white


+media(xl)
	.sec-callback
		&-content
			.wrap-callback-text
				margin-left: 0
				.sec-callback-title
					margin-bottom: 0px
					font-size: 31px
				.sec-callback-subtitle
					font-size: 17px
			.wrap-callback-form
				.form-content
					width: 100%

+media(lg)
	.sec-callback
		min-height: 450px
		&-content
			> div
				flex-basis: 45%
			.wrap-callback-text
				align-self: center
				margin-top: 0px
				.sec-callback-title
					font-size: 28px
					line-height: 33px
				.sec-callback-subtitle
					font-size: 15px
					line-height: 18px
			.wrap-callback-form
				.form-content
					padding: 30px 20px
					.form-text
						width: 95%
						.form-title
							font-size: 25px
							line-height: 32px
						.small-text
							font-size: 13px
							line-height: 16px
					.wrap-btn
						.btn
							padding: 12px 25px
							font-size: 14px
							line-height: 22px



+media(md)
	.sec-callback
		min-height: auto
		&-content
			display: block
			> div
				margin-left: auto
				margin-right: auto
			.wrap-callback-text
				text-align: center
				width: 90%
				margin-left: auto
				margin-bottom: 50px
				.sec-callback-title
					font-size: 28px
					line-height: 33px
				.sec-callback-subtitle
					font-size: 15px
					line-height: 18px
			.wrap-callback-form
				width: 65%
				.form-content
					padding: 30px 20px
					.form-text
						width: 95%
						.form-title
							font-size: 25px
							line-height: 32px
						.small-text
							font-size: 13px
							line-height: 16px
					.wrap-btn
						.btn
							padding: 12px 25px
							font-size: 14px
							line-height: 22px


+media(sm)
	.sec-callback
		&-content
			.wrap-callback-text
				text-align: center
				width: 90%
				margin-left: auto
				margin-bottom: 50px
				.sec-callback-title
					font-size: 24px
					line-height: 28px
				.sec-callback-subtitle
					font-size: 12px
					line-height: 15px
			.wrap-callback-form
				width: 100%
				max-width: 320px
				.form-content
					.form-text
						.form-title
							font-size: 23px
							line-height: 30px
						.small-text
							font-size: 12px
							line-height: 15px


@media (max-width: 420px)
	.sec-callback
		&-content
			.wrap-callback-text
				width: 100%
