.sec-list-2
	&-content
		display: flex
		align-items: center
		justify-content: space-between
	.wrap-info
		flex-basis: 42%
		.info-title
			margin-bottom: 8px
		.subtext
			margin-bottom: 20px
		.wrap-list
			ul
				margin-top: 12px
				li
					color: $text
					padding-left: 25px
					&:before
						top: 5px
						left: 0px
	.wrap-img
		flex-basis: 58%
		.img
			width: 100%
			margin-right: -45px
			img
				width: 100%


+media(xl)
	.sec-list-2
		.wrap-info
			.info-title
				font-size: 31px
				line-height: 36px
			.subtext
				font-size: 15px
				line-height: 18px
			.wrap-list
				p, ul
					li
					font-size: 15px
					line-height: 18px
			.wrap-list
				ul
					li
						&:before
							top: 4px
		.wrap-img
			flex-basis: 52%
			.img
				margin-right: 0

+media(lg)
	.sec-list-2
		.wrap-info
			flex-basis: 50%
			.info-title
				font-size: 29px
				line-height: 33px
			.subtext
				font-size: 13px
				line-height: 16px
			.wrap-list
				p, ul
					li
					font-size: 13px
					line-height: 16px
			.wrap-list
				ul
					li
						padding-left: 15px
						&:before
							top: 4px
							width: 6px
							height: 9px
		.wrap-img
			flex-basis: 50%


+media(md)
	.sec-list-2
		&-content
			flex-wrap: wrap
			justify-content: center
		.wrap-info
			flex-basis: 80%
			margin-bottom: 40px
			.info-title
				font-size: 26px
				line-height: 30px
			.subtext
				font-size: 13px
				line-height: 16px
			.wrap-list
				p, ul
					li
					font-size: 13px
					line-height: 16px
			.wrap-list
				ul
					li
						padding-left: 15px
						&:before
							top: 4px
							width: 6px
							height: 9px
		.wrap-img
			flex-basis: 70%

+media(sm)
	.sec-list-2
		&-content
		.wrap-info
			flex-basis: 80%
			margin-bottom: 40px
			.info-title
				font-size: 23px
				line-height: 25px
			.subtext
				font-size: 13px
				line-height: 16px
			.wrap-list
				p, ul
					li
					font-size: 13px
					line-height: 16px
			.wrap-list
				ul
					li
						padding-left: 15px
						&:before
							top: 4px
							width: 6px
							height: 9px
		.wrap-img
			flex-basis: 70%

@media (max-width: 420px)
	.sec-list-2
		&-content
		.wrap-info, .wrap-img
			flex-basis: 100%
