.sec-list-1
	position: relative
	&-content
		display: flex
		justify-content: space-between
		align-items: center
		> div
			flex-basis: 50%
	&-text
		.title
			margin: 16px 0 22px
		.wrap-list
			margin-bottom: 25px
			

.sec-list-1-circle
	.sec-list-1-text
		padding-right: 72px
	.sec-list-1-img
		.wrap-img
			width: 615px


.sec-list-1-check
	overflow: hidden
	.sec-list-1-content
		> div
			flex-basis: 52%
	.sec-list-1-text
		padding-right: 0
	.sec-list-1-img
		position: absolute
		top: 50%
		right: 0
		transform: translate(0, -50%)
		.wrap-img
			width: 615px

@media (min-width: 1700px)
	.sec-list-1-check 
		.sec-list-1-img
			right: 7%
	

@media (max-width: 1400px)
	.sec-list-1-check
		.sec-list-1-img
			.wrap-img
				width: 535px

+media(xl)
	.sec-list-1-circle
		.sec-list-1-text
			padding-right: 40px
		.sec-list-1-img
			.wrap-img
				width: 470px

	.sec-list-1-check
		.sec-list-1-content
			> div
				flex-basis: 55%
		.sec-list-1-text
			padding-right: 0
		.sec-list-1-img
			right: -90px
			.wrap-img
				width: 500px

+media(lg)
	.sec-list-1
		&-content
			> div
				flex-basis: 80%
				margin: 0 auto
		&-text
			.title
				font-size: 27px
				line-height: 31px
				margin: 10px 0 20px
			.subtext
				font-size: 16px
				line-height: 18px
			.wrap-list
				margin-bottom: 20px
		&-img
			display: none

	.sec-list-1-circle
		.sec-list-1-text
			padding-right: 0

	.sec-list-1-check
		.sec-list-1-content
			> div
				flex-basis: 80%


+media(md)
	.sec-list-1-check
		.sec-list-1-content
			> div
				flex-basis: 100%

+media(sm)
	.sec-list-1
		padding: 40px 0
		&-text
			.title
				font-size: 24px
				line-height: 27px
			.subtext
				font-size: 12px
				line-height: 14px

	.sec-list-1-check
		.sec-list-1-content
			> div
				flex-basis: 95%


@media(max-width: 400px)
	.sec-list-1
		&-content
			> div
				flex-basis: 100%

	.sec-list-1-check
		.sec-list-1-content
			> div
				flex-basis: 100%
