.sec-tabs
	position: relative
	&:after, &:before
		content: ""
		position: absolute
		top: 0
		height: 100%
		z-index: -1
	&:before
		left: 0
		width: 40%
		background-color: #F4F5F6
	&:after
		right: 0
		width: 60%
		background-color: #fff
	&-content
		z-index: 1
		display: flex
		align-items: stretch
		.wrap-tabs, .wrap-tabs-content
			padding: 100px 0 90px
	.wrap-tabs
		background-color: #F4F5F6
		width: 30%
		.wrap-tabs-group
			margin-bottom: 24px
			&:last-child
				margin-bottom: -24px
		.tabs-group-title
			text-transform: uppercase
			color: $text
			letter-spacing: 0.1em
		.wrap-tabs-items
			.tab-item
				padding-right: 54px
				position: relative
				cursor: pointer
				&:after
					content: ""
					position: absolute
					top: 50%
					transform: translate(-110%, -50%)
					right: -24px
					border: 12px solid transparent
					border-left-color: #F4F5F6
					+trs()
					display: none
				span
					display: block
					+trs()
					border-bottom: 1px solid rgba(190,194,195, .5)
					padding: 24px 0
					border-bottom: 1px solid rgba(190,194,195, .5)
				&:hover
					span
						color: $accent
				&:last-child
					span
						border-bottom: none
			.active-tab
				&:after
					display: block
					transform: translate(0, -50%)
				span
					color: $accent
	.wrap-tabs-content
		background-color: #fff
		width: 70%
		display: flex
		align-items: center
		.tab-content-item
			padding-left: 56px
			display: none
			&-title
				margin-bottom: 30px
			&-info
				display: flex
				> div
					flex: 1
				.wrap-img
					margin-right: 72px
					display: flex
					align-items: center
					img
						width: 100%
						height: auto
				.wrap-text
					.text-group
						margin-bottom: 35px
					.text-group-2
						margin-bottom: 0
					.small-text
						margin-bottom: 10px
					.item-price
						font-size: 34px
						line-height: 40px
						color: $accent
					.wrap-btn
						margin-top: 30px
						max-width: 272px
						display: block
						.btn
							width: 100%
		.active-content
			display: block

+media(xl)
	.sec-tabs
		&-content
			.wrap-tabs, .wrap-tabs-content
				padding: 90px 0 80px
			.wrap-tabs
				.wrap-tabs-items
					.tab-item
						span
							font-size: 15px
							padding: 20px 0
			.wrap-tabs-content
				.tab-content-item
					&-info
						.wrap-img
							margin-right: 35px


+media(lg)
	.sec-tabs
		&-content
			.wrap-tabs, .wrap-tabs-content
				padding: 70px 0
			.wrap-tabs
				.wrap-tabs-items
					.tab-item
						padding-right: 40px
						span
							font-size: 13px
							padding: 17px 0
			.wrap-tabs-content
				.tab-content-item
					padding-left: 35px
					&-title
						margin-bottom: 25px
						font-size: 27px
						line-height: 32px
					&-info
						.wrap-img
							margin-right: 35px
						.wrap-text
							.text-group
								margin-bottom: 25px
							.text-group-2
								margin-bottom: 0
							.small-text
								font-size: 12px
								line-height: 15px
							.item-price
								font-size: 30px
								line-height: 36px
							.wrap-btn
								margin-top: 20px
								max-width: 100%
								.btn
									font-size: 14px
									padding: 15px 25px
									width: 100%


+media(md)
	.sec-tabs
		&:after, &:before
			display: none
		&-content
			flex-direction: column-reverse
			padding: 20px 0
			.wrap-tabs, .wrap-tabs-content
				padding: 30px 0
				width: 100%
				background-color: transparent
			.wrap-tabs
				.wrap-tabs-items
					.tab-item
						padding-right: 0
						&:after
							display: none
						span
							font-size: 13px
							padding: 17px 0
			.wrap-tabs-content
				align-items: flex-start
				.tab-content-item
					padding-left: 0
					&-title
						margin-bottom: 25px
						font-size: 27px
						line-height: 32px
					&-info
						.wrap-img
							margin-right: 35px
						.wrap-text
							.text-group
								margin-bottom: 25px
							.text-group-2
								margin-bottom: 0
							.small-text
								font-size: 12px
								line-height: 15px
							.item-price
								font-size: 30px
								line-height: 36px
							.wrap-btn
								margin-top: 20px
								max-width: 100%
								.btn
									font-size: 14px
									padding: 15px 25px


+media(sm)
	.sec-tabs
		&-content
			.wrap-tabs, .wrap-tabs-content
				max-width: 400px
				margin: 0 auto
			.wrap-tabs
				.wrap-tabs-group
					margin-bottom: 15px
				.tabs-group-title
					font-size: 12px 
					line-height: 14px
				.wrap-tabs-items
					.tab-item
						padding-right: 40px
						&:after
							display: none
						span
							font-size: 12px
							padding: 10px 0
			.wrap-tabs-content
				.tab-content-item
					&-info
						display: block
						.wrap-text 
							.item-price
								font-size: 25px
								line-height: 30px
						.wrap-img
							margin-right: 0
							margin: 0 auto
							width: 70%
						


