h1, h2, h3, h4, h5, h6
	color: #000

h1
	font-size: 52px
	line-height: 55px
	font-weight: bold
	
h2
	font-size: 34px
	line-height: 40px

h3
	font-size: 28px
	line-height: 33px
	font-weight: 300

h4
	font-size: 18px
	line-height: 21px

h5
	font-size: 22px
	line-height: 28px

h6
	font-size: 14px
	line-height: 16px
	font-weight: bold


+media(xl)


+media(lg)
	h2
		font-size: 30px
		line-height: 35px

+media(md)
	h2
		font-size: 28px
		line-height: 33px

	h4
		font-size: 16px
		line-height: 19px

+media(sm)
	h2
		font-size: 24px
		line-height: 28px

	h4
		font-size: 14px
		line-height: 17px