.wrap-text
	.wrap-icon.wrap-img
		img(src="img/icon-check-1.svg", alt="")
	p Ваш заказ 
		em №1951 
		| от 20.04.2018 10:34:47 успешно создан. Номер вашей оплаты: 
		em №1951/1	
	p Вы можете следить за выполнением своего заказа в 
		a(href="#") Персональном разделе сайта.
		|  Обратите внимание, что<br> для входа в этот раздел вам необходимо будет ввести логин и пароль пользователя сайта.

.wrap-info
	span.title Оплата заказа

	.type-cash
		.wrap-icon
			span.icon-text Счет<br> на оплату
		span Банковский перевод
	
	p Если окно с платежной информацией не открылось автоматически,<br> нажмите на ссылку 
		a(href="#") Оплатить заказ.
	p Для того, чтобы скачать счет в формате pdf, нажмите на ссылку 
		a(href="#") Скачать счет.

