section.work-steps.work-steps-purple.section
	.container
		
		.page-titles
			span.h2.title.title-decor Организовать мероприятие очень просто!
			p.subtitle Всего несколько шагов, и через несколько дней вы будете наслаждатся мероприятием с<br> друзьями!

		.wrap-items
			.wrap-item
				.item
					.wrap-decor-line
						<svg width="81" height="41" viewBox="0 0 81 41" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1 13.9999C10.5 -0.500051 36.8618 -2.63668 45 8.49989C54.5 21.5 53.5 47 80.5 37" stroke="#D1D1D1" stroke-width="2" stroke-dasharray="5 2"/>
						</svg>

					.wrap-icon.resp-img
						img.svg(src="img/003-telephone.svg", alt="")

					p.text Вы <a href="#">оставляете заявку</a>

			.wrap-item
				.item
					.wrap-decor-line
						<svg width="98" height="38" viewBox="0 0 98 38" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1.5 13.3684C3.5 17.5351 10.8 27.4684 24 33.8684C40.5 41.8684 56.5 30.3684 63 20.3684C69.5 10.3684 81.5 -6.13135 97 4.36865" stroke="#D1D1D1" stroke-width="2" stroke-dasharray="5 2"/>
						</svg>

					.wrap-icon.resp-img
						img.svg(src="img/003-telephone.svg", alt="")

					p.text Разрабатываем концепции, презентуем вами

			.wrap-item
				.item
					.wrap-decor-line
						<svg width="107" height="39" viewBox="0 0 107 39" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1 16.0503C10.5 1.5503 43 -6.44976 56.5 11.356C72.0399 31.8522 79.5 44.0499 106.5 34.0499" stroke="#D1D1D1" stroke-width="2" stroke-dasharray="5 2"/>
						</svg>

					.wrap-icon.resp-img
						img.svg(src="img/003-telephone.svg", alt="")

					p.text Выбираете подходящую программу

			.wrap-item
				.item
					.wrap-decor-line
						<svg width="107" height="39" viewBox="0 0 107 39" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1 16.0503C10.5 1.5503 43 -6.44976 56.5 11.356C72.0399 31.8522 79.5 44.0499 106.5 34.0499" stroke="#D1D1D1" stroke-width="2" stroke-dasharray="5 2"/>
						</svg>

					.wrap-icon.resp-img
						img.svg(src="img/003-telephone.svg", alt="")

					p.text Делаем расчет стоимости, выставляем смету

			.wrap-item
				.item
					.wrap-decor-line
						<svg width="107" height="39" viewBox="0 0 107 39" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1 16.0503C10.5 1.5503 43 -6.44976 56.5 11.356C72.0399 31.8522 79.5 44.0499 106.5 34.0499" stroke="#D1D1D1" stroke-width="2" stroke-dasharray="5 2"/>
						</svg>

					.wrap-icon.resp-img
						img.svg(src="img/003-telephone.svg", alt="")

					p.text Согласовываем смету мероприятия

			.wrap-item
				.item
					.wrap-decor-line
						<svg width="98" height="38" viewBox="0 0 98 38" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M96.5 24.1819C94.5 20.0152 87.2 10.0819 74 3.68187C57.5 -4.31813 41.5 7.18188 35 17.1819C28.5 27.1819 16.5 43.6816 1 33.1816" stroke="#D1D1D1" stroke-width="2" stroke-dasharray="5 2"/>
						</svg>

					.wrap-icon.resp-img
						img.svg(src="img/003-telephone.svg", alt="")

					p.text Заключаем договор

			.wrap-item
				.item
					.wrap-decor-line
						<svg width="81" height="41" viewBox="0 0 81 41" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M80 26.5504C70.5 41.0503 44.1382 43.187 36 32.0504C26.5 19.0503 27.5 -6.44968 0.5 3.55032" stroke="#D1D1D1" stroke-width="2" stroke-dasharray="5 2"/>
						</svg>

					.wrap-icon.resp-img
						img.svg(src="img/003-telephone.svg", alt="")

					p.text Проводим мероприятие

			.wrap-item
				.item
					.wrap-icon.resp-img
						img.svg(src="img/003-telephone.svg", alt="")

					p.text Собираем обратную связь

		.wrap-btn.wrap-btn-callback
			span.btn.btn-red Оставить заявку




