.wrap-content
	.top-line
		.row-product-category
			a(href="#").category-item
				.wrap-img
					img(src="img/submenu-1.png", alt="")
				span.name Audac 

			a(href="#").category-item
				.wrap-img
					img(src="img/submenu-2.png", alt="")
				span.name Акустические<br> системы

			a(href="#").category-item
				.wrap-img
					img(src="img/submenu-3.png", alt="")
				span.name Микшеры

			a(href="#").category-item
				.wrap-img
					img(src="img/submenu-4.png", alt="")
				span.name Направленный<br> звук

			a(href="#").category-item
				.wrap-img
					img(src="img/submenu-5.png", alt="")
				span.name Кронштейны<br> для компьютер

			a(href="#").category-item
				.wrap-img
					img(src="img/submenu-6.png", alt="")
				span.name Сабвуферы

			a(href="#").category-item
				.wrap-img
					img(src="img/submenu-7.png", alt="")
				span.name Саундбары

			a(href="#").category-item
				.wrap-img
					img(src="img/submenu-8.png", alt="")
				span.name Усилители
		
		.wrap-subtext
			p Равным образом рамки и место обучения кадров играет важную роль в формировании существенных финансовых и административных условий. Равным образом консультация с широким активом в значительной степени обуславливает создание модели развития. Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации соответствующий условий активизации. 

	.products-posts

		.wrap-btn-aside
			.icon
				img(src="img/icon-param.svg", alt="")
			span.text Фильтр

		.row-filter
			.wrap-filter-btns
				a(href="#").cur-btn.filter-btn По цене
				a(href="#").filter-btn По названию
				a(href="#").filter-btn По популярности
				
			.wrap-filter-select.wrap-select
				select(placeholder="По популярности").select
					option(value="")
					option(value="ex-price") По цене
					option(value="ex-name") По названию
					option(value="ex-popular") По популярности

			.wrap-view-card
				a(href="#").cur-vied.view-item
					include ../../../img/masonry.svg
				a(href="#").view-item
					include ../../../img/list.svg
				a(href="#").view-item
					include ../../../img/list-small.svg

		.wrap-products-cards.wrap-products-cards-list
			.wrap-card.bonus-full
				.card
					.content-left
						a(href="#").wrap-img-product
							img(src="img/product-3.png", alt="")
							span.title-sm.title Многофункциональное устройство Epson WorkForce
						.product-data
							a(href="#").title Многофункциональное устройство Epson WorkForce
							table.products-cards-list-table
								tr
									td Операционная система:
									td Android
								tr
									td Встроенная память, в гигабайтах:
									td быстрозажимной
								tr
									td Оперативная память, в гигабайтах:
									td 4
								tr
									td Операционная система:
									td Android
								tr
									td Встроенная память, в гигабайтах:
									td 64

					.content-right
						span.vendor-code Артикуль:
							span 3356528
						span.status Наличие: 
							span.not-many мало	
						span.old-price 270,20 руб.
						span.wrap-cur-price
							span.cur-price 250,00 руб.
							span.save-prise Экономия 2,99
						.wrap-counter-btn
							.wrap-product-counter
								.icon-counter.less
									img(src="img/icon-minus.svg", alt="")
								input(type="text", value="1", maxlength="3").cur-counter
								.icon-counter.plus
									img(src="img/icon-plus.svg", alt="")
							span.btn-product.btn-blue 
								span.text-before-add В корзину
								span.text-after-add В корзине

						.wrap-actions
							.action.action-set
								.icon.icon-set
									include ../../../img/icon-heart.svg
								span.text-before-add Отложить
								span.text-after-add В отложенных
							.action.action-compare
								.icon.icon-compare
									include ../../../img/icon-diagram.svg
								span.text-before-add Сравнить
								span.text-after-add В сравнении

			.wrap-card.bonus-action
				.card
					.content-left
						a(href="#").wrap-img-product
							img(src="img/product-2.png", alt="")
							span.title-sm.title Смартфон Samsung Galaxy S8 (мистический аметист)
						.product-data
							a(href="#").title Смартфон Samsung Galaxy S8 (мистический аметист)
							table.products-cards-list-table
								tr
									td Операционная система:
									td Android
								tr
									td Встроенная память, в гигабайтах:
									td быстрозажимной
								tr
									td Оперативная память, в гигабайтах:
									td 4
								tr
									td Операционная система:
									td Android
								tr
									td Встроенная память, в гигабайтах:
									td 64

					.content-right
						span.vendor-code Артикуль:
							span 3356528
						span.status Наличие: 
							span.many много
						span.old-price 270,20 руб.
						span.wrap-cur-price
							span.cur-price 250,00 руб.
							span.save-prise Экономия 2,99
						.wrap-counter-btn
							.wrap-product-counter
								.icon-counter.less
									img(src="img/icon-minus.svg", alt="")
								input(type="text", value="1", maxlength="3").cur-counter
								.icon-counter.plus
									img(src="img/icon-plus.svg", alt="")
							span.btn-product.btn-blue 
								span.text-before-add В корзину
								span.text-after-add В корзине

						.wrap-actions
							.action.action-set
								.icon.icon-set
									include ../../../img/icon-heart.svg
								span.text-before-add Отложить
								span.text-after-add В отложенных
							.action.action-compare
								.icon.icon-compare
									include ../../../img/icon-diagram.svg
								span.text-before-add Сравнить
								span.text-after-add В сравнении

			.wrap-card
				.card
					.content-left
						a(href="#").wrap-img-product
							img(src="img/product-1.png", alt="")
							span.title-sm.title Бинокль PENTAX 10x36 DCF
						.product-data
							a(href="#").title Бинокль PENTAX 10x36 DCF
							table.products-cards-list-table
								tr
									td Операционная система:
									td Android
								tr
									td Встроенная память, в гигабайтах:
									td быстрозажимной
								tr
									td Оперативная память, в гигабайтах:
									td 4
								tr
									td Операционная система:
									td Android
								tr
									td Встроенная память, в гигабайтах:
									td 64

					.content-right
						span.vendor-code Артикуль:
							span 3356528
						span.status Нет в наличии
						span.btn-report.modal-show(data-modal-key="report-me") Сообщить о поступлении

						.wrap-actions
							.action.action-set
								.icon.icon-set
									include ../../../img/icon-heart.svg
								span.text-before-add Отложить
								span.text-after-add В отложенных
							.action.action-compare
								.icon.icon-compare
									include ../../../img/icon-diagram.svg
								span.text-before-add Сравнить
								span.text-after-add В сравнении

			.wrap-card
				.card
					.content-left
						a(href="#").wrap-img-product
							img(src="img/no_photo.png", alt="")
							span.title-sm.title Многофункциональное устройство Epson WorkForce
						.product-data
							a(href="#").title Многофункциональное устройство Epson WorkForce
							table.products-cards-list-table
								tr
									td Операционная система:
									td Android
								tr
									td Встроенная память, в гигабайтах:
									td быстрозажимной
								tr
									td Оперативная память, в гигабайтах:
									td 4
								tr
									td Операционная система:
									td Android
								tr
									td Встроенная память, в гигабайтах:
									td 64

					.content-right
						span.vendor-code Артикуль:
							span 3356528
						span.status Наличие: 
							span.many много
						span.wrap-cur-price
							span.cur-price 110,00 руб.
						.wrap-counter-btn
							.wrap-product-counter
								.icon-counter.less
									img(src="img/icon-minus.svg", alt="")
								input(type="text", value="1", maxlength="3").cur-counter
								.icon-counter.plus
									img(src="img/icon-plus.svg", alt="")
							span.btn-product.btn-blue 
								span.text-before-add В корзину
								span.text-after-add В корзине

						.wrap-actions
							.action.action-set
								.icon.icon-set
									include ../../../img/icon-heart.svg
								span.text-before-add Отложить
								span.text-after-add В отложенных
							.action.action-compare
								.icon.icon-compare
									include ../../../img/icon-diagram.svg
								span.text-before-add Сравнить
								span.text-after-add В сравнении

			.wrap-card.bonus-new
				.card
					.content-left
						a(href="#").wrap-img-product
							img(src="img/product-1.png", alt="")
							span.title-sm.title Многофункциональное устройство Epson WorkForce
						.product-data
							a(href="#").title Многофункциональное устройство Epson WorkForce
							table.products-cards-list-table
								tr
									td Операционная система:
									td Android
								tr
									td Встроенная память, в гигабайтах:
									td быстрозажимной
								tr
									td Оперативная память, в гигабайтах:
									td 4
								tr
									td Операционная система:
									td Android
								tr
									td Встроенная память, в гигабайтах:
									td 64

					.content-right
						span.vendor-code Артикуль:
							span 3356528
						span.status Наличие: 
							span.not-many мало	
						span.old-price 270,20 руб.
						span.wrap-cur-price
							span.cur-price 250,00 руб.
							span.save-prise Экономия 2,99
						.wrap-counter-btn
							.wrap-product-counter
								.icon-counter.less
									img(src="img/icon-minus.svg", alt="")
								input(type="text", value="1", maxlength="3").cur-counter
								.icon-counter.plus
									img(src="img/icon-plus.svg", alt="")
							span.btn-product.btn-blue 
								span.text-before-add В корзину
								span.text-after-add В корзине

						.wrap-actions
							.action.action-set
								.icon.icon-set
									include ../../../img/icon-heart.svg
								span.text-before-add Отложить
								span.text-after-add В отложенных
							.action.action-compare
								.icon.icon-compare
									include ../../../img/icon-diagram.svg
								span.text-before-add Сравнить
								span.text-after-add В сравнении

		include ../../../modules/btn-load-more/btn-load-more

		include ../../../modules/pagination/pagination