.card-set
	span.title-set.title-set-lg Вместе дешевле

	.card-set-content
		span.title-set Вместе дешевле

		.set-item.set-item-1
			.wrap-img
				img(src="img/img-thumb-product-set-1.png", alt="")
			.wrap-text
				span.title Смартфон Samsung<br>Galaxy S8 (мистический а
				span.old-price 110,99 руб.
				span.cur-price 110,00 руб.
			.bottom-icon.bottom-icon-plus

		.set-item.set-item-2
			.wrap-img
				img(src="img/img-thumb-product-set-2.png", alt="")
			.wrap-text
				span.title Бинокль PENTAX<br>10x36 DCF 
				span.cur-price 110,00 руб.
			.bottom-icon.bottom-icon-plus

		.set-item.set-item-3
			.wrap-img
				img(src="img/img-thumb-product-set-3.png", alt="")
			.wrap-text
				span.title Многофункциональное<br>устройство EpsonWorkFor
				span.old-price 110,99 руб.
				span.cur-price 110,00 руб.
			.bottom-icon.bottom-icon-result

		.wrap-result-data
			span.set-price Цена набора: <span>1 030,00 руб</span>
			span.your-price Ваша цена: <span>1 000,00 руб</span>
			span.btn-blue
				span Купить набор
			span.btn-custom-set.modal-show(data-modal-key="product-set")
				span Собрать свой набор

