@import "../../../less/common/vars";


.compare-products {
	.products-data-tables{
		position: relative;
	}

	.products-data-table{
		max-width: 100%;
		overflow-x: auto;
		position: absolute;
		top: 0;
		left: 0;
		visibility: hidden;
		opacity: 0;
		transition: .3s all ease;

		.mCSB_2_scrollbar{
			position: absolute;
			z-index: -1;
			visibility: hidden;
			opacity: 0;
		}

		table{
			width: 100%;

			tr{
				transition: .3s all ease;
				cursor: pointer;

				&:hover:not(.row-title){
					background-color: #FBFBFB;
				}

				td{
					line-height: 16px;
					border: 1px solid #EAEAEA;
					padding: 13px 20px;
					vertical-align: middle;
				}
			}

			.row-title{
				background-color: #F1F1F1;
				td{
					color: @textGray;
					font-family: "RobMed";
					border-color: #F1F1F1;
				}
			}

		}
	}

	.cur-table{
		visibility: visible;
		opacity: 1;
	}
}


@media (min-width: 1260px) {

}

@media (max-width: 1259px) {

}

@media (max-width: 991px) {
	.compare-products{
		.products-data-table{
			table{
				tr td{
					padding: 13px;
				}
			}
		}
	}
}

@media (max-width: 767px) {

}

@media (max-width: 575px) {

}

