.wrap-common-testimonials

	.common-testimonials
		display: flex
		padding: 35px 40px 40px 25px

	.wrap-big-star
		flex-shrink: 0
		margin-right: 20px
		text-align: center

	.result-rating
		font-size: 1.5rem
		display: block
		margin-top: -8px

	.wrap-info
		> span
			display: block
			line-height: 22px

	 .wrap-rating
	 	margin: 4px 0 6px -4px


+media-breakpoint-down(lg)

+media-breakpoint-down(md)
	.wrap-common-testimonials

		.common-testimonials
			display: flex
			padding: 25px 30px 30px 15px

		.wrap-big-star
			flex-shrink: 0
			margin-right: 15px
			text-align: center

		.result-rating
			font-size: 1.3rem
			display: block
			margin-top: -4px

		.wrap-info
			> span
				display: block
				line-height: 18px



+media-breakpoint-down(sm)
	.wrap-common-testimonials
		margin-bottom: 30px
		.product-card-sec-title
			text-align: center


+media-breakpoint-down(xs)
