.wrap-common-testimonials
	span.product-card-sec-title.h-3.d-block.d-md-none Отзывы (22)

	.common-testimonials.element-shadow-static

		.wrap-big-star
			.wrap-icon
				img(src="img/big-star.png", alt="")
			em.result-rating.text-fw-bold 4,5

		.wrap-info
			span.text-fw-bold Общая оценка пользователей

			.wrap-rating
				img(src="img/star-full.png", alt="")
				img(src="img/star-full.png", alt="")
				img(src="img/star-full.png", alt="")
				img(src="img/star-half.png", alt="")
				img(src="img/star-none.png", alt="")

			span.text-small Оценка рассчитана на основе 
			span.text-small 22 отзывов
