.wrap-description-text
	p, ul
		margin-bottom: 25px




+media-breakpoint-down(lg)
	.wrap-description-text
		p, ul
			br
				display: none


+media-breakpoint-down(md)

+media-breakpoint-down(sm)

+media-breakpoint-down(xs)
.wrap-description-text
	p, ul
		font-size: 14px
		line-height: 22px
		margin-bottom: 22px



