.top-page-line
	.wrap-breadcrumbs
		a.other-page(href="index.html") Главная
		a.other-page(href="index.html") Корзина
		span.cur-page Оформление заказа
		
	.wrap-title
		span.page-title Оформление заказа
