include ../../../../card/card


.about-us__group-cards.group-cards.page__text-group
	.group-cards__inner

		+card("img/about-us-1", ["Pergola and Gazebo", "China Mainland"])
		+card("img/about-us-2", ["Qatar University", "Qatar"])
