include ../../../../card/card


.about-us__group-cards.about-us__group-cards_second.group-cards.group-cards_has-title.group-cards_has-subtext.page__text-group
	//- or .title-2
	h2 We collaborate with, and work alongside architects, interior designers and nominated suppliers to professionally deliver high quality end-to-end products for the projects. 

	.group-cards__inner
		+card("img/people-1", ["Paolo Maldini", "Designer Int"])
		+card("img/people-2", ["Silvia Berlyskoni", "Designer Int"])


	p.group-cards__subtext Understanding our client’s needs is the key to our success particularly when working in live<br class="d-none-less-1600"> environments, ensuring minimal disturbance and  maintaining  ‘business   as   usual’.  Architectural<br class="d-none-less-1600"> Joinery is committed to delivering on time and within budget to the highest levels of quality and finish.<br class="d-none-less-1600"> We continually evaluate ourselves as a company, responding to the changing needs of our clients,<br class="d-none-less-1600"> developing our staff and offering the best possible service levels at a competitive price. Our aim is to<br class="d-none-less-1600"> exceed our client’s expectations.
