.wrap-all-testimonials
	padding-right: 50px
	
	.comments-list
		li
			margin-bottom: 25px
		ul
			display: none

	.row-data
		display: flex
		align-items: center
		margin: 10px 0
		.item-time
			margin-right: 15px

	.btn-leave-comment
		margin-top: 35px




+media-breakpoint-down(lg)

+media-breakpoint-down(md)
	.wrap-all-testimonials
		padding-right: 20px

	
+media-breakpoint-down(sm)
	.wrap-all-testimonials
		padding-right: 0px


+media-breakpoint-down(xs)
	.wrap-all-testimonials
		.comments-list
			li
				margin-bottom: 15px

		.comment-text
			font-size: 14px
			line-height: 24px

		.btn-leave-comment
			margin-top: 20px

