.wrap-all-testimonials
	span.product-card-sec-title.h-3.d-none.d-md-block Отзывы (22)

	ul.comments-list
		li
			span.person-name.text-fw-bold Юлия

			.row-data
				.item-time.text-small.text-gray.text-fw-bold
					.wrap-icon.responsive-img
						img(src="img/018-watch.svg", alt="")

					time(datetime="2018-02-12 18:00") 02.12.2018
	
				.wrap-rating
					img(src="img/star-full.png", alt="")
					img(src="img/star-full.png", alt="")
					img(src="img/star-full.png", alt="")
					img(src="img/star-half.png", alt="")
					img(src="img/star-none.png", alt="")

			p.comment-text Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб

		li
			span.person-name.text-fw-bold Юлия

			.row-data
				.item-time.text-small.text-gray.text-fw-bold
					.wrap-icon.responsive-img
						img(src="img/018-watch.svg", alt="")

					time(datetime="2018-02-12 18:00") 02.12.2018
	
				.wrap-rating
					img(src="img/star-full.png", alt="")
					img(src="img/star-full.png", alt="")
					img(src="img/star-full.png", alt="")
					img(src="img/star-half.png", alt="")
					img(src="img/star-none.png", alt="")

			p.comment-text Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб

		li
			span.person-name.text-fw-bold Юлия

			.row-data
				.item-time.text-small.text-gray.text-fw-bold
					.wrap-icon.responsive-img
						img(src="img/018-watch.svg", alt="")

					time(datetime="2018-02-12 18:00") 02.12.2018
	
				.wrap-rating
					img(src="img/star-full.png", alt="")
					img(src="img/star-full.png", alt="")
					img(src="img/star-full.png", alt="")
					img(src="img/star-half.png", alt="")
					img(src="img/star-none.png", alt="")

			p.comment-text Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб

		li
			span.person-name.text-fw-bold Юлия

			.row-data
				.item-time.text-small.text-gray.text-fw-bold
					.wrap-icon.responsive-img
						img(src="img/018-watch.svg", alt="")

					time(datetime="2018-02-12 18:00") 02.12.2018
	
				.wrap-rating
					img(src="img/star-full.png", alt="")
					img(src="img/star-full.png", alt="")
					img(src="img/star-full.png", alt="")
					img(src="img/star-half.png", alt="")
					img(src="img/star-none.png", alt="")

			p.comment-text Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб

		li
			span.person-name.text-fw-bold Юлия

			.row-data
				.item-time.text-small.text-gray.text-fw-bold
					.wrap-icon.responsive-img
						img(src="img/018-watch.svg", alt="")

					time(datetime="2018-02-12 18:00") 02.12.2018
	
				.wrap-rating
					img(src="img/star-full.png", alt="")
					img(src="img/star-full.png", alt="")
					img(src="img/star-full.png", alt="")
					img(src="img/star-half.png", alt="")
					img(src="img/star-none.png", alt="")

			p.comment-text Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб

		li
			span.person-name.text-fw-bold Юлия

			.row-data
				.item-time.text-small.text-gray.text-fw-bold
					.wrap-icon.responsive-img
						img(src="img/018-watch.svg", alt="")
					time(datetime="2018-02-12 18:00") 02.12.2018
	
				.wrap-rating
					img(src="img/star-full.png", alt="")
					img(src="img/star-full.png", alt="")
					img(src="img/star-full.png", alt="")
					img(src="img/star-half.png", alt="")
					img(src="img/star-none.png", alt="")

			p.comment-text Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб

		li
			span.person-name.text-fw-bold Юлия

			.row-data
				.item-time.text-small.text-gray.text-fw-bold
					.wrap-icon.responsive-img
						img(src="img/018-watch.svg", alt="")

					time(datetime="2018-02-12 18:00") 02.12.2018
	
				.wrap-rating
					img(src="img/star-full.png", alt="")
					img(src="img/star-full.png", alt="")
					img(src="img/star-full.png", alt="")
					img(src="img/star-half.png", alt="")
					img(src="img/star-none.png", alt="")

			p.comment-text Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб

		li
			span.person-name.text-fw-bold Юлия

			.row-data
				.item-time.text-small.text-gray.text-fw-bold
					.wrap-icon.responsive-img
						img(src="img/018-watch.svg", alt="")

					time(datetime="2018-02-12 18:00") 02.12.2018
	
				.wrap-rating
					img(src="img/star-full.png", alt="")
					img(src="img/star-full.png", alt="")
					img(src="img/star-full.png", alt="")
					img(src="img/star-half.png", alt="")
					img(src="img/star-none.png", alt="")

			p.comment-text Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб

	.btn-view-all.text-medium.text-fw-bold + <span></span> отзывов

	.btn-leave-comment.btn.btn-dark(data-izimodal-open=".modal-testimonial") Оставить отзыв
