.video-about-us
	background-color: $gray

	.wrap-video
		position: relative
		margin: 45px auto 0
		width: 100%
		max-width: 945px
		
		&::before
			content: ""
			width: 100%
			padding-top: 55.3%
			display: block

		iframe
			height: 100%
			width: 100%
			display: block
			position: absolute
			top: 0
			left: 0
			right: 0


+media(xl)


+media(lg)
	.video-about-us
		.wrap-video
			margin: 0 auto

+media(md)


+media(sm)


	