section.video-about-us.section.bg-elements(style="background-image: url('img/bg-elements-5.svg')")
	.container
		
		.page-titles
			span.h2.title.title-decor Еще немного о нас

		.wrap-video
			span.video-url https://www.youtube.com/watch?v=6mPKyH2FvY0


