.card-data.wrap-products-cards
	span.product-name Смартфон Samsung Galaxy S8 (мистический аметист)

	.card-data-content
		.wrap-product-card-imgs
			.wrap-main-slider.bonus-action.modal-show(data-modal-key="product-img-slider")
				.slider
					.wrap-img-slider
						img(src="img/big-img-1.png", alt="")
					.wrap-img-slider
						img(src="img/big-img-1.png", alt="")
					.wrap-img-slider
						img(src="img/big-img-1.png", alt="")
					.wrap-img-slider
						img(src="img/big-img-1.png", alt="")
					.wrap-img-slider
						img(src="img/big-img-1.png", alt="")

			.wrap-main-slider-dots

			.wrap-slider-thumb
				.slider
					.wrap-img-slider
						img(src="img/small-img-1.png", alt="")
					.wrap-img-slider
						img(src="img/small-img-1.png", alt="")
					.wrap-img-slider
						img(src="img/small-img-1.png", alt="")
					.wrap-img-slider
						img(src="img/small-img-1.png", alt="")
					.wrap-img-slider
						img(src="img/small-img-1.png", alt="")
				.wrap-nav

		.wrap-data
			.data-group
				span.list-title Краткое описание товара
				ul.data-list
					li Операционная система:
						span Android
					li Встроенная память, в гигабайтах:
						span 64
					li Оперативная память, в гигабайтах:
						span 4
					li Диагональ экрана, в дюймах:
						span 5.8
					li Емкость аккумулятора, в миллиампер в час:
						span 3000
					span.show-more Все характеристики

			.data-group.data-group-other-info
				.group
					span.vendor-code Артикуль:
						span 3356528
					span.status Наличие: 
						span.not-many мало
				.group
					span.old-price 110,99 руб.
					span.wrap-cur-price
						span.cur-price 110,00 руб.
						span.save-prise Экономия 2,99

			.data-group
				.wrap-counter-btn
					.wrap-product-counter
						.icon-counter.less
							img(src="img/icon-minus.svg", alt="")
						input(type="text", value="1", maxlength="3").cur-counter
						.icon-counter.plus
							img(src="img/icon-plus.svg", alt="")
					span.btn.btn-product.btn-blue 
						span.text-before-add В корзину
						span.text-after-add В корзине

				.wrap-actions-btn
					.wrap-actions
						.action.action-set
							.icon.icon-set
								include ../../../../img/icon-heart.svg
						.action.action-compare
							.icon.icon-compare
								include ../../../../img/icon-diagram.svg
					span.btn.btn-white.modal-show(data-modal-key="buy-click")
						span Купить в 1 клик



