.team-building
	.wrap-items
		display: flex
		justify-content: space-around
		margin-top: 50px
		flex-wrap: wrap

		.wrap-item
			width: 100%
			max-width: 25%
			text-align: center

			.wrap-icon
				width: 80px
				margin-left: auto
				margin-right: auto
				margin-bottom: 28px


+media(xl)

+media(lg)
	.team-building
		background-size: 88%

		.wrap-items
			margin-top: 40px

			.wrap-item
				.wrap-icon
					margin-bottom: 20px

				.text
					font-size: .93rem
					line-height: 1.4rem


+media(md)
	.team-building

		.wrap-items
			margin-left: -$gutters
			margin-right: -$gutters
			margin-bottom: -32px
			
			.wrap-item
				max-width: 50%
				padding: 0 8px 32px

				.wrap-icon
					margin-bottom: 20px

				.text
					font-size: .93rem
					line-height: 1.4rem



+media(sm)
	.team-building
		.wrap-items

			.wrap-item
				max-width: 240px
				.text
					font-size: 1rem

