section.team-building.section.section-white.bg-elements(style="background-image: url('img/bg-elements-4.svg')")

	.container
		
		.page-titles
			span.h2.title.title-decor Для чего нужен тимбилдинг?
			p.subtitle Умный руководитель ищет дополнительные способы мотивации и сплочения<br>сотрудников, чтобы избежать следующих проблем:

		.wrap-items
			.wrap-item
				.item
					.wrap-icon.resp-img
						img(src="img/001-yatch.svg", alt="")
					p.text Сотрудники будто сидят в одной лодке, но гребут в разные стороны (или вовсе не гребут)

			.wrap-item
				.item
					.wrap-icon.resp-img
						img(src="img/puzzle.svg", alt="")
					p.text Коллеги плохо знают друг друга, уровень доверия оcтавляет желать лучшего

			.wrap-item
				.item
					.wrap-icon.resp-img
						img(src="img/002-announcement.svg", alt="")
					p.text Усердно работая, коллектив выгорает, а энтузиазма руководителя уже не хватает на всех

	