@import "../../../less/common/vars";

.home-post-articles{
	background-color: @bgF2;
	padding: 45px 0 0;

	&-content{
		.top-line{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: center;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 27px;
		}

		.title{
			position: relative;
			font-size: 22px;
			line-height: 26px;
			font-family: "RobMed";
			padding: 0 24px;

			&::after, &::before{
				content: "";
				position: absolute;
				background: url("../img/title-article-decor.svg") no-repeat center;
				-webkit-background-size: contain;
				background-size: contain;
				height: 100%;
				width: 15px;
				top: 2px;
			}

			&::after{
				right: 0px;
				-webkit-transform: rotate(180deg);
				-moz-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				-o-transform: rotate(180deg);
				transform: rotate(180deg);
			}

			&::before{
				left: 0;
			}
		}

		.to-articles{
			color: @blue;
			padding: 8px 15px;
			border: 1px solid #D9DCDE;
			border-radius: 3px;
			font-size: 13px;
			line-height: 15px;
			transition: .3s all ease;
			&:hover{
				color: @pink;
			}
		}

		.wrap-articles-preview{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
			-ms-align-items: stretch;
			align-items: stretch;
			font-size: 15px;
			line-height: 18px;
			padding-bottom: 20px;

			.article-preview {
				max-width: 50%;
				width: 100%;
				padding-right: 45px;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				margin-bottom: 26px;
			}

			time{
				color: @textGray;
				margin-right: 25px;
			}

			a{
				color: #46474D;
				&:hover{
					color: @blue;
				}
			}
		}
	}

	.form-subscribe{
		border-top: 1px solid #D9DCDE;
		padding: 25px 0;

		&-content{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: center;
			align-items: center;
			justify-content: center;
		}

		.wrap-text{
			text-align: center;
			margin-right: 45px;
			position: relative;

			&::before{
				background: url("../img/icon-mail.svg") no-repeat center;
				-webkit-background-size: contain;
				background-size: contain;
				width: 120px;
				height: 80px;
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				-moz-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				-o-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				
			}

			> span {
				display: block;
			}

			.title{
				color: @blue;
				font-size: 18px;
				line-height: 21px;
				font-family: "RobMed";
				margin-bottom: 5px;
			}

			.subtitle{
				line-height: 16px;
				color: @textGray;
			}
		}

		.wrap-accent-field{
			.field{
				padding-left: 20px;
				padding-right: 20px;
				width: 320px;
			}
		}
	}
}

@media (min-width: 1260px) {

}


@media (max-width: 1259px) {

}


@media (max-width: 991px) {
	.home-post-articles{
		padding: 35px 0 0;

		&-content{
			.wrap-articles-preview{
				padding-bottom: 15px;

				.article-preview{
					max-width: 100%;
					padding-right: 0;

					.time{
						margin-right: 22px;
					}
				}
			}
		}

		.form-subscribe{
			.wrap-text{
				margin-right: 25px;
				text-align: left;
			}

			&-content{
				justify-content: space-between;
			}

			.wrap-accent-field{
				height: 42px;
				width: 56%;

				.field{
					width: 100%;
				}
			}
		}

	}
}


@media (max-width: 767px) {
	.home-post-articles{
		.form-subscribe{
			&-content{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				-ms-align-items: center;
				align-items: center;
				-webkit-flex-direction: column;
				-moz-flex-direction: column;
				-ms-flex-direction: column;
				-o-flex-direction: column;
				flex-direction: column;
				text-align: center;
			}

			.wrap-text{
				margin: 0;
				text-align: center;

				.title{
					padding: 0;
				}
			}
			
			.wrap-accent-field{
				width: 70%;
				margin-top: 25px;
			}
		}
	}
}


@media (max-width: 575px) {
	.home-post-articles{
		.top-line{
			margin-bottom: 22px;
		}

		.to-articles{
			font-size: 12px;
			padding: 6px 10px;
		}

		.title{
			font-size: 18px;
			line-height: 24px;
			padding: 0 14px;

			&:before, &:after{
				width: 6px;
			}
		}

		.wrap-articles-preview{
			padding-bottom: 6px;

			.article-preview{
				display: block;
				margin-bottom: 15px;

				> * {
					display: block;
					font-size: 14px;
				}

				.time{
					margin-bottom: 4px;
					margin-right: 0;
				}

				a{
					line-height: 22px;
				}
			}
		}

		.form-subscribe{
			padding: 20px 0 40px;

			&-content{
				-ms-align-items: flex-start;
				align-items: flex-start;
			}

			.wrap-text{
				text-align: left;

				&:before{
					content: none;
				}

				.title{
					font-size: 16px;
					margin-bottom: 2px;
				}

				.subtitle{
					font-size: 12px;
				}
			}
			
			.wrap-accent-field{
				width: 100%;
				margin-top: 10px;
				height: 36px;

				.field{
					padding: 0 10px;
				}

				.wrap-field-btn{
					.field-btn{
						padding: 9px 10px;
					}
				}
			}
		}

	}
}
