//Banner BEGIN
include banner/banner
//Banner END

include ../../../our-plus/our-plus

include ../../../slider-materials/slider-materials

//Price BEGIN
include price/price
//Price END

//Request BEGIN
include request/request
//Request END

//Portfolio BEGIN
include portfolio/portfolio
//Portfolio END

//Characteristics BEGIN
include characteristics/characteristics
//Characteristics END

//Cutting process BEGIN
include cutting-process/cutting-process
//Cutting process END

//Faq BEGIN
include faq/faq
//Faq END

//Reviews BEGIN
include reviews/reviews
//Reviews END

//Partners BEGIN
include partners/partners
//Partners END

//Request BEGIN
include request/request
//Request END

//Our instagram BEGIN
include our-instagram/our-instagram
//Our instagram END

//Leave feedback BEGIN
include leave-feedback/leave-feedback
//Leave feedback END
