.wrap-article.wrap-text-content
	.container
		.row.justify-content-center

			.col-12
				.wrap-img.responsive-img.wrap-main-img-article.wrap-img-desktop
					img(src="img/article-img-1-desk.png", alt="").img-desktop
				.wrap-img.responsive-img.wrap-main-img-article.wrap-img-mobile
					img(src="img/article-img-1-mob.png", alt="").img-mobile


			.col-12.col-lg-10
				article
					span.item-time.text-small.text-gray.text-fw-bold
						.wrap-icon
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
								<g>
									<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
									<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
								</g>
							</svg>

						time(datetime="2018-02-12 18:00") 02.12.2018
						span.tag #Новости

					h1.h-2.title-article Назание статьи в строку или в две<br> небольшие строки

					p.subtitle В отличие от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом<br> и придаст неповторимый текст рыба на русском языке екст рыба на русском языке

					.article-text
						h3 Небольшой заголовок статьи в строку

						p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем

						p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем

						include ../slider/slider

						p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем

						h4 Самым известным «рыбным» текстом является 

						p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем

						p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем

						blockquote Самым известным «рыбным» текстом<br> является знаменитый Lorem ipsum Самым<br> известным «рыбным»

						p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем

						h4 Самым известным «рыбным» текстом является 

						p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем

						ul
							li Самым известным «рыбным» текстом является знаменитый Lorem ipsum. Считается, что впервые его применили в книгопечатании еще в XVI веке.

							li Самым известным «рыбным» текстом является знаменитый Lorem ipsum. Считается, что впервые его применили в книгопечатании еще в XVI веке. Самым известным «рыбным» текстом является знаменитый Lorem ipsum. Считается, что впервые его применили в книгопечатании еще в XVI веке.

							li Самым известным «рыбным» текстом является знаменитый Lorem ipsum. Считается, что впервые его применили в книгопечатании еще в XVI веке.

							p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем

							img(src="img/article-img-1-desk.png", alt="").img-desktop
							img(src="img/article-img-1-mob.png", alt="").img-mobile
							span.text-under-img Небольшие подпись к фото

							p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсемТак как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем
			
							p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно.

				
				.wrap-social
					span.social-title.h-3 Поделиться в соцсетях

					.wrap-social-squares
						a(href="#").social-square
							img(src="img/icon-fb-white.svg", alt="")
						a(href="#").social-square
							img(src="img/icon-vk-white.svg", alt="")
						a(href="#").social-square
							img(src="img/icon-inst-white.svg", alt="")
						a(href="#").social-square
							img(src="img/icon-vk-white.svg", alt="")
						a(href="#").social-square
							img(src="img/icon-inst-white.svg", alt="")

