.basket-table.wrap-tabs-content

	.tab-content.tab-content-cur
		table.table-products
			tr.row-title
				td Товар
				td Скидка
				td Цена
				td Кол-во
				td Итого
				td
			tr
				td
					.wrap-product-info
						.wrap-img-product
							img(src="img/product-3.png", alt="")
						.wrap-text
							span.title Смартфон Samsung<br> Galaxy S8 (мистический амет
							span.subtext Артикуль:
								em  3356528
				td
					span.text-sm Скидка:
					span.cur-price.price 0% 
				td
					span.text-sm Цена:	
					span.cur-price.price 1 100,00 руб.
				td
					span.text-sm Кол-во:
					.wrap-product-counter
						.icon-counter.less
							img(src="img/icon-minus.svg", alt="")
						input(type="text", value="1", maxlength="3").cur-counter
						.icon-counter.plus
							img(src="img/icon-plus.svg", alt="")

				td
					span.text-sm Итого:	
					span.price 1 100,00 руб.
				td
					.remove-product.wrap-img
						img(src="img/icon-cross.svg", alt="")
						span.text-sm Удалить
			tr
				td
					.wrap-product-info
						.wrap-img-product
							img(src="img/product-1.png", alt="")
						.wrap-text
							span.title Бинокль PENTAX 10x36 DCF
							span.subtext Артикуль:
								em  3356528
				td
					span.text-sm Скидка:
					span.cur-price.price 0% 
				td
					span.text-sm Цена:
					span.cur-price.price 1 100,00 руб.
				td
					span.text-sm Кол-во:
					.wrap-product-counter
						.icon-counter.less
							img(src="img/icon-minus.svg", alt="")
						input(type="text", value="1", maxlength="3").cur-counter
						.icon-counter.plus
							img(src="img/icon-plus.svg", alt="")
				td
					span.text-sm Итого:	
					span.price 1 100,00 руб.
				td
					.remove-product.wrap-img
						img(src="img/icon-cross.svg", alt="")
						span.text-sm Удалить
		
			tr
				td
					.wrap-product-info
						.wrap-img-product
							img(src="img/product-2.png", alt="")
						.wrap-text
							span.title Смартфон Samsung<br> Galaxy S8 (мистический аметист) в две строки думаю
							span.subtext Артикуль:
								em  3356528
				td
					span.text-sm Скидка:
					span.cur-price.price 0% 
				td
					span.text-sm Цена:
					span.cur-price.price 1 100,00 руб.
				td
					span.text-sm Кол-во:
					.wrap-product-counter
						.icon-counter.less
							img(src="img/icon-minus.svg", alt="")
						input(type="text", value="1", maxlength="3").cur-counter
						.icon-counter.plus
							img(src="img/icon-plus.svg", alt="")
				td
					span.text-sm Итого:	
					span.price 1 100,00 руб.
				td
					.remove-product.wrap-img
						img(src="img/icon-cross.svg", alt="")
						span.text-sm Удалить


	.tab-content
		table.table-products
			tr.row-title
				td Товар
				td Скидка
				td Цена
				td Кол-во
				td Итого
				td
			tr
				td
					.wrap-product-info
						.wrap-img-product
							img(src="img/product-2.png", alt="")
						.wrap-text
							span.title Многофункциональное устройство EpsonWorkFor
							span.subtext Артикуль:
								em  3356528
				td
					span.text-sm Скидка:
					span.cur-price.price 0% 
				td
					span.text-sm Цена:	
					span.cur-price.price 11 100,00 руб.
				td
					span.text-sm Кол-во:
					.wrap-product-counter
						.icon-counter.less
							img(src="img/icon-minus.svg", alt="")
						input(type="text", value="1", maxlength="3").cur-counter
						.icon-counter.plus
							img(src="img/icon-plus.svg", alt="")

				td
					span.text-sm Итого:	
					span.price 1,00 руб.
				td
					.remove-product.wrap-img
						img(src="img/icon-cross.svg", alt="")
						span.text-sm Удалить

			tr
				td
					.wrap-product-info
						.wrap-img-product
							img(src="img/product-1.png", alt="")
						.wrap-text
							span.title Смартфон Samsung<br> Galaxy S8 (мистический амет
							span.subtext Артикуль:
								em  3356528
				td
					span.text-sm Скидка:
					span.cur-price.price 0% 
				td
					span.text-sm Цена:
					span.cur-price.price 1,00 руб.
				td
					span.text-sm Кол-во:
					.wrap-product-counter
						.icon-counter.less
							img(src="img/icon-minus.svg", alt="")
						input(type="text", value="1", maxlength="3").cur-counter
						.icon-counter.plus
							img(src="img/icon-plus.svg", alt="")
				td
					span.text-sm Итого:	
					span.price 1,00 руб.
				td
					.remove-product.wrap-img
						img(src="img/icon-cross.svg", alt="")
						span.text-sm Удалить
			tr
				td
					.wrap-product-info
						.wrap-img-product
							img(src="img/product-1.png", alt="")
						.wrap-text
							span.title Бинокль PENTAX 10x36 DCF
							span.subtext Артикуль:
								em  3356528
				td
					span.text-sm Скидка:
					span.cur-price.price 0% 
				td
					span.text-sm Цена:	
					span.cur-price.price 1,00 руб.
				td
					span.text-sm Кол-во:
					.wrap-product-counter
						.icon-counter.less
							img(src="img/icon-minus.svg", alt="")
						input(type="text", value="1", maxlength="3").cur-counter
						.icon-counter.plus
							img(src="img/icon-plus.svg", alt="")
				td
					span.text-sm Итого:	
					span.price 1,00 руб.
				td
					.remove-product.wrap-img
						img(src="img/icon-cross.svg", alt="")
						span.text-sm Удалить




