.wrap-article
	.container
		article
			.wrap-info
				.wrap-breadcrumbs.wrap-breadcrumbs
					span.page-item.cur-page 
						a(href="#") Главная
					span.delimiter /
					span.page-item Новости

				.top-info
					h1 Lorem ipsum dolor sit amet
					span.data.small-text 21.11.2018

				.wrap-img.img-hidden.img-resp
					img(src="img/img-news.jpg")

				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias exercitationem qui modi omnis, inventore tempora nam ut rerum voluptatum, laborum a rem similique numquam hic obcaecati laudantium nobis et saepe. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias exercitationem qui modi omnis, inventore tempora nam ut rerum voluptatum, laborum a rem similique numquam hic obcaecati laudantium nobis et saepe.

				p Repudiandae minima delectus provident eos perspiciatis quaerat quia, dolore perferendis ad, maxime, illum ullam? Quasi maiores suscipit nisi error, cum obcaecati nesciunt, itaque voluptatum nulla iure dolorum quos consectetur distinctio?

				p Repudiandae minima delectus provident eos perspiciatis quaerat quia, dolore perferendis ad, maxime, illum ullam? Quasi maiores suscipit nisi error, cum obcaecati nesciunt, itaque voluptatum nulla iure dolorum quos consectetur distinctio?

				p Alias ipsa fuga delectus facere harum deserunt dolorem, enim impedit id voluptas error quasi dolore amet cum iusto tenetur praesentium sapiente nihil obcaecati et quibusdam in numquam non, voluptatibus deleniti. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias exercitationem qui modi omnis, inventore tempora nam ut rerum voluptatum, laborum a rem similique numquam hic obcaecati laudantium nobis et saepe. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias exercitationem qui modi omnis, inventore tempora nam ut rerum voluptatum, laborum a rem similique numquam hic obcaecati laudantium nobis et saepe.


			.wrap-img.img-visible
				img(src="img/img-news.jpg")