section.other-news.sec
	.container
		.top-line
			.wrap-slider-nav

		.wrap-other-news-items.other-news-slider.owl-carousel
			.news-item
				.wrap-img.img-resp
					img(src="img/img-thumb-news.jpg", alt="")
				.wrap-text
					span.data.small-text 21.11.2018
					a(href="#").title «Радуга» защищал лоурайдеры на фестивале Акрофобия
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.wrap-link-next
					a(href="#") 
						<svg class="arrow-icon" width='14' height='20' viewBox='0 0 14 20' fill='none' xmlns='http://www.w3.org/2000/svg'>
							<path d='M11.3322 20L13.25 18.1748L4.59929 10L13.25 1.82519L11.3322 -2.69677e-07L0.75 10L11.3322 20Z' fill='#BEC2C3'/>
						</svg>

			.news-item
				.wrap-img.img-resp
					img(src="img/img-thumb-news.jpg", alt="")
				.wrap-text
					span.data.small-text 21.11.2018
					a(href="#").title Lorem ipsum dolor sit amet
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut labore et dolore magna aliqua.
				.wrap-link-next
					a(href="#") 
						<svg class="arrow-icon" width='14' height='20' viewBox='0 0 14 20' fill='none' xmlns='http://www.w3.org/2000/svg'>
							<path d='M11.3322 20L13.25 18.1748L4.59929 10L13.25 1.82519L11.3322 -2.69677e-07L0.75 10L11.3322 20Z' fill='#BEC2C3'/>
						</svg>

			.news-item
				.wrap-img.img-resp
					img(src="img/img-thumb-news.jpg", alt="")
				.wrap-text
					span.data.small-text 21.11.2018
					a(href="#").title «Радуга» защищал лоурайдеры на фестивале Акрофобия в 3 втроки надеюсь на это
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut labore et dolore magna aliqua.
				.wrap-link-next
					a(href="#") 
						<svg class="arrow-icon" width='14' height='20' viewBox='0 0 14 20' fill='none' xmlns='http://www.w3.org/2000/svg'>
							<path d='M11.3322 20L13.25 18.1748L4.59929 10L13.25 1.82519L11.3322 -2.69677e-07L0.75 10L11.3322 20Z' fill='#BEC2C3'/>
						</svg>

			.news-item
				.wrap-img.img-resp
					img(src="img/img-thumb-news.jpg", alt="")
				.wrap-text
					span.data.small-text 21.11.2018
					a(href="#").title Lorem ipsum dolor sit amet
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.wrap-link-next
					a(href="#") 
						<svg class="arrow-icon" width='14' height='20' viewBox='0 0 14 20' fill='none' xmlns='http://www.w3.org/2000/svg'>
							<path d='M11.3322 20L13.25 18.1748L4.59929 10L13.25 1.82519L11.3322 -2.69677e-07L0.75 10L11.3322 20Z' fill='#BEC2C3'/>
						</svg>

			.news-item
				.wrap-img.img-resp
					img(src="img/img-thumb-news.jpg", alt="")
				.wrap-text
					span.data.small-text 21.11.2018
					a(href="#").title Lorem ipsum dolor sit amet
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
				.wrap-link-next
					a(href="#") 
						<svg class="arrow-icon" width='14' height='20' viewBox='0 0 14 20' fill='none' xmlns='http://www.w3.org/2000/svg'>
							<path d='M11.3322 20L13.25 18.1748L4.59929 10L13.25 1.82519L11.3322 -2.69677e-07L0.75 10L11.3322 20Z' fill='#BEC2C3'/>
						</svg>

			.news-item
				.wrap-img.img-resp
					img(src="img/img-thumb-news.jpg", alt="")
				.wrap-text
					span.data.small-text 21.11.2018
					a(href="#").title Lorem ipsum dolor sit amet
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut labore et dolore magna aliqua. ut labore et dolore magna aliqua.
				.wrap-link-next
					a(href="#") 
						<svg class="arrow-icon" width='14' height='20' viewBox='0 0 14 20' fill='none' xmlns='http://www.w3.org/2000/svg'>
							<path d='M11.3322 20L13.25 18.1748L4.59929 10L13.25 1.82519L11.3322 -2.69677e-07L0.75 10L11.3322 20Z' fill='#BEC2C3'/>
						</svg>
