@import "../../../less/common/vars";

.compare-products{
	.top-page-line{
		.btn-clear-compare{
			max-width: 186px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: center;
			align-items: center;
			justify-content: center;
			border: 1px solid @textGrayLight;
			color: @textGrayLight;
			border-radius: 3px;
			cursor: pointer;
			line-height: 16px;

			&-sm{
				display: none;
			}
		}
	}
}

@media (max-width: 575px) {
	.compare-products{
		.top-page-line{
			padding-left: 15px;
			padding-right: 15px;
			padding-bottom: 20px;

			.btn-clear-compare{
				padding: 7px;
				max-width: 78px;
				font-size: 12px;
				display: none;
			}

			.btn-clear-compare-sm{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
			}
		}
	}
}

