.wrap-modals
	position: fixed
	top: 0
	left: 0
	bottom: 0
	right: 0
	width: 100%
	background-color: rgba(255,255,255,.7)
	display: flex
	align-items: flex-start
	overflow: auto
	z-index: -1
	opacity: 0

.wrap-modals-active
	z-index: 99
	opacity: 1

.modal
	width: 100%
	max-width: 780px
	transition: .2s all ease
	padding: 0 30px
	transition: .4s all ease
	margin: 80px auto
	position: absolute
	z-index: -1
	opacity: 0
	top: -200%

	&:before
		content: ""
		position: absolute
		left: 50%
		transform: translate(-50%, 0)
		transition: .4s all ease
		bottom: 0
		width: calc(92% - 60px)
		height: 95%
		border-radius: inherit
		box-shadow: 0px 20px 100px 10px rgba(0,160,230, .8)
		transition: inherit
		z-index: 0

	&-content
		width: 100%
		position: relative
		background-color: #fff
		border-radius: 18px
		padding: 55px 70px
		z-index: 1
		a
			transition: .4s all ease

	.btn-close:not(.btn)
		position: absolute
		top: 35px
		right: 35px
		cursor: pointer
		width: 40px
		height: 40px
		&:before, &:after
			content: ""
			position: absolute
			top: 50%
			left: 50%
			width: 2px
			height: 45px
			background-color: $blue
			opacity: .4
		&:before
			transform: translate(-50%, -50%) rotate(45deg)
		&:after
			transform: translate(-50%, -50%) rotate(-45deg)

	.title
		display: block
		color: $blue
		text-align: center
		font-size: 55px
		line-height: 60px
		margin-bottom: 40px

	.form
		.wrap-field, .wrap-select
			margin-bottom: 25px
		.field, .wrap-select .selectize-control.single .selectize-input
			width: 100%
			padding: 22px 50px
			font-size: 27px
			line-height: 38px
			&:placeholder
				color: $blue
		.wrap-fields-group
			display: flex
			flex-wrap: wrap
			margin-left: -15px
			margin-right: -15px
			.wrap-field
				width: 50%
				padding: 0 15px
				margin-bottom: 30px


		.wrap-radio-btns
			padding-left: 20px
			margin-top: 15px
			font-family: "OpenR"
			.radio
				display: flex
				flex-wrap: wrap
				align-items: center
				font-size: 22px
				line-height: 29px
				margin-bottom: 23px
				&:last-child
					margin-bottom: 0
				a
					color: $red
					text-decoration: underline
					margin: 0
					&:hover
						color: $blue
			.box
				margin-right: 18px
				border: 5px solid $blue
				border-radius: 50%
				position: relative
				width: 100%
				cursor: pointer
				max-width: 48px
				height: 48px
				align-self: flex-start
				&:before
					content: ""
					position: absolute
					top: 50%
					left: 50%
					-webkit-transform: translate(-50%, -50%)
					-moz-transform: translate(-50%, -50%)
					-ms-transform: translate(-50%, -50%)
					-o-transform: translate(-50%, -50%)
					transform: translate(-50%, -50%)
					width: 22px
					height: 22px
					background-color: rgba(254,86,0,1)
					opacity: 0
					transition: .4s all ease
					border-radius: inherit

			.text
				max-width: calc(100% - 75px)
		
			input:checked + .box
				&:before
					opacity: 1

	.btn-accent
		padding: 30px 36px
		font-size: 32px
		line-height: 32px

	.btns-row, .bottom-row, .bottom-row .modal-show
		font-family: "OpenR"
		font-size: 20px
		line-height: 25px

	.btns-row
		display: flex
		align-items: center
		justify-content: center
		font-family: "OpenR"
		.link-new-password
			color: $blue
			text-decoration: underline
			&:hover
				color: $red-light

	.bottom-row
		display: flex
		align-items: center
		justify-content: space-between
		margin-top: 40px
		.modal-show
			text-decoration: underline
			color: $red-light
			font-family: "OpenR"
			font-size: 24px
			line-height: 30px
			cursor: pointer
			&:hover
				color: $blue
		.cell
			&-title
				display: block
				margin-bottom: 7px

.modal-active
	z-index: 9
	opacity: 1
	position: relative
	top: auto

.modal-sign-in
	.btns-row
		.link-new-password
			margin-left: auto
			margin-right: auto
		.btn
			width: 100%
			max-width: 52%
			margin-left: auto

.modal-reg-user
	max-width: 1040px
	.modal-content
		padding: 90px 75px 70px
	.form
		.btn
			margin-top: 40px
			margin-left: auto
			display: block
			margin-right: auto
	.bottom-row
		padding: 0 90px 0 20px
		align-items: flex-start
		.modal-show
			font-family: OpenR
			cursor: pointer
			color: $blue
			transition: .4s all ease
			font-size: 24px
			line-height: 30px
			text-decoration: underline
			&:hover
				color: $red

.modal-birthday
	.modal-content
		padding: 70px 60px
	.form
		.wrap-fields-group
			flex-wrap: nowrap
			margin-left: -10px
			margin-right: -10px

			.wrap-select
				width: 100%
				padding: 0 10px

				.select2-selection--single
					padding: 20px 30px
					margin-bottom: 0
					font-size: 25px
					line-height: 32px

				.select2-container--default .select2-selection--single .select2-selection__rendered
					padding-right: 20px !important


			.wrap-select-days
				max-width: 28%
			.wrap-select-month
				max-width: 36%
			.wrap-select-year
				max-width: 36%

		.subtext
			font-size: 24px
			line-height: 38px
			margin: 10px 0 35px
			text-align: center
			font-family: "OpenR"

		.btns-row
			align-items: stretch
			.btn
				width: 100%
				height: 100%
				max-width: 270px
				margin: 0 20px

// .modal-input-code, .modal-success, .modal-error
// 	align-self: center
// 	margin: auto

.modal-input-code
	.form
		.btn
			margin-top: 15px
			margin-left: auto
			margin-right: auto
			display: block

.modal-success, .modal-error
	text-align: center
	.subtext
		font-family: "OpenR"
		font-size: 24px
		line-height: 34px
		margin: 10px 0 50px
	.btn
		width: 100%
		max-width: 245px

.modal-crop
	.modal-content
		padding: 45px 80px 60px
	.btn
		display: block
		margin-right: auto
		margin-left: auto
	.wrap-crop-img
		margin-bottom: 60px
		img
			display: block
			max-width: 100%

	.cropper-modal
		background-color: #fff
		opacity: .8

	.cropper-dashed.dashed-h, .cropper-dashed.dashed-v, .cropper-center
		display: none

	.data-img
		display: none
	
	//Control buttons START
	.cropper-point
		background-color: transparent

	.cropper-move, .cropper-point.point-se
		width: 75px
		height: 75px
		background-size: cover
		background-repeat: no-repeat
		background-color: transparent
		background-position: center
		opacity: 1

	.cropper-move
		top: 0
		left: 0
		background-image: url("../img/icon-resize-1.png")
		transform: translate(-50%, -50%)
		z-index: 9

	.cropper-point.point-se
		background-image: url("../img/icon-resize-2.png")
		transform: translate(50%, 50%)
		bottom: 0
		border-radius: 50%
		right: 0
		&:before
			display: none
	//Control buttons END

	//Border START
	.cropper-view-box
		outline: none

	.cropper-line.line-n, .cropper-line.line-s, .cropper-line.line-w, .cropper-point.point-e
		background-color: transparent
		opacity: 1

	.cropper-line.line-n, .cropper-line.line-s
		height: 6px
		background-image: linear-gradient(90deg, transparent, transparent 40%, $blue 40%, $blue 100%)
		background-size: 40px 10px, 100% 15px
		left: 0
		right: auto
	.cropper-line.line-s
		top: 0
		bottom: auto
	.cropper-line.line-n
		bottom: 0
		top: auto

	.cropper-line.line-w, .cropper-view-box:after
		width: 6px
		background-image: linear-gradient(180deg, transparent, transparent 40%, $blue 40%, $blue 100%)
		background-size: 40px 40px, 100% 15px
		top: 0
		bottom: auto
	.cropper-view-box:after
		content: ""
		position: absolute
		height: 100%
		right: 0
		left: auto

	.cropper-line.line-w
		left: 0
		right: auto

	


	.rcrop-wrapper .rcrop-croparea
		.rcrop-handler-wrapper, .rcrop-croparea-inner
			&:before, &:after
				content: ""
				position: absolute

		.rcrop-handler-wrapper
			&:before, &:after
				height: 6px
				width: 100%
				left: 0
				background-image: linear-gradient(90deg, transparent, transparent 40%, $blue 40%, $blue 100%)
				background-size: 40px 10px, 100% 15px

			&:before
				top: 0px

			&:after
				bottom: 0px

		.rcrop-croparea-inner
			&:before, &:after
				width: 6px
				height: 100%
				top: 0


			&:before
				left: 0
			&:after
				right: 0

	.rcrop-wrapper .clayfy-touch-device.clayfy-handler
		background: url("../img/icon-resize-2.png") no-repeat center
		background-size: cover
		transform: translate(50%, 50%)
		bottom: 0
		right: 0
		border: none
	//Border END

@media (max-width: 1290px)
	.modal-sign-in
		.modal-content
			padding-left: 70px
			padding-right: 70px

	.modal-reg-user
		.form
			.wrap-fields-group
				display: block
				.wrap-field
					width: 100%
			.wrap-radio-btns
				padding: 0
				br
					display: none
			.bottom-row
				padding: 0
				margin-top: 50px

	.modal-birthday
		.title
			font-size: 36px
			line-height: 45px
		.form
			.wrap-fields-group
				margin: 0 -8px
				.wrap-select
					margin-bottom: 20px
					padding: 0 8px
					.select2-selection--single
						font-size: 23px
						padding: 16px 30px
			.subtext
				margin: 10px 0 51px
				br
					display: none
			.btns-row
				.btn
					padding: 30px 40px
				.btn-blue-border
					pt2

	.modal-input-code
		.form
			.btn
					padding: 25px 50px

	.modal-success, .modal-error
		max-width: 680px
		.modal-content
			padding: 60px 66px

	.modal-crop
		.modal-content
			padding: 40px 50px 50px
		.title
			font-size: 50px
			line-height: 60px
		.wrap-crop-img
			margin-bottom: 40px
		.form
			.btn
				padding: 25px 45px 
				font-size: 28px
				line-height: 32px

@media (max-width: 768px)
	.modal
		.btn-close:not(.btn)
			top: 20px
			right: 20px

	.modal:not(.modal-success):not(.modal-error):not(.modal-crop)
		margin: 50px auto
		.modal-content
			padding: 50px
		.title
			font-size: 40px
			line-height: 45px
			margin-bottom: 40px

		.form
			.wrap-field, .wrap-select
				margin-bottom: 20px
			.field, .wrap-select .selectize-control.single .selectize-input
				padding: 19px 40px
				font-size: 26px
				line-height: 35px

		.bottom-row
			margin-top: 50px

		.btns-row, .bottom-row
			font-size: 16px
			line-height: 19px

	.modal-reg-user
		.form
			.wrap-radio-btns
				.text
					font-size: 20px
					line-height: 26px
			.btn
				max-width: none
				margin-top: 25px
				font-size: 27px
				line-height: 30px
				padding: 24px 40px
			.bottom-row
				padding: 0
				margin-top: 50px

	.modal-birthday
		.title
			font-size: 36px
			line-height: 45px
		.form
			.wrap-fields-group
				display: block
				.wrap-select
					max-width: 100%
					margin-bottom: 15px
			.subtext
				font-size: 20px
				line-height: 29px
			.btns-row
				.btn
					padding: 22px 23px
					&:first-child
						order: 2
					&:last-child
						order: 1

	.modal-input-code
		max-width: 650px
		.modal-content
			.form
				.wrap-field
					margin-bottom: 30px
				.btn
					max-width: 100%
					font-size: 26px
					padding: 20px 35px

	.modal-success, .modal-error
		.modal-content
			padding-left: 60px
			padding-right: 60px
		.title
			font-size: 55px
			line-height: 58px
			margin-bottom: 32px
		.subtext
			font-family: OpenR
			font-size: 20px
			line-height: 32px
			margin: 10px 0 40px
		.btn
			padding: 23px 35px
			font-size: 28px
			line-height: 33px

	.modal-crop
		margin: 50px auto

		.cropper-move, .cropper-point.point-se
			width: 40px
			height: 40px

		.cropper-line.line-n, .cropper-line.line-s
			height: 4px

		.cropper-line.line-w, .cropper-view-box:after
			width: 4px

@media (max-width: 576px)
	.modal
		.btn-close:not(.btn)
			top: 15px
			right: 15px
			height: 25px
			width: 25px
			&:before, &:after
				height: 25px

	.modal:not(.modal-success):not(.modal-error):not(.modal-crop)
		padding: 0 15px
		margin: 30px auto
		max-width: 400px
		.modal-content
			padding: 30px 20px

		.title
			font-size: 27px
			line-height: 33px
			margin-bottom: 20px

		.form
			.wrap-field, .wrap-select
				margin-bottom: 15px
			.field, .wrap-select .selectize-control.single .selectize-input
				padding: 13px 25px
				font-size: 20px
				line-height: 27px
				border-width: 3px
			.btn
				font-size: 18px
				line-height: 24px
				padding: 14px 18px
				max-width: 100%

		.bottom-row
			margin-top: 40px
			.cell
				> *
					font-size: 11px
					line-height: 14px
			.row-social
				a
					height: 18px
					margin-right: 15px
					*
						width: auto
						height: 100%
						width: auto
						display: block

		.btns-row
			flex-wrap: wrap
			text-align: center
			.btn
				order: 1
				margin-bottom: 25px
			.link-new-password
				order: 2

		.btns-row, .bottom-row
			font-size: 12px
			line-height: 15px

	.modal-reg-user
		.form
			.wrap-fields-group
				.wrap-field
					margin-bottom: 15px
			.wrap-radio-btns
				.text
					font-size: 13px
					line-height: 18px
				.box
					margin-right: 10px
					border-width: 3px
					border-radius: 50%
					max-width: 35px
					height: 35px
					&:before
						width: 18px
						height: 18px
				.text
					max-width: calc(100% - 52px)
			.btn
				margin-top: 30px
				width: 100%
				font-size: 17px
			.bottom-row
				margin-top: 30px

	.modal-birthday
		.title
			font-size: 22px
			line-height: 31px
			margin-bottom: 31px

		.form
			.wrap-fields-group
				padding: 0
				.wrap-select
					margin-bottom: 15px
					.select2-selection--single
						padding: 13px 25px
						font-size: 20px
						line-height: 27px
						&:after
							right: 20px
			.btns-row
				button.btn.btn-accent
					padding: 16px 18px
					margin: 0
					width: 100%
					&:last-child
						margin-bottom: 0
				button.btn.btn-blue-border.btn-close
					margin: 0 0 15px
					&:before
						border-width: 4px

			.subtext
				font-size: 14px
				line-height: 23px
				margin: 24px 0px

	.modal-input-code
		.modal-content
			.form
				.wrap-field
					margin-bottom: 20px
				.btn.btn-accent
					padding: 14px 30px

	.modal-success, .modal-error
		padding: 0 15px
		max-width: 400px
		.modal-content
			padding: 40px 25px
		.title
			font-size: 42px
			line-height: 50px
			margin-bottom: 10px
		.subtext
			font-size: 14px
			line-height: 22px
			margin: 0px 0 20px
		.btn
			padding: 15px 30px
			font-size: 19px
			line-height: 28px

	.modal-crop
		padding: 0 15px
		margin: 30px auto
		max-width: 400px
		.wrap-crop-img
			margin-bottom: 20px
		.modal-content
			padding: 20px 20px 20px
		.title
			font-size: 20px
			line-height: 26px
			margin-bottom: 15px
		.form
			.btn
				padding: 12px 24px
				font-size: 13px
				line-height: 17px
				


