section.banner-nav.page-banner.img-bg(style="background-image: url('img/banner-portfolio-sites-bg.jpg')")
	.container

		.page-banner-content
			.wrap-breadcrumbs.breadcrumbs-yellow
				a(href="index.html") Главная
				span.delimiter /
				a(href="") Портфолио
				span.delimiter /
				span.cur-page Разработка сайтов

			.page-banner-text
				span.subtitle Портфолио
				span.banner-title Разработка сайта

			aside.wrap-page-banner-nav.nav-sidebar
				nav.nav

					ul
						li.cur-page
							a(href="about-us.html").link-dark Разработка сайтов

						li
							a(href="our-team.html").link-dark Виртуальные туры

						li
							a(href="clients.html").link-dark 3D-фото

						li
							a(href="testimonials.html").link-dark SEO оптимизация

						li
							a(href="posts-articles.html").link-dark Контекстная реклама










			