.aside
	padding: 10px 0 0
	margin-right: 8px
	transition: .6s all ease

	.btn-view-all
		margin-top: 12px

	.wrap-checkbox, .wrap-radio
		.box
			align-self: flex-start
			margin-top: 2px
		.text
			line-height: 19px
			width: auto

	.filter-group
		padding: 25px 20px 15px 30px
		border-bottom: 1px solid #F0F0F0

		&:last-child
			border-bottom: none

		&_head
			position: relative
			padding-bottom: 10px
			cursor: pointer
			> span
				font-weight: 900
				font-size: 0.75rem
				line-height: 14px
				letter-spacing: 0.08em
				text-transform: uppercase

			.btn-dropdown
				cursor: pointer

			.icon-dropdown
				position: absolute
				top: 44%
				right: -10px
				transform: translate(0, -50%) rotate(180deg)
				background: url("../img/icon-down.svg") no-repeat center
				background-size: 25%
				height: 40px
				width: 40px
				transition: .4s all ease
				cursor: pointer
				&::before, &::after
					display: none

			.icon-dropdown-active
				transform: translate(0, -50%) rotate(0deg)

		ul
			display: none
		
		&_parameters:not(.list-sizes):not(.list-colors)
			li
				margin-bottom: 11px
				&:last-child
					margin-bottom: 0
			a
				display: inline-block

		&_parameters
			padding-top: 10px
			padding-right: 20px
			.wrap-range
				.wrap-fields
					display: flex
					justify-content: space-between
					align-items: center
					*
						color: $text-gray
					.wrap-field
						width: 100%
						max-width: 45%
					input
						padding: 10px
						text-align: center
						font-size: 0.875rem

		.list-category
			display: block
			.active
				font-weight: bold
				&:hover
					color: $text

		.list-brands
			.wrap-checkbox
				display: -webkit-inline-flex
				display: -moz-inline-flex
				display: -ms-inline-flex
				display: -o-inline-flex
				display: inline-flex
				position: relative
				.btn-dropdown
					left: 100%
					right: auto
					background-size: 25%
					height: 33px
					width: 33px
					top: 14px
					cursor: pointer
					position: absolute
					transform: translate(0, -50%) rotate(0deg)
					background: url("../img/icon-down.svg") no-repeat center
					background-size: 30%
					transition: .4s all ease

				.btn-dropdown-active
					transform: translate(0, -50%) rotate(180deg)

			li
				ul
					padding-left: 38px
					padding-top: 10px
					margin-bottom: 20px
					li
						margin-bottom: 10px
					a
						color: $text-gray
						font-size: 12px
						line-height: 14px
						font-weight: bold
						position: relative
						&::after
							content: ""
							position: absolute
							top: 53%
							left: calc(100% + 8px)
							transform: translate(0, -50%)
							background: url("../img/icon-check.svg") no-repeat center
							background-size: contain
							height: 10px
							width: 13px
							transition: .4s all ease
							opacity: 0
							z-index: -1
							cursor: default
					.active
						&::after
							opacity: 1
							z-index: 1

		.list-colors
			margin: 0 -10px
			li
				display: inline-block
				padding: 10px 10px 10px
				margin-bottom: 0
			a
				display: block
			.white-box
				border: 1px solid #DEDEDE
			.color-box
				border-radius: 50%
				position: relative
				width: 16px
				height: 16px
				display: block
				&::after
					content: ""
					position: absolute
					top: 50%
					left: 50%
					transform: translate(-50%, -50%)
					height: 23px
					width: 23px
					transition: .4s all ease
					border-radius: inherit
					border: 2px solid #DEDEDE
					opacity: 0
				&:hover
					&::after
						opacity: 1
			.active
				.color-box
					&::after
						border-color: $hover-btns-links
						opacity: 1

	.wrap-filter-btn, .aside-title, .btn-hide-filter
		display: none

	.aside-title
		margin: 35px 0 10px
		padding: 0 20px

	.wrap-filter-btn
		background-color: $bg-gray
		padding: 10px 0
		.btn
			max-width: 240px
			margin: 0 auto


//
.aside
	.row, .container
		padding: 0 !important
		margin-left: 0 !important
		margin-right: 0 !important
	.bx-filter
		.bx-filter-section
			background-color: transparent !important
			padding: 0
		.bx-filter-title
			font-weight: 900
			font-size: .75rem
			line-height: 14px
			letter-spacing: .08em
			text-transform: uppercase
			font-family: $default-font
			padding: 25px 15px 18px 25px !important
	.bx-filter-parameters-box
		padding: 25px 15px 18px 25px
		border-bottom: 1px solid #f0f0f0
	.bx-filter-parameters-box-title

		span
			display: flex
			align-items: center
			justify-content: space-between
			font-weight: 900
			font-size: .75rem
			line-height: 14px
			color: #000 !important
			letter-spacing: .08em
			text-transform: uppercase
			font-family: $default-font
			border-bottom: none !important
		.prop_angle
			font-size: 16px
			color: #B0B0B0

	.bx-filter-parameters-box-container-block
		width: 40%
		padding: 0 !important
		.bx-ft-sub
			display: none !important
		.bx-filter-input-container

			input
				border-radius: 0 !important
				padding: 10px
				text-align: center
				font-size: .875rem
				color: #838383
				border: 1px solid #bdbdbd
	.bx-ui-slider-pricebar-v
		background-color: #b1b1b1 !important
	.bx-ui-slider-pricebar-vn
		background-color: #f0f0f0 !important

	.bx-ui-slider-track-container
		max-width: none !important
		width: 100% !important
		padding-right: 35px
		padding-left: 5px

	.bx-ui-slider-handle
		top: 0 !important
		transform: translate(50%, -40%)
		z-index: 99999 !important
		&.right
			transform: translate(-50%, -40%)

	.bx-ui-slider-track
		height: 4px !important

	.bx-ui-slider-part
		display: none !important

	.bx-ui-slider-range
		z-index: 99999 !important

	.bx-ui-slider-handle.left,
	.bx-ui-slider-handle.right
		background: none !important
		&::before
			content: ""
			position: absolute
			top: 50%
			z-index: 99999 !important
			left: 50%
			transform: translate(-50%, -50%)
			background-color: #000
			border-radius: 50%
			width: 17px
			height: 17px



	.bx-left
		margin-right: 15px !important

	.bx-ui-slider-track-container
		margin: 0


	.bx-filter-block
		padding-top: 10px

	.bx-filter-button-box
		padding: 20px !important
		.bx-filter-parameters-box-container
			padding-bottom: 0 !important
			.btn
				width: 100% !important
				display: block !important
				
				border-radius: 0 !important
				max-width: none !important
				transition: .4s all ease
				&:hover
					opacity: .7
			.btn-themes
				background-color: #000
				color: #fff
				border: 2px solid #000
				margin-bottom: 10px
				&:hover
					background-color: #000
					border-color: #000
			.btn-link
				text-decoration: none !important
				color: #000 !important


		  
//



div.aside-active
	visibility: visible
	
	&::before
		opacity: 1

	.aside
		transform: translate(0)




+media-breakpoint-down(lg)
	.aside
		margin-right: 0

		.wrap-checkbox, .wrap-radio
			.box
				margin-top: 0
			.text
				line-height: 17px


		.filter-group
			padding: 20px 15px 15px 25px

			&_head
				padding-bottom: 7px
				line-height: 14px

			&_parameters
				padding-right: 10px

			&_parameters:not(.list-sizes):not(.list-colors)
				li
					margin-bottom: 14px
					line-height: 18px
					max-width: 93%

			.list-brands
				.wrap-checkbox
					.btn-dropdown
						top: 12px

				li
					ul
						a
							line-height: 16px

			.list-colors
				li
					padding: 7px




+media-breakpoint-down(md)
	.wrap-aside
		position: fixed
		top: 0
		left: 0
		width: 100%
		visibility: hidden
		height: 100%
		z-index: 9

		&::before
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background-color: rgba(0,0,0, .6)
			opacity: 0
			transition: .2s all ease

		.aside
			max-width: 270px
			width: 100%
			position: relative
			max-height: 100vh
			height: 100%
			overflow-y: auto
			transform: translate(-110%, 0)
			padding: 0

			.filter-group
				&:first-child
					display: none

				&_parameters
					padding-right: 30px

				.list-brands
					.wrap-checkbox
						.btn-dropdown
							top: 13px

			.wrap-filter-btn, .aside-title, .btn-hide-filter
				display: block



+media-breakpoint-down(sm)



+media-breakpoint-down(xs)
	.wrap-aside
		.aside
			max-width: 100%

			.aside-title
				margin: 50px 0 15px

			.filter-group
				padding: 20px 15px 15px 15px

				&_parameters
					padding-right: 80px

				&_parameters:not(.list-sizes):not(.list-colors)


				.list-brands 
					li 
						ul
							li
								margin-bottom: 10px
								line-height: 17px
