.line-numbers

	.number-item
		span.num 8
		span.text Лет успешной работы

	.number-item
		span.num 600+
		span.text Реализованных проектов
		
	.number-item
		span.num 17
		span.text Проектов на поддержке