.sec-our-plus

	.wrap-img.img-resp
		img.lazyload.img-desktop(data-src="img/img-sec-our-plus-desktop.jpg")
		img.lazyload.img-mobile(data-src="img/img-sec-our-plus-mobile.jpg")

	.sec-our-plus-content.wrap-list-point
		span.sec-title Наши преимущества
		ul
			li Наши преимущества
			li Наши проекты успешны в среде конкурентов
			li Наши партнеры — все ключевые ИТ-компании России
			li Мы обеспечиваем проекты технической поддержкой на весь срок службы
			li Наши клиенты рекомендуют нас своим друзьям и коллегам
			li Мы всегда делаем больше, чем обещали


