section.post-page-banner
	.bg-layer(style="background-image: url('img/big-racing-banner.png')")

	.wrap-content
		.wrap-page-title
			span.h2.color-white.title БОЛЬШИЕ ГОНКИ
		
		span.h4.color-white.title-decor.subtitle Соревнования команд на необычных надувных<br> аттракционах и активностях

		.wrap-btn
			span.btn.btn-red Оставить заявку

