section.banner-plywood.banner
	picture
		source(media="(min-width: 576px)" srcset="img/bg-plywood-cutting.png")
		source(media="(max-width: 576px)" srcset="img/plywood-bg-mobile.png")
		img.banner__bg(src="img/bg-plywood-cutting.png" alt="" aria-hidden="true")

	.wrapper
		.banner__inner

			+breadcrumbs([
				"Главная",
				"Материалы",
				"Фанера ФК"
			])

			.banner__wrap-text
				h1.banner__title.title-1 Фанера ФК
