@import "../../../less/common/vars";

.page-checkout{

	.aside-info{
		max-width: calc(100% - 910px);

		&-content{
			border: 1px solid #EAEAEA;

			> div {
			 	padding: 25px 20px;
			}
		}

		.title{
			display: block;
			padding: 21px 20px;
			font-family: "RobMed";
			font-size: 15px;
			line-height: 19px;
			border-bottom: 1px solid #EAEAEA;
		}

		.wrap-items-prices{
			background-color: #fff;
			padding-top: 20px;
		}

		.price-item{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: flex-end;
			align-items: flex-end;
			justify-content: space-between;
			margin-bottom: 13px;

			&:last-child{
				margin-bottom: 0;
			}

			.label{
				font-size: 15px;
				line-height: 19px;
				color: @textGrayLight;
			}

			.wrap-price{
				text-align: right;
			}

			.cur-price{
				display: block;
				font-size: 16px;
				line-height: 21px;
			}

			.old-price{
				display: block;
				font-size: 13px;
				color: @textGrayLight;
				text-decoration: line-through;
				line-height: 13px;
				margin-bottom: 3px;
			}
		}

		.save-prise{
			font-size: 15px;
			line-height: 19px;
			color: @pink;
			border: 1px solid #D9DCDE;
			border-radius: 3px;
			padding: 6px 10px;
			-ms-align-items: center;
			align-items: center;
			margin-top: 18px;
		}

		.wrap-result{
			background-color: @bgF7;

			> * {
				display: block;
			}

			.result-price{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				justify-content: space-between;
				-ms-align-items: flex-end;
				align-items: flex-end;
				position: relative;

				&::before{
					content: "";
					position: absolute;
					top: 63%;
					left: 0;
					height: 2px;
					width: 100%;
					border-bottom: 1px dashed @textGrayLight;
				}

				span {
					font-size: 15px;
					line-height: 19px;
					font-family: "RobMed";
					color: @textGray;
					background-color: @bgF7;
					position: relative;
					padding-right: 3px;
				}

				.price{
					color: @blue;
					padding-right: 0;
					padding-left: 3px;
				}
			}

			.btn{
				max-width: 100%;
				margin-top: 20px;
			}
		}

	}

}


@media (min-width: 1260px) {

}

@media (max-width: 1259px) {
	.page-checkout{
		.aside-info{
			max-width: calc(100% - 700px);

			&-content{
				> div {
					padding: 20px 15px;
				}

				.save-prise{
					font-size: 14px;
					line-height: 17px;
				}

				.price-item{
					margin-bottom: 7px;

					.label{
						font-size: 14px;
					}

					.cur-price{
						font-size: 15px;
					}

					.old-price{
						font-size: 13px;
					}
				}
			}

			.title{
				padding: 15px;
			}
		}
	}
}

@media (max-width: 991px) {
	.page-checkout{
		.aside-info{
			max-width: 100%;
			order: 2;
			margin-bottom: 25px;

			&-content{
				.price-item:not(.save-prise){
					z-index: 1;
					position: relative;

					&::after{
						content: "";
						position: absolute;
						top: 63%;
						left: 0;
						height: 2px;
						width: 100%;
						border-bottom: 1px dashed #999;
						z-index: -1;
						top: auto;
						bottom: 4px;
					}
					
					span{
						background-color: #fff;
						position: relative;
					}

					.label{
						padding-right: 3px;
					}

					.wrap-price{
						padding-left: 3px;
					}
				}
			}

			.wrap-result{
				border-top: 1px solid #eaeaea;
			}

		}
	}
}

@media (max-width: 767px) {
	.page-checkout{
		.aside-info{
				
			&-content{
				.price-item:not(.save-prise):after{
					display: none;
				}
			}

			.wrap-result{
				.btn{
					display: none;
				}

				.result-price:before{
					display: none;
				}
			}
		}
	}
}

@media (max-width: 575px) {
	
}



