.wrap-basket-bar
	> div
		margin-bottom: 20px
		padding: 23px 28px 40px
		
		&:last-child
			margin-bottom: 0
		.btn
			max-width: none

	.wrap-promo-field
		position: relative
		.form-title
			display: flex
			align-items: center
			position: relative
			
			.icon-dropdown

			.wrap-dropdown-label
				left: 50%
				width: calc(100% + 20px)
				transform: translate(-50%, 0)

			.dropdown-label
				line-height: 18px
				padding: 20px 25px 25px


		.wrap-field
			margin: 23px 0 20px
			input
				padding: 16px 20px



+media-breakpoint-down(lg)
	.wrap-basket-bar
		.wrap-promo-field
			.form-title
				.dropdown-label
					padding: 15px 20px
					br
						display: none
					

			.wrap-field
				input
					padding: 12px 17px

		>	div
			padding: 20px 20px 30px
			.btn
				line-height: 12px
				margin-top: 15px


+media-breakpoint-down(md)
	.wrap-basket-bar
		margin-top: 20px
		display: flex
		align-items: stretch
		justify-content: space-between

		> div
			width: 100%
			max-width: calc(50% - 10px)
			margin-bottom: 0


+media-breakpoint-down(sm)

+media-breakpoint-down(xs)
	.wrap-basket-bar
		display: block
		padding: 0 15px

		> div
			max-width: 100%
			margin-bottom: 20px
			padding: 23px 28px 40px
			&:first-child
				margin-right: 0
			&:last-child
				margin-bottom: 0

			.btn
				line-height: 17px