section.banner-nav.page-banner.img-bg(style="background-image: url('img/banner-portfolio-sites-bg.jpg')")
	.container

		.page-banner-content
			.wrap-breadcrumbs.breadcrumbs-yellow
				a(href="index.html") Главная
				span.delimiter /
				a(href="#") Портфолио
				span.delimiter /
				span.cur-page Виртуальные туры

			.page-banner-text
				span.subtitle Портфолио
				span.banner-title Виртуальные туры
				p.subtext Виртуальный тур — это несколько, объединённых между собой 3D панорам,<br>  позволяющих создать эффект полного присутствия. Зритель, не выходя из дома,<br>  может оценить ваш интерьер. Это отличный способ привлечения новых клиентов. 

			aside.wrap-page-banner-nav.nav-sidebar
				nav.nav

					ul
						li.cur-page
							a(href="about-us.html").link-dark Разработка сайтов

						li
							a(href="our-team.html").link-dark Виртуальные туры

						li
							a(href="clients.html").link-dark 3D-фото

						li
							a(href="testimonials.html").link-dark SEO оптимизация

						li
							a(href="posts-articles.html").link-dark Контекстная реклама










			