section.sec-price-visual.sec-page
	.container
		.sec-price-visual-content
			.wrap-title
				span.title Стоймость
			p Вы платите только за съемку панорам.<br>Выезд фотографа, обработка, размещение и использование — бесплатно!
			p В большинстве случаев на 10м² требуется одна панорама, съемка длится около часа, а обработка занимает от 3 до 10 дней.<br>Если вам нужно снять больше 30 панорам, позвоните нам, мы расскажем вам как можно уменьшить стоимость съемки.

			.line-numbers-visual
				.number-item
					span.title Одна панорама
					span.num 2 500
						span.small-text руб

				.number-item
					span.title От 2 до 5 панорам
					span.num 1 500
						span.small-text руб
					span.text за одну панораму
					
				.number-item
					span.title Более 5 панорам
					span.num 1 000
						span.small-text руб
					span.text за одну панораму