section.banner
	.banner-slider

		.container
			.banner-slider_item.banner-slider_item_bottom
				.wrap-text
					span.subtitle.h-6 скидка до 70%
					span.title.text-fw-medium Межсезонная<br> распродажа
					span.subtext Adidas, Reebok, Under Urmour, Nike
					a(href="#").btn.btn-dark Начать покупки

				.wrap-img.align-items-end.justify-content-end
					img(src="img/banner-img.png", alt="")

		.container
			.banner-slider_item.banner-slider_item_bottom
				.wrap-text
					span.subtitle.h-6 скидка до 90%
					span.title.text-fw-medium Межсезонная<br> распродажа
					span.subtext Adidas, Reebok Adidas, Reebok, Under Urmour, Nike
					a(href="#").btn.btn-border Начать покупки

				.wrap-img.align-items-end.justify-content-end
					img(src="img/banner-img.png", alt="")

		.container
			.banner-slider_item.banner-slider_item_bottom
				.wrap-text
					span.subtitle.h-6 скидка до 20%
					span.title.text-fw-medium Межсезонная<br> распродажа
					span.subtext Adidas, Urmour, Nike Adidas, Reebok, Under Urmour, Nike
					a(href="#").btn.btn-dark Начать покупки

				.wrap-img.align-items-end.justify-content-end
					img(src="img/banner-img.png", alt="")

	.banner-slider-controls
		.container
			.row.no-gutters
				.wrap-slider-dots
				.wrap-slider-arrows
				
