.quality__main-content
	table
		tr
			td ISO 9001: <em>2008</em>
			td ASDMA
		tr
			td ISO 14001: <em>2004</em>
			td Indoor Air Quality
		tr
			td ISO 18001: <em>2007</em>
			td Recycled Content
		tr
			td AWI
			td International Code Council
		tr
			td USGBC
			td Door and Hardware institute
		tr
			td ANSI
			td FSC Chain-of-Custody timber door and Cabinetry manufacturer 


	ul
		li 
			em Warrington Laboratory (UK): 
			| Fire Resistance of 30mins, 60mins, 90mins & 120mins 

		li
			em Chiltern BM Trada (UK): 
			| Fire Resistance of 30mins, 60mins, 90mins & 120mins

		li
			em Intertek: 
			| Fire Resistance of 30mins, 60mins, 90mins & 120mins

		li
			em IFC: 
			| Fire Resistance of 30mins, 60mins, 90mins & 120mins

		li
			em Underwriters Laboratory: 
			| Fire Resistance of 20mins, 45mins, 90mins & 120mins 

		li CE Marking

		li
			em STC Rating: 
			| 35dB to 45dB Comply BS 2750 & ISO 140 & ASTM E90 

		li Security door’s Durability Tests In compliance to BSDD 171 of 1987
