.wrap-groups-fields.wrap-form
	.error-msg
		span Пользователь с таким логином уже существует

	form.form.form-about-field
		span.label Логин (мин. 3 символа) *
		.wrap-field
			input.field.field-login(type="text").error-invalid
			span.about-field Является логином для входа на сайт.
			span.text-error-empty Поле обязательно для заполнения
			span.text-error-invalid Минимальная длина - 3 символа

		span.label Фамилия Имя Отчество *
		.wrap-field
			input.field.field-name(type="text")
			span.about-field Ваше имя необходимо для того, чтобы мы знали<br>с кем имеем дело
			span.text-error-empty Поле обязательно для заполнения

		span.label E-mail *
		.wrap-field
			input.field.field-email(type="text")
			span.about-field На него будут приходить уведомления о статусах заказа
			span.text-error-empty Поле обязательно для заполнения
			span.text-error-invalid Неверный формат

		span.label Номер телефона *
		.wrap-field
			input.field.field-tel(type="tel", placeholder="+375 (__) ___-__-__")
			span.about-field Контактный телефон нужен для уточнения деталей заказа
			span.text-error-empty Поле обязательно для заполнения
			span.text-error-invalid Неверный формат

		span.label Пароль *
		.wrap-field
			input.field.field-password(type="password").error-invalid
			span.about-field Длина пароля не менее 6 символов
			span.text-error-empty Поле обязательно для заполнения
			span.text-error-invalid Минимальная длина - 6 символа

		span.label Подтверждение пароля *
		.wrap-field
			input.field.field-password-second(type="password").error-invalid
			span.text-error-empty Поле обязательно для заполнения
			span.text-error-invalid Пароли не совпадают

		span.label Введите код *
		.wrap-field.wrap-field-capcha
			.capcha-img
				img(src="img/capcha.png", alt="")
			.btn-refresh
				img(src="img/capcha-refresh.svg", alt="")
			input.field(type="text").error-invalid
			span.text-error-empty Поле обязательно для заполнения
			span.text-error-invalid Неверно введён код

		.wrap-check
			label(for="check-agree-5")
				input(id="check-agree-5", type="checkbox")
				.box
				span.text-error-empty Согласитесь с условиями
			span.text Я согласен на
				span.accent-text  обработку персональных данных

		button(type="submit").form-btn.btn-blue
			span.text Зарегистрироваться

.other-info
	p После регистрации на сайте вам будет доступно отслеживание состояния заказов, личный кабинет<br>и другие новые возможности.
	p Если вы регистрировались ранее, 
		span.btn.modal-show(data-modal-key="sing-in") войдите на сайт 
		| , используя свой логин и пароль.

.wrap-mobile-text
	p Если вы регистрировались ранее, 
		span.btn.modal-show(data-modal-key="sing-in") войдите на сайт 
		| , используя свой логин и пароль.