.charecteristics.sec_bg.lazy(role="region" data-bg="url(img/bg-center-blue.png)")

	.charecteristics__wrap-titles.sec__wrap-titles
		span.sec__title.title-1 <em>Характеристики</em> об орудовании

	.wrapper
		.charecteristics__inner

			.charecteristics__wrap-product
				img.charecteristics__product.lazy(src="" data-src="img/product-1.png" alt="")

				ul.charecteristics__list
					li.charecteristics__item
						img.charecteristics__item-img.lazy(src="" data-src="img/line-1.svg" aria-hidden="true")
						span.charecteristics__item-text <em>Режет все</em>, кроме металла

					li.charecteristics__item
						img.charecteristics__item-img.lazy(src="" data-src="img/line-2.svg" aria-hidden="true")
						span.charecteristics__item-text <em>Рабочий стол:</em> подъемный

					li.charecteristics__item
						img.charecteristics__item-img.lazy(src="" data-src="img/line-1.svg" aria-hidden="true")
						span.charecteristics__item-text <em>Рабочее поле лазера:</em> 1380х980мм

					li.charecteristics__item
						img.charecteristics__item-img.lazy(src="" data-src="img/line-2.svg" aria-hidden="true")
						span.charecteristics__item-text <em>Сквозная закладка материала:</em><br> 2000х1380мм

					li.charecteristics__item
						img.charecteristics__item-img.lazy(src="" data-src="img/line-3.svg" aria-hidden="true")
						span.charecteristics__item-text <em>Лазерная лампа:</em> повышенной мощности
