@import "../../less/common/vars";

.basket{
	padding-bottom: 60px;
	&-content{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
	}
}

@media (min-width: 1260px) {

}

@media (max-width: 1259px) {

}

@media (max-width: 991px) {
	.basket{
		&-content{
			display: block;
		}
	}
}

@media (max-width: 767px) {

}

@media (max-width: 575px) {

}

