.basket.page-content
	.container

		include top-page-line/top-page-line.pug
		
		.basket-content
			.basket-nav
				include basket-nav/basket-nav.pug

			include basket-table/basket-table.pug
			include aside-result/aside-result.pug