//Our plus BEGIN
.our-plus.sec(role="region")

	.our-plus__wrap-titles.sec__wrap-titles
		span.sec__title.title-1 <em>Премущества</em> работы с нами

	.wrapper
		ul.our-plus__inner
			li.our-plus__item
				span.our-plus__item-wrap-icon
					span(data-src="img/plus-1.svg" alt="").our-plus__item-icon.replace-svg
				p.our-plus__item-text Расчет стоимости</br> <em>в течение часа</em>

			li.our-plus__item
				span.our-plus__item-wrap-icon
					span(data-src="img/plus-2.svg" alt="").our-plus__item-icon.replace-svg
				p.our-plus__item-text Гибкая система<br> <em>скидок</em>

			li.our-plus__item
				span.our-plus__item-wrap-icon
					span(data-src="img/plus-3.svg" alt="").our-plus__item-icon.replace-svg
				p.our-plus__item-text <em>Индивидуальный</em></br> подход

			li.our-plus__item
				span.our-plus__item-wrap-icon
					span(data-src="img/plus-4.svg" alt="").our-plus__item-icon.replace-svg
				p.our-plus__item-text Выполнение заказов</br> <em>день в день</em>

			li.our-plus__item
				span.our-plus__item-wrap-icon
					span(data-src="img/plus-5.svg" alt="").our-plus__item-icon.replace-svg
				p.our-plus__item-text <em>Большое разнообразие</em></br> материалов и покрытий

			li.our-plus__item
				span.our-plus__item-wrap-icon
					span(data-src="img/plus-6.svg" alt="").our-plus__item-icon.replace-svg
				p.our-plus__item-text Доставка по Минску</br> от 50 руб. — <em>БЕСПЛАТНО</em>
//Our plus END
