@mixin CE-Bold ()
	font-family: "CenturyExpanded-Bold", sans-serif
	
@mixin CE-Regular ()
	font-family: "CenturyExpanded-Regular", sans-serif
	
@mixin PM-Regular ()
	font-family: "ProximaNova-Regular", sans-serif

@mixin MisterBrown ()
	font-family: "MisterBrown", sans-serif