section.rates.sec-page.img-bg(style="background-image: url('img/bitrix-plus-bg.jpg')")
	.container
		.rates-content

			.wrap-table
				.wrap-title
					span.title Тарифы обслуживания
				.table-rates
					table
						tr.top-row
							td
								span.name Лайт
								span.wrap-price
									em.price 120 BYN
									| в месяц
							td
								span.name Комфорт
								span.wrap-price
									em.price 160 BYN
									| в месяц
								span.recommend-label Рекомендуем
							td
								span.name Профи
								span.wrap-price
									em.price 490 BYN
									| в месяц

						tr.center-row 
							td(colspan="3") Время реакции на запрос: 1 час (SLA)
						tr.center-row 
							td(colspan="3") Быстрое решение задач, время выполнения которых не превышает 10 минут
						tr.center-row 
							td(colspan="3") Мониторинг доступности сайта и проведение восстановительных работ в случае технических сбоев
						tr.center-row 
							td(colspan="3") Система резервного копирования и антивирусная защита <br> (мониторинг и ликвидация вредоносного кода на сайте)
						tr.center-row 
							td(colspan="3") Взаимодействие со сторонними хостерами или бесплатный перенос сайта на новый хостинг

						tr.bottom-row
							td
								em 2
								| часа специалистов
							td
								em 5
								| часа специалистов
							td
								em 20
								| часа специалистов
						tr.bottom-row
							td
							td Анализ производительности
							td Анализ производительности
						tr.bottom-row
							td
							td
							td Повышение конверсии
				.subtext-under-recommend-rates
					span Стоимость дополнительного часа специалиста по итогу месяца 
						em.price 50 BYN

			.wrap-table
				.wrap-title
					span.title Дополнительные пакеты часов специалистов
				.table-rates
					table
						tr.bottom-row
							td
								em 10
								| часов
							td
								em 30
								| часов
							td
								em 50
								| часов

						tr.bottom-row
							td
								em 241.5 BYN
							td
								em 724.5 BYN
							td
								em 1 207.5 BYN
