section.sec-info-under-banner.sec-page
	.container
		.sec-info-under-banner-content

			.wrap-img
				img.lazyload(data-src="img/robot.png" alt="")

			.wrap-text.wrap-list-point
				p Создав свой сайт, даже учтя все последние веяния в его разработке, рано почивать на лаврах. За этим этапом идет следующая, не менее ответственная и кропотливая работа – поддержка сайта. Очень важно добиться правильного и безотказного функционирования ресурса. Стабильность его работы может обеспечить ряд постоянно предпринимаемых действий. К их числу можно смело отнести:
				ul
					li Скрупулезную проверку системы управления сайта, выявление и исправление любых погрешностей в ее работе;
					li Достижение максимально возможной быстроты загрузки страниц;
					li Мониторинг правильности и доступности информации по заданным ссылкам;
					li Обязательное резервное копирование всего контента сайта, без чего просто немыслимо техническое сопровождение сайтов.