section.sec-text-column.sec-page
	.container
		.sec-text-column-content

			.wrap-text
				p Не уделив всему этому вовремя должного внимания, можно получить информационную проблему в виде недоступности сайта. Это в свою очередь приведет к значительным потерям в посетительском спросе и скажется на потерях финансового характера. При перебоях в доступности ресурса существует большая вероятность того, что поисковые системы во время процедуры индексации сайта покажут совсем не те результаты, на которые изначально рассчитывали хозяева портала. А это будет означать только одно – средства на раскрутку ресурса были потрачены впустую.
				p Основополагающее достоинство любого сайта - его доступность, потеря которого приведет к непоправимым последствиям. Хотите обеспечить качественную поддержку сайтов в Минске? Тогда стоит поручить это настоящим профессионалам.
				
			.wrap-text
				p Специалисты нашей компании – из их числа. Они сами создают сайты, реализуя при этом самые последние инновации в их разработке. И кто, как ни сами создатели информационного ресурса, владеют всей ситуацией, всеми техническими нюансами реализации архитектуры сайта. Не каждая организация позволит себе содержать штат ИТ-специалистов, способных обеспечить достойную поддержку сайта. Для небольшой компании это очень нерентабельно.