section.sheme-technical-work.sec-page
	.container
		.sheme-technical-work-content

			.wrap-title
				span.title Схема работы по задачам

			.wrap-sheme
				.sheme
					.wrap-cells
						.cell.cell-arrow-left.line-descr.line-descr-bottom
							span.text Заявка
							span.text-out.text-out-bottom-left Время реакции на заявку 1 час

						.cell.cell-arrow-left.line-descr.line-descr-top
							span.text Личный кабинет
							span.text-out.text-out-top-left Каждая заявка <br> ификсируется в ERP-системе

						.cell.cell-arrow-left.cell-arrow-bottom
							span.text Обработка заявки

						.cell.cell-arrow-left
							span.text Быстрые задачи сразу передаются в работу
							span.text-out.text-out-top-center Все 10-ти минутные задачи <br> являются быстрыми

						.cell.cell-arrow-left.line-descr.line-descr-bottom
							span.text Оценка и согласование
							span.text-out.text-out-bottom-left Время передачи заявки в работу <br> не более 24 часов

						.cell.cell-arrow-left
							span.text Проведение работ

					.wrap-resalt-cell
						.cell
							.wrap-icon
								img.lazyload(data-src="img/icon-check-white.svg", alt="")
							span.text Работа выполнена