section.technical-services-plus.sec-page
	.container
	
		.technical-services-plus-content
			.wrap-title
				span.title Мы умеем и любим

			.wrap-blue-items-circle
				.item
					.wrap-icon
						img.lazyload(data-src="img/technical-services-plus-4.svg", alt="")
					.item-text
						span.item-title Консультируем
						p Консультации по вопросам функционирования<br> сайта, корпоративной почты, хостинга, а также по любым вопросам, которые связаны с интернет-технологиями.

				.item
					.wrap-icon
						img.lazyload(data-src="img/technical-services-plus-3.svg", alt="")
					.item-text
						span.item-title Быстро обрабатываем ваши обращения
						p Время реагирования на клиентское<br> обращение составляет один час. Небольшие<br> задачи (приблизительно 10 минут работы<br> специалиста) являются бесплатными и<br> решаются сразу.

				.item
					.wrap-icon
						img.lazyload(data-src="img/technical-services-plus-2.svg", alt="")
					.item-text
						span.item-title Отслеживание доступности сайта
						p В кратчайшие сроки решение задач, которые<br> связаны с перебоями в работе почты или<br> сайта.

				.item
					.wrap-icon
						img.lazyload(data-src="img/technical-services-plus-1.svg", alt="")
					.item-text
						span.item-title Быстро обрабатываем ваши обращения
						p Мы предлагаем изменения и новшества на<br> основе web-аналитики для увеличения<br> эффективности проекта.
