section.technical-services.sec-page
	.container
		.technical-services-content

			.content-left.wrap-list-point
				.wrap-title
					span.title Технические услуги
				p Намного проще и выгоднее возложить эту задачу на настоящих мастеров своего дела, подходящих к своим обязанностям ответственно и скрупулезно. Какой объем технических услуг в состоянии обеспечить наша компания? Он большой, но выделим основные:
				ul
					li ввод и корректировка размещенного контента, учитывая главные требования оптимизации поиска. Это в полной степени относится как к текстовому, так и графическому наполнению сайта;
					li постоянное усовершенствование программных модулей сайта, особенно относящихся к самой CMS;
					li резервное копирование;
					li работа над ошибками и стремление к усовершенствованию всей структуры ресурса, добиваясь его лаконичности;
					li восстановление сайта в случае технических сбоев;
				p Наша компания готова сотрудничать с заказчиком на взаимовыгодных условиях, обеспечивая достойное сопровождение ресурса. Заказчик может предоставить только материалы, которые он хочет видеть на своем ресурсе, в удобном для себя виде. Наши же специалисты, проанализировав полученную информацию, разместят ее быстро, оптимально и достойно. С нами ваш сайт всегда будет выглядеть современно и не испытывать никаких трудностей!

			.content-right
				.wrap-img.img-resp
					img.lazyload(data-src="img/technical-services-img.png", alt="")

