section.page-banner.img-bg(style="background-image: url('img/banner-technical-support-bg.jpg')")
	.container

		.page-banner-content
			.wrap-breadcrumbs.breadcrumbs-yellow
				a(href="index.html") Главная
				span.delimiter /
				a(href="") Услуги
				span.delimiter /
				a(href="") Поддержка
				span.delimiter /
				span.cur-page Техническая поддержка сайта
			.page-banner-text
				span.banner-title Техническая<br> поддержка сайта