.text-content.grinding__text-content
	.wrapper

		p После любой механической обработки на поверхности дерева остаются дефекты (царапины, сколы, шероховатости, выбоины и т.д.) и поверхность требует дополнительной, чистовой обработки перед дальнейшей отделкой материала. Самым популярным способом такой обработки является – шлифовка.
		br
		p Шлифовка – это заключительный процесс подготовки древесины к дальнейшей обработке. Производится шлифовка с помощью абразивных компонентов.

		.wrap-cards
			figure.wrap-card
				.card.lazy.card_left(data-bg="url(img/grinding-img-1.png)")

			figure.wrap-card
				.card.lazy(data-bg="url(img/grinding-img-2.png)")

			figure.wrap-card
				.card.lazy.card_right(data-bg="url(img/grinding-img-3.png)")


		p Выполним разные виды шлифовки: начиная ручной и заканчивая машинной. К древесным материалам мы относим фанеру, мебельный щит и массив, ДВП, МДФ. Помимо изделий из дерева оказываем услуги шлифовки листового ПВХ. При размещении заявки, просим указывать, что вам требуется шлифовка.


