.personal-area-content
	min-height: 685px

+media-breakpoint-down(sm)
	.personal-area-content
		min-height: 455px


+media-breakpoint-down(xs)
	.personal-area-content
		min-height: auto
		box-shadow: none

