section.banner-contacts.banner
	img.banner__bg(src="img/banner-contacts-bg.png" alt="")

	.wrapper
		.banner__inner

			+breadcrumbs([
				"Главная",
				"Контакты"
			])

			span.banner__title.title-1 Контакты

			.wrap-cards.banner__wrap-cards
				.wrap-card
					.card(style="background-image: url('img/banner-img-3.png');")
						h2.title-1.card__title <span>лазерная</span> резка
						span.card__text.title-3 Телефон: + 375 25 897-00-01
						span.card__text.title-3 Email: email@yandex.ru
						span.btn.card__btn.btn-popup(data-popup-key="popup-feedback")
							img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
							img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
							span.btn__text Получить<br> консультацию

				.wrap-card
					.card(style="background-image: url('img/banner-img-2.png');")
						h2.title-1.card__title <span>Фрезерная</span> резка
						span.card__text.title-3 Телефон: + 375 25 897-00-01
						span.card__text.title-3 Email: email@yandex.ru
						span.btn.card__btn.btn-popup(data-popup-key="popup-feedback")
							img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
							img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
							span.btn__text Получить<br> консультацию

				.wrap-card
					.card(style="background-image: url('img/banner-img-1.png');")
						h2.title-1.card__title <span>Маркерная</span> резка
						span.card__text.title-3 Телефон: + 375 25 897-00-01
						span.card__text.title-3 Email: email@yandex.ru
						span.btn.card__btn.btn-popup(data-popup-key="popup-feedback")
							img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
							img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
							span.btn__text Получить<br> консультацию

