.top-page-line
	.wrap-breadcrumbs
		a.other-page(href="index.html") Главная
		span.cur-page Результат поиска

	.wrap-title
		span.page-title По запросу «телефон» ничего не найдено

	.result-search-text 
		span.text Попробуйте изменить ваш запрос
		span.subtext Проверьте корректность написания, используйте менее специфичные слова или<br>воспользуйтесьнавигационным меню по каталогу.

	span.btn-in-catalog.btn-blue
		span.text Перейти в каталог