extends ../templates/page.pug

block title 
	| Охрана квартир

block content
	include ../modules/header.pug

	include apartment/first_sec_page.pug
	include apartment/advantages_items.pug
	include ../modules/sec_dark_callback.pug
	include apartment/sec_tabs.pug
	include apartment/sec_callback.pug
	include apartment/sec_list_2.pug
	include apartment/sec_list_3.pug
	include ../modules/sec_dark_callback.pug
	
	include ../modules/footer.pug