extends ../templates/page.pug

block title 
	| Охрана бизнеса

block content
	include ../modules/header.pug

	include business/first_sec_page.pug
	include business/advantages_items.pug
	include business/sec_tabs.pug
	include ../modules/sec_dark_callback.pug
	include business/sec_list_1.pug
	include business/sec_callback.pug
	include business/sec_list_2.pug
	include business/sec_list_3.pug
	include ../modules/sec_dark_callback.pug
	
	include ../modules/footer.pug