extends ../templates/page.pug

block title 
	| Охрана дома

block content
	include ../modules/header.pug

	include home/first_sec_page.pug
	include home/advantages_items.pug
	include home/sec_tabs.pug
	include ../modules/sec_dark_callback.pug
	include home/sec_list_1.pug
	include home/sec_callback.pug
	include home/sec_list_2.pug
	include home/sec_list_3.pug
	include ../modules/sec_dark_callback.pug
	
	include ../modules/footer.pug