extends ../templates/main-page.pug

block title 
	| Главная

block content
	include ../modules/header.pug

	include index/banner_top_page.pug
	include index/defence_full.pug
	include index/main_services.pug
	include index/simple_system.pug	
	include index/sec_phone.pug
	include index/reliability.pug
	include index/other_services.pug
	include index/sec_callback.pug
	include index/skills.pug
	include index/news.pug

	include ../modules/footer.pug