extends ../templates/page.pug

block title 
	| Тарифы

block content
	include ../modules/header.pug

	include rates/first_sec_page.pug
	include rates/rates_item.pug
	include ../modules/sec_dark_callback.pug

	include ../modules/footer.pug