extends ../templates/page.pug

block title 
	| Тревожная сигнализация

block content
	include ../modules/header.pug

	include signaling/first_sec_page.pug
	include signaling/advantages_items.pug
	include signaling/sec_tabs.pug
	include ../modules/sec_dark_callback.pug
	include signaling/sec_list_1.pug
	include signaling/sec_callback.pug
	include signaling/sec_list_2.pug
	include signaling/sec_list_3.pug
	include ../modules/sec_dark_callback.pug
	
	include ../modules/footer.pug