.compare-products.page-content
	.container
		include top-page-line/top-page-line.pug

		//- <span class="text-stub">Список сравниваемых элементов пуст.</span>

		include products-row/products-row.pug
		include products-data-wrap/products-data-wrap.pug