@import "components/components";


.feedback {
	max-width: 670px;
	margin: px-to-rem(110, 24) auto 0;
	padding: 0 15px;

	@include media (xxl) {
		margin: px-to-rem(100, 22) auto 0;
		max-width: 600px;
	}

	@include media (lg) {
		margin: px-to-rem(80, 22) auto 0;
		max-width: 580px;
	}
}
