//Feedback BEGIN
.sec.feedback(role="region")

	.feedback__wrap-titles.sec__wrap-titles
		span.sec__title.title-1 Остались <em>вопросы?</em>
		p.sec__subtitle.title-3 Напишите нам!

	.wrapper
		.feedback__inner
			include ../form-feedback/form-feedback
//Feedback END
