section.result-work.section.bg-elements(style="background-image: url('img/bg-elements-5.svg')")
	.container
		
		.page-titles
			span.h2.title.title-decor Результат от проведенного мероприятия

		.wrap-items
			.wrap-item
				.item
					.wrap-icon.resp-img
						img(src="img/003-relationship.svg", alt="")
					.wrap-text.color-dark
						em Понимание общей цели
						p.text Сотрудники компании на практике осваивают навык командной работы для достижения цели


			.wrap-item
				.item
					.wrap-icon.resp-img
						img(src="img/001-leadership.svg", alt="")
					.wrap-text.color-dark
						em Коллеги узнают<br> друг друга лучше
						p.text Открытие! В компании работают хорошие люди, на котррых можно положиться


			.wrap-item
				.item
					.wrap-icon.resp-img
						img(src="img/002-success.svg", alt="")
					.wrap-text.color-dark
						em Восстановление ресурсов
						p.text Совместный (активный отдых) заряжает энергией, дарит новые эмоции и настраивает на победы
	

			.wrap-item
				.item
					.wrap-icon.resp-img
						img(src="img/004-teamwork.svg", alt="")
					.wrap-text.color-dark
						em Растет индекс<br> лояльности (eNPS)
						p.text Сотрудники гордятся, что работают в компании и рекомендуют как потенциального работодателя

		.wrap-btn
			span.btn.btn-red Оставить заявку



