section.commercial-plus.sec-page
	.container
	
		.commercial-plus-content
			.wrap-title
				span.title Преимущества контекстной рекламы

			.wrap-blue-items-circle
				.item
					.wrap-icon
						img.lazyload(data-src="img/commercial-plus-2.svg", alt="")
					.item-text
						span.item-title Точное попадание в целевую аудиторию
						p.text Реклама показывается тогда, когда она соответствует теме запроса пользователя.

				.item
					.wrap-icon
						img.lazyload(data-src="img/commercial-plus-3.svg", alt="")
					.item-text
						span.item-title Быстрый результат
						p.text Рост уже в первый день запуска рекламы.

				.item
					.wrap-icon
						img.lazyload(data-src="img/commercial-plus-4.svg", alt="")
					.item-text
						span.item-title Плата только за переход
						p.text Вы не платите за показ объявлений. Вы оплачиваете только переход на сайт.

				.item
					.wrap-icon
						img.lazyload(data-src="img/commercial-plus-1.svg", alt="")
					.item-text
						span.item-title Гибкий бюджет
						p.text Вы сами можете установить как дневной, так и месячный бюджет
