section.our-approach.blue-sec-list-yellow.sec-page.img-bg(style="background-image: url('img/bitrix-plus-bg.jpg')")
	.container
		.our-approach-content

			.content-left
				.wrap-title
					span.title Наш подход

				.wrap-lists.wrap-list-point.wrap-list-point-yellow.wrap-scrollbar
					ul
						li Настройка производится в течение 5-10 дней

						li Берем в настройку все запросы

						li Не берем комиссию от бюджета клиента

						li Минусуем нецелевых посетителей

						li После настройки сопровождаем рекламу 2 недели для стабильной работы

						li Даем рекомендации по бюджету

						li Согласовываем запросы

						li Полный доступ к статистике – все настройки отдаем вам – ничего не прячем

						li Техническая консультационная поддержка от нас в любое время

						li Наш гонорар не зависит от Вашего бюджета, поэтому каждому клиенту мы уделяем столько времени, сколько нужно для достижения результата

						li Детальная проработка: от 1 000 ключевых слов, от 1 000 объявлений

			.content-right
				include ../modules/card-google-yandex.pug

