section.prices-commercial.sec-page
	.container
		.prices-commercial-content

			.wrap-title
				span.title Стоймость настройки и управление<br> контекстной рекламой

			.wrap-table-accent.wrap-table-x-custom-scroll.wrap-table-x-custom-scroll-991
				table
					tr.row-title-col
						td.empty-cell
						td Самоуправление
						td Корпоративный сайт
						td Каталог
						td Интернет-магазин

					tr.row-gray-text
						td.empty-cell
						td У вас есть штатный маркетолог, обладающий навыками ведения рекламных компаний
						td Услуги b2b, b2c, продажа товаров ограниченного ассортимента
						td Сайт каталог в тематике b2b, b2c. Более 10 товарных групп и 100 товаров
						td E-commerce проект, которому необходим современный и полный набор инструментов интернет-маркетинга

					tr
						td Рекомендуемый бюджет на систему
						td любой
						td 
							span.price 500
							| руб.
						td
							span.price 1 000
							| руб.							
						td
							span.price 1 400
							| руб.		

					tr
						td Официальное зачисление: счет, акт, ЭСЧФ для вычета НДС
						td 
							img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
						td
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true
						td
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true
						td
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true

					tr
						td Полный доступ к реклманым аккаунтам
						td
							img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
						td
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true
						td
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true
						td
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true

					tr
						td Доступ к программам автоматизации
						td
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true
						td
							img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
						td
							img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
						td
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true

			.wrap-table-accent.wrap-table-accent-2.wrap-table-x-custom-scroll.wrap-table-x-custom-scroll-991
				span.table-title Настройка

				table
					tr.row-title
						td Подготовка к запуску
						td 
						td
						td
						td

					tr
						td Анализ компаний конкурентов
						td 
							img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
						td 
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true
						td 
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true
						td 
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true

					tr
						td Анализ сайта и целевых страниц
						td 
							img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
						td 
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true
						td 
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true
						td 
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true

					tr
						td Маркетинговый анализ
						td 
							img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
						td 
							img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
						td 
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true
						td 
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true

					tr
						td Сбор семантического ядра
						td
							img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
						td
							| от
							span.price 100
							| фраз
						td
							| от
							span.price 300
							| фраз
						td
							| от
							span.price 600
							| фраз

					tr
						td Доступ к программам автоматизации
						td
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true
						td
							img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
						td
							img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
						td
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true























					tr.row-title
						td Рекламные иструменты
						td 
						td
						td
						td

					tr
						td Поисковая компания
						td 
							img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
						td 
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true
						td 
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true
						td 
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true

					tr
						td Медийная компания (РСЯ/КМС)
						td 
							img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
						td 
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true
						td 
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true
						td 
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true

					tr
						td Ремаркетинг/ретаргетинг
						td 
							img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
						td 
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true
						td 
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true
						td 
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true

					tr
						td По конкуретнам
						td
							img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
						td
							img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
						td
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true
						td
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true

					tr
						td Динамические объявления (при наличии yml)
						td
							img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
						td
							img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
						td
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true
						td
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true

					tr
						td По аудиториям/сегментам
						td
							img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
						td
							img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
						td
							img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
						td
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true

					tr
						td Расширенные объвления с ценой и контролем наличия на складе
						td
							img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
						td
							img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
						td
							img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
						td
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true

					tr
						td Смарт баннеры
						td
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-false
						td
							img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
						td
							img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
						td
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true

					tr.row-title
						td Интеграция с системами аналитики и учета
						td 
						td
						td
						td

					tr
						td UTM метки
						td 
							img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
						td 
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true
						td 
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true
						td 
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true

					tr
						td Настройка целей и событий
						td 
							img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
						td 
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true
						td 
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true
						td 
							img.lazyload(data-src="img/icon-success.svg", alt="").icon-true

					tr.row-small-text
						td Интеграция с системами аналитики и учета
						td 
							img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
						td Яндекс. Метрик, Google Analytics
						td Call-tracking+ Яндекс. Метрик, Google Analytics
						td Call-tracking+ Яндекс. Метрик, Google Analytics+ E-commerce

					tr.row-title
						td Настройка сертифицированным специалистом
						td
						td
						td
						td

					tr
						td 
							img.lazyload(data-src="img/logo-google.svg", alt="")
							| или
							img.lazyload(data-src="img/logo-yandex.svg", alt="")
						td 
							img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
						td 						
							span.price 225
							| руб.
						td 						
							| от
							span.price 450
							| руб.
						td 						
							| от
							span.price 630
							| руб.

					tr
						td 
							img.lazyload(data-src="img/logo-google.svg", alt="")
							| и
							img.lazyload(data-src="img/logo-yandex.svg", alt="")
							img.lazyload(data-src="img/sales.svg", alt="")
						td 
							img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
						td
							span.old-price 450 руб.
							span.price 360
							| руб.
						td 						
							span.old-price 900 руб
							span.price 760
							| руб.
						td 						
							span.old-price 1260 руб
							span.price 990
							| руб.

					tr
						td
						td 
							.wrap-btn.wrap-btn-blue
								a.btn(href="#") Подробнее

						td 
							.wrap-btn.wrap-btn-blue
								a.btn(href="#") Подробнее

						td 
							.wrap-btn.wrap-btn-blue
								a.btn(href="#") Подробнее

						td 
							.wrap-btn.wrap-btn-blue
								a.btn(href="#") Подробнее
							



















