section.solve-problems.sec-page
	.container
	
		.solve-problems-content
			.wrap-title
				span.title Помогаем решать проблемы:

			.wrap-blue-items-circle
				.item
					.wrap-icon
						img.lazyload(data-src="img/solve-problems-item-2.svg", alt="")
					.item-text
						span.item-title Бюджет тратится, а новых клиентов нет
						p.text Деньги на клики быстро расходуются. Звонки и заявки поступают редко. Новых клиентов нет, либо их единицы. Контекстная реклама работает "в ноль" или не окупается вовсе.

				.item
					.wrap-icon
						img.lazyload(data-src="img/solve-problems-item-3.svg", alt="")
					.item-text
						span.item-title Дорогие клики
						p.text А значит, высокая стоимость каждого нового клиента. Конкуренты находятся выше Вас в поиске, а цена за клик у них ниже.

				.item
					.wrap-icon
						img.lazyload(data-src="img/solve-problems-item-4.svg", alt="")
					.item-text
						span.item-title Медлительность подрядчика
						p.text Ваши просьбы по изменению объявлений не выполняются по 2-3 дня. Постоянно меняется контактное лицо. Менеджер пишет длинные письма, вместо того, чтобы позвонить и быстро решить проблему.

				.item
					.wrap-icon
						img.lazyload(data-src="img/solve-problems-item-1.svg", alt="")
					.item-text
						span.item-title Медлительность подрядчика
						p.text Даже если пользователи сразу не превратятся в Ваших клиентов, они невольно сохранят в памяти Вашу компанию.
