.wrap-description-slider
	.top-line
		span.product-card-sec-title.h-3 Дополни свой образ

		.wrap-slider-arrows

	.description-slider

		.wrap-product-card.wrap-product-card-default
			.product-card.product-not-available.element-shadow-hover
				.label.text-fw-bold.text-small HIT

				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-4.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor WW

				.bottom-line
					.wrap-price
						span.old-price.text-small.text-gray 141 руб
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						img(src="img/006-heart.svg", alt="")


		.wrap-product-card.wrap-product-card-default
			.product-card.product-action.element-shadow-hover
				.label.text-fw-bold.text-small -30%

				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-1.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor

				.bottom-line
					.wrap-price
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						img(src="img/006-heart.svg", alt="")

		.wrap-product-card.wrap-product-card-default
			.product-card.product-action.element-shadow-hover
				.label.text-fw-bold.text-small -30%

				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-2.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor

				.bottom-line
					.wrap-price
						span.old-price.text-small.text-gray 141 руб
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						img(src="img/006-heart.svg", alt="")

		.wrap-product-card.wrap-product-card-default
			.product-card.element-shadow-hover
				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-3.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor

				.bottom-line
					.wrap-price
						span.old-price.text-small.text-gray 141 руб
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						img(src="img/006-heart.svg", alt="")

		.wrap-product-card.wrap-product-card-default
			.product-card.product-not-available.element-shadow-hover
				.label.text-fw-bold.text-small HIT

				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-4.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor WW

				.bottom-line
					.wrap-price
						span.old-price.text-small.text-gray 141 руб
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						img(src="img/006-heart.svg", alt="")

		.wrap-product-card.wrap-product-card-default
			.product-card.product-action.element-shadow-hover
				.label.text-fw-bold.text-small -30%

				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-1.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor

				.bottom-line
					.wrap-price
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						img(src="img/006-heart.svg", alt="")

		.wrap-product-card.wrap-product-card-default
			.product-card.product-action.element-shadow-hover
				.label.text-fw-bold.text-small -30%

				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-2.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor

				.bottom-line
					.wrap-price
						span.old-price.text-small.text-gray 141 руб
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						img(src="img/006-heart.svg", alt="")

		.wrap-product-card.wrap-product-card-default
			.product-card.element-shadow-hover
				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-3.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor

				.bottom-line
					.wrap-price
						span.old-price.text-small.text-gray 141 руб
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						img(src="img/006-heart.svg", alt="")

							
	.wrap-slider-dots

