nav.mobile-menu
	ul
		li.item-icon
			a(href="#")
				.icon
					img(src="img/mob-menu-icon-1.svg", alt="") 
				| Каталог товаров
			ul
				li 
					a(href="#") Акустика
				li 
					a(href="#") Бинокли и телескопы
					ul
						li 
							a(href="#") Audac
						li 
							a(href="#") Акустические системы
						li 
							a(href="#") Микшеры
						li 
							a(href="#") Направленный звук
				li 
					a(href="#") Бумага и пленка
					ul
						li
							a(href="#")  Провода
						li 
							a(href="#") Сабвуферы
						li 
							a(href="#") Сабвуферы
						li 
							a(href="#") Усилители
						li 
							a(href="#") Саунбары
						li 
							a(href="#") Направленный звук
				li 
					a(href="#") Дополнительная гарантия Epson Cover Plus
				li 
					a(href="#") Кабели интерфейсные
					ul
						li 
							a(href="#") Audac
						li 
							a(href="#") Провода
						li 
							a(href="#") Акустические системы
				li 
					a(href="#") Компьютеры, ноутбуки, комплектующие
				li 
					a(href="#") Кронштейны, стойки, держатели
					ul
						li 
							a(href="#") Сабвуферы
						li 
							a(href="#") Усилители
		li.item-icon
			a(href="#")
				.icon
					img(src="img/mob-menu-icon-2.svg", alt="") 
				| Корзина
				.icon-count.icon-count-gray 99
		li.item-icon
			a(href="#")
				.icon
					img(src="img/mob-menu-icon-3.svg", alt="") 
				| Отложенные
				.icon-count 6
		li.item-icon
			a(href="#")
				.icon
					img(src="img/mob-menu-icon-4.svg", alt="") 
				| Сравнение товаров
				.icon-count 12

		li.item-gray.item-icon.item-user
			a(href="#")
				.icon
					img(src="img/icon-user.svg", alt="") 
				| Личный кабинет
			ul
				li
					a(href="#", data-modal-key="sing-in").modal-show Вход
				li
					a(href="#") Регистрация


		//- li.item-gray.item-icon.item-user
		//- 	a(href="#")
		//- 		.icon
		//- 			img(src="img/icon-user.svg", alt="") 
		//- 		| Константин Константинович
		//- 	ul
		//- 		li
		//- 			a(href="#") Мои заказы
		//- 		li
		//- 			a(href="#") Личные данные
		//- 		li
		//- 			a(href="#") Выйти
		li.item-gray
			a(href="#") Личный кабинет
			ul
				li 
					a(href="#") Вход
				li 
					a(href="#") Регистрация
		li.item-gray
			a(href="#") Компания
			ul
				li
					a(href="#") О нас
				li
					a(href="#") Оптовый отдел
				li
					a(href="#") Сервисный центр
				li
					a(href="#") Учебный центр
				li
					a(href="#") Контакты
		li.item-gray
			a(href="#") Интернет-магазин
			ul
				li
					a(href="#") Интернет-магазин
				li
					a(href="#") Интернет-магазин
				li
					a(href="#") Интернет-магазин
		li.item-gray
			a(href="#") Наши контакты
			ul
				li(data-style-type="contact")
					a(href="tel:375172629111") +375 17 262 91 11
						span.text-gray  (многоканалный)
				li(data-style-type="contact")
					a(href="tel:375172161922") +375 17 216 19 22
				li(data-style-type="contact")
					a(href="tel:375172664910") +375 17 266 49 10
				li(data-style-type="contact")
					a(href="tel:375296960580") +375 29 696 05 80
						span  (велком)
				li(data-style-type="contact-link")
					a(href="mailto:info@printlux.by") info@printlux.by
		li.item-gray
			a(href="#") Время работы
			ul
				li
					a(href="#")
				li
					a(href="#")
				li
					a(href="#")
		li.item-gray.item-phones
			a(href="tel:375297776768") +375 (29) 777 67 68
			a(href="tel:375258879799") +375 (25) 887 97 99


