main.product__main.page__main
	.wrapper

		//Scroll bar BEGIN
		include components/scroll-bar/scroll-bar
		//Scroll bar END

		//Preview page BEGIN
		include components/preview-page/preview-page
		//Preview page END

		// Main content second BEGIN
		include components/main-content/main-content
		// Main content second END

	// Feedback BEGIN
	include components/feedback/feedback
	// Feedback END
