.about-us__main-content.page__random-text
	//- or .title-2
	h2 <em>At Architectural Joinery</em> We want our products to reflect the qualities. We are dedicated to outstanding quality in both<br class="d-none-1600"> product and service

	p As a validation of that commitment, all the products manufactured, supplied, installed and serviced by us have quality certifications from world class third party certifications / auditing Authorities Thus we are setting the standards for building quality into the product from start to finish.
