section.banner-grinding.banner
	picture
		source(media="(min-width: 576px)" srcset="img/bg-grinding-cutting.png")
		source(media="(max-width: 576px)" srcset="img/laser-bg-mobile.png")
		img.banner__bg(src="img/bg-grinding-cutting.png" alt="" aria-hidden="true")

	.wrapper
		.banner__inner

			+breadcrumbs([
				"Главная",
				"Дополнительные услуги",
				"Шлифовка"
			])

			.banner__wrap-text
				h1.banner__title.title-1 Шлифовка
