@import "../common/vars";

.sec-commercial-works{
	padding: 0 !important;

	.wrap-btn-large-yellow{
		margin-top: 15px;
		padding: 0 8px;
	}

	.wrap-cases{
		padding-bottom: 0;

		.wrap-btn-large-yellow{
			width: 100%;
			padding: 0 10px;
		}
	}
}

@media (max-width: 992px) {
	.sec-commercial-works{

		.wrap-btn-large-yellow{
			margin-top: 0px;
		}

	}
}

@media (max-width: 575px) {
	.sec-commercial-works{
		.wrap-btn-large-yellow{
			padding: 0 !important;
		}
	}
}

