@import "../common/vars";

.smm-plus{
	background-color: @bgGray;

	&-content{
		
	}

	.wrap-blue-items-circle {
		margin-top: 0;
	}

	.item{
		width: 25%;
		margin-left: auto;
		margin-right: auto;
		display: block;
		margin-bottom: 0;
		text-align: center;

		.wrap-icon {
			margin-bottom: 18px;
			margin-left: auto;
			margin-right: auto;
		}
	}

}

@media (max-width: 1399px) {

}


@media (max-width: 1199px) {
	.smm-plus .item{
		br{
			display: none;
		}
	}
}


@media (max-width: 991px) {
	.smm-plus .wrap-blue-items-circle .item{
		width: 25%;
		padding: 0 10px;
	}

	.smm-plus{
		padding: 45px 0;
	}
}


@media (max-width: 767px) {
	.smm-plus .wrap-blue-items-circle .item p{
		font-size: 12px;
		line-height: 16px;
	}
}


@media (max-width: 575px) {
	.smm-plus .wrap-blue-items-circle{
		margin-bottom: -28px;
	}

	.smm-plus .wrap-blue-items-circle .item{
		width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		margin-bottom: 28px;

		.wrap-icon{
			margin-right: 15px;
			margin-bottom: 0;
		}

		.item-text{
			.text{
				font-size: 14px;
				line-height: 20px;
			}
		}
		
		*{
			text-align: left;
		}
	}
}




