section.clients.sec-index
	.container
		.clients-content
			.title-group
				span.title Довольные клиенты
				span.subtitle Мы гордимся работой с компаниями, которые задают<br> правила игры на своих рынках.

		include ../modules/clients-items.pug