section.testimonials-index.sec-index
	.container
		.testimonials-index-content

			.title-group
				span.title клиенты о нас
				span.subtitle Отзывы и благодарности

			include ../modules/testimonials-slider.pug