.product-card-images
	.thumbnails-images
		.wrap-img.product-img-border.product-img.cur-image
			img(src="img/product-card-img-2.jpg", alt="")
		.wrap-img.product-img-border.product-img
			img(src="img/product-card-img-4.jpg", alt="")
		.wrap-img.product-img-border.product-img
			img(src="img/product-card-img-5.jpg", alt="")
		.wrap-img.product-img-border.product-img
			img(src="img/product-card-img-2.jpg", alt="")


	.main-image.product-card.product-action
		span.label.text-fw-bold.text-small -30%
		.wrap-img.product-img-border.product-img.cur-image
			img(src="img/main-img-slider-1.png", alt="")
		.wrap-img.product-img-border.product-img
			img(src="img/main-img-slider-2.png", alt="")
		.wrap-img.product-img-border.product-img
			img(src="img/main-img-slider-1.png", alt="")
		.wrap-img.product-img-border.product-img
			img(src="img/main-img-slider-2.png", alt="")

