.aside-info
	.aside-info-content.aside-fix

		span.title Ваш заказ

		.wrap-items-prices
			span.price-item
				span.label Товаров на:
				span.wrap-price
					span.old-price 110,99 руб.
					span.cur-price 1 100,00 руб.

			span.price-item
				span.label Доставка:
				span.wrap-price
					span.cur-price 9,00 руб.
		
			span.price-item.save-prise
				span Экономия
				span 215,00 руб.

		.wrap-result
			span.result-price
				span Итого
				span.price 300 000,00 руб.

			a(href="#").btn.btn-blue
				span.text Оформить заказ