extends templates/page.pug

block title
	| О компании

block content
	include modules/modal-windows-default.pug

	.page
		include modules/header.pug

		.sec-content-sidebar
			.container
				.wrap-content
					.top-page-line-content
						include about-us/top-page-line.pug
					.left-content
						include about-us/top-page-text.pug
						include about-us/line-numbers.pug
						include about-us/sec-our-plus.pug
					.right-content
						include modules/nav-sidebar.pug

		include modules/sec-have-projects.pug

		include modules/footer.pug