extends templates/page.pug

block title
	| Баннерная реклама

block content
	+modal-windows
		include modules/modal-parts/modal-callback
		include modules/modal-parts/modal-testimonials
		include modules/modal-parts/modal-other

	.page
		include modules/header.pug
						
		include banner-commercial/banner-commercial-banner.pug
		include banner-commercial/sec-info-1-under-banner.pug
		include banner-commercial/sec-info-2-under-banner.pug
		include banner-commercial/steps-realization.pug
		include modules/list-good-works.pug
		include banner-commercial/our-clients.pug
		include modules/sec-testimonials.pug
		include modules/sec-have-projects.pug

		include modules/footer.pug