extends templates/page.pug

block title
	| Лицензия 1С-Битрикс


block content
	+modal-windows
		include modules/modal-parts/modal-callback
		include modules/modal-parts/modal-other
		include modules/modal-parts/modal-testimonials
		

	.page
		include modules/header.pug

		include bitrix-license/bitrix-license-banner.pug
		include bitrix-license/sec-price-list.pug
		include bitrix-license/our-clients.pug
		include modules/sec-testimonials.pug
		include modules/sec-have-projects.pug 

		include modules/footer.pug