extends templates/page.pug

block title
	| Контакты

block content
	+modal-windows
		include modules/modal-parts/modal-callback
		include modules/modal-parts/modal-message


	.page
		include modules/header.pug
		
		include contacts/contacts-page.pug

		include modules/footer.pug