extends templates/page.pug

block title
	| Корпоративный сайт

block content
	+modal-windows
		include modules/modal-parts/modal-callback
		include modules/modal-parts/modal-testimonials
		include modules/modal-parts/modal-other

	.page
		include modules/header.pug

		include corporate-site/corporate-site-banner.pug
		include corporate-site/rows-text-block.pug
		include corporate-site/row-text-columns.pug
		include corporate-site/time-price.pug
		include modules/directions.pug
		include corporate-site/our-plus.pug
		.steps-work.sec-page.pb-md-0
			.container
				.steps-work-content

					.wrap-title
						span.title Как проходит работа над проектом

					.wrap-steps-items
						.step-item
							.wrap-number
								span.number 1
							span.text Предпроектный<br> анализ

						.step-item
							.wrap-number
								span.number 2
							span.text Проектирование<br> и дизайн

						.step-item
							.wrap-number
								span.number 3
							span.text Верстка и<br> программирование

						.step-item
							.wrap-number
								span.number 4
							span.text Тестирование и<br> запуск проекта

						.step-item
							.wrap-number
								span.number 5
							span.text Поддержка и<br> продвижение
		include modules/sec-have-projects.pug
		include modules/sec-our-works.pug
		include modules/sec-testimonials.pug
		include modules/sec-scroll.pug
		
		include modules/footer.pug