extends templates/page.pug

block title
	| Разработка сайтов

block content
	+modal-windows
		include modules/modal-parts/modal-callback
		include modules/modal-parts/modal-testimonials
		include modules/modal-parts/modal-other

	.page
		include modules/header.pug

		include development-site/top-page-line.pug
		include development-site/dev-sites-list.pug
		include modules/directions.pug
		include modules/steps-work.pug
		include modules/sec-have-projects.pug
		include development-site/sec-mackbook.pug
		include development-site/technical-realisation.pug
		include modules/our-works.pug
		include modules/sec-testimonials.pug
		include modules/sec-scroll.pug
		
		include modules/footer.pug