extends templates/page.pug

block title
	| Главная

block content
	+modal-windows
		include modules/modal-parts/modal-callback
		include modules/modal-parts/modal-testimonials
		include modules/modal-parts/modal-other


	.page
		include modules/header.pug

		include index/banner.pug
		include index/sec-list-column.pug
		include index/sec-our-works.pug
		include index/clients.pug
		include index/testimonials.pug
		include modules/sec-scroll.pug

		include modules/footer.pug