extends templates/page.pug

block title
	| Landing page

block content
	+modal-windows
		include modules/modal-parts/modal-callback
		include modules/modal-parts/modal-testimonials
		include modules/modal-parts/modal-other

	.page
		include modules/header.pug
		
		include landing-site/banner.pug
		include landing-site/content.pug
		include landing-site/our-plus.pug
		include modules/sec-have-projects.pug
		include modules/sec-our-works.pug
		include modules/sec-testimonials.pug
		include modules/sec-scroll.pug
		
		include modules/footer.pug