extends templates/page.pug

block title
	| Мобильная версия

block content
	include modules/modal-windows-default.pug

	.page
		include modules/header.pug
						
		include mobile-version/mobile-version-banner.pug
		include mobile-version/mobile-version-minsk.pug
		include mobile-version/mobile-version-plus.pug
		include mobile-version/steps-dev-mob-version.pug
		include mobile-version/time-price.pug
		include mobile-version/steps-work.pug
		include modules/sec-have-projects.pug

		include modules/footer.pug