extends templates/page.pug

block title
	| Наша команда

block content
	include modules/modal-windows-default.pug

	.page
		include modules/header.pug

		.sec-content-sidebar
			.container
				.wrap-content
					.top-page-line-content
						include our-team/top-page-line.pug
					.left-content
						include our-team/top-page-text.pug
						include our-team/persons-cards.pug
					.right-content
						include modules/nav-sidebar.pug

		include modules/sec-have-projects.pug

		include modules/footer.pug