extends templates/page.pug

block title
	| Портфолио визуальные туры

block content
	include modules/modal-windows-default.pug

	.page
		include modules/header.pug

		include portfolio-visual/banner.pug
		include portfolio-visual/sec-our-works.pug
		include portfolio-visual/sec-prices.pug
		include portfolio-visual/visual-tour-add.pug

		include modules/footer.pug