extends templates/page.pug

block title
	| Портфолио seo оптимизация

block content
	include modules/modal-windows-default.pug

	.page
		include modules/header.pug

		include portfolio-seo/banner.pug
		include portfolio-seo/sec-our-works.pug
		include modules/sec-have-projects.pug

		include modules/footer.pug