extends templates/page.pug

block title
	| Портфолио 3D фото

block content
	include modules/modal-windows-default.pug

	.page
		include modules/header.pug

		include portfolio-3d-photo/banner.pug
		include portfolio-3d-photo/sec-our-works.pug
		include modules/sec-have-projects.pug

		include modules/footer.pug