extends templates/page.pug

block title
	| Портфолио контекстная реклама

block content
	include modules/modal-windows-default.pug

	.page
		include modules/header.pug

		include portfolio-commercial/banner.pug
		include portfolio-commercial/sec-our-works.pug
		include modules/sec-have-projects.pug

		include modules/footer.pug