extends templates/page.pug

block title
	| Готовое решение - корпоративный сайт

block content
	include modules/modal-windows-default.pug

	.page
		include modules/header.pug

		include ready-type-sites/ready-type-sites-banner.pug
		include ready-type-sites/sec-tabs.pug
		include modules/sec-have-projects.pug
		
		include modules/footer.pug