extends templates/page.pug

block title
	| Поисковая оптимизация

block content
	+modal-windows
		include modules/modal-parts/modal-callback
		include modules/modal-parts/modal-other
		include modules/modal-parts/modal-promotion

	.page
		include modules/header.pug
						
		include search-optimization/search-optimization-banner.pug
		include search-optimization/text-under-banner.pug
		include search-optimization/table-prices-promotion.pug
		include search-optimization/team-diagram.pug
		include modules/order-consultation.pug
		include modules/clients-up.pug
		include modules/sec-have-projects.pug

		include modules/footer.pug