extends templates/page.pug

block title
	| Пост статьи


block content
	include modules/modal-windows-default.pug

	.page
		include modules/header.pug

		.sec-content-sidebar
			.container
				.wrap-content
					.top-page-line-content
						include single-article/top-page-line.pug
					.left-content
						include single-article/article.pug

		include modules/sec-have-projects.pug

		include modules/footer.pug