extends templates/page.pug

block title
	| Техническая поддержка

block content
	include modules/modal-windows-default.pug
	
	.page
		include modules/header.pug
						
		include technical-support/technical-support-banner.pug
		include technical-support/sec-info-under-banner.pug
		include technical-support/rates.pug
		include technical-support/sec-text-column.pug
		include technical-support/technical-services.pug
		include technical-support/technical-support-plus.pug
		include technical-support/sheme-work.pug
		include modules/sec-have-projects.pug

		include modules/footer.pug