extends templates/page.pug

block title
	| Отзывы и благодарности


block content
	+modal-windows
		include modules/modal-parts/modal-callback
		include modules/modal-parts/modal-other
		include modules/modal-parts/modal-testimonials

	.page
		include modules/header.pug

		.sec-content-sidebar
			.container
				.wrap-content
					.top-page-line-content
						include testimonials/top-page-line.pug
					.left-content
						include testimonials/top-page-text.pug
						include testimonials/testimonials-items.pug
						include modules/pagination.pug
					.right-content
						include modules/nav-sidebar.pug

		include modules/sec-have-projects.pug

		include modules/footer.pug