extends templates/page.pug

block title
	| Визуальный тур (подробнее)

block content
	include modules/modal-windows-default.pug

	.page
		include modules/header.pug

		include visual-tour/slider.pug
		include visual-tour/visual-tour-add.pug

		include modules/footer.pug