@default-font: "RobReg", sans-serif;


/*Simple color*/
@pink: #F83453;
@blue: #14AAE6;
@green: #26C268;
@orange: #F2994A;
@gray: #737373;
@brown: #46474D;
/*Simple color END*/


/*Hover color*/
@pinkHover: #ED2C49;
/*Hover color END*/


/*Text color*/
@textDark: #292929;
@textGray: @gray;
@textGrayLight: #999999;
/*Text color END*/


/*Background color*/
@bgF1: #F1F1F1;
@bgF2: #F2F2F2;
@bgF7: #F7F7F7;
@bgDarkBlue: #2A3642;
/*Background color END*/