.lists-group
	.wrap-list
		a(href="#").title Акустика
		ul
			li
				a(href="#") Audac 
			li
				a(href="#") Акустические системы
			li
				a(href="#") Микшеры
			li
				a(href="#") Направленный звук
			li
				a(href="#") Провода
			li
				a(href="#") Сабвуферы
			li
				a(href="#") Саунбары
			li
				a(href="#") Усилители


	.wrap-list
		a(href="#").title Бинокли и телескопы
		ul
			li
				a(href="#") Аксессуары
			li
				a(href="#") Бинокли
			li
				a(href="#") Аксессуары
			li
				a(href="#") Бинокли
			li
				a(href="#") Аксессуары
			li
				a(href="#") Бинокли
			li
				a(href="#") Аксессуары
			li
				a(href="#") Бинокли
			li
				a(href="#") Аксессуары
			li
				a(href="#") Бинокли
			li
				a(href="#") Аксессуары
			li
				a(href="#") Бинокли
			li
				a(href="#") Аксессуары
			li
				a(href="#") Бинокли
			li
				a(href="#") Аксессуары
			li
				a(href="#") Бинокли
			li
				a(href="#") Аксессуары
			li
				a(href="#") Бинокли		


	.wrap-list
		a(href="#").title Бумага и плёнка
		ul
			li
				a(href="#") Пленки
			li
				a(href="#") Рулонная бумага
			li
				a(href="#") Фотобумага
			li
				a(href="#") Этикетки

	.wrap-list
		a(href="#").title Дополнительная гарантия Epson Cover Plus

	.wrap-list
		a(href="#").title Кабели интерфейсные
		ul
			li
				a(href="#") Кабели HDMI, DP, DVI 
			li
				a(href="#") Кабели USB, COM, LPT
			li
				a(href="#") Кабели VGA 
			li
				a(href="#") Переходники 

	.wrap-list
		a(href="#").title Компьютеры, ноутбуки, комплектующие
		ul
			li 
				a(href="#") Комплектующие
			li 
				a(href="#") Опции и аксессуары
			li 
				a(href="#") Системные блоки 

	.wrap-list
		a(href="#").title Кронштейны, стойки, держатели
		ul
			li 
				a(href="#") Крепления для видеостен
			li 
				a(href="#") Кронштейны для акустических систем
			li 
				a(href="#") Кронштейны для компьютерных с очень
			li 
				a(href="#") Кронштейны для проекторов с очень длинным названием
			li 
				a(href="#") Крепления для видеостен
			li 
				a(href="#") Кронштейны для акустических систем
			li 
				a(href="#") Кронштейны для компьютерных мониторов с очень длинным названием
			li 
				a(href="#") Кронштейны для проекторов

	.wrap-list
		a(href="#").title Мобильные телефоны

	.wrap-list
		a(href="#").title Мониторы, Дисплеи, Digital Signage
		ul
			li
				a(href="#") Интерактивнные дисплеи 
			li
				a(href="#") Калибраторы 
			li
				a(href="#") Мониторы
			li
				a(href="#") Мониторы
			li
				a(href="#") Мониторы 20"-22"
			li
				a(href="#") Мониторы 23"-25" 
			li
				a(href="#") Мониторы 27" и более 
			li
				a(href="#") Оборудование SMART
			li
				a(href="#") Оборудование для Digital Signage
			li
				a(href="#") Профессиональные дисплеи
			li
				a(href="#") Телевизоры для гостиниц

	.wrap-list
		a(href="#").title Накопители
		ul
			li 
				a(href="#") Карты памяти SD/CF 
			li 
				a(href="#") Накопители SSD
			li 
				a(href="#") Накопители USB

	.wrap-list
		a(href="#").title Офисная техника
		ul
			li 
				a(href="#") Беспроводные телефоны
			li 
				a(href="#") Проводные телефоны
			li 
				a(href="#") Факсы

	.wrap-list
		a(href="#").title Периферийные устройства
		ul
			li 
				a(href="#") Наушники

	.wrap-list
		a(href="#").title Принтеры и МФУ
		ul
			li 
				a(href="#") Матричные с очень длинным названием с очень длинным названием
			li 
				a(href="#") Монохромные лазерные МФУ
			li 
				a(href="#") Монохромные лазерные принтеры
			li 
				a(href="#") Монохромные струйные без СНПЧ
			li 
				a(href="#") Монохромные струйные с СНПЧ 
			li 
				a(href="#") Опции к принтерам с очень длинным названием
			li 
				a(href="#") Принтеры спецназначения
			li 
				a(href="#") Цветные лазерные МФУ с очень длинным названием

	.wrap-list
		a(href="#").title Проекционное оборудование
		ul
			li 
				a(href="#") Видеоочки
			li 
				a(href="#") Документ-камеры
			li 
				a(href="#") Интерактивные доски
			li 
				a(href="#") Интерактивные комплекты
			li 
				a(href="#") Проекторы
			li 
				a(href="#") Экраны


	.wrap-list
		a(href="#").title Расходные материалы
		ul
			li 
				a(href="#") Для лазерных принтеров и МФУ
			li 
				a(href="#") Для матричных принтеров
			li 
				a(href="#") Для принтеров спецназначения
			li 
				a(href="#") Для струйных принтеров и МФУ
			li 
				a(href="#") Для факсов
			li 
				a(href="#") Для широкоформатных принтеров

	.wrap-list
		a(href="#").title Сканеры
		ul
			li 
				a(href="#") Опции к сканерам 
			li 
				a(href="#") Сканеры потоковые
			li 
				a(href="#") Сканеры формата А3
			li 
				a(href="#") Сканеры формата А4 с очень длинным названием

	.wrap-list
		a(href="#").title Спортивные GPS-часы

	.wrap-list
		a(href="#").title Устройства ввода
		ul
			li 
				a(href="#") Клавиатуры с очень длинным названием с очень длинным названием
			li 
				a(href="#") Манипуляторы с очень длинным названием с очень длинным названием

	.wrap-list
		a(href="#").title Фотоаппараты
		ul
			li 
				a(href="#") Опции и аксессуары

				