section.page-banner.img-bg(style="background-image: url('img/banner-corporate-sites-bg.jpg')")
	.container

		.page-banner-content
			.wrap-breadcrumbs.breadcrumbs-yellow
				a(href="index.html") Главная
				span.delimiter /
				a(href="#") Услуги
				span.delimiter /
				a(href="#") Разработка сайтов
				span.delimiter /
				span.cur-page Корпоратвные сайты

			.page-banner-text
				span.banner-title Корпоративные сайты
				p.subtext Равным образом реализация намеченных плановых заданий требуют от<br> нас анализа модели развития. С другой стороны дальнейшее развитие<br> различных форм деятельности способствует подготовки и реализации<br> модели развития.

