section.our-plus.our-plus-sites-single-page.sec-page
	.container
		.our-plus-content

			.wrap-title
				span.title Эффективный сайт-визитка с высокой конверсией
				span.subtitle За наш многолетний опыт в разработке мы накопили богатый багаж <br>знаний, которым мы с радостью готовы с Вами поделиться.
				p.subtext Для успешного запуска проекта необходимо учесть<br> все мелочи и нюансы будущего проекта:

			.wrap-blue-items-circle
				.item
					.wrap-icon
						img.lazyload(data-src="img/card-site-item-1.svg", alt="")
					p.text Прорабатываем Вашу целевую аудиторию, ее желания и приоритеты.

				.item
					.wrap-icon
						img.lazyload(data-src="img/card-site-item-2.svg", alt="")
					p.text Анализируем все сайты ваших конкурентов и определяем их сильные стороны.

				.item
					.wrap-icon
						img.lazyload(data-src="img/card-site-item-3.svg", alt="")
					p.text Сводим к минимуму количество кликов, до конечного действия или результата, которые мы запланировали.

				.item
					.wrap-icon
						img.lazyload(data-src="img/card-site-item-4.svg", alt="")
					p.text Формируем техническое задание на основе всех собранных материалов.

				.item
					.wrap-icon
						img.lazyload(data-src="img/card-site-item-5.svg", alt="")
					p.text Становимся друзьями для вашего пользователя, чтоб у него было желание вернуться вновь.
