section.row-text-block
	.row-text-block-content

		.text-row
			.container
				.text-row-content
					.wrap-img.img-resp
						img.lazyload(data-src="img/corporate-simple-img-1.jpg", alt="")
					.wrap-text
						span.title Почему нужно разработать корпоративный сайт сейчас?
						p Если вы хотите недорого показать информацию о своей компании в интернете, то оптимальным вариантом будет создать корпоративный сайт. Минимальная цена за которую можно заказать изготовление сайта составляет всего 100 BYN.
						p Создание официального корпоративного web сайта предприятия представляет собой оптимальное решение для торгового учреждения или производственной организации. Разработка корпоративного сайта позволит Вам совершенствовать свой бизнес.

		.text-row
			.container
				.text-row-content
					.wrap-img.img-resp
						img.lazyload(data-src="img/corporate-simple-img-2.jpg", alt="")
					.wrap-text
						p Каждая уважающая себя компания стремится не только к увеличению числа прибыли, но и к совершенствованию фирменной имиджевой составляющей. В наши же дни, к ним следует отнести не только рекламу в средствах массовой информации, но и, в первую очередь, корпоративный сайт.
						p Любое заинтересованное в деятельности предприятия лицо, равно как и простой любопытствующий человек, в первую очередь обратится именно к Интернету с намерением найти интересующую его официальную информацию о компании. Конечно, современный сайт компании - это не просто некий набор интернет-страниц с описательной частью, но еще и отличный функционал с определенными возможностями, дополнительный инструмент для реализации главной задачи любого предприятия - повышения эффективности деятельности.
						p Весьма вероятна ситуация, при которой уровень доверия деловых партнеров или покупателей после визита на примитивный сайт компании просто упадет, а что уж рассуждать, если они узнают, что такого web сайта и вовсе нет. В этой связи следует уделить внимание тому, чтобы сайт выглядел пристойно, солидно и стильно. Для этого лучше всего обратиться к специалистам, которые представят вам рекомендации относительно <a href="#">дизайна сайта</a>, его структуры и функциональных возможностей. 