section.time-price.sec-page
	.container
		.time-price-content

			.content-left
				.top
					span.content-left-title Сроки и стоимость работ
					span Процесс разработки занимает:
					em от 2-х месяцев
					span Стоимость разработки под ключ:
					em от 300 BYN
			
				.bottom
					span.content-left-title Применимость
					span Сайт должен приносить владельцу прибыль

			.content-right.wrap-title-mac.wrap-list-point
				span Задачи, которые ставит корпоративный сайт:
				ul
					li самостоятельное и оперативное предоставление сведений потенциальным заказчикам <br> или партнёрам о своих услугах, продукции, сфере деятельности или производственных <br> потребностях;
					li создание определенного имиджа и его укрепление;
					li выведение бизнес процессов компании в автоматический режим;
					li повышение узнаваемости бренда.