section.section-news-month.section.section-gray
	.container

		span.section-title.h-2 Новинки месяца

		.row.align-items-stretch
			.col-12.col-md-6
				.collection-item.index-large-item(style="background-image: url(img/main-img-large-item-1.jpg)")
					.wrap-text
						span.subtitle.h-6 women casual
						span.title.h-3 Колекция<br> Ander Armour
						a(href="#").btn.btn-border Смотреть каталог

			.col-12.col-md-6
				.collection-item.index-large-item(style="background-image: url(img/main-img-large-item-2.jpg)")
					.wrap-text
						span.subtitle.h-6 women casual
						span.title.h-3 Колекция<br> Ander Armour
						a(href="#").btn.btn-border Смотреть каталог

		.row
			.index-products-cards-slider
				.slider.d-flex.align-items-stretch
					.wrap-product-card.wrap-product-card-default
						.product-card.product-not-available.element-shadow-hover
							.label.text-fw-bold.text-small HIT

							a(href="#").wrap-img.product-img
								img(src="img/main-img-card-4.jpg", alt="")

							span.brand.text-small.text-gray #Reebok Sport

							a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor WW

							.bottom-line
								.wrap-price
									span.old-price.text-small.text-gray 141 руб
									span.cur-price.text-fw-bold 172.90 руб.
								.wrap-icon-like.responsive-img
									img(src="img/006-heart.svg", alt="")
										

					.wrap-product-card.wrap-product-card-default
						.product-card.product-action.element-shadow-hover
							.label.text-fw-bold.text-small -30%

							a(href="#").wrap-img.product-img
								img(src="img/main-img-card-1.jpg", alt="")

							span.brand.text-small.text-gray #Reebok Sport

							a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor

							.bottom-line
								.wrap-price
									span.cur-price.text-fw-bold 172.90 руб.
								.wrap-icon-like.responsive-img
									img(src="img/006-heart.svg", alt="")

					.wrap-product-card.wrap-product-card-default
						.product-card.product-action.element-shadow-hover
							.label.text-fw-bold.text-small -30%

							a(href="#").wrap-img.product-img
								img(src="img/main-img-card-2.jpg", alt="")

							span.brand.text-small.text-gray #Reebok Sport

							a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor

							.bottom-line
								.wrap-price
									span.old-price.text-small.text-gray 141 руб
									span.cur-price.text-fw-bold 172.90 руб.
								.wrap-icon-like.responsive-img
									img(src="img/006-heart.svg", alt="")

					.wrap-product-card.wrap-product-card-default
						.product-card.element-shadow-hover
							a(href="#").wrap-img.product-img
								img(src="img/main-img-card-3.jpg", alt="")

							span.brand.text-small.text-gray #Reebok Sport

							a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor

							.bottom-line
								.wrap-price
									span.old-price.text-small.text-gray 141 руб
									span.cur-price.text-fw-bold 172.90 руб.
								.wrap-icon-like.responsive-img
									img(src="img/006-heart.svg", alt="")

				
				.wrap-slider-dots


		.row.justify-content-center.align-items-center
			a(href="#").btn.btn-dark Все новинки




