section.page-banner.page-banner-has-img.img-bg(style="background-image: url('img/banner-ready-corporate-sites-bg.jpg')")
	.container

		.page-banner-content
			.page-banner-text
				.wrap-breadcrumbs.breadcrumbs-yellow
					a(href="index.html") Главная
					span.delimiter /
					a(href="") Услуги
					span.delimiter /
					a(href="") Разработка сайтов
					span.delimiter /
					span.cur-page Готовые решения

				.wrap-text
					span.banner-title Готовые решения
					p.subtext Это полностью готовые сайты (шаблоны), которые одинаково<br> хорошо подходят для компаний с различным профилем<br> деятельности, благодаря своей универсальности.

			.page-banner-img
				.wrap-img.img-resp
					img.lazyload(data-src="img/banner-corporate-site.png", alt="")

