section.sec-tabs
	.container
		.sec-tabs-content

			.top-line
				.wrap-tabs-btn
					a(href="ready-shop-sites.html").btn интернет-магазин / каталог товаров
					a(href="ready-corporate-sites.html").btn.cur-btn Корпоративные сайты / Сайты

			.wrap-ready-items

				.ready-item.ready-item-hot
					.wrap-img.img-resp
						img.lazyload(data-src="img/corporate-site-1.jpg", alt="")

					.ready-item-content
						.top-line

							.top-line-left
								a(href="#").title.link-dark Готовое решение Webcompany длинное название в две строки
									span.accent-word Рекомендуем 
								p.text Один из самых популярных и функциональных интернет-магазинов в две строки
								.wrap-btn.wrap-btn-border
									a(href="").btn Смотреть демо-версию

							.top-line-right
								.wrap-price
									| от
									span.price 2 285 
									| до
									span.price 5 505
									sup BYN
								.wrap-btn.wrap-btn-blue
									button.btn Заказать

						.bottom-line.wrap-list-point.wrap-list-point-dark
							span Описание: 
							ul
								li Адаптивный дизайн 1
								li 2 варианта структуры на набор 2
								li 15 вариантов решений
								li Предусмотрены стандартные инструменты для SEO-оптимизации скорее всего в две строки
								li До 9 возможных компоновок сайта
								li 8 возможных компоновок футера сайта
								li 15 вариантов решений
								li До 9 возможных компоновок сайта

				.ready-item
					.wrap-img.img-resp
						img.lazyload(data-src="img/corporate-site-2.jpg", alt="")

					.ready-item-content
						.top-line

							.top-line-left
								a(href="#").title.link-dark Готовое решение Webcompany длинное название в две строки 
								p.text Один из самых популярных и функциональных интернет-магазинов в две строки
								.wrap-btn.wrap-btn-border
									a(href="").btn Смотреть демо-версию

							.top-line-right
								.wrap-price
									| от
									span.price 2 285 
									| до
									span.price 5 505
									sup BYN
								.wrap-btn.wrap-btn-blue
									button.btn Заказать

						.bottom-line.wrap-list-point.wrap-list-point-dark
							span Описание: 
							ul
								li Адаптивный дизайн 1
								li 2 варианта структуры на набор 2
								li 15 вариантов решений
								li Предусмотрены стандартные инструменты для SEO-оптимизации
								li До 9 возможных компоновок сайта
								li 8 возможных компоновок футера сайта
								li 15 вариантов решений
								li До 9 возможных компоновок сайта

				.ready-item
					.wrap-img.img-resp
						img.lazyload(data-src="img/corporate-site-3.jpg", alt="")

					.ready-item-content
						.top-line

							.top-line-left
								a(href="#").title.link-dark Готовое решение Webcompany длинное название в две строки 
								p.text Один из самых популярных и функциональных интернет-магазинов в две строки
								.wrap-btn.wrap-btn-border
									a(href="").btn Смотреть демо-версию

							.top-line-right
								.wrap-price
									| от
									span.price 2 285 
									| до
									span.price 5 505
									sup BYN
								.wrap-btn.wrap-btn-blue
									button.btn Заказать

						.bottom-line.wrap-list-point.wrap-list-point-dark
							span Описание: 
							ul
								li Адаптивный дизайн 1
								li 2 варианта структуры на набор 2
								li 15 вариантов решений
								li Предусмотрены стандартные инструменты для SEO-оптимизации
								li До 9 возможных компоновок сайта
								li 8 возможных компоновок футера сайта
								li 15 вариантов решений
								li До 9 возможных компоновок сайта

				.ready-item
					.wrap-img.img-resp
						img.lazyload(data-src="img/corporate-site-4.jpg", alt="")

					.ready-item-content
						.top-line

							.top-line-left
								a(href="#").title.link-dark Готовое решение Webcompany длинное название в две строки 
								p.text Один из самых популярных и функциональных интернет-магазинов в две строки
								.wrap-btn.wrap-btn-border
									a(href="").btn Смотреть демо-версию

							.top-line-right
								.wrap-price
									| от
									span.price 2 285 
									| до
									span.price 5 505
									sup BYN
								.wrap-btn.wrap-btn-blue
									button.btn Заказать

						.bottom-line.wrap-list-point.wrap-list-point-dark
							span Описание: 
							ul
								li Адаптивный дизайн 1
								li 2 варианта структуры на набор 2
								li 15 вариантов решений
								li Предусмотрены стандартные инструменты для SEO-оптимизации
								li До 9 возможных компоновок сайта
								li 8 возможных компоновок футера сайта
								li 15 вариантов решений
								li До 9 возможных компоновок сайта