form.form-feedback
  label.form-feedback__wrap-field
    input.form-feedback__field(type="text" name="name" placeholder="Имя" aria-label="Имя")

  label.form-feedback__wrap-field
    input.form-feedback__field(type="tel" name="phone" placeholder="Телефон" aria-label="Телефон")

  button.btn.form-feedback__btn
    img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
    img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
    span.btn__text Отправить
