.page-portfolio
	background-color: #fff
	padding-bottom: 65px

	.wrap-slider
		&-bottom
			margin-top: -115px
		&:hover
			z-index: 9

	.swiper-wrapper
		padding-bottom: 120px

	.wrap-items
		margin-bottom: -120px

	.wrap-btn
		margin-top: 140px


+media(xl)
	.page-portfolio
		padding-bottom: 70px !important

+media(lg)
	.page-portfolio
		padding-bottom: 50px !important
			
		.wrap-slider
			&-bottom
				margin-top: 0
			&:hover
				z-index: 1

		.swiper-wrapper
			padding-bottom: 0

		.wrap-items
			margin-bottom: 0

		.wrap-btn
			margin-top: 40px

+media(md)
	.page-portfolio

		.wrap-btn
			margin-top: 30px
