.page-portfolio
	background-color: #fff
	padding-bottom: 65px

	.slider-title
		display: block
		text-align: center
		margin: 40px auto 30px
		font-size: 2rem
		line-height: 2.6rem
		color: #000
		font-family: Ubuntu
		font-weight: 300
		&-top
			margin-top: 0


	.wrap-btn
		margin-top: 50px


+media(xl)
	.page-portfolio
		padding-bottom: 70px !important

+media(lg)
	.page-portfolio
		padding-bottom: 50px !important
			
		.wrap-slider
			&-bottom
				margin-top: 0
			&:hover
				z-index: 1

		.swiper-wrapper
			padding-bottom: 0

		.wrap-items
			margin-bottom: 0

		.wrap-btn
			margin-top: 30px

+media(md)
	.page-portfolio

		.wrap-btn
			margin-top: 30px

		.slider-title
			margin: 20px auto
			font-size: 1.7rem
			line-height: 2.2rem

+media(sm)
	.page-portfolio
		font-size: 1.15rem
		line-height: 1.3rem
		.slider-title
			br
				display: none

