.container
	.wrap-page-title
		span.h2.title НАШЕ ПОРТФОЛИО

section.portfolio.section.section-white.bg-elements.bg-elements(style="background-image: url('img/bg-elements-6.svg')")
	.container
		include ../../modules/cards/portfolio/cards-types/item-dropdown-angle

		.wrap-btn
			span.btn.btn-red Смотреть больше


