footer.footer
	.container

		.row.no-gutters.footer-top
			.footer-col.footer-col-logo
				a(href="index.html").wrap-logo.responsive-img
					img(src="img/logo-footer.png", alt="")

				p.copyright © Интернет-магазин спортивных<br> брендов «СпортАутлет», 2018

			.footer-col.footer-col-support
				span.footer-col_title.text-small.text-fw-bold Помощь
				ul
					li
						a(href="#") Оформление заказа
					li
						a(href="#") Статус заказ
					li
						a(href="#") Доставка и оплата
					li
						a(href="#") Возврат

			.footer-col.footer-col-info
				span.footer-col_title.text-small.text-fw-bold Информация
				ul
					li
						a(href="#") Политика конфиденциальности
					li
						a(href="#") Таблица размеров
					li
						a(href="#") Уход за товаром

			.footer-col.footer-col-contacts
				span.footer-col_title.text-small.text-fw-bold Контакты
				a(href="tel:375291906669") +375(29)190-66-69
				a(href="mailto:info@sportgoods.by") info@sportgoods.by

			.footer-col.footer-col-social
				.footer-social-row
					a(href="#")
						img(src="img/inst.svg", alt="")
					a(href="#")
						img(src="img/vk.svg", alt="")
					a(href="#")
						img(src="img/fb.svg", alt="")
				span.dev-company.text-medium Разработка и продвижение<br> сайта - Sivenkov

		.row.no-gutters.footer-bottom
			span.info.text-small Владелец сайта ООО «Спорт Аутлет»  зарегестрирован в Торговом<br> реестре РБ 16.03.2017 Гос. регистрация №192663122, 30.12.2010,<br> Администрация Центрального района г. Минска

			.wrap-payment-methods
				span Принимаем к оплате:

				.row-payment-methods
					.payment-method
						img(src="img/003-visa-pay-logo.svg", alt="")

					.payment-method
						img(src="img/004-master-card-logo.svg", alt="")

					.payment-method
						img(src="img/005-maestro-pay-logo.svg", alt="")

					.payment-method
						img(src="img/004-master-card-logo.svg", alt="")

					.payment-method
						img(src="img/belc.svg", alt="")





