.swiper-container
	overflow-x: hidden !important

.wrap-slider
	position: relative

	.swiper-wrapper
		display: flex
		align-items: stretch

.wrap-item
	width: 100%
	height: auto

+media(xl)

+media(lg)

+media(md)

+media(sm)
	.wrap-slider
		width: calc(100% - 30px)
