.h1
	font-size: 2.77rem
	line-height: 3.16rem

.h2
	font-size: 2.22rem
	line-height: 3rem

.h3
	font-size: 1.88rem
	line-height: 1.84rem

.h4
	font-size: 1.44rem
	line-height: 1.77rem

.h5
	font-size: 1.44rem
	line-height: 1.77rem

.h6
	font-size: 1rem
	line-height: 1.3rem

.small-text
	font-size: .88rem
	line-height: 1.2rem


+media(xl)

+media(lg)
	.h1
		font-size: 2.4rem
		line-height: 2.8rem

	.h2
		font-size: 2rem
		line-height: 2.6rem

	.h4
		font-size: 1.3rem
		line-height: 1.6rem



+media(md)
	.h2
		font-size: 1.8rem
		line-height: 2.2rem


+media(sm)
	.h1
		font-size: 2.1rem
		line-height: 2.5rem

	.h2
		font-size: 1.5rem
		line-height: 2rem

	.h3
		line-height: 2.2rem

	.h4
		font-size: 1.1rem
		line-height: 1.4rem

