.wrap-basket-product-list
	ul.element-shadow-static

		li.wrap-product-card.wrap-product-card-large
			.product-card.product-action
				.wrap-img.product-img.product-img-border
					img(src="img/main-img-card-4.jpg", alt="")
		
					span.btn-remove.text-small.text-fw-bold.d-block.d-sm-none Удалить

					.label.text-fw-bold.text-small -30%

					.wrap-icon-like.responsive-img
						img(src="img/006-heart.svg", alt="")

				.wrap-data
					span.brand.d-inline-block.text-gray.text-fw-bold.text-small #Reebok Classic Leather

					a(href="#").product-name.text-fw-bold Спортивная футболка Activchil Graphic Move

					.wrap-card-info
						span Материал:
							em кожа
						span Цвет:
							em синий
						span Артикул:
							em D93810

				.wrap-product-count
					span.text-last-count.text-medium.text-red Остался последний размер
							
				.wrap-price
					span.old-price.text-small.text-gray 278 руб.
					span.cur-price.text-fw-bold 250.20 руб.
					span.multi-price.text-small.text-gray 2 шт. x 111.10 руб.

				span.btn-remove.text-small.text-fw-bold.d-none.d-sm-block Удалить


		li.wrap-product-card.wrap-product-card-large
			.product-card
				.wrap-img.product-img.product-img-border
					img(src="img/main-img-card-3.jpg", alt="")
					
					span.btn-remove.text-small.text-fw-bold.d-block.d-sm-none Удалить

					.wrap-icon-like.liked.responsive-img
						img(src="img/006-heart.svg", alt="")
			
				.wrap-data
					span.brand.d-inline-block.text-gray.text-fw-bold.text-small #Reebok Classic Leather

					a(href="#").product-name.text-fw-bold Спортивная футболка Activchil Graphic Move

					.wrap-card-info
						span Материал:
							em кожа
						span Цвет:
							em синий
						span Артикул:
							em D93810

				.wrap-product-count
					.wrap-count-field
						.btn-counter.btn-counter-less
						input.field-cut-letters(type="text", value="1", maxlength="3")
						.btn-counter.btn-counter-plus
						
				.wrap-price
					span.cur-price.text-fw-bold 250.20 руб.

				span.btn-remove.text-small.text-fw-bold.d-none.d-sm-block Удалить


		li.wrap-product-card.wrap-product-card-large
			.product-card
				.wrap-img.product-img.product-img-border
					img(src="img/main-img-card-2.jpg", alt="")
		
					span.btn-remove.text-small.text-fw-bold.d-block.d-sm-none Удалить

					.wrap-icon-like.responsive-img
						img(src="img/006-heart.svg", alt="")
				
				.wrap-data
					span.brand.d-inline-block.text-gray.text-fw-bold.text-small #Reebok Classic Leather

					a(href="#").product-name.text-fw-bold Спортивная футболка Activchil Graphic Move

					.wrap-card-info
						span Материал:
							em кожа
						span Цвет:
							em синий
						span Артикул:
							em D93810

				.wrap-product-count
					.wrap-count-field
						.btn-counter.btn-counter-less
						input.field-cut-letters(type="text", value="1", maxlength="3")
						.btn-counter.btn-counter-plus
						
				.wrap-price
					span.old-price.text-small.text-gray 278 руб.
					span.cur-price.text-fw-bold 250.20 руб.

				span.btn-remove.text-small.text-fw-bold.d-none.d-sm-block Удалить


