.delivery-payment__content-top
  .delivery-payment__content-top-timework
    h2.title-2 График работы
    p <em>Самовывоз:</em>
    p Пн-Пт 9.00-17.00
    br
    p <em>Прием заказов через <a href="#">форму</a>:</em>
    p Круглосуточно
    br
    p <em>Расчет заказов:</em>
    p Пн-Пт 9.00-17.00
    br
    p <em>Прием звонков:</em>
    p Пн-Пт 9.00-21.00

    span.title-2 График доставки
    p <em>Минск:</em>
    p Пн-Пт 18.00-21.00 (легковое авто)
    br
    p Пн-Пт 9.00 – 18.00 (грузовое авто)
    br
    p Время доставки может быть оговорено
    br
    p <em>Беларусь:</em>
    p Пн-Пт 8.00-17.00


  .delivery-payment__content-top-delivery
    h2.title-2 <em>стоимость</em> доставки
    em Доставка по Минску до МКАД+м.Уручье:
    br
    p 7.5 руб при сумме услуги меньше 50 руб (легковое авто)
    br
    p Бесплатно при сумме услуги больше 50 руб (легковое авто)
    br
    p 30-40 руб (грузовое авто)
    br
    p *услуга не включает в себя стоимость материала
    br
    br
    em Доставка по РБ:
    br
    p Заказ услуги от 200 руб. — бесплатно
    br
    p Заказ услуги от 101 до 199 руб. — 5 руб.
    br
    p Заказ услуги от 51 до 100 руб. — 10 руб
    br
    p Заказ услуги до 50 руб — 15 руб.
    br
    br
    p *услуга не включает в себя стоимость материала
    p **цены указаны ориентировочные, точные цены рассчитываются на каждый заказ отдельно

