.order-delivery__preview-page.preview-page

	.preview-page__wrap-title
		h1.preview-page__title Order & Delivery
	
	.preview-page__text
		h2.preview-page__text-title Order
		p Once you have received a quotation from us (call or email our office to arrange), and you would like to proceed, you will need the following to place your order formerly:
