
.page-password-registration{
	padding-bottom: 60px;

	&-content{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		border: 1px solid #EAEAEA;

		> div {
			width: 100%;
			-ms-align-items: stretch;
			align-items: stretch;
		}

		.wrap-groups-fields{
			padding: 25px 25px 40px;
		}
	}
	
}


@media (min-width: 1260px) {

}

@media (max-width: 1259px) {
	.page-password-registration{
		&-content{
			flex-wrap: wrap;

			.wrap-groups-fields{
				order: 2;
				border-top: 1px solid #eaeaea;
			}
		}
	}
}

@media (max-width: 991px) {
	
}

@media (max-width: 767px) {
	.page-password-registration{
		&-content{
			.wrap-groups-fields{
				padding: 20px;
			}
		}
	}
}

@media (max-width: 575px) {
	.page-password-registration{
		padding-bottom: 40px;

		&-content{
			.wrap-groups-fields{
				padding: 15px 15px 30px;
			}
		}
	}
}



