.wrap-tags
	ul
		li 
			a(href="#").tag.cur-tag Все
		li 
			a(href="#").tag Lego Education
		li 
			a(href="#").tag Next Level
		li 
			a(href="#").tag Видео
		li 
			a(href="#").tag Pentax
		li 
			a(href="#").tag Lego Education
		li 
			a(href="#").tag Next Level
		li 
			a(href="#").tag Видео
		li 
			a(href="#").tag Pentax
		li 
			a(href="#").tag Lego Education
		li 
			a(href="#").tag Next Level
		li 
			a(href="#").tag Видео
		li 
			a(href="#").tag Pentax
		li 
			a(href="#").tag Lego Education
		li 
			a(href="#").tag Next Level
		li 
			a(href="#").tag Видео
		li 
			a(href="#").tag Pentax
		li 
			a(href="#").tag Lego Education
		li 
			a(href="#").tag Next Level
		li 
			a(href="#").tag Видео
