@import "../../../less/common/vars";

.posts-articles{
	
	.wrap-tags{
		background-color: @bgF1;
		padding: 25px 10px 10px;
		margin-bottom: 30px;

		ul{
			ul{
				display: none;
			}
		}

		li{
			margin: 0 7.5px 15px 7.5px;
			display: inline-block;
		}

		a{
			color: @textGray;
			transition: .3s all ease;
			padding: 5px 12px;
			border-radius: 3px;
			display: block;
			background-color: #fff;

			&:hover:not(.cur-tag){
				box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
				color: @textDark;
			}
		}

		.cur-tag{
			background-color: @blue;
			color: #fff;
		}

		.wrap-btns-control{
			margin-left: auto;
			margin-right: auto;
			display: block;
			width: 100%;

			.btn-list{
				display: none;
				margin-left: auto;
				margin-right: auto;
				text-align: center;

				svg{
					margin-left: 6px;
					margin-top: 3px;
					height: auto;
					width: 5px;
				}
			}
			
			.btn-show{
				svg{
					-webkit-transform: rotate(90deg);
					-moz-transform: rotate(90deg);
					-ms-transform: rotate(90deg);
					-o-transform: rotate(90deg);
					transform: rotate(90deg);
				}
			}

			.btn-hide{
				svg{
					-webkit-transform: rotate(-90deg);
					-moz-transform: rotate(-90deg);
					-ms-transform: rotate(-90deg);
					-o-transform: rotate(-90deg);
					transform: rotate(-90deg);
				}
			}

			.btn-active{
				display: block;
			}
		}
	}

}

@media (min-width: 1260px) {

}

@media (max-width: 1259px) {
	.posts-articles{
		.wrap-tags{
			margin-bottom: 0px;
		}
	}
}

@media (max-width: 991px) {
	.posts-articles{
		.wrap-tags{
			padding: 20px 10px 10px;
			font-size: 12px;

			li{
				margin: 0 6px 12px;
			}

			.tag:hover:not(.cur-tag){
				-webkit-box-shadow: none;
				box-shadow: none;
			}
		}
	}
}

@media (max-width: 767px) {
	.posts-articles{
		
	}
}

@media (max-width: 575px) {
	.posts-articles{
		.wrap-tags{
			margin: 0 -15px;
		}
	}
}

