.footer
	margin-top: auto
	padding-top: 105px
	position: relative
	color: #fff

	&-bg
		width: 100%
		height: auto
		display: block
		position: relative
		bottom: -2px
		&-mobile
			display: none

	&-content
		background-color: #E3503C

	.wrap-img
		padding-right: 125px

	&-top, &-bottom
		display: flex
		> *
			width: 50%

	&-top-text
		.title
			font-size: 72px
			line-height: 77px
			width: 100%
			display: block
			margin-bottom: 75px

		.wrap-text
			display: flex
			align-items: center

		.text
			font-size: 30px
			line-height: 36px
			font-family: "OpenR"
			&:last-child
				margin-left: auto
	
	&-bottom
		border-top: 1px solid rgba(255,255,255,.3)
		margin-top: -30px
		font-size: 23px
		line-height: 28px
		padding: 40px 0
		&-text
			display: flex
			flex-wrap: wrap
			a
				margin-right: 35px
				&:last-child
					width: 100%
					margin-top: 10px
					margin-right: 0px


@media (max-width: 1440px)
	.footer
		padding-top: 100px
		
		.wrap-img
			

		&-top-text
			.title
				font-size: 66px
				line-height: 73px
				margin-bottom: 60px
			.text
				font-size: 24px
				line-height: 32px
					
		&-bottom
			font-size: 18px
			line-height: 26px


@media (max-width: 1290px)
	.footer
		padding-top: 60px
		&-bg
			&-desktop
				display: none
			&-mobile
				display: block
		&-content
			padding-top: 0px
		.wrap-img
			padding: 0
		&-top, &-bottom
			padding: 0 25px
			display: block
			> *
				width: 100%
		&-top
			padding-bottom: 50px
			&-text
				.title
					font-size: 70px
				.text
					width: 37%
					font-size: 30px
					line-height: 37px
					&:last-child
						margin-left: 75px
				br
					display: none
		&-bottom
			margin-top: 0
			padding: 50px 25px
			font-size: 24px
			line-height: 32px
			.copyright
				margin-bottom: 30px
				display: block
			.col:last-child
				padding-left: 35px


@media (max-width: 768px)
	.footer
		.wrap-img
			width: 80%
			margin-right: auto
			margin-left: auto
		&-top, &-bottom
			padding: 0
		&-top
			padding-bottom: 50px
			&-text
				padding: 0
		&-bottom
			padding: 50px 0


@media (max-width: 576px)
	.footer
		text-align: center
		&-top, &-bottom
			padding: 0 15px
		.wrap-img
			max-width: 270px
			width: 100%
			margin-bottom: 25px
		&-top
			padding-bottom: 30px
			&-text
				padding-right: 0
				
				.title
					font-size: 40px
					line-height: 46px
					margin-bottom: 25px
				.text
					width: 100%
					font-size: 16px
					line-height: 22px
					margin: 0 10px
					&:last-child
						margin: 0 10px

		&-bottom
			padding: 30px 0
			font-size: 14px
			line-height: 22px
			&-text
				justify-content: center
				a
					margin: 0 10px
					&:last-child
						margin: 10px 10px 0px
			.copyright
				margin-bottom: 12px
			.col:last-child
				padding-left: 0px






