footer.footer
	img.footer-bg.footer-bg-desktop(src="img/footer-bg-desktop.png", alt="")
	img.footer-bg.footer-bg-mobile(src="img/footer-bg-mobile.png", alt="")

	.footer-content
		.container
			.footer-top
				.wrap-img.img-resp
					img(src="img/kinder-2.png", alt="")
				.footer-top-text
					span.title В акции<br> учавствуют:
					.wrap-text
						span.text Kinder® Chocolate<br> 4 порции
						span.text Kinder® Chocolate<br> 8 порций
				
			.footer-bottom
				span.copyright © Ferrero 2019 − All rights reserved
				.footer-bottom-text
					a(href="#", target="_blank") Правила участия
					a(href="#", target="_blank") Обратная связь
					a(href="#", target="_blank") Политика в отношении обработки персональных данных
					
