@import "../../../less/common/vars";

.posts-articles-catalog-page{
	background-color: @bgF7;
	padding-top: 46px;
	padding-bottom: 60px;

	.sec-title{
		font-family: "RobMed";
		line-height: 26px;
		font-size: 18px;
		display: block;
		margin-bottom: 4px;
	}

	.pagination{
		margin-bottom: 0;
	}
}

@media (min-width: 1260px) {

}

@media (max-width: 1259px) {

}

@media (max-width: 991px) {
	.posts-articles-catalog-page{
		padding: 35px 0 40px;

		.wrap-posts{
			padding-top: 15px;
			padding-bottom: 5px;
		}
	}
}

@media (max-width: 767px) {

}

@media (max-width: 575px) {
	.posts-articles-catalog-page{
		padding: 25px 0 40px;

		.sec-title{
			font-size: 16px;
		}

		.wrap-posts{
			padding: 10px 0 25px;
		}
	}
}

