section.testimonials.section.section-white
	.container
		
		.page-titles
			span.h2.title.title-decor Отзывы о нас

		.wrap-items
			.wrap-slider
				
				.slider.swiper-container
					.swiper-wrapper
						.wrap-item.swiper-slide
							.item
								.wrap-video
									span.video-url https://www.youtube.com/watch?v=6mPKyH2FvY0

								span.h6.color-title.person-name Евгений Кузнецов
								span.small-text.color-subtext.company-name Компания FireSEO
								
						.wrap-item.swiper-slide
							.item
								.wrap-video
									span.video-url https://www.youtube.com/watch?v=6mPKyH2FvY0

								span.h6.color-title.person-name Евгений Кузнецов
								span.small-text.color-subtext.company-name Компания FireSEO

						.wrap-item.swiper-slide
							.item
								.wrap-video
									span.video-url https://www.youtube.com/watch?v=6mPKyH2FvY0

								span.h6.color-title.person-name Евгений Кузнецов
								span.small-text.color-subtext.company-name Компания FireSEO

						.wrap-item.swiper-slide
							.item
								.wrap-video
									span.video-url https://www.youtube.com/watch?v=6mPKyH2FvY0

								span.h6.color-title.person-name Евгений Кузнецов
								span.small-text.color-subtext.company-name Компания FireSEO
								
						.wrap-item.swiper-slide
							.item
								.wrap-video
									span.video-url https://www.youtube.com/watch?v=6mPKyH2FvY0

								span.h6.color-title.person-name Евгений Кузнецов
								span.small-text.color-subtext.company-name Компания FireSEO

						.wrap-item.swiper-slide
							.item
								.wrap-video
									span.video-url https://www.youtube.com/watch?v=6mPKyH2FvY0

								span.h6.color-title.person-name Евгений Кузнецов
								span.small-text.color-subtext.company-name Компания FireSEO


				.wrap-slider-arrows.wrap-arrows-angles
					.button-prev
						<svg width="21" height="41" viewBox="0 0 21 41" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M20.0122 0L0 20.0122L20.0122 40.0244V28.7662L11.2582 20.0122L20.0122 11.2582V0Z" fill="#501E50"/>
						</svg>

					.button-next
						<svg width="21" height="41" viewBox="0 0 21 41" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M0 40.0244L20.0122 20.0122L0 0V11.2582L8.75396 20.0122L0 28.7662V40.0244Z" fill="#501E50"/>
						</svg>


