.container {
  margin: 0 auto;
  padding: 0 75px;
  width: 100%;
  max-width: 1600px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-size: 24px;
  overflow-x: hidden;
}

body {
  min-width: 320px;
  position: relative;
  line-height: 35px;
  min-height: 100vh;
  color: #000;
  font-family: "Montserrat-Regular";
  padding-top: 90px;
}

::-moz-selection {
  background-color: #17A5F4;
  color: #fff;
}

::selection {
  background-color: #17A5F4;
  color: #fff;
}

/* -- Typography BEGIN -- */

.text-black {
  font-family: "Montserrat-Black";
}

.text-ex-bold {
  font-family: "Montserrat-ExtraBold";
}

.text-bold {
  font-family: "Montserrat-Bold";
}

.text-semibold {
  font-family: "Montserrat-SemiBold";
}

.text-medium {
  font-family: "Montserrat-Medium";
}

.text-white-color {
  color: #fff;
}

.text-accent-color {
  color: #17A5F4;
}

.title-h1,
h1 {
  font-size: 2.66667rem;
  line-height: 3.25rem;
  font-family: "Montserrat-Bold";
}

.title-h2,
h2 {
  font-size: 1.5rem;
  line-height: 1.83333rem;
  font-family: "Montserrat-SemiBold";
}

.link {
  display: inline-block;
  color: #17A5F4;
  text-decoration: none;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.link:hover {
  color: #0978b6;
}

.link_line {
  position: relative;
}

.link_line:before {
  content: '';
  position: absolute;
  top: -webkit-calc(100% + 2px);
  top: calc(100% + 2px);
  right: 0;
  height: 2px;
  width: 100%;
  background-color: #17A5F4;
  -webkit-transition: 0.3s all cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: 0.3s all cubic-bezier(0.86, 0, 0.07, 1);
  transition: 0.3s all cubic-bezier(0.86, 0, 0.07, 1);
}

.link_line:hover:before {
  width: 0%;
}

/* -- Typography END -- */

/* -- Buttons BEGIN -- */

.btn {
  font-family: "Montserrat-SemiBold";
  background-color: #17A5F4;
  font-size: 24px;
  line-height: 1em;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  padding: 0.9em 1.66667em;
  display: inline-block;
  position: relative;
  -webkit-transition: .3s background-color ease;
  -o-transition: .3s background-color ease;
  transition: .3s background-color ease;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
}

.btn:hover:before {
  color: #fff;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  opacity: 1;
}

.btn:hover .btn__overlay {
  -webkit-transform: translate3d(10%, 0, 0) skew(-20deg);
  transform: translate3d(10%, 0, 0) skew(-20deg);
  opacity: 1;
}

.btn:hover .btn__text {
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  opacity: 0;
}

.btn:before,
.btn__text {
  -webkit-transition: opacity .25s ease, -webkit-transform .25s ease;
  transition: opacity .25s ease, -webkit-transform .25s ease;
  -o-transition: opacity .25s ease, transform .25s ease;
  transition: opacity .25s ease, transform .25s ease;
  transition: opacity .25s ease, transform .25s ease, -webkit-transform .25s ease;
  z-index: 1;
  display: inline-block;
}

.btn:before {
  content: attr(data-text);
  position: absolute;
  -webkit-transform: translate3d(50%, 0, 0);
  transform: translate3d(50%, 0, 0);
  opacity: 0;
}

.btn__overlay {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 140%;
  -webkit-transform: translate3d(100%, 0, 0) skew(0deg);
  transform: translate3d(100%, 0, 0) skew(0deg);
  background-color: #0a8ed8;
  opacity: 0;
  -webkit-transition: opacity .3s ease,-webkit-transform .5s ease;
  transition: opacity .3s ease,-webkit-transform .5s ease;
  -o-transition: transform .5s ease,opacity .3s ease;
  transition: transform .5s ease,opacity .3s ease;
  transition: transform .5s ease,opacity .3s ease,-webkit-transform .5s ease;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: block;
}

.btn__text {
  font-size: 1em;
}

/* -- Buttons END -- */

/* -- Common elements BEGIN -- */

html.page-fixed {
  overflow: hidden;
}

body.page-fixed {
  overflow-y: scroll;
}

.responsive-image img,
.responsive-image svg {
  display: block;
  width: 100%;
  height: auto;
}

.lazy {
  -webkit-transition: .6s opacity ease;
  -o-transition: .6s opacity ease;
  transition: .6s opacity ease;
  opacity: 0;
}

.lazy.loaded {
  opacity: 1;
}

.highlighted-text {
  background-color: #17A5F4;
  color: #fff;
  padding: 0 8px;
  line-height: 3.45833rem;
}

.width-1-2 {
  width: 50%;
}

.first-section {
  padding: 3.45833rem 0 0;
}

.section-title {
  display: block;
}

.section-blue {
  color: #fff;
  background: -webkit-linear-gradient(181.9deg, #17A5F4 19.46%, #0484A9 148.2%);
  background: -o-linear-gradient(181.9deg, #17A5F4 19.46%, #0484A9 148.2%);
  background: linear-gradient(268.1deg, #17A5F4 19.46%, #0484A9 148.2%);
}

.d-inline-block-1500 {
  display: none !important;
}

.d-inline-block-xxl {
  display: none !important;
}

.d-inline-block-480 {
  display: none !important;
}

.d-none {
  display: none !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

/* -- Common elements END -- */

/* -- Header BEGIN -- */

.header {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 10;
  height: 90px;
  background-color: #fff;
}

.header__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 75px;
  position: relative;
  height: 90px;
  width: 100%;
  z-index: 10;
}

.header__wrap-logo {
  max-width: 135px;
}

.header__menu-btn {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  height: 40px;
  position: relative;
}

.header__menu-btn-line {
  height: 4px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  right: 0;
  background-color: #000000;
  -webkit-transition: 1.1s all cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: 1.1s all cubic-bezier(0.86, 0, 0.07, 1);
  transition: 1.1s all cubic-bezier(0.86, 0, 0.07, 1);
}

.header__menu-btn-line_first {
  width: 100%;
  top: -webkit-calc(50% - 5px);
  top: calc(50% - 5px);
}

.header__menu-btn-line_second {
  width: 70%;
  top: -webkit-calc(50% + 5px);
  top: calc(50% + 5px);
}

.header__menu-btn_active .header__menu-btn-line {
  width: 100%;
  top: 50%;
  background-color: #fff;
}

.header__menu-btn_active .header__menu-btn-line_first {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header__menu-btn_active .header__menu-btn-line_second {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header__menu-btn:hover > span {
  width: 100%;
}

.header__menu-btn_disabled {
  pointer-events: none;
}

.header {
  -webkit-transition: 0.6s height ease 0.35s, 0s -webkit-transform ease, 0.6s -webkit-box-shadow ease;
  transition: 0.6s height ease 0.35s, 0s -webkit-transform ease, 0.6s -webkit-box-shadow ease;
  -o-transition: 0.6s height ease 0.35s, 0s transform ease, 0.6s box-shadow ease;
  transition: 0.6s height ease 0.35s, 0s transform ease, 0.6s box-shadow ease;
  transition: 0.6s height ease 0.35s, 0s transform ease, 0.6s box-shadow ease, 0s -webkit-transform ease, 0.6s -webkit-box-shadow ease;
  position: absolute;
  z-index: 999;
}

.header_scroll {
  position: fixed;
  top: auto;
  bottom: 100%;
  background-color: #fff;
  -webkit-transform: translate3d(0, 0%, 0);
  transform: translate3d(0, 0%, 0);
  -webkit-transition: 0.6s height ease 0.35s, 0.6s -webkit-transform ease, 0.6s -webkit-box-shadow ease;
  transition: 0.6s height ease 0.35s, 0.6s -webkit-transform ease, 0.6s -webkit-box-shadow ease;
  -o-transition: 0.6s height ease 0.35s, 0.6s transform ease, 0.6s box-shadow ease;
  transition: 0.6s height ease 0.35s, 0.6s transform ease, 0.6s box-shadow ease;
  transition: 0.6s height ease 0.35s, 0.6s transform ease, 0.6s box-shadow ease, 0.6s -webkit-transform ease, 0.6s -webkit-box-shadow ease;
}

.header_scroll.header_active {
  height: 100%;
}

.header_scroll-show {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* -- Header END -- */

/* -- Preloader BEGIN -- */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: -webkit-linear-gradient(208.37deg, #13405E 9.24%, #213C4D 95.22%);
  background: -o-linear-gradient(208.37deg, #13405E 9.24%, #213C4D 95.22%);
  background: linear-gradient(241.63deg, #13405E 9.24%, #213C4D 95.22%);
  z-index: 9999;
}

.preloader_hide {
  opacity: 0;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: .6s all ease 1s;
  -o-transition: .6s all ease 1s;
  transition: .6s all ease 1s;
  pointer-events: none;
}

.preloader__wrap-logo {
  width: 50%;
}

.preloader__logo-img {
  display: block;
  height: 60vmin;
  width: 100%;
}

.preloader__logo-img path {
  -webkit-transition: fill-opacity .5s ease;
  -o-transition: fill-opacity .5s ease;
  transition: fill-opacity .5s ease;
}

.preloader__logo-img.fill-show {
  -webkit-transition: .8s opacity ease 1.4s, .5s filter ease;
  -o-transition: .8s opacity ease 1.4s, .5s filter ease;
  transition: .8s opacity ease 1.4s, .5s filter ease;
  opacity: 0;
  -webkit-animation: myAnimation 1.5s ease forwards;
  animation: myAnimation 1.5s ease forwards;
}

.preloader__logo-img.fill-show path {
  fill-opacity: 1;
}

@-webkit-keyframes myAnimation {
  0% {
    -webkit-filter: drop-shadow(0px 4px 50px rgba(255, 255, 255, 0));
    filter: drop-shadow(0px 4px 50px rgba(255, 255, 255, 0));
  }

  10% {
    -webkit-filter: drop-shadow(0px 4px 50px rgba(255, 255, 255, 0.4));
    filter: drop-shadow(0px 4px 50px rgba(255, 255, 255, 0.4));
  }

  70% {
    -webkit-filter: drop-shadow(0px 4px 50px rgba(255, 255, 255, 0.4));
    filter: drop-shadow(0px 4px 50px rgba(255, 255, 255, 0.4));
  }

  100% {
    -webkit-filter: drop-shadow(0px 4px 50px rgba(255, 255, 255, 0));
    filter: drop-shadow(0px 4px 50px rgba(255, 255, 255, 0));
  }
}

@keyframes myAnimation {
  0% {
    -webkit-filter: drop-shadow(0px 4px 50px rgba(255, 255, 255, 0));
    filter: drop-shadow(0px 4px 50px rgba(255, 255, 255, 0));
  }

  10% {
    -webkit-filter: drop-shadow(0px 4px 50px rgba(255, 255, 255, 0.4));
    filter: drop-shadow(0px 4px 50px rgba(255, 255, 255, 0.4));
  }

  70% {
    -webkit-filter: drop-shadow(0px 4px 50px rgba(255, 255, 255, 0.4));
    filter: drop-shadow(0px 4px 50px rgba(255, 255, 255, 0.4));
  }

  100% {
    -webkit-filter: drop-shadow(0px 4px 50px rgba(255, 255, 255, 0));
    filter: drop-shadow(0px 4px 50px rgba(255, 255, 255, 0));
  }
}

/* -- Preloaderr END -- */

/* -- Form elements BEGIN -- */

input:focus:required:invalid,
textarea:focus:required:invalid {
  border: none;
}

input:required:valid,
input:required:invalid,
textarea:required:valid,
textarea:required:invalid {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

[disabled] {
  cursor: not-allowed;
}

/* -- Form elements END -- */

/* -- Menu BEGIN -- */

.menu {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 0;
  right: 0;
  left: 0;
  z-index: 8;
  background-color: #fff;
}

.menu .contianer {
  height: 100%;
}

.menu-content {
  z-index: 1;
  margin-top: 4vh;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu-content__item {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-content__right {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: -webkit-linear-gradient(208.37deg, #13405E 9.24%, #213C4D 95.22%);
  background: -o-linear-gradient(208.37deg, #13405E 9.24%, #213C4D 95.22%);
  background: linear-gradient(241.63deg, #13405E 9.24%, #213C4D 95.22%);
}

.menu-list {
  width: 100%;
}

.menu-list__item {
  margin-bottom: 1.7em;
  line-height: 0;
  display: block;
}

.menu-list__item:last-child {
  margin-bottom: 0;
}

.menu-list__item.active .menu-list__link {
  color: #17A5F4;
  pointer-events: none;
}

.menu-list__link {
  display: inline-block;
  font-size: 2.66667rem;
  line-height: 3.25rem;
  color: #000;
  overflow: hidden;
  position: relative;
  font-family: "Montserrat-ExtraBold";
}

.menu-list__link:hover .menu-list__overlay {
  -webkit-animation: anim-in-layer .3s ease forwards;
  animation: anim-in-layer .3s ease forwards;
}

.menu-list__link:hover .menu-list__overlay:before {
  -webkit-animation: anim-in-text .3s ease forwards;
  animation: anim-in-text .3s ease forwards;
}

.menu-list__overlay {
  position: absolute;
  left: 0;
  overflow: hidden;
  background-color: #fff;
  width: 100%;
  display: block;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-animation: anim-out-layer .3s ease-out;
  animation: anim-out-layer .3s ease-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.menu-list__overlay:before {
  background-color: #fff;
  content: attr(data-text);
  width: 100%;
  display: block;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  color: #17A5F4;
  -webkit-animation: anim-out-text .3s ease-out;
  animation: anim-out-text .3s ease-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.menu-info {
  text-align: center;
}

.menu-info__link {
  display: block;
  color: #fff;
  overflow: hidden;
  position: relative;
  margin-bottom: .7em;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.menu-info__link:hover .menu-info__overlay {
  -webkit-animation: anim-in-layer .3s ease forwards;
  animation: anim-in-layer .3s ease forwards;
}

.menu-info__link:hover .menu-info__overlay:before {
  -webkit-animation: anim-in-text .3s ease forwards;
  animation: anim-in-text .3s ease forwards;
}

.menu-info__overlay {
  position: absolute;
  left: 0;
  overflow: hidden;
  background: -webkit-linear-gradient(208.37deg, #173F59 9.24%, #1C3D53 95.22%);
  background: -o-linear-gradient(208.37deg, #173F59 9.24%, #1C3D53 95.22%);
  background: linear-gradient(241.63deg, #173F59 9.24%, #1C3D53 95.22%);
  width: 100%;
  display: block;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-animation: anim-out-layer .3s ease-out;
  animation: anim-out-layer .3s ease-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.menu-info__overlay:before {
  background: -webkit-linear-gradient(208.37deg, #173F59 9.24%, #1C3D53 95.22%);
  background: -o-linear-gradient(208.37deg, #173F59 9.24%, #1C3D53 95.22%);
  background: linear-gradient(241.63deg, #173F59 9.24%, #1C3D53 95.22%);
  content: attr(data-text);
  width: 100%;
  display: block;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  color: #17A5F4;
  -webkit-animation: anim-out-text .3s ease-out;
  animation: anim-out-text .3s ease-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.menu-info__btn {
  margin-top: 1.5em;
  width: 365px;
  max-width: 365px;
}

.menu-social {
  position: absolute;
  bottom: 50px;
  left: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-social__item {
  margin-right: 75px;
}

.menu-social__item:last-child {
  margin-right: 0;
}

.menu-social__link {
  display: block;
  height: 30px;
  width: 30px;
}

.menu-social__link svg {
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.menu-social__svg path {
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.menu-social__svg_inst-3,
.menu-social__svg_inst-5,
.menu-social__svg_inst-4 {
  fill: #1E3D51;
}

.menu-social__svg_inst-1,
.menu-social__svg_inst-2 {
  fill: #fff;
}

.menu-social__svg_inst:hover .menu-social__svg_inst-1 {
  fill: #FF5E95;
}

.menu-social__svg_inst:hover .menu-social__svg_inst-2 {
  fill: #FF3980;
}

.menu-social__svg_inst:hover .menu-social__svg_inst-3,
.menu-social__svg_inst:hover .menu-social__svg_inst-4,
.menu-social__svg_inst:hover .menu-social__svg_inst-5 {
  fill: #fff;
}

.menu-social__svg_twitter-1 {
  fill: #ADAEAF;
}

.menu-social__svg_twitter-2 {
  fill: #fff;
}

.menu-social__svg_twitter-3 {
  fill: #A1A2A3;
}

.menu-social__svg_twitter:hover .menu-social__svg_twitter-1 {
  fill: #009AE4;
}

.menu-social__svg_twitter:hover .menu-social__svg_twitter-2 {
  fill: #25D9F8;
}

.menu-social__svg_twitter:hover .menu-social__svg_twitter-3 {
  fill: #00C0F1;
}

.menu-social__svg_facebook-1 {
  fill: #fff;
}

.menu-social__svg_facebook:hover .menu-social__svg_facebook-1 {
  fill: #385C8E;
}

@-webkit-keyframes anim-in-layer {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes anim-in-layer {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@-webkit-keyframes anim-out-layer {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  to {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes anim-out-layer {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  to {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@-webkit-keyframes anim-in-text {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes anim-in-text {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@-webkit-keyframes anim-out-text {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  to {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes anim-out-text {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  to {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.menu {
  -webkit-transition: opacity .3s ease, visibility .3s ease;
  -o-transition: opacity .3s ease, visibility .3s ease;
  transition: opacity .3s ease, visibility .3s ease;
  visibility: hidden;
  opacity: 0;
  position: fixed;
}

.menu-list,
.menu-info,
.menu-social {
  opacity: 0;
  -webkit-transition: .3s all ease .6s;
  -o-transition: .3s all ease .6s;
  transition: .3s all ease .6s;
}

.menu-list {
  -webkit-transform: translate(0, -10%);
  -ms-transform: translate(0, -10%);
  transform: translate(0, -10%);
}

.menu-info {
  -webkit-transform: translate(0, -20%);
  -ms-transform: translate(0, -20%);
  transform: translate(0, -20%);
}

.menu-social {
  -webkit-transform: translate(-50%, -80%);
  -ms-transform: translate(-50%, -80%);
  transform: translate(-50%, -80%);
}

.header_active .menu {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity .5s ease, visibility .5s ease;
  -o-transition: opacity .5s ease, visibility .5s ease;
  transition: opacity .5s ease, visibility .5s ease;
}

.header_active .menu-list,
.header_active .menu-info,
.header_active .menu-social {
  opacity: 1;
}

.header_active .menu-list {
  -webkit-transition: .9s all ease .1s;
  -o-transition: .9s all ease .1s;
  transition: .9s all ease .1s;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.header_active .menu-info {
  -webkit-transition: .9s all ease .3s;
  -o-transition: .9s all ease .3s;
  transition: .9s all ease .3s;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.header_active .menu-social {
  -webkit-transition: .9s all ease .5s;
  -o-transition: .9s all ease .5s;
  transition: .9s all ease .5s;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

/* -- Menu END -- */

/* -- Menu list BEGIN -- */

.menu-list__item {
  line-height: 0;
  display: block;
}

.menu-list__item:last-child {
  margin-bottom: 0;
}

.menu-list__item.active .menu-list__link {
  color: #17A5F4;
  pointer-events: none;
}

.menu-list__link {
  display: inline-block;
  color: #000;
  overflow: hidden;
  position: relative;
  font-family: "Montserrat-ExtraBold";
}

.menu-list__link:hover .menu-list__overlay {
  -webkit-animation: anim-in-layer .3s ease forwards;
  animation: anim-in-layer .3s ease forwards;
}

.menu-list__link:hover .menu-list__overlay:before {
  -webkit-animation: anim-in-text .3s ease forwards;
  animation: anim-in-text .3s ease forwards;
}

.menu-list__overlay {
  position: absolute;
  left: 0;
  overflow: hidden;
  background-color: #fff;
  width: 100%;
  display: block;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-animation: anim-out-layer .3s ease-out;
  animation: anim-out-layer .3s ease-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.menu-list__overlay:before {
  background-color: #fff;
  content: attr(data-text);
  width: 100%;
  display: block;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  color: #17A5F4;
  -webkit-animation: anim-out-text .3s ease-out;
  animation: anim-out-text .3s ease-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* -- Menu list END -- */

/* -- Menu list BEGIN -- */

.works-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 4.16667rem;
}

.wrap-work-card {
  padding: 0 15px;
  margin-bottom: 30px;
  width: 100%;
  max-width: 50%;
}

.work-card {
  height: 510px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 1.875rem 1.66667rem 2.5rem 3.33333rem;
}

.work-card__layer-hover,
.work-card__text,
.work-card__link,
.work-card__wrap-img {
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.work-card__layer-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.work-card:hover .work-card__layer-hover {
  opacity: 1;
}

.work-card:hover .work-card__text,
.work-card:hover .work-card__link {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}

.work-card:hover .work-card__wrap-img {
  opacity: .6;
  -webkit-transform: translate(-50%, -50%) scale(0.9);
  -ms-transform: translate(-50%, -50%) scale(0.9);
  transform: translate(-50%, -50%) scale(0.9);
}

.work-card__element {
  z-index: 1;
}

.work-card__wrap-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 550px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.work-card__img {
  max-width: 100%;
  max-height: 100%;
}

.work-card__label_top {
  margin-bottom: 0.41667rem;
}

.work-card__label_bottom {
  margin-top: auto;
}

.work-card__title {
  margin-bottom: 1.875rem;
}

.work-card__text,
.work-card__link {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0, 30%);
  -ms-transform: translate(0, 30%);
  transform: translate(0, 30%);
}

.work-card__text {
  font-size: 1.16667rem;
  line-height: 1.75rem;
  margin-bottom: 1.45833rem;
}

.work-card__link {
  padding-left: 2.29167rem;
  position: relative;
  color: #fff;
}

.work-card__link:hover:before {
  left: 5px;
}

.work-card__link:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 1.25rem;
  height: 20px;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
  background: url("../img/arrow.svg") center/contain no-repeat;
}

/* -- Menu list END -- */

/* -- Pages BEGIN -- */

/* -- Main page BEGIN -- */

.main-banner {
  padding: 3.125rem 0 5.20833rem;
}

.main-banner__greeting {
  color: #6C6767;
  margin-bottom: 2.41667rem;
}

.main-banner__title {
  margin-bottom: 2.66667rem;
}

.main-banner__btn-video {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.main-banner__btn-video:hover .main-banner__btn-video-play {
  -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
}

.main-banner__btn-video:hover .main-banner__btn-video-text {
  -webkit-transform: translate(-5px, 0);
  -ms-transform: translate(-5px, 0);
  transform: translate(-5px, 0);
}

.main-banner__btn-video-play {
  width: 3.33333rem;
  position: relative;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: -webkit-linear-gradient(236.02deg, #56BCF4 14.55%, #17A5F4 81.9%);
  background: -o-linear-gradient(236.02deg, #56BCF4 14.55%, #17A5F4 81.9%);
  background: linear-gradient(213.98deg, #56BCF4 14.55%, #17A5F4 81.9%);
  margin-right: 1.125rem;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.main-banner__btn-video-play:before,
.main-banner__btn-video-play:after {
  content: '';
}

.main-banner__btn-video-play:before {
  position: absolute;
  top: 50%;
  left: -webkit-calc(50% + 13px);
  left: calc(50% + 13px);
  -webkit-transform: translate(-50%, -50%) scale(1, 0.7);
  -ms-transform: translate(-50%, -50%) scale(1, 0.7);
  transform: translate(-50%, -50%) scale(1, 0.7);
  border: 21px solid transparent;
  border-left-color: #fff;
}

.main-banner__btn-video-play:after {
  padding-top: 100%;
  width: 100%;
  display: block;
}

.main-banner__btn-video-text {
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.services {
  padding: 3.125rem 0 3.33333rem;
}

.services__title {
  margin-bottom: 3.66667rem;
}

.services__list-item {
  margin-bottom: 3.125rem;
}

.services__list-item:last-child {
  margin-bottom: 0;
}

.services__list-item-title {
  display: block;
}

.services__list-item-text {
  display: block;
  margin-top: 1.04167rem;
}

.technologies {
  padding: 4.375rem 0;
  margin-bottom: 3.75rem;
}

.technologies__wrap-list {
  overflow: hidden;
  position: relative;
}

.technologies__wrap-list:before,
.technologies__wrap-list:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 60px;
  z-index: 1;
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(61%, rgba(255, 255, 255, 0.39)), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, white 0%, rgba(255, 255, 255, 0.39) 61%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, white 0%, rgba(255, 255, 255, 0.39) 61%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0.39) 61%, rgba(255, 255, 255, 0) 100%);
}

.technologies__wrap-list:before {
  left: 0;
}

.technologies__wrap-list:after {
  right: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.technologies__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -1rem;
  -webkit-animation: list-move 30s linear infinite alternate;
  animation: list-move 30s linear infinite alternate;
}

.technologies__list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 2.79167rem;
  height: 55px;
}

.technologies__list-item-img {
  max-width: 270px;
  max-height: 100%;
}

@-webkit-keyframes list-move {
  from {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  to {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
}

@keyframes list-move {
  from {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  to {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
}

.works {
  padding-bottom: 8.125rem;
}

.works__btn {
  margin-top: 2.5rem;
  width: 100%;
  max-width: 300px;
}

.feedback {
  padding-bottom: 5.20833rem;
}

.feedback__title {
  margin-bottom: 1.875rem;
}

/* -- Main page END -- */

/* -- 404 BEGIN -- */

.page-404__content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.page-404__icon-decor {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  width: 42px;
  position: absolute;
  top: -100px;
  left: 45%;
  z-index: 1000;
  display: none;
}

.page-404__accent-text {
  font-size: 12rem;
  line-height: 10.41667rem;
  margin-bottom: 50px;
}

.page-404__title {
  margin-bottom: 15px;
}

.page-404__nav {
  padding-left: 16.66%;
}

.page-404__nav-title {
  margin-bottom: 30px;
}

/* -- 404 END -- */

/* -- Pages END -- */

@media (min-width: 576px) {
  .menu-content__right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
}

@media (min-width: 992px) {
  .menu {
    -webkit-transition: opacity .3s ease .35s, visibility .3s ease .35s;
    -o-transition: opacity .3s ease .35s, visibility .3s ease .35s;
    transition: opacity .3s ease .35s, visibility .3s ease .35s;
  }

  .header_active .menu {
    -webkit-transition: opacity .5s ease .5s, visibility .5s ease;
    -o-transition: opacity .5s ease .5s, visibility .5s ease;
    transition: opacity .5s ease .5s, visibility .5s ease;
  }

  .header_active .menu-list {
    -webkit-transition: .9s all ease .7s;
    -o-transition: .9s all ease .7s;
    transition: .9s all ease .7s;
  }

  .header_active .menu-info {
    -webkit-transition: .9s all ease .9s;
    -o-transition: .9s all ease .9s;
    transition: .9s all ease .9s;
  }

  .header_active .menu-social {
    -webkit-transition: .9s all ease 1.1s;
    -o-transition: .9s all ease 1.1s;
    transition: .9s all ease 1.1s;
  }
}

@media (max-width: 1500px) {
  .d-inline-block-1500 {
    display: inline-block !important;
  }
}

@media (max-width: 1439px) {
  html,
  body {
    font-size: 22px;
  }

  .first-section {
    padding: 2.27273rem 0 0;
  }

  .d-inline-block-xxl {
    display: inline-block !important;
  }

  .main-banner {
    padding: 2.72727rem 0 4.54545rem;
  }

  .main-banner__greeting {
    margin-bottom: 2.04545rem;
  }

  .main-banner__title {
    margin-bottom: 1.81818rem;
  }
}

@media (max-width: 1290px) {
  .main-banner__title br {
    display: none;
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 0 30px;
  }

  html,
  body {
    font-size: 20px;
  }

  .d-none-xl {
    display: none !important;
  }

  .header__content {
    padding: 0 30px;
  }

  .menu-list__link {
    font-size: 2.15rem;
    line-height: 2.66rem;
  }

  .menu-info__link {
    font-size: 2rem;
    line-height: 2.3rem;
  }

  .menu-info__btn {
    margin-top: 2em;
    width: 100%;
  }

  .menu-social {
    bottom: 30px;
  }

  .menu-list__link {
    font-size: 2.06667rem;
    line-height: 2.53333rem;
  }
}

@media (max-width: 992px) {
  body {
    padding-top: 70px;
  }
}

@media (max-width: 768px) {
  html,
  body {
    font-size: 18px;
  }

  body {
    line-height: 26px;
  }

  .title-h1,
  h1 {
    font-size: 2rem;
    line-height: 2.88889rem;
  }

  .btn {
    font-size: 20px;
  }

  .highlighted-text {
    line-height: 2.88889rem;
    padding: 4px 8px 0px;
  }

  .header__wrap-logo {
    max-width: 115px;
  }

  .menu-list__link {
    font-size: 1.91667rem;
  }

  .menu-info__link {
    margin-bottom: .5em;
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .menu-info__btn {
    margin-top: 1.5em;
    font-size: 16px;
  }

  .menu-social {
    bottom: 15px;
  }

  .menu-social__item {
    margin-right: 40px;
  }

  .menu-social__link {
    width: 25px;
    height: 25px;
  }

  .menu-list__link {
    font-size: 2.25556rem;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 15px;
  }

  .btn {
    font-size: 18px;
    padding: 1.2em 2.22222em;
  }

  .header {
    background-color: transparent;
    height: 70px;
  }

  .header__content {
    height: 70px;
    background-color: #fff;
    padding: 0 15px;
  }

  .header_scroll {
    -webkit-transition: 0.6s height ease, 0.6s -webkit-transform ease, 0.6s -webkit-box-shadow ease;
    transition: 0.6s height ease, 0.6s -webkit-transform ease, 0.6s -webkit-box-shadow ease;
    -o-transition: 0.6s height ease, 0.6s transform ease, 0.6s box-shadow ease;
    transition: 0.6s height ease, 0.6s transform ease, 0.6s box-shadow ease;
    transition: 0.6s height ease, 0.6s transform ease, 0.6s box-shadow ease, 0.6s -webkit-transform ease, 0.6s -webkit-box-shadow ease;
  }

  .header_scroll.header_active {
    -webkit-transition: 0.6s height ease, 0.6s -webkit-transform ease, 0.6s -webkit-box-shadow ease;
    transition: 0.6s height ease, 0.6s -webkit-transform ease, 0.6s -webkit-box-shadow ease;
    -o-transition: 0.6s height ease, 0.6s transform ease, 0.6s box-shadow ease;
    transition: 0.6s height ease, 0.6s transform ease, 0.6s box-shadow ease;
    transition: 0.6s height ease, 0.6s transform ease, 0.6s box-shadow ease, 0.6s -webkit-transform ease, 0.6s -webkit-box-shadow ease;
  }

  .header_active {
    -webkit-transition: 0s height ease, 0.6s -webkit-transform ease, 0.6s -webkit-box-shadow ease;
    transition: 0s height ease, 0.6s -webkit-transform ease, 0.6s -webkit-box-shadow ease;
    -o-transition: 0s height ease, 0.6s transform ease, 0.6s box-shadow ease;
    transition: 0s height ease, 0.6s transform ease, 0.6s box-shadow ease;
    transition: 0s height ease, 0.6s transform ease, 0.6s box-shadow ease, 0.6s -webkit-transform ease, 0.6s -webkit-box-shadow ease;
    position: fixed;
    max-height: 100%;
    height: 100%;
    overflow-y: auto;
  }

  .preloader__wrap-logo {
    max-width: 63%;
  }

  .menu-content {
    display: block;
    margin-top: 0;
  }

  .menu-content__item {
    width: 100%;
    position: relative;
  }

  .menu-content__left {
    padding: 3.6em 0 6em;
  }

  .menu-content__right {
    padding: 7em 0 5.5em;
    display: block;
    background: none;
  }

  .menu-content__right:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 105vw;
    height: 100%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background: -webkit-linear-gradient(208.37deg, #13405E 9.24%, #213C4D 95.22%);
    background: -o-linear-gradient(208.37deg, #13405E 9.24%, #213C4D 95.22%);
    background: linear-gradient(241.63deg, #13405E 9.24%, #213C4D 95.22%);
  }

  .menu-content__right > * {
    position: relative;
    z-index: 1;
  }

  .menu-info {
    margin-left: auto;
    margin-right: auto;
  }

  .menu-info__btn {
    margin-bottom: 4.2em;
    margin-top: 1.7em;
  }

  .menu-social {
    position: static;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .menu-social__item {
    margin-right: 60px;
  }

  .menu-social__link {
    width: 20px;
    height: 20px;
  }

  .menu {
    position: static;
    visibility: visible;
  }

  .menu-social {
    -webkit-transform: translate(0, -70%);
    -ms-transform: translate(0, -70%);
    transform: translate(0, -70%);
  }

  .header_active .menu-social {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .main-banner__title {
    margin-bottom: 1.3em;
  }
}

@media (max-width: 480px) {
  .d-inline-block-480 {
    display: inline-block !important;
  }

  .menu-list__link {
    font-size: 10vw;
    line-height: 13vw;
  }

  .menu-info__link {
    text-align: left;
    font-size: 7vw;
    line-height: 7.8vw;
    margin-bottom: .8em;
  }

  .menu-list__link {
    font-size: 10vw;
    line-height: 13vw;
  }

  .main-banner__title {
    font-size: 10vw;
    line-height: 14.5vw;
  }
}

@media (max-width: 380px) {
  .menu-content__right {
    padding: 6em 0 5em;
  }

  .menu-list__link {
    line-height: 12vw;
  }

  .menu-list__link {
    line-height: 12vw;
  }
}

@media (max-width: 375px) {
  html,
  body {
    font-size: 12px;
  }

  .btn {
    padding: 1.1em 1.5em;
  }

  .highlighted-text {
    padding: 4px 8px 0px;
  }

  .menu-list__item {
    margin-bottom: 2.1em;
  }
}