.container {
  margin: 0 auto;
  padding: 0 15px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  padding-top: 90px;
  min-width: 320px;
  height: 100vh;
  position: relative;
  line-height: 24px;
  color: #000;
  height: 2000px;
  font-family: "Montserrat-Regular";
}

::-moz-selection {
  background-color: #17A5F4;
  color: #fff;
}

::selection {
  background-color: #17A5F4;
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 93px;
  background-color: #fff;
  z-index: 2;
  overflow: hidden;
  -webkit-transition: .4s transform ease;
  -o-transition: .4s transform ease;
  transition: .4s transform ease;
}

.header.scroll {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header.scroll-hide {
  -webkit-transform: translate(0, -105%);
  -ms-transform: translate(0, -105%);
  transform: translate(0, -105%);
}

.header.active {
  height: 100%;
  max-height: 100vh;
  overflow-y: auto;
}

.header.active:before {
  opacity: 1;
}

.header.active .menu {
  opacity: 1;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(208.37deg, #13405E 9.24%, #213C4D 95.22%);
  background: -o-linear-gradient(208.37deg, #13405E 9.24%, #213C4D 95.22%);
  background: linear-gradient(241.63deg, #13405E 9.24%, #213C4D 95.22%);
  opacity: 0;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.header__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 18px 30px;
  position: relative;
}

.header__wrap-logo {
  max-width: 135px;
}

.header-menu-btn {
  cursor: pointer;
}

.header-menu-btn_mobile {
  display: none;
  width: 40px;
  height: 30px;
  position: relative;
}

.header-menu-btn_mobile.active .header-menu-btn__line {
  width: 100%;
  top: 50%;
}

.header-menu-btn_mobile.active .header-menu-btn__line_first {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header-menu-btn_mobile.active .header-menu-btn__line_second {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header-menu-btn_mobile:hover > span {
  width: 100%;
}

.header-menu-btn__line {
  height: 4px;
  background-color: #000;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
  position: absolute;
  right: 0;
}

.header-menu-btn__line_first {
  width: 100%;
  top: -webkit-calc(50% - 5px);
  top: calc(50% - 5px);
}

.header-menu-btn__line_second {
  width: 75%;
  top: -webkit-calc(50% + 5px);
  top: calc(50% + 5px);
}

.header-menu-btn_desktop {
  font-size: 1.5rem;
  position: relative;
  -webkit-transition: .6s all ease;
  -o-transition: .6s all ease;
  transition: .6s all ease;
}

.header-menu-btn_desktop:before {
  content: '';
  position: absolute;
  top: 100%;
  right: 0;
  height: 2px;
  width: 100%;
  background-color: #000;
  -webkit-transition: 0.3s all cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: 0.3s all cubic-bezier(0.86, 0, 0.07, 1);
  transition: 0.3s all cubic-bezier(0.86, 0, 0.07, 1);
}

.header-menu-btn_desktop:hover:before {
  width: 0%;
}

.menu {
  height: -webkit-calc(100% - 93px);
  height: calc(100% - 93px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.menu-content {
  z-index: 1;
  position: relative;
  margin-top: -5vh;
  width: 100%;
  padding: 0 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu-content__item {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-content__right {
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.menu-list {
  width: 100%;
}

.menu-list__item {
  margin-bottom: 1.25em;
}

.menu-list__item:last-child {
  margin-bottom: 0;
}

.menu-list__link {
  display: inline-block;
  font-size: 4rem;
  line-height: 4.875rem;
  color: #000;
  overflow: hidden;
  position: relative;
  font-family: "Montserrat-ExtraBold";
}

.menu-list__link:hover .menu-list__overlay {
  -webkit-animation: anim-in-layer .3s ease forwards;
  animation: anim-in-layer .3s ease forwards;
}

.menu-list__link:hover .menu-list__overlay:before {
  -webkit-animation: anim-in-text .3s ease forwards;
  animation: anim-in-text .3s ease forwards;
}

.menu-list__overlay {
  position: absolute;
  left: 0;
  overflow: hidden;
  background-color: #fff;
  width: 100%;
  display: block;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-animation: anim-out-layer .3s ease-out;
  animation: anim-out-layer .3s ease-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.menu-list__overlay:before {
  background-color: #fff;
  content: attr(data-text);
  width: 100%;
  display: block;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  color: #17A5F4;
  -webkit-animation: anim-out-text .3s ease-out;
  animation: anim-out-text .3s ease-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.menu-info {
  text-align: center;
}

.menu-info__link {
  display: block;
  color: #fff;
  margin-bottom: .7em;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.25rem;
  line-height: 2.25rem;
}

.menu-info__btn {
  margin-top: 3em;
  width: 100%;
  max-width: 365px;
}

.menu-social {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-social__item {
  margin-right: 75px;
}

.menu-social__item:last-child {
  margin-right: 0;
}

.menu-social__link {
  display: block;
  height: 30px;
  width: 30px;
}

.menu-social__link svg {
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

@-webkit-keyframes anim-in-layer {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes anim-in-layer {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@-webkit-keyframes anim-out-layer {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  to {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes anim-out-layer {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  to {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@-webkit-keyframes anim-in-text {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes anim-in-text {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@-webkit-keyframes anim-out-text {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  to {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes anim-out-text {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  to {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: -webkit-linear-gradient(208.37deg, #13405E 9.24%, #213C4D 95.22%);
  background: -o-linear-gradient(208.37deg, #13405E 9.24%, #213C4D 95.22%);
  background: linear-gradient(241.63deg, #13405E 9.24%, #213C4D 95.22%);
  z-index: 9999;
}

.preloader_hide {
  opacity: 0;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: .6s all ease 1s;
  -o-transition: .6s all ease 1s;
  transition: .6s all ease 1s;
  pointer-events: none;
}

.preloader__wrap-logo {
  max-width: 42%;
}

.preloader__logo-img {
  display: block;
  height: 60vmin;
  width: 100%;
}

.preloader__logo-img path {
  -webkit-transition: fill-opacity .5s ease;
  -o-transition: fill-opacity .5s ease;
  transition: fill-opacity .5s ease;
}

.preloader__logo-img.fill-show {
  -webkit-transition: .8s all ease .4s;
  -o-transition: .8s all ease .4s;
  transition: .8s all ease .4s;
  opacity: 0;
}

.preloader__logo-img.fill-show path {
  fill-opacity: 1;
}

input:focus:required:invalid,
textarea:focus:required:invalid {
  border: none;
}

input:required:valid,
input:required:invalid,
textarea:required:valid,
textarea:required:invalid {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

[disabled] {
  cursor: not-allowed;
}

.text-black {
  font-family: "Montserrat-Black";
}

.text-ex-bold {
  font-family: "Montserrat-ExtraBold";
}

.text-bold {
  font-family: "Montserrat-Bold";
}

.title-h1,
h1 {
  font-size: 4rem;
  line-height: 4.875rem;
  font-family: "Montserrat-ExtraBold";
}

.link {
  display: inline-block;
  color: #17A5F4;
  font-size: 1.5rem;
  line-height: 1.7rem;
  text-decoration: none;
}

.link_line {
  position: relative;
}

.link_line:before {
  content: '';
  position: absolute;
  top: -webkit-calc(100% + 2px);
  top: calc(100% + 2px);
  right: 0;
  height: 2px;
  width: 100%;
  background-color: #17A5F4;
  -webkit-transition: 0.3s all cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: 0.3s all cubic-bezier(0.86, 0, 0.07, 1);
  transition: 0.3s all cubic-bezier(0.86, 0, 0.07, 1);
}

.link_line:hover:before {
  width: 0%;
}

.btn {
  font-family: "Montserrat-SemiBold";
  background-color: #17A5F4;
  font-size: 24px;
  line-height: 1em;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  padding: .9em 1.875em;
  display: inline-block;
  position: relative;
  -webkit-transition: .3s background-color ease;
  -o-transition: .3s background-color ease;
  transition: .3s background-color ease;
  overflow: hidden;
}

.btn:hover:before {
  color: #fff;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  opacity: 1;
}

.btn:hover .btn__overlay {
  -webkit-transform: translate3d(10%, 0, 0) skew(-20deg);
  transform: translate3d(10%, 0, 0) skew(-20deg);
  opacity: 1;
}

.btn:hover .btn__text {
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  opacity: 0;
}

.btn:before,
.btn__text {
  -webkit-transition: opacity .25s ease, -webkit-transform .25s ease;
  transition: opacity .25s ease, -webkit-transform .25s ease;
  -o-transition: opacity .25s ease, transform .25s ease;
  transition: opacity .25s ease, transform .25s ease;
  transition: opacity .25s ease, transform .25s ease, -webkit-transform .25s ease;
  z-index: 1;
  display: inline-block;
}

.btn:before {
  content: attr(data-text);
  position: absolute;
  -webkit-transform: translate3d(50%, 0, 0);
  transform: translate3d(50%, 0, 0);
  opacity: 0;
}

.btn__overlay {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 140%;
  -webkit-transform: translate3d(100%, 0, 0) skew(0deg);
  transform: translate3d(100%, 0, 0) skew(0deg);
  background-color: #0a8ed8;
  opacity: 0;
  -webkit-transition: opacity .3s ease,-webkit-transform .5s ease;
  transition: opacity .3s ease,-webkit-transform .5s ease;
  -o-transition: transform .5s ease,opacity .3s ease;
  transition: transform .5s ease,opacity .3s ease;
  transition: transform .5s ease,opacity .3s ease,-webkit-transform .5s ease;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: block;
}

.btn__text {
  font-size: 1em;
}

html.page-fixed {
  overflow: hidden;
}

body.page-fixed {
  overflow-y: scroll;
}

.responsive-image img,
.responsive-image svg {
  display: block;
  width: 100%;
  height: auto;
}

.page {
  padding: 5.2em 0 40px;
}

.page__title {
  display: inline-block;
}

.page .d-480-inline-block {
  display: none;
}

.page-main__title {
  margin-bottom: .9em;
}

@media (min-width: 0) {
  .container {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }

  .header-menu-btn_mobile {
    display: block;
    position: absolute;
    top: 50%;
    right: 30px;
    -webkit-transform: translate(20px, -50%);
    -ms-transform: translate(20px, -50%);
    transform: translate(20px, -50%);
    opacity: 0;
    -webkit-transition: .1s all ease;
    -o-transition: .1s all ease;
    transition: .1s all ease;
  }

  .header-menu-btn_mobile.active {
    -webkit-transition: .6s all ease;
    -o-transition: .6s all ease;
    transition: .6s all ease;
    opacity: 1;
    -webkit-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
  }

  .header-menu-btn_mobile.active .header-menu-btn__line {
    background-color: #fff;
  }

  .header-menu-btn_desktop.active {
    -webkit-transition: .1s all ease;
    -o-transition: .1s all ease;
    transition: .1s all ease;
    -webkit-transform: translate(-40px, 0);
    -ms-transform: translate(-40px, 0);
    transform: translate(-40px, 0);
    opacity: 0;
  }
}

@media (min-width: 1340px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 1340px) {
  .menu-list__link {
    font-size: 3.5rem;
    line-height: 4.4rem;
  }

  .page-main__title br {
    display: none;
  }
}

@media (max-width: 992px) {
  html,
  body {
    font-size: 14px;
  }

  body {
    padding-top: 74px;
  }

  .header-menu-btn_mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .header-menu-btn_desktop {
    display: none;
  }

  .menu-list__link {
    font-size: 3.1rem;
    line-height: 3.8rem;
  }

  .menu-info__link {
    font-size: 2rem;
    line-height: 2rem;
  }

  .menu-info__btn {
    margin-top: 2em;
  }

  .menu-social {
    bottom: 30px;
  }
}

@media (max-width: 768px) {
  html,
  body {
    font-size: 12px;
  }

  .header__wrap-logo {
    max-width: 90px;
  }

  .menu-list__link {
    font-size: 2.9rem;
  }

  .menu-info__link {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }

  .menu-info__btn {
    margin-top: 1.5em;
  }

  .menu-social {
    bottom: 15px;
  }

  .menu-social__item {
    margin-right: 40px;
  }

  .menu-social__link {
    width: 25px;
    height: 25px;
  }

  .title-h1,
  h1 {
    font-size: 3rem;
    line-height: 4.3rem;
  }

  .btn {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .header {
    height: 74px;
  }

  .header:before {
    display: none;
  }

  .header__content {
    padding: 18px 15px;
  }

  .menu {
    height: -webkit-calc(100% - 74px);
    height: calc(100% - 74px);
  }

  .menu-content {
    padding: 0 15px;
    display: block;
    margin-top: 0;
  }

  .menu-content__item {
    width: 100%;
  }

  .menu-content__left {
    padding: 3.6em 0 6em;
  }

  .menu-content__right {
    padding: 7em 0 5.5em;
    display: block;
  }

  .menu-content__right:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 105vw;
    height: 100%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background: -webkit-linear-gradient(208.37deg, #13405E 9.24%, #213C4D 95.22%);
    background: -o-linear-gradient(208.37deg, #13405E 9.24%, #213C4D 95.22%);
    background: linear-gradient(241.63deg, #13405E 9.24%, #213C4D 95.22%);
  }

  .menu-content__right > * {
    position: relative;
    z-index: 1;
  }

  .menu-info {
    margin-left: auto;
    margin-right: auto;
  }

  .menu-info__btn {
    margin-bottom: 4.2em;
    margin-top: 1.7em;
  }

  .menu-social {
    position: static;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
    margin-left: auto;
    margin-right: auto;
  }

  .menu-social__item {
    margin-right: 60px;
  }

  .menu-social__link {
    width: 20px;
    height: 20px;
  }

  .preloader__wrap-logo {
    max-width: 63%;
  }

  .btn {
    font-size: 18px;
    padding: 1.2em 1.875em;
  }
}

@media (max-width: 480px) {
  .menu-list__link {
    font-size: 10vw;
    line-height: 12vw;
  }

  .menu-info__link {
    text-align: left;
    font-size: 7vw;
    line-height: 7vw;
    margin-bottom: 1em;
  }

  .page .d-480-inline-block {
    display: inline-block;
  }

  .page-main__title {
    font-size: 10vw;
    line-height: 14.5vw;
  }
}

@media (max-width: 375px) {
  html,
  body {
    font-size: 10px;
  }
}