@import "../common/vars";

.our-plus-sites-single-page{
	padding-bottom: 0;

	.our-plus-content{
		.wrap-title{
			text-align: left;

			> * {
				display: block;
			}

			.subtitle{
				font-size: 20px;
				line-height: 26px;
				font-weight: 600;
				margin: 17px 0 14px;
			}

			.subtext{
				color: @textGray-2;
				font-size: 16px;
				line-height: 22px;
			}
		}

		.wrap-blue-items-circle{
			border-bottom: 1px solid #F1F2F6;
			padding-bottom: 15px;
		}
	}
}



@media (max-width: 1399px) {

}


@media (max-width: 1199px) {

}


@media (max-width: 991px) {

}


@media (max-width: 767px) {
	.our-plus-sites-single-page .item{
		margin-bottom: 25px;
		&:last-child{
			margin-bottom: 0;
		}
	}

	.our-plus-sites-single-page .our-plus-content .wrap-title{
		.subtitle{
			font-size: 17px;
			line-height: 22px;
		}

		.subtext{
			font-size: 15px;
			line-height: 21px;
		}
	}

	.our-plus-sites-single-page .our-plus-content .wrap-blue-items-circle{
		border-bottom: none;
		padding-bottom: 0;
	}
}


@media (max-width: 575px) {
	.our-plus-sites-single-page .our-plus-content .wrap-title{
		padding: 0;
	}
}




