section.count-sites.sec-page
	.container

		.count-sites-content

			.content-left
				.wrap-count
					span.full-number 165
				.wrap-text
					span.title Сайтов уже продвигается нашей компанией
					span.subtext Среди них - успешные сайты услуг и корпоративные сайты

			.content-right
				include ../modules/card-google-yandex.pug

	