section.seo-plus.sec-page
	.container
	
		.seo-plus-content
			.wrap-title
				span.title Выгоды от продвижения сайта

			.wrap-blue-items-circle
				.item
					.wrap-icon
						img.lazyload(data-src="img/seo-plus-1.svg", alt="")
					.item-text
						span Увеличение числа продаж
						p Принцип работы поисковых систем таков: благодаря алгоритмам поисковых систем на верхних строчках оказываются те сайты, которые в большей мере отвечают запросу пользователя.

				.item
					.wrap-icon
						img.lazyload(data-src="img/seo-plus-2.svg", alt="")
					.item-text
						span Увеличение количества посетителей
						p Когда Ваш сайт близок к лидирующим позициям в поисковой выдаче, большее число пользователей захочет его посетить - чтобы заказать или купить желанный продукт.

				.item
					.wrap-icon
						img.lazyload(data-src="img/seo-plus-3.svg", alt="")
					.item-text
						span Уменьшение стоимости на привлечение клиента
						p Мы умеем продвигать сайты по запросам, в которых ярко выражено желание пользователей обрести продукт.

				.item
					.wrap-icon
						img.lazyload(data-src="img/seo-plus-4.svg", alt="")
					.item-text
						span Увеличение видимости сайта
						p Даже если пользователи сразу не превратятся в Ваших клиентов, они невольно сохранят в памяти Вашу компанию.
