section.table-causes.sec-page
	.container

		.table-causes-content
			.wrap-title
				span.title 8 причин работы с нами

			.wrap-table.wrap-table-circle-el.wrap-table-x-custom-scroll.wrap-table-x-custom-scroll-767
				table
					tr
						td
						td Как работаем мы
						td Как работают обычные компании
					tr
						td Количество запросов
						td <span class="icon icon-true"></span> Продвигаем 700-1500 запросов
						td <span class="icon icon-false"></span> Продвигаем 30-70 запросов
					tr
						td Результат
						td <span class="icon icon-true"></span> Результат уже через месяц
						td <span class="icon icon-false"></span> Результат через 3-6 месяцев
					tr
						td Гарантия
						td <span class="icon icon-true"></span> Гарантируем результат (прописано в договоре)
						td <span class="icon icon-false"></span> Не гарантируют результат (не прописано в договоре)
					tr
						td Методика анализа
						td <span class="icon icon-true"></span> Специалист вручную анализирует методику продвижения каждой продвигаемой страницы
						td <span class="icon icon-false"></span> Большиноство компаний автоматом продвигает страницы, не оценивая ежедневно результат
					tr
						td Получение ссылок
						td <span class="icon icon-true"></span> Мы пишем статьи и размещаем их на форумах по тематике вашего бизнеса, тем самым приводя заинтересованных посетителей.
						td <span class="icon icon-false"></span> Покупают временные ссылки. Попадают под фильтр поисковых систем. После окончания сайт выпадает из поиска.
					tr
						td Расширение списка запросов
						td <span class="icon icon-true"></span> Каждый месяц расширяем список запросов, даем рекомендации
						td <span class="icon icon-false"></span> Не проводится расширение поисковых запросов
					tr
						td Аудит сайта
						td <span class="icon icon-true"></span> Аудит сайта - бесплатно
						td <span class="icon icon-false"></span> Аудит сайта - 100-300 USD
					tr
						td Подарок
						td <span class="icon icon-true"></span> 60 USD на контентную рекламу
						td <span class="icon icon-false"></span> Не дают никаких подарков