@import "../../less/common/vars";

.btn-load-more{
	cursor: pointer;
	border: 1px solid #D9DCDE;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	padding: 13px 15px;

	.wrap-icon{
		width: 18px;
		height: 18px;	
		margin-right: 10px;
		display: -webkit-inline-flex;
		display: -moz-inline-flex;
		display: -ms-inline-flex;
		display: -o-inline-flex;
		display: inline-flex;
		-ms-align-items: center;
		align-items: center;
		transition: 1s all ease;
		svg{
			path{
				transition: .4s all ease;
			}
		}
	}

	.text{
		font-size: 16px;
		transition: .4s all ease;
	}

	&:hover{
		.wrap-icon{
			svg{
				path{
					fill: @blue;
				}
			}
		}

		.text{
			color: @blue;
		}
	}
}