section.persons.bg-elements(style="background-image: url('img/bg-elements-8.svg')")

	.container
		.wrap-page-title
			span.h2.title О НАС

		.wrap-persons-items

			.wrap-person-item
				.person-item
					.wrap-img.resp-img
						img(src="img/person-1.png", alt="")

					.wrap-content
						.top-line
							span.h2.color-dark.name Евгений Кречетов
							span.color-purple.position Создатель интеллектуальной ивент игры в москве

						.wrap-text.color-title.radius-4
							p Все мы с вами живем в век информационных технологий, и<br> технический прогресс шагает семимильными шагами, постоянно появляются новые гаджеты и современный человек уже не представляет себя без мобильного телефона и компьютера. Понимая это, у меня возник вопрос: "Как, в эпоху таких развитых технологий, до сих пор никто не внедрил их и в event индустрию?" именно этот вопрос и сподвиг меня создать event-игру, которая полностью отвечает всем современным тенденциям, и идет в ногу со временем.
		
				.about-person
					.item
						.wrap-icon.resp-img
							img(src="img/bow-tie.svg", alt="")
						p
							b Опыт более 10 лет 
							| в event - индустрии

					.item
						.wrap-icon.resp-img
							img(src="img/barrier.svg", alt="")
						p
							| Организовывал мероприятия 
							b от 20 до 3000 чел.

					.item
						.wrap-icon.resp-img
							img(src="img/employee.svg", alt="")
						p
							| Организовал и провел 
							b более 200 team building 
							| программ
							 
		
			.wrap-person-item
				.person-item
					.wrap-img.resp-img
						img(src="img/person-2.png", alt="")

					.wrap-content
						.top-line
							span.h2.color-dark.name Наталья Александрова
							span.color-purple.position Создатель интеллектуальной ивент игры в москве

						.wrap-text.color-title.radius-4
							p Все мы с вами живем в век информационных технологий, и<br> технический прогресс шагает семимильными шагами, постоянно появляются новые гаджеты и современный человек уже не представляет себя без мобильного телефона и компьютера. Понимая это, у меня возник вопрос: "Как, в эпоху таких развитых технологий, до сих пор никто не внедрил их и в event индустрию?" именно этот вопрос и сподвиг меня создать event-игру, которая полностью отвечает всем современным тенденциям, и идет в ногу со временем.
		

			.wrap-person-item
				.person-item
					.wrap-img.resp-img
						img(src="img/person-3.png", alt="")

					.wrap-content
						.top-line
							span.h2.color-dark.name Сергей Сергеев
							span.color-purple.position Создатель интеллектуальной ивент игры в москве

						.wrap-text.color-title.radius-4
							p Все мы с вами живем в век информационных технологий, и<br> технический прогресс шагает семимильными шагами, постоянно появляются новые гаджеты и современный человек уже не представляет себя без мобильного телефона и компьютера. Понимая это, у меня возник вопрос: "Как, в эпоху таких развитых технологий, до сих пор никто не внедрил их и в event индустрию?" именно этот вопрос и сподвиг меня создать event-игру, которая полностью отвечает всем современным тенденциям, и идет в ногу со временем.
		





	