.ie-message

	.header
		.container
			.row-info
				.row-info-logo.header-logo.responsive-image
					img(src="img/logo-dark.png", alt="").header-logo__img
		
	
	.container
		.ie-message__content
			span.title-h3.ie-message__title К сожалению<br class="d-none d-sm-inline-block"> ваш бразуер устарел!
		
			p.default-text Вы пользуетесь устаревшей версией браузера Internet Explorer. Данная версия браузера не поддреживает многие современные технологии, из-за чего многие страницы отображаются<br> некорректно, а главное - на сайтах могут работать не все функции.
		
	.footer
		.container
			a(href="tel:375291382469").link.link_dark.default-text.text-medium +375 29 138-24-69
			a(href="mailto:info@sivenkov.by").link.link_dark.default-text.text-medium info@sivenkov.by
