.sec-add-promocode
	margin-top: 60px

	&-content
		display: flex
		align-items: flex-start

	.btn-accent
		padding: 25px 50px
		font-size: 30px
		white-space: nowrap
		line-height: 45px
		margin-right: 60px

	.wrap-all-promocodes
		margin: 0 -15px
		.title
			display: block
			margin-left: 20px
			font-family: "OpenB"
			margin-bottom: 40px
			font-size: 21px
			line-height: 26px
		span
			display: inline-block
			margin: 0 20px 25px
			font-family: "OpenSB"
			font-size: 18px
	




@media (max-width: 1440px)
	.sec-add-promocode
		.btn-accent
			margin-right: 40px
		.wrap-all-promocodes
			.title
				margin-left: 17px
			span
				margin: 0 17px 25px


@media (max-width: 1290px)
	.sec-add-promocode
		margin-top: 0
		&-content
			display: block
			text-align: center
		.btn-accent
			margin-right: 0
			display: inline-block
			padding: 20px 50px
			margin-bottom: 45px
		.wrap-all-promocodes
			.title
				margin-bottom: 20px
			span
				font-size: 21px
				line-height: 25px
				margin: 0 8.5px 22px


@media (max-width: 576px)
	.sec-add-promocode
		&-content
		.btn-accent
			padding: 10px 40px
			font-size: 19px
			line-height: 40px
		.wrap-all-promocodes
			padding: 0 15px
			.title
				margin-bottom: 10px
				font-size: 17px
			span
				font-size: 14px
				line-height: 25px
				margin: 0 6px 10px

