.field-groups
	margin: 140px 0 150px

	.main-title
		font-size: 48px
		line-height: 58px
		color: $red-light
		margin-bottom: 50px
		display: block
		text-align: center

	.step
		margin-bottom: 60px
		.top-line
			display: flex
			align-items: center
			.wrap-icon
				width: 100%
				max-width: 90px
				height: 90px
				display: flex
				align-items: center
				justify-content: center
				border-radius: 50%
				border: 8px solid $red-light
				margin-right: 50px
				img
					display: block
			.wrap-title
				margin-right: 120px
			.title
				display: block
				font-size: 36px
				line-height: 42px
				color: $blue
			.top-text
				display: block
				font-size: 18px
				line-height: 22px
				color: #969696
				font-family: "OpenSB"
				margin-bottom: 15px
				text-transform: uppercase
			.text
				font-size: 21px
				font-family: "OpenSB"
				line-height: 26px
				color: #424242
		.subtext
			margin-left: 142px
			font-size: 21px
			line-height: 26px
			font-family: "OpenR"
			display: block
			margin-top: 20px
			a
				color: $red-light
				text-decoration: underline
		.form, .wrap-bracelets
			padding-left: 155px
			margin-top: 50px
			display: flex
		.form
			.select2-container .select2-selection--single .select2-selection__rendered
				padding: 0
			.wrap-field
				width: 100%
			.select2-selection--single, .field
				padding: 25px 55px
				font-size: 30px
				line-height: 40px
			.field
				width: inherit
		.form-children-photo
			.set-photo
				max-width: 405px
				width: 100%
				margin-right: 40px
				font-size: 20px
				color: $blue
				font-family: "OpenSB"
				position: relative

				&_top-text
					text-align: center
					span
						font-size: 25px
						line-height: 32px
						display: block
						font-family: Kinder

						&:first-child
							color: $blue
							margin-bottom: 3px

						&:last-child
							color: $red
							margin-bottom: 25px


				.img-animation
					width: 100%
					max-width: 350px
					margin: -30px auto
				.wrap-field
					position: relative
				label
					border: 5px solid $blue
					border-radius: 20px
					display: block
					cursor: pointer
					position: relative
					overflow: hidden
					.stretch-box
						top: 0
						left: 0
						width: 100%
						padding-top: 100%
					&:after, &:before
						content: ""
						position: absolute
						top: 35%
						left: 50%
						background-color: $blue
						width: 13px
						height: 66px
						transform: translate(-50%, 0)
					&:after
						transform: translate(-50%, 0) rotate(90deg)
					.img-container
						overflow: hidden
						display: none
						position: absolute
						top: 0
						left: 0
						width: 100%
						height: 100%
						img
							display: block
							width: 100%
							height: auto
					input
						display: none
				.img-load
					&:after, &:before, .text
						display: none
					.img-container
						display: block
				.text
					position: absolute
					bottom: 80px
					left: 50%
					color: $blue
					text-decoration: underline
					-webkit-transform: translate(-50%, 0)
					-moz-transform: translate(-50%, 0)
					-ms-transform: translate(-50%, 0)
					-o-transform: translate(-50%, 0)
					transform: translate(-50%, 0)

				.thumbs-photo
					margin-top: 30px
					display: -webkit-flex
					display: -moz-flex
					display: -ms-flex
					display: -o-flex
					display: flex
					align-items: stretch
					justify-content: center
					.thumb
						border: 5px solid $blue
						border-radius: 20px
						height: 72px
						width: 100%
						max-width: 72px
						min-width: 72px
						margin: 0 7px
						display: flex
						align-items: center
						justify-content: center
						cursor: pointer
						color: $blue
						position: relative
						.thumb-border
							position: absolute
							top: 0
							left: 0
							width: 100%
							height: 100%
							background-repeat: no-repeat
							z-index: 1
							background-size: contain

					.cur-thumb
						border-color: $red
						color: $red

					.thumb-1
						.thumb-border
							background-image: url(../img/border-3.png)
							background-position: center bottom
							left: 50%
							top: 5%
							width: 125%
							transform: translate(-50%, 0)

					.thumb-2
						.thumb-border
							background-image: url(../img/border-2.png)
							background-position: left center
							top: 49%
							left: 5px
							height: 123%
							transform: translate(0, -50%)
						

					.thumb-3
						.thumb-border
							background-image: url(../img/border-4.png)
							background-position: right bottom
							width: 100%
							left: 8px
							top: 10px
							transform: translate(0, 0)
						

					.thumb-4
						.thumb-border
							background-image: url(../img/border-1.png)
							background-position: center center
							left: 50%
							top: 50%
							width: 125%
							height: 125%
							transform: translate(-50%, -50%)
						
				.thumbs-subtext
					text-align: center
					margin-top: 20px
					display: block
					
			.other-data
				.wrap-field, .wrap-select
					margin-bottom: 25px
				.wrap-select
					.selectize-dropdown
						box-shadow: 0 4px 15.48px 2.52px rgba(65,157,226,.3)
					input[type=select-one]
						display: block !important
					.has-items
						input[type=select-one]
							display: none !important
				.btn-accent
					width: 100%
					display: block

			.wrap-social
				display: block
				padding: 20px 0px 30px
				text-align: center
				background-color: $blue
				border-radius: 25px
				> span
					font-size: 23px
					line-height: 27px
					color: #fff
					margin-bottom: 20px
					display: block
				.row-social
					justify-content: center
					height: 50px
					a
						margin: 0 23px
						height: 100%
						*
							height: 100%
							width: auto
		.form-address
			flex-wrap: wrap
			justify-content: space-between
			padding-right: 40px
			.wrap-field	
			.field-small
				max-width: calc(100% / 3)
				&:first-child
					padding-right: 40px
				&:last-child
					padding-left: 40px
			.field-medium
				max-width: calc(100% / 3 * 2)
			.field-large
				max-width: 100%
				margin: 40px 0
			.btn-accent
				padding: 25px 40px
				width: 100%
				max-width: calc(100% / 3 - 40px)
				font-size: 34px
		.wrap-bracelets
			.bracelet
				width: 400px
				height: 400px
				display: flex
				align-items: center
				justify-content: center
				flex-direction: column
				border-radius: 20px
				border: 5px solid $blue
				position: relative
				cursor: pointer
				transition: .3s all ease
				&-select
					border: 10px solid $red
				&:first-child
					margin-right: 65px
			.name
				font-size: 20px
				line-height: 23px
				font-family: "OpenR"
				position: absolute
				left: 50%
				transform: translate(-50%, 0)
				bottom: 14%
				color: $blue
			img
				position: absolute
				width: 80%
				top: 0
				left: 0

	.step-ready
		.top-line
			.wrap-icon
				background-color: $red-light
				img
					display: block


@media (max-width: 1290px)
	.field-groups .step .form-children-photo .set-photo .border-2
		top: 49.5%
	.field-groups .step .form-children-photo .set-photo .border-3
		right: -26px
		top: 34px

	.field-groups .step .form-children-photo .set-photo
		.img-animation
			position: absolute
			top: 0
			left: 18px
			margin-top: -40px
		&_top-text
			position: absolute
			left: 7%
		.wrap-field
			padding-top: 98px
		
@media (max-width: 768px)
	.field-groups .step .form-children-photo .set-photo .border-3
		right: -24px
		top: 33px


@media (max-width: 576px)
	.field-groups .step .form-children-photo .set-photo .border-1
		left: 48.3%
		
	.field-groups .step .form-children-photo .set-photo .thumbs-photo
		margin-left: 10px
	.field-groups .step .form-children-photo .set-photo .thumbs-photo .thumb-3 .thumb-border
		top: 6px
		left: 6px
	.field-groups .step .form-children-photo .set-photo .border-3
		right: -13px
		top: 20px


@media (max-width: 340px)
	.field-groups .step .form-children-photo .set-photo
		align-items: flex-start
		.border-3
			top: 17px

@media (max-width: 1440px)
	.field-groups
		margin: 120px 0
		.main-title
	    font-size: 43px
	    line-height: 53px

		.step
			.top-line
				.title
					font-size: 34px
					line-height: 40px
				.top-text
					font-size: 16px
					line-height: 20px
				.text
					font-size: 19px
					line-height: 24px
			.subtext
				font-size: 18px
				line-height: 20px
			.form
				.field, .select2-selection--single
					padding: 21px 45px
					font-size: 28px
					line-height: 37px
			.form-children-photo
				.wrap-social
					> span
						font-size: 20px
						line-height: 23px
					.row-social
						height: 30px
						a
							margin: 0 15px

			.form-address
				.btn-accent, .field-small
					max-width: calc(100% / 3)
				.field-small:first-child
					padding-right: 0
				.field-medium
					max-width: calc(100% / 3 * 2 - 40px)

@media (max-width: 1290px)
	.field-groups
		margin: 70px 0 0
		.main-title
			font-size: 48px
			line-height: 60px

		.step
			margin-bottom: 40px
			max-width: 665px
			margin-left: auto
			margin-right: auto			
			&:nth-child(2)
				.top-line
					.wrap-info
						display: none
			.top-line
				align-items: flex-start
				.wrap-icon
					max-width: 75px
					height: 75px
					margin-right: 25px
					img
						width: 70%
						height: auto
				.wrap-title
					margin-right: 25px
				.title
					font-size: 36px
					line-height: 42px
				.top-text
					font-size: 18px
					line-height: 22px
				.text
					font-size: 21px
					line-height: 25px
				.wrap-info
					white-space: nowrap
			.subtext
				font-size: 21px
				line-height: 25px
				margin-left: 100px
			.form, .wrap-bracelets
				padding-left: 100px
				margin-top: 40px
			.form
				display: block
				.select2-selection--single, .field
					padding: 25px 55px
					font-size: 30px
					line-height: 40px

			.form-children-photo
				padding-right: 40px
				.set-photo
					max-width: 100%
					display: flex
					margin-bottom: 30px
					.thumbs-photo
						display: block
						margin: 0
						margin-left: 17px
						.thumb
							margin-bottom: 20px
							&:last-child
								margin-bottom: 0
					.thumbs-subtext
						display: none
				.other-data .wrap-social>span
					font-size: 23px
					line-height: 26px

			.wrap-bracelets
				.bracelet
					width: 50%
					height: 260px
					img
						width: 65%
					&:first-child
						margin-right: 20px

			.form-address
				.btn-accent, .field-small
					max-width: 100%
				.field-medium
					max-width: 100%
				.wrap-field
					margin-bottom: 30px
				.wrap-field-index
					max-width: 60%
				.wrap-field-address
					.field
				.btn-accent
					padding: 35px 40px

@media (max-width: 768px)
	.field-groups
		.step
			margin-bottom: 40px
			.top-line
				.wrap-title
					margin-right: 10px
				.title
					margin: 18px 0
					font-size: 30px
					line-height: 32px
				.top-text
					margin-bottom: 12px
					font-size: 15px
					line-height: 16px
				.wrap-icon
					max-width: 60px
					height: 60px
					margin-right: 15px
				.wrap-info
					white-space: normal
					.top-text
					.text
						white-space: nowrap
						font-size: 18px
						line-height: 22px
			.form-children-photo
				.wrap-social
					margin-top: 25px
					> span
						font-size: 20px
						line-height: 23px
					.row-social
						height: 45px
						a
							margin: 0 23px
			.subtext
				margin-left: 75px
				margin-top: 0
				white-space: normal
				a
					br
						display: none !important
			.form, .wrap-bracelets
				padding: 0

@media (max-width: 576px)
	.field-groups
		max-width: 360px
		margin-left: auto
		margin-right: auto

		.main-title
			font-size: 30px
			line-height: 40px
			margin-bottom: 30px

		.step
			margin-bottom: 30px
			.top-line
				display: flex
				flex-wrap: wrap
				.wrap-title
					justify-content: center
					width: calc(100% - 70px)
					margin: 0
				.title
					font-size: 28px
					line-height: 36px
					margin: 0
				.top-text
					margin-bottom: 10px
					font-size: 15px
					line-height: 22px

				.wrap-icon
					max-width: 50px
					height: 50px
					margin-right: 20px
					border-width: 6px

				.wrap-info
					margin-top: 15px
					margin-left: 72px
					.top-text
						margin-bottom: 5px
					> *
						font-size: 15px
					.text
						font-size: 15px
			.subtext
				font-size: 15px
				line-height: 24px
				margin-left: 70px
				margin-top: 15px

			.form
				.select2-selection--single, .field
					padding: 16px 35px
					font-size: 23px
					line-height: 35px
					border-radius: 50px
				.select2-selection--single input
					font-size: 23px
			.form-children-photo
				.set-photo
					.text
						font-size: 13px
						bottom: 18%
					label
						&:after, &:before
							width: 8px
							height: 55px
					.thumbs-photo
						.thumb
							margin-bottom: 10px
							border-radius: 16px
							min-width: auto
							max-width: 50px
							min-width: 50px
							height: 50px
							border-width: 4px

				.other-data 
					display: block
					.wrap-social
						.row-social
							margin: 20px -15px 0
							justify-content: center
							a
								margin: 0 20px
					.wrap-social
						margin-top: 25px
						> span
							font-size: 17px
							line-height: 19px
						.row-social
							height: 20px
							a
								margin: 0 14px

			.wrap-bracelets
				display: block
				.bracelet
					width: 100%
					max-width: 100%
					height: auto
					position: relative
					&:after
						content: ""
						width: 100%
						padding-top: 100%
					img
						width: 70%
					.name
						position: absolute
						bottom: 13%
						left: 50%
						transform: translate(-50%, 0)
					&:first-child
						margin-right: 0
						margin-bottom: 20px

			.form-address
				.field-large
					margin: 0
				.wrap-field
					margin-bottom: 25px
				.wrap-field-index
					max-width: 100%
				.btn-accent
					padding: 23px 38px
					font-size: 28px


	.field-groups .step .form-children-photo .set-photo

		.img-animation
			position: absolute
			top: auto
			bottom: 100%
			left: 46%
			transform: translate(-50%, 0)
			margin-top: 0
		.wrap-field
			padding-top: 70px

		&_top-text
			left: 5%
			span
				font-size: 16px
				line-height: 22px
				margin-bottom: 3px
				&:last-child
					margin-bottom: 10px
		
	.field-groups .step .form, .field-groups .step .wrap-bracelets
		margin-top: 70px

@media(max-width: 360px)
	.field-groups .step .form-children-photo .set-photo_top-text
		left: 7vw
		span
			font-size: 13px
			line-height: 17px

	.field-groups .step .form-children-photo .set-photo .wrap-field
		padding-top: 55px









