.sec-add-promocode
	.container
		.sec-add-promocode-content

			button.btn-accent.modal-show(data-modal-key="modal-input-code")
				span.text Добавить код

			.wrap-all-promocodes
				span.title Введенные промокоды (14)
				.promocodes
					span kM-w9-1872-POWM
					span kM-w9-1872-POWM
					span kM-w9-1872-POWM
					span kM-w9-1872-POWM
					span kM-w9-1872-POWM
					span kM-w9-1872-POWM
					span kM-w9-1872-POWM
					span kM-w9-1872-POWM
					span kM-w9-1872-POWM
					span kM-w9-1872-POWM
					span kM-w9-1872-POWM







