.garant-present

	.container

		.item
			img.decor(src="img/decor.png", alt="")

			.wrap-text
				span.title Гарантированный<br> подарок
				p.text Чтобы получить гарантированный приз -<br> набор браслетов для мамы и ребенка -<br> сделайте следующее: 

			.row-steps
				.step.cur-step
					img.icon-check(src="img/icon-check.png", alt="")
					span.step-num шаг 1
					a(href="#").btn Введите код
				.step.cur-step
					img.icon-check(src="img/icon-check.png", alt="")
					span.step-num шаг 2
					a(href="#").btn Загрузите фото
				.step.cur-step
					img.icon-check(src="img/icon-check.png", alt="")
					span.step-num шаг 3
					a(href="#").btn Выберете цвет браслета
				.step.cur-step
					img.icon-check(src="img/icon-check.png", alt="")
					span.step-num шаг 4
					a(href="#").btn Указать адрес доставки




