.wrap-person-data
	.container

		span.main-title Ваши данные

		form.form.form-person-data
			.wrap-field
				input(type="text", placeholder="Ваше имя", value="Мария").field
			.wrap-field
				input(type="text", placeholder="Почта", value="maria@mail.ru").field
			.wrap-field.wrap-field-date
				input(type="text", datepicker, data-week-start="1", value="09.09.2000").field
			button.btn-accent
				span.text Сохранить
			a(href="#").btn-new-password Сбросить<br> пароль

		.bottom-line
			a(href="#") Правила участия
			a(href="#") Обратная связь
