.week-slider
	.container

		span.main-title Еженедельные призы

		.wrap-slider
			.slider
				.item
					.wrap-img.img-resp
						img(src="img/clock-8.png", alt="")
					.wrap-text
						span.week-num Неделя 1
						span.date 4 февраля - 10 февраля
						p.text Детские часы с GPS<br> трекером Smart Baby<br> Watch X10
						span.cur-state Розыгрыш завершен

				.item.item-accent
					.wrap-img.img-resp
						img(src="img/clock-7.png", alt="")
					.wrap-text
						span.week-num Неделя 2
						span.date 11 февраля - 17 февраля 
						p.text Детские часы с GPS<br> трекером Smart Baby<br> Watch X10
						span.cur-state ВЫ ВЫИГРАЛИ!

				.item
					.wrap-img.img-resp
						img(src="img/clock-2.png", alt="")
					.wrap-text
						span.week-num Неделя 1
						span.date 4 февраля - 10 февраля
						p.text Детские часы с GPS<br> трекером Smart Baby<br> Watch X10
						span.cur-state Розыгрыш завершен

				.item
					.wrap-img.img-resp
						img(src="img/clock-3.png", alt="")
					.wrap-text
						span.week-num Неделя 1
						span.date 4 февраля - 10 февраля
						p.text Детские часы с GPS<br> трекером Smart Baby<br> Watch X10
						span.cur-state Розыгрыш завершен

			.slider-control