.top-line-page.top-line-profile-page
	img.bg-orange(src="img/bg-orange-2.png", alt="")
	img.bg-orange.bg-orange-sm(src="img/bg-orange-2-sm.png", alt="")

	.container
		.breadcrumbs
			a(href="index.html")
				span Главная
			a(href="gallery.html")
				.icon.img-resp
					img(src="img/icon-gallery-blue.png", alt="")
				span Фотогалерея

		a.btn-out-profile(href="index.html") Выйти

		span.title Мой профиль

		

