.week-presents

	img.bg-blue(src="img/bg-blue.png", alt="")

	.container

		span.main-title Введите 2 или более промокодов<br> для участия в розыгрыше

		.wrap-presents
			.present
				.wrap-text
					span.title Приз недели
					span.text 08 февраля – 14 февраля
					.bottom-text.text-md
						img.icon-check.img-resp(src="img/icon-check.png", alt="")
						span Вы участвуете<br> в розыгрыше

				.wrap-img
					img(src="img/clock-6.png", alt="")

				.bottom-text
					img.icon-check.img-resp(src="img/icon-check.png", alt="")
					span Вы участвуете<br> в розыгрыше

			.present.present-large
				.wrap-text
					span.title Призы 2-го уровня
					span.title.title-big и Главный приз
					span.text Умные часы или<br class="d-lg-block d-none"> главный<br class="d-block d-lg-none"> приз – <br class="d-lg-block d-none">
						em Путешествие<br> для всей семьи
					.bottom-text
						img.icon-check.img-resp(src="img/icon-check.png", alt="")
						span Вы участвуете<br> в розыгрыше
				.wrap-img.img-resp.img-clock
					img(src="img/clock-1.png", alt="")
				.wrap-img.img-bg
					img(src="img/castle-3.png", alt="")





