.container
	.row
		.col-12.col-sm-6
			.wrap-field.wrap-field-search.wrap-field-clear
				input(type="text", placeholder="Поиск...", value="Куртка")
				button(type="submit").btn-search
				span.btn-clear-field

		.col-12
			.wrap-page-title
				span.page-title.h-3 143 результата по запросу «куртка»

				.btn-title.view-sort-items.text-medium.el-show-dropdown
					span Сортировать по
					.wrap-dropdown-label
						.dropdown-label
							ul
								li.text-medium По популярности
								li.text-medium.active По возрастанию цены
								li.text-medium По убыванию цены
								li.text-medium По новизне
								li.text-medium По скидке

		.col-12.col-sm-6.d-block.d-lg-none
			.wrap-select.wrap-select-result-search
				select
					option(value="1") Все товары
					option(value="2") И решил
					option(value="3") Сделать ограничение
					option(value="4") У выпадающего списка
					option(value="5") Вроде выпадающего
					option(value="12") Я тут подумал
					option(value="23") И решил
					option(value="34") Сделать ограничение
					option(value="45") У выпадающего списка
					option(value="56") Вроде через "a"



