doctype html

html(lang="ru")
	head
		title 
			block title

		//- Default
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

		//- Theme color
		meta(name="theme-color", content="#fff")

		//- Favicon
		link(rel="icon", type="image/png", sizes="16x16", href="img/favicon/favicon.png")
		link(rel="apple-touch-icon", sizes="57x57", href="img/favicon/favicon.png")

		//- Styles
		link(rel="stylesheet", href="css/main.min.css")
		link(rel="stylesheet", href="css/custom.css")

		block vars
	body(class=bodyClass)
		
		include ../../modules/preloader/preloader
		include ../../modules/mobile-menu/mobile-menu

		.page
			include ../../modules/modal/modal
			include ../../modules/header/header

			block content
				
		include ../../modules/footer/footer


		script(src="js/scripts.min.js")
		script(src="js/custom.js")