.list-sizes
	margin: 0 -2px 0
	word-spacing: -.18em
	li
		padding: 0 2px 0
		margin-bottom: 4px
		display: inline-block
		width: 100%
		line-height: 30px
		max-width: 49px
		font-size: 12px
		text-align: center
	a
		display: block
		background-color: $bg-gray
		font-weight: bold
		color: $text-gray
		&:hover
			color: $text
			background-color: #EAEAEA
	.active
		color: $text
		background-color: #EAEAEA


.product-card
	position: relative
	.label
		position: absolute
		top: 15px
		right: 15px
		width: 50px
		height: 50px
		text-align: center
		line-height: 50px
		text-transform: uppercase
		display: none
		color: #fff
		display: inline
		border-radius: 50%
		letter-spacing: 0.08em
		z-index: 3

.product-not-available
	.label
		background-color: $label-orange

.product-action
	.label
		background-color: $label-pink

.product-new
	.label
		background-color: $label-violet


.wrap-price
	> *
		display: block
	.old-price
		margin-bottom: 3px
		text-decoration: line-through
		line-height: 14px
	.cur-price
		font-size: 1.5rem
		line-height: 26px

.wrap-card-info
	font-size: 14px
	line-height: 16px

	> span 
		display: flex
		align-items: center
		margin-bottom: 12px
		&:last-child
			margin-bottom: 0

	em
		font-weight: bold
		margin-left: 3px


.wrap-icon-like
	width: 100%
	max-width: 22px
	cursor: pointer
	position: relative
	&::before
		content: ""
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		width: 100%
		height: 100%
		background: url("../img/icon_heart_full.svg") no-repeat center
		background-size: contain
		opacity: 0
		transition: .4s all ease
	path
		fill: #DCDCDC
	&:hover
		path
			fill: $gray-dark-icons

.wrap-icon-like.liked
	&::before
		opacity: 1

.wrap-rating
	margin-left: -4px
	margin-right: -4px
	position: relative
	top: 3px
	img
		display: inline-block
		max-width: 25px
		padding: 0 4px
		transition: .4s all ease
		&:hover
			filter: grayscale(70%)

.product-img-border
	border: 1px solid #F0F0F0

.product-img
	display: flex
	align-items: center
	justify-content: center
	img
		max-width: 100%
		max-height: 100%
		width: auto
		height: auto
	




+media-breakpoint-down(lg)
	.wrap-card-info
		>	span
			margin-bottom: 10px


+media-breakpoint-down(md)
	.wrap-card-info
		>	span
			margin-bottom: 6px
			font-size: 12px


+media-breakpoint-down(sm)

+media-breakpoint-down(xs)
	.wrap-price

		.old-price
			font-size: 12px
			line-height: 14px
		.cur-price
			font-size: 20px
			line-height: 26px

