.item-time
	display: flex
	align-items: center
	.wrap-icon
		max-width: 13px
		min-width: 13px
		width: 100%
		margin-right: 8px
		margin-bottom: -3px

	path
		fill: $text-gray
	.tag
		margin-left: 13px

+media-breakpoint-down(xs)
	.item-time
		font-size: 12px
		line-height: 14px





