.mCSB_scrollTools, .mCS-dark.mCSB_scrollTools
	*
		opacity: 1 !important

	.mCSB_dragger .mCSB_dragger_bar, .mCSB_draggerRail
		width: 6px

	.mCSB_dragger .mCSB_dragger_bar
		background-color: #000

	.mCSB_draggerRail
		border-radius: 18px


+media-breakpoint-down(sm)
	.mCSB_scrollTools
		.mCSB_dragger .mCSB_dragger_bar, .mCSB_draggerRail
			width: 4px !important