.wrap-social-squares
	display: flex
	align-items: center
	justify-content: center

	.social-square
		display: flex
		align-items: center
		justify-content: center
		background-color: $dark
		margin-right: 15px
		flex-shrink: 0
		width: 100%
		max-width: 40px
		height: 40px

		&:last-child
			margin-right: 0

		&:hover
			background-color: $dark-blue

		img
			display: block
			max-width: 18px
			max-height: 18px


.wrap-social-circle
	.social-circle-subtext
		margin: 10px 0 20px

	.social-circle-row
		display: flex
		align-items: center

		.social-circle
			display: flex
			align-items: center
			justify-content: center
			background-color: $dark
			margin-right: 20px
			flex-shrink: 0
			width: 100%
			max-width: 40px
			border-radius: 50%
			height: 40px
			position: relative

			&:last-child
				margin-right: 0

			img
				display: block
				max-width: 20px
				max-height: 20px
				transition: .4s all ease

		.social-fb.social-active
			background-color: #3B589A

		.social-vk.social-active
			background-color: #4B73A6

		.social-inst.social-active
			background-color: #314A80

		.social-g.social-active
			background-color: #D94C3A

		.social-active
			&::before
				content: ""
				position: absolute
				width: 13px
				height: 13px
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				background: url("../img/icon-cross-white.svg") no-repeat center
				background-size: contain
				background-position: center
				transition: .4s all ease
				opacity: 0

			&:hover
				background-color: #D94C3A

				&::before
					opacity: 1
					
				img
					opacity: 0



+media-breakpoint-down(lg)

+media-breakpoint-down(md)
	.wrap-article
		.wrap-social
			.social-title
				font-size: 1.6rem
				margin-bottom: 18px



+media-breakpoint-down(sm)
	.wrap-social-circle
		.social-circle-row
			.social-circle
				margin-right: 15px
				max-width: 35px
				height: 35px

				img
					max-width: 16px
					max-height: 16px

			.social-delete
				img
					max-width: 10px



+media-breakpoint-down(xs)
	.wrap-article
		.wrap-social
			.social-title
				font-size: 20px
				line-height: 28px
				margin-bottom: 18px


