.wrap-tabs-btns
	display: flex
	align-items: center
	justify-content: center
	.tab-btn
		cursor: pointer
		transition: .4s all ease
	.cur-tab-btn
		color: $dark-blue
		cursor: default

.wrap-tabs-content
	.tab-content
		display: none
	.cur-tab-content
		display: block