@mixin Cor-Bold ()
	font-family: "Cormorant", sans-serif
	font-weight: bold
@mixin Cor-BoldItalic ()
	font-weight: bold
	font-style: italic
	font-family: "Cormorant", sans-serif

@mixin Qan-SemiBold ()
	font-family: "Qanelas-SemiBold", sans-serif
@mixin Qan-Medium ()
	font-family: "Qanelas-Medium", sans-serif
@mixin Qan-Regular ()
	font-family: "Qanelas-Regular", sans-serif
