.wrap-personal-data.wrap-tabs-content

	.personal-data-orders.personal-data-group.tab-content.cur-tab-content(data-tab-key="orders")

		.personal-data-top-line
			.wrap-title.d-flex.justify-content-between.align-items-center
				span.order-title.h-3.text-fw-medium Заказ № 3772435

				span.link-bottom-line.text-small.link-view-all.tab-btn.d-none.d-sm-inline-flex(data-tab-key="history-orders") все заказы
	
			.order-status.d-flex.align-items-center
				span.item-time.text-small.text-gray.text-fw-bold
					.wrap-icon
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
							<g>
								<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
								<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
							</g>
						</svg>

					time(datetime="2018-02-12 18:00") 02.12.2018

				span.d-flex.align-items-center.label-status.label-status-gray
					.label-icon.responsive-img
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="79.536px" height="79.536px" viewBox="0 0 79.536 79.536" xml:space="preserve">
							<g>
								<path d="M39.769,0C17.8,0,0,17.8,0,39.768c0,21.965,17.8,39.768,39.769,39.768 c21.965,0,39.768-17.803,39.768-39.768C79.536,17.8,61.733,0,39.769,0z M34.142,58.513L15.397,39.768l7.498-7.498l11.247,11.247 l22.497-22.493l7.498,7.498L34.142,58.513z"/>
							</g>
						</svg>

					span.text-medium.label-text Обрабатывается

			span.link-bottom-line.text-small.link-view-all.tab-btn.d-inline-flex.d-sm-none(data-tab-key="history-orders") все заказы

		.selected-products
			.top-line.d-flex.justify-content-between.align-items-center
				span.text-fw-bold.product-count 4 товара
				a(href="#").text-small.text-dark-blue.text-fw-bold Отменить заказ

			ul.selected-products-list
				li.wrap-product-card.wrap-product-card-large
					.product-card.product-action
						.wrap-img.product-img.product-img-border
							img(src="img/main-img-card-4.jpg", alt="")

							.label.text-fw-bold.text-small -30%

							.wrap-icon-like.responsive-img
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
								<g>
									<path d="m121.6,40.1c-3.3-16.6-15.1-27.3-30.3-27.3-8.5,0-17.7,3.5-26.7,10.1-9.1-6.8-18.3-10.3-26.9-10.3-15.2,0-27.1,10.8-30.3,27.6-4.8,24.9 10.6,58 55.7,76 0.5,0.2 1,0.3 1.5,0.3 0.5,0 1-0.1 1.5-0.3 45-18.4 60.3-51.4 55.5-76.1zm-57,67.9c-39.6-16.4-53.3-45-49.2-66.3 2.4-12.7 11.2-21 22.3-21 7.5,0 15.9,3.6 24.3,10.5 1.5,1.2 3.6,1.2 5.1,0 8.4-6.7 16.7-10.2 24.2-10.2 11.1,0 19.8,8.1 22.3,20.7 4.1,21.1-9.5,49.6-49,66.3z"/>
								</g>
								</svg>
					
						.wrap-data
							span.d-inline-block.text-gray.text-fw-bold.text-small #Reebok Classic Leather

							a(href="#").product-name.text-fw-bold Спортивная футболка Activchil Graphic Move

							.wrap-card-info
								span Материал:
									em кожа
								span Цвет:
									em синий
								span Артикул:
									em D93810

						.wrap-product-count
							span.text-medium 1 шт.
									
						.wrap-price
							span.old-price.text-small.text-gray 278 руб.
							span.cur-price.text-fw-bold 250.20 руб.
							span.multi-price.text-small.text-gray 2 шт. x 111.10 руб.

				li.wrap-product-card.wrap-product-card-large
					.product-card
						.wrap-img.product-img.product-img-border
							img(src="img/main-img-card-3.jpg", alt="")

							.wrap-icon-like.responsive-img
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
								<g>
									<path d="m121.6,40.1c-3.3-16.6-15.1-27.3-30.3-27.3-8.5,0-17.7,3.5-26.7,10.1-9.1-6.8-18.3-10.3-26.9-10.3-15.2,0-27.1,10.8-30.3,27.6-4.8,24.9 10.6,58 55.7,76 0.5,0.2 1,0.3 1.5,0.3 0.5,0 1-0.1 1.5-0.3 45-18.4 60.3-51.4 55.5-76.1zm-57,67.9c-39.6-16.4-53.3-45-49.2-66.3 2.4-12.7 11.2-21 22.3-21 7.5,0 15.9,3.6 24.3,10.5 1.5,1.2 3.6,1.2 5.1,0 8.4-6.7 16.7-10.2 24.2-10.2 11.1,0 19.8,8.1 22.3,20.7 4.1,21.1-9.5,49.6-49,66.3z"/>
								</g>
								</svg>
					
						.wrap-data
							span.d-inline-block.text-gray.text-fw-bold.text-small #Reebok Classic Leather

							a(href="#").product-name.text-fw-bold Спортивная футболка Activchil Graphic Move

							.wrap-card-info
								span Материал:
									em кожа
								span Цвет:
									em синий
								span Артикул:
									em D93810

						.wrap-product-count
							span.text-medium 1 шт.
								
						.wrap-price
							span.cur-price.text-fw-bold 250.20 руб.


				li.wrap-product-card.wrap-product-card-large
					.product-card
						.wrap-img.product-img.product-img-border
							img(src="img/main-img-card-2.jpg", alt="")

							.wrap-icon-like.responsive-img
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
								<g>
									<path d="m121.6,40.1c-3.3-16.6-15.1-27.3-30.3-27.3-8.5,0-17.7,3.5-26.7,10.1-9.1-6.8-18.3-10.3-26.9-10.3-15.2,0-27.1,10.8-30.3,27.6-4.8,24.9 10.6,58 55.7,76 0.5,0.2 1,0.3 1.5,0.3 0.5,0 1-0.1 1.5-0.3 45-18.4 60.3-51.4 55.5-76.1zm-57,67.9c-39.6-16.4-53.3-45-49.2-66.3 2.4-12.7 11.2-21 22.3-21 7.5,0 15.9,3.6 24.3,10.5 1.5,1.2 3.6,1.2 5.1,0 8.4-6.7 16.7-10.2 24.2-10.2 11.1,0 19.8,8.1 22.3,20.7 4.1,21.1-9.5,49.6-49,66.3z"/>
								</g>
								</svg>
						
						.wrap-data
							span.d-inline-block.text-gray.text-fw-bold.text-small #Reebok Classic Leather

							a(href="#").product-name.text-fw-bold Спортивная футболка Activchil Graphic Move

							.wrap-card-info
								span Материал:
									em кожа
								span Цвет:
									em синий
								span Артикул:
									em D93810

						.wrap-product-count
							span.text-medium 1 шт.
								
						.wrap-price
							span.old-price.text-small.text-gray 278 руб.
							span.cur-price.text-fw-bold 250.20 руб.


				li.wrap-product-card.wrap-product-card-large
					.product-card.product-action
						.wrap-img.product-img.product-img-border
							img(src="img/main-img-card-4.jpg", alt="")

							.label.text-fw-bold.text-small -30%

							.wrap-icon-like.responsive-img
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
								<g>
									<path d="m121.6,40.1c-3.3-16.6-15.1-27.3-30.3-27.3-8.5,0-17.7,3.5-26.7,10.1-9.1-6.8-18.3-10.3-26.9-10.3-15.2,0-27.1,10.8-30.3,27.6-4.8,24.9 10.6,58 55.7,76 0.5,0.2 1,0.3 1.5,0.3 0.5,0 1-0.1 1.5-0.3 45-18.4 60.3-51.4 55.5-76.1zm-57,67.9c-39.6-16.4-53.3-45-49.2-66.3 2.4-12.7 11.2-21 22.3-21 7.5,0 15.9,3.6 24.3,10.5 1.5,1.2 3.6,1.2 5.1,0 8.4-6.7 16.7-10.2 24.2-10.2 11.1,0 19.8,8.1 22.3,20.7 4.1,21.1-9.5,49.6-49,66.3z"/>
								</g>
								</svg>
					
						.wrap-data
							span.d-inline-block.text-gray.text-fw-bold.text-small #Reebok Classic Leather

							a(href="#").product-name.text-fw-bold Спортивная футболка Activchil Graphic Move

							.wrap-card-info
								span Материал:
									em кожа
								span Цвет:
									em синий
								span Артикул:
									em D93810

						.wrap-product-count
							span.text-medium 1 шт.
									
						.wrap-price
							span.old-price.text-small.text-gray 278 руб.
							span.cur-price.text-fw-bold 250.20 руб.
							span.multi-price.text-small.text-gray 2 шт. x 111.10 руб.

			.bottom-line
				span.d-flex.align-items-center.result-price.customer-data-title.text-fw-bold.text-big Итого: 22 342.20 руб.
					.icon-dropdown.el-show-dropdown ?

					.dropdown-result-price-info.wrap-dropdown-label
						.dropdown-label

							ul.list-result-price-info
								li.list-result-price-info_item.text-medium Товаров на сумму: 
									em 31 998.90 руб.
								li.list-result-price-info_item.text-medium Скидка: 
									em 1 880.90 руб.
								li.list-result-price-info_item.text-medium Доставка: 
									em 0 руб.
								li.list-result-price-info_item.text-medium Итого: 
									em 22 342.20 руб.

		//- .changes-status
		//- 	span.changes-status_title.text-fw-bold История изменения статусов

		//- 	ul.changes-status_list
		//- 		li.changes-status_item.d-flex.align-items-center
		//- 			span.item-time.text-small.text-gray.text-fw-bold
		//- 				.wrap-icon
		//- 					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
		//- 						<g>
		//- 							<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
		//- 							<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
		//- 						</g>
		//- 					</svg>

		//- 				time(datetime="2018-02-12 18:00") 02.12.2018

		//- 			span.label-status.label-status-gray
		//- 				.label-icon.responsive-img
		//- 					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="79.536px" height="79.536px" viewBox="0 0 79.536 79.536" xml:space="preserve">
		//- 						<g>
		//- 							<path d="M39.769,0C17.8,0,0,17.8,0,39.768c0,21.965,17.8,39.768,39.769,39.768 c21.965,0,39.768-17.803,39.768-39.768C79.536,17.8,61.733,0,39.769,0z M34.142,58.513L15.397,39.768l7.498-7.498l11.247,11.247 l22.497-22.493l7.498,7.498L34.142,58.513z"/>
		//- 						</g>
		//- 					</svg>
		//- 				span.text-medium.label-text Доставлен


		//- 		li.changes-status_item.d-flex.align-items-center
		//- 			span.item-time.text-small.text-gray.text-fw-bold
		//- 				.wrap-icon
		//- 					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
		//- 						<g>
		//- 							<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
		//- 							<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
		//- 						</g>
		//- 					</svg>

		//- 				time(datetime="2018-02-12 18:00") 02.12.2018

		//- 			span.label-status.label-status-yellow
		//- 				.label-icon.responsive-img
		//- 					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="79.536px" height="79.536px" viewBox="0 0 79.536 79.536" xml:space="preserve">
		//- 						<g>
		//- 							<path d="M39.769,0C17.8,0,0,17.8,0,39.768c0,21.965,17.8,39.768,39.769,39.768 c21.965,0,39.768-17.803,39.768-39.768C79.536,17.8,61.733,0,39.769,0z M34.142,58.513L15.397,39.768l7.498-7.498l11.247,11.247 l22.497-22.493l7.498,7.498L34.142,58.513z"/>
		//- 						</g>
		//- 					</svg>							
		//- 				span.text-medium.label-text В обработке


		//- 		li.changes-status_item.d-flex.align-items-center
		//- 			span.item-time.text-small.text-gray.text-fw-bold
		//- 				.wrap-icon
		//- 					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
		//- 						<g>
		//- 							<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
		//- 							<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
		//- 						</g>
		//- 					</svg>

		//- 				time(datetime="2018-02-12 18:00") 02.12.2018

		//- 			span.label-status.label-status-red
		//- 				.label-icon.responsive-img
		//- 					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="510px" height="510px" viewBox="0 0 510 510" xml:space="preserve">
		//- 					<g>
		//- 						<g>
		//- 							<path d="M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M229.5,357h-51V153h51V357z M331.5,357h-51V153h51V357z"/>
		//- 						</g>
		//- 					</g>
		//- 					</svg>

		//- 				span.text-medium.label-text Задерживается


		//- 		li.changes-status_item.d-flex.align-items-center
		//- 			span.item-time.text-small.text-gray.text-fw-bold
		//- 				.wrap-icon
		//- 					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
		//- 						<g>
		//- 							<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
		//- 							<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
		//- 						</g>
		//- 					</svg>

		//- 				time(datetime="2018-02-12 18:00") 02.12.2018

		//- 			span.label-status.label-status-red
		//- 				.label-icon.responsive-img
		//- 					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 27.965 27.965" xml:space="preserve">
		//- 						<g>
		//- 							<g>
		//- 								<path d="M13.98,0C6.259,0,0,6.261,0,13.983c0,7.721,6.259,13.982,13.98,13.982c7.725,0,13.985-6.262,13.985-13.982 C27.965,6.261,21.705,0,13.98,0z M19.992,17.769l-2.227,2.224c0,0-3.523-3.78-3.786-3.78c-0.259,0-3.783,3.78-3.783,3.78 l-2.228-2.224c0,0,3.784-3.472,3.784-3.781c0-0.314-3.784-3.787-3.784-3.787l2.228-2.229c0,0,3.553,3.782,3.783,3.782 c0.232,0,3.786-3.782,3.786-3.782l2.227,2.229c0,0-3.785,3.523-3.785,3.787C16.207,14.239,19.992,17.769,19.992,17.769z"/>
		//- 							</g>
		//- 						</g>
		//- 					</svg>

		//- 				span.text-medium.label-text Отменен


		//- 		li.changes-status_item.d-flex.align-items-center
		//- 			span.item-time.text-small.text-gray.text-fw-bold
		//- 				.wrap-icon
		//- 					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
		//- 						<g>
		//- 							<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
		//- 							<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
		//- 						</g>
		//- 					</svg>

		//- 				time(datetime="2018-02-12 18:00") 02.12.2018

		//- 			span.label-status.label-status-dark
		//- 				.label-icon.responsive-img
		//- 					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="79.536px" height="79.536px" viewBox="0 0 79.536 79.536" xml:space="preserve">
		//- 						<g>
		//- 							<path d="M39.769,0C17.8,0,0,17.8,0,39.768c0,21.965,17.8,39.768,39.769,39.768 c21.965,0,39.768-17.803,39.768-39.768C79.536,17.8,61.733,0,39.769,0z M34.142,58.513L15.397,39.768l7.498-7.498l11.247,11.247 l22.497-22.493l7.498,7.498L34.142,58.513z"/>
		//- 						</g>
		//- 					</svg>
		//- 				span.text-medium.label-text Отправлен


		//- 		li.changes-status_item.d-flex.align-items-center
		//- 			span.item-time.text-small.text-gray.text-fw-bold
		//- 				.wrap-icon
		//- 					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
		//- 						<g>
		//- 							<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
		//- 							<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
		//- 						</g>
		//- 					</svg>

		//- 				time(datetime="2018-02-12 18:00") 02.12.2018

		//- 			span.label-status.label-status-dark
		//- 				.label-icon.responsive-img
		//- 					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="79.536px" height="79.536px" viewBox="0 0 79.536 79.536" xml:space="preserve">
		//- 						<g>
		//- 							<path d="M39.769,0C17.8,0,0,17.8,0,39.768c0,21.965,17.8,39.768,39.769,39.768 c21.965,0,39.768-17.803,39.768-39.768C79.536,17.8,61.733,0,39.769,0z M34.142,58.513L15.397,39.768l7.498-7.498l11.247,11.247 l22.497-22.493l7.498,7.498L34.142,58.513z"/>
		//- 						</g>
		//- 					</svg>
		//- 				span.text-medium.label-text Подтвержден

		.order-data
			span.order-data_title.text-fw-bold Данные заказа

			table.order-data_table
				tr
					td Получатель
					td
						span Вениамин Вениаминов 
						span +375 29 576 00 90
						span veniamin1987@gmail.ru
				tr
					td Способ доставки
					td Курьерская доставка
				tr
					td Адрес доставки
					td Минск, ул. Ленина 23
				tr
					td Способ оплаты
					td Заказ уже оплачен


	.personal-data-history-orders.personal-data-group.tab-content(data-tab-key="history-orders")

		.personal-data-top-line.d-none.d-sm-block
			.wrap-title
				span.h-3.text-fw-medium История заказов

		span.text-dark-blue.current-order-state Нет текущих заказов

		ul.list-previous-orders

			li.previous-order-item
				.top-line.d-block.d-sm-flex.align-items-center.justify-content-between
					span.text-fw-bold № 3772435

					.order-status.d-flex.align-items-center
						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018

						span.d-flex.align-items-center.label-status.label-status-gray
							.label-icon.responsive-img
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="79.536px" height="79.536px" viewBox="0 0 79.536 79.536" xml:space="preserve">
									<g>
										<path d="M39.769,0C17.8,0,0,17.8,0,39.768c0,21.965,17.8,39.768,39.769,39.768 c21.965,0,39.768-17.803,39.768-39.768C79.536,17.8,61.733,0,39.769,0z M34.142,58.513L15.397,39.768l7.498-7.498l11.247,11.247 l22.497-22.493l7.498,7.498L34.142,58.513z"/>
									</g>
								</svg>

							span.text-medium.label-text Доставлен

				.content.d-block.d-md-flex.justify-content-between.align-items-end
					ul.delivery-list.d-flex.align-items-center.flex-wrap
						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")

						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")

						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")

						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")

						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")

						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")

						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")

						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")

						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")

						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")

						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")



					.wrap-price-btn
						span.result-price.text-big.text-fw-bold 22 272.90 руб.
						a(href="#").btn.btn-dark Подробнее

			li.previous-order-item
				.top-line.d-block.d-sm-flex.align-items-center.justify-content-between
					span.text-fw-bold № 3772435

					.order-status.d-flex.align-items-center
						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018

						span.d-flex.align-items-center.label-status.label-status-gray
							.label-icon.responsive-img
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="79.536px" height="79.536px" viewBox="0 0 79.536 79.536" xml:space="preserve">
									<g>
										<path d="M39.769,0C17.8,0,0,17.8,0,39.768c0,21.965,17.8,39.768,39.769,39.768 c21.965,0,39.768-17.803,39.768-39.768C79.536,17.8,61.733,0,39.769,0z M34.142,58.513L15.397,39.768l7.498-7.498l11.247,11.247 l22.497-22.493l7.498,7.498L34.142,58.513z"/>
									</g>
								</svg>

							span.text-medium.label-text Доставлен

				.content.d-block.d-md-flex.justify-content-between.align-items-end
					ul.delivery-list.d-flex.align-items-center.flex-wrap
						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")

						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")

						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")

						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")

						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")

						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")

						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")


					.wrap-price-btn
						span.result-price.text-big.text-fw-bold 2 272.90 руб.
						a(href="#").btn.btn-dark Подробнее


	.personal-data-information.personal-data-group.tab-content(data-tab-key="information")

		.personal-data-top-line.d-none.d-sm-block
			.wrap-title
				span.h-3.text-fw-medium Личная информация

		form.form-validate.form.form-user-data
			.wrap-switches.d-flex.flex-wrap.align-items-stretch
				.wrap-radio.form-el-3
					input(required, type="radio", name="switches", checked)#rd3
					label(for="rd3").box
					span.text Мужчина
				.wrap-radio.form-el-3
					input(required, type="radio", name="switches")#rd4
					label(for="rd4").box
					span.text Женщина

			.wrap-fields.d-flex.flex-wrap.align-items-stretch
				.wrap-field.form-el-2
					input(required, type="text", name="lastname", placeholder="Фамилия")
					.error-icon
						img(src="img/icon-error.svg", alt="")

				.wrap-field.form-el-2
					input(required, type="text", name="firstname", placeholder="Имя")
					.error-icon
						img(src="img/icon-error.svg", alt="")
						

				.wrap-field.form-el-2
					input(required, type="text", name="email", placeholder="E-mail", data-msg-email="Неверный формат")
					.error-icon
						img(src="img/icon-error.svg", alt="")
					

				.wrap-field.form-el-2
					input(required, type="tel", name="phone" placeholder="Телефон")
					.error-icon
						img(src="img/icon-error.svg", alt="")

				.wrap-field.wrap-field-date.form-el-2
					input(required, type="text", placeholder="Дата рождения", name="birthday")
					
				.wrap-btn.form-el-2
					button(type="submit").btn.btn-dark сохранить изменения

		form.form.form-validate.form-change-password
			span.form-change-password_title.h-3.text-fw-medium Смена пароля

			.wrap-fields
				.wrap-field.form-el-2
					input(required, type="text", placeholder="Текущий пароль", name="noempty")
					.error-icon
						img(src="img/icon-error.svg", alt="")
					
				.wrap-field.form-el-2
					input(required, type="password", placeholder="Новый пароль", name="password").password
					.error-icon
						img(src="img/icon-error.svg", alt="")
					
				.wrap-field.form-el-2
					input(required, type="password", placeholder="Подтверждение пароля", name="confirm_password")
					.error-icon
						img(src="img/icon-error.svg", alt="")
					
				.wrap-btn.form-el-2
					button(type="submit").btn.btn-dark Изменить пароль


		.data-information-social.wrap-social-circle
			span.h-3.text-fw-medium Социальные сети

			p.text-medium.social-circle-subtext Нажмите на значок социальной сети, чтобы<br> связать ее с личным кабинетом

			.social-circle-row
				a(href="#").social-fb.social-circle
					img(src="img/icon-fb-white.svg", alt="")

				a(href="#").social-vk.social-circle.social-active
					img(src="img/icon-vk-white.svg", alt="")

				a(href="#").social-inst.social-circle.social-active
					img(src="img/icon-inst-white.svg", alt="")

				a(href="#").social-g.social-circle
					img(src="img/icon-google-white.svg", alt="")


	.personal-data-address.personal-data-group.tab-content(data-tab-key="address")

		.personal-data-top-line.d-none.d-sm-block
			.wrap-title
				span.h-3.text-fw-medium Мои адреса

		ul.list-saved-address
			
			li.item-saved-address.cur-address
				span.d-flex.justify-content-between.align-items-center.item-saved-address-title 
					span.text-fw-bold Домашний

					.wrap-address-functional.d-flex.align-items-center
						span.change-address.responsive-img
							img(src="img/icon-pencil.svg", alt="")
						span(data-izimodal-open=".modal-remove-address-question").remove-address.responsive-img
							img(src="img/icon-cross.svg", alt="")

				address.text-medium.address-data г. Минск, ул. Скрыганова

			
			li.item-saved-address
				span.d-flex.justify-content-between.align-items-center.item-saved-address-title 
					span.text-fw-bold Без названия

					.wrap-address-functional.d-flex.align-items-center
						span.change-address.responsive-img
							img(src="img/icon-pencil.svg", alt="")
						span(data-izimodal-open=".modal-remove-address-question").remove-address.responsive-img
							img(src="img/icon-cross.svg", alt="")

				address.text-medium.address-data г.Минск, ул. Левитана, 144/3, 40
	
		a(href="#").btn.btn-dark(data-izimodal-open=".modal-add-address") добавить адрес


	.personal-data-callback.personal-data-group.tab-content(data-tab-key="callback")

		.personal-data-callback-content.d-flex.justify-content-between

			.content-left
				.personal-data-top-line.d-none.d-sm-block
					.wrap-title
						span.h-3.text-fw-medium Обратная связь
					p.subtitle Возникли вопросы по заказу или работе интернет-магазина? Оставьте свое обращение и мы проконсультируем вас.

				form.form-validate.form.form-callback
					.wrap-select.wrap-select-personal-area
						select(reauired, name="selectthememsg", placeholder="Тема обращения")
							option
							option(value="1") 
								span В данной ситуации
							option(value="2") 
								span И решил
							option(value="3") 
								span Сделать ограничение
							option(value="4") 
								span У выпадающего списка
							option(value="5") 
								span Вроде выпадающего пишется
							option(value="12") 
								span Я тут подумал
							option(value="23") 
								span И решил

					.wrap-field
						input(required, type="tel", placeholder="Телефон")
						.error-icon
							img(src="img/icon-error.svg", alt="")
					
					.wrap-field
						textarea(required, placeholder="Текст сообщения", name="message")
						.error-icon
							img(src="img/icon-error.svg", alt="")

					.wrap-checkbox
						input(required, type="checkbox", id="tdbanner")
						label(for="tdbanner").box
						span.text.text-medium Пожалуйста, свяжитесь со мной по телефону
				
					button(type="submit").btn.btn-dark Отправить

			.content-right

				.reference
					span.text-small.text-fw-bold.reference_title.text-uppercase.letter-spacing-08 Справка
					p.text-medium Время работы службы поддержки:
						em  вт-сб 10.00-19.00
					p.text-medium Максимальный срок  ответа на обращение – 24 часа.
					p.text-medium Тел. для связи
						a(href="375291906669") + 375 (29) 190-66-69

