//Title
.main-services
	.title-group
		.sec-title, .sec-subtitle
			opacity: 0
			transform: translate(0, 300%)
		.sec-title
			transition: 1.5s transform ease, 1.5s opacity ease
		.sec-subtitle
			transition: 1.5s transform ease .4s, 1.5s opacity ease .4s
//

//Items
.main-services
	.secvices-item
		&:before
			transition: 2.5s transform ease .8s
			transform: translate(-110%, 0)
		.item-img, .item-title, .item-subtitle, .middle-info, .category, .price, .wrap-btn
			opacity: 0
		.item-img
			transition: 2s transform ease, 2s opacity ease
		.item-title
			transition: 1.2s transform ease 1.4s, 1.2s opacity ease 1.3s
		.item-subtitle
			transition: 1.2s transform ease 1.5s, 1.2s opacity ease 1.5s
		.middle-info
			transition: 1.2s transform ease 1.7s, 1.2s opacity ease 1.7s
		.category
			transition: 1.2s transform ease 1.8s, 1.2s opacity ease 1.8s
		.price
			transition: 1.2s transform ease 1.9s, 1.2s opacity ease 1.9s
		.wrap-btn
			transition: 1.2s transform ease 2s, 1.2s opacity ease 2s
	.item-odd
		.item-img
			transform: translate(110%, 0)
		.item-title, .item-subtitle, .middle-info, .category, .price, .wrap-btn
			transform: translate(-110%, 0)
	.item-even
		.item-img
			transform: translate(-110%, 0)
		.item-title, .item-subtitle, .middle-info, .category, .price, .wrap-btn
			transform: translate(110%, 0)

+media(md)
	.main-services
		.secvices-item
			&:before
				transition-delay: 0s
				transform: translate(110%, 0)
			.item-title
				transition-delay: .8s
			.item-subtitle
				transition-delay: 1s
			.middle-info
				transition-delay: 1.2s
			.category
				transition-delay: 1.4s
			.price
				transition-delay: 1.6s
			.wrap-btn
				transition-delay: 1.8s
//


//Title
.main-services
	.title-animation
		.sec-title, .sec-subtitle
			opacity: 1
			transform: translate(0, 0)
//

//Items
.main-services
	.services-item-animation
		&:before
			transform: translate(0, 0)
		.item-img, .item-title, .item-subtitle, .middle-info, .category, .price, .wrap-btn
			opacity: 1
			transform: translate(0, 0)
//