.news
	margin-top: -20px
	.top-line
		display: flex
		justify-content: space-between
		align-items: center
		.new-title
		.wrap-slider-nav
			display: flex
			align-items: center
			.arrow-icon
				path
					fill: $accent
					+trs(.3, eio)
			button
				display: flex
				align-items: center
				justify-content: center
				cursor: pointer
			.owl-next
				transform: rotate(180deg)
				margin-left: 45px
			.disabled
				.arrow-icon
					path
						fill: #BEC2C3
	.owl-stage
		display: flex
		align-items: stretch
	.wrap-news-items
		margin-top: 30px
		.news-item
			display: flex
			flex-direction: column
			justify-content: space-between
			height: 100%
			.top-info
				margin-bottom: 26px
				.info-title
					margin-bottom: 8px
					font-size: 22px
					line-height: 28px
					color: #000
					&:hover
						color: $accent
			.bottom-info
				display: flex
				align-items: center
				.wrap-icon
					margin-right: 10px
					width: 15px
					height: 15px



+media(xl)


+media(lg)
	.news
		margin-top: 0px


+media(md)


+media(sm)