.reliability
	.wrap-reliability-items
		padding-top: 30px
		display: flex
		align-items: stretch
		justify-content: space-between

	.wrap-item
		flex-basis: calc(25% - 12px)
		min-height: 290px
		position: relative
		color: #010101
		position: relative
		perspective: 1000px
		.title
			display: block
			font-size: 22px
			line-height: 29px
			position: relative
			z-index: 2
		.wrap-icon
			position: absolute
			bottom: 0
			right: 0
			z-index: 1
			img
				display: block
				margin: 0 12px 12px auto

		.front
			padding: 50px 42px
			position: absolute

		.back, .front
			top: 0
			left: 0
			width: 100%
			height: 100%
			transition: 1s all ease
			border-radius: 5px
			backface-visibility: hidden

		.back
			transform: rotateY(180deg)
			padding: 24px
			p
				font-size: 14px
				line-height: 19px
				margin-bottom: 20px
				&:last-child
					margin-bottom: 0
			ul
				li
					position: relative
					padding-left: 18px
					margin-bottom: 7px
					font-size: 14px
					line-height: 16px
					&:after
						content: "●"
						color: rgba(0,0,0,.7)
						font-size: 9px
						position: absolute
						top: 0
						left: 0

		&:hover 
			.front
				transform: rotateY(180deg) scale(1.03)
				box-shadow: 0px 12px 25px rgba(30, 30, 30, 0.09)
			.back 
				transform: rotateY(360deg) scale(1.03)
				box-shadow: 0px 12px 25px rgba(30, 30, 30, 0.09)

		&:first-child
			.front, .back
				background-color: #D4D8E2

		&:nth-child(2)
			.back, .front
				background-color: $accent

		&:nth-child(3)
			.back, .front
				background-color: #76838C

		&:last-child
			.back, .front
				background-color: #DFEBF4


+media(xl)
	.reliability
		.wrap-item
			flex-basis: calc(25% - 8px)
			min-height: 245px
			position: relative
			.title
				font-size: 20px
				line-height: 26px
			.wrap-icon
				img
					width: 130px
			.back
				p
					font-size: 12px
					line-height: 15px
					margin-bottom: 15px
				ul
					li
						font-size: 12px
						margin-bottom: 6px
						padding-left: 14px
						&:after
							font-size: 7px


+media(lg)
	.reliability
		.wrap-reliability-items
			flex-wrap: wrap
			justify-content: center
		.wrap-item
			flex-basis: 35%
			min-height: 245px
			margin: 0 10px 20px
			.title
				font-size: 20px
				line-height: 26px
			.wrap-icon
				img
					width: 130px

+media(md)
	.reliability
		.wrap-item
			flex-basis: 45%

+media(sm)
	.reliability
		.wrap-reliability-items
			display: block
		.wrap-item
			flex-basis: auto
			max-width: 250px
			width: 100%
			margin: 0 auto 30px

			.back
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%

			&:last-child
				margin-bottom: 0
