.sec-phone
	padding: 90px 0 80px
	&-content
		display: flex
		align-items: center
		justify-content: center

		> div
			padding: 0 50px

	.wrap-phone
		flex-basis: 240px
	.wrap-text
		margin-bottom: 100px
		flex-basis: 484px
		.sec-title
			text-align: left
			font-size: 32px
			line-height: 40px
		.subtext
			margin-top: 5px
			margin-bottom: 20px
			font-size: 16px
			line-height: 22px
		.wrap-btn
			a
				padding: 12px 40px


+media(lg)
	.sec-phone
		&-content
			> div
				padding: 0 20px

		.wrap-phone
			flex-basis: 340px
		.wrap-text
			flex-basis: 440px
			.sec-title
				font-size: 28px
				line-height: 36px


+media(md)
	.sec-phone
		padding: 70px 0 50px
		&-content
			display: block

			> div
				padding: 0
				margin-left: auto
				margin-right: auto

		.wrap-phone
			flex-basis: auto
			padding: 0 20px
			img
				margin: 0 auto
				display: block

		.wrap-text
			margin-bottom: 0
			flex-basis: auto
			text-align: center
			margin-top: 50px
			max-width: 400px
			width: 100%
			.sec-title
				font-size: 28px
				line-height: 33px
			.subtext
				font-size: 14px
				line-height: 18px

+media(sm)
	.sec-phone
		padding: 40px 0
		&-content
			.wrap-text
				.sec-title
					font-size: 24px;
					line-height: 28px;