.sec-items-system
	padding-bottom: 80px
	.wrap-items
		.item-wrap
			flex-basis: calc(100% / 5 - 12px)
		.title
			padding-right: 20px


+media(lg)
	.sec-items-system
		padding-bottom: 30px
		.wrap-items
			justify-content: center
			flex-wrap: wrap
			.item-wrap
				flex-basis: calc(100% / 3 - 12px)
				margin-bottom: 40px
				text-align: center
			.title
				padding-right: 0

+media(md)
	.sec-items-system
		.wrap-items
			.item-wrap
				flex-basis: calc(100% / 2 - 24px)

+media(sm)
	.sec-items-system
		padding: 40px 0
		.wrap-items
			.item-wrap
				flex-basis: auto
				max-width: 250px
				width: 100%
