.sec-skills
	padding: 80px 0 90px
	position: relative
	overflow: hidden
	.wrap-sec-img
		position: absolute
		bottom: 0
		left: -45px
		width: 770px
		height: 435px
		background-position: left center
		background-size: cover
		background-repeat: no-repeat

	.wrap-content
		position: relative
		display: flex
		justify-content: space-between

		> div
			flex-basis: 50%

		.content-left
			padding-top: 30px
			> span 
				display: block
			.accent-text
				font-size: 160px
				line-height: 130px
				color: $accent
				font-weight: 900
			.title
				font-size: 34px
				line-height: 40px
				color: #000

		.content-right
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			.wrap-item
				width: 270px
				min-height: 272px
				transition: .5s all ease
				border-radius: 5px
				position: relative
				padding: 40px
				margin-bottom: 14px
				color: #010101

				&:hover
					box-shadow: 0px 12px 25px rgba(30, 30, 30, 0.09)
					transform: scale(1.03)

				.title
					display: block
					font-size: 18px
					line-height: 22px
					position: relative
					z-index: 2
					word-wrap: break-word
				em
					font-weight: bold
				ul
					margin-top: 15px
					li
						position: relative
						padding-left: 18px
						margin-bottom: 7px
						font-size: 14px
						line-height: 16px
						&:after
							content: "●"
							color: $accent
							font-size: 9px
							position: absolute
							top: 0
							left: 0
				
				.wrap-icon
					position: absolute
					bottom: 0
					right: 0
					z-index: 1
					img
						display: block
						margin: 0 0 0 auto


				&:first-child
					background-color: $accent

				&:nth-child(2)
					background-color: #76838C

				&:nth-child(3)
					background-color: #DFEBF4

				&:last-child
					background-color: #D4D8E2


@media (max-width: 1440px)
	.sec-skills
		padding: 80px 0 30px
		.wrap-sec-img
			left: -45px
			width: 590px
			height: 330px

+media(xl)
	.sec-skills
		.wrap-sec-img
			width: 510px
			height: 285px

		.wrap-content
			.content-left
				.accent-text
					font-size: 130px
					line-height: 120px
				.title
					font-size: 30px
					line-height: 36px
					color: #000

			.content-right
				.wrap-item
					width: 48.5%
					min-height: 250px
					padding: 30px
					margin-bottom: 13px
					.title
						font-size: 16px
						line-height: 20px

					ul
						li
							font-size: 13px
							padding-left: 15px
							&:after
								font-size: 8px


+media(lg)
	.sec-skills
		padding: 70px 0 0

		.wrap-sec-img
			display: none

		.wrap-content
			display: block

			> div 
				margin-left: auto
				margin-right: auto

			.content-left
				padding-top: 0
				margin-bottom: 50px
				text-align: center

			.content-right
				justify-content: center
				.wrap-item
					width: 40%
					min-height: 250px
					padding: 30px
					margin: 0 10px 20px

					&:hover
						transform: scale(1)
						box-shadow: none
						


+media(md)
	.sec-skills
		padding: 50px 0 0
		.wrap-content
			.content-right
				.wrap-item
					max-width: 280px
					width: 100%

+media(sm)
	.sec-skills
		padding: 50px 0 0
		.wrap-content
			.content-left
				margin-bottom: 30px
				.accent-text
					font-size: 90px
					line-height: 80px
				.title
					font-size: 24px
					line-height: 28px
					color: #000

					

