.video-home.video.lazy(role="region" data-bg="url(img/bg-fast.png)")

	.wrapper
		.video__inner

			.video__player
				<iframe src="https://www.youtube.com/embed/6RZH6CHNgas" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

			.video__wrap-text
				img.video__text-decor.lazy(src="" data-src="img/star.png", alt="", aria-hidden="true")
				p.video__text.title-1 <em>Узнай</em> за 58 секунд,<br> какие услуги<br> мы <em>предлагаем</em>
