extends ../pug/template/page.pug

block title 
	| Профиль

block content
	include profile/top-line
	include profile/add-promocode
	include profile/garant-present
	include profile/week-presents
	include profile/field-groups
	include profile/slider
	include profile/person-data
