doctype html

html(lang="ru")
	head
		title Template

		//- Default
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

		//- Theme color
		meta(name="theme-color", content="#fff")

		//- Favicon
		link(rel="icon", type="image/png", sizes="16x16", href="img/favicon/favicon.png")
		link(rel="apple-touch-icon", sizes="57x57", href="img/favicon/favicon.png")

		//- Styles
		link(rel="stylesheet", href="css/main.min.css")

	body

		header.header-mini
			.container
				.top-line
					span Успешная регистрация
					a(href="#") Просмотреть в браузере
			.wrap-header-bg
				.wrap-big-logo.img-resp
					img(src="img/big-logo.png", alt="")

		.page-result-reg
			.container
				span.title Регистрация прошла успешно
				p.subtext Вы успешно зарегистрированы на сайте Kinder Chocolate – Что нас связывает.

				p
					span Логин: <em>MarinaShapovalova</em>
					span Пароль: <em>82IOL99</em>

				p.subtext Изменить пароль можно в личном кабинете.
				p.subtext Спасибо, что выбираете Kinder Chocolate


			footer.footer
				img.footer-bg.footer-bg-desktop(src="img/footer-bg-desktop.png", alt="")
				img.footer-bg.footer-bg-mobile(src="img/footer-bg-mobile.png", alt="")

				.footer-content
					.container
						.footer-bottom
							span.copyright © Ferrero 2019 − All rights reserved
							.row-links
								a(href="#") Отписаться
								a(href="#") Поликита конфеденциальности

				
		script(src="js/scripts.min.js")

					
