.section-counter
	.counter-item
		text-align: center
		min-height: 400px
		position: relative
		overflow: hidden

		.counter-item-mob-bg
			display: none
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			width: 100%
			height: auto
			z-index: 0

		.btn
			margin: 0 auto

		&-large
			padding-bottom: 30px

			.counter-title
				margin: 60px 0 18px

			.wrap-counter
				.countdown-container
					background-color: #fff
					padding: 
					margin: 0 5px
					padding: 10px 15px 8px
					min-width: 80px
					> *
						padding: 0
						margin: 0
						color: $text
						background-color: transparent
					.countdown-value
						font-size: 1.875rem
						line-height: 33px
						font-weight: bold
						text-shadow: none
						margin-bottom: 3px
					.countdown-heading
						font-size: 0.75rem
						line-height: 14px
						text-transform: capitalize

	.seconds-hide
		.seconds
			display: none

+media-breakpoint-down(lg)

+media-breakpoint-down(md)
	.section-counter
		.counter-item
			min-height: 350px

			&-large
				.counter-title
					margin-top: 40px


+media-breakpoint-down(sm)

+media-breakpoint-down(xs)
	.section-counter
		padding: 20px 0 0

		.container
			> div 
				padding: 0

		.row
			margin: 0
			> div
				padding: 0

		.counter-item
			background-image: none
			margin: 0 0 20px
			min-height: 360px
			padding: 50px 30px

			.wrap-text
				.title
					font-size: 30px
					line-height: 36px

			&-large
				min-height: 430px
				padding: 35px 10px
				display: flex
				align-items: flex-end
				justify-content: center

			.wrap-counter
				.countdown-container
					padding: 8px 10px 6px

					.countdown-value
						font-size: 30px
						line-height: 34px
						margin-bottom: 0

					.countdown-heading
						font-size: 12px
						line-height: 14px


			.counter-item-mob-bg
				display: block

			.wrap-text
				position: relative
				z-index: 1


