.wrap-tabs-btn
	span.tab.cur-tab Товары в корзине (3)
	span.tab Отложенные товары (1)

a(href="#").link-to-shopping
	.icon
		<svg width="5" height="9" viewBox="0 0 5 9" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M4.08944 8.9101L0.0859408 4.70734C0.0286771 4.64729 -3.39776e-08 4.57821 -3.39776e-08 4.50006C-3.39776e-08 4.42192 0.0286771 4.35271 0.0859408 4.29263L4.08944 0.0902123C4.14679 0.0300076 4.2126 0 4.28708 0C4.36152 0 4.42742 0.0301023 4.48466 0.0902123L4.91409 0.541021C4.97135 0.601131 4.99997 0.670306 4.99997 0.748452C4.99997 0.826598 4.97135 0.895774 4.91409 0.955884L1.53779 4.50006L4.9143 8.04437C4.97156 8.10445 5 8.17365 5 8.25167C5 8.32995 4.97138 8.39912 4.9143 8.4592L4.48469 8.91007C4.42745 8.97015 4.36152 9 4.28711 9C4.2126 9.00003 4.1467 8.97018 4.08944 8.9101Z" fill="#292929"/>
		</svg>
	| Вернуться к покупкам


