@import "../../../less/common/vars";


.basket{
	&-nav{
		width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		-ms-align-items: center;
		align-items: center;
		margin-bottom: 20px;

		.wrap-tabs-btn{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: center;
			align-items: center;

			.tab{
				font-family: "RobMed";
				color: @textGrayLight;
				cursor: pointer;
				transition: .3s all ease;
				position: relative;

				&::after{
					content: "";
					position: absolute;
					top: 100%;
					left: 50%;
					-webkit-transform: translate(-50%, 0);
					-moz-transform: translate(-50%, 0);
					-ms-transform: translate(-50%, 0);
					-o-transform: translate(-50%, 0);
					transform: translate(-50%, 0);
					height: 2px;
					width: 100%;
					background-color: @blue;
					transition: .3s all ease;
					opacity: 0;
				}

				&:first-child{
					margin-right: 35px;
				}
			}

			.cur-tab{
				color: @blue;
				&::after{
					opacity: 1;
				}
			}
		}

		.link-to-shopping{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: center;
			align-items: center;
			color: @textDark;
			font-size: 15px;
			line-height: 19px;

			.icon{
				margin-right: 7px;
				width: 5px;

				svg{
					width: 100%;
					height: auto;
				}
			}
		}
		
	}
}


@media (min-width: 1260px) {

}

@media (max-width: 1259px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
	.basket{
		&-nav{
			margin-bottom: 15px;

			.wrap-tabs-btn{
				.tab{
					font-size: 13px;
					line-height: 17px;

					&:first-child{
						margin-right: 15px;
					}
				}
			}

			.link-to-shopping{
				font-size: 13px;
				line-height: 17px;
			}
		}
	}
}

@media (max-width: 575px) {
	.basket{
		&-nav{
			.link-to-shopping{
				display: none;
			}

			.wrap-tabs-btn{
				width: 100%;

				.tab{
					font-size: 12px;
					line-height: 16px;

					&:first-child{
						margin-right: 20px;
					}
				}
			}
		}
	}
}



