section.direct-plus.sec-page
	.container
		.direct-plus-content

			.wrap-title
				span.title Преимущества контекстной рекламы в Яндекс Директ

			.wrap-blue-items-circle
				.item
					.wrap-icon
						img.lazyload(data-src="img/direct-plus-3.svg", alt="")
					p.text Значительный охват пользователей, привлечение целевой аудитории.

				.item
					.wrap-icon
						img.lazyload(data-src="img/direct-plus-4.svg", alt="")
					p.text Доступная стоимость рекламы, минимальная цена клика стартует от 0.1 доллара США.

				.item
					.wrap-icon
						img.lazyload(data-src="img/direct-plus-2.svg", alt="")
					p.text Эффективный таргетинг позволяет привлекать только заинтересованных пользователей.

				.item
					.wrap-icon
						img.lazyload(data-src="img/direct-plus-5.svg", alt="")
					p.text Статистика, регулярные отчеты по эффективности проведения рекламных кампаний.

				.item
					.wrap-icon
						img.lazyload(data-src="img/direct-plus-1.svg", alt="")
					p.text Ранжированная плата (только за переходы, за клики – не взимается).
