section.direct.sec-page
	.container
		.direct-content

			.content-left
				.wrap-img.img-resp
					img.lazyload(data-src="img/logo-direct.png")

			.content-right
				.wrap-title
					span.title Виды контекстной рекламы, размещаемые в Яндекс.Директ
				p.subtext По функциональным отличиям контекстная реклама Яндекс делится на:
				.wrap-list-point
					ul
						li Тематическую (баннеры и ссылки размещаются на ресурсах партнеров Яндекс Директ)
						li Поисковую (выводится на самой странице результатов поиска)