section.text-under-direct.sec-page
	.container
		.text-under-direct-content

			.wrap-title
				span.title Контекстная реклама сайта в Яндекс.Директ по типу размещения

			.wrap-text
				.text-group-left.wrap-list-point
					span 1. Контекстная реклама в поисковой выдаче Яндекс.
					p Набирая запрос соответствующей тематики, пользователь сразу будет видеть такие объявления. Их преимущество в том, что оплачивается не сама контекстная реклама, а переход по соответствующей ссылке на сайт рекламодателя. Как правило, такие рекламные блоки располагаются:
					span Как правило, такие рекламные блоки располагаются:
					ul
						li Над основной поисковой выдачей (спецразмещение). Чаще всего содержится не более трех результатов. Преимуществами таких объявлений выступают: удобное, в поле зрения пользователя, размещение, легкость прочтения рекламы, высокая кликабельность. Минус – если конкуренция высока, то, чтобы обеспечить эффективность такой рекламы, необходим достаточно высокий стартовый бюджет;
						li Гарантированный показ – размещают справа или под результатами запросов. Их преимущество – возможность экономии рекламного бюджета при размещении на первой странице. Минус – меньшая кликабельность, чем у спецразмещения.

				.text-group-right.wrap-list-point
					span 2. Контекстная реклама Яндекс на сайтах-партнерах.
					p Является эффективным вспомогательным инструментом привлечения целевой аудитории. В зависимости от товара, направления услуги, может быть рациональным инструментом бизнеса. Особенно актуальна для рекламирования сопутствующих, реализуемых на партнерский сайтах, товаров/услуг.
					span Существует несколько вариантов размещения такой контекстной рекламы:
					ul
						li плоские блоки – помещаются в центре страницы, вверху или внизу;
						li горизонтальные блоки – между абзацами. Каждый из них включает 3-4 объявления;
						li вертикальные блоки – справа и слева страниц, содержат значительное число (до 20) рекламных объявлений;
						li фиксированный формат рекламы, позволяющий сохранить величину шрифта;
						li флэш-блоки – популярны в социальных сетях и специализированных флеш-сайтах.