section.page-banner.img-bg(style="background-image: url('img/banner-yandex-commercial-bg.png')")
	.container

		.page-banner-content
			.wrap-breadcrumbs.breadcrumbs-yellow
				a(href="index.html") Главная
				span.delimiter /
				a(href="") Услуги
				span.delimiter /
				a(href="") Контекстная реклама
				span.delimiter /
				span.cur-page Реклама в Яндекс

			.page-banner-text
				span.banner-title Реклама в Яндекс
				p.subtext Для белорусского сегмента сети интернет Яндекс – самая<br> популярная поисковая система. Этот сервис фиксирует более<br> 50% рекламных заказов по поисковым запросам пользователей.
