section.page-404
	.container
		.row.justify-content-center.align-items-center
			.col-12.col-sm-10.col-md-8.col-lg-6

				.wrap-img.responsive-img
					img(src="img/404.png", alt="")

				.wrap-text
					span.h-3.title Упс, что-то пошло не так...
					p.subtext К сожалению, данная страница не найдена. Мы уже<br> выясняем, что произошло

				a(href="#").btn.btn-dark На главную
