.text-content

	.plywood-group
		.wrapper
			.plywood-group__title
				span.plywood-group__title-icon.replace-svg(data-src="img/plywood-icon-1.svg")
				h2.plywood-group__title-text.title-2 <em>ЛАЗЕРНАЯ РЕЗКА ФАНЕРЫ</em> В МИНСКЕ

		.plywood-group__img.lazy(data-bg="url(img/plywood-1.png)")

		.wrapper
			p Фанера – листовой, слоистый материал, произведённый из дерева. Слои – это шпон- тонкий срез дерева, который склеен формальдегидными клеями.
			p Фанера-это дешёвый, при этом передающий структуру дерева, материал, который легко поддаётся обработке.
			p Виды Фанеры: ФК, ФСФ, ФОФ.
			br
			p Фанера ФК. Произведена из берёзы, ольхи, сосны и используется преимущественно внутри помещений, т.е. не для Улицы.
			p Толщиной 3/4/5/6/8/9/10/12/15/16/18/21/25/27/30/32/36 мм и др.
			p Формат листов, как правило, 1525*1525мм
			br
			p <em>Важно знать</em>: белорусские и российские заводы не поставляют фанеру идеальной толщины. Если вы заказываете фанеру 3 мм, то завод изготовит 2,8-3,3мм или 3,5мм толщиной. По толщине лист может отличаться даже внутри своей площади, т.е. вы меряете толщину листа с края, а в центре он толще на 0,3-0,5мм либо тоньше.
			p Производители об этом пишут на своих официальных сайтах и не несут ответственность за неидеальную толщину материала, по ГОСТу такие неточности допустимы.
			p Мы в свою очередь предупреждаем Вас о том, что от нас толщина фанеры никак не зависит, её производит завод. Вы можете в заказе указать о необходимости подобрать максимально близкую к идеалу толщину. Мы в свою очередь постараемся подобрать материал максимально точно.
			br
			p <em>Сортность фанеры.</em> Фанера имеет классификацию по сортности, 1/2, 2/2, 2/3, 2/4, 3/3, 3/4, 4/4 . От 1 до 4сорта. 1-ый сорт самый высокий, 4-ый — самый низкий. Чем выше сорт фанеры, тем лучше качество её поверхности и само наполнение. Эти цифры влияют на несколько показателей: на качество и на цену за лист. В первом сорте может встретится 1-3 маленьких сучков около 6мм в диаметре на 1 м.кв. материала, а на втором сорте их уже может быть 6шт на 1 м.кв. Листы сорта 1/1 в РБ не производят.


	.plywood-group
		.wrapper
			.plywood-group__title
				span.plywood-group__title-icon.replace-svg(data-src="img/plywood-icon-2.svg")
				h2.plywood-group__title-text.title-2 <em>КРИВИЗНА</em> ФАНЕРЫ

		.plywood-group__img.lazy(data-bg="url(img/plywood-2.png)")

		.wrapper
			p Фанера делается из слоёв шпона, а дерево растёт кругами (ствол дерева), поэтому шпон хочет вернутся в обратное привычное для себя скрученное состояние. Фанеру на заводе склеивают слой к слою в перпендикулярной очередности, чтобы добиться более ровной поверхности. При этом лист фанеры все равно не идеально ровный: углы в листе могут быть задраны или лист может быть волнообразной формы. С этим ничего не сделать: чем тоньше лист, тем неровностей больше, чем лист толще, тем он ровнее.


	.plywood-group
		.wrapper
			.plywood-group__title
				span.plywood-group__title-icon.replace-svg(data-src="img/plywood-icon-3.svg")
				h2.plywood-group__title-text.title-2 <em>ОБРАБОТКА</em> ФАНЕРЫ

		.plywood-group__img.lazy(data-bg="url(img/plywood-3.png)")

		.wrapper
			p Фанера делается из слоёв шпона, а дерево растёт кругами (ствол дерева), поэтому шпон хочет вернутся в обратное привычное для себя скрученное состояние. Фанеру на заводе склеивают слой к слою в перпендикулярной очередности, чтобы добиться более ровной поверхности. При этом лист фанеры все равно не идеально ровный: углы в листе могут быть задраны или лист может быть волнообразной формы. С этим ничего не сделать: чем тоньше лист, тем неровностей больше, чем лист толще, тем он ровнее.


	.plywood-group
		.wrapper
			.plywood-group__title
				span.plywood-group__title-icon.replace-svg(data-src="img/plywood-icon-4.svg")
				h2.plywood-group__title-text.title-2 <em>ЛАЗЕРНАЯ РЕЗКА</em> ФАНЕРЫ

		.wrapper
			p Наш лазерный станок может резать фанеру класса ФК толщиной 3-15мм, остальные виды фанеры(ФСФ и ФОФ) лазерное оборудование не может прорезать из-за клеевого состава или из-за ламинации. Фанеру большей толщины мы можем резать на фрезерном станке. При лазерной резке фанеры ФСФ или ФОФ луч просто жжет материал, фанера чернеет, но на сквозь луч не проходит, а только портит фанеру.
			br
			p Ламинированную, ФСФ фанеру на лазере обрабатывать нельзя, она доступна к обработке только на фрезерном станке.
			br
			p У нас есть своя фанера в наличии, но если Вы хотите привезти свою фанеру нам на лазерную резку, то привозите фанеру хорошего сорта, не хуже сортности 2/2 вида ФК.
			br
			p При резке фанеры плохого качества, плохого сорта, лазер может не прорезать на сквозь материал и из-за этого на выходе получается изделие плохого качества. Оператору, работающему на лазере, нужно будет руками ломать, подрезать сучки и дорезать фанеру. В местах пересечения с сучками обязательно появятся сколы. Все эти факторы влияют на скорость работы, качество выполненной работы и на выработку в час. Поэтому при использовании плохой фанеры, мы не гарантируем качественную работу. Помимо этого, цена на рез фанеры низких сортов, вероятнее всего, будет стоить дороже, нежели рез первосортной фанеры!

		.plywood-group__img.lazy(data-bg="url(img/plywood-4.png)")

		.wrapper
			p Лазерный луч при резке фанеры имеет свойство рассеиваться и преломляться. Тем самым после себя оставляя С-образного вида торец. Такой торец становится заметен только на больших толщинах материала. В случае с фанерой начиная от толщины в 10 мм.


	.plywood-group
		.wrapper
			.plywood-group__title
				span.plywood-group__title-icon.replace-svg(data-src="img/plywood-icon-5.svg")
				h2.plywood-group__title-text.title-2 <em>ЛАЗЕРНАЯ ГРАВИРОВКА</em> ФАНЕРЫ

		.plywood-group__img.lazy(data-bg="url(img/plywood-5.png)")

		.wrapper
			p Гравировка – это выжигание верхнего слоя материала. Этот процесс происходит из-за часто повторяющихся линий, которые рисует лазер. Линии эти находятся на очень близком расстоянии друг от друга, это расстояние незаметно человеческому глазу. При этом, обычно каждая линия смещается одна от одной на 0.1мм. Таким путем получается цельно загравированная поверхность материала. Так, двигаясь слева направо или сверху вниз, получается гравировка или, другими словами, это заполнение какого-либо пространства путём выжигания. После гравировки на древесных материалах остаётся темная отгравированная поверхность, имеющая некоторое углубление. Как правило, углубление от 0.2 до 1.5 мм глубиной.
			p Гравировка сложных символов меньше 0,2мм на лазерно-гравировальном станке трудновыполнима. Толщина линии для гравировки, желательно, не должна быть менее 0,5мм. За консультацией по услуге гравировки лучше всего обращаться к нашим специалистам.
			p Гравировка считается недешевым способом нанесения логотипов, в нашей компании расчет производится по времени. Зато гравировку можно наносить поштучно и нет привязанности к большим тиражам.
			p После гравировки фанеры, вокруг гравируемых элементов, проступает легкий коричневый опыл/гарь, его можно легко отшлифовать, а если материал предварительно был залакирован, то желтизна отмывается водой.

			.video
				.video__inner
					.video__player
						<iframe src="https://www.youtube.com/embed/6RZH6CHNgas" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					.video__wrap-text
						p.video__text.title-1 <em>Посмотрите</em>,<br> как выполняется<br> лазерная<br> <em>гравировка фанеры</em>


	.plywood-group
		.wrapper
			.plywood-group__title
				span.plywood-group__title-icon.replace-svg(data-src="img/plywood-icon-6.svg")
				h2.plywood-group__title-text.title-2 <em>ЛАЗЕРНАЯ ГРАВИРОВКА ФАНЕРЫ</em> ОПРЕДЕЛЕННОЙ ГЛУБИНЫ

		.wrapper
			p Когда нужно сделать гравировку глубиной более 1мм, мы делаем лазером несколько проходов по одному и тому же месту. В этом случае первым делом мы должны оценить возможность какого вида исполнения: можно ли выполнить гравировку несколько раз и добиться нужного результата-зависит от сложности макета. Если очень маленький шрифт (буквы 3-5мм высотой) либо очень большая детализация в макете (много мелких деталей), то при гравировке сгорят все перемычки букв, либо детализация этих элементов ухудшится. Дерево — это не тот материал, на котором стоит делать большую глубину при маленьком рисунке. Также стоит учитывать, что глубину гравировки можно выдержать только условно. Оборудование не делает точное углубление. Расхождения в глубине на несколько десятых миллиметра являются естественными. Древесный материал имеет воздушные поры, и он подгорает при гравировке, а на процесс горения мы повлиять не можем. Погрешность глубины до 0,3мм.
			p Чаще всего глубокую гравировку мы делаем на коробках типа пенал. Когда нужна коробка из фанеры с крышкой, закрывающейся как шуфлядка. Мы делаем двойную гравировку по одному и тому же месту 2 раза и углубляемся на 1,5мм-2,5мм.
			p Гравировка считается по времени, гравировку можно наносить поштучно, нет привязанности к тиражам, невозможно стереть, контрастирует с цветом фанеры, можно наносить на большинство известных материалов.


	.plywood-group
		.wrapper
			.plywood-group__title
				span.plywood-group__title-icon.replace-svg(data-src="img/plywood-icon-7.svg")
				h2.plywood-group__title-text.title-2 <em>КОНТУРНАЯ РЕЗКА</em> ЛАЗЕРОМ ПО ФАНЕРЕ

		.plywood-group__img.lazy(data-bg="url(img/plywood-6.png)")

		.wrapper
			p Контурная резка проводится лазером на маленькой мощности и большой скорости. Луч не проходит сквозь материал, а оставляет тоненький след на поверхности материала, толщина линии около 0,1мм.Контурную резку можно сравнить с раскраской- это линии определенного контура, но линии только на поверхности материала (не сквозные). Это экономный способ нанесения изображений, в сравнении с гравировкой, он позволяет нанести разметку, логотип или выделить определённое место.
			p Контурная резка на фанере хорошо видна. Фанера-светлый материал, а после контурной резки на фанере остаётся тонкий коричневый/темный след от лазерного луча.
			p Если контурная резка выполняется на маленьком изделии и линии контурной резки располагаются вплотную и пересекают одна другую, то возможны сквозные отметки (при толщине материала меньше 5мм). Данные отметки появляются из-за того, что лазерное оборудование проходит несколько раз по одной и той же точке, либо замедляется в углах (на резких поворотах). Следствием становятся прожиги, которые появляются с обратной стороны в виде точек.

			.video
				.video__inner
					.video__player
						<iframe src="https://www.youtube.com/embed/6RZH6CHNgas" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					.video__wrap-text
						p.video__text.title-1 <em>Посмотрите</em>,<br> как выполняется<br> <em>контурная резка</em><br> лазером по фанере


	.plywood-group
		.wrapper
			.plywood-group__title
				span.plywood-group__title-icon.replace-svg(data-src="img/plywood-icon-8.svg")
				h2.plywood-group__title-text.title-2 <em>ФРЕЗЕРНАЯ РЕЗКА</em> ФАНЕРЫ

		.wrapper
			p Фрезер режет/фрезерует фанеру любой толщины, любого сорта и любого класса: ФК, ФСФ, ФОФ. При фрезерной резке фанеры плохого сорта могут вываливаться сучки, может получаться лохматый край/торец, лицевой шпон может трескаться и рассыпаться.
			p Наша организация при фрезеровке фанеры использует профессиональный режущий инструмент, за счёт которого качество резки на порядок выше чем у конкурентов, минимальное количество ворса и сколов.
			p Резать/фрезеровать фанеру можно на разные глубины и разными фрезами, фанера самый твёрдый материал в сравнении с алюминием, поэтому фрез по обработке дерева, в том числе и фанеры, очень-очень много, разной формы и типов обработки.
			p После фрезерной резки фанеры торец заготовки будет иметь ворс. Если ворс Вас не устраивает, то Вы можете заказать шлифовку ваших заготовок. На ворс в торцах есть одно объяснение: дерево/фанера-материал живой и имеет волокна, при фрезеровки волокна подымаются и торчат. От сортности материала зависит количество волокон ворса и время обработки/шлифовки. Чем лучше сорт, тем лучше обрабатывается материал.


	.plywood-group
		.wrapper
			.plywood-group__title
				span.plywood-group__title-icon.replace-svg(data-src="img/plywood-icon-9.svg")
				h2.plywood-group__title-text.title-2 <em>ВЫБОРКА ФАНЕРЫ</em> ФРЕЗЕРОМ

		.plywood-group__img.lazy(data-bg="url(img/plywood-7.png)")

		.wrapper
			p Выборка фанеры — углубление на определённую глубину. Выборка может, чаще всего, осуществляться концевыми или пазовыми фрезами, которые удаляют материал согласно заданных координат и на заданную глубину. Фрезы оставляют за собой небольшие полоски, едва заметные, на месте выборки. Эти полоски можно убрать при шлифовке материала.
			br
			p Что нужно учитывать при выборке:<br>
			p -Изогнут или нет материал: при гнутом материале глубина выборки будет отличаться от заданной (из-за перепада высоты материала)
			p -Если в толстом материале сделать глубокую выборку, материал может выгнуть, из-за потери плотности и целостности (дерево начнёт возвращаться в исходное, скрученное состояние)
			p -Если в фанере делать выборку, а это слоистый материал и иногда фанера во внутренних слоях имеет коричневый, похожий на кору цвет, то цвет места, где пройдёт выборка, может отличаться от желаемого (цвета лицевого шпона). Вывод: выбирайте фанеру высокого сорта, без коричневых внутренних слоёв.
			br
			p — Минимальный перепад по высоте при выборке-это 0,5мм, но если материал кривой, то перепад может достигать и 1,5мм.


	.plywood-group
		.wrapper
			.plywood-group__title
				span.plywood-group__title-icon.replace-svg(data-src="img/plywood-icon-10.svg")
				h2.plywood-group__title-text.title-2 3D фрезеровка фанеры

		.wrapper
			p 3D фрезеровка — это процесс обработки материала в нескольких плоскостях, для получения сложных объёмных фигур с различным рельефом.
			p Фанера — это не самый лучший материал для такой обработки как 3D, потому как это слоистый материал, и при фрезеровании рельефа все слои фанеры видны, они отличаются по цвету, по направлению волокон, по структуре, так же внутри листа фанеры, очень часто, попадаются сучки, либо кора дерева, либо пустоты и щели, а все эти факторы влияют на внешний вид изделия.
			p К задумке 3D фрезеровки на фанере нужно подходить осознано, представляя как будет выглядеть конечное изделие.
			br
			p 3D фрезеровка — просчитывается по времени и, именно поэтому, при выборе материала из фанеры такую обработку делают реже всего. Так же не стоит забывать, что описанные выше причины потом нужно исправлять, дорабатывать, дошлифовывать вручную, а от некоторых из них и вовсе избавиться нельзя.
			p Для 3D обработки чаще используют МДФ, мебельный щит или массив (дуб,ясень,береза). Фанеру или пластики используют крайне редко.
