.wrap-customer-data

	.customer-data.element-shadow-static
		span.customer-data-title.text-fw-medium Укажите контактные данные

		.wrap-fields
			.wrap-field.form-el-2
				input(required, type="text", name="firstname" placeholder="Фамилия")
				.error-icon
					img(src="img/icon-error.svg", alt="")
	
			.wrap-field.form-el-2
				input(required, type="text", name="lastname" placeholder="Имя")
				.error-icon
					img(src="img/icon-error.svg", alt="")
	
			.wrap-field.form-el-2
				input(required, type="text", name="email", placeholder="E-mail", data-msg-email="Неверный формат")
				.error-icon
					img(src="img/icon-error.svg", alt="")
			.wrap-field.form-el-2
				input(required, type="tel", name="phone" placeholder="Телефон")
				.error-icon
					img(src="img/icon-error.svg", alt="")


	.customer-data.element-shadow-static
		span.customer-data-title.text-fw-medium Адрес доставки

		.wrap-fields
			.wrap-field.form-el-2
				input(required, type="text", name="country", placeholder="Город")
				.error-icon
					img(src="img/icon-error.svg", alt="")
	
			.wrap-field.form-el-2
				input(required, type="text", name="street", placeholder="Улица")
				.error-icon
					img(src="img/icon-error.svg", alt="")
	
			.wrap-field.form-el-6
				input(required, type="text", name="house", placeholder="Дом")
				.error-icon
					img(src="img/icon-error.svg", alt="")

			.wrap-field.form-el-6
				input(required, type="text", name="housing", placeholder="Корпус", data-placeholder-mobile="Корп.")
				.error-icon
					img(src="img/icon-error.svg", alt="")

			.wrap-field.form-el-6
				input(required, type="text", name="apartment", placeholder="Квартира", data-placeholder-mobile="Кв.")
				.error-icon
					img(src="img/icon-error.svg", alt="")

		span.saved-address.text-fw-bold.text-small
			span.dropdown-btn-click Сохраненные адреса

			.dropdown-saved-address.dropdown-label
				span.btn-close-dropdown.btn-close

				ul.list-saved-address
					li.item-saved-address.cur-address
						span.text-fw-bold.item-saved-address-title Домашний
						address.text-medium.address-data г. Минск, ул. Скрыганова 6А, 3 этаж, офис 14

					li.item-saved-address
						span.text-fw-bold.item-saved-address-title Без названия
						address.text-medium.address-data г.Уфа, ул. Левитана, 144/3, 40


	.customer-data.customer-data-payment-methods.element-shadow-static
		span.customer-data-title.text-fw-medium Выберите способ оплаты
			.icon-dropdown.el-show-dropdown ?

				.dropdown-payment-methods.wrap-dropdown-label
					.dropdown-label
						span.text-fw-bold.text-medium Принимаем к оплате

						.row-payment-methods
							.payment-method
								img(src="img/logo_visa.png", alt="")

							.payment-method
								img(src="img/logo_master.png", alt="")

							.payment-method
								img(src="img/logo_maestro.png", alt="")

							.payment-method
								img(src="img/logo_raschet.png", alt="")

							.payment-method
								img(src="img/logo_belcard.png", alt="")

		.wrap-switches
			label(for="rd1").wrap-radio.form-el-3
				input(required, type="radio", name="switches", checked)#rd1
				.box
				span.text Наличные
			label(for="rd2").wrap-radio.form-el-3
				input(required, type="radio", name="switches")#rd2
				.box
				span.text Банковская карта при получении
			label(for="rd3").wrap-radio.form-el-3
				input(required, type="radio", name="switches")#rd3
				.box
				span.text Онлайн-оплата банковской картой


	.customer-data.element-shadow-static
		span.customer-data-title.text-fw-medium Комментарий к заказу
		textarea(placeholder="Комментарий")



