@import "../common/vars";

.count-sites{
	background-color: @bgGray;

	&-content{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;

		> div {
			width: 50%;
		}
	}

	.content-left{
		text-align: center;
		width: 100%;
		max-width: 335px;
		margin: 0 auto;

		.wrap-count{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: center;
			align-items: center;
			justify-content: center;
			margin-bottom: 17px;
		}

		.wrap-single-number{
			height: 140px;
			width: 105px;
			margin: 0 5px;
			background: url("../img/count-number-bg.png") no-repeat center;
			-webkit-background-size: cover;
			background-size: cover;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
			-ms-align-items: center;
			align-items: center;

			span{
				font-size: 90px;
				color: #fff;
				font-weight: 600;
				line-height: 67px;
			}
		}

		.wrap-text{
			span {
				display: block;
			}

			.title{
				font-size: 20px;
				line-height: 24px;
				margin-bottom: 9px;
				font-weight: 600;
			}

			.subtext{
				font-size: 14px;
				line-height: 18px;
				color: @textGray-2;
				width: 90%;
				margin: 0 auto;
			}
		}
	}
}


@media (max-width: 1400px) {

}


@media (max-width: 1200px) {

}


@media (max-width: 992px) {
	.count-sites{
		&-content{
			justify-content: space-between;
		}

		.content-left{
			margin: 0;
		}
	}
}


@media (max-width: 768px) {
	.count-sites{
		&-content{
			display: block;

			> div {
				margin-left: auto;
				margin-right: auto;
			}
		}

		.content-left{
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 30px;
		}

		.content-right{
			max-width: 320px;
			width: 100%;
		}
	}
}


@media (max-width: 576px) {
	.count-sites{
		.content-left{

			.wrap-single-number{
				height: 115px;

				span{
					font-size: 70px;
					line-height: 70px;
				}
			}

			.wrap-text{
				.title{
					font-size: 18px;
					line-height: 21px;
				}
			}
		}
	}
}




