@import "../common/vars";

.table-prices-promotion-seo{
	background-color: #fff;
}


@media (max-width: 576px) {
	.table-prices-promotion-seo{
		background-color: #fff;
		padding: 0;

		.wrap-title{
			text-align: left;
		}
	}
}
