@import "../common/vars";

.table-causes{
	background-color: @bgGray;
	padding-bottom: 80px;
}

@media (max-width: 1400px) {

}


@media (max-width: 1200px) {

}


@media (max-width: 992px) {

}


@media (max-width: 768px) {

}


@media (max-width: 576px) {
	.table-causes{
		.container{
			padding: 0;
		}
	}
}




