.top-page-line
	.wrap-breadcrumbs
		a.other-page(href="index.html") Главная
		span.cur-page Результат поиска

	.wrap-title
		span.page-title По запросу «телефон»
		span.result-search-count Найдено:
			span 300

	.result-search-text 
		span.text Найдено в каталоге:
