@import "../../../less/common/vars";

.result-search-list{
	min-height: 355px;

	.top-page-line{

		.result-search-count{
			color: @textGray;
			text-transform: uppercase;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: center;
			align-items: center;

			span{
				color: @blue;
				margin-left: 5px;
				font-family: "RobMed";
			}
		}

		.result-search-text{
			margin-top: 22px;

			> span {
				display: block;
			}

			.text{
				font-family: "RobMed";
				font-size: 18px;
				line-height: 24px;
				display: block;
			}

			.subtext{
				margin-top: 6px;
				color: @textGray;
			}
		}

		.btn-in-catalog{
			margin-top: 28px;
			max-width: 220px;
		}

		.btn-in-catalog{
			margin-top: 28px;
			max-width: 220px;
		}

	}
}

@media (min-width: 1260px) {

}

@media (max-width: 1259px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
	.result-search-list{
		.top-page-line{
			.result-search-text{
				.text{
					font-size: 16px;
				}

				.subtext{
					br{
						display: none;
					}
				}
			}

			.result-search-count{
				font-size: 12px;
			}
		}
	}
}


@media (max-width: 575px) {
	.result-search-list{

		.top-page-line{
			.wrap-title{
				display: block;
			}

			.result-search-count{
				margin-top: 8px;
			}
		}
		
	}
}


