section.support-items.sec-page
	.container
		.support-items-content

			.support-item-wrap
				a(href="#").support-item
					.wrap-img
						img.lazyload(data-src="img/support-item-5.png", alt="")

					.wrap-text
						span Переход на битрикс
						p Важным преимуществом 1С-Битрикс является простота интеграции с инструментами операционного учета от 1С. Это позволяет подключить кассу, вести бухгалтерию, выполнять инвентаризацию товара, анализировать оборачиваемость по товарным группам, управлять заказами.


			.support-item-wrap
				a(href="#").support-item
					.wrap-img
						img.lazyload(data-src="img/support-item-3.png", alt="")

					.wrap-text
						span Переход на битрикс
						p Битрикс24.CRM помогает продавать больше: берет под контроль все каналы коммуникаций с клиентами, подсказывает, что делать и автоматизирует продажи. Все звонки, письма, чаты с клиентами на сайте и в соцсетях сохраняются в CRM. CRM сама ведет клиента по воронке: от холодного контакта до успешной сделки.


			.support-item-wrap
				a(href="#").support-item
					.wrap-img
						img.lazyload(data-src="img/support-item-1.png", alt="")

					.wrap-text
						span Лицензии 1С Битрикс
						p Лицензия «1С-Битрикс: Управление сайтом» - универсальный программный продукт для создания, поддержки и успешного развития корпоративных сайтов, интернет-магазинов, информационных порталов, сайтов сообществ, социальных сетей и других веб-проектов.


			.support-item-wrap
				a(href="#").support-item
					.wrap-img
						img.lazyload(data-src="img/support-item-2.png", alt="")

					.wrap-text
						span Поддержка сайтов на 1C-Битрикс и Битрикс24
						p Только качественная поддержка сайтов на платформе 1С-Битрикс от опытных аттестованных Bitrix программистов. Доступная стоимость. Прозрачная отчётность через тикет систему. Итог деятельности обслуживание сайтов на Битрикс - это всегда точный детализированный счет и разрешенная проблема - вы будете точно знать, за что платите и сможете воспользоваться ресурсом в дальнейшем в полной мере.


			.support-item-wrap
				a(href="#").support-item
					.wrap-img
						img.lazyload(data-src="img/support-item-4.png", alt="")

					.wrap-text
						span Мобильная версия
						p Создание мобильной версии сайта – требование, которое диктуется временем. Мобильный сайт будет неоспоримым преимуществом в конкурентном бизнесе, так как наличие мобильной версии – это простой способ повышения лояльности клиентов.


			.support-item-wrap
				a(href="#").support-item
					.wrap-img
						img.lazyload(data-src="img/support-item-6.png", alt="")

					.wrap-text
						span Техническая поддержка
						p Сопровождением и развитием проектов занимается отдельное структурное подразделение компании, цель которого не только решать частные задачи, но и на основе аналитики предлагать новшества, направленные на повышение эффективности и производительности работы проекта. С нами ваш сайт всегда будет выглядеть современно и не испытывать никаких трудностей!
