section.page-banner.img-bg(style="background-image: url('img/banner-support-bg.jpg')")
	.container

		.page-banner-content
			.wrap-breadcrumbs.breadcrumbs-yellow
				a(href="index.html") Главная
				span.delimiter /
				a(href="#") Услуги
				span.delimiter /
				span.cur-page Поддержка
			.page-banner-text
				span.banner-title Поддержка сайтов
				p.subtext Равным образом дальнейшее развитие различных форм деятельности<br> способствует подготовки и реализации направлений прогрессивного развития.<br> Значимость этих проблем настолько очевидна, что рамки и место обучения<br> кадров обеспечивает широкому кругу (специалистов) участие в формировании<br> дальнейших направлений развития.

