section.page-banner.img-bg(style="background-image: url('img/banner-corporate-sites-bg.jpg')")
	.container

		.page-banner-content
			.wrap-breadcrumbs.breadcrumbs-yellow
				a(href="index.html") Главная
				span.delimiter /
				a(href="") Услуги
				span.delimiter /
				a(href="") Разработка сайтов
				span.delimiter /
				span.cur-page Landing page

			.page-banner-text
				span.banner-title Создание Landing page