section.row-text-block
	.row-text-block-content

		.text-row
			.container
				.text-row-content
					.wrap-img.img-resp
						img.lazyload(data-src="img/landing-page-img-2.jpg", alt="")
					.wrap-text
						p Многие слышали о таком современном ноу-хау, как разработка лэндинг веб страницы. Однако далеко не все понимают суть этой новомодной услуги и нового веяния в IT-сфере. Landing Page (посадочная страница) - это сайт, состоящий из одной страницы (одностраничник) в интернете, призванный стимулировать его аудиторию приобретать как можно больше конкретной взятой продукции и способствующий существенному увеличению уровня продаж. Таким образом, создание лэндинг-страниц под ключ вполне можно расценивать как грамотный маркетинговый ход.


section.time-price.time-price-shop.sec-page.time-price-gray
	.container
		.time-price-content

			.content-right.wrap-title-mac.wrap-list-point
				span Грамотно созданный landing page принесет результат практически любому бизнесу:
				ul
					li если бизнес уже работает, но его нет в интернете, а объем продаж хочется увеличить;
					li если компании еще нет, но вы знаете, какое дело хотите развивать, а начать планируете с минимальными затратам;
					li если у вас интернет-магазин: на лендинге вы можете рекламировать самый покупаемый и высоколиквидный товар вашего магазина и, тем самым, привлекать больше людей в сам магазин;
					li и даже если вы НЕ знаете, какую нишу занять. Мы расскажем, как лендинг в этом случае решает некоторые сложности.

			.content-left
				.top
					span.content-left-title Сроки и стоимость работ по созданию
					span Процесс разработки занимает: 
					em от 2-х месяцев
					span Стоимость разработки под ключ: 
					em от 300 BYN	
			
				.bottom
					span.content-left-title Применимость
					span Автоматизация бизнес-процессов


section.directions.sec-page.directions-white
	.container
		.directions-content

			.wrap-title
				span.title Мы готовы предложить 2 направления разработки сайтов

			.directions-items
				.direction.direction-type-1
					.left-content
						span.title Индивидуальная разработка
						span.bottom-text Персональная детальная проработка

					.right-content
						p.text Рассчитывается индивидуально на основание технического задания
						.wrap-btn.wrap-btn-blue
							.btn.btn-show-modal(data-modal-key="modal-callback") Заказать консультацию

				.direction.direction-type-2
					.left-content
						span.title Готовое решение
						span.subtitle Разработка на  базе  "шаблонов" с нидивидуальной настройкой!
						span.bottom-text Быстрый старт, с мощным функционалом

					.right-content
						span.wrap-price от 
							span.price 800
							sup BYN
							
						p.text Запуск от 5 — до 20 рабочих дней

						.wrap-btn.wrap-btn-border
							a(href="#").btn Подробнее
						.wrap-btn.wrap-btn-blue
							.btn.btn-show-modal(data-modal-key="modal-callback") Заказать консультацию


section.row-text-block
	.row-text-block-content

		.text-row
			.container
				.text-row-content
					.wrap-img.img-resp
						img.lazyload(data-src="img/corporate-simple-img-1.jpg", alt="")
					.wrap-text
						p Если у вас есть товар, который вы намереваетесь продавать или готовы оказывать услуги, то одним из наиболее современных и динамично развивающихся инструментов в торговле на сегодняшний день является интернет магазин. Безусловно, интернет-магазины имеют определенные особенности по сравнению с <a href="#">сайтами</a> другой категории. Вы должны позаботиться об удобной поисковой системе на сайте, иначе потенциальный покупатель просто его покинет через несколько секунд и уйдет к конкурирующему сайту, об приятном интерфейсе и удобном функционале каталога товаров.
						p Сегодня все больше и больше потенциальных покупателей предпочитают приобретать товары в интернете. В мире существует множество интернет-магазинов, а некоторые из них достигли огромных масштабов и оборотов. Все потому, что покупателей привлекает ассортимент товара, цены и, конечно, удобный функционал и качественная поисковая система интернет магазина. 
						p Следует помнить о том, что ведение бизнеса и продажа товара в оффлайне неизменно будет вести к расходам на недешевую аренду коммерческой площади, на оплату труда наемных работников, коммунальных услуг и тому подобного. При торговле посредством сайта интернет магазина вы избавитесь от всех этих затрат, а количество посетителей будет в разы больше.

		.text-row
			.container
				.text-row-content
					.wrap-img.img-resp
						img.lazyload(data-src="img/shop-site-img-3.png", alt="")
					.wrap-text.wrap-list-point
						span.title Заказав интернет-магазин у наших специалистов и вы получите:
						ul
							li уникальный <a href="#">дизайн сайта</a>, основывающийся на стандартных предпочтениях посетителей магазина;
							li высокую функциональность интернет-магазина, способствующую активной навигации потенциальных покупателей;
							li высококачественное <a href="#">продвижение в поисковых системах</a> интернета, базирующееся на современных стандартах в этой области;
							li индивидуальный подход к организации, исходящий из особенностей ведения вашего бизнеса.


section.row-text-block-img-right.row-text-block
	.row-text-block-content

		.text-row
			.container
				.text-row-content
					.wrap-text
						p Многие слышали о таком современном ноу-хау, как разработка лэндинг веб страницы. Однако далеко не все понимают суть этой новомодной услуги и нового веяния в IT-сфере. Landing Page (посадочная страница) - это сайт, состоящий из одной страницы (одностраничник) в интернете, призванный стимулировать его аудиторию приобретать как можно больше конкретной взятой продукции и способствующий существенному увеличению уровня продаж. Таким образом, создание лэндинг-страниц под ключ вполне можно расценивать как грамотный маркетинговый ход.

					.wrap-img.img-resp
						img.lazyload(data-src="img/landing-page-img-2.jpg", alt="")


.steps-work.steps-work-botom-info.sec-page
	.container
		.steps-work-content

			.wrap-title
				span.title Как проходит работа над проектом

			.wrap-steps-items
				.step-item
					.wrap-number
						span.number 1
					span.text 
						| Предпроектный 
						| анализ

				.step-item
					.wrap-number
						span.number 2
					span.text 
						| Проектирование
						| и дизайн

				.step-item
					.wrap-number
						span.number 3
					span.text 
						| Верстка 
						| и программирование

				.step-item
					.wrap-number
						span.number 4
					span.text 
						| Тестирование 
						| и запуск проекта

				.step-item
					.wrap-number
						span.number 5
					span.text 
						| Поддержка 
						| и продвижение

			.steps-items-bottom-info
				span.title Также мы занимаемся настройкой и ведением рекламных компаний, обновлением контента, улучшением конверсии уже готовых сайтов. Более того – вы можете заказать у нашей компании любую услугу, связанную с созданием лендинг пейдж или ее улучшением.


section.row-text-block
	.row-text-block-content
		.text-row.bg-gray
			.container
				.text-row-content
					.wrap-img.img-resp
						img.lazyload(data-src="img/landing-page-img-3.jpg", alt="")
					.wrap-text.wrap-list-point
						span.title 5 причин заказать landing page
						ul
							li Максимальная конверсия – по статистике, лендинги привлекают в 1.5-2 раза больше покупателей, чем обычные сайты;
							li Скорость разработки – хорошую посадочную страницу можно сделать за 1-2 месяца. Ну а на создание классического веб-ресурса идет как минимум вдвое больше времени;

							li Легкость улучшения – используя А/Б тестирование, карты кликов, Google и Яндекс аналитику, вы сможете без лишних усилий найти и устранить главные ошибки в вашем сайте. Что положительно скажется на его конверсии;

							li Таргетинг – лендинг пейдж привлекают узкую целевую аудиторию, заинтересованную именно в вашем продукте. Что значительно сокращает расходы на рекламу (владелец сайта платит лишь за привлечение потенциальных покупателей).


