section.time-price.time-price-shop.sec-page.time-price-gray
	.container
		.time-price-content

			.content-right.wrap-title-mac.wrap-list.wrap-list-point
				span Цели и задачи интернет магазина:
				ul
					li Продажи. Это главный и основной критерий оценки эффективности;<br>и качества созданного интернет магазина;
					li Формирование и укрепление благоприятного имиджа;
					li Ведение клиентской базы, учет и статистика продаж;
					li Автоматизация бизнес процессов работы компании;
					li Повышение лояльности к бренду.

				p Заказать создание интернет-магазина по выгодной стоимости можно на нашем сайте заполнив форму или связавшись с нашими менеджерами по телефону!

			.content-left
				.top
					span.content-left-title Сроки и стоимость работ по созданию
					span Процесс разработки занимает: 
					em от 2-х месяцев
					span Стоимость разработки под ключ: 
					em от 300 BYN	
			
				.bottom
					span.content-left-title Применимость
					span Автоматизация бизнес-процессов