.wrap-groups-fields.wrap-form
	form.form.form-about-field
		span.label E-mail *
		.wrap-field
			input.field.field-email(type="text")
			span.text-error-empty Поле обязательно для заполнения
			span.text-error-invalid Неверный формат

		span.label Новый пароль *
		.wrap-field
			input.field.field-password(type="password").error-invalid
			span.text-error-empty Поле обязательно для заполнения
			span.text-error-invalid Минимальная длина - 6 символа

		span.label Подтверждение пароля *
		.wrap-field
			input.field.field-password-second(type="password").error-invalid
			span.text-error-empty Поле обязательно для заполнения
			span.text-error-invalid Пароли не совпадают


		button(type="submit").form-btn.btn-blue
			span.text Сменить пароль
