.fadeInUp
	animation-name: fadeInUp

@keyframes fadeInUp
	0%
		transform: translate3d(0, 40%, 0)
		opacity: 0

	to
		transform: translateZ(0)
		opacity: 1

.fadeInUpFull
	animation-name: fadeInUpFull
	
@keyframes fadeInUpFull
	0%
		transform: translate3d(0, 100%, 0)
		opacity: 0

	to
		transform: translateZ(0)
		opacity: 1
