//Font weight BEGIN
.text-cormorant-bold
	+Cor-Bold

.text-cormorant-bold-italic
	+Cor-BoldItalic

.text-qanelas-semibold
	+Qan-SemiBold

.text-qanelas-medium
	+Qan-Medium

.text-qanelas-regular
	+Qan-Regular
//Font weight END



//Titles BEGIN
.title-h1, h1,
.title-h2, h2,
.title-h3, h3,
.title-h4, h4,
.title-h5, h5

.title-h1, h1

.title-h2, h2

.title-h3, h3

.title-h4, h4

.title-h5, h5
//Titles END



//Colors BEGIN
.text-accent
	color: $accent
.text-light
	color: $light
.text-tundora
	color: $tundora
//Colors END



//Hover BEGIN
.link-accent-hover
	transition: .3s all ease
	&:hover
		color: $accent
//Hover END



//Text BEGIN
//Text END
