.row-text-columns.row-text-columns-gray
	.container
		.row-text-columns-content

			p Функционал интернет-магазинов может быть самым разнообразным. В идеале, зарегистрированный пользователь сайта сможет видеть историю своих покупок, рекомендации исходя из своих потребностей, видеть, отправлен ли товар или его отправка находится в процессе обработки, использовать функции "корзины" и многое другое. 

			p Если вы имеете четкое представление о том, что такое сайт "интернет магазин" или поняли эффективность создания подобного инструмента продаж, мы готовы помочь создать интернет-магазин для вашего бизнеса и внедрить его в действие. Благодаря качественному <a href="#">поисковому продвижению сайта</a> уже спустя непродолжительный период времени вы сможете убедиться в том, что покупатели действительно ценят подобный вид продаж. Помните, что потенциальные покупатели интернет магазинов - это современные люди, имеющие доступ в интернет и обладающие определенным уровнем платежеспособности.