section.row-text-block
	.row-text-block-content

		.text-row
			.container
				.text-row-content
					.wrap-img.img-resp
						img(src="img/corporate-simple-img-1.jpg", alt="")
					.wrap-text
						span.title Почему нужно заказать интернет магазин сейчас?
						p Если вы хотите недорого показать информацию о своей компании в интернете, то оптимальным вариантом будет создать корпоративный сайт. Минимальная цена за которую можно заказать изготовление сайта составляет всего 100 BYN.
						p Создание официального корпоративного web сайта предприятия представляет собой оптимальное решение для торгового учреждения или производственной организации. Разработка корпоративного сайта позволит Вам совершенствовать свой бизнес.

		.text-row
			.container
				.text-row-content
					.wrap-img.img-resp
						img(src="img/corporate-simple-img-2.jpg", alt="")
					.wrap-text
						p Если у вас есть товар, который вы намереваетесь продавать или готовы оказывать услуги, то одним из наиболее современных и динамично развивающихся инструментов в торговле на сегодняшний день является интернет магазин. Безусловно, интернет-магазины имеют определенные особенности по сравнению с <a href="#">сайтами</a> другой категории. Вы должны позаботиться об удобной поисковой системе на сайте, иначе потенциальный покупатель просто его покинет через несколько секунд и уйдет к конкурирующему сайту, об приятном интерфейсе и удобном функционале каталога товаров.
						p Сегодня все больше и больше потенциальных покупателей предпочитают приобретать товары в интернете. В мире существует множество интернет-магазинов, а некоторые из них достигли огромных масштабов и оборотов. Все потому, что покупателей привлекает ассортимент товара, цены и, конечно, удобный функционал и качественная поисковая система интернет магазина. 
						p Следует помнить о том, что ведение бизнеса и продажа товара в оффлайне неизменно будет вести к расходам на недешевую аренду коммерческой площади, на оплату труда наемных работников, коммунальных услуг и тому подобного. При торговле посредством сайта интернет магазина вы избавитесь от всех этих затрат, а количество посетителей будет в разы больше.

		.text-row
			.container
				.text-row-content
					.wrap-img.img-resp
						img.lazyload(data-src="img/shop-site-img-3.png", alt="")
					.wrap-text.wrap-list-point
						span.title Заказав интернет-магазин у наших специалистов и вы получите:
						ul
							li уникальный <a href="#">дизайн сайта</a>, основывающийся на стандартных предпочтениях посетителей магазина;
							li высокую функциональность интернет-магазина, способствующую активной навигации потенциальных покупателей;
							li высококачественное <a href="#">продвижение в поисковых системах</a> интернета, базирующееся на современных стандартах в этой области;
							li индивидуальный подход к организации, исходящий из особенностей ведения вашего бизнеса.