section.page-banner.img-bg(style="background-image: url('img/banner-corporate-sites-bg.jpg')")
	.container

		.page-banner-content
			.wrap-breadcrumbs.breadcrumbs-yellow
				a.other-page(href="index.html") Главная
				span.delimiter /
				a.other-page(href="") Услуги
				span.delimiter /
				a.other-page(href="") Разработка сайтов
				span.delimiter /
				span.cur-page Интернет-магазин

			.page-banner-text
				span.banner-title Интернет-магазин
				p.subtext Интернет-магазин это ваш виртуальный шоу-рум, сайт каталог в котором<br> представлены все ваши товары. 
