header.header
	a(href="#").wrap-logo.img-resp
		img(src="img/logo.png", alt="")

	nav.nav.nav-desktop
		ul
			li
				a(href="#", target="_blank").modal-show(data-modal-key="modal-success") Модальное 1
			li
				a(href="#", target="_blank").modal-show(data-modal-key="modal-error") Модальное 2
			li
				a(href="#", target="_blank").modal-show(data-modal-key="modal-birthday") Модальное 3
			li
				a(href="#", target="_blank").modal-show(data-modal-key="modal-crop") Модальное 4

	button.menu-btn.hamburger.hamburger--squeeze(type="button")
		span.hamburger-box
			span.hamburger-inner

nav.nav.nav-mobile
	ul
		li
			a(href="#", target="_blank").modal-show(data-modal-key="modal-success") История Kinder
		li
			a(href="#", target="_blank").modal-show(data-modal-key="modal-error") Продукты
		li
			a(href="#", target="_blank").modal-show(data-modal-key="modal-birthday") Kinder 50 лет
		li
			a(href="#", target="_blank").modal-show(data-modal-key="modal-crop") Magic Kinder