.wrap-select
	.select2-selection--single
		padding: 18px 25px
		font-size: 34px
		line-height: 38px
		box-shadow: 0px 4px 15.48px 2.52px rgba(241, 74, 40, 0.12)
		border: none
		color: $blue
		border-radius: 20px
		height: 100%
		font-family: "OpenSB"
	.select2-container
		width: 100% !important
		display: block

	.select2-container--default .select2-selection--single .select2-selection__placeholder
		color: #DFDFE0

	.select2-container--default .select2-selection--single .select2-selection__rendered
		line-height: 34px

	.select2-container .select2-selection--single .select2-selection__rendered
		padding: 0

	.select2-container--below .select2-selection--multiple, .select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple, .select2-container--default.select2-container--open.select2-container--above .select2-selection--single
		border-radius: 50px !important
		
.select2-container--default .select2-selection--single .select2-selection__rendered
	color: $blue

.select2-container--default .select2-selection--single .select2-selection__rendered
	padding-right: 50px !important

.select2-container--default .select2-selection--single .select2-selection__clear
	float: none
	position: absolute
	top: 50%
	-webkit-transform: translate(0, -50%)
	-moz-transform: translate(0, -50%)
	-ms-transform: translate(0, -50%)
	-o-transform: translate(0, -50%)
	transform: translate(0, -50%)
	right: 50px

.select2-container--open .select2-dropdown
	box-shadow: 0px 4px 15.48px 2.52px rgba(0, 0, 0, 0.2)
	border-radius: 15px
	margin-top: 8px
	overflow: auto
	border: none

.select2-container--default .select2-results>.select2-results__options
	-ms-overflow-style: none
	overflow: -moz-scrollbars-none
	max-height: 300px
	&::-webkit-scrollbar
		width: 0

.select2-container--default .select2-search--dropdown .select2-search__field
	border-radius: 15px
	font-family: "OpenR"
	font-size: 16px
	padding: 8px 14px

.select2-container--default .select2-selection--single .select2-selection__arrow
	right: 25px
	top: 50%
	transform: translate(0, -50%)
	b
		border-top-color: $blue
		border-width: 8px
		border-top-width: 10px


.select2-container--default .select2-results__option
	padding: 6px 12px
	color: $blue
	cursor: pointer
	font-size: 26px
	line-height: 36px
	transition: .3s all ease
	font-family: "OpenR"

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b
	border-width: 8px
	border-top-width: 0
	border-bottom-width: 10px
	border-bottom-color: $blue

.select2-container--default .select2-results__option[aria-selected="true"]
	background-color: #fff
	color: $red

.select2-container--default .select2-results__option--highlighted[aria-selected]
	background-color: #fff
	color: $red

.wrap-field-date
	position: relative
	#ui-datepicker-div
		position: absolute !important
		top: 100% !important
		left: 50% !important
		transform: translate(-50%, 0)

.field, .wrap-select .select2-selection--single
	background-color: #fff
	border: 5px solid $blue
	border-radius: 50px
	box-shadow: inset 2px 2px 18px 0px rgba(65,158,227,0.35)
	font-family: "OpenSB"
	color: $blue
	&::placeholder
		line-height: inherit
		font-size: inherit
		font-family: inherit
		color: #DFDFE0
	input::placeholder
		color: $blue
		font-family: "OpenSB"

.form
	span.error
		color: red
		font-size: 19px
		line-height: 24px
		font-family: "OpenB"
		bottom: 5px
		left: 30px
		width: 100%
		margin-top: 8px
		margin-left: 20px

.radio
	input.error, input.valid
		margin: 0


@media (max-width: 1290px)
	.form
		span.error
			margin-top: 5px
			font-size: 17px
			line-height: 23px

@media (max-width: 768px)
	.select2-container--default .select2-results__option
		font-size: 23px
		line-height: 29px
	.select2-container--default .select2-search--dropdown .select2-search__field
		font-size: 18px
	
	.wrap-select
		.select2-selection--single
			padding: 16px 25px
			font-size: 23px
			line-height: 35px
			border-radius: 50px

	.select2-container--default .select2-search--dropdown .select2-search__field
		font-size: 14px
		padding: 5px 10px

	.form
		span.error
			margin-top: 3px
			font-size: 13px
			line-height: 18px

@media (max-width: 576px)
	.select2-container--default .select2-results__option
		font-size: 18px
		line-height: 23px
	.select2-container--default .select2-selection--single .select2-selection__arrow
		right: 20px
		b
			border-top-color: $blue
			border-width: 6px
			border-top-width: 8px
	.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b
		border-width: 6px
		border-top-width: 0
		border-bottom-width: 8px
		border-bottom-color: $blue
