@import "../common/vars";

.bitrix-plus{
	padding: 90px 0 65px;

	&-content{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}

	.title{
		display: block;
		min-width: 23%;
		font-weight: 700;
		font-size: 30px;
		line-height: 38px;
		padding-right: 20px;
		color: #fff;
		text-transform: uppercase;
	}

	.wrap-plus-items{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		color: #fff;
		justify-content: flex-end;

		.plus-item{
			width: calc(100% / 3 - 10px);
			padding-right: 35px;
			margin-bottom: 25px;

			.wrap-icon{
				min-height: 50px;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				-ms-align-items: center;
				align-items: center;
			}

			> * {
				display: block;
			}

			.item-title{
				font-size: 16px;
				line-height: 20px;
				font-weight: 600;
				margin-top: 14px;
				margin-bottom: 7px;
				width: 70%;
			}

			.text{
				font-size: 14px;
				line-height: 20px;
			}
		}
	}

}

@media (max-width: 1400px) {
	.bitrix-plus{
		padding: 90px 0 65px;

		.title{
			font-size: 28px;

			br{
				display: none;
			}
		}
	}
}


@media (max-width: 1200px) {
	.bitrix-plus{
		.wrap-plus-items{
			.plus-item{
				.text{
					font-size: 13px;
					line-height: 19px;
				}
			}
		}
	}
}


@media (max-width: 992px) {
	.bitrix-plus{
		padding: 45px 0 50px;

		&-content{
			display: block;
		}

		.title{
			padding: 0;
			margin: 0 auto 30px;
			text-align: center;
		}

		.wrap-plus-items{
			margin-left: -12px;
			margin-right: -12px;

			.plus-item{
				padding: 0 12px 20px;
				width: calc(100% / 3);
				margin-bottom: 0;

				.item-title{
					width: 100%;
				}

				.text{
					font-size: 14px;
					line-height: 20px;
				}
			}
		}
	}
}


@media (max-width: 768px) {
	.bitrix-plus{
		padding-bottom: 20px;

		.wrap-plus-items{
			margin-left: -15px;
			margin-right: -15px;

			.plus-item{
				width: 50%;
				padding: 0 15px 30px;
			}
	
		}
	}
}


@media (max-width: 576px) {
	.bitrix-plus{
		padding: 40px 0;

		.title{
			text-align: left;
			font-size: 22px;
			line-height: 28px;
			margin-bottom: 12px;
		}
	}
}

@media (max-width: 495px) {
	.bitrix-plus{
		.wrap-plus-items{
			margin: 0;
			display: block;

			.plus-item{
				width: 100%;
				padding: 0;
				margin-bottom: 20px;

				&:last-of-type{
					margin-bottom: 0;
				}
			}
		}
	}
}


