main.quality__main.page__main
	.wrapper

		//Preview page BEGIN
		include components/preview-page/preview-page
		//Preview page END

		// Main content BEGIN
		include components/main-content/main-content
		// Main content END

	// Feedback BEGIN
	include components/feedback/feedback
	// Feedback END