@import "../../less/common/vars";

.page-checkout{
	padding-bottom: 60px;

	&-content{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: stretch;
		align-items: stretch;

		> div {
			width: 100%;
		}
	}
}

@media (min-width: 1260px) {

}

@media (max-width: 1259px) {

}

@media (max-width: 991px) {
	.page-checkout{
		padding-bottom: 60px;

		&-content{
			flex-wrap: wrap;
		}
	}
}

@media (max-width: 767px) {

}

@media (max-width: 575px) {

}

