.winners
	padding: 95px 0 0
	margin-bottom: -80px

	&-title
		text-align: center
		margin-bottom: 40px
		position: relative
		display: block
		font-size: 71px
		line-height: 92px
		color: $red-light
		&:before, &:after
			content: ""
			position: absolute
			bottom: 10px
			background-position: center
			background-repeat: no-repeat
			background-size: contain
			width: 130px
			height: 130px
		&:before
			left: 0
			background-image: url("../img/confi-1.png")
		&:after
			right: 0
			background-image: url("../img/confi-2.png")
	

	.wrap-winners-items
		display: flex
		flex-wrap: wrap
		margin: 0 -15px
		.wrap-item
			width: 100%
			max-width: 20%
			padding: 0 15px
			margin-bottom: 80px
			position: relative
			padding-top: 80px
			.img-animation
				display: block
				position: absolute
				top: 0
				left: 50%
				transform: translate(-50%, 0)
				background-size: cover
				width: 100%
				height: auto
		.item
			> *
				display: block
		.title
			font-size: 20px
			line-height: 25px
			color: $red-light
			margin: 17px 0 8px
			transition: .4s all ease
			&:hover
				color: $blue
		.subtext
			font-size: 14px
			line-height: 18px
			color: #909090
			font-family: "OpenR"
	
body
	background-color: #FCF5ED


@media (max-width: 1440px)
	.winners
		padding: 90px 0 0
		margin-bottom: -60px

		&-title
			font-size: 52px
			line-height: 68px
			&:before, &:after
				bottom: 0
				width: 115px
				height: 115px

		.wrap-winners-items
			.wrap-item
				max-width: 25%
				margin-bottom: 60px


@media (max-width: 1290px)
	.winners
		padding: 40px 0 0
		margin-bottom: -40px
		&-title
			font-size: 71px
			line-height: 92px
			&:after, &:before
				bottom: 37px
				width: 125px
				height: 125px

		.wrap-winners-items
			margin-left: auto
			margin-right: auto
			width: 90%
			justify-content: center
			.wrap-item
				max-width: 255px
				margin-bottom: 40px


@media (max-width: 768px)
	.winners
		&-title
			margin-bottom: 50px
			font-size: 60px
			line-height: 72px
			&:after, &:before
				display: none

		.wrap-winners-items
			width: 100%
			.wrap-item
				max-width: 50%
				margin-bottom: 40px

		.wrap-animation-items
			display: none


@media (max-width: 576px)
	.winners
		padding-top: 40px
		margin-bottom: -30px
		&-title
			margin-bottom: 35px
			font-size: 38px
			line-height: 45px

		.wrap-winners-items
			width: 100%
			.wrap-item
				max-width: 320px
				margin-left: auto
				margin-right: auto
				margin-bottom: 30px

