.banner

	.banner-bg.img-resp
		img.bg-desktop(src="img/banner-bg.png", alt="")
		img.bg-mobile(src="img/banner-bg-mobile.png", alt="")
	.container
		.banner-row-links
			a(href="gallery.html").link
				.wrap-icon
					img(src="img/icon-gallery.png", alt="")
				.text Фотогалерея

			.wrap-big-logo.img-resp
				img(src="img/big-logo.png", alt="")

			button(data-modal-key="modal-sign-in").link.modal-show
				.wrap-icon
					img(src="img/icon-out.png", alt="")
				.text Войти

		.banner-row-text
			.wrap-img.img-resp
				img(src="img/birds.png", alt="")

			p.text.text-accent Вы понимаете друг друга с полуслова и полувзгляда. Всегда<br> готов поддержать улыбкой или объятиями. Цените каждое мгновенье, проведенное вместе.
			p.text.text-small Да, между мамой и ребенком существует особая связь Расскажите всем о ней и получите<br> гарантированный приз – браслеты для вас и вашего ребенка, а также возможность выиграть<br> главный приз – <em>поездку в парк развлечений</em> со специальной программой <em>и стать участником<br> трогательного видеоролика</em> о вас и вашем ребенке!

			.wrap-img.img-resp
				img(src="img/heart.png", alt="")
