.reg-steps
	img.bg-orange(src="img/bg-orange-1.png", alt="")
	.container

		.btn-reg-code
			a(href="#").btn.btn-accent.modal-show(data-modal-key="modal-input-code") Зарегистрируйте промокод

		.reg-steps-items
			.row-items
				.wrap-item
					.item.item-small
						.count 
							span 1

						.wrap-text
							span.title Зарегистрируйтесь<br> на сайте
							p.text Авторизуйтесь с помощью<br> социальных сетей или<br> введите email.

						button(data-modal-key="modal-reg-user").modal-show.btn-blue
							.bg-layer
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="445.1" height="114.97" viewBox="0 0 445.1 114.97">
									<defs>
										<filter id="drop-shadow-1" filterUnits="userSpaceOnUse">
											<feOffset dx="-7.778" dy="7.778" in="SourceAlpha"/>
											<feGaussianBlur stdDeviation="2.236" result="dropBlur"/>
											<feFlood flood-color="#d7edfd"/>
											<feComposite operator="in" in2="dropBlur" result="dropShadowComp"/>
											<feComposite in="SourceGraphic" result="shadowed"/>
										</filter>
									</defs>
									<path d="M47.039,21.295 C130.085,-2.256 326.096,10.945 349.408,13.305 C372.719,15.665 439.488,22.384 438.021,52.890 C436.554,83.394 413.907,96.556 352.954,101.195 C172.510,114.929 63.319,104.884 23.098,83.218 C4.741,73.328 -9.096,37.217 47.039,21.295 Z" class="svg-blue"/>
								</svg>

							span.btn-text Регистрация
							span.btn-icon.img-resp
								img(src="img/icon-out-white.png", alt="")

				.wrap-item
					.item.item-small.item-small-img
						.count 
							span 2
						.wrap-text
							span.title Зарегистрируйте промокоды
							.wrap-img.img-resp
								img(src="img/kinder-1.png", alt="")
							p.text Покупайте Kinder<sup>TM</sup> Chocolate и<br> регистрируйте<br> промокоды с внутренней стороны упаковки.

						button(type="submit").btn.btn-red.modal-show(data-modal-key="modal-input-code")
							.bg-layer
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="445.1" height="114.97" viewBox="0 0 445.1 114.97">
									<defs>
										<filter id="drop-shadow-2" filterUnits="userSpaceOnUse">
											<feOffset dx="-7.778" dy="7.778" in="SourceAlpha"/>
											<feGaussianBlur stdDeviation="2.236" result="dropBlur"/>
											<feFlood flood-color="#FAD6C7"/>
											<feComposite operator="in" in2="dropBlur" result="dropShadowComp"/>
											<feComposite in="SourceGraphic" result="shadowed"/>
										</filter>
									</defs>
									<path d="M47.039,21.295 C130.085,-2.256 326.096,10.945 349.408,13.305 C372.719,15.665 439.488,22.384 438.021,52.890 C436.554,83.394 413.907,96.556 352.954,101.195 C172.510,114.929 63.319,104.884 23.098,83.218 C4.741,73.328 -9.096,37.217 47.039,21.295 Z" class="svg-red"/>
								</svg>
							span.btn-text Зарегистрируйте промокод

			.wrap-item
				.item.item-large
					.count 
						span 3

					.wrap-text
						span.title Получите набор браслетов для вас и вашего ребенка
						span.title.text-sm Получите гарантированный приз

						p.text Настоящая близость с мамой –<br>вот что самое главное для ребенка.<br>Мама как никто другой умеет разговаривать с ребенком на одном языке, когда отвлекается от забот и смотрит на мир его глазами
						p.text.text-sm Загрузите фотографию, на которой вы и ваш ребенок вместе проводите время, наслаждаясь обычными каждодневными моментами, и<br> получите гарантированный приз!

					.wrap-img.img-resp
						img(src="img/img-present.png", alt="")

			.wrap-item
				.wrap-presents-slider
					.item.item-large
						.count 
							span 4

						.slider
							.wrap-img
								img.img-castle(src="img/castle-1.png", alt="")
							.wrap-img
								img(src="img/clock-1.png", alt="")
							.wrap-img
								img(src="img/clock-2.png", alt="")
							.wrap-img
								img(src="img/clock-3.png", alt="")
							.wrap-img
								img(src="img/clock-4.png", alt="")
							.wrap-img
								img(src="img/clock-1.png", alt="")
							.wrap-img
								img(src="img/clock-2.png", alt="")

						.wrap-text
							span.title Участвуйте в розыгрыше других призов
							p.text Регистрируйте новые промокоды и получите возможность выиграть другие призы акции,<br> в том числе и Главный приз!
							p.text.text-sm Добавляйте новые промокоды и получите возможность выиграть один из еженедельных или главных призов акции. 
							button.btn.btn-red.modal-show(data-modal-key="modal-input-code")
								.bg-layer
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="445.1" height="114.97" viewBox="0 0 445.1 114.97">
										<defs>
											<filter id="drop-shadow-2" filterUnits="userSpaceOnUse">
												<feOffset dx="-7.778" dy="7.778" in="SourceAlpha"/>
												<feGaussianBlur stdDeviation="2.236" result="dropBlur"/>
												<feFlood flood-color="#FAD6C7"/>
												<feComposite operator="in" in2="dropBlur" result="dropShadowComp"/>
												<feComposite in="SourceGraphic" result="shadowed"/>
											</filter>
										</defs>
										<path d="M47.039,21.295 C130.085,-2.256 326.096,10.945 349.408,13.305 C372.719,15.665 439.488,22.384 438.021,52.890 C436.554,83.394 413.907,96.556 352.954,101.195 C172.510,114.929 63.319,104.884 23.098,83.218 C4.741,73.328 -9.096,37.217 47.039,21.295 Z" class="svg-red"/>
									</svg>
								span.btn-text Зарегистрируйте промокод
				
				.row-controls-slider-texts
					.wrap-present-slider-controls

					.wrap-presents-texts
						span.text Путешествие для всей семьи<br> в парк развлечений!
						span.text Умные часы
						span.text Детские часы с трекером
						span.text Путешествие для всей семьи<br> в парк развлечений!
						span.text Умные часы
						span.text Путешествие для всей семьи<br> в парк развлечений!
						span.text Умные часы

					span.slider-subtext *призы могут отличаться от их рекламных<br> изображений


