.winners
	.container

		span.winners-title Победители<br class="d-lg-none d-block"> этой недели

		.wrap-winners-items
			.wrap-item
				.item
					img(src="img/gif-1.gif", alt="").img-animation
					a(href="#").wrap-img.img-resp
						img(src="img/people-1.png", alt="")
					a(href="#").title Марина - Елизавета и Александра 
					p.subtext Ханты - Мансийский<br> автономный округ

			.wrap-item
				.item
					img(src="img/gif-2.gif", alt="").img-animation
					a(href="#").wrap-img.img-resp
						img(src="img/people-2.png", alt="")
					a(href="#").title Марина - Елизавета и Александра 
					p.subtext Ханты - Мансийский<br> автономный округ

			.wrap-item
				.item
					img(src="img/gif-3.gif", alt="").img-animation
					a(href="#").wrap-img.img-resp
						img(src="img/people-3.png", alt="")
					a(href="#").title Марина - Елизавета и Александра 
					p.subtext Ханты - Мансийский<br> автономный округ

			.wrap-item
				.item
					img(src="img/gif-4.gif", alt="").img-animation
					a(href="#").wrap-img.img-resp
						img(src="img/people-1.png", alt="")
					a(href="#").title Марина - Елизавета и Александра 
					p.subtext Ханты - Мансийский<br> автономный округ

			.wrap-item
				.item
					img(src="img/gif-1.gif", alt="").img-animation
					a(href="#").wrap-img.img-resp
						img(src="img/people-2.png", alt="")
					a(href="#").title Марина - Елизавета и Александра 
					p.subtext Ханты - Мансийский<br> автономный округ


			.wrap-item
				.item
					img(src="img/gif-2.gif", alt="").img-animation
					a(href="#").wrap-img.img-resp
						img(src="img/people-3.png", alt="")
					a(href="#").title Марина - Елизавета и Александра 
					p.subtext Ханты - Мансийский<br> автономный округ

			.wrap-item
				.item
					img(src="img/gif-3.gif", alt="").img-animation
					a(href="#").wrap-img.img-resp
						img(src="img/people-1.png", alt="")
					a(href="#").title Марина - Елизавета и Александра 
					p.subtext Ханты - Мансийский<br> автономный округ

			.wrap-item
				.item
					img(src="img/gif-4.gif", alt="").img-animation
					a(href="#").wrap-img.img-resp
						img(src="img/people-2.png", alt="")
					a(href="#").title Марина - Елизавета и Александра 
					p.subtext Ханты - Мансийский<br> автономный округ

			.wrap-item
				.item
					img(src="img/gif-1.gif", alt="").img-animation
					a(href="#").wrap-img.img-resp
						img(src="img/people-3.png", alt="")
					a(href="#").title Марина - Елизавета и Александра 
					p.subtext Ханты - Мансийский<br> автономный округ

			.wrap-item
				.item
					img(src="img/gif-2.gif", alt="").img-animation
					a(href="#").wrap-img.img-resp
						img(src="img/people-1.png", alt="")
					a(href="#").title Марина - Елизавета и Александра 
					p.subtext Ханты - Мансийский<br> автономный округ

