.page-result-search
	
	.wrap-field-search
		margin-bottom: 18px

		.btn-search
			left: 0
		input
			padding-left: 40px

	.wrap-select-result-search
		margin: 15px 0 10px


+media-breakpoint-down(md)
	.page-result-search
		
		.wrap-field-search
			input
				padding-top: 13px
				padding-bottom: 13px

+media-breakpoint-down(xs)
	.page-result-search
		.wrap-page-title
			text-align: left

			.page-title
				font-size: 16px
				line-height: 24px

		
		.wrap-field-search
			margin-bottom: 10px

		.wrap-select-result-search
			margin: 5px 0 15px

		.wrap-select
			.select2-selection--single
				padding: 14px 15px

