@import "../common/vars";

.proof.row-yellow-numbers{
	padding-bottom: 60px !important;
	background-color: #F1F2F6;
}

@media (max-width: 1399px) {

}


@media (max-width: 1199px) {
	.proof.row-yellow-numbers{
		margin-top: 0px;
	}
}


@media (max-width: 991px) {

}


@media (max-width: 767px) {

}


@media (max-width: 575px) {
	.proof.row-yellow-numbers{
		padding-bottom: 40px !important;
	}
}




