@import "../common/vars";

.analys-audit-sec-blue{
	background-color: #F1F2F6;

	.sec-have-projects{
		margin-bottom: 0;
	}

	.wrap-btn{
		white-space: nowrap;
	}
}

@media (max-width: 1399px) {

}


@media (max-width: 1199px) {
	.analys-audit-sec-blue{

		.sec-have-projects{
			padding: 47px 85px;

			.sec-title{
				font-size: 30px;
				line-height: 34px;
			}

			.subtext{
				font-size: 16px;
				line-height: 24px;
			}
		}
	}
}


@media (max-width: 991px) {
	.analys-audit-sec-blue{

		.sec-have-projects{
			padding: 30px 25px;

			.sec-title{
				font-size: 24px;
				line-height: 28px;
			}

			.subtext{
				font-size: 14px;
				line-height: 18px;
			}
		}

	}
}


@media (max-width: 767px) {
	.analys-audit-sec-blue{
		.sec-have-projects{
			padding: 30px 50px;
			display: block;

			> div {
				width: 100%;
			}

			.wrap-btn{
				text-align: left;
			}

			.text{
				margin-bottom: 25px;
			}

			.sec-title{
		    font-size: 24px;
		    margin-bottom: 8px;
				line-height: 32px;
			}
		}
	}
	
}


@media (max-width: 575px) {
	.analys-audit-sec-blue{
		.sec-have-projects{
			padding: 30px 20px;

			br{
				display: none;
			}

			.sec-title{
				line-height: 28px;
			}

			.wrap-btn{
				text-align: center;
				
				.btn{
					display: block;
					margin: 0 auto 0 -5px;
					width: calc(100% + 7px);
					font-size: 14px;
					padding: 9px 17px;

					.wrap-icon{
						display: none;
					}
				}
			}
		}
	}
}




