@import "../common/vars";

.what-audit.sec-page{
	padding-bottom: 20px;
}

.what-audit{
	&-content{
		
		.wrap-title{
			padding-bottom: 15px;

			span{
				margin-bottom: 20px;
				color: @textDark;
				display: block;
				font-size: 30px;
				line-height: 36px;
				font-weight: 700;
			}

			p{
				margin-bottom: 14px;

				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}

	.wrap-blue-items-circle{
		justify-content: space-between;
		border-top: 1px solid @bgGray;
		padding-top: 60px;

		.item{
			width: calc(100% / 3);
			-ms-align-items: flex-start;
			align-items: flex-start;

			&:first-child{
				.wrap-icon{
					padding: 10px;
					
					img{
						height: 100%;
						width: auto;
					}
				}
			}

			&-text{
				font-size: 13px;
				line-height: 18px;
			}
		}

	}
}

@media (max-width: 1399px) {

}


@media (max-width: 1199px) {

}


@media (max-width: 991px) {

}


@media (max-width: 767px) {
	.what-audit.sec-page{
		padding-bottom: 40px;

		.wrap-blue-items-circle{
			display: block;
			margin-left: 0;
			margin-right: 0;
			padding-top: 45px;

			.item{
				width: 100%;
				padding: 0;
			}
		}
	}
}


@media (max-width: 575px) {
	.what-audit.sec-page{
		.wrap-title{
			text-align: left;
			padding: 0;
		}

		.wrap-blue-items-circle{
			padding-top: 35px;
		}
	}
}






