@import "../common/vars";

.when-to-us.sec-page{
	background-color: #F1F2F6;
	padding-bottom: 1px;

	.when-to-us-content{
		.wrap-title{
			padding: 0;
			margin-bottom: 35px;
		}
	}
}

@media (max-width: 767px) {
	.when-to-us.sec-page{
		.when-to-us-content{
			.wrap-title{
				margin-bottom: 20px;
			}
		}
	}
}


@media (max-width: 575px) {
	.when-to-us.sec-page{
		.when-to-us-content{
			.wrap-title{
				text-align: left;
			}
		}
	}
}



