.wrapper
  +breadcrumbs([
    "Главная",
    "Дополнительные услуги"
  ])

  .page__wrap-titles
    span.title-1.page__title <em>Дополнительные</em> услуги
    span.title-3.page__subtitle Данные услуги выполняются только вместе с основными услугами
