include ../../../../slider-arrows/slider-arrows
include ../items/items

.factory__slider.swiper-container
	.swiper-wrapper
		+slides("factory__slider")

+slider-arrows("factory")

.factory__slider-pagination
