.top-page-line
	.wrap-breadcrumbs
		a.other-page(href="index.html") Главная
		a.other-page(href="index.html") Каталог товаров
		a.other-page(href="index.html") Акустика
		a.other-page(href="index.html") Audac
		span.cur-page Аудиокабель miniJack 3,5 мм стерео (вилка) – 2х RCA