.container
	.row
		.col
			.wrap-page-title
				span.page-title.h-2 Новости SportOutlet

	.row
		.col
			.wrap-tabs-btns.wrap-news-tabs-btns
				span.tab-btn.text-small.text-fw-black.text-uppercase.letter-spacing-08.cur-tab-btn(data-tab-key="all-news") Все
				span.tab-btn.text-small.text-fw-black.text-uppercase.letter-spacing-08(data-tab-key="only-news") Новости
				span.tab-btn.text-small.text-fw-black.text-uppercase.letter-spacing-08(data-tab-key="new-collection-news") Обзор новый коллекций
				span.tab-btn.text-small.text-fw-black.text-uppercase.letter-spacing-08(data-tab-key="blog-news") блог