section.inst.section
	.container
		.page-titles
			span.h3.title.title-decor Подписывайтесь на наш инстаграм
			p.subtitle
				a(href="#") #wowagency 
				| и узнавайте первыми о наших акция и спецпредложениях

	.wrap-items
		.wrap-item
			.item.resp-img
				img(src="img/game-16.png", alt="")
		.wrap-item
			.item.resp-img
				img(src="img/game-17.png", alt="")
		.wrap-item
			.item.resp-img
				img(src="img/game-18.png", alt="")
		.wrap-item
			.item.resp-img
				img(src="img/game-19.png", alt="")
		.wrap-item
			.item.resp-img
				img(src="img/game-20.png", alt="")
		.wrap-item
			.item.resp-img
				img(src="img/game-21.png", alt="")


footer.footer
	.container
		a(href="#", target="_blank").wrap-logo.wrap-logo-footer.resp-img
			img(src="img/logo-white.svg", alt="")
		
		p.footer-text Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет<br> сделать текст более привлекательным и живым для визуально-слухового восприятия.

		nav.footer-nav
			ul
				li
					a(href="#") Наши программы
				li
					a(href="#") Портфолио
				li
					a(href="#") О нас
				li
					a(href="#") Контакты

		p.small-text.copyright © Все права защищены.WowAgency



	