.special-banner
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	color: #fff

	&-content
		display: flex
		align-items: center
		min-height: 750px

	.wrap-text
		.title
			font-family: Ubuntu
			margin-bottom: 15px
			&::before
				left: 0
				transform: translate(0, 0)

		.title, .subtitle
			font-weight: 300
			display: block

		.wrap-btn
			margin-top: 40px
			text-align: left


@media (max-width: 1500px)
	.special-banner
		&-content
			min-height: 650px


+media(xl)
	.special-banner
		&-content
			min-height: 570px


+media(lg)
	.special-banner
		&-content
			min-height: 430px


+media(md)
	.special-banner
		&-content
			min-height: 340px

		.wrap-text
			width: 70%
			br
				display: none

			.title
				font-size: 1.8rem
				line-height: 2.4rem
			
			.wrap-btn
				margin-top: 25px


+media(sm)
	.special-banner
		background-image: none !important
		background-color: $dark-purple
		padding: 50px 0

		&-content
			min-height: auto

		.wrap-text
			width: 100%
			max-width: 450px
			margin-left: auto
			margin-right: auto

			.title
				line-height: 2.1rem
