section.special-banner(style="background-image: url('img/special-banner.png')")
	.container

		.special-banner-content
			.wrap-text
				span.h2.title.title-decor Здесь будет красочный баннер<br> со специальным предложением
				
				p.h6.subtitle Оставьте заявку на проведение мероприятия прямо сейчас и вы<br> получите услуги ди-джея бесплатно!

				.wrap-btn
					span.btn.btn-red(data-modal-key="modal-callback") Оставить заявку
