header.header
	.wrap-mobile-menu
		nav.mobile-menu
			ul
				li.active
					a(href="our-programs.html", target="_blank") Наши программы

				li
					a(href="portfolio.html", target="_blank") Портфолио

				li
					a(href="about-us.html", target="_blank") О нас

				li
					a(href="contacts.html", target="_blank") Контакты
						
			.header-callback
				a.phone-number(href="tel:74954351351") +7 (495) 435-13-51
				.btn.btn-callback.color-red(data-modal-key="modal-callback") Заказать звонок


	.header-content
		.container
			.header-main

				.wrap-menu-btn
					button.menu-icon.hamburger.hamburger--squeeze(type="button")
						span.hamburger-box
							span.hamburger-inner

				a(href="#", target="_blank").wrap-logo.wrap-logo-header.resp-img
					img(src="img/logo-white.svg", alt="")
					img.img-scroll(src="img/logo-pirple.svg", alt="")

				nav.header-nav
					ul
						li
							a(href="our-programs.html", target="_blank") Наши программы

						li
							a(href="portfolio.html", target="_blank") Портфолио

						li
							a(href="about-us.html", target="_blank") О нас

						li
							a(href="contacts.html", target="_blank") Контакты

				.header-callback
					a.phone-number(href="tel:74954351351") +7 (495) 435-13-51
					.btn.btn-callback.color-red(data-modal-key="modal-callback") Заказать звонок

		

