section.proof.row-yellow-numbers.sec-page
	.container
		.row-yellow-numbers-content

			.wrap-title
				span.title О нас

			.wrap-items
				.item
					span.number 6+
					span.item-title Более 6 лет
					span.item-text опыты в сфере копирайтинга

				.item
					span.number 600+
					span.item-title Более 600 сайтов 
					span.item-text наполнено

				.item
					span.number 97%
					span.item-title текстов сдано заказчикам
					span.item-text без доработок
					
				.item
					span.number 365
					span.item-title дней в году
					span.item-text тексты приносят вам денег

