section.what-audit.sec-page
	.container
		.what-audit-content

			.wrap-title
				span Что такое аудит сайта?
				p Это детальный внутренний анализ сайта. Его проведение необходимо для того, чтобы выявить все внутренние <br> проблемы, мешающие хорошему ранжированию сайта в поисковых системах.
				p Услуга актуальна для владельцев сайтов, которые хотят получить высокие позиции в поиске и при этом <br> эффективно использовать бюджет на продвижение

			.wrap-blue-items-circle
				.item
					.wrap-icon
						img.lazyload(data-src="img/seo-plus-7.svg", alt="")
					.item-text
						span Высокая эффективность
						p Интуитивно понятный веб-интерфейс административной панели, подробное руководство пользователя и клиентская поддержка.

				.item
					.wrap-icon
						img.lazyload(data-src="img/seo-plus-3.svg", alt="")
					.item-text
						span Экономия бюджета
						p Позволяет с большей эффективностью расходовать бюджет на продвижение и оптимизацию

				.item
					.wrap-icon
						img.lazyload(data-src="img/seo-plus-2.svg", alt="")
					.item-text
						span Поднятие позиций
						p В процессе комплексного SEO-аудита определяются технические проблемы сайта, устранение которых обеспечивает хорошее ранжирование сайта в поисковых системах