section.when-to-us.sec-page
	.container
		.when-to-us-content

			.wrap-title
				span.title В каких случиях стоит обращаться к нам?

			.wrap-list-poligon
				.list
					p
						span.counter-number
						| Сайт только недавно создан и планируется его продвижение;
					p
						span.counter-number
						| Сайт существует уже достаточно долго, и вы приняли решение его раскрутить;
					p
						span.counter-number
						| Желание самостоятельно раскрутить свой сайт без сторонней помощи (при дальнейшем обучении);
					p
						span.counter-number
						| Сайт резко упал в поисковой выдаче и снизился его рейтинг в Google и "Яндекс";
					p
						span.counter-number
						| Недовольны работой SEO-оптимизаторов (низкий уровень продаж с сайта);
					p
						span.counter-number
						| Не находите свой сайт по основным ключевым запросам;
					p
						span.counter-number
						| Сайт исчез из индексирования поисковыми роботами (попал под фильтры, в бан или черный список);
					p
						span.counter-number
						| На протяжении долгого времени (от 6 месяцев) не можете попасть в Топ-5 поисковых систем Google и "Яндекс";
					p
						span.counter-number
						| Новый контент сайта долго индексируется поисковыми системами;
					p
						span.counter-number
						| Не можете найти свой сайт по картинкам и фотографиям в поисковых системах;
					p
						span.counter-number
						| Решили заказать продвижение у сторонних SEO-оптимизаторов и желаете понять механизм предстоящей работы;
					p
						span.counter-number
						| Решили оценить реальный бюджет<br> на продвижение своего сайта<br> с максимальной отдачей;
					p
						span.counter-number
						| Есть потребность сократить бюджет<br> на SEO-продвижение сайта и свести<br> к минимуму трудовые вложения.
