ul.my-list
  li
    a(href="main.html" target="_blank") Главная

  li
    a(href="catalog-list.html" target="_blank") Каталог - список

  li
    a(href="catalog-list-small.html" target="_blank") Каталог - малый список

  li
    a(href="catalog-masonry.html" target="_blank") Каталог - плитка

  li
    a(href="about-company.html" target="_blank") О нас

  li
    a(href="article.html" target="_blank") Статья

  li
    a(href="basket.html" target="_blank") Корзина

  li
    a(href="checkout.html" target="_blank") Оформление заказа

  li
    a(href="checkout-finish.html" target="_blank") Оформление заказа финал

  li
    a(href="compare-products.html" target="_blank") Сравнение товаров

  li
    a(href="contacts.html" target="_blank") Контакты

  li
    a(href="delivery-payment.html" target="_blank") Доставка оплата

  li
    a(href="page-user-data.html" target="_blank") Личный кабинет

  li
    a(href="password-new.html" target="_blank") Новый пароль

  li
    a(href="password-recovery.html" target="_blank") Восстановление пароля

  li
    a(href="posts-articles.html" target="_blank") Посты новостей

  li
    a(href="product-card.html" target="_blank") Карточка товара

  li
    a(href="question-answer.html" target="_blank") Вопрос ответ

  li
    a(href="registration.html" target="_blank") Регистрация

  li
    a(href="result-search.html" target="_blank") Результаты поиска

  li
    a(href="services-centers.html" target="_blank") Сервисный центры

  li
    a(href="404.html" target="_blank") 404
