.wrap-posts-articles

	a(href="#").post
		.wrap-img.img-resp
			img.lazyload(data-src="img/post-article-1.jpg")
		.wrap-text
			span.post-title.link-accent Поисковое продвижение: подождать или сделать сегодня?
			p.subtext Уверенны ли вы в том, что ваш портал выполняет все поставленные на него…

	a(href="#").post
		.wrap-img.img-resp
			img.lazyload(data-src="img/post-article-2.jpg")
		.wrap-text
			span.post-title.link-accent Доработка сайтов на 1С Битрикс
			p.subtext Достаточно часто появляется необходимость доработать сайт на 1С…

	a(href="#").post
		.wrap-img.img-resp
			img.lazyload(data-src="img/post-article-1.jpg")
		.wrap-text
			span.post-title.link-accent Поисковое продвижение: подождать или сделать сегодня?
			p.subtext Уверенны ли вы в том, что ваш портал выполняет все поставленные на него…

	a(href="#").post
		.wrap-img.img-resp
			img.lazyload(data-src="img/post-article-1.jpg")
		.wrap-text
			span.post-title.link-accent Поисковое продвижение: подождать или сделать сегодня?
			p.subtext Уверенны ли вы в том, что ваш портал выполняет все поставленные на него…

	a(href="#").post
		.wrap-img.img-resp
			img.lazyload(data-src="img/post-article-1.jpg")
		.wrap-text
			span.post-title.link-accent Поисковое продвижение: подождать или сделать сегодня?
			p.subtext Уверенны ли вы в том, что ваш портал выполняет все поставленные на него…

	a(href="#").post
		.wrap-img.img-resp
			img.lazyload(data-src="img/post-article-1.jpg")
		.wrap-text
			span.post-title.link-accent Поисковое продвижение: подождать или сделать сегодня?
			p.subtext Достаточно часто появляется необходимость доработать сайт на 1С…

	a(href="#").post
		.wrap-img.img-resp
			img.lazyload(data-src="img/post-article-2.jpg")
		.wrap-text
			span.post-title.link-accent Доработка сайтов на 1С Битрикс
			p.subtext Достаточно часто появляется необходимость доработать сайт на 1С…

	a(href="#").post
		.wrap-img.img-resp
			img.lazyload(data-src="img/post-article-1.jpg")
		.wrap-text
			span.post-title.link-accent Доработка сайтов на 1С Битрикс
			p.subtext Уверенны ли вы в том, что ваш портал выполняет все поставленные на него…

	a(href="#").post
		.wrap-img.img-resp
			img.lazyload(data-src="img/post-article-2.jpg")
		.wrap-text
			span.post-title.link-accent Поисковое продвижение: подождать или сделать сегодня?
			p.subtext Достаточно часто появляется необходимость доработать сайт на 1С…

	a(href="#").post
		.wrap-img.img-resp
			img.lazyload(data-src="img/post-article-1.jpg")
		.wrap-text
			span.post-title.link-accent Доработка сайтов на 1С Битрикс
			p.subtext Уверенны ли вы в том, что ваш портал выполняет все поставленные на него…

	.wrap-btn.wrap-btn-border.view-more
		a(href="#").btn Показать еще


