.wrap-tags
	a(href="#").cur-tag Все
	a(href="#") 1С-Bitrix
	a(href="#") Контекстная реклама
	a(href="#") Поддержка сайтов
	a(href="#") Разработка сайтов
	a(href="#") Дизайн
	a(href="#") SEO
	a(href="#") 1С-Bitrix
	a(href="#") 1С-Bitrix
	a(href="#") Контекстная реклама
	a(href="#") Поддержка сайтов
	a(href="#") Разработка сайтов