.banner
	.container
		.banner-content

			.wrap-banner-item
				.banner-item
					span.title Фотоаппараты
					.wrap-img
						img(src="img/banner-item-1.png", alt="")
					a(href="#").more подробнее

			.wrap-banner-item
				.banner-item
					span.title В формате 360
					span.subtitle открывает перед вами новые горизонты
					.wrap-img
						img(src="img/banner-item-2.png", alt="")
					a(href="#").more подробнее

