.card-info
	.wrap-tabs-btn
		span.tab.cur-tab
			span О товаре
		span.tab.tab-data-table
			span Технические характеристики
		span.tab
			span Видео
		span.tab
			span Скачать
	
	.wrap-tabs-content
		span.dropdown-title О товаре
			<svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M1.09267 9.90012L5.89687 5.23037C5.96559 5.16366 6 5.0869 6 5.00007C6 4.91324 5.96559 4.83634 5.89687 4.76959L1.09267 0.100236C1.02385 0.0333418 0.944879 0 0.855507 0C0.766172 0 0.687092 0.033447 0.618412 0.100236L0.103092 0.601134C0.0343757 0.667923 3.52859e-05 0.744785 3.52859e-05 0.831614C3.52859e-05 0.918443 0.0343757 0.995304 0.103092 1.06209L4.15466 5.00007L0.102839 8.93819C0.0341229 9.00494 -4.76837e-07 9.08184 -4.76837e-07 9.16853C-4.76837e-07 9.2555 0.0343394 9.33236 0.102839 9.39911L0.618376 9.90008C0.687056 9.96683 0.766172 10 0.855471 10C0.944878 10 1.02396 9.96687 1.09267 9.90012Z" fill="#14AAE6"/>
			</svg>
		.tab-content.dropdown-content.tab-content-cur
			span.title.big-title Смартфон Samsung Galaxy S8 (мистический аметист)
			p Задача организации, в особенности же укрепление и развитие структуры требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Равным образом новая модель организационной деятельности способствует подготовки и реализации дальнейших направлений развития. Не следует, однако забывать, что рамки и место обучения кадров требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач.
			p Задача организации, в особенности же укрепление и развитие структуры влечет за собой процесс внедрения и модернизации форм развития. Равным образом новая модель организационной деятельности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что начало повседневной работы по формированию позиции играет важную роль в формировании существенных финансовых и административных условий. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание форм развития. С другой стороны новая модель организационной деятельности играет важную роль в формировании систем массового участия.
			p Повседневная практика показывает, что рамки и место обучения кадров позволяет оценить значение соответствующий условий активизации. Повседневная практика показывает, что консультация с широким активом играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.
			a(href="#") Сервисные центры

		span.dropdown-title.dropdown-title-data-table Технические характеристики
			<svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M1.09267 9.90012L5.89687 5.23037C5.96559 5.16366 6 5.0869 6 5.00007C6 4.91324 5.96559 4.83634 5.89687 4.76959L1.09267 0.100236C1.02385 0.0333418 0.944879 0 0.855507 0C0.766172 0 0.687092 0.033447 0.618412 0.100236L0.103092 0.601134C0.0343757 0.667923 3.52859e-05 0.744785 3.52859e-05 0.831614C3.52859e-05 0.918443 0.0343757 0.995304 0.103092 1.06209L4.15466 5.00007L0.102839 8.93819C0.0341229 9.00494 -4.76837e-07 9.08184 -4.76837e-07 9.16853C-4.76837e-07 9.2555 0.0343394 9.33236 0.102839 9.39911L0.618376 9.90008C0.687056 9.96683 0.766172 10 0.855471 10C0.944878 10 1.02396 9.96687 1.09267 9.90012Z" fill="#14AAE6"/>
			</svg>
		.tab-content.dropdown-content.tab-content-data-table
			.wrap-table
				span.title Связь
				table
					tr
						td 
							span Диапазоны GSM
						td 850, 900, 1800, 1900
					tr
						td
							span Диапазоны UMTS
						td 850, 1900, 2100, 900
					tr
						td
							span Интернет
						td GPRS, EDGE, 3G, 4G
					tr
						td
							span Bluetooth
						td A2DP, LE, apt-X, 5.0
					tr
						td
							span Wi-Fi (802.11)
						td a, b, g, n, ac
					tr
						td
							span NFC
						td да

			.wrap-table
				span.title Дисплей
				table
					tr
						td 
							span Тип дисплея
						td Super AMOLED
					tr
						td
							span Диагональ (дюйм)
						td 6.2
					tr
						td
							span Разрешение (пикс)
						td 2960x1440
					tr
						td
							span Плотность пикселей (PPI)
						td 531
					tr
						td
							span Количество цветов дисплея
						td 16 млн.
					tr
						td
							span Сенсорный дисплей
						td да
					tr
						td
							span Тип сенсорного дисплея
						td емкостный
					tr
						td
							span Поддержка Multitouch
						td да

		span.dropdown-title Видео
			<svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M1.09267 9.90012L5.89687 5.23037C5.96559 5.16366 6 5.0869 6 5.00007C6 4.91324 5.96559 4.83634 5.89687 4.76959L1.09267 0.100236C1.02385 0.0333418 0.944879 0 0.855507 0C0.766172 0 0.687092 0.033447 0.618412 0.100236L0.103092 0.601134C0.0343757 0.667923 3.52859e-05 0.744785 3.52859e-05 0.831614C3.52859e-05 0.918443 0.0343757 0.995304 0.103092 1.06209L4.15466 5.00007L0.102839 8.93819C0.0341229 9.00494 -4.76837e-07 9.08184 -4.76837e-07 9.16853C-4.76837e-07 9.2555 0.0343394 9.33236 0.102839 9.39911L0.618376 9.90008C0.687056 9.96683 0.766172 10 0.855471 10C0.944878 10 1.02396 9.96687 1.09267 9.90012Z" fill="#14AAE6"/>
			</svg>
		.tab-content.dropdown-content
			.wrap-video
				span.title Видеообзор №1
				.video
					.layer-responsive-video
					<iframe src="https://www.youtube.com/embed/S1zP7xg8kik" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

			.wrap-video
				span.title Видеообзор №2
				.video
					.layer-responsive-video
					<iframe src="https://www.youtube.com/embed/S1zP7xg8kik" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

		span.dropdown-title Скачать
			<svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M1.09267 9.90012L5.89687 5.23037C5.96559 5.16366 6 5.0869 6 5.00007C6 4.91324 5.96559 4.83634 5.89687 4.76959L1.09267 0.100236C1.02385 0.0333418 0.944879 0 0.855507 0C0.766172 0 0.687092 0.033447 0.618412 0.100236L0.103092 0.601134C0.0343757 0.667923 3.52859e-05 0.744785 3.52859e-05 0.831614C3.52859e-05 0.918443 0.0343757 0.995304 0.103092 1.06209L4.15466 5.00007L0.102839 8.93819C0.0341229 9.00494 -4.76837e-07 9.08184 -4.76837e-07 9.16853C-4.76837e-07 9.2555 0.0343394 9.33236 0.102839 9.39911L0.618376 9.90008C0.687056 9.96683 0.766172 10 0.855471 10C0.944878 10 1.02396 9.96687 1.09267 9.90012Z" fill="#14AAE6"/>
			</svg>
		.tab-content.dropdown-content
			span.title Документация

			.wrap-files
				.file
					.wrap-icon
						img(src="img/icon-pdf.svg", alt="")
					.wrap-text
						a(href="example.txt", download).file-name Инструкция по применению
						span.file-info
							span.type PDF
							| ,
							span.size  32 KB

				.file
					.wrap-icon
						img(src="img/icon-doc.svg", alt="")
					.wrap-text
						a(href="example.txt", download).file-name Инструкция по применению в две строки
						span.file-info
							span.type DOC
							| ,
							span.size  32 KB

				.file
					.wrap-icon
						img(src="img/icon-xls.svg", alt="")
					.wrap-text
						a(href="example.txt", download).file-name Инструкция по применению в две строки
						span.file-info
							span.type XLS
							| ,
							span.size  32 KB

				.file
					.wrap-icon
						img(src="img/icon-pdf.svg", alt="")
					.wrap-text
						a(href="example.txt", download).file-name Инструкция по применению
						span.file-info
							span.type PDF
							| ,
							span.size  32 KB

				.file
					.wrap-icon
						img(src="img/icon-doc.svg", alt="")
					.wrap-text
						a(href="example.txt", download).file-name Инструкция по применению в две строки
						span.file-info
							span.type DOC
							| ,
							span.size  32 KB

				.file
					.wrap-icon
						img(src="img/icon-xls.svg", alt="")
					.wrap-text
						a(href="example.txt", download).file-name Инструкция по применению в две строки
						span.file-info
							span.type XLS
							| ,
							span.size  32 KB
