section.section-news-index.section-tabs.section.section-gray
	.container

		span.section-title.h-2 Новости SportOutlet

		.wrap-tabs-btns.wrap-news-tabs-btns
			span.tab-btn.text-small.text-fw-black.text-uppercase.letter-spacing-08(data-tab-key="all-news").cur-tab-btn Все
			span.tab-btn.text-small.text-fw-black.text-uppercase.letter-spacing-08(data-tab-key="only-news") Новости
			span.tab-btn.text-small.text-fw-black.text-uppercase.letter-spacing-08(data-tab-key="new-collection-news") Обзор новый коллекций
			span.tab-btn.text-small.text-fw-black.text-uppercase.letter-spacing-08(data-tab-key="blog-news") блог

		.wrap-tabs-content.wrap-news-tabs-content
			.tab-content.cur-tab-content.row.justify-content-center.align-items-stretch.row-news(data-tab-key="all-news")
				.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
				
				.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-2.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")


							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Что вы знаете о бреде Under Armour? Обзор новинок

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")


							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-3.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")


							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold 10 советов, как выбрать идеальные кроссовки для трекинга

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее

			.tab-content.row.justify-content-center.align-items-stretch.row-news(data-tab-key="only-news")

				.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")


							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-3.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")


							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold 10 советов, как выбрать идеальные кроссовки для трекинга

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее

				.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")


							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
				
				.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-2.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")


							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Что вы знаете о бреде Under Armour? Обзор новинок

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее

			.tab-content.row.justify-content-center.align-items-stretch.row-news(data-tab-key="new-collection-news")
				.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")


							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее				

				.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-2.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")


							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Что вы знаете о бреде Under Armour? Обзор новинок

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее

				.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")


							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее					

				.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-3.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")


							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold 10 советов, как выбрать идеальные кроссовки для трекинга

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее

			.tab-content.row.justify-content-center.align-items-stretch.row-news(data-tab-key="blog-news")

				.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")


							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-3.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")


							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold 10 советов, как выбрать идеальные кроссовки для трекинга

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
						
				.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
				
				.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-2.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Что вы знаете о бреде Under Armour? Обзор новинок

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее



		.row.justify-content-center.align-items-center
			a(href="#").btn.btn-dark Все новости

	include ../../../modules/subscribe-banner/subscribe-banner


