@default-font: "ProximaNova", sans-serif;
@textDark: #151515;
@textGray: #657195;
@textGray-2: #959CB0;

//Colors
@accent: #0F63E1;

@yellow: #F7D33C;
@btnYellowHover: #F9C900;
@colorError: #E93939;

@btnGrayBorder: #DADCE4;
@btnBlueHover: #163ED4;

@bgGray: #F1F2F4;