@import "../common/vars";

.sec-tabs{
	padding: 60px 0 0;

	.top-line{
		text-align: center;
	}

	.wrap-tabs-btn{
		background-color: @bgGray;
		margin-bottom: 36px;
		margin-right: auto;
		margin-left: auto;
		display: -webkit-inline-flex;
		display: -moz-inline-flex;
		display: -ms-inline-flex;
		display: -o-inline-flex;
		display: inline-flex;
		-ms-align-items: center;
		align-items: center;
		border-radius: 50px;

		.btn{
			padding: 18px 35px;
			color: @textGray-2;
			border-radius: 50px;
			cursor: pointer;
			font-weight: 600;
			text-transform: uppercase;
			transition: .4s all ease;
			&:hover:not(.cur-btn){
				color: @accent;
			}
		}

		.cur-btn{
			color: #fff;
			background-color: #363D4A;
			cursor: default;
		}
	}

	.wrap-ready-items{
		.ready-item{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: stretch;
			align-items: stretch;
			justify-content: space-between;
			min-height: 380px;
			margin-bottom: 30px;
			position: relative;

			&:last-child{
				margin-bottom: 0;
			}

			.wrap-img{
				max-width: 410px;
				width: 100%;
				padding: 30px;
				margin-right: -1px;
				border: 1px solid #E6E8F0;
			}

			&-content{
				width: 100%;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				-webkit-flex-direction: column;
				-moz-flex-direction: column;
				-ms-flex-direction: column;
				-o-flex-direction: column;
				flex-direction: column;
				border: 1px solid #E6E8F0;

				.top-line{
					background-color: #F5F6F8;
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					-ms-align-items: stretch;
					align-items: stretch;
					min-height: 215px;
					border-bottom: 1px solid #E6E8F0;

					> div {
						display: -webkit-flex;
						display: -moz-flex;
						display: -ms-flex;
						display: -o-flex;
						display: flex;
						-webkit-flex-direction: column;
						-moz-flex-direction: column;
						-ms-flex-direction: column;
						-o-flex-direction: column;
						flex-direction: column;
						.wrap-btn{
							margin-top: auto;
						}
					}

					&-left{
						padding: 27px 100px 30px 35px;
						text-align: left;
						margin-right: -1px;

						.btn{
							display: inline-block;
						}

						.title{
							font-size: 20px;
							line-height: 26px;
							font-weight: 600;
							color: @textDark;

							&:hover{
								color: @accent;
							}
						}

						.accent-word{
							font-size: 11px;
							line-height: 13px;
							color: #E11042;
							font-weight: 600;
							border: 1px solid #E6E8F0;
							background-color: @bgGray;
							border-radius: 50px;
							margin-left: 12px;
							padding: 4px 12px;
							vertical-align: middle;
						}

						.text{
							font-size: 15px;
							line-height: 20px;
							margin: 8px 0 17px 0; 
						}

					}

					&-right{
						width: 100%;
						max-width: 308px;
						padding: 35px 46px 30px;
						position: relative;
						border-left: 1px solid #E6E8F0;
						
						&:after{
							content: "";
							position: absolute;
							top: calc(50% - 8px);
							left: -9px;
							width: 18px;
							height: 18px;
							background-color: #F5F6F8;
							-webkit-transform: rotate(45deg);
							-moz-transform: rotate(45deg);
							-ms-transform: rotate(45deg);
							-o-transform: rotate(45deg);
							transform: rotate(45deg);
							border: 1px solid transparent;
							border-left-color: #E6E8F0;
							border-bottom-color: #E6E8F0;
						}

						.wrap-price{
							color: @textDark;
							> * {
								display: inline-block;
							}
							.price{
								font-size: 24px;
								line-height: 36px;
								font-weight: 600;
								margin: 0 5px;
								&:first-child{
									margin-right: 12px;
								}
							}
							sup{
								font-size: 12px;
								color: @textDark;
								vertical-align: top;
							}
						}

						.wrap-btn{
							display: block;
							.btn{
								width: 100%;
							}
						}
					}


				}

				.bottom-line{
					padding: 20px 36px;
					margin-top: -1px;

					> span{
						font-weight: 600;
						font-size: 17px;
						display: block;
						margin-bottom: 5px;
					}

					ul{
						columns: 2;
						display: block;

						li{
							margin-bottom: 8px;
							width: 100%;
							display: inline-block;
							font-size: 13px;
							line-height: 16px;
							padding-right: 12px;
							padding-left: 10px
						}
					}
				}

			}
		}

		.ready-item-hot{
			overflow: hidden;

			.wrap-img{
				border-color: @yellow;
			}

			&:before{
				content: "";
				top: 0;
				left: 0;
				width: 100px;
				height: 100px;
				position: absolute;
				background: url("../img/ready-item-hot.png") no-repeat center;
				-webkit-background-size: cover;
				background-size: cover;
			}

			.ready-item-content{
				border-color: @yellow;

				.top-line{
					border-bottom-color: @yellow;

					&-right{
						border-left: 1px solid @yellow;

						&:after{
							border-left-color: @yellow;
							border-bottom-color: @yellow;						
						}
					}
				}
			}
		}

	}

}


@media (max-width: 1400px) {
	.sec-tabs{
		.wrap-ready-items{
			.ready-item{

				&-content{
					.top-line{
						&-left{
							padding-right: 40px;
						}
					}
				}

			}
		}
	}
}


@media (max-width: 1200px) {
	.sec-tabs{
		.wrap-ready-items{
			.ready-item{
				min-height: auto;

				.wrap-img{
					max-width: 265px;
					padding: 20px 15px;
				}

				&-content{
					.top-line{
						&-left{
							padding: 20px;

							.accent-word{
								padding: 3px 9px;
							}

							.title{
								font-size: 18px;
								line-height: 22px;
							}

							.text{
								font-size: 14px;
								line-height: 18px;
							}

						}

						&-right{
							padding: 35px 30px;
							max-width: 270px;

							.wrap-price .price{
								font-size: 20px;
							}
						}
					}

					.bottom-line{
						padding: 20px;
					}

				}

			}


		}
	}
}


@media (max-width: 992px) {
	.sec-tabs{
		padding: 50px 0 0;

		.wrap-tabs-btn{
			margin-bottom: 30px;

			.btn{
				font-size: 13px;
				line-height: 23px;
				padding: 12px 30px;
			}
		}

		.wrap-ready-items{
			.ready-item{

				.wrap-img{
					max-width: 190px;
				}

				&-content{
					.top-line{
						min-height: 190px;

						&-left{
							padding: 20px 15px;

							.accent-word{
								padding: 3px 9px;
							}

							.title{
								font-size: 16px;
								line-height: 20px;
							}

							.text{
								font-size: 13px;
								line-height: 17px;
							}

						}

						&-right{
							padding: 35px 15px 20px;
							max-width: 200px;

							.wrap-price{
								font-size: 12px;

								.price{
									font-size: 17px;
								}
							}
						}
					}

					.bottom-line{
						padding: 15px;

						> span{
							display: block;
							font-size: 14px;
							margin-bottom: 0;
						}

						ul{
							li{
								font-size: 12px;
								line-height: 15px;
								margin-bottom: 4px;
							}
						}
					}

				}

			}


		}
	}
}


@media (max-width: 768px) {
	.sec-tabs{
		.wrap-tabs-btn{

			.btn{
				font-size: 11px;
				line-height: 17px;
				padding: 10px 23px;
			}
		}

		.wrap-ready-items{
			.ready-item{
				display: block;

				.wrap-img{
					max-width: none;
					height: 240px;
					margin: 0 0 -1px 0;

					img{
						height: 100%;
						width: auto;
						margin: 0 auto;
						display: block;
					}
				}
			}
		}
	}
}


@media (max-width: 576px) {
	.sec-tabs{
		padding: 45px 0 0 0;

		.wrap-tabs-btn{

			.btn{
				font-size: 10px;
				line-height: 12px;
				padding: 10px 17px;
			}
		}
	}
}


@media (max-width: 500px) {
	.sec-tabs{
		.wrap-ready-items{

			.ready-item{

				&-content{
					.top-line{
						display: block;

						.wrap-btn{
							margin-left: auto;
							margin-right: auto;
							max-width: 260px;
							width: 100%;
							text-align: center;

							.btn{
								display: block;
							}
						}

						&-left{
							padding-bottom: 25px;

							.accent-word{
								display: block;
								margin: 4px 0 6px 0;
								max-width: 90px;
								text-align: center;
							}
						}

						&-right{
							max-width: none;
							border: none;
							border-top: 1px solid #e6e8f0;
							padding: 25px 15px;

							&:after{
								left: 48%;
								top: 0;
								-webkit-transform: translate(0, -50%) rotate(-45deg);
								-ms-transform: translate(0, -50%) rotate(-45deg);
								-o-transform: translate(0, -50%) rotate(-45deg);
								transform: translate(0, -50%) rotate(-45deg);
							}
						}
					}
				}
			}

			.ready-item-hot{
				.ready-item-content{
					.top-line-right{
						border-left: none;
						border-top-color: #f7d33c;
					}
				}
			}

		}
	}
}


@media (max-width: 480px) {
	.sec-tabs .wrap-ready-items .ready-item-content .bottom-line{
		> span{
			margin-bottom: 4px;
		}

		ul{
			columns: 1;
			li{
				margin-bottom: 6px;
				display: block;
			}
		}
	}
}

