.about-us.lazy(role="region" data-bg="url(img/bg-fast.png)")

	.wrapper
		.about-us__inner

			a(href="index.html" target="_blank" rel="noreferrer").about-us__wrap-logo
				img.about-us__logo-img.lazy(src="" data-src="img/logo-about-us.png", alt="")

			span.about-us__title.title-1 о НАС

			.about-us__wrap-text
				p Основная сфера деятельности нашей компании — это <em>производство декоративных изделий</em> из дерева, фанеры, оргстекла, ПВХ, МДФ, ДВП и других материалов.<br><br>
				p Рисуем, фрезеруем, режем и гравируем лазером, чистим, полируем, покрываем разнообразными покрытиями, устанавливаем фурнитуру, комплектуем.<br><br>
				p Готовы рассмотреть самые смелые предложения и <em>изготовить любой шедевр</em> по Вашим эскизам на заказ.
