style.
	.breeding-list{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		list-style: none;
		background: #17A5F4;
		padding: 40px;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.breeding-list__item {
		margin-bottom: 20px;
	}

	.breeding-list__link {
		display: block;
		font-size: 28px;
		color: #fff;
		font-family: Montserrat-Bold;
		-webkit-transition: .4s all ease;
		-o-transition: .4s all ease;
		transition: .4s all ease;
	}

	.breeding-list__link:hover{
		color: #13405E;
	}

ul.breeding-list
	li.breeding-list__item
		a.breeding-list__link(href="main-page.html" target="_blank") Main

	li.breeding-list__item
		a.breeding-list__link(href="404.html" target="_blank") 404