.result-search-list.page-content
	.container
		include top-page-line/top-page-line
		
		.wrap-catalog
			include ../../modules/catalog/aside
			include content/content

	include posts-articles/posts-articles
