footer.footer

	.footer__top.footer__item
		.footer__top-inner.footer__item-inner

			a(href="index.html", target="_blank", aria-label="Site logo").footer__wrap-logo
				picture
					source(srcset=".", data-srcset="img/logo.webp", type="image/webp")
					source(srcset=".", data-srcset="img/logo.png", type="image/png")
					img.footer__logo-img.lazy(src="." data-src="img/logo.png", alt="")


			nav.footer__main-nav
				ul.footer__main-nav-list
					li.footer__main-nav-item
						a.footer__main-nav-link.footer__link(href="#", target="_blank") About Us

					li.footer__main-nav-item
						a.footer__main-nav-link.footer__link(href="#", target="_blank") Why Us

					li.footer__main-nav-item
						a.footer__main-nav-link.footer__link(href="#", target="_blank") Corporate Structure


				ul.footer__main-nav-list
					li.footer__main-nav-item
						a.footer__main-nav-link.footer__link(href="#", target="_blank") Products

					li.footer__main-nav-item
						a.footer__main-nav-link.footer__link(href="#", target="_blank") Factory

					li.footer__main-nav-item
						a.footer__main-nav-link.footer__link(href="#", target="_blank") Ordering & Delivery


				ul.footer__main-nav-list
					li.footer__main-nav-item
						a.footer__main-nav-link.footer__link(href="#", target="_blank") Quality

					li.footer__main-nav-item
						a.footer__main-nav-link.footer__link(href="#", target="_blank") Services

					li.footer__main-nav-item
						a.footer__main-nav-link.footer__link(href="#", target="_blank") Warranty


				ul.footer__main-nav-list
					li.footer__main-nav-item
						a.footer__main-nav-link.footer__link(href="#", target="_blank") Values / Mission

					li.footer__main-nav-item
						a.footer__main-nav-link.footer__link(href="#", target="_blank") Environment

					li.footer__main-nav-item
						a.footer__main-nav-link.footer__link(href="#", target="_blank") Corporate Social Responsibility


				ul.footer__main-nav-list
					li.footer__main-nav-item
						a.footer__main-nav-link.footer__link(href="#", target="_blank") Contact

					li.footer__main-nav-item
						a.footer__main-nav-link.footer__link(href="#", target="_blank") Login

					li.footer__main-nav-item
						a.footer__main-nav-link.footer__link(href="#", target="_blank") Feed Back



	.footer__bottom.footer__item
		.footer__bottom-inner.footer__item-inner
			p.footer__copyright © Copyright Architectural Joinery 2019


			nav.footer__nav
				ul.footer__nav-list

					li.footer__nav-item
						a(href="#", target="_blank").footer__nav-link.footer__link Why Wood

					li.footer__nav-item
						a(href="#", target="_blank").footer__nav-link.footer__link Faq

					li.footer__nav-item
						a(href="#", target="_blank").footer__nav-link.footer__link Site Map

					li.footer__nav-item
						a(href="#", target="_blank").footer__nav-link.footer__link Jaha


			p.footer__create-by
				span.footer__create-by-text Created by
				img.footer__create-by-icon.lazy(src="img/icons/icon-create-by.svg", alt="")
