@import "../common/vars";

.support-items{
	padding-top: 70px;
	padding-bottom: 0 !important;

	&-content{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: stretch;
		align-items: stretch;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.support-item-wrap{
		flex-basis: calc(50% - 10px);
		min-height: 270px;
		margin-bottom: 20px;
	}

	.support-item{
		min-height: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		padding: 32px 30px 32px 0;
		border: 1px solid #E6E6E8;
		-webkit-transition: .4s all ease;
		-moz-transition: .4s all ease;
		-ms-transition: .4s all ease;
		-o-transition: .4s all ease;
		transition: .4s all ease;

		&:hover{
			box-shadow: 0px 0px 15px rgba(31, 47, 87, 0.1);
			.wrap-text{
				span{
					color: @yellow;
				}
			}
		}

		.wrap-img{
			width: 100%;
			flex-shrink: 0;
			max-width: 135px;
			margin: 0 15px;
			height: 100px;

			img{
				max-width: 100%;
				max-height: 100%;
				margin: 0 auto;
				display: block;
			}
		}

		.wrap-text{
			> span{
				display: block;
				margin-bottom: 7px;
				color: @accent;
				font-size: 20px;
				line-height: 26px;
				font-weight: 600;
				transition: .3s all ease;
			}

			> p{
				color: @textGray-2;
			}
		}
	}

}

@media (max-width: 1400px) {

}


@media (max-width: 1200px) {
	.support-items{
		.support-item{
			padding: 25px 25px 25px 0;

			.wrap-img{
				max-width: 95px;
				height: 78px;
			}

			.wrap-text{
				> p {
					font-size: 14px;
					line-height: 22px;
				}

				> span {
					font-size: 18px;
					line-height: 23px;
				}
			}
		}
	}
}


@media (max-width: 992px) {
	.support-items{
		&-content{
			display: block;
		}

		.support-item-wrap{
			min-height: 200px;
		}

		.support-item{
			

			.wrap-img{
				max-width: 120px;
				height: 100px;
			}

			.wrap-text{
				> p {
					font-size: 16px;
					line-height: 24px;
				}

				> span {
					font-size: 20px;
					line-height: 26px;
				}
			}

		}
	}
}


@media (max-width: 768px) {

}


@media (max-width: 576px) {

}

@media (max-width: 480px) {
	.support-items .support-item{
		padding: 30px 15px 20px;
		display: block;

		.wrap-text{
			> p {
				font-size: 14px;
				line-height: 22px;
			}

			> span {
				font-size: 18px;
				line-height: 23px;
			}
		}

		.wrap-img{
			margin-bottom: 10px;
			margin: 0 0 10px;
			max-width: none;
			height: 95px;

			img{
				margin-left: 0;
			}
		}
	}
}


