.header
	position: relative
	z-index: 3
	font-size: 14px
	display: flex
	align-items: stretch
	min-height: 120px
	border-bottom: 1px solid $gray-border
	transition: .4s background-color ease
	+media(1620px)
		font-size: 12px
	+media(xxxl)
		min-height: 110px
	+media(xxl)
		font-size: 10px
		min-height: 90px
	+media(xl)
		min-height: 70px
	+media(sm)
		min-height: 60px

	&__item
		display: flex
		align-items: center

	&__element-border
		margin-right: -1px
		border-right: 1px solid $gray-border

	&-list-item
		margin: 0 px-to-em(20, 14)
		+media(xxxl)
			margin: 0 1em
			font-size: px-to-em(14, 12)
		+media(xxl)
			font-size: px-to-em(14, 10)

	&-list-link
		color: #fff
		padding: 15px

	&__logo
		width: px-to-rem(235, 14)
		display: flex
		align-items: center
		justify-content: center
		flex-shrink: 0
		padding: 0 35px 0 40px
		+media(xxl)
			width: px-to-rem(140, 10)
			padding: 0 20px 0 30px
		+media(sm)
			width: 110px
			padding: 0 15px
		&-img
			width: 100%
			height: auto
	
	&__lang
		padding-left: px-to-em(55, 14)
		+media(xxxl)
			padding-left: px-to-em(20, 12)
		+media(lg)
			display: none

	&__nav
		margin-left: auto
		padding-right: px-to-em(40, 14)
		display: flex
		align-items: center
		+media(xxl)
			display: none

		&-link
			+PM-Regular
			position: relative
			transition: .2s all ease
			&:hover
				opacity: .8
			&_active
				&:after
					content: ''
					position: absolute
					left: 50%
					top: calc(100%)
					border-radius: 50%
					width: 2px
					height: 2px
					background-color: #fff
				&:hover
					opacity: 1

	&__contacts
		align-items: stretch
		+media(xxl)
			margin-left: auto
			border-left: 1px solid $gray-border
		+media(lg)
			display: none
		.contacts__item
			width: px-to-em(252, 14)
			padding: 0 10px
			+media(xxxl)
				width: px-to-em(210, 12)

	&__wrap-menu-btn
		padding: 0 px-to-em(70, 14) 0 px-to-em(75, 14)
		display: flex
		align-items: center
		justify-content: center
		+media(xl)
			padding: 0 px-to-em(30, 10)
		+media(lg)
			margin-left: auto
			border-left: 1px solid $gray-border
		+media(sm)
			padding: 0
			width: 65px

	&__menu-btn
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		cursor: pointer
		height: 18px
		width: 30px
		position: relative
		+media(sm)
			width: 25px
			height: 14px
		&-line
			width: 100%
			height: 1px
			background-color: #fff
			transition: .4s all ease
			position: absolute
			left: 0
			transform: translate(0, -50%)
			&_top
				top: 0
			&_center
				top: 50%
			&_bottom
				bottom: 0
		&_active
			.header__menu-btn-line
				margin: 0
				&_top
					transform: rotate(45deg) translate(0, -50%)
					top: 50%
				&_center
					opacity: 0
					transform: translate(-50%, 0)
				&_bottom
					transform: rotate(-45deg) translate(0, -50%)
					bottom: auto
					top: 50%
		&_disabled
			pointer-events: none
