.card-google-yandex
	.wrap-logos
		.wrap-img.img-resp
			img.lazyload(data-src="img/yandex.png", alt="")
		.wrap-img.img-resp
			img.lazyload(data-src="img/google-2.png", alt="")
		.wrap-img.img-resp
			img.lazyload(data-src="img/google-1.png", alt="")

	span Мы — аккредитованное агенство!

	p Наше агенство авторизовано ведущими поисковы системами и рекламными сервисами, а специалисты постоянно подтверждают свою квалификацию