section.row-yellow-numbers.sec-page
	.container
		.row-yellow-numbers-content

			.wrap-title
				span.title Результаты наших клиентов

			.wrap-items
				.item
					span.number 50%
					span.item-title На 50% увеличилась
					span.item-text эффективность рекламы

				.item
					span.number 70%
					span.item-title на 70% увеличилась
					span.item-text прибыль

				.item
					span.number 300%
					span.item-title на 300% увеличилася
					span.item-text поток клиентов
					
				.item
					span.number 20%
					span.item-title на 20% сократились
					span.item-text расходы на рекламу
