section.directions.sec-page
	.container
		.directions-content

			.wrap-title
				span.title Мы готовы предложить 2 направлени<br> разработки сайтов

			.directions-items
				.direction.direction-type-1
					.left-content
						span.title Индивидуальная разработка
						span.bottom-text Персональная детальная<br> проработка

					.right-content
						p.text Рассчитывается индивидуально на основание технического задания
						.wrap-btn.wrap-btn-blue
							.btn.btn-show-modal(data-modal-key="modal-callback") Заказать консультацию

				.direction.direction-type-2
					.left-content
						span.title Готовое решение
						span.subtitle Разработка на  базе  "шаблонов" с нидивидуальной настройкой!
						span.bottom-text Быстрый старт,<br> с мощным функционалом

					.right-content
						span.wrap-price от 
							span.price 800
							sup BYN
							
						p.text Запуск от 5 — до 20 рабочих дней

						.wrap-btn.wrap-btn-border
							a(href="#").btn Подробнее
						.wrap-btn.wrap-btn-blue
							.btn.btn-show-modal(data-modal-key="modal-callback") Заказать консультацию
