footer.main-footer
	.container
		.line-info
			.wrap-phone-info
				span.info-title Отдел продаж

				.wrap-phone-dropdown
					.visible
						a.phone-number(href="tel:+375(17)268-47-40") +375 (17) 268-47-40
						.wrap-icon
							svg(width="10", height="18", viewBox="0 0 10 18", fill="none", xmlns="http://www.w3.org/2000/svg")
								path(opacity="0.6", d="M1 1.5L8.5 9L1 16.5", stroke="white", stroke-width="2")

					.hidden
						.hidden-content

							.top-content
								span.title-content Наш адресс
								address 220113, г. Минск, Бизнес- центр «Парус» ул. Мележа 1, офис 816
								a(href="#").link-border-dotted Показать на карте

							.bottom-content
								span.title-content Время работы:
								.wrap-data-time-work
									.days-week
										span.day
										span.day
										span.day
										span.day
										span.day
										span.day.weekends
										span.day.weekends
									.time
										span с 09:00 до 18:00

			.wrap-email-info
				span.info-title Почта для заявок
				a.link-accent-line(href="mailto:zakaz@webcompany.by") zakaz@webcompany.by

			.wrap-address-info
				span.info-title Наш адрес
				address г. Минск, Бизнес- центр «Парус» ул. Мележа 1, офис 816

			.wrap-btn.wrap-btn-border.wrap-btn-user
				button.btn 
					.wrap-icon.img-resp
						img.lazyload(data-src="img/user-icon.svg", alt="")
					| Личный кабинет

		.footer-wrap-cols
			.footer-col
				a(href="#").col-title О компании
					.dropdown-btn
						<svg width="17" height="10" viewBox="0 0 17 10" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1.5 1.5L8.5 8.5L15.5 1.5" stroke="#9096A8" stroke-width="2"/>
						</svg>

				ul.dropdown-content
					li 
						a(href="#").link-dark
							| Статьи
					li 
						a(href="#").link-dark
							| Портфолио
					li 
						a(href="#").link-dark
							| Контакты

			.footer-col
				a(href="#").col-title Разработка сайтов
					.dropdown-btn
						<svg width="17" height="10" viewBox="0 0 17 10" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1.5 1.5L8.5 8.5L15.5 1.5" stroke="#9096A8" stroke-width="2"/>
						</svg>

				ul.dropdown-content
					li 
						a(href="#").link-dark
							| Лэндинг
					li 
						a(href="#").link-dark
							| Сайт Визитка
					li 
						a(href="#").link-dark
							| Корпоративный сайт
					li 
						a(href="#").link-dark
							| Интернет-магазин
					li 
						a(href="#").link-dark
							| Сайт на 1С-Битрикс
					li 
						a(href="#").link-dark
							| Сайты на ModX
					li 
						a(href="#").link-dark
							| Готовые решения

			.footer-col
				a(href="#").col-title Продвижение сайтов
					.dropdown-btn
						<svg width="17" height="10" viewBox="0 0 17 10" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1.5 1.5L8.5 8.5L15.5 1.5" stroke="#9096A8" stroke-width="2"/>
						</svg>

				ul.dropdown-content
					li 
						a(href="#").link-dark
							| Лэндинг
					li 
						a(href="#").link-dark
							| Сайт Визитка
					li 
						a(href="#").link-dark
							| Корпоративный сайт
					li 
						a(href="#").link-dark
							| Интернет-магазин
					li 
						a(href="#").link-dark
							| Сайт на 1С-Битрикс
					li 
						a(href="#").link-dark
							| Сайты на ModX
					li 
						a(href="#").link-dark
							| Готовые решения

			.footer-col
				a(href="#").col-title Контекстная реклама
					.dropdown-btn
						<svg width="17" height="10" viewBox="0 0 17 10" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1.5 1.5L8.5 8.5L15.5 1.5" stroke="#9096A8" stroke-width="2"/>
						</svg>

				ul.dropdown-content
					li 
						a(href="#").link-dark
							| Реклама в Google
					li 
						a(href="#").link-dark
							| Реклама в Yandex
					li 
						a(href="#").link-dark
							| Реклама в YouTube
					li 
						a(href="#").link-dark
							| Баннерная реклама
					li 
						a(href="#").link-dark
							| в контекстной медийной сети
					li 
						a(href="#").link-dark
							| Догоняющая реклама
					li 
						a(href="#").link-dark
							| Ремаркетинг и ретаргетин

			.footer-col
				a(href="#").col-title Поддержка сайтов
					.dropdown-btn
						<svg width="17" height="10" viewBox="0 0 17 10" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1.5 1.5L8.5 8.5L15.5 1.5" stroke="#9096A8" stroke-width="2"/>
						</svg>

				ul.dropdown-content
					li 
						a(href="#").link-dark
							| Техническая поддержка сайта
					li 
						a(href="#").link-dark
							| Поддрежка сайтов на 1С-Битрикс
					li 
						a(href="#").link-dark
							| и Битрикс 24
					li 
						a(href="#").link-dark
							| Переход на Битрикс
					li 
						a(href="#").link-dark
							| Поддержка сайтов на ModX
					li 
						a(href="#").link-dark
							| Лицензия 1С-Битрикс
					li 
						a(href="#").link-dark
							| CRM Битрикс 24
					li 
						a(href="#").link-dark
							| Редизайн сайта

	.footer-bottom-line
		.container
			p © 2011-2018  Вебкомпани — продающие интернет-решения

