header.main-header.header

	.top-line
		.container
			.top-line-content.header-line-content

				a(href="index.html").wrap-logo-img.img-resp
					img.lazyload(data-src="img/main-logo.svg", alt="")
				
				nav.top-line-nav
					ul
						li
							a(href="about-us.html") О компании
						li
							a(href="#") Портфолио
						li
							a(href="#") Контакты

				.wrap-link
					a.link-accent-line(href="#") zakaz@webcompany.by

				.wrap-btn.wrap-btn-border
					button.btn.btn-show-modal(data-modal-key="modal-callback") Заказать услугу

				.wrap-phone-dropdown
					.visible
						.wrap-icon-phone.wrap-icon.img-resp
							img.lazyload(data-src="img/phone.svg", alt="#")

						a.phone-number(href="tel:+375(29)308-05-62") +375 (29) 308-05-62

						.wrap-icon-dropdown.wrap-icon.img-resp
							img.lazyload(data-src="img/icon-dropdown.svg")

					.hidden
						.hidden-content

							.top-content
								span.title-content Наш адресс
								address г. Минск, Бизнес- центр «Парус» ул. Мележа 1, офис 816
								a(href="#").link-border-dotted Показать на карте

							.bottom-content
								span.title-content Время работы:
								.wrap-data-time-work
									.days-week
										span.day
										span.day
										span.day
										span.day
										span.day
										span.day.weekends
										span.day.weekends
									.time
										span с 09:00 до 18:00

	.bottom-line
		.container
			.bottom-line-content.header-line-content

				a.wrap-logo-text(href="#")
					span Продающие интернет-решения

				nav.bottom-line-nav
					.bottom-line-nav-content
						ul
							li.has-dropdown
								a(href="#") Разработка сайта
								.wrap-dropdown
									ul
										li
											.top-content
												.wrap-icon.img-resp
													img.lazyload(data-src="img/menu-item-img-1.svg")
												a(href="#").title Техническая поддержка сайтов
											.middle-content
												p Работы по программированию, верстке, дизайну, оптимизации и контенту
											.bottom-content
												span от
													span.price 900 BYN

										li
											.top-content
												.wrap-icon.img-resp
													img.lazyload(data-src="img/menu-item-img-2.svg")
												a(href="#").title Поддержка сайтов на 1С-Битрикс и Битрикс24
											.middle-content
												p Доработаываем и поддерживаем сайты на базе 1С-Битрикс и Битрикс24
											.bottom-content
												span от
													span.price 1 800 BYN

										li
											.top-content
												.wrap-icon.img-resp
													img.lazyload(data-src="img/menu-item-img-3.svg")
												a(href="#").title Лицензии 1С Битрикс
											.middle-content
												p Готовые сайты на базе професиисональных решений
											.bottom-content
												span от
													span.price 800 BYN

										li
											.top-content
												.wrap-icon.img-resp
													img.lazyload(data-src="img/menu-item-img-4.svg")
												a(href="#").title CRM Битрикс24
											.middle-content
												p Лицензии и внедрение CRM Битрикс24
											.bottom-content
												span от
													span.price 3 000 BYN

										li
											.top-content
												.wrap-icon.img-resp
													img.lazyload(data-src="img/menu-item-img-5.svg")
												a(href="#").title Переход на Битрикс
											.middle-content
												p Готовые сайты на базе професиисональных решений
											.bottom-content
												span от
													span.price 2 300 BYN

										li
											.top-content
												.wrap-icon.img-resp
													img.lazyload(data-src="img/menu-item-img-6.svg")
												a(href="#").title Поддержка сайтов на MODx
											.middle-content
												p Профессиональная поддержка сайтов на системе управения MODx Evolution/Revolution

										li
											.top-content
												.wrap-icon.img-resp
													img.lazyload(data-src="img/menu-item-img-7.svg")
												a(href="#").title Редизайн сайта
											.middle-content
												p Профессиональная разработка на Modx Evolution/Revolution

							li.has-dropdown
								a(href="#") Продвижение сайтов
								.wrap-dropdown
									ul
										li
											.top-content
												.wrap-icon.img-resp
													img.lazyload(data-src="img/menu-item-img-5.svg")
												a(href="#").title Переход на Битрикс
											.middle-content
												p Готовые сайты на базе професиисональных решений
											.bottom-content
												span от
													span.price 2 300 BYN

										li
											.top-content
												.wrap-icon.img-resp
													img.lazyload(data-src="img/menu-item-img-6.svg")
												a(href="#").title Поддержка сайтов на MODx
											.middle-content
												p Профессиональная поддержка сайтов на системе управения MODx Evolution/Revolution

										li
											.top-content
												.wrap-icon.img-resp
													img.lazyload(data-src="img/menu-item-img-7.svg")
												a(href="#").title Редизайн сайта
											.middle-content
												p Профессиональная разработка на Modx Evolution/Revolution

							li
								a(href="#") Контекстная реклама

							li
								a(href="#") Поддержка сайтов

							li.has-dropdown
								a(href="#") Разработка сайта
								.wrap-dropdown
									ul
										li
											.top-content
												.wrap-icon.img-resp
													img.lazyload(data-src="img/menu-item-img-5.svg")
												a(href="#").title Переход на Битрикс
											.middle-content
												p Готовые сайты на базе професиисональных решений
											.bottom-content
												span от
													span.price 2 300 BYN

										li
											.top-content
												.wrap-icon.img-resp
													img.lazyload(data-src="img/menu-item-img-6.svg")
												a(href="#").title Поддержка сайтов на MODx
											.middle-content
												p Профессиональная поддержка сайтов на системе управения MODx Evolution/Revolution

										li
											.top-content
												.wrap-icon.img-resp
													img.lazyload(data-src="img/menu-item-img-7.svg")
												a(href="#").title Редизайн сайта
											.middle-content
												p Профессиональная разработка на Modx Evolution/Revolution

							li
								a(href="#") Поддержка сайтов

							li.has-dropdown
								a(href="#") Разработка сайта
								.wrap-dropdown
									ul
										li
											.top-content
												.wrap-icon.img-resp
													img.lazyload(data-src="img/menu-item-img-5.svg")
												a(href="#").title Переход на Битрикс
											.middle-content
												p Готовые сайты на базе професиисональных решений
											.bottom-content
												span от
													span.price 2 300 BYN

										li
											.top-content
												.wrap-icon.img-resp
													img.lazyload(data-src="img/menu-item-img-6.svg")
												a(href="#").title Поддержка сайтов на MODx
											.middle-content
												p Профессиональная поддержка сайтов на системе управения MODx Evolution/Revolution

										li
											.top-content
												.wrap-icon.img-resp
													img.lazyload(data-src="img/menu-item-img-7.svg")
												a(href="#").title Редизайн сайта
											.middle-content
												p Готовые сайты на базе професиисональных решений

										li
											.top-content
												.wrap-icon.img-resp
													img.lazyload(data-src="img/menu-item-img-6.svg")
												a(href="#").title Поддержка сайтов на MODx в две строки
											.middle-content
												p Профессиональная поддержка сайтов на системе управения MODx Evolution/Revolution

										li
											.top-content
												.wrap-icon.img-resp
													img.lazyload(data-src="img/menu-item-img-7.svg")
												a(href="#").title Редизайн сайта
											.middle-content
												p Готовые сайты на базе професиисональных решений

include header-fixed.pug
