header.header-fixed.header

	.top-line
		.container
			.top-line-content.header-line-content

				.wrap-menu-btn-fixed
					button.icon.hamburger.hamburger--squeeze(type="button")
						span.hamburger-box
							span.hamburger-inner
					span.btn-text Меню

					.wrap-menu-fixed
						ul
							li.has-dropdown
								a(href="#") Услуги
								ul
									li
										a(href="#") Растработка сайтов
									li.has-dropdown
										a(href="#") Продвижение сайтов
										ul
											li
												a(href="#") Комплексное продвижения сайта
											li
												a(href="#") Продвижение сайта по трафику
											li
												a(href="#") Продвижение молодого сайта в две строки
									li
										a(href="#") Контекстная реклама
									li.has-dropdown
										a(href="#") Поддержка сайтов скорее всего в две строки
										ul
											li
												a(href="#") Комплексное продвижения
											li
												a(href="#") Продвижение сайта по трафику
											li
												a(href="#") Продвижение молодого сайта
									li
										a(href="#") Еще
							li
								a(href="#") Услуги
							li
								a(href="#") Услуги
							li
								a(href="#") Услуги


				a(href="index.html").wrap-logo
					.wrap-logo-img
						img.lazyload(data-src="img/logo-fixed.svg", alt="")
					.wrap-logo-text
						span Продающие интернет-решения

				.wrap-link
					a.link-accent-line(href="#") zakaz@webcompany.by

				.wrap-btn.wrap-btn-border
					button.btn.btn-show-modal(data-modal-key="modal-callback") Заказать услугу

				.wrap-phone-dropdown
					.visible
						.wrap-icon-phone.wrap-icon.img-resp
							img.lazyload(data-src="img/phone.svg", alt="#")

						a.phone-number(href="tel:+375(29)308-05-62") +375 (29) 308-05-62

						.wrap-icon-dropdown.wrap-icon.img-resp
							img.lazyload(data-src="img/icon-dropdown.svg")

					.hidden
						.hidden-content

							.top-content
								span.title-content Наш адресс
								address г. Минск, Бизнес- центр «Парус» ул. Мележа 1, офис 816
								a(href="#").link-border-dotted Показать на карте

							.bottom-content
								span.title-content Время работы:
								.wrap-data-time-work
									.days-week
										span.day
										span.day
										span.day
										span.day
										span.day
										span.day.weekends
										span.day.weekends
									.time
										span с 09:00 до 18:00
			
				.wrap-full-menu-btn
					button.menu-icon.icon.hamburger.hamburger--squeeze(type="button")
						span.hamburger-box
							span.hamburger-inner


