section.blue-sec-list-yellow.sec-page.img-bg(style="background-image: url('img/bitrix-plus-bg.jpg')")
	.container
		.list-good-works-content

			.content-left
				.wrap-title
					span.title Успешный опыт работы с компаниями в тематиках

				.wrap-lists.wrap-list-point.wrap-list-point-white.wrap-scrollbar
					ul
						li Интернет-порталы
						li Заводы
						li Банки
						li Строительство и отделочные работы
						li Юридический компании
						li Инжинерные компании
						li Организация выстовок
						li Красота, косметика, косметология
					ul
						li Туристические компании
						li Климатическое оборудование
						li Строительные материалы
						li Связь и комуникации
						li Мебель и интерьер
						li Медицина
						li Полиграфия, рекламная и сувенирная продукция
						li Бытовая техника
					ul
						li Компьютеры и комплектующие
						li Консалтинг и бизнес обучение
						li Учреждение образование и образовательные центры
						li Гостиницы и отели
						li Аренда квартир и недвижимости
						li Транспортная компания
						li Некомерческие проекты