nav.mobile-menu
	ul
		li.item.main-item
			a(href="#") Разработка сайта
			ul
				li 
					a(href="#") Лендинг 
						span.price от
							em 900 BYN
				li 
					a(href="#") Сайт Визитка
						span.price от
							em 900 BYN
					
				li 
					a(href="#") Корпоративный сайт
						span.price от
							em 900 BYN
					
				li 
					a(href="#") Интернет-магазин
						span.price от
							em 900 BYN
				li 
					a(href="#") Готовые решения
						span.price от
							em 900 BYN
					
				li 
					a(href="#") Сайты на 1С-Битрикс
						span.price от
							em 900 BYN
				li 
					a(href="#") Сайты на ModX
						span.price от
							em 900 BYN
					
		li.item.main-item
			a(href="#") Продвижение сайтов
			ul
				li 
					a(href="#") Лендинг 
						span.price от
							em 900 BYN
				li 
					a(href="#") Сайт Визитка
						span.price от
							em 900 BYN
					
				li 
					a(href="#") Корпоративный сайт
						span.price от
							em 900 BYN
					
				li 
					a(href="#") Интернет-магазин
						span.price от
							em 900 BYN
				li 
					a(href="#") Готовые решения
						span.price от
							em 900 BYN
					
				li 
					a(href="#") Сайты на 1С-Битрикс
						span.price от
							em 900 BYN
				li 
					a(href="#") Сайты на ModX
						span.price от
							em 900 BYN

		li.item.main-item
			a(href="#") Контекстная реклама
			ul
				li 
					a(href="#") Лендинг 
						span.price от
							em 900 BYN
				li 
					a(href="#") Сайт Визитка
						span.price от
							em 900 BYN
					
				li 
					a(href="#") Корпоративный сайт
						span.price от
							em 900 BYN
					
				li 
					a(href="#") Интернет-магазин
						span.price от
							em 900 BYN
				li 
					a(href="#") Готовые решения
						span.price от
							em 900 BYN
					
				li 
					a(href="#") Сайты на 1С-Битрикс
						span.price от
							em 900 BYN
				li 
					a(href="#") Сайты на ModX
						span.price от
							em 900 BYN

		li.item.main-item
			a(href="#") Поддержка сайтов
			ul
				li 
					a(href="#") Лендинг 
						span.price от
							em 900 BYN
				li 
					a(href="#") Сайт Визитка
						span.price от
							em 900 BYN
					
				li 
					a(href="#") Корпоративный сайт
						span.price от
							em 900 BYN
					
				li 
					a(href="#") Интернет-магазин
						span.price от
							em 900 BYN
				li 
					a(href="#") Готовые решения
						span.price от
							em 900 BYN
					
				li 
					a(href="#") Сайты на 1С-Битрикс
						span.price от
							em 900 BYN
				li 
					a(href="#") Сайты на ModX
						span.price от
							em 900 BYN

		li.item.main-item
			a(href="#") ещё
			ul
				li
					a(href="#") Мои заказы
				li
					a(href="#") Личные данные
				li
					a(href="#") Выйти

		div.wrap-other-pages
			ul.mm-nolistview
				li
					a(href="#") О компании

				li
					a(href="#") Портфолио

				li
					a(href="#") Контакты


		div.wrap-phones
			ul.mm-nolistview
				li
					a(href="tel:375172684740") 
						em +375 (17) 268-47-40
						span  - Городской

				li
					a(href="tel:375293080562") 
						em +375 (29) 308-05-62
						span  - Velcom

				li
					a(href="tel:375297950272") 
						em +375 (29) 795-02-72
						span  - МТС
					
				li.link-order
					a(href="#") zakaz@webcompany.by

		li.wrap-btn.wrap-btn-border
			button.btn.btn-show-modal(data-modal-key="modal-callback") Заказать звонок






