aside.nav-sidebar
	nav.nav

		ul
			li.cur-page
				a(href="about-us.html").link-dark О нас

			li
				a(href="our-team.html").link-dark Сотрудники

			li
				a(href="clients.html").link-dark Наши клиенты

			li
				a(href="testimonials.html").link-dark Отзывы

			li.cur-page
				a(href="posts-articles.html").link-dark Статьи в две сроки надеюсь




