.wrap-pagination
	span Страница:
	
	.pagination

		.arrow-wrap
			a(href="#").arrow-prev.arrow.img-resp
				img(src="img/arrow-type-3.svg")
				
		ul
			li
				a(href="#") 1
			li
				a(href="#") ...
			li
				a(href="#") 76
			li
				a(href="#") 77
			li.active
				span 78
	
		//- .arrow-wrap
		//- 	a(href="#").arrow-next.arrow.img-resp
		//- 		img(src="img/arrow-type-3.svg")
