section.sec-scroll.sec-index.img-bg(style="background-image: url('img/bg-sec-scroll.jpg')")
	.container
		.sec-scroll-content

			.content-left.sec-content
				.title-group
					span.title Как мы работаем
					span.subtitle ПОЛУЧИТЕ<br> ГАРАНТИРОВАННЫЙ<br> РЕЗУЛЬТАТ!

				.wrap-btn.wrap-btn-white-arrow
					button.btn.btn-show-modal(data-modal-key="modal-other") Заказать услугу
						.wrap-icon
							<svg width="17" height="11" viewBox="0 0 17 11" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M16.7685 4.97443L11.7095 0.217666C11.4009 -0.0725555 10.9003 -0.0725555 10.5917 0.217666C10.2829 0.507948 10.2829 0.978511 10.5917 1.26879L14.3012 4.75675H0.790455C0.353934 4.75675 0 5.08954 0 5.49999C0 5.91038 0.353934 6.24324 0.790455 6.24324H14.3012L10.5918 9.73119C10.2831 10.0215 10.2831 10.492 10.5918 10.7823C10.7461 10.9273 10.9484 11 11.1507 11C11.353 11 11.5553 10.9273 11.7097 10.7823L16.7685 6.02556C17.0772 5.73527 17.0772 5.26471 16.7685 4.97443Z" fill="white"/>
							</svg>


				.wrap-partners
					span.bottom-line-title Мы являемся сертифицированными партнерами:
					.wrap-items
						.wrap-img
							img.lazyload(data-src="img/partners-1.png", alt="")
						.wrap-img
							img.lazyload(data-src="img/partners-2.png", alt="")
						.wrap-img
							img.lazyload(data-src="img/partners-3.png", alt="")

			.content-right.sec-content
				.wrap-text.wrap-scrollbar.mCustomScrollbar
					h1 Разработка и продвижение сайтов
					p Товарищи! сложившаяся структура организации влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Равным образом сложившаяся структура организации требуют определения и уточнения соответствующий условий активизации. Значимость этих проблем настолько очевидна, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения направлений прогрессивного развития. Равным образом постоянный количественный рост и сфера нашей активности требуют от нас анализа модели развития.
					span Разработка и продвижение сайтов
					p Товарищи! сложившаяся структура организации влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Равным образом сложившаяся структура организации требуют определения и уточнения соответствующий условий активизации. Значимость этих проблем настолько очевидна, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения направлений прогрессивного развития. Равным образом постоянный количественный рост и сфера нашей активности требуют от нас анализа модели развития.
					span Далеко-далеко за словесными горами
					p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Безорфографичный ему даль, переписывается пояс первую мир не необходимыми свой власти своего вдали всемогущая за продолжил предложения коварный эта что! Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Безорфографичный ему даль, переписывается пояс первую мир не необходимыми свой власти своего вдали всемогущая за продолжил предложения коварный эта что! 
					span Далеко-далеко за словесными горами 2
					p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Безорфографичный ему даль, переписывается пояс первую мир не необходимыми свой власти своего вдали всемогущая за продолжил предложения коварный эта что! Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Безорфографичный ему даль, переписывается пояс первую мир не необходимыми свой власти своего вдали всемогущая за продолжил предложения коварный эта что! Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Безорфографичный ему даль, переписывается пояс первую мир не необходимыми свой власти своего вдали всемогущая за продолжил предложения коварный эта что! Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Безорфографичный ему даль, переписывается пояс первую мир не необходимыми свой власти своего вдали всемогущая за продолжил предложения коварный эта что! Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Безорфографичный ему даль, переписывается пояс первую мир не необходимыми свой власти своего вдали всемогущая за продолжил предложения коварный эта что! Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Безорфографичный ему даль, переписывается пояс первую мир не необходимыми свой власти своего вдали всемогущая за продолжил предложения коварный эта что! 
