.steps-work.sec-page
	.container
		.steps-work-content

			.wrap-title
				span.title Как проходит работа над проектом

			.wrap-steps-items
				.step-item
					.wrap-number
						span.number 1
					span.text Предпроектный<br> анализ

				.step-item
					.wrap-number
						span.number 2
					span.text Проектирование<br> и дизайн

				.step-item
					.wrap-number
						span.number 3
					span.text Верстка и<br> программирование

				.step-item
					.wrap-number
						span.number 4
					span.text Тестирование и<br> запуск проекта

				.step-item
					.wrap-number
						span.number 5
					span.text Поддержка и<br> продвижение
