.wrap-table-promotion.wrap-table-promotion-desktop.table-hover
	table
		tr.row-title
			td
				em.col-title Наши тарифы
			td
				em.col-title.col-title-accent Вебкомпани 1.0
			td
				em.col-title.col-title-accent Вебкомпани 2.0
			td
				em.col-title.col-title-accent Вебкомпани 3.0

		tr
			td Кол-во запросов для продвижения
			td Неограниченно
			td неограниченно
			td неограниченно

		tr
			td Личный кабинет клиента
			td есть
			td есть
			td есть

		tr
			td Персональный менеджер
			td есть
			td есть
			td есть

		tr
			td Доработка сайта
			td есть
			td есть
			td есть

		tr.row-title
			td
				em.col-title Тип сайта
			td
			td
			td

		tr
			td Сайт визитка
			td 
				span.active-point
			td
				span.active-point
			td
				span.active-point

		tr
			td Сайт каталог
			td
				span.active-point
			td
				span.active-point
			td
				span.active-point

		tr
			td Интернет-магазин
			td
			td
				span.active-point
			td
				span.active-point

		tr
			td Портал
			td
			td
			td
				span.active-point

		tr.row-title
			td
				em.col-title Рекомендуемый бюджет
			td
				.wrap-price от
					span.price 490
					sup BYN
			td
				.wrap-price от
					span.price 700
					sup BYN
			td
				.wrap-price от
					span.price 900
					sup BYN

		tr
			td
			td
				.wrap-btn.wrap-btn-blue
					a(href="#").btn Ознакомиться
			td
				.wrap-btn.wrap-btn-blue
					a(href="#").btn Ознакомиться
			td
				.wrap-btn.wrap-btn-blue
					a(href="#").btn Ознакомиться

.wrap-table-promotion.wrap-table-promotion-mobile
	span.table-title Наши тарифы

	.table
		.table-col
			span.table-col_title.col-title-accent Вебкомпани 1.0
			.table-col_item
				span Личный кабинет клиента
				em Неограниченно
			.table-col_item
				span Персональный менеджер
				em есть
			.table-col_item
				span Доработка сайта
				em есть
			.table-col_item
				span Кол-во запросов для продвижения
				em есть

			.table-col_group-items
				em Тип сайта
				.table-col_group-items_item
					span Сайт визитка
					span.active-point
				.table-col_group-items_item
					span Сайт каталог
					span.active-point
				.table-col_group-items_item
					span Интернет-магазин
				.table-col_group-items_item
					span Портал
			
			.table-col_price
				em Рекомендуемый бюджет
				.wrap-price от
					span.price 900
					sup BYN

			.table-col_btn
				.wrap-btn.wrap-btn-blue
					a(href="#").btn Ознакомиться



		.table-col
			span.table-col_title.col-title-accent Вебкомпани 2.0
			.table-col_item
				span Личный кабинет клиента
				em Неограниченно
			.table-col_item
				span Персональный менеджер
				em есть
			.table-col_item
				span Доработка сайта
				em есть
			.table-col_item
				span Кол-во запросов для продвижения
				em есть

			.table-col_group-items
				em Тип сайта
				.table-col_group-items_item
					span Сайт визитка
					span.active-point
				.table-col_group-items_item
					span Сайт каталог
					span.active-point
				.table-col_group-items_item
					span Интернет-магазин
					span.active-point
				.table-col_group-items_item
					span Портал

			.table-col_price
				em Рекомендуемый бюджет
				.wrap-price от
					span.price 900
					sup BYN

			.table-col_btn
				.wrap-btn.wrap-btn-blue
					a(href="#").btn Ознакомиться


		.table-col
			span.table-col_title.col-title-accent Вебкомпани 3.0
			.table-col_item
				span Личный кабинет клиента
				em Неограниченно
			.table-col_item
				span Персональный менеджер
				em есть
			.table-col_item
				span Доработка сайта
				em есть
			.table-col_item
				span Кол-во запросов для продвижения
				em есть

			.table-col_group-items
				em Тип сайта
				.table-col_group-items_item
					span Сайт визитка
					span.active-point
				.table-col_group-items_item
					span Сайт каталог
					span.active-point
				.table-col_group-items_item
					span Интернет-магазин
					span.active-point
				.table-col_group-items_item
					span Портал
					span.active-point

			.table-col_price
				em Рекомендуемый бюджет
				.wrap-price от
					span.price 900
					sup BYN

			.table-col_btn
				.wrap-btn.wrap-btn-blue
					a(href="#").btn Ознакомиться
