section.team-diagram.img-bg.sec-page(style="background-image: url('img/team-diagram-bg.png')")
	.container

		.team-diagram-content
			.wrap-title
				span.title Кто будет работать над вашим сайтом?

			.wrap-diagram
				.wrap-icon.img-resp
					img.lazyload(data-src="img/icon-user-green.svg", alt="")
				.wrap-groups

					.group
						.group-content
							span.title Менеджер проекта

					.group.group-list
						.group-content
							span.title Руководитель отдела PPC
							ul
								li Специалист по контекстной рекламе
								li Копирайтер
								li Дизайнер
								li Верстальщик
								li Программист

					.group.group-list
						.group-content
							span.title Руководитель отдела аналитики
							ul
								li WEB аналитик
								li Юзабилити-специалст
	