.wrap-testimonials-slider
	.testimonials-slider

		.testimonial-item.btn-show-modal(data-modal-key="modal-testimonials")
			.wrap-img.img-resp
				.hover-layer.show-testimonial-modal
					.wrap-icon.img-resp
						img.lazyload(data-src="img/icon-search.svg", alt="")
				img.lazyload(data-src="img/testimonial-1.svg")
			.wrap-bottom-info
				a.link-accent(href="#") mzkt.by, volatdefence.com длинное название
				span.name Горщарик Д. И.

		.testimonial-item.btn-show-modal(data-modal-key="modal-testimonials")
			.wrap-img.img-resp
				.hover-layer.show-testimonial-modal
					.wrap-icon.img-resp
						img.lazyload(data-src="img/icon-search.svg", alt="")
				img.lazyload(data-src="img/testimonial-2.svg")
			.wrap-bottom-info
				a.link-accent(href="#") mzkt.by, volatdefence.com
				span.name Горщарик Д. И.

		.testimonial-item.btn-show-modal(data-modal-key="modal-testimonials")
			.wrap-img.img-resp
				.hover-layer.show-testimonial-modal
					.wrap-icon.img-resp
						img.lazyload(data-src="img/icon-search.svg", alt="")
				img.lazyload(data-src="img/testimonial-3.svg")
			.wrap-bottom-info
				span.name Вершиловский Д. И.

		.testimonial-item.btn-show-modal(data-modal-key="modal-testimonials")
			.wrap-img.img-resp
				.hover-layer.show-testimonial-modal
					.wrap-icon.img-resp
						img.lazyload(data-src="img/icon-search.svg", alt="")
				img.lazyload(data-src="img/testimonial-4.svg")
			.wrap-bottom-info
				a.link-accent(href="#") mzkt.by, volatdefence.com длинное название
				span.name Горщарик Д. И.

		.testimonial-item.btn-show-modal(data-modal-key="modal-testimonials")
			.wrap-img.img-resp
				.hover-layer.show-testimonial-modal
					.wrap-icon.img-resp
						img.lazyload(data-src="img/icon-search.svg", alt="")
				img.lazyload(data-src="img/testimonial-3.svg")
			.wrap-bottom-info
				a.link-accent(href="#") mzkt.by, volatdefence.com
				span.name Горщарик Д. И.

		.testimonial-item.btn-show-modal(data-modal-key="modal-testimonials")
			.wrap-img.img-resp
				.hover-layer.show-testimonial-modal
					.wrap-icon.img-resp
						img.lazyload(data-src="img/icon-search.svg", alt="")
				img.lazyload(data-src="img/testimonial-2.svg")
			.wrap-bottom-info
				a.link-accent(href="#") milancosmetics.by
				span.name Горщарик Д. И.

		.testimonial-item.btn-show-modal(data-modal-key="modal-testimonials")
			.wrap-img.img-resp
				.hover-layer.show-testimonial-modal
					.wrap-icon.img-resp
						img.lazyload(data-src="img/icon-search.svg", alt="")
				img.lazyload(data-src="img/testimonial-2.svg")
			.wrap-bottom-info
				a.link-accent(href="#") mzkt.by, volatdefence.com длинное название
				span.name Горщарик Д. И.

		.testimonial-item.btn-show-modal(data-modal-key="modal-testimonials")
			.wrap-img.img-resp
				.hover-layer.show-testimonial-modal
					.wrap-icon.img-resp
						img.lazyload(data-src="img/icon-search.svg", alt="")
				img.lazyload(data-src="img/testimonial-4.svg")
			.wrap-bottom-info
				span.name Горщарик Д. И.

	.wrap-slider-nav

