.page.page-404
	.container
		.page-404__content

			.page-404__icon-decor.responsive-image
				<svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M22.8151 20.399L33.2492 9.87717L30.4695 7L19.9965 17.5612L9.7759 7.27108L7 10.1489L17.1816 20.3998L7.09667 30.5696L9.8763 33.4468L20.0002 23.2376L30.408 33.7162L33.1839 30.8383L22.8151 20.399Z" fill="black"/>
					</g>
				</svg>

			.page-404__info-text.width-1-2
				span.page-404__accent-text.text-ex-bold.text-accent-color.d-block 404
				
				span.title-h1.page-404__title.d-block A dead end.
				span.title-h3.page-404__title.d-block This page no longer exists.

			nav.page-404__nav.width-1-2
				span.page-404__nav-title.title-h4.d-block Let's get you back on track:

				ul.page-404__nav-list.menu-list
					li.menu-list__item.active
						a.menu-list__link(href="#")
							span.menu-list__overlay(data-text="Home")
							| Home
					li.menu-list__item
						a.menu-list__link(href="#")
							span.menu-list__overlay(data-text="Services")
							| Services
					li.menu-list__item
						a.menu-list__link(href="#")
							span.menu-list__overlay(data-text="Company Works")
							| Company Works
					li.menu-list__item
						a.menu-list__link(href="#")
							span.menu-list__overlay(data-text="Sivenkov Studio")
							| Sivenkov Studio
					li.menu-list__item
						a.menu-list__link(href="#")
							span.menu-list__overlay(data-text="Contact")
							| Contact
