.page-404
	&__content
		position: relative
		display: flex

	&__icon-decor
		filter: blur(3px)
		width: 42px
		position: absolute
		top: -100px
		left: 45%
		z-index: 1000
		display: none

	&__accent-text
		font-size: px-to-rem(288, 24)
		line-height: px-to-rem(250, 24)
		margin-bottom: 50px
	
	&__title
		margin-bottom: 15px
	
	&__nav
		padding-left: 16.66%

		&-title
			margin-bottom: 30px

