.portfolio
	padding-bottom: 0 !important

	.wrap-item
		max-width: 50%

		&-simple
			padding-bottom: 36px

			.item
				background-color: #fff

				> *
					display: block

			.text-info
				color: $subtext

			.title
				margin: 6px 0 12px
				color: $dark-text

			.wrap-img
				margin-bottom: 14px

		&-dropdown
			position: relative
			margin-bottom: 16px

			.item
				display: block
				height: 100%

				&-hover
					position: absolute
					top: 0
					left: 0
					width: 100%
					height: 100%
					background-color: rgba(0,0,0,.85)
					padding: 40px
					transform: translate(0, 101%)
					transition: .4s all ease

				&:hover
					.item-hover
						transform: translate(0)

			.item-text:not(.item-hover)
				display: none


			img
				border-radius: 4px 4px 0 0

			.wrap-img
				z-index: 2
				position: relative
				overflow: hidden

			.item-info
				background-color: $purple
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				align-items: center
				justify-content: space-between
				padding: 37px 40px
				border-radius: 0 0 4px 4px
				z-index: 2
				position: relative

			// .item-text
			// 	position: absolute
			// 	left: 0
			// 	right: 0
			// 	top: 99%
			// 	transition: .2s all ease
			// 	background-color: $purple
			// 	padding: 0 40px 35px
			// 	z-index: -1
			// 	border-radius: 0 0 4px 4px
			// 	transform: translate(0, -100%)

			// &:hover
			// 	.item-text
			// 		z-index: 1
			// 		transition: .4s all ease
			// 		transform: translate(0)
	
	.wrap-slider-arrows
		> *
			top: 170px
		

+media(xl)
	.portfolio
		.wrap-slider-arrows
			> *
				top: 150px


+media(lg)
	.portfolio
		.wrap-item

			&-dropdown
				.item
					background-color: $purple
					border-radius: 4px

					&-hover
						display: none

				.item-info
					padding: 25px 30px 15px
					border-radius: 0

				.item-text:not(.item-hover)
					display: block
					padding: 0 30px 25px


			&-simple
				.title
					margin: 6px 0

		.wrap-slider-arrows
			> *
				top: 108px
		


+media(md)
	.portfolio
		.wrap-slider-arrows
			> *
				top: 77px

		.wrap-item
			&-simple
				padding-bottom: 25px

			&-dropdown
				.item-info
					padding: 15px 20px 12px
				.item-text:not(.item-hover)
					padding: 0 20px 20px
					font-size: .9rem
					line-height: 1.3rem


+media(sm)
	.portfolio
		.wrap-slider
			max-width: 420px
			margin-left: auto
			margin-right: auto

		.wrap-item
			max-width: 100%

		.wrap-slider-arrows
			> *
				top: 120px
	
@media (max-width: 480px)
	.portfolio
		.wrap-slider-arrows
			> *
				top: 25vw


