section.portfolio.section.section-white.bg-elements(style="background-image: url('img/bg-elements-1.svg')")
	.container

		.page-titles
			span.h2.title.title-decor Наше портфолио
			p.subtitle Посмотрите, сколько мы уже провели мероприятий!

		include cards-types/item-simple-circle

		





