section.advantages-items.sec.sec-gray
	.container
		.group-title
			h2.sec-title Поставить квартиру на охрану.
			span.subtext Установка оборудования требует опыта и наличия качественных комплектующих. Если вы ищете надежного поставщика услуг, то вы на правильном пути.
			
		.wrap-advantages-items
			.advantage-item
				.wrap-img
					img(src="img/advantages-item-1.svg" alt="")
				.wrap-text
					h5.item-title Тревожная кнопка
					p.small-text Кнопка «SOS» в мобильном приложении защищает вас уже рядом с домом. В опасной ситуации, находясь во дворе или в доме.

			.advantage-item
				.wrap-img
					img(src="img/advantages-item-2.svg" alt="")
				.wrap-text
					h5.item-title Ночной режим
					p.small-text Кнопка «SOS» в мобильном приложении защищает вас уже рядом с домом. В опасной ситуации, находясь во дворе или в доме.

			.advantage-item
				.wrap-img
					img(src="img/advantages-item-3.svg" alt="")
				.wrap-text
					h5.item-title Защита от пожара
					p.small-text Кнопка «SOS» в мобильном приложении защищает вас уже рядом с домом. В опасной ситуации, находясь во дворе или в доме.

			.advantage-item
				.wrap-img
					img(src="img/advantages-item-4.svg" alt="")
				.wrap-text
					h5.item-title Датчики движения
					p.small-text Кнопка «SOS» в мобильном приложении защищает вас уже рядом с домом. В опасной ситуации, находясь во дворе или в доме.	

			.advantage-item
				.wrap-img
					img(src="img/advantages-item-5.svg" alt="")
				.wrap-text
					h5.item-title Защита от пожара
					p.small-text Кнопка «SOS» в мобильном приложении защищает вас уже рядом с домом. В опасной ситуации, находясь во дворе или в доме.

			.advantage-item
				.wrap-img
					img(src="img/advantages-item-3.svg" alt="")
				.wrap-text
					h5.item-title Защита от пожара
					p.small-text Кнопка «SOS» в мобильном приложении защищает вас уже рядом с домом. В опасной ситуации, находясь во дворе или в доме.

			.advantage-item
				.wrap-img
					img(src="img/advantages-item-2.svg" alt="")
				.wrap-text
					h5.item-title Защита от пожара
					p.small-text Кнопка «SOS» в мобильном приложении защищает вас уже рядом с домом. В опасной ситуации, находясь во дворе или в доме.

