section.sec-tabs.sec-tabs-apartments
	.container
		.sec-tabs-content
			aside.wrap-tabs
				.wrap-tabs-group
					h6.tabs-group-title Проводные
					ul.wrap-tabs-items
						li.tab-item.item-1.active-tab(data-item-pos="item-1")
							span Проводной комплект “Стриж”
						li.tab-item(data-item-pos="item-2")
							span Проводной комплект “Proxyma”
				.wrap-tabs-group
					h6.tabs-group-title Беспроводные
					ul.wrap-tabs-items
						li.tab-item(data-item-pos="item-3")
							span Беспроводной комплект “Стриж-2”
						li.tab-item(data-item-pos="item-4")
							span Беспроводной комплект “Proxyma-2”
						li.tab-item(data-item-pos="item-5")
							span Беспроводной комплект “Ритм”
			.wrap-tabs-content
				.tab-content-item.active-content(data-item-pos="item-1")
					h2.tab-content-item-title Проводной комплект «Стриж»
					.tab-content-item-info
						.wrap-img
							img(src="img/tab_item.png" alt="Проводной комплект «Стриж»")
						.wrap-text
							.text-group.text-group-1
								p.small-text Цена базового проводного комплекта с установкой и подключением на ПЦН «Радуга»
								span.item-price 15 000 руб.
							.text-group.text-group-2
								p.small-text Абонентская плата руб./мес.
								span.item-price 1 040 руб.
							.wrap-btn.wrap-btn-acc
								button.btn Заказать комплект

				.tab-content-item(data-item-pos="item-2")
					h2.tab-content-item-title Проводной комплект “Proxyma”
					.tab-content-item-info
						.wrap-img
							img(src="img/main_services_equipment_3.png" alt="Проводной комплект «Стриж»")
						.wrap-text
							.text-group.text-group-1
								p.small-text Цена базового проводного комплекта с установкой и подключением на ПЦН «Радуга» Цена базового проводного комплекта
								span.item-price 11 000 руб.
							.text-group.text-group-2
								p.small-text Абонентская плата руб./мес.
								span.item-price 900 руб.
							.wrap-btn.wrap-btn-acc
								button.btn Заказать комплект

				.tab-content-item(data-item-pos="item-3")
					h2.tab-content-item-title Проводной комплект «Стриж-2»
					.tab-content-item-info
						.wrap-img
							img(src="img/tab_item.png" alt="Проводной комплект «Стриж»")
						.wrap-text
							.text-group.text-group-1
								p.small-text Цена базового проводного комплекта с установкой и подключением на ПЦН «Радуга» Цена базового проводного комплекта Цена базового проводного комплекта
								span.item-price 19 000 руб.
							.text-group.text-group-2
								p.small-text Абонентская плата руб./мес.
								span.item-price 1 340 руб.
							.wrap-btn.wrap-btn-acc
								button.btn Заказать комплект

				.tab-content-item(data-item-pos="item-4")
					h2.tab-content-item-title Проводной комплект “Proxyma-2”
					.tab-content-item-info
						.wrap-img
							img(src="img/main_services_equipment_1.png" alt="Проводной комплект «Стриж»")
						.wrap-text
							.text-group.text-group-1
								p.small-text Цена базового проводного комплекта с установкой и подключением на ПЦН «Радуга» базового проводного базового проводного
								span.item-price 5500 руб.
							.text-group.text-group-2
								p.small-text Абонентская плата руб./мес.
								span.item-price 360 руб.
							.wrap-btn.wrap-btn-acc
								button.btn Заказать комплект

				.tab-content-item(data-item-pos="item-5")
					h2.tab-content-item-title Проводной комплект “Ритм”
					.tab-content-item-info
						.wrap-img
							img(src="img/tab_item.png" alt="Проводной комплект «Стриж»")
						.wrap-text
							.text-group.text-group-1
								p.small-text Цена базового проводного комплекта с установкой и подключением на ПЦН «Радуга» базового проводного
								span.item-price 10 000 руб.
							.text-group.text-group-2
								p.small-text Абонентская плата руб./мес.
								span.item-price 790 руб.
							.wrap-btn.wrap-btn-acc
								button.btn Заказать комплект				
