@import "../common/vars";

.sec-our-visual-works {

	.wrap-our-works{
		margin: 0 -8px;

		&-content{

			.item{
				padding: 0 8px;
				margin-bottom: 16px;
				width: calc(100% / 3);
			}

			.wrap-img {
				min-height: auto;
				width: 100%;
				padding: 0;
				margin: 0;

				.work-info{
					width: 100%;
					height: 100%;
					text-align: center;
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					justify-content: center;	
					-ms-align-items: center;
					align-items: center;
					-webkit-flex-direction: column;
					-moz-flex-direction: column;
					-ms-flex-direction: column;
					-o-flex-direction: column;
					flex-direction: column;
					padding: 34px;

					.text{
						font-size: 20px;
						line-height: 26px;
						margin-bottom: 35px;
					}

					.wrap-btn{
						margin: 0 auto;
					}
				}
			}

		}

		.wrap-btn-large-yellow{
			margin-top: 15px;
			padding: 0 8px;
		}
	}
}


@media (max-width: 1399px) {

}


@media (max-width: 1199px) {
	.sec-our-visual-works .wrap-our-works-content .wrap-img .work-info .text{
		font-size: 16px;
		line-height: 23px;
	}
}


@media (max-width: 991px) {
	.sec-our-visual-works .wrap-our-works-content .wrap-img{
		&:last-child{
			display: block;
		}
	}

	.sec-our-visual-works .wrap-our-works-content{
		.item{
			width: 50%;
		}
	}
	
	.sec-our-visual-works .wrap-our-works .wrap-btn-large-yellow{
		margin-top: 5px;
	}

	.sec-price-visual-content .wrap-title{
		margin-bottom: 15px !important;
	}

	.sec-price-visual-content p{
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 13px;

		br{
			display: none;
		}
	}
	
}


@media (max-width: 767px) {
	.sec-our-visual-works .wrap-our-works-content .wrap-img .work-info .text{
		font-size: 14px;
		line-height: 22px;
	}
}


@media (max-width: 575px) {
	.sec-our-visual-works {

		.wrap-our-works{
			margin: 0;

			&-content{

				.item{
					padding: 0;
					width: 100%;
					max-width: 380px;
					margin: 0 auto 20px;
				}

			}

			.wrap-btn-large-yellow{
				padding: 0;
			}
		}

	}
}




