@import "../../less/common/vars";

.wrap-catalog{

	.wrap-aside{
		width: 25%;
		margin-bottom: 25px;

		.btn-close{
			left: -48px;
			position: absolute;
			top: 0;
			width: 48px;
			height: 48px;
			background: url("../img/icon-mobile-menu.svg") no-repeat center @blue;
			-webkit-background-size: 13px;
			background-size: 13px;
			transition: .4s all ease;
		}

		aside{
			border: 1px solid #EAEAEA;
			background-color: #fff;
			position: relative;

			.aside-title{
				padding: 17px 20px 19px;
				display: block;
				font-size: 15px;
				line-height: 18px;
				color: @textGrayLight;
				border-bottom: 1px solid #EAEAEA;
			}

			.filter-param{
				border-bottom: 1px solid #EAEAEA;

				.head{
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					-ms-align-items: center;
					align-items: center;
					justify-content: space-between;
					padding: 16px 20px;
					transition: .4s all ease;
					position: relative;

					.title{
						font-size: 15px;
						line-height: 18px;
						transition: .4s all ease;
					}

					.btn-control{
						display: -webkit-flex;
						display: -moz-flex;
						display: -ms-flex;
						display: -o-flex;
						display: flex;
						-ms-align-items: center;
						align-items: center;
						justify-content: center;
						transition: .4s all ease;
						cursor: pointer;
						width: 50px;
						height: 100%;
						position: absolute;
						top: 50%;
						right: 0;
						-webkit-transform: translate(0, -50%);
						-moz-transform: translate(0, -50%);
						-ms-transform: translate(0, -50%);
						-o-transform: translate(0, -50%);
						transform: translate(0, -50%);
						

						svg{
							width: 7px;
							height: auto;
							-webkit-transform: rotate(90deg);
							-moz-transform: rotate(90deg);
							-ms-transform: rotate(90deg);
							-o-transform: rotate(90deg);
							transform: rotate(90deg);
							margin-bottom: -3px;
							transition: .3s all ease;

							path{
								fill: @textGrayLight;
								-webkit-transition: .3s all ease;
								-moz-transition: .3s all ease;
								-ms-transition: .3s all ease;
								-o-transition: .3s all ease;
								transition: .3s all ease;
							}
						}
					}

					&:hover{
						background-color: #FBFBFB;

						.title{
							color: @pink;
						}

						.btn-control{
							svg{
								path{
									fill: @pink;
								}
							}
						}
					}
				}

				.has-label{
					.title{
						display: -webkit-flex;
						display: -moz-flex;
						display: -ms-flex;
						display: -o-flex;
						display: flex;
						-ms-align-items: center;
						align-items: center;
						position: relative;
					}

					.wrap-label{
						margin-left: 10px;
						margin-bottom: -2px;
						position: relative;

						.icon{
							width: 19px;
							height: 19px;
							cursor: pointer;
							border-radius: 50%;
							border: 1px solid #DBDBDB;
							color: @textGrayLight;
							font-size: 12px;
							cursor: pointer;
							-webkit-transition: .4s all ease;
							-moz-transition: .4s all ease;
							-ms-transition: .4s all ease;
							-o-transition: .4s all ease;
							transition: .4s all ease;
							display: -webkit-flex;
							display: -moz-flex;
							display: -ms-flex;
							display: -o-flex;
							display: flex;
							-ms-align-items: center;
							align-items: center;
							justify-content: center;
						}

						.label-active{
							color: @pink;
							border-color: @pink;

							& ~ .label-text{
								visibility: visible;
								opacity: 1;
							}
						}

						.label-text{
							position: absolute;
							bottom: calc(100% + 16px);
							color: #fff;
							left: -30px;
							border-radius: 8px;
							padding: 15px;
							background-color: rgba(0,0,0,.8);
							white-space: nowrap;
							font-size: 13px;
							visibility: hidden;
							opacity: 0;
							z-index: 2;
							-webkit-transition: .4s all ease;
							-moz-transition: .4s all ease;
							-ms-transition: .4s all ease;
							-o-transition: .4s all ease;
							transition: .4s all ease;
							
							line-height: 18px;
							&::before{
								content: "";
								position: absolute;
								top: 100%;
								left: 30px;
								border: 10px solid transparent;
								border-top-color: rgba(0,0,0,.8);
							}
						}
						
					}
				}

				.param-visible{
					&:hover{
						background-color: #fff;
					}
					.btn-control{
						svg{
							-webkit-transform: rotate(-90deg);
							-moz-transform: rotate(-90deg);
							-ms-transform: rotate(-90deg);
							-o-transform: rotate(-90deg);
							transform: rotate(-90deg);
						}
					}
				}

				.wrap-fields{
					padding: 0 20px 17px;
					display: none;

					li{
						margin-bottom: 11px;
					}

					ul{
						ul{
							display: none;
						}

						a{
							color: @textDark;
						}

						.btn-list{
							display: none;
							cursor: pointer;
							-webkit-transition: .3s all ease;
							-moz-transition: .3s all ease;
							-ms-transition: .3s all ease;
							-o-transition: .3s all ease;
							transition: .3s all ease;
							-ms-align-items: center;
							align-items: center;
							
							span{
								border-bottom: 2px dotted @textGrayLight;
								color: @textGrayLight;
								transition: .3s all ease;
							}

							svg{
								margin-top: 3px;
								margin-left: 10px;
								-webkit-transform: rotate(90deg);
								-moz-transform: rotate(90deg);
								-ms-transform: rotate(90deg);
								-o-transform: rotate(90deg);
								transform: rotate(90deg);
								
								path{
									transition: .3s all ease;
									fill: @textGrayLight;
								}
							}

							&:hover{
								span{
									color: @pink;
									border-color: @pink;
								}
								svg{
									path{
										fill: @pink;
									}
								}
							}
						}

						.btn-hide{
							svg{
								-webkit-transform: rotate(-90deg);
								-moz-transform: rotate(-90deg);
								-ms-transform: rotate(-90deg);
								-o-transform: rotate(-90deg);
								transform: rotate(-90deg);
							}
						}

						.btn-active{
							display: -webkit-inline-flex;
							display: -moz-inline-flex;
							display: -ms-inline-flex;
							display: -o-inline-flex;
							display: inline-flex;
						}
					}
				}

				.list-color{
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					margin-left: -10px;
					flex-wrap: wrap;
					margin-right: -5px;
					margin-left: -5px;
					width: 90%;
					padding-top: 5px;

					li{
						padding: 0 6px;
						margin-bottom: 13px;
					}

					.color-box{
						position: relative;
						cursor: pointer;
						width: 24px;
						height: 24px;
						border-radius: 50%;
						display: block;
						transition: .3s all ease;

						&::after, &::before{
							opacity: 0;
							transition: .3s all ease;
							content: "";
							position: absolute;
							top: 50%;
							left: 50%;
							-webkit-transform: translate(-50%, -50%);
							-moz-transform: translate(-50%, -50%);
							-ms-transform: translate(-50%, -50%);
							-o-transform: translate(-50%, -50%);
							transform: translate(-50%, -50%);
						}

						&::after{
							border-radius: inherit;
							width: 18px;
							height: 18px;
							background: url("../img/color-none.svg") no-repeat center;
							-webkit-background-size: contain;
							background-size: contain;
						}

						&::before{
							border-radius: inherit;
							width: 31px;
							height: 31px;
							border: 1px solid #F83453;
							transition: .3s all ease;
						}

						&:hover{
							box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);

							.label-text{
								z-index: 2;
								opacity: 1;

								&:hover{
									z-index: -1;
									opacity: 0;
								}
							}
							
						}
					}

					.label-text{
						position: absolute;
						bottom: calc(100% + 12px);
						left: 50%;
						-webkit-transform: translate(-50%, 0);
						-moz-transform: translate(-50%, 0);
						-ms-transform: translate(-50%, 0);
						-o-transform: translate(-50%, 0);
						transform: translate(-50%, 0);
						color: #fff;
						font-size: 13px;
						line-height: 16px;
						padding: 7px 12px;
						background-color: rgba(0,0,0,.8);
						z-index: -1;
						opacity: 0;
						transition: .4s all ease;
						white-space: nowrap;
						
						&::before{
							content: "";
							position: absolute;
							top: 100%;
							left: 50%;
							-webkit-transform: translate(-50%, 0);
							-moz-transform: translate(-50%, 0);
							-ms-transform: translate(-50%, 0);
							-o-transform: translate(-50%, 0);
							transform: translate(-50%, 0);
							border: 8px solid transparent;
							border-top-color: rgba(0,0,0,.8);
						}
					}

					.box-white{
						border: 1px solid #C2C2C2;
					}

					.select-box {
						&::before{
							opacity: 1;
						}
					}

					.color-none{
						cursor: default;
						&::after{
							opacity: 1;
						}
					}
				}

				input{
					display: none;
				}

				.field{
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					width: 100%;
					cursor: pointer;

					&:last-child{
						margin-bottom: 0;
					}

					.field-text{
						padding-left: 8px;
						transition: .4s all ease;
					}
				}

				.field-check{
					.box{
						margin-top: 2px;
						min-width: 18px;
						height: 18px;
						border: 1px solid #DBDBDB;
						border-radius: 2px;
						transition: .4s all ease;
						position: relative;
						&::before{
							content: "";
							position: absolute;
							top: 50%;
							left: 50%;
							-webkit-transform: translate(-50%, -50%);
							-moz-transform: translate(-50%, -50%);
							-ms-transform: translate(-50%, -50%);
							-o-transform: translate(-50%, -50%);
							transform: translate(-50%, -50%);
							width: 13px;
							height: 10px;
							background: url("../img/icon-check.svg") no-repeat center;
							-webkit-background-size: contain;
							background-size: contain;
							opacity: 0;
							transition: .4s all ease;
						}
					}

					&:hover{
						.box{
							border-color: @pink;
						}

						.field-text{
							color: @pink;
						}
					}

					input:checked + .box {
						background-color: @pink;
						border-color: @pink;

						&::before{
							opacity: 1;
						}
					}
				}

				.field-radio{
					.box{
						margin-top: 2px;
						min-width: 18px;
						height: 18px;
						border: 1px solid #DBDBDB;
						border-radius: 50%;
						transition: .4s all ease;
						position: relative;

						&::before{
							content: "";
							position: absolute;
							top: 50%;
							left: 50%;
							border-radius: 50%;
							-webkit-transform: translate(-50%, -50%);
							-moz-transform: translate(-50%, -50%);
							-ms-transform: translate(-50%, -50%);
							-o-transform: translate(-50%, -50%);
							transform: translate(-50%, -50%);
							width: 10px;
							height: 10px;
							background-color: @pink;
							opacity: 0;
							transition: .4s all ease;
						}
					}

					input:checked + .box {
						border-color: @pink;

						&::before{
							opacity: 1;
						}
					}
				}

				.field-disabled{
					cursor: default;

					input[disabled="disabled"] {
						& ~ .box {
							background-color: @bgF2;
							border-color: @bgF2;								
						}

						& ~ .field-text{
							color: @textGrayLight;
						}
					}
				}

				.fields-price{
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					align-content: stretch;
					justify-content: space-between;
					margin-bottom: 22px;

					input{
						display: inline;
						border: none;
						outline: none;
						box-shadow: none;
					}

					.field{
						max-width: 44%;
						width: 100%;
						position: relative;
						display: -webkit-flex;
						display: -moz-flex;
						display: -ms-flex;
						display: -o-flex;
						display: flex;
						-ms-align-items: center;
						align-items: center;
						border: 1px solid #DBDBDB;
						border-radius: 3px;
						padding: 11px 7px;
						cursor: default;

						&:first-child{
							&::after{
								content: "";
								position: absolute;
								top: 50%;
								right: -10px;
								-webkit-transform: translate(100%, 0);
								-moz-transform: translate(100%, 0);
								-ms-transform: translate(100%, 0);
								-o-transform: translate(100%, 0);
								transform: translate(100%, 0);
								width: 11px;
								height: 1px;
								background-color: @textGrayLight;
							}
						}

						input{
							margin: 0 5px;
							color: @textDark;
							width: 50px;
						}

						span{
							font-size: 14px;
							line-height: 16px;
							margin-bottom: 1px;

							&:first-child{
								color: @textGrayLight;
							}

							&:last-child{
								
							}
						}
					}
				}

				.range{
					height: 4px;
					background-color: #CCCCCC;
					border-radius: 2px;
					border: none;
					width: calc(100% - 16px);
					position: relative;
					margin-left: auto;
					margin-right: auto;
					margin-bottom: 12px;
					
					&::before{
						content: "";
						position: absolute;
						top: 0;
						left: -8px;
						height: 100%;
						width: calc(100% + 16px);
						background-color: inherit;
						border-radius: inherit;
					}

					.ui-widget-header{
						height: 100%;
						background-color: @blue;
						cursor: pointer;
					}

					.ui-state-default{
						border-radius: 50%;
						background-color: #fff;
						border: 3px solid @blue;
						width: 18px;
						height: 18px;
						outline: none;
						top: 50%;
						cursor: pointer;
						-webkit-transform: translate(0, -50%);
						-moz-transform: translate(0, -50%);
						-ms-transform: translate(0, -50%);
						-o-transform: translate(0, -50%);
						transform: translate(0, -50%);
						
					}
				}
			}

			.filter-param-simple{
				.head{
					cursor: default;
					&:hover{
						background-color: #fff;
					}
				}
			}

			.wrap-btn-reset{
				padding: 22px 20px;
				text-align: center;
				
				.filter-reset{
					max-width: 100%;
				}
			}

		}
	}

}


@media (max-width: 1259px) {
	.wrap-catalog{

		.wrap-aside{
			aside{
				.aside-title{
					padding: 14px 18px 16px;
					font-size: 14px;
					line-height: 17px;
				}

				.filter-param{
					.head{
						padding: 15px;

						.title{
							font-size: 14px;
							line-height: 17px;
						}

						.btn-control{
							right: 0;
							width: 45px;
						}
					}

					.wrap-fields{
						padding: 0 15px 17px;
					}

					.list-color{
						width: 100%;

						li{
							margin-bottom: 12px;
						}

						.color-box{
							width: 22px;
							height: 22px;

							&:after{
								width: 16px;
								height: 16px;
							}

							&:before{
								width: 27px;
								height: 27px;
							}
						}
					}

					.field-check, .field-radio{
						.box{
							margin-top: 0;
						}
					}

					.field{
						&-text{
							font-size: 13px;
							line-height: 17px;
						}
					}

					.fields-price{
						.field{
							padding: 7px;

							&::first-child{
								right: -7px;
								width: 9px;
							}

							span{
								font-size: 13px;
								line-height: 14px;
							}

							input{
								width: 43px;
							}
						}
					}
				}
			}
		}

	}
}


@media (max-width: 991px) {
	.wrap-catalog{
		.wrap-aside{
			position: fixed;
			top: 0;
			left: 0;
			padding: 0;
			visibility: hidden;
			width: 100%;
			height: 100%;
			transition: .4s all ease;
			z-index: 9;

			&::before{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0, .6);
				opacity: 0;
				transition: .2s all ease;
			}

			aside{
				width: 285px;
				position: relative;
				transform: translate(-100%, 0);
				transition: .4s all ease;
				border: none;
				max-height: 100%;
				height: 100%;
				overflow-y: auto;

				form{
					overflow: hidden;
				}

				.filter-param .has-label .wrap-label .label-text{
					width: 200px;
					font-size: 11px;
					line-height: 15px;
					padding: 9px;
					white-space: normal;

					br{
						display: none;
					}
				}

				.filter-param{
					.head{
						padding: 16px 20px;

						.wrap-fields{
							width: 50px;
						}
					}

					.field-text{
						font-size: 14px;
						line-height: 19px;
					}

					.wrap-fields{
						padding: 0 20px 17px;
					}
				}

				.filter-param .list-color .label-text {
					display: none;
				}
			}
		}

		.aside-active{
			visibility: visible;

			&::before{
				opacity: 1;
			}

			aside{
				transform: translate(0, 0);
			}

			.btn-close{
				left: 285px;
			}
		}
	}
}


@media (max-width: 767px) {

}


@media (max-width: 575px) {

}

@media (max-width: 335px) {
	.wrap-catalog .aside-active{
		.btn-close{
			left: calc(100% - 48px)
		}

		aside{
			width: calc(100% - 48px);
		}
	}
}
