@import "../../less/common/vars";

.wrap-catalog{

	.wrap-content{
		width: 75%;

		.top-line{
			margin-bottom: 25px;

			.row-product-category{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				-ms-align-items: stretch;
				align-items: stretch;
				flex-wrap: wrap;
				margin-bottom: 22px;
			}

			.category-item{
				max-width: calc(25% + 1px);
				width: 100%;
				min-height: 75px;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				-ms-align-items: center;
				align-items: center;
				padding: 8px 20px;
				border: 1px solid #EAEAEA;
				margin: 0 -1px -1px 0;

				&:hover{
					.name{
						color: @pink;
					}
				}

				.wrap-img{
					height: 100%;
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					-ms-align-items: center;
					align-items: center;
					max-width: 62px;
			    max-height: 62px;
			    min-width: 62px;

			    img{
				    max-width: 100%;
				    max-height: 100%;
				    height: auto;
				    width: auto;
				    display: block;
			    }
				}

				.name{
					color: @blue;
					font-size: 15px;
					line-height: 18px;
					margin-left: 15px;
					-webkit-transition: .2s all ease;
					-o-transition: .2s all ease;
					transition: .2s all ease;
					white-space: nowrap;
					white-space: nowrap;
					position: relative;
					overflow: hidden;
					width: 100%;

					&::before{
						content: "";
						position: absolute;
						top: 50%;
						right: 0;
						-webkit-transform: translate(0, -50%);
						-moz-transform: translate(0, -50%);
						-ms-transform: translate(0, -50%);
						-o-transform: translate(0, -50%);
						transform: translate(0, -50%);
						width: 38px;
						height: 100%;
						background: rgba(255,255,255,0);
						background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
						background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
						background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
						background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
						background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
						background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
					}

				}

			}

			.item-no-active{
				pointer-events: none;
				cursor: default;
			}
		}

		.wrap-btn-aside{
			display: none;
			-ms-align-items: center;
			align-items: center;
			justify-content: center;
			max-width: 130px;
			padding: 5px;
			border: 1px solid @blue;
			border-radius: 3px;
			margin-bottom: 15px;
			font-family: "RobMed";
			color: @blue;
			
			.icon{
				margin-right: 12px;
				width: 100%;
				max-width: 17px;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				-ms-align-items: center;
				align-items: center;

				img{
					width: 100%;
					height: auto;
				}
			}
		}

		.wrap-filter-select{
			display: none;
			width: 100%;
			max-width: 142px;

			.selectize-control{
				width: 100%;
			}

			.selectize-control.single .selectize-input, .selectize-control.single .selectize-input{
				border: 1px solid #E6E6E7;
				padding: 8px 25px 8px 11px;
				font-size: 12px;
				line-height: 14px;
				box-shadow: none;
				border-radius: 3px;
				height: 100%;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				-ms-align-items: center;
				align-items: center;

				input{
					font-size: inherit;
					line-height: inherit;
				}

				&:before{
					display: none;
				}
			}

			.selectize-control.single .selectize-input{
				&:after{
					border-top-color: @textDark;
					right: 11px;
					border-width: 4px 4px 0;
					margin-top: -1px;
				}
			}

			.selectize-control.single .selectize-input.dropdown-active{
				border-color: @blue;

				&:after{
					border-bottom-color: @textDark;
					border-width: 0 4px 4px;
				}
			}

			.selectize-dropdown{
				box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.18);
				border-radius: 3px;
				margin-top: 2px;
				overflow: auto;
				border: none;
				padding: 15px 11px 15px;

				&-content{
					max-height: none;

					.option{
						cursor: pointer;
						padding: 0 0 3px 0;
						font-size: 12px;
						line-height: 18px;
						transition: .3s all ease;
						padding-right: 20px;

						&:last-child{
							padding: 0;
						}

						&:hover{
							color: @pink;
						}
					}

					.active{
						background-color: transparent;
						color: @textDark;
					}
				}
			}
		}

		.row-filter{
			background-color: @bgF7;
			margin-bottom: 15px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-between;
			-ms-align-items: center;
			align-items: center;
			padding: 20px;

			.wrap-filter-btns{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				-ms-align-items: center;
				align-items: center;

				.filter-btn{
					color: @textGrayLight;
					transition: .4s all ease;
					margin-right: 35px;
				}

				.cur-btn{
					color: @textDark;
					position: relative;
					&::after{
						content: "";
						position: absolute;
						top: 63%;
						right: -18px;
						-webkit-transform: rotate(90deg) translate(-50%, 0);
						-moz-transform: rotate(90deg) translate(-50%, 0);
						-ms-transform: rotate(90deg) translate(-50%, 0);
						-o-transform: rotate(90deg) translate(-50%, 0);
						transform: rotate(90deg) translate(-50%, 0);
						background: url("../img/arrow-dropdown-menu.svg") no-repeat center;
						-webkit-background-size: contain;
						background-size: contain;
						width: 12px;
						height: 10px;
					}
				}
			}

			.wrap-view-card{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				-ms-align-items: center;
				align-items: center;

				.view-item {
					max-width: 13px;
					width: 100%;
					margin-left: 12px;
					cursor: pointer;

					svg{
						width: 100%;
						height: auto;
						path{
							fill: @textGrayLight;
							transition: .4s all ease;
						}
					}
				}

				.cur-vied{
					svg{
						path{
							fill: @textDark;
						}
					}
				}
			}
		}

		.btn-load-more{
			margin: 25px 0;
		}

		.wrap-products-cards{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
			-ms-align-items: stretch;
			align-items: stretch;

			.wrap-card{
				width: 100%;
				transition: .4s all ease;
				border: 1px solid #D9DCDE;
				background-color: #fff;
				margin: 0 -1px -1px 0;

				&:hover{
					box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
					z-index: 2;

					.title{
						color: @blue;
					}
				}
			}
		}
	}

}


@media (max-width: 1259px) {
	.wrap-catalog{
		.wrap-content{
			.top-line{
				margin-bottom: 20px;

				.row-product-category{
					margin-bottom: 15px;
				}

				.category-item{
					min-height: 70px;
					padding: 8px 12px;

					.wrap-img{
						max-width: 50px;
						min-width: 50px;
						max-height: 50px;
					}

					.name{
						font-size: 13px;
						line-height: 16px;
						margin-left: 14px;
					}
				}
			}
		}
	}
}


@media (max-width: 991px) {
	.wrap-catalog{
		.wrap-content{
			width: 100%;

			.top-line{
				.category-item{
					max-width: calc(100% / 3 + 1px);
				}
			}

			.wrap-products-cards{
				.wrap-card:hover{
					.title{
						color: @textDark;
					}
				}
			}

			.wrap-btn-aside{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
			}

			.row-filter{
				padding: 11px 20px;
				max-width: calc(100% - 145px);
				margin-left: 15px;

				.wrap-filter-btns{
					.filter-btn{
						font-size: 13px;
						margin-right: 28px;
					}

					.cur-btn{
						&:after{
							content: "";
							top: 56%;
							right: -15px;
							width: 9px;
							height: 9px;
						}
					}
				}
			}

			.products-posts{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;

				> div {
					width: 100%;
				}
			}
		}
	}
}


@media (max-width: 767px) {
	.wrap-catalog{
		.wrap-content{

			.top-line{
				.category-item{
					max-width: 50%;

					.name{
						white-space: normal;

						&::before{
							display: none;
						}

						br{
							display: none;
						}
					}
				}

				.item-no-active{
					display: none;
				}
			}

			.wrap-filter-select{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
			}

			.wrap-btn-aside{
				max-width: 50px;

				.icon{
					margin: 0;
				}

				.text{
					display: none;
				}
			}

			.row-filter{
				padding: 6px 10px;
				margin-left: 10px;
				max-width: calc(100% - 60px);

				.wrap-filter-btns{
					display: none;
				}

				.wrap-view-card{
					.view-item{
						margin-left: 9px;
						max-width: 12px;
					}
				}
			}

			
		}
	}
		
}


@media (max-width: 575px) {
	.wrap-catalog{
		.wrap-content{
			.top-line{
				margin-bottom: 0;

				.row-product-category{
					margin-bottom: 25px;
				}

				.wrap-subtext{
					margin-bottom: 25px;
				}

				.category-item{
					max-width: 100%;

					.wrap-img{
						max-width: 50px;
						min-width: 50px;
						max-height: 50px;
					}

					.name{
						font-size: 13px;
						line-height: 16px;
						margin-left: 14px;
					}
				}
			}
		}
	}
}




