@import "../../../less/common/vars";

.product-card-row-second{
	margin-bottom: 45px;
}

@media (max-width: 575px) {
	.product-card-row-second{
		margin: 0 -15px;

		.mini-bar{
			max-width: calc(100% - 30px);
			margin-left: auto;
			margin-right: auto;
			padding-left: 0;
			padding-right: 0;			
		}
	}
}


