@import "../common/vars";

.prices-commercial.sec-page{
	padding-top: 0;

	.wrap-table-accent-2{
		margin-top: 40px;
	}

}


@media (max-width: 992px) {
	.wrap-table-accent .table-title{
		display: none;
	}
}



@media (max-width: 768px) {
	.prices-commercial{
		.container{
			padding: 0;
		}
	}
}


@media (max-width: 576px) {
	.prices-commercial{
		padding-bottom: 0;
	}
}


