section.sec-visual-slider
	.container
		.sec-visual-slider-content

			.wrap-breadcrumbs
				a.other-page(href="index.html") Главная
				span.delimiter /
				a.other-page(href="") Портфолио
				span.delimiter /
				a.other-page(href="") Виртуальные туры
				span.delimiter /
				span.cur-page Виртуальный тур по ресторану «Радивиловский»

			.wrap-text
				span.title Виртуальный тур по ресторану «Радивиловский»

			.wrap-visual-slider
				.slider

				.wrap-link-nav
					.wrap-prev.link-nav
						a(href="#").link-nav-prev
							span Предыдущий <br>проект
							.wrap-arrow
								<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M11.0688 31.515C11.8038 32.25 12.9888 32.25 13.7238 31.515L26.1888 19.05C26.7738 18.465 26.7738 17.52 26.1888 16.935L13.7238 4.47001C12.9888 3.73501 11.8038 3.73501 11.0688 4.47001C10.3338 5.20501 10.3338 6.39001 11.0688 7.12501L21.9288 18L11.0538 28.875C10.3338 29.595 10.3338 30.795 11.0688 31.515Z" fill="#0F63E1"/>
								</svg>

					.wrap-next.link-nav
						a(href="#").link-nav-next
							span Следующий <br>проект
							.wrap-arrow
								<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M11.0688 31.515C11.8038 32.25 12.9888 32.25 13.7238 31.515L26.1888 19.05C26.7738 18.465 26.7738 17.52 26.1888 16.935L13.7238 4.47001C12.9888 3.73501 11.8038 3.73501 11.0688 4.47001C10.3338 5.20501 10.3338 6.39001 11.0688 7.12501L21.9288 18L11.0538 28.875C10.3338 29.595 10.3338 30.795 11.0688 31.515Z" fill="#0F63E1"/>
								</svg>
