@mixin trs( $time: .3, $duration: ease, $property: all, $delay: 0 )
	@if ( $duration == eio ) 
		transition: $time + s $property ease-in-out $delay + s
	@else
		transition: $time + s $property $duration $delay + s

@mixin bg( $path )
	background: url('#{$path}') no-repeat center 
	background-size: cover

@mixin decor()
	content: ""
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%