@import "../common/vars";

.direct{
	&-content{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: space-between;
	}

	.content-left{
		min-width: 530px;
		max-width: 530px;
		height: 340px;
		margin-right: 40px;
		background: #FFFFFF;
		box-shadow: 0px 0px 30px rgba(31, 47, 87, 0.1);
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
		.wrap-img{
			width: 170px;
		}
	}

	.content-right{
		.wrap-title{
			text-align: left;
			-ms-align-self: center;
			align-self: center;
			width: 70%;
			margin-bottom: 23px;
			.title{
				white-space: pre-line;
				padding-bottom: 28px;
				position: relative;
				&:after{
					content: "";
					position: absolute;
					bottom: 0px;
					left: 0;
					width: 32px;
					height: 3px;
					background-color: @yellow;
				}
			}
		}

		.subtext{
			width: 70%;
			line-height: 26px;
			font-size: 20px;
			font-weight: 600;
			margin-bottom: 10px;
		}

		.wrap-list{
			ul{
				li{
					margin-bottom: 5px;
				}
			}
		}
	}

}


@media (max-width: 1400px) {
	.direct .content-right{
		.subtext, .wrap-title{
			width: 100%;
		}
	}
}


@media (max-width: 1200px) {
	.direct .content-left{
		max-width: 450px;
		min-width: 450px;
	}
}


@media (max-width: 992px) {
	.direct{

		&-content{
			-webkit-flex-wrap: wrap;
			-moz-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			-o-flex-wrap: wrap;
			flex-wrap: wrap;
		}

		.content-right{
			order: 1;
		}

		.content-left{
			order: 2;
			margin-left: auto;
			margin-right: auto;
			margin-top: 30px;

		}
	}

	.direct .content-right .wrap-title{
		padding: 0;
	}

	.direct .content-right .wrap-title{
		.title{
			padding-bottom: 15px;
		}
	}
}


@media (max-width: 768px) {

}


@media (max-width: 576px) {
	.direct .content-left{
		min-width: auto;
		width: 100%;
		height: auto;
		position: relative;
		&::after{
			content: "";
			padding-top: 70%;
			width: 100%;
		}
	}

	.direct .content-right .wrap-title{
		margin-bottom: 21px;
	}

	.direct .content-right .subtext{
		font-size: 17px;
		line-height: 22px;
	}

	.direct .content-left .wrap-img{
		width: 40%;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}





