@import "../common/vars";

.text-under-direct{
	background-color: @bgGray;
	
	.wrap-title{
		text-align: left;
		width: 50%;
		margin-bottom: 15px;
	}

	.wrap-text{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: stretch;
		align-items: stretch;
		justify-content: space-between;
		margin: 0 -10px;

		> div{
			padding: 0 10px;
			flex: 1;
		}

		p{
			margin-bottom: 10px;
			&:last-child{
				margin-bottom: 0;
			}
		}

		span{
			font-weight: 600;
			line-height: 23px;
			display: block;
			margin-bottom: 12px;
		}

		span:first-child{
			font-size: 20px;
		}

		span:not(&:first-child){
			font-size: 16px;
		}

			
		ul{
			padding-right: 5px;
			li{
				margin-bottom: 8px;
				font-size: 16px;
			}
		}
	}
}

@media (max-width: 1400px) {
	.text-under-direct .wrap-title{
		width: 70%;
	}
}


@media (max-width: 1200px) {

}


@media (max-width: 992px) {
	.text-under-direct{
		.wrap-text{
			display: block;
			margin: 0;

			> div {
				padding: 0;
				margin-bottom: 30px;

				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
}


@media (max-width: 768px) {

}


@media (max-width: 576px) {
	.text-under-direct .wrap-title{
		width: 100%;
		padding: 0;
	}
}




