//Header BEGIN
header.header

	.header__top
		.wrapper
			.header__top-inner.header__inner

				a(href="/" target="_blank" rel="noreferrer").header__wrap-logo
					img.header__logo-img(src="img/logo.svg", alt="")

				.header__top-item.header__top-item_phones
					span.header__top-item-wrap-icon
						span.header__top-item-icon.replace-svg(data-src="img/icon-mobile.svg")
					a.header__top-item-text(href="tel:+375000000000") +375 (33) <span>333-00-08</span>
					a.header__top-item-text(href="tel:+375000000000") +375 (44) <span>575-50-00</span>

				.header__top-item.header__top-item_mail
					span.header__top-item-wrap-icon
						span.header__top-item-icon.replace-svg(data-src="img/icon-mail.svg")
					a.header__top-item-text(href="mailto:cuttingby@gmail.com") cuttingby@gmail.com

				button.header__top-item.header__top-item_callback.btn-popup(data-popup-key="popup-feedback")
					span.header__top-item-wrap-icon
						span.header__top-item-icon.replace-svg(data-src="img/icon-phone.svg")
					p.header__top-item-text <em>Заказать</em> <em>звонок</em>

				button.header__btn(aria-label="Кнопка выподающего мобильного меню")
					span.header__btn-line
					span.header__btn-line
					span.header__btn-line


	.header__bottom
		.wrapper
			.header__bottom-inner.header__inner
				nav.header__nav
					ul.header__nav-list

						li.header__nav-item.header__nav-item_current
							a.header__nav-link(href="#") Главная

						li.header__nav-item
							a.header__nav-link(href="#") Услуги

						li.header__nav-item
							a.header__nav-link(href="services.html") Дополнительные  услуги

						li.header__nav-item
							a.header__nav-link(href="#") Как подготовить макет

						li.header__nav-item
							a.header__nav-link(href="#") Материалы

						li.header__nav-item
							a.header__nav-link(href="#") Оплата и доставка

						li.header__nav-item
							a.header__nav-link(href="#") Новости

						li.header__nav-item
							a.header__nav-link(href="#") Контакты
//Header END
