.posts-news-items
	.container

		.wrap-tabs-content.wrap-news-tabs-content

			.tab-content.row.justify-content-center.align-items-stretch.cur-tab-content(data-tab-key="all-news")
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
				
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-2.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Что вы знаете о бреде Under Armour? Обзор новинок

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-3.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold 10 советов, как выбрать идеальные кроссовки для трекинга

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее

				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
				
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-2.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Что вы знаете о бреде Under Armour? Обзор новинок

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.wrap-news-item-banner.col-10.col-12.col-md-8.col-lg-6
					.news-item-banner
						span.hashtag.text-fw-bold.text-small #всегда с вами на связи
						span.shop-name.text-fw-black Sport Outlet
						span.subscribe-title.text-fw-bold Подписывайтесь на нас в соцсетях

						.wrap-social-squares
							a(href="#").social-square
								img(src="img/icon-fb-white.svg", alt="")
							a(href="#").social-square
								img(src="img/icon-vk-white.svg", alt="")
							a(href="#").social-square
								img(src="img/icon-inst-white.svg", alt="")

				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
				
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-2.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Что вы знаете о бреде Under Armour? Обзор новинок

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-3.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold 10 советов, как выбрать идеальные кроссовки для трекинга

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее

				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
				
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-2.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Что вы знаете о бреде Under Armour? Обзор новинок

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-3.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold 10 советов, как выбрать идеальные кроссовки для трекинга

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее

				.col-12.order-99
					include ../../../modules/pagination/pagination

			.tab-content.row.align-items-stretch(data-tab-key="only-news")
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-3.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
				
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Что вы знаете о бреде Under Armour? Обзор новинок

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-2.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-2.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold 10 советов, как выбрать идеальные кроссовки для трекинга

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее

				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-3.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
				
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Что вы знаете о бреде Under Armour? Обзор новинок

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.wrap-news-item-banner.col-10.col-12.col-md-8.col-lg-6
					.news-item-banner
						span.hashtag.text-fw-bold.text-small #всегда с вами на связи
						span.shop-name.text-fw-black Sport Outlet
						span.subscribe-title.text-fw-bold Подписывайтесь на нас в соцсетях

						.wrap-social-squares
							a(href="#").social-square
								img(src="img/icon-fb-white.svg", alt="")
							a(href="#").social-square
								img(src="img/icon-vk-white.svg", alt="")
							a(href="#").social-square
								img(src="img/icon-inst-white.svg", alt="")

				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-3.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
				
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-2.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Что вы знаете о бреде Under Armour? Обзор новинок

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold 10 советов, как выбрать идеальные кроссовки для трекинга

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее

				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее

				.col-12.order-99
					include ../../../modules/pagination/pagination

			.tab-content.row.align-items-stretch(data-tab-key="new-collection-news")
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-3.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
				
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Что вы знаете о бреде Under Armour? Обзор новинок

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-2.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold 10 советов, как выбрать идеальные кроссовки для трекинга

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее

				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
				
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-2.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Что вы знаете о бреде Under Armour? Обзор новинок

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.wrap-news-item-banner.col-10.col-12.col-md-8.col-lg-6
					.news-item-banner
						span.hashtag.text-fw-bold.text-small #всегда с вами на связи
						span.shop-name.text-fw-black Sport Outlet
						span.subscribe-title.text-fw-bold Подписывайтесь на нас в соцсетях

						.wrap-social-squares
							a(href="#").social-square
								img(src="img/icon-fb-white.svg", alt="")
							a(href="#").social-square
								img(src="img/icon-vk-white.svg", alt="")
							a(href="#").social-square
								img(src="img/icon-inst-white.svg", alt="")

				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
				
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-2.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Что вы знаете о бреде Under Armour? Обзор новинок

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее

				.col-12.order-99
					include ../../../modules/pagination/pagination

			.tab-content.row.align-items-stretch(data-tab-key="blog-news")
				
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-2.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Что вы знаете о бреде Under Armour? Обзор новинок

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-3.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold 10 советов, как выбрать идеальные кроссовки для трекинга

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее

				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
				
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-2.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Что вы знаете о бреде Under Armour? Обзор новинок

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.wrap-news-item-banner.col-10.col-12.col-md-8.col-lg-6
					.news-item-banner
						span.hashtag.text-fw-bold.text-small #всегда с вами на связи
						span.shop-name.text-fw-black Sport Outlet
						span.subscribe-title.text-fw-bold Подписывайтесь на нас в соцсетях

						.wrap-social-squares
							a(href="#").social-square
								img(src="img/icon-fb-white.svg", alt="")
							a(href="#").social-square
								img(src="img/icon-vk-white.svg", alt="")
							a(href="#").social-square
								img(src="img/icon-inst-white.svg", alt="")

				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
				
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-2.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Что вы знаете о бреде Under Armour? Обзор новинок

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее

				include ../../../modules/pagination/pagination




