section.portfolio-banner
	.container
		.portfolio-banner-content

			.wrap-breadcrumbs 
				a.other-page(href="index.html") Главная
				span.delimiter /
				span.cur-page Портфолио

			.wrap-portfolio-items
				span.title Портфолио

				.wrap-items
					a.item(href="#")
						.wrap-img.img-resp
							img.lazyload(data-src="img/portfolio-item-1.jpg")
						.wrap-text
							span.title Разработка сайтов
							p Разработка сайтов и онлайн сервисов под ключ
					
					a.item(href="#")
						.wrap-img.img-resp
							img.lazyload(data-src="img/portfolio-item-3.jpg")
						.wrap-text
							span.title Виртуальные туры в две строки
							p Разработка сайтов и онлайн

					a.item(href="#")
						.wrap-img.img-resp
							img.lazyload(data-src="img/portfolio-item-2.jpg")
						.wrap-text
							span.title 3D-фото
							p Разработка сайтов и онлайн сервисов под ключ и некоторые другие возможности другие возможности другие возможности

					a.item(href="#")
						.wrap-img.img-resp
							img.lazyload(data-src="img/portfolio-item-4.jpg")
						.wrap-text
							span.title SEO оптимизация 
							p Разработка сайтов и онлайн сервисов под ключ

					a.item(href="#")
						.wrap-img.img-resp
							img.lazyload(data-src="img/portfolio-item-5.jpg")
						.wrap-text
							span.title Контекстная реклама
							p Разработка сайтов и онлайн сервисов под ключ
