.wrap-subscribe-banner
	.subscribe-banner
		padding: 45px 0
		background-repeat: no-repeat
		background-position: center
		background-size: cover

		&-content
			position: relative
			margin: 0
			padding: 40px 0
			&::after
				content: ""
				position: absolute
				top: 50%
				left: 50%
				width: calc(100% - 90px)
				height: 100%
				-webkit-transform: translate(-50%, -50%)
				-moz-transform: translate(-50%, -50%)
				-ms-transform: translate(-50%, -50%)
				-o-transform: translate(-50%, -50%)
				transform: translate(-50%, -50%)
				background-color: #fff

			> div
				position: relative
				z-index: 1

		.wrap-text
			> span
				display: block
			.subtitle
				font-size: 1.25rem
				line-height: 23px
				margin-bottom: 8px
			.title
				font-size: 3.875rem
				line-height: 64px
				text-transform: uppercase

		form
			display: flex
			align-items: flex-start
			flex-wrap: wrap
			.wrap-checkbox
				width: 100%
				margin-top: 20px
			.error-icon
				right: 15px
					
			.wrap-field
				width: calc(100% - 200px)
				margin-right: 20px
			.btn
				padding: 14px
				line-height: 15px


	.wrap-our-plus-items
		display: none
		padding: 30px 30px 10px
		margin-top: 40px
		.our-plus-item
			margin: 0 12px 18px
			white-space: nowrap
			span
				font-size: 12px
				line-height: 14px
			


.subscribe-banner-gray
	background-color: $bg-gray


+media-breakpoint-down(lg)
	.wrap-subscribe-banner
		.subscribe-banner
			.wrap-text

				.subtitle
					font-size: 1.15rem
					line-height: 22px

				.title
					font-size: 3.375rem
					line-height: 57px


+media-breakpoint-down(md)
	.wrap-subscribe-banner
		.subscribe-banner

			.wrap-text
				text-align: center
				.subtitle
					font-size: 1.25rem
					line-height: 23px
					margin-bottom: 8px
				.title
					font-size: 3.875rem
					line-height: 64px
					text-transform: uppercase

			form
				justify-content: center
				margin-top: 25px
				.wrap-field
					width: 60%
				.wrap-checkbox
					margin-top: 28px
					justify-content: center
					.text
						width: auto

		.wrap-our-plus-items
			display: flex


+media-breakpoint-down(sm)
	.wrap-subscribe-banner
		.subscribe-banner

			.wrap-text
				text-align: center
				.subtitle
					font-size: 1.25rem
					line-height: 23px
					margin-bottom: 8px
				.title
					font-size: 3.875rem
					line-height: 64px
					text-transform: uppercase

			form
				justify-content: center
				margin-top: 20px
				.wrap-field
					width: 83%
					padding: 0
					order: 1
					margin-right: 0
				.wrap-checkbox
					order: 2
					margin: 20px 0
	
				.btn
					order: 3



+media-breakpoint-down(xs)
	.wrap-subscribe-banner
		.container
			padding: 0

		.subscribe-banner
			margin-left: 15px
			margin-right: 15px
			padding: 20px 0

			.wrap-text
				text-align: left
				.subtitle
					font-size: 16px
					line-height: 24px
				.title
					font-size: 36px
					line-height: 40px


			&-content
				padding: 25px 0 60px
				&::after
					width: calc(100% - 40px)
				> div
					flex: auto
					max-width: 480px
					padding-left: 38px
					padding-right: 38px

			form
				.wrap-field
					width: 100%
					input
						padding: 14px 20px

				.wrap-checkbox
					justify-content: flex-start
					align-items: flex-start

					.text
						font-size: 14px
						line-height: 19px
						width: calc(100% - 45px)
					.box
						margin-top: -2px
				
				.btn
					max-width: none

		.wrap-our-plus-items
			margin-left: 15px
			margin-right: 15px


@media(max-width: 480px)
	.wrap-subscribe-banner

		.wrap-our-plus-items
			margin-top: 30px
			display: block
			padding: 30px

			.our-plus-item
				margin: 0 0 15px
				&:last-child
					margin: 0





