.delivery-payment__content-bottom.wrap-tabs
  h2.title-2 <em>Правила согласования</em> заказа
  p До момента оплаты вам на электронную почту или viber будет выслан макет с названиями материала, размером и количеством  заказанных деталей, способом обработки и ценой за изготовление данного вида услуг.
  br
  p Вам необходимо открыть макет и проверить его на размеры, материал, количество и способ обработки. Если вы согласуете  с нами неправильное задание, то вам придётся его оплатить. ВНИМАТЕЛЬНО проверяйте высланный вам макет!
  br
  p Без вашего подтверждения мы не приступаем к выполнению заказа. После вашего подтверждения и внесения предоплаты, оплаты заказ запускают в работу.


  h2.title-2 <em>Правила приёмки</em> товара
  p При получении товара, Вам будет выдан кассовый чек, либо выписана товарная накладная.
  br
  p В момент приёмки товара проверяйте:
  br
  p •	целостность
  p •	внешний вид
  p •	габариты
  p •	механические повреждения
  p •	количество заказанного вами товара
  p После приёмки товара претензии не принимаются.


  h2.title-2 Оплата
  .delivery-payment__tabs
    button.btn.delivery-payment__btn.tab.tab_active
      img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
      img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
      span.btn__text Наличный расчет

    button.btn.delivery-payment__btn.tab
      img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
      img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
      span.btn__text Безналичный расчет

  .delivery-payment__tabs-contents
    .tab-content.tab-content_active
      h2.title-2 В офисе:
      p Можете рассчитаться как наличными денежными средствами, так и пластиковыми картами. К оплате принимаются пластиковые карты любого типа. (п.Опытный, ул. Центральная 2а).
      br
      h2.title-2 При доставке товара курьером:
      p Вы можете рассчитаться наличными денежными средствами.
      br
      p При совершении покупки вам будет выдан товарный чек, следующего вида
      img(src="img/check.png" alt="")

    .tab-content
      h2 Second


  h2.title-2 Наши <em>реквизиты</em>
  p Индивидуальный предприниматель Поклад Алексей Сергеевич
  p Юридический адрес: 220020, г. Минск, ул. Леси Украинки, д. 20, кв. 81
  br
  p Почтовый адрес: 20020, г. Минск, ул. Леси Украинки, д. 20, кв. 81
  br
  p УНП 192969658
  br
  p Директор: Поклад Алексей Сергеевич



