//Order BEGIN
.order.sec(role="region")
	.sec__bg.lazy(data-bg="url(img/bg-order.png)")
	.sec__bg.sec__bg_mobile.lazy(data-bg="url(img/bg-request-mobile.png)")

	.order__wrap-titles.sec__wrap-titles
		span.sec__title.title-1 <em>Закажите</em> сейчас!

	.wrapper
		.order__inner
			.order__item
				p.order__item-text Переходите на страницу с ценами и дополнительными условиями<br> для размещения заказа на <em>лазерную резку</em>
				a(href="laser.html").btn.order__btn
					img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
					img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
					span.btn__text Перейти

			.order__item
				p.order__item-text Переходите на страницу с ценами и дополнительными условиями<br> для размещения заказа на <em>фрезеровку</em>
				a(href="laser-graving.html").btn.order__btn
					img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
					img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
					span.btn__text Перейти
//Order END
