.wrap-basket-product-list
	ul.element-shadow-static

		li.wrap-product-card.wrap-product-card-large
			.product-card.product-action
				.wrap-img.product-img.product-img-border
					img(src="img/main-img-card-4.jpg", alt="")
		
					span.btn-remove.text-small.text-fw-bold.d-block.d-sm-none Удалить

					.label.text-fw-bold.text-small -30%

					.wrap-icon-like.responsive-img
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
						<g>
							<path d="m121.6,40.1c-3.3-16.6-15.1-27.3-30.3-27.3-8.5,0-17.7,3.5-26.7,10.1-9.1-6.8-18.3-10.3-26.9-10.3-15.2,0-27.1,10.8-30.3,27.6-4.8,24.9 10.6,58 55.7,76 0.5,0.2 1,0.3 1.5,0.3 0.5,0 1-0.1 1.5-0.3 45-18.4 60.3-51.4 55.5-76.1zm-57,67.9c-39.6-16.4-53.3-45-49.2-66.3 2.4-12.7 11.2-21 22.3-21 7.5,0 15.9,3.6 24.3,10.5 1.5,1.2 3.6,1.2 5.1,0 8.4-6.7 16.7-10.2 24.2-10.2 11.1,0 19.8,8.1 22.3,20.7 4.1,21.1-9.5,49.6-49,66.3z"/>
						</g>
						</svg>

				.wrap-data
					span.brand.d-inline-block.text-gray.text-fw-bold.text-small #Reebok Classic Leather

					a(href="#").product-name.text-fw-bold Спортивная футболка Activchil Graphic Move

					.wrap-card-info
						span Материал:
							em кожа
						span Цвет:
							em синий
						span Артикул:
							em D93810

				.wrap-product-count
					span.text-last-count.text-medium.text-red Остался последний размер
							
				.wrap-price
					span.old-price.text-small.text-gray 278 руб.
					span.cur-price.text-fw-bold 250.20 руб.
					span.multi-price.text-small.text-gray 2 шт. x 111.10 руб.

				span.btn-remove.text-small.text-fw-bold.d-none.d-sm-block Удалить


		li.wrap-product-card.wrap-product-card-large
			.product-card
				.wrap-img.product-img.product-img-border
					img(src="img/main-img-card-3.jpg", alt="")
					
					span.btn-remove.text-small.text-fw-bold.d-block.d-sm-none Удалить

					.wrap-icon-like.liked.responsive-img
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
						<g>
							<path d="m121.6,40.1c-3.3-16.6-15.1-27.3-30.3-27.3-8.5,0-17.7,3.5-26.7,10.1-9.1-6.8-18.3-10.3-26.9-10.3-15.2,0-27.1,10.8-30.3,27.6-4.8,24.9 10.6,58 55.7,76 0.5,0.2 1,0.3 1.5,0.3 0.5,0 1-0.1 1.5-0.3 45-18.4 60.3-51.4 55.5-76.1zm-57,67.9c-39.6-16.4-53.3-45-49.2-66.3 2.4-12.7 11.2-21 22.3-21 7.5,0 15.9,3.6 24.3,10.5 1.5,1.2 3.6,1.2 5.1,0 8.4-6.7 16.7-10.2 24.2-10.2 11.1,0 19.8,8.1 22.3,20.7 4.1,21.1-9.5,49.6-49,66.3z"/>
						</g>
						</svg>
			
				.wrap-data
					span.brand.d-inline-block.text-gray.text-fw-bold.text-small #Reebok Classic Leather

					a(href="#").product-name.text-fw-bold Спортивная футболка Activchil Graphic Move

					.wrap-card-info
						span Материал:
							em кожа
						span Цвет:
							em синий
						span Артикул:
							em D93810

				.wrap-product-count
					.wrap-count-field
						.btn-counter.btn-counter-less
						input.field-cut-letters(type="text", value="1", maxlength="3")
						.btn-counter.btn-counter-plus
						
				.wrap-price
					span.cur-price.text-fw-bold 250.20 руб.

				span.btn-remove.text-small.text-fw-bold.d-none.d-sm-block Удалить


		li.wrap-product-card.wrap-product-card-large
			.product-card
				.wrap-img.product-img.product-img-border
					img(src="img/main-img-card-2.jpg", alt="")
		
					span.btn-remove.text-small.text-fw-bold.d-block.d-sm-none Удалить

					.wrap-icon-like.responsive-img
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
						<g>
							<path d="m121.6,40.1c-3.3-16.6-15.1-27.3-30.3-27.3-8.5,0-17.7,3.5-26.7,10.1-9.1-6.8-18.3-10.3-26.9-10.3-15.2,0-27.1,10.8-30.3,27.6-4.8,24.9 10.6,58 55.7,76 0.5,0.2 1,0.3 1.5,0.3 0.5,0 1-0.1 1.5-0.3 45-18.4 60.3-51.4 55.5-76.1zm-57,67.9c-39.6-16.4-53.3-45-49.2-66.3 2.4-12.7 11.2-21 22.3-21 7.5,0 15.9,3.6 24.3,10.5 1.5,1.2 3.6,1.2 5.1,0 8.4-6.7 16.7-10.2 24.2-10.2 11.1,0 19.8,8.1 22.3,20.7 4.1,21.1-9.5,49.6-49,66.3z"/>
						</g>
						</svg>
				
				.wrap-data
					span.brand.d-inline-block.text-gray.text-fw-bold.text-small #Reebok Classic Leather

					a(href="#").product-name.text-fw-bold Спортивная футболка Activchil Graphic Move

					.wrap-card-info
						span Материал:
							em кожа
						span Цвет:
							em синий
						span Артикул:
							em D93810

				.wrap-product-count
					.wrap-count-field
						.btn-counter.btn-counter-less
						input.field-cut-letters(type="text", value="1", maxlength="3")
						.btn-counter.btn-counter-plus
						
				.wrap-price
					span.old-price.text-small.text-gray 278 руб.
					span.cur-price.text-fw-bold 250.20 руб.

				span.btn-remove.text-small.text-fw-bold.d-none.d-sm-block Удалить


