ul.about-us__pagination
	li.about-us__pagination-item.about-us__pagination-item_active
		a(href="#", target="_blank").about-us__pagination-link Why Us
		img(src="img/icons/icon-arrow-right.svg" alt="" aria-hidden="true").replace-svg.about-us__pagination-item-icon

	li.about-us__pagination-item
		a(href="#", target="_blank").about-us__pagination-link Corporate Structure
		img(src="img/icons/icon-arrow-right.svg" alt="" aria-hidden="true").replace-svg.about-us__pagination-item-icon
