//Popup portfolio BEGIN
.popup.popup-portfolio(data-popup-key="popup-portfolio" role="dialog")
  .popup__inner
    .popup__content
      .popup__content-inner

        button.popup__close(aria-label="Close popup")

        .popup-portfolio__wrap-img
          img.popup-portfolio__img(src="" alt="")
//Popup portfolio END
