//Popup feedback BEGIN
.popup.popup-feedback(data-popup-key="popup-feedback" role="dialog")
	.popup__inner
		.popup__content
			.popup__content-inner

				button.popup__close(aria-label="Close popup")

				span.popup__title Заполните <em>форму</em>
				p.popup__subtitle Наш менеджер вам перезвонит

				include ../form-feedback/form-feedback
//Popup feedback END
