.header
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 93px
	background-color: #fff
	z-index: 2
	overflow: hidden
	transition: .4s transform ease

	+media(sm)
		height: 74px

	&.scroll
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)

	&.scroll-hide
		transform: translate(0, -105%)

	&.active
		height: 100%
		max-height: 100vh
		overflow-y: auto
		&:before
			opacity: 1
		.menu
			opacity: 1

	&:before
		content: ""
		position: absolute
		top: 0
		right: 0
		width: 50%
		height: 100%
		background: $blue-dark-gradient
		opacity: 0
		transition: .4s all ease
		+media(sm)
			display: none

	&__content
		display: flex
		align-items: center
		justify-content: space-between
		padding: 18px 30px
		position: relative
		+media(sm)
			padding: 18px 15px

	&__wrap-logo
		max-width: 135px
		+media(md)
			max-width: 90px

	&__logo-img

	&-menu-btn
		cursor: pointer

		&.active

		&_mobile
			display: none
			width: 40px
			height: 30px
			position: relative
			+media-min(lg)
				display: block
				position: absolute
				top: 50%
				right: 30px
				transform: translate(20px, -50%)
				opacity: 0
				transition: .1s all ease
				&.active
					transition: .6s all ease
					opacity: 1
					transform: translate(0px, -50%)
					.header-menu-btn__line
						background-color: #fff
			&.active
				.header-menu-btn__line
					width: 100%
					top: 50%
				.header-menu-btn__line_first
					transform: rotate(-45deg)
				.header-menu-btn__line_second
					transform: rotate(45deg)

			+media(lg)
				display: flex

			&:hover
				> span
					width: 100%

		&__line
			height: 4px
			background-color: #000
			border-radius: 3px
			transition: .4s all ease
			position: absolute
			right: 0

			&_first
				width: 100%
				top: calc(50% - 5px)
			&_second
				width: 75%
				top: calc(50% + 5px)

		&_desktop
			font-size: 1.5rem
			position: relative
			transition: .6s all ease
			+media(lg)
				display: none
			+media-min(lg)
				&.active
					transition: .1s all ease
					transform: translate(-40px, 0)
					opacity: 0
			&:before
				content: ''
				position: absolute
				top: 100%
				right: 0
				height: 2px
				width: 100%
				background-color: #000
				transition: .3s all $slow-to-fast
			&:hover
				&:before
					width: 0%




	

+media(xl)

+media(lg)

+media(md)

+media(sm)

