header.header
	.header__content
		
		a(href="/").responsive-image.header__wrap-logo
			img(src="img/logo-dark.svg", alt="").header__logo-img
		
		span.header-menu-btn.header-menu-btn_desktop.text-bold Menu

		span.header-menu-btn.header-menu-btn_mobile
			span.header-menu-btn__line.header-menu-btn__line_first
			span.header-menu-btn__line.header-menu-btn__line_second
	
	include ../menu/menu
