header.header
	.header__content
		
		a(href="/").responsive-image.header__wrap-logo
			img(src="img/logo-dark.svg", alt="").header__logo-img
		
		//- span.header__menu-btn.header__menu-btn_desktop
		//- 	span.header__menu-btn__text.text-bold(data-text="Menu") Menu

		span.header__menu-btn
			span.header__menu-btn-line.header__menu-btn-line_first
			span.header__menu-btn-line.header__menu-btn-line_second
	
	include ../menu/menu
