$default-font: "Roboto", sans-serif

//Colors START
$gray: #F3F3F3
$accent: #F22C2C
$dark-purple: #2D0F2D
$purple: #501E50
$light-purple: #9B51E0
$dark: #1C1C1C
$title: $dark
$subtitle: #403E3C
$text: #616466
$dark-text: #000
$gray-text: $gray
$subtext: #838A8C
$blue: #22BFF9
$dark-blue: #037DC2
$gray-line: #D1D1D1
$brown-text: #9F807E
//Colors END


$hover: $blue
$active: $dark-blue


//Sizes START
$gutters: 8px
//Sizes END

