.feedback
	.container

		span.feedback__title.title-h1.section-title Have the project?
		
		p Contact us at 
			a(href="mailto:info@sivenkov.org").link info@sivenkov.org
			|  or fill the 
			a(href="#" download).link brief