@import "../../less/common/vars";

.wrap-tabs{

	.wrap-tabs-btn{
		margin-bottom: 25px;
		display: -webkit-inline-flex;
		display: -moz-inline-flex;
		display: -ms-inline-flex;
		display: -o-inline-flex;
		display: inline-flex;
		border-bottom: 1px solid #EBEBEB;
		margin-top: -20px;
	}

	.tab{
		text-transform: uppercase;
		font-family: "RobMed";
		position: relative;
		margin: 0 20px;
		cursor: pointer;
		transition: .3s all ease;
		line-height: 45px;

		&::after{
			content: "";
			position: absolute;
			bottom: -1px;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: transparent;
			transition: .3s all ease;
		}

		&:first-child{
			margin-left: 0;
		}

		&:last-child{
			margin-right: 0;
		}
	}

	.cur-tab{
		color: @blue;
		&::after{
			background-color: @blue;
		}
	}

	.tab-content{
		display: none;

		img{
			width: 100%;
			height: auto;
			display: block;
			margin-bottom: 25px;
		}

		strong{
			display: block;
			margin-bottom: 10px;
			padding-top: 5px;
			font-size: 18px;
			line-height: 21px;
			font-family: "RobMed";
		}

		ul{
			li{
				position: relative;
				padding-left: 16px;
				margin-bottom: 5px;

				&:last-child{
					margin-bottom: 0;
				}
	
				&::before{
					content: "•";
					position: absolute;
					top: 3px;
					left: 0;
					color: @blue;
					font-size: 12px;
				}
			}
		}

		p{
			margin-bottom: 15px;
			line-height: 21px;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	.tab-content-cur{
		display: block;
	}

	.dropdown-title{
		display: none;
		color: @textGray;
		background-color: @bgF7;
		padding: 15px;
		font-family: "RobMed";
		transition: .3s all ease;
		border-top: 1px solid #EDEDED;
		text-transform: uppercase;
		margin-bottom: -1px;
		position: relative;
		-ms-align-items: center;
		align-items: center;
		overflow: hidden;

		&::after{
			content: "";
			bottom: 0;
			position: absolute;
			transition: .3s all ease;
			left: 0;
			height: 1px;
			width: 100%;
			background-color: #EDEDED;
		}

		&:last-child{
			margin-bottom: 0;
		}

		svg{
			-webkit-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			transform: rotate(90deg);
			margin-left: auto;
			transition: .3s all ease;

			path{
				fill: @gray;
				transition: .3s all ease;
			}
		}
	}

	.dropdown-title-active{
		color: @blue;
		background-color: transparent;

		&:after{
			left: 15px;
		}

		svg{
			-webkit-transform: rotate(-90deg);
			-moz-transform: rotate(-90deg);
			-ms-transform: rotate(-90deg);
			-o-transform: rotate(-90deg);
			transform: rotate(-90deg);

			path{
				fill: @blue;
			}	
		}
	}

}

@media (min-width: 1260px) {

}

@media (max-width: 1259px) {

}

@media (max-width: 991px) {
	.wrap-tabs{
		.wrap-tabs-btn{
			margin-bottom: 20px;
		}
	}
}

@media (max-width: 767px) {
	.wrap-tabs{
		.wrap-tabs-btn{
			display: none;
		}

		.tab-content{
			margin: 20px 0;

			strong{
				font-size: 16px;
				line-height: 21px;
			}

			&:last-child{
				margin-bottom: 0;
			}

			img{
				margin-bottom: 20px;
			}
		}

		.tab-content-cur{
			display: none;
		}
		
		.dropdown-title{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			background-color: #fff;

			&-active{
				&:after{
					left: 0;
				}
			}
		}
		
	}
}

@media (max-width: 575px) {
	.wrap-tabs{

		.dropdown-title{
			font-size: 12px;
			line-height: 16px;
		}
		
	}
}

