section.first-sec-page
	.wrap-sec-img(style="background-image: url('img/img_first_page_4.jpg')")
	.container
		.sec-content
			.wrap-breadcrumbs
				span.page-item.cur-page 
					a(href="#") Главная
				span.delimiter /
				span.page-item Тревожная сигнализация
			h1.title Тревожная сигнализация
			h5.subtitle Компания «СпецМонтаж» предлагает обезопасить свое жилище с помощью охранной сигнализации. 
			.bottom-line
				span.small-text Абонентская плата
				span.price от 1 099 руб.

