section.sec-list-2.sec
	.container
		.sec-list-2-content
			.wrap-info
				h2.info-title Предотвращение незаконных действий
				p.subtext Безопасность жилища имеет большое значение для собственника. Учитывая риск незаконного проникновения, кражи и грабежа, целесообразным будет решение поставить квартиру на охрану.
				.wrap-list.wrap-list-arrow
					p Это открывает собственникам такие возможности, как:
					ul
						li защита от несанкционированного проникновения;
						li контроль над утечками газа и воды;
						li предотвращение незаконных действий в отношении имущества даже в случае проникновения третьих лиц.
			.wrap-img
				.img
					img(src="img/main_services_equipment_1.png" alt="")






