.our-program
	.wrap-arrows-angles > *
		top: 30%

	.wrap-item
		max-width: calc(100% / 3)
		padding-bottom: 2 * $gutters

		.item
			min-height: inherit
			height: 100%
			cursor: pointer
			padding: 33px 37px 37px
			display: flex
			flex-direction: column
			overflow: hidden
			
			&, & > *
				transition: .4s all ease

			.text, .price
				color: #fff

			.text
				margin: 16px 0
			
			.bottom-line
				display: flex
				align-items: center
				justify-content: space-between
				margin-top: 20px

				> *
					font-family: Ubuntu

				.view-all
					z-index: 1

		&-large
			.item
				background-color: $purple

				&-hover
					position: absolute
					top: 0
					left: 0
					width: 100%
					height: 100%
					background-color: rgba(0,0,0,.85)
					padding: 40px
					transform: translate(0, 101%)
					transition: .4s all ease
					.text, .bottom-line
						display: block

				&:hover
					.item-hover
						transform: translate(0)

			.text
				color: #fff
				font-size: 1.2rem
				line-height: 1.7rem
				font-weight: 300

			.text, .bottom-line
				display: none


			.wrap-img
				position: relative
				overflow: hidden
				margin: -33px -37px 35px

			.title
				margin-bottom: 20px

			.price
				margin-top: auto

			.bottom-line > *
				&:hover
					color: $hover

		&-simple
			min-height: 370px
			.item
				padding-top: 60px
				padding-bottom: 35px
				justify-content: space-between
				background-color: $light-purple
				&:hover
					background-color: $dark-purple
					.title, .bottom-line > *
						color: $accent
				.bottom-line > *
					&:hover
						color: $hover
			.title
				margin-bottom: 23px
			.price
				margin-top: auto

	.wrap-btn-calculate
		margin-top: 32px


+media(xl)
	.our-program
		.wrap-arrows-angles > *
			top: 150px

		.wrap-item
			.item
				.text
					margin: 14px 0
				
				.bottom-line
					margin-top: 5px

			&-large
				.item
					padding: 28px 33px 33px

					&-hover
						padding: 30px

					.text
						font-size: 1.1rem
						line-height: 1.5rem

				.wrap-img
					margin: -28px -33px 25px		



+media(lg)
	.our-program
		.wrap-arrows-angles > *
			top: 110px


		.wrap-item

			&-large

				.item
					padding: 20px 20px 25px

					&-hover
						display: none

					.text
						font-size: .8rem
						line-height: 1.24rem
						font-weight: 400

					.title
						margin-bottom: 0

					.text, .bottom-line
						&:not(.item-hover)
							display: flex

				.wrap-img
					margin: -20px -20px 20px

			&-simple
				min-height: 280px

				.item
					padding: 45px 20px 28px

				.price
					font-size: 1.2rem

				.bottom-line
					> *
						font-size: .9rem



+media(md)
	.our-program
		.wrap-item
			max-width: 50%
			&-large
				.item
					.text
						font-size: 1rem
						line-height: 1.5rem


+media(sm)
	.our-program
		.wrap-slider
			max-width: 380px
			margin-left: auto
			margin-right: auto

		.wrap-item
			max-width: 100%

			&-large
				.item
					.text
						font-size: .8rem
						line-height: 1.2rem

			&-simple
				.item
					padding-top: 35px

				.title
					margin-bottom: 8px

		.wrap-arrows-angles
			> *
				top: 170px
	
@media (max-width: 440px)
	.our-program
		.wrap-arrows-angles
			> *
				top: 36vw