section.our-program.section.bg-elements(style="background-image: url('img/bg-elements-1.svg')")
	.container

		.page-titles
			span.h2.title.title-decor Наши уникальные программы для<br> развлечения всей команды

		.wrap-items
			.wrap-slider.wrap-slider-top
				
				.slider.swiper-container
					.swiper-wrapper
						.wrap-item.wrap-item-large.swiper-slide
							.item.radius-4
								.wrap-img.resp-img
									img(src="img/game-7.png", alt="")
								span.h4.title.color-red Для любителей активных игр
								p.text При создании генератора мы использовали небезизвестный универсальный код речей.
								span.h4.price от 1000 руб на чел.
								.bottom-line
									a(href="#").btn-text.color-red.link-more Подробнее

						.wrap-item.wrap-item-large.swiper-slide
							.item.radius-4
								.wrap-img.resp-img
									img(src="img/game-8.png", alt="")
								span.h4.title.color-red Для любителей
								p.text При создании генератора мы использовали небезизвестный универсальный код речей.
								span.h4.price от 1000 руб на чел.
								.bottom-line
									a(href="#").btn-text.color-red.link-more Подробнее

						.wrap-item.wrap-item-large.swiper-slide
							.item.radius-4
								.wrap-img.resp-img
									img(src="img/game-9.png", alt="")
								span.h4.title.color-red Мероприятия на свежем воздухе
								p.text При создании генератора мы использовали небезизвестный.
								span.h4.price от 1000 руб на чел.
								.bottom-line
									a(href="#").btn-text.color-red.link-more Подробнее

						.wrap-item.wrap-item-large.swiper-slide
							.item.radius-4
								.wrap-img.resp-img
									img(src="img/game-7.png", alt="")
								span.h4.title.color-red Для любителей активных игр
								p.text При создании генератора мы использовали небезизвестный универсальный код речей.
								span.h4.price от 1000 руб на чел.
								.bottom-line
									a(href="#").btn-text.color-red.link-more Подробнее

						.wrap-item.wrap-item-large.swiper-slide
							.item.radius-4
								.wrap-img.resp-img
									img(src="img/game-8.png", alt="")
								span.h4.title.color-red Для любителей
								p.text При создании генератора мы использовали небезизвестный универсальный код речей.
								span.h4.price от 1000 руб на чел.
								.bottom-line
									a(href="#").btn-text.color-red.link-more Подробнее

						.wrap-item.wrap-item-large.swiper-slide
							.item.radius-4
								.wrap-img.resp-img
									img(src="img/game-9.png", alt="")
								span.h4.title.color-red Мероприятия на свежем воздухе
								p.text При создании генератора мы использовали небезизвестный.
								span.h4.price от 1000 руб на чел.
								.bottom-line
									a(href="#").btn-text.color-red.link-more Подробнее		

				.wrap-slider-arrows.wrap-arrows-angles
					.button-prev
						<svg width="21" height="41" viewBox="0 0 21 41" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M20.0122 0L0 20.0122L20.0122 40.0244V28.7662L11.2582 20.0122L20.0122 11.2582V0Z" fill="#501E50"/>
						</svg>

					.button-next
						<svg width="21" height="41" viewBox="0 0 21 41" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M0 40.0244L20.0122 20.0122L0 0V11.2582L8.75396 20.0122L0 28.7662V40.0244Z" fill="#501E50"/>
						</svg>



			.wrap-slider.wrap-slider-bottom
				
				.slider.swiper-container
					.swiper-wrapper
						.wrap-item.wrap-item-large.swiper-slide
							.item.radius-4
								.wrap-img.resp-img
									img(src="img/game-9.png", alt="")
								span.h4.title.color-red Для любителей активных игр
								p.text При создании генератора мы использовали небезизвестный универсальный код речей.
								span.h4.price от 1000 руб на чел.
								.bottom-line
									a(href="#").btn-text.color-red.link-more Подробнее

						.wrap-item.wrap-item-large.swiper-slide
							.item.radius-4
								.wrap-img.resp-img
									img(src="img/game-10.png", alt="")
								span.h4.title.color-red Для любителей
								p.text При создании генератора мы использовали небезизвестный универсальный код речей.
								span.h4.price от 1000 руб на чел.
								.bottom-line
									a(href="#").btn-text.color-red.link-more Подробнее

						.wrap-item.wrap-item-large.swiper-slide
							.item.radius-4
								.wrap-img.resp-img
									img(src="img/game-11.png", alt="")
								span.h4.title.color-red Мероприятия на свежем воздухе
								p.text При создании генератора мы использовали небезизвестный.
								span.h4.price от 1000 руб на чел.
								.bottom-line
									a(href="#").btn-text.color-red.link-more Подробнее

						.wrap-item.wrap-item-large.swiper-slide
							.item.radius-4
								.wrap-img.resp-img
									img(src="img/game-10.png", alt="")
								span.h4.title.color-red Для любителей активных игр
								p.text При создании генератора мы использовали небезизвестный универсальный код речей.
								span.h4.price от 1000 руб на чел.
								.bottom-line
									a(href="#").btn-text.color-red.link-more Подробнее

						.wrap-item.wrap-item-large.swiper-slide
							.item.radius-4
								.wrap-img.resp-img
									img(src="img/game-9.png", alt="")
								span.h4.title.color-red Для любителей
								p.text При создании генератора мы использовали небезизвестный универсальный код речей.
								span.h4.price от 1000 руб на чел.
								.bottom-line
									a(href="#").btn-text.color-red.link-more Подробнее

						.wrap-item.wrap-item-large.swiper-slide
							.item.radius-4
								.wrap-img.resp-img
									img(src="img/game-10.png", alt="")
								span.h4.title.color-red Мероприятия на свежем воздухе
								p.text При создании генератора мы использовали небезизвестный.
								span.h4.price от 1000 руб на чел.
								.bottom-line
									a(href="#").btn-text.color-red.link-more Подробнее		

				.wrap-slider-arrows.wrap-arrows-angles
					.button-prev
						<svg width="21" height="41" viewBox="0 0 21 41" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M20.0122 0L0 20.0122L20.0122 40.0244V28.7662L11.2582 20.0122L20.0122 11.2582V0Z" fill="#501E50"/>
						</svg>

					.button-next
						<svg width="21" height="41" viewBox="0 0 21 41" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M0 40.0244L20.0122 20.0122L0 0V11.2582L8.75396 20.0122L0 28.7662V40.0244Z" fill="#501E50"/>
						</svg>


		.wrap-btn.wrap-btn-calculate
			span.btn.btn-red Рассчитать стоимость мероприятия


















