.container
	.wrap-dev-sites.wrap-lists
		.wrap-list
			a(href="#").link-accent.list-title Лендинг
			p Повседневная практика показывает, что новая модель организационной деятельности представляет собой интересный эксперимент проверки модели развития

		.wrap-list
			a(href="#").link-accent.list-title Сайт визитка
			p Повседневная практика показывает, что новая модель организационной деятельности представляет собой интересный

		.wrap-list
			a(href="#").link-accent.list-title Корпоративный сайт
			p Повседневная практика показывает, что новая модель организационной деятельности представляет собой

		.wrap-list
			a(href="#").link-accent.list-title Интернет-магазин
			p Повседневная практика показывает, что новая модель организационной деятельности представляет собой интересный эксперимент проверки модели развития.

		.wrap-list
			a(href="#").link-accent.list-title Готовые решения
			p Повседневная практика показывает, что новая модель организационной деятельности представляет собой интересный эксперимент проверки модели развития.

		.wrap-list
			a(href="#").link-accent.list-title Сайты на 1С-Битрикс
			p Повседневная практика показывает, что новая модель организационной деятельности представляет собой интересный эксперимент проверки 

		.wrap-list
			a(href="#").link-accent.list-title Сайты на ModX
			p Повседневная практика показывает, что новая модель организационной деятельности представляет собой интересный эксперимент проверки модели развития.