.sec-mackbook-1.sec-page
	.container
		.sec-mackbook-1-content

			.wrap-img.img-resp
				img.lazyload(data-src="img/mackbook-1.png")

			.wrap-title
				span.title 
					| Прототипирование 
					| и дизайн-концепция
				p.subtext За техническое исполнение отвечает специальный отдел программирования и верстки, способный реализовать даже самый сложный проект