.technical-realisation.sec-page
	.container
		.technical-realisation-content

			.wrap-title
				span.title 
					| Техническая
					| реализация и CMS
				p.subtext За техническое исполнение отвечает специальный отдел программирования и верстки, способный реализовать даже самый сложный проект

			.wrap-technical-items
				.technical-item
					img.lazyload(data-src="img/technical-item-1.png", alt="")

				.technical-item
					img.lazyload(data-src="img/technical-item-2.png", alt="")

				.technical-item
					img.lazyload(data-src="img/technical-item-3.png", alt="")

				.technical-item
					img.lazyload(data-src="img/technical-item-4.png", alt="")

				.technical-item
					img.lazyload(data-src="img/technical-item-5.png", alt="")

				.technical-item
					img.lazyload(data-src="img/technical-item-6.png", alt="")