@import "../common/vars";

.page-mob-banner{
	.page-banner-content{
		> div {
			width: 72%;
		}
	}
}


@media (max-width: 1400px) {

}


@media (max-width: 1200px) {

}


@media (max-width: 992px) {

}


@media (max-width: 768px) {
	.page-mob-banner{
		.page-banner-content{
			min-height: 370px;
		}
	}
}


@media (max-width: 576px) {
	.page-mob-banner{
		.page-banner-content{
			padding: 70px 0 50px;

			> div {
				width: 100%;
			}
		}
	}
}











