section.page-banner.img-bg(style="background-image: url('img/banner-search-optimization-bg.jpg')")
	.container

		.page-banner-content
			.wrap-breadcrumbs.breadcrumbs-yellow
				a(href="index.html") Главная
				span.delimiter /
				a(href="") Услуги
				span.delimiter /
				a(href="") SEO оптимизация
				span.delimiter /
				span.cur-page Поисковая оптимизация

			.page-banner-text
				span.banner-title Поисковая оптимизация
				p.subtext Четкий, понятный список работ с сайтом, в результате которого сайт полностью подготавливается к продвижению
				