section.table-prices-promotion-search-opt.table-prices-promotion.sec-page
	.container

		.table-prices-promotion-content
			.wrap-title
				span.title Стоимость продвижения сайтов

			include ../modules/table-promotion.pug
	