section.text-under-banner-search-optimization
	.container
		.text-under-banner-search-optimization-content

			.content-left.wrap-list-circle
				span Выполняемые работы
				p Стратегия поисковой оптимизации сайта подразумевает четкий и понятный перечень работ по поисковой оптимизации в соответствии со специально составленным календарным планом.
				span Результат работы
				p Стратегия поисковой оптимизации сайта подразумевает четкий и понятный перечень работ по поисковой оптимизации в соответствии со специально составленным календарным планом.
				span Перечень работ в рамках аудита сайта
				ol
					li Подбор ключевых фраз для приведения сайта в соответствие с алгоритмом поисковых систем и его дальнейшего продвижения.
					li Техническая оптимизация кода сайта.
					li Размещение статей и заметок на сторонних тематических сайтах.
					li Формирование и предоставление отчета по первому этапу.
					li Работы с текстовыми материалами сайта
					li Внутренняя оптимизация страниц сайта.

			.content-right
				.content-right-content.wrap-list-point
					span Почему это выгодно
					ul
						li Вы платите только за четкий, понятный и прозрачный список работ.
						li Над сайтом работают опытные оптимизаторы и программисты.
						li Все работы выполняются в соответствии с календарным планом.
						li По каждому пункту работ по оптимизации мы предоставляем отчет.
						li Для Вашего сайта мы создаем рабочую группу, в специальной ERP-системе, участвуя в которой, Вы наглядно видите и контролируете весь рабочий процесс.
						li Это безопасно. При оптимизации мы используем только «белые методы».
					span Когда это необходимо
					ul
						li При оценке списка работ по SEO и планов продвижения.
						li При приеме нового разработанного сайта у веб-студии.
						li После редизайна или модификации программной части сайта.
						li Для оценки состояния сайта при продаже бизнеса.

					.wrap-btn-add
						.shadow
						img.bg(src="img/bg-btn-add.png")
						.wrap-icon
							<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="20" cy="20" r="19" stroke="#E6E8F0" stroke-width="2"/>
							<rect x="19" y="14" width="2" height="12" fill="#0F63E1"/>
							<rect x="14" y="21" width="2" height="12" transform="rotate(-90 14 21)" fill="#0F63E1"/>
							</svg>
						button.btn-text Получить коммерческое предложение на поисковую оптимизацию
