.wrap-tabs
	.wrap-tabs-btn
		span.tab.cur-tab Отдел продаж
		span.tab Склад
		span.tab Сервисный центр
		span.tab Учебный центр

	.wrap-tabs-content

		span.dropdown-title Отдел продаж
			<svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M1.09267 9.90012L5.89687 5.23037C5.96559 5.16366 6 5.0869 6 5.00007C6 4.91324 5.96559 4.83634 5.89687 4.76959L1.09267 0.100236C1.02385 0.0333418 0.944879 0 0.855507 0C0.766172 0 0.687092 0.033447 0.618412 0.100236L0.103092 0.601134C0.0343757 0.667923 3.52859e-05 0.744785 3.52859e-05 0.831614C3.52859e-05 0.918443 0.0343757 0.995304 0.103092 1.06209L4.15466 5.00007L0.102839 8.93819C0.0341229 9.00494 -4.76837e-07 9.08184 -4.76837e-07 9.16853C-4.76837e-07 9.2555 0.0343394 9.33236 0.102839 9.39911L0.618376 9.90008C0.687056 9.96683 0.766172 10 0.855471 10C0.944878 10 1.02396 9.96687 1.09267 9.90012Z" fill="#14AAE6"/>
			</svg>
		.tab-content.dropdown-content.tab-content-cur
			.wrap-info
				.wrap-map
					.map#map-1

				.info-data
					span.info-title Отдел продаж

					.wrap-info-group
						.info-group
							.info
								span.title Адрес:
								address.text г. Минск, Логойский тракт, 22а, пом. 2
									em (Цокольный этаж, вход с правой стороны здания.)
									
							.info
								span.title Время работы:
								span.text понедельник - пятница с 09:00 до 18:00 
									em (без обеда)

						.info-group
							.info
								span.title Телефоны:
								a(href="tel:375172629111").link-tel +375 17 262 91 11
									em (многоканальный)
								a(href="tel:375172161922").link-tel +375 17 216 19 22
								a(href="tel:375172664910").link-tel +375 17 266 49 10
								a(href="tel:375296960580").link-tel +375 29 696 05 80
									em (Velcom)

							.info
								span.title Электронная почта:
								a(href="mailto:info@printlux.by").link-mail info@printlux.by

					span.btn.btn-white.modal-show(data-modal-key="callback")
						span.text Обратная связь

		span.dropdown-title Склад
			<svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M1.09267 9.90012L5.89687 5.23037C5.96559 5.16366 6 5.0869 6 5.00007C6 4.91324 5.96559 4.83634 5.89687 4.76959L1.09267 0.100236C1.02385 0.0333418 0.944879 0 0.855507 0C0.766172 0 0.687092 0.033447 0.618412 0.100236L0.103092 0.601134C0.0343757 0.667923 3.52859e-05 0.744785 3.52859e-05 0.831614C3.52859e-05 0.918443 0.0343757 0.995304 0.103092 1.06209L4.15466 5.00007L0.102839 8.93819C0.0341229 9.00494 -4.76837e-07 9.08184 -4.76837e-07 9.16853C-4.76837e-07 9.2555 0.0343394 9.33236 0.102839 9.39911L0.618376 9.90008C0.687056 9.96683 0.766172 10 0.855471 10C0.944878 10 1.02396 9.96687 1.09267 9.90012Z" fill="#14AAE6"/>
			</svg>
		.tab-content.dropdown-content
			.wrap-info
				.wrap-map
					.map#map-2

				.info-data
					span.info-title Склад

					.wrap-info-group
						.info-group
							.info
								span.title Телефоны:
								a(href="tel:375172629111").link-tel +375 17 262 91 11
									em (многоканальный)
								a(href="tel:375172161922").link-tel +375 17 216 19 22
								a(href="tel:375172664910").link-tel +375 17 266 49 10
								a(href="tel:375296960580").link-tel +375 29 696 05 80
									em (Velcom)

							.info
								span.title Электронная почта:
								a(href="mailto:info@printlux.by").link-mail info@printlux.by

					span.btn.btn-white.modal-show(data-modal-key="callback")
						span.text Обратная связь

		span.dropdown-title Сервисный центр
			<svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M1.09267 9.90012L5.89687 5.23037C5.96559 5.16366 6 5.0869 6 5.00007C6 4.91324 5.96559 4.83634 5.89687 4.76959L1.09267 0.100236C1.02385 0.0333418 0.944879 0 0.855507 0C0.766172 0 0.687092 0.033447 0.618412 0.100236L0.103092 0.601134C0.0343757 0.667923 3.52859e-05 0.744785 3.52859e-05 0.831614C3.52859e-05 0.918443 0.0343757 0.995304 0.103092 1.06209L4.15466 5.00007L0.102839 8.93819C0.0341229 9.00494 -4.76837e-07 9.08184 -4.76837e-07 9.16853C-4.76837e-07 9.2555 0.0343394 9.33236 0.102839 9.39911L0.618376 9.90008C0.687056 9.96683 0.766172 10 0.855471 10C0.944878 10 1.02396 9.96687 1.09267 9.90012Z" fill="#14AAE6"/>
			</svg>
		.tab-content.dropdown-content
			.wrap-info
				.wrap-map
					.map#map-3

				.info-data
					span.info-title Сервисный центр

					.wrap-info-group
						.info-group
							.info
								span.title Адрес:
								address.text г. Минск, Логойский тракт, 22а, пом. 2
									em (Цокольный этаж, вход с правой стороны здания.)

							.info
								span.title Время работы:
								span.text понедельник - пятница с 09:00 до 18:00 
									em (без обеда)

						.info-group
							.info
								span.title Телефоны:
								a(href="tel:375172629111").link-tel +375 17 262 91 11
									em (многоканальный)
								a(href="tel:375172161922").link-tel +375 17 216 19 22
								
							.info
								span.title Электронная почта:
								a(href="mailto:info@printlux.by").link-mail info@printlux.by

		span.dropdown-title Учебный центр
			<svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M1.09267 9.90012L5.89687 5.23037C5.96559 5.16366 6 5.0869 6 5.00007C6 4.91324 5.96559 4.83634 5.89687 4.76959L1.09267 0.100236C1.02385 0.0333418 0.944879 0 0.855507 0C0.766172 0 0.687092 0.033447 0.618412 0.100236L0.103092 0.601134C0.0343757 0.667923 3.52859e-05 0.744785 3.52859e-05 0.831614C3.52859e-05 0.918443 0.0343757 0.995304 0.103092 1.06209L4.15466 5.00007L0.102839 8.93819C0.0341229 9.00494 -4.76837e-07 9.08184 -4.76837e-07 9.16853C-4.76837e-07 9.2555 0.0343394 9.33236 0.102839 9.39911L0.618376 9.90008C0.687056 9.96683 0.766172 10 0.855471 10C0.944878 10 1.02396 9.96687 1.09267 9.90012Z" fill="#14AAE6"/>
			</svg>
		.tab-content.dropdown-content
			.wrap-info
				.wrap-map
					.map#map-4

				.info-data
					span.info-title Учебный центр

					.wrap-info-group
						.info-group
							.info
								span.title Время работы:
								span.text понедельник - пятница с 09:00 до 18:00 
									em (без обеда)

							.info
								span.title Электронная почта:
								a(href="mailto:info@printlux.by").link-mail info@printlux.by

					span.btn.btn-white.modal-show(data-modal-key="callback")
						span.text Обратная связь

