@import "../common/vars";

.sec-seo-works {
	padding: 0 !important;

	.wrap-btn-large-yellow{
		margin-top: 15px;
		padding: 0 8px;
	}

	.wrap-cases{
		padding-bottom: 0;

		.wrap-btn-large-yellow{
			width: 100%;
		}
	}
}

@media (max-width: 1399px) {

}


@media (max-width: 1199px) {

}


@media (max-width: 991px) {

}


@media (max-width: 767px) {
	.sec-seo-works {
		.wrap-cases{
			.wrap-btn-large-yellow{
				margin-top: 2px;
			}
		}
	}
}


@media (max-width: 575px) {
	.sec-seo-works {
		.wrap-cases{
			.wrap-case{
				display: none;

				&:nth-child(-n + 3){
					display: block;
				}
			}

			.wrap-btn-large-yellow{
				padding: 0;
			}
		}
	}
}




