section.home-post-articles

	.home-post-articles-content
		.container
			.top-line
				span.title Статьи

				a(href="#").to-articles Все статьи

			.wrap-articles-preview
				.article-preview
					time(datetime="15-07-2017").time 15.07.2017
					a(href="#") LEGO Education. Разбудить гения в каждом!

				.article-preview
					time(datetime="15-07-2017").time 15.07.2017
					a(href="#") Компактные бинокли PENTAX. Краткий путеводитель по актуальным моделям биноклей от Юлии Нещадим

				.article-preview
					time(datetime="15-07-2017").time 15.07.2017
					a(href="#") Программное обеспечение RM Easiteach Next Generation для создания интерактивных уроков

				.article-preview
					time(datetime="15-07-2017").time 15.07.2017
					a(href="#") Обзор телескопов MEADE

				.article-preview
					time(datetime="15-07-2017").time 15.07.2017
					a(href="#") Компактные бинокли PENTAX. Краткий путеводитель по актуальным моделям биноклей от Юлии Нещадим

				.article-preview
					time(datetime="15-07-2017").time 15.07.2017
					a(href="#") Первый сенсорный ультракороткофокусный интерактивный проектор Epson

	.form-subscribe
		.container
			.form-subscribe-content

				.wrap-text
					span.title Подпишитесь на нашу рассылку
					span.subtitle Новости, акции, выгодные предложения

				.wrap-accent-field
					form
						input.field.email-field(type="text", placeholder="Введите ваш email", maxlength="50", autocomplete="off")
						.wrap-field-btn
							button.field-btn(type="submit") Подписаться