.wrap-customer-data-bar
	.customer-data-bar-content
		> div
			padding: 23px 28px 40px

		.selected-products
			padding-bottom: 30px
			border-bottom: 1px solid $border-gray
			
			&:last-child
				margin-bottom: 0

		.selected-products-list
			padding-top: 10px
			
			ul
				display: none

			.selected-product
				display: flex
				padding: 16px 0

			.wrap-img
				flex-shrink: 0
				width: 100%
				max-width: 50px
				height: 50px
				margin-right: 15px

			.wrap-product-data
				> *
					display: block

				.brand
					line-height: 16px

				.product-name
					margin: 8px 0 5px
					line-height: 24px

				.total-count
					margin-bottom: 8px

		.btn-view-all
			cursor: pointer
			display: none
			color: $dark-blue


+media-breakpoint-down(lg)
	.wrap-customer-data-bar 
		.customer-data-bar-content
			> div
				padding: 20px 20px 30px

			.selected-products
				padding-bottom: 25px
				&-list
					padding-top: 0
					.wrap-product-data
						.product-name
							line-height: 20px



+media-breakpoint-down(md)
	.wrap-customer-data-bar
		margin-top: 20px
		.customer-data-bar-content
			display: flex
			justify-content: space-between
			align-items: stretch
			> div
				width: 100%
				max-width: 50%
				&:first-child
					border-bottom: none

			.selected-products
				&-list
					max-height: 170px
					overflow-y: auto
					.wrap-product-data
						.product-name
							line-height: 20px



+media-breakpoint-down(sm)
	.wrap-customer-data-bar
		.customer-data-bar-content

			.selected-products
				padding-right: 10px

				&-list
					.selected-product
						padding: 14px 0


+media-breakpoint-down(xs)
	.wrap-customer-data-bar
		margin-top: 20px
		.customer-data-bar-content
			display: block
			> div
				max-width: 100%
				padding: 23px 28px 40px
				&:first-child
					border-bottom: 1px solid $border-gray
				.btn
					line-height: 17px	
			

			.selected-products
				&-list
					max-height: none
					margin-top: 10px
					.wrap-product-data
						.product-name
							line-height: 20px





