//Banner BEGIN
include banner/banner
//Banner END

include ../../../our-plus/our-plus

include ../../../slider-materials/slider-materials

include ../../../slider-materials/slider-materials

//Request BEGIN
include ../../laser/components/request/request
//Request END

//Portfolio BEGIN
include ../../laser/components/portfolio/portfolio
//Portfolio END

//Characteristics BEGIN
include characteristics/characteristics
//Characteristics END

//Cutting process BEGIN
include ../../laser/components/cutting-process/cutting-process
//Cutting process END

//Faq BEGIN
include ../../laser/components/faq/faq
//Faq END

//Reviews BEGIN
include ../../laser/components/reviews/reviews
//Reviews END

//Partners BEGIN
include ../../laser/components/partners/partners
//Partners END

//Request BEGIN
include ../../laser/components/request/request
//Request END

//Our instagram BEGIN
include ../../laser/components/our-instagram/our-instagram
//Our instagram END

//Leave feedback BEGIN
include ../../laser/components/leave-feedback/leave-feedback
//Leave feedback END
