section.section-counter.section.section-white
	.container

		.row.align-items-stretch.justify-content-center
			.col-12.col-sm-12
				.counter-item.counter-item-large.index-large-item(style="background-image: url(img/banner-count.jpg)")
					img(src="img/banner-count-img-1.png", alt="").counter-item-mob-bg

					.wrap-text
						span.subtitle.h-6 небольшая бирка
						span.title.h-2 Небольшой заголовок
						a(href="#").btn.btn-border Смотреть каталог
						span.counter-title.subtitle.h-6 до окончания акции
						.wrap-counter.seconds-hide.countdown(data-date="2019-04-02", data-time="18:30")

			.col-12.col-sm-6
				.counter-item.index-large-item(style="background-image: url(img/main-img-large-item-3.jpg)")
					img(src="img/banner-count-img-2.png", alt="").counter-item-mob-bg

					.wrap-text
						span.subtitle.h-6 небольшая бирка
						span.title.h-3 Nike Metcon 2
						a(href="#").btn.btn-border Смотреть каталог

			.col-12.col-sm-6
				.counter-item.index-large-item(style="background-image: url(img/main-img-large-item-4.jpg)")
					img(src="img/banner-count-img-3.png", alt="").counter-item-mob-bg

					.wrap-text
						span.subtitle.h-6 небольшая бирка
						span.title.h-3 Nike Metcon 2
						a(href="#").btn.btn-border Смотреть каталог



