@import "../common/vars";

.main-footer{
	background-color: @bgGray;

	.footer-wrap-cols, .line-info-row{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
	}

	.line-info{
		padding: 28px 0;
		border-bottom: 1px solid rgba(0,0,0,.1);
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;

		.info-title{
			font-size: 14px;
			line-height: 16px;
			color: #9096A8;
			font-weight: 600;
			margin-bottom: 5px;
			display: block;
		}

		.wrap-phone-dropdown{
			.visible{
				.phone-number{
					font-size: 18px;
					color: @accent;
					margin: 2px 0 -10px 0;
					padding-bottom: 10px;
				}
				.wrap-icon{
					-webkit-transform: rotate(90deg);
					-ms-transform: rotate(90deg);
					-o-transform: rotate(90deg);
					transform: rotate(90deg);
					margin-left: 12px;
					margin-top: 2px;
					svg{
						width: 8px;
						height: auto;
						path{
							stroke: @accent;
						}
					}
				}
			}
		}

		.wrap-btn{
			-ms-align-self: center;
			align-self: center;
		}
	}
	
	.footer-wrap-cols{
		padding: 37px 0 56px 0;
	}

	.footer-col{
		padding-right: 30px;

		&:last-child{
			padding-right: 0;
		}

		.col-title{
			display: block;
			margin-bottom: 11px;
			font-weight: 600;
			color: @textDark;
			position: relative;

			&:hover{
				color: @accent
			}
		}

		.dropdown-btn{
			width: 40px;
			height: 100%;
			display: none;
			position: absolute;
			top: 50%;
			right: 0;
			-webkit-transform: translate(0, -50%);
			-ms-transform: translate(0, -50%);
			-o-transform: translate(0, -50%);
			transform: translate(0, -50%);

			&::before{
				content: "";
				position: absolute;
				top: 50%;
				-webkit-transform: translate(0, -50%);
				-moz-transform: translate(0, -50%);
				-ms-transform: translate(0, -50%);
				-o-transform: translate(0, -50%);
				transform: translate(0, -50%);
				left: 0;
				width: 1px;
				height: 55%;
				background-color: #E6E8F0;
			}

			svg{
				width: 13px;
				height: auto;
				-webkit-transition: .4s all ease;
				-o-transition: .4s all ease;
				transition: .4s all ease;
			}
		}

		.dropdown-active{
			color: @accent;

			.dropdown-btn{
				svg{
					-webkit-transform: rotate(180deg);
					-moz-transform: rotate(180deg);
					-ms-transform: rotate(180deg);
					-o-transform: rotate(180deg);
					transform: rotate(180deg);
				}
			}
		}			

		ul {
			li{
				margin-bottom: 3px;
			}
		}
	}

	.footer-bottom-line{
		padding: 17px 0;
		background-color: rgba(24,28,42, .05);
		p{
			font-size: 13px;
			line-height: 16px;
		}
	}
}

@media (max-width: 1400px) {
	
}


@media (max-width: 1200px) {
	.main-footer{
		.line-info{
			padding: 22px 0;

			.wrap-address-info{
				width: 100%;
				max-width: 260px;
			}

			.info-title{
				font-size: 13px;
				line-height: 14px;
				margin-bottom: 2px;
			}

			.wrap-phone-dropdown .visible .phone-number{
				font-size: 16px;
				margin: 5px 0 -10px;
			}

		}

		.footer-wrap-cols{
			padding: 30px 0 20px;
		}

		.footer-col{
			.col-title{
				font-size: 14px;
				margin-bottom: 8px;
				line-height: 16px;
			}

			ul{
				font-size: 14px;
				line-height: 22px;
			}
		}

	}
}


@media (max-width: 992px) {
	.main-footer{
		.line-info{
			border: none;
			font-size: 13px;
			line-height: 18px;

			.info-title{
				margin-bottom: 4px;
			}

			.wrap-phone-dropdown .visible{
				.phone-number{
					font-size: 14px;
					white-space: nowrap;
					margin: 3px 0 -10px;
				}

				.wrap-icon svg{
					width: 6px;
				}
			}	

			.wrap-address-info{
				max-width: 180px;
			}

			.wrap-btn{
				white-space: nowrap;
				.btn{
					font-size: 13px;
					padding: 6px 18px;
				}
			}

		}

		.footer-wrap-cols{
			padding: 0 0 20px;
			display: block;

			.container{
				padding: 0;
			}
		}

		.footer-col{
			padding: 0;
			border: 1px solid transparent;
			border-top-color: rgba(0,0,0,.1);
			position: relative;
			margin-bottom: -1px;

			&::before{
				top: 0;
			}

			&::after{
				bottom: 0;
			}

			&:last-child{
				border-bottom: 0;

				.dropdown-content{
					padding-bottom: 0;
				}
			}

			.col-title{
				margin-bottom: 0;
				font-size: 18px;
				line-height: 16px;
				padding: 17px 40px 17px 15px;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				-ms-align-items: stretch;
				align-items: stretch;
				justify-content: space-between;

				&:not(.dropdown-active):hover{
					color: @textDark;
				}
			}

			.dropdown-btn{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				-ms-align-items: center;
				align-items: center;
				justify-content: center;
			}

			.dropdown-content{
				display: none;
				padding: 0 15px 20px;
			}

			ul{
				a{
					color: @textDark;
				}
			}
		}

	}
}


@media (max-width: 768px) {
	.main-footer{
		.line-info{
			flex-wrap: wrap;

			> div {
				order: 1;
			}

			.wrap-address-info{
				margin-top: 15px;
				order: 4;
				max-width: 100%;
			}
		}
	}
}


@media (max-width: 576px) {
	.main-footer{
		.footer-wrap-cols{
			margin: 0 -15px;
		}

		.line-info{
			display: block;
			margin: 0 -10px;

			.wrap-phone-dropdown .visible .phone-number{
				font-size: 16px;
			}

			.wrap-address-info{
				margin-top: 0;
			}

			> div {
				margin-bottom: 17px;
				padding: 0 10px;
				display: -webkit-inline-flex;
				display: -moz-inline-flex;
				display: -ms-inline-flex;
				display: -o-inline-flex;
				display: inline-flex;
				-webkit-flex-direction: column;
				-moz-flex-direction: column;
				-ms-flex-direction: column;
				-o-flex-direction: column;
				flex-direction: column;

				&:last-child{
					margin-bottom: 0;
					margin-right: 0;
				}
			}
		}
	}
}


