@import "../common/vars";

/*Wrap list*/
.wrap-lists{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: -27px;
	margin-right: -27px;
	
	.wrap-list {
		width: 100%;
		max-width: 25%;
	}
}

.wrap-list{
	padding: 0 27px;
	margin-bottom: 40px;

	.list-title{
		margin-bottom: 14px;
		font-size: 26px;
		transition: .4s color ease;
		font-weight: 600;
		line-height: 28px;
		position: relative;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: space-between;
	}

	.dropdown-btn{
		width: 30px;
		height: 22px;
		display: none;
		position: relative;
		-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		transform: rotate(-90deg);
		justify-content: center;
		-ms-align-items: flex-end;
		align-items: flex-end;

		&::before{
			content: "";
			position: absolute;
			top: 0;
			-webkit-transform: translate(-50%, 0);
			-moz-transform: translate(-50%, 0);
			-ms-transform: translate(-50%, 0);
			-o-transform: translate(-50%, 0);
			transform: translate(-50%, 0);
			left: 50%;
			width: 40%;
			height: 1px;
			background-color: #E6E8F0;
		}

		svg{
			width: 13px;
			height: auto;
			-webkit-transition: .4s all ease;
			-o-transition: .4s all ease;
			transition: .4s all ease;

			path{
				stroke: @accent;
			}
		}
	}

	.dropdown-active{
		color: @accent;

		.dropdown-btn{
			svg{
				-webkit-transform: translate(0, -50%) rotate(90deg);
				-moz-transform: translate(0, -50%) rotate(90deg);
				-ms-transform: translate(0, -50%) rotate(90deg);
				-o-transform: translate(0, -50%) rotate(90deg);
				transform: translate(0, -50%) rotate(90deg);
			}
		}
	}	

	p{
		line-height: 24px;
	}

	ul{
		li{
			margin-bottom: 5px;
			display: block;
			color: @textDark;

			&:last-child{
				margin-bottom: 0;
			}

			a{
				color: inherit;
				.recommend{
					margin-left: 15px;
					font-size: 11px;
					color: #E11042;
					padding: 2px 10px;
					border-radius: 50px;
					border: 1px solid #E6E8F0;
					font-weight: 600;
					letter-spacing: 0.04em;
				}
			}

		}
	}
}


@media (max-width: 1400px) {
	.wrap-lists{
		margin-left: -20px;
		margin-right: -20px;

		.wrap-list{
			padding: 0 20px;

			.list-title{
				margin-bottom: 9px;
				font-size: 25px;
				transition: color .4s ease;
				font-weight: 600;
				line-height: 29px;
			}
		}
	}
}


@media (max-width: 1200px) {
	.wrap-lists{
		.wrap-list{
			margin-bottom: 30px;
			max-width: 50%;
		}
	}
}


@media (max-width: 992px) {
	.wrap-lists{
		margin-left: -10px;
		margin-right: -10px;

		.wrap-list{
			padding: 0 10px;
			margin-bottom: 20px;

			ul li a .recommend{
				margin-left: 9px;
			}
		}
	}
}


@media (max-width: 768px) {
	.wrap-lists{
		.wrap-list{
			padding-right: 40px;
			margin-top: 10px;

			.list-title{
				margin-bottom: 11px;
				font-size: 23px;
				transition: color .4s ease;
				font-weight: 600;
				line-height: 26px;
			}

			ul{
				font-size: 15px;
				line-height: 21px;

				li{
					a{
						.recommend{
							margin-left: 7px;
						}
					}
				}
			}
		}
	}
}


@media (max-width: 576px) {
	.wrap-lists{
		display: block;
		padding-bottom: 40px;
		margin-left: 0;
		margin-right: 0;

		.wrap-list{
			border-bottom: 1px solid rgba(0,0,0,.1);
			padding: 0;
			margin: 0;
			max-width: 100%;

			.dropdown-btn{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
			}

			ul, p, .dropdown-content{
				display: none;
				font-size: 16px;
				line-height: 25px;
				padding-bottom: 20px;
				margin-top: -5px;
			}

			.list-title{
				margin: 0 0 -1px 0;
				padding: 11px 0;
				border: 1px solid transparent;
				font-size: 20px;

				&:hover{
					color: @accent;
				}
			}

			&:first-child{
				.list-title{
					border-top: 1px solid rgba(0,0,0,.1);
				}
			}
		}
	}
}
/**/


.wrap-list-point, .wrap-list-number, .wrap-list-point-dark{
	ul, ol{
		li, a{
			font-size: 14px;
			line-height: 22px;
			color: @textGray;
		}
		li{
			margin-bottom: 12px;
			position: relative;
			padding-left: 15px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}

.wrap-list-point{
	li{
		&:after{
			content: "•";
			position: absolute;
			top: 0;
			left: 0;
			width: 4px;
			height: 4px;
			color: #0F63E1;
			border-radius: 50%;
		}
	}
}

.wrap-list-point-white{
	li{
		&:after{
			color: #fff;
		}
	}
}

.wrap-list-point-yellow{
	li{
		&:after{
			color: @yellow;
			opacity: .95;
		}
	}
}

.wrap-list-point-dark{
	li{
		&:after{
			color: @textGray;
		}
	}
}

/*List count (seo banner)*/
.wrap-list-count{
	ol{
		counter-reset: custom-counter;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
		li{
			counter-increment: custom-counter;
			position: relative;	
			margin-bottom: 45px;
			width: 48%;
			font-weight: 600;
			padding-left: 75px;
			color: #fff;
			em{
				color: @yellow;
				text-transform: uppercase;
				letter-spacing: 0.02em;
			}
			&:after, &:before{
				-webkit-transform: translate(	0, -50%);
				-ms-transform: translate(	0, -50%);
				-o-transform: translate(	0, -50%);
				transform: translate(	0, -50%);
				position: absolute;	
				top: 50%;
			}
			&:before{
				content: counter(custom-counter);
				left: 25px;
				font-size: 20px;
				color: #fff;
			}
			&:after{
				content: "";
				border: 2px solid #fff;
				border-radius: 50%;
				width: 60px;	
				height: 60px;	
				left: 0;
			}
		}
	}
}

@media (max-width: 1400px) {
	.wrap-list-count{
		ol{
			li{
				padding-left: 65px;
				font-size: 14px;
				line-height: 20px;

				&:after{
					width: 50px;
					height: 50px;
				}

				&:before{
					font-size: 17px;
					left: 20px;
				}

			}
		}
	}
}


@media (max-width: 1200px) {

}


@media (max-width: 992px) {
	.wrap-list-count{
		ol{
			display: block;
			
			li{
				width: 100%;
				height: 45px;
				padding-left: 60px;
				margin-bottom: 20px;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				-ms-align-items: center;
				align-items: center;
				
				&:last-child{
					margin-bottom: 0;
				}

				&:after{
					width: 45px;
					height: 45px;
				}

				&:before{
					font-size: 16px;
					line-height: 18px;
					left: 18px;
				}

			}
		}
	}
}


@media (max-width: 768px) {
	.wrap-list-count{
		ol{	
			li{
				font-size: 13px;
				line-height: 17px;
				padding-left: 52px;
				margin-bottom: 16px;

				&::after{
					width: 40px;
					height: 40px;
				}

				&::before{
					font-size: 13px;
					line-height: 14px;
					left: 16px;
				}
			}
		}
	}
}


@media (max-width: 576px) {
	.wrap-list-count{
		ol{	
			li{
				font-size: 12px;
				line-height: 14px;
				padding-left: 33px;
				margin-bottom: 8px;
				height: 25px;

				&:first-child{
					&::before{
						left: 10px;
					}
				}

				&::after{
					width: 25px;
					height: 25px;
					border-width: 1px;
				}

				&::before{
					font-size: 12px;
					line-height: 14px;
					left: 9px;
					font-weight: 400;
				}
			}
		}
	}
}
/**/

.wrap-list-poligon{
	.list{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		height: 475px;
		margin: 0 -15px;

		p{
			width: calc(100% / 3);
			display: -webkit-flex;
			display: -moz-flex;
			padding: 0 30px;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: center;
			align-items: center;
			min-height: 70px;
			font-size: 16px;
			line-height: 22px;
			margin-bottom: 25px;

			.counter-number{
				color: @yellow;
				font-size: 25px;
				line-height: 22px;
				position: relative;
				margin-right: 35px;
				min-width: 32px;
				height: auto;
				text-align: center;

				&:after{
					content: "";
					width: 48px;
					height: 48px;
					border: 1px solid #D1D3DD;
					top: 50%;
					left: 54%;
					-webkit-transform: translate(-50%, -50%) rotate(45deg);
					-moz-transform: translate(-50%, -50%) rotate(45deg);
					-ms-transform: translate(-50%, -50%) rotate(45deg);
					-o-transform: translate(-50%, -50%) rotate(45deg);
					transform: translate(-50%, -50%) rotate(45deg);
					position: absolute;
				}
			}
		}
	}
}

@media (max-width: 1399px) {
	.wrap-list-poligon{
		.list{
			height: 480px;
			margin: 0;

			p{
				font-size: 15px;
				padding: 0 15px;
				line-height: 21px;

				br{
					display: none;
				}
			}
		}
	}
}

@media (max-width: 1199px) {
	.wrap-list-poligon{
		.list{
			height: 490px;

			p{
				font-size: 13px;

				.counter-number{
					margin-right: 26px;
					font-size: 20px;

					&::after{
						height: 40px;
						width: 40px;
					}
				}
			}
		}
	}
}

@media (max-width: 991px) {
	.wrap-list-poligon{
		margin-bottom: -25px;

		.list{
			height: 595px;

			p{
				font-size: 14px;
				min-height: 60px;
				line-height: 20px;
				width: 50%;
			}
		}

	}
}

@media (max-width: 767px) {
	.wrap-list-poligon{
		margin-bottom: -25px;

		.list{
			height: auto;
			display: block;

			p{
				font-size: 14px;
				min-height: 60px;
				line-height: 20px;
				width: 100%;
			}
		}

	}
}

@media (max-width: 575px) {
	.wrap-list-poligon{

		.list{
			p{
				font-size: 14px;
				line-height: 22px;
				padding: 0;
				margin-bottom: 15px;
				min-height: 55px;

				.counter-number{
					margin-right: 22px;
					font-size: 18px;

					&::after{
						height: 32px;
						width: 32px;
					}
				}

			}
		}

	}
}


.text-group{
	ol{
		counter-reset: text-counter;
		margin-bottom: 14px;
		li{
			counter-increment: text-counter;
			position: relative;
			padding-left: 17px;
			&:after{
				content: counter(text-counter)".";
				font-weight: 600;
				color: @accent;
				position: absolute;
				top: 51%;
				-webkit-transform: translate(0, -50%);
				-moz-transform: translate(0, -50%);
				-ms-transform: translate(0, -50%);
				-o-transform: translate(0, -50%);
				transform: translate(0, -50%);
				left: 0;
			}
		}
	}
}

.wrap-list-circle{
	padding-right: 60px;
	ol{
		counter-reset: circle-counter;
		li{
			counter-increment: circle-counter;
			position: relative;	
			margin-bottom: 20px;
			padding-left: 60px;
			color: @textGray-2;
			line-height: 22px;
			min-height: 48px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: center;
			align-items: center;
			&:after, &:before{
				-webkit-transform: translate(	0, -50%);
				-ms-transform: translate(	0, -50%);
				-o-transform: translate(	0, -50%);
				transform: translate(	0, -50%);
				position: absolute;	
				top: 22px;
			}
			&:first-child{
				margin-top: 20px;
				&:before{
					left: 20px;
				}
			}
			&:before{
				content: counter(circle-counter);
				left: 19px;
				font-size: 20px;
				color: @accent;
			}
			&:after{
				content: "";
				border: 2px solid @accent;
				border-radius: 50%;
				width: 48px;	
				height: 48px;	
				left: 0;
			}
		}
	}
}

@media (max-width: 1399px) {

}


@media (max-width: 1199px) {
	
}


@media (max-width: 991px) {

}


@media (max-width: 767px) {

}


@media (max-width: 575px) {

}




