@import "../common/vars";

.wrap-phone-dropdown{
	position: relative;
	&:hover{
		.hidden{
			display: block;
			z-index: 3;
		}
	}
	.visible{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;		
		.wrap-icon{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: center;
			align-items: center;
		}
		.wrap-icon-phone{
			width: 17px
		}
		.phone-number{
			font-size: 17px;
			line-height: 20px;
			margin: 0 8px -12px 13px;
			padding-bottom: 12px;
			color: @textDark;
			font-weight: 600;
			white-space: nowrap;
		}
		.wrap-icon-dropdown{
			width: 18px;
			margin-left: -3px;
			cursor: pointer;
			padding: 4px;
		}
	}
	.hidden{
		position: absolute;
		top: calc(100% + 9px);
		left: calc(50%);
		transform: translate(-50%, 0);
		width: 210px;
		display: none;
		background-color: #fff;
		z-index: 2;
		font-size: 13px;
		.title-content{
			color: #657195;
			display: block;
			color: @textGray;
		}
		.hidden-content{
			padding: 22px 18px 18px 18px;
			box-shadow: 0px 4px 15px rgba(31, 47, 87, 0.25);
			position: relative;
			z-index: 9;
		}
		.top-content{
			address{
				line-height: 16px;
				font-size: 12px;
				color: @textDark;
			}
			.link-border-dotted{
				font-size: 12px;
			}
		}
		.bottom-content{
			margin-top: 10px;
			.wrap-data-time-work{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				-ms-align-items: center;
				align-items: center;
				justify-content: space-between;
			}
			.days-week{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				.day{
					width: 7px;
					height: 7px;
					background-color: @yellow;
					margin-right: 3px;
					&:last-child{
						margin-right: 0px;
					}
				}
				.weekends{
					background-color: #DADCE4;
				}
			}
			.time{
				font-size: 12px;
			}
		}
	}
}

@media (max-width: 1400px) {

}


@media (max-width: 1200px) {
	.wrap-phone-dropdown .visible{
		.phone-number{
			font-size: 15px;
			line-height: 18px;			
		}

		.wrap-icon-phone{
			width: 15px;
		}

		.phone-number{
			margin-left: 9px;
		}
	}
}


@media (max-width: 992px) {

}


@media (max-width: 768px) {

}


@media (max-width: 576px) {
	.wrap-phone-dropdown .hidden{
		left: 0;
		-webkit-transform: translate(0);
		-ms-transform: translate(0);
		-o-transform: translate(0);
		transform: translate(0);

		.hidden-content{
			padding: 15px;
		}
	}
}






