@import "../common/vars";

.testimonial-item{
	width: 320px;

	.wrap-img{
		background-color: @bgGray;
		padding: 16px;
		margin-bottom: 20px;
		position: relative;
		cursor: pointer;
		&:hover{
			.hover-layer{
				opacity: 1;
			}
			&:after{
				border-top-color: rgba(11,14,20, .5)
			}
		}
		&:after{
			content: "";
			position: absolute;
			-webkit-transition: .4s all ease;
			-o-transition: .4s all ease;
			transition: .4s all ease;
			top: 100%;
			left: 30px;
			border: 12px solid transparent;
			border-top-color: @bgGray;
		}
	}
	.hover-layer{
		position: absolute;
		-webkit-transition: .4s all ease;
		-o-transition: .4s all ease;
		transition: .4s all ease;
		opacity: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(11,14,20, .5);
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
		.wrap-icon{
			width: 30px;
			height: 30px;
		}
	}
	.wrap-bottom-info{
		> * {
			font-size: 13px;
			display: inline-block;
			line-height: 17px;
		}

		a{
			margin-right: 20px;
		}

		.name{
			color: @textGray;
		}
	}
}

@media (max-width: 1400px) {

}


@media (max-width: 1200px) {
	.testimonial-item{
		.wrap-img{
			padding: 10px;
		}
	}
}


@media (max-width: 992px) {

}


@media (max-width: 768px) {

}


@media (max-width: 576px) {
	.testimonial-item{
		width: 230px;

		.wrap-img{
			padding: 13px;
		}
	}
}

@media (max-width: 420px) {
	.sec-testimonials{
		.wrap-title{
			text-align: center;
		}
	}
}



