@import "../common/vars";
@import "testimonial-item";

.wrap-testimonials-slider{
	padding-top: 28px;
	position: relative;

	.testimonials-slider{
		overflow: hidden;
	}

  .slick-list{
  	margin: 0 -10px
  }

  .testimonial-item{
		margin: 0 10px;
  }

	.wrap-slider-nav{
		.slick-arrow{
			margin-top: -20px;
			background-color: rgba(0,0,0,.7);

			&:hover{
				background-color: @btnYellowHover;
				svg{
					path{
						stroke: @textDark;
					}
				}
			}

		}
	}

}


@media (max-width: 1400px) {

}


@media (max-width: 1200px) {

}


@media (max-width: 992px) {
	.wrap-testimonials-slider{
		padding-top: 0px;
	}
}


@media (max-width: 768px) {
	.wrap-testimonials-slider{
		.wrap-slider-nav{
			.slick-arrow{
				margin-top: -35px;
			}
		}
	}
}


@media (max-width: 576px) {
	.wrap-testimonials-slider{
		margin: 0 -15px;
		padding-top: 10px;

		.wrap-slider-nav{
			display: none;
		}

		.testimonial-item{
			margin: 0 5px;
		}

	}
}
