@import "../common/vars";

.text-group{
	
	.wrap-text{
		column-count: 2;
		column-gap: 20px;

		p{
			margin-bottom: 14px;
			&:last-child{
				margin-bottom: 0;
			}
		}

		strong{
			font-weight: 600;
			margin-bottom: 10px;
		}

		em{
			font-weight: 600;
			font-size: 20px;
			line-height: 30px;
		}
	}
}

@media (max-width: 1399px) {

}


@media (max-width: 1199px) {

}


@media (max-width: 991px) {
	.text-group{
		.wrap-text{
			column-count: 1;
		}
	}
}


@media (max-width: 767px) {

}


@media (max-width: 575px) {

}


@media (max-width: 480px) {
	.text-group{
		.wrap-title{
			text-align: left;
			margin-bottom: 15px;
		}

		.wrap-text{
			font-size: 14px;
			line-height: 22px;

			em{
				font-size: 18px;
				line-height: 23px;
				margin-bottom: 10px;
			}

			em, strong{
				margin-top: 10px;
				display: block;
				margin-bottom: 6px;
			}
		}
	}
}