@import "../common/vars";

.page-content-sidebar{
	.wrap-top-page-text{

		.top-paragraphs{
			p{
				margin-bottom: 14px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}

	}

	.top-page-line-content{
		padding-right: 350px;

		.wrap-top-page-line{
			.title-top-page{
				margin-top: 23px;
				margin-bottom: 20px;
				font-size: 35px;
				line-height: 40px;
				color: #151515;
				font-weight: 700;
			}
		}

	}
}

