@import "../common/vars";

.sec-content-sidebar{
	.wrap-content{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.top-page-line-content{
		width: 100%;

		.wrap-top-page-line{
			margin: 0;
		}
	}

	.left-content{
		width: calc(100% - 220px);
		padding-right: 130px;

		.top-paragraphs{
			p{
				margin-bottom: 15px;
				
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}

	.right-content{
		position: relative;
	}
}

.title-top-page{
	margin-top: 23px;
	margin-bottom: 20px;
	font-size: 35px;
	line-height: 40px;
	color: #151515;
	font-weight: 700;
	display: block;
}


@media (max-width: 1400px) {

}


@media (max-width: 1200px) {
	.sec-content-sidebar{
		.left-content{
			padding-right: 50px;
		}
	}
}


@media (max-width: 992px) {
	.sec-content-sidebar{
		.left-content{
			padding-right: 0;
			width: 100%;

			.top-paragraphs{
				font-size: 14px;
				line-height: 22px;
			}
		}
	}

	.title-top-page{
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 28px;
		line-height: 34px;
	}
}


@media (max-width: 768px) {

}


@media (max-width: 576px) {
	.title-top-page{
		margin-bottom: 10px;
		font-size: 24px;
		line-height: 28px;
	}
}





