.gallery-items

	.container

		.wrap-select
			select.select.select-gallery
				option
				option(value="ex1") г. Минск
				option(value="ex2") г. Барановичи
				option(value="ex3") г. Брест
				option(value="ex4") г. Борисов
				option(value="ex5") г. Вилейка
				option(value="ex6") г. Гомель
				option(value="ex7") г. Витебск
				option(value="ex8") г. Жлобин
		
		.wrap-items
			
			.wrap-item
				img(src="img/gif-1.gif", alt="").img-animation
				.item
					a(href="#").img-link
						.wrap-img.img-resp
							img(src="img/people-2.png", alt="")
						.cur-border.border-2
					a(href="#").name Людмила и Коля
					span.country г. Санкт-Петербург

			.wrap-item
				img(src="img/gif-2.gif", alt="").img-animation
				.item
					a(href="#").img-link
						.wrap-img.img-resp
							img(src="img/people-2.png", alt="")
						.cur-border.border-1
					a(href="#").name Людмила и Коля
					span.country г. Москва
			.wrap-item
				img(src="img/gif-3.gif", alt="").img-animation
				.item
					a(href="#").img-link
						.wrap-img.img-resp
							img(src="img/people-2.png", alt="")
						.cur-border.border-3
					a(href="#").name Людмила и Коля
					span.country г. Москва
			.wrap-item
				img(src="img/gif-1.gif", alt="").img-animation
				.item
					a(href="#").img-link
						.wrap-img.img-resp
							img(src="img/people-2.png", alt="")
						.cur-border.border-4
					a(href="#").name Людмила и Коля
					span.country г. Москва
			.wrap-item
				img(src="img/gif-2.gif", alt="").img-animation
				.item
					a(href="#").img-link
						.wrap-img.img-resp
							img(src="img/people-2.png", alt="")
						.cur-border.border-4
					a(href="#").name Людмила и Коля
					span.country г. Санкт-Петербург
			.wrap-item
				img(src="img/gif-3.gif", alt="").img-animation
				.item
					a(href="#").img-link
						.wrap-img.img-resp
							img(src="img/people-2.png", alt="")
						.cur-border.border-1
					a(href="#").name Людмила и Коля
					span.country г. Москва
			.wrap-item
				img(src="img/gif-1.gif", alt="").img-animation
				.item
					a(href="#").img-link
						.wrap-img.img-resp
							img(src="img/people-2.png", alt="")
						.cur-border.border-2
					a(href="#").name Людмила и Коля
					span.country г. Санкт-Петербург
			.wrap-item
				img(src="img/gif-2.gif", alt="").img-animation
				.item
					a(href="#").img-link
						.wrap-img.img-resp
							img(src="img/people-2.png", alt="")
						.cur-border.border-1
					a(href="#").name Людмила и Коля
					span.country г. Санкт-Петербург
			.wrap-item
				img(src="img/gif-3.gif", alt="").img-animation
				.item
					a(href="#").img-link
						.wrap-img.img-resp
							img(src="img/people-2.png", alt="")
						.cur-border.border-3
					a(href="#").name Людмила и Коля
					span.country г. Москва

		.pagination
			.btn.btn-prev Назад
			.list-row
				a(href="#") 1
				a(href="#") 2
				a(href="#") 3
				a.active(href="#") 4
				a(href="#") 5
				a(href="#") 6
				a(href="#") 7
				a(href="#") 8
				a(href="#") 9
			.btn.btn-next Дальше

