section.sec-list-1.sec-list-1-check.sec-list-1-circle.sec
	.wrap-img(style="background-image: url(img/img_serviecs_list.jpg)")
	.container
		.sec-list-1-content
			.sec-list-1-text
				h4.subtext Преимущества сотрудничества 
				h2.title Охрана бизнеса — это уверенность в безопасности своего дела
				.wrap-list.wrap-list-check
					ul
						li Обеспечение круглосуточного мониторинга объекта
						li Возможность бесплатного пополнения баланса SIM-карты
						li неограниченное количество выездов экипажей реагирования собственного ЧОП «Радуга» и экипажей полиции
						li наличие услуги SMS-клиент;
				p.subtext Если Вас интересует охрана склада или офиса, обратитесь к специалистам ООО «СпецМонтаж» по телефону +7 (495)781-47-90.
		.sec-list-1-img
			.wrap-img
				img.img-resp(src="img/sec_list_1_business.jpg", alt="")


