@import "../../../less/common/vars";

.wrap-article{

	.wrap-preview{
		padding-bottom: 25px;
		border-bottom: 1px solid #EFEFEF;
		margin-bottom: 25px;

		.wrap-img{
			margin-bottom: 35px;
		}

		.wrap-img-mobile{
			display: none;
		}

		.title{
			font-size: 30px;
			line-height: 34px;
			font-family: "RobMed";
			margin-bottom: 13px;
			display: block;
		}

		.bottom-info{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: center;
			align-items: center;

		}

		.data{
			color: @textGray;
			font-size: 13px;
			line-height: 19px;
			white-space: nowrap;
			margin-right: 34px;
		}

		.row-tags{
			a{
				color: @blue;
				font-size: 13px;
				line-height: 19px;
				text-transform: uppercase;
				margin-right: 15px;

				&:hover{
					color: @pink;
				}
			}
		}
	}

}

@media (min-width: 1260px) {

}

@media (max-width: 1259px) {

}

@media (max-width: 991px) {
	.wrap-article{
		.wrap-preview{
			.title{
				font-size: 26px;
				line-height: 30px;
			}
		}
	}
}

@media (max-width: 767px) {
	.wrap-article{
		.wrap-preview{
			padding-bottom: 18px;
			margin-bottom: 18px;

			.wrap-img{
				margin-bottom: 20px;
			}

			.data{
				margin-right: 20px;
			}

			.row-tags a{
				font-size: 12px;
				line-height: 17px;
			}

			.title{
				font-size: 24px;
				line-height: 27px;
				margin-bottom: 9px;
			}
		}
	}
}

@media (max-width: 575px) {
	.wrap-article{
		.wrap-preview{

			.wrap-img{
				margin-bottom: 15px;
			}

			.wrap-img-desktop{
				display: none;
			}

			.wrap-img-mobile{
				display: block;
			}

			.bottom-info{
				-ms-align-items: flex-start;
				align-items: flex-start;

				.data{
					margin-top: 2px;
				}
			}

			.row-tags a{
				font-size: 12px;
				line-height: 17px;
			}

			.title{
				font-size: 20px;
				line-height: 26px;
				margin-bottom: 10px;
			}
		}

		.btn-come-back{
			font-size: 13px;
		}
	}
}

