.page-product-card
	.description-card, .testimonials-card
		padding-top: 80px
		padding-bottom: 80px
	.product-card-sec-title
		margin-bottom: 20px
		display: block


+media-breakpoint-down(lg)

+media-breakpoint-down(md)
	.page-product-card
		.description-card, .testimonials-card
			padding-top: 60px
			padding-bottom: 60px

+media-breakpoint-down(sm)
	.page-product-card
		.description-card, .testimonials-card
			padding-top: 50px
			padding-bottom: 50px


+media-breakpoint-down(xs)
	.page-product-card
		.breadcrumbs
			margin-bottom: 15px
		.product-card-sec-title
			text-align: center
			font-size: 24px
			line-height: 28px

