section.cases-our-works.sec-page
	.container

		.cases-our-works-content
			.wrap-title
				span.title Наши кейсы

				span.subtext Нужно подтверждение качества наших услуг? Ознакомьтесь с примерами нашей работы!<br> Продвижение группы в социальных сетях как ради повышения узнаваемости бренда, так<br> и в поисках новых клиентов для нас не проблема!

			.wrap-cases

				.wrap-case
					.case-content
						.title 
							span Сайт: Интернет-магазин бытовой техники

						.wrap-top-info
							ul
								li
									span.accent-text Тематика проекта: 
									| ювелирные изделия
								li
									span.accent-text Регион продвижения: 
									| Минск
								li
									span.accent-text Результат по трафику: 
									| разгон с 250 до 3000 чел/мес

						.wrap-img.img-resp
							img.lazyload(data-src="img/case-diagram.svg", alt="")

						.wrap-bottom-info
							ul
								li 
									span.text Запрос 
									.cells
										span.cell
											img.lazyload(data-src="img/google-logo.svg") 
										span.cell
											img.lazyload(data-src="img/yandex-logo-2.svg") 

								li 
									span.text Ювелирная мастерская  
									.cells
										span.cell 5
										span.cell 10

								li 
									span.text Ремонт ювелирных изделий в две строки
									.cells
										span.cell 5
										span.cell 10

								li 
									span.text Ювелирная мастерская
									.cells
										span.cell 5
										span.cell 10

								li 
									span.text Ювелирная мастерская 
									.cells
										span.cell 5
										span.cell 10

								li 
									span.text Запрос 
									.cells
										span.cell 5
										span.cell 10

				.wrap-case
					.case-content
						.title 
							span Сайт: Интернет-магазин бытовой техники в две строки

						.wrap-top-info
							ul
								li
									span.accent-text Тематика проекта: 
									| ювелирные изделия
								li
									span.accent-text Регион продвижения: 
									| Минск
								li
									span.accent-text Результат по трафику: 
									| разгон с 250 до 3000 чел/мес скорее всего в две строки

						.wrap-img.img-resp
							img.lazyload(data-src="img/case-diagram.svg", alt="")

						.wrap-bottom-info
							ul
								li 
									span.text Запрос 
									.cells
										span.cell
											img.lazyload(data-src="img/google-logo.svg") 
										span.cell
											img.lazyload(data-src="img/yandex-logo-2.svg") 

								li 
									span.text Ювелирная мастерская  
									.cells
										span.cell 5
										span.cell 10

								li 
									span.text Ремонт ювелирных изделий в две строки
									.cells
										span.cell 5
										span.cell 10

								li 
									span.text Ювелирная мастерская
									.cells
										span.cell 5
										span.cell 10

								li 
									span.text Ювелирная мастерская 
									.cells
										span.cell 5
										span.cell 10

								li 
									span.text Запрос 
									.cells
										span.cell 5
										span.cell 10
			
				.wrap-case
					.case-content
						.title 
							span Сайт: Интернет-магазин бытовой техники

						.wrap-top-info
							ul
								li
									span.accent-text Тематика проекта: 
									| ювелирные изделия
								li
									span.accent-text Регион продвижения: 
									| Минск
								li
									span.accent-text Результат по трафику: 
									| разгон с 250 до 3000 чел/мес

						.wrap-img.img-resp
							img.lazyload(data-src="img/case-diagram.svg", alt="")

						.wrap-bottom-info
							ul
								li 
									span.text Запрос 
									.cells
										span.cell
											img.lazyload(data-src="img/google-logo.svg") 
										span.cell
											img.lazyload(data-src="img/yandex-logo-2.svg") 

								li 
									span.text Ювелирная мастерская  
									.cells
										span.cell 5
										span.cell 10

								li 
									span.text Ремонт ювелирных изделий в две строки
									.cells
										span.cell 5
										span.cell 10

								li 
									span.text Ювелирная мастерская
									.cells
										span.cell 5
										span.cell 10

								li 
									span.text Ювелирная мастерская 
									.cells
										span.cell 5
										span.cell 10

								li 
									span.text Запрос 
									.cells
										span.cell 5
										span.cell 10
								
				.wrap-case
					.case-content
						.title 
							span Сайт: Интернет-магазин бытовой техники

						.wrap-top-info
							ul
								li
									span.accent-text Тематика проекта: 
									| ювелирные изделия
								li
									span.accent-text Регион продвижения: 
									| Минск
								li
									span.accent-text Результат по трафику: 
									| разгон с 250 до 3000 чел/мес

						.wrap-img.img-resp
							img.lazyload(data-src="img/case-diagram.svg", alt="")

						.wrap-bottom-info
							ul
								li 
									span.text Запрос 
									.cells
										span.cell
											img.lazyload(data-src="img/google-logo.svg") 
										span.cell
											img.lazyload(data-src="img/yandex-logo-2.svg") 

								li 
									span.text Ювелирная мастерская  
									.cells
										span.cell 5
										span.cell 10

								li 
									span.text Ремонт ювелирных изделий в две строки
									.cells
										span.cell 5
										span.cell 10

								li 
									span.text Ювелирная мастерская
									.cells
										span.cell 5
										span.cell 10

								li 
									span.text Ювелирная мастерская 
									.cells
										span.cell 5
										span.cell 10

								li 
									span.text Запрос 
									.cells
										span.cell 5
										span.cell 10

				.wrap-case
					.case-content
						.title 
							span Сайт: Интернет-магазин бытовой техники

						.wrap-top-info
							ul
								li
									span.accent-text Тематика проекта: 
									| ювелирные изделия
								li
									span.accent-text Регион продвижения: 
									| Минск
								li
									span.accent-text Результат по трафику: 
									| разгон с 250 до 3000 чел/мес

						.wrap-img.img-resp
							img.lazyload(data-src="img/case-diagram.svg", alt="")

						.wrap-bottom-info
							ul
								li 
									span.text Запрос 
									.cells
										span.cell
											img.lazyload(data-src="img/google-logo.svg") 
										span.cell
											img.lazyload(data-src="img/yandex-logo-2.svg") 

								li 
									span.text Ювелирная мастерская  
									.cells
										span.cell 5
										span.cell 10

								li 
									span.text Ремонт ювелирных изделий в две строки
									.cells
										span.cell 5
										span.cell 10

								li 
									span.text Ювелирная мастерская
									.cells
										span.cell 5
										span.cell 10

								li 
									span.text Ювелирная мастерская 
									.cells
										span.cell 5
										span.cell 10

								li 
									span.text Запрос 
									.cells
										span.cell 5
										span.cell 10
					
				.wrap-case
					.case-content
						.title 
							span Сайт: Интернет-магазин бытовой техники

						.wrap-top-info
							ul
								li
									span.accent-text Тематика проекта: 
									| ювелирные изделия
								li
									span.accent-text Регион продвижения: 
									| Минск
								li
									span.accent-text Результат по трафику: 
									| разгон с 250 до 3000 чел/мес

						.wrap-img.img-resp
							img.lazyload(data-src="img/case-diagram.svg", alt="")

						.wrap-bottom-info
							ul
								li 
									span.text Запрос 
									.cells
										span.cell
											img.lazyload(data-src="img/google-logo.svg") 
										span.cell
											img.lazyload(data-src="img/yandex-logo-2.svg") 

								li 
									span.text Ювелирная мастерская  
									.cells
										span.cell 5
										span.cell 10

								li 
									span.text Ремонт ювелирных изделий в две строки
									.cells
										span.cell 5
										span.cell 10

								li 
									span.text Ювелирная мастерская
									.cells
										span.cell 5
										span.cell 10

								li 
									span.text Ювелирная мастерская 
									.cells
										span.cell 5
										span.cell 10

								li 
									span.text Запрос 
									.cells
										span.cell 5
										span.cell 10

				.wrap-btn-large-yellow.view-more
					.btn(href="#") 
						span Показать еще
							<svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M22.3379 1.91001C21.8869 1.81224 21.4433 2.1025 21.3467 2.55794L20.7401 5.41816C18.8086 2.08908 15.2633 0 11.3777 0C5.39369 0 0.525391 4.91846 0.525391 10.9643C0.525391 11.43 0.89911 11.8077 1.36018 11.8077C1.82119 11.8077 2.19497 11.43 2.19497 10.9643C2.19497 5.84863 6.31429 1.68681 11.3777 1.68681C14.6787 1.68681 17.6897 3.46828 19.3199 6.30481L16.5367 5.70222C16.0858 5.60459 15.6421 5.89479 15.5456 6.35022C15.449 6.80566 15.7362 7.25408 16.187 7.35165L20.9644 8.386C21.0455 8.40361 21.1279 8.40867 21.2092 8.40179C21.3446 8.39025 21.4766 8.34538 21.5928 8.26941C21.7787 8.14789 21.9092 7.95674 21.9556 7.73806L22.9794 2.91136C23.0759 2.45599 22.7887 2.00771 22.3379 1.91001Z" fill="white"/>
								<path d="M21.498 9.85881C21.0372 9.8742 20.6759 10.2641 20.6912 10.7295C20.7721 13.2063 19.8936 15.5666 18.2174 17.3758C16.5412 19.1849 14.268 20.2264 11.8166 20.3082C11.7144 20.3116 11.6128 20.3132 11.511 20.3132C8.31235 20.3131 5.36574 18.6347 3.70164 15.9154L6.60317 16.7015C7.04848 16.822 7.50627 16.5552 7.62568 16.1052C7.74509 15.6553 7.4809 15.1928 7.03559 15.0721L2.31642 13.7937C2.10258 13.7359 1.87465 13.7661 1.68298 13.8779C1.49118 13.9896 1.35127 14.1739 1.2939 14.3899L0.0286919 19.1579C-0.0907164 19.6078 0.173478 20.0703 0.618788 20.191C0.691248 20.2106 0.763908 20.2201 0.8355 20.2201C1.20401 20.2201 1.54133 19.9715 1.64131 19.5948L2.35248 16.915C4.33087 20.0624 7.77454 22.0002 11.5106 22.0001C11.6306 22.0001 11.7513 21.9981 11.8718 21.994C14.7689 21.8973 17.4554 20.6666 19.4364 18.5285C21.4174 16.3905 22.4556 13.601 22.3599 10.6739C22.3447 10.2085 21.9586 9.84228 21.498 9.85881Z" fill="white"/>
								</svg>


