section.smm-rates.sec-page
	.container
	
		.smm-rates-content
			.wrap-title
				span.title Тарифы
				span.subtitle Выберите социальные сети, в которых хотите продвигаться

			.wrap-items
				.item.item-vk
					.top-line
						.wrap-icon
							img.lazyload(data-src="img/icon-vk.svg")
						.label
							span Вконтакте

					.content
						.content-item
							span.title Ведение
							.wrap-price
								span.price 300 BYN
								span.other-price  (150$)

						.content-item
							span.title Реклама
							.wrap-price
								| от  
								span.price 300 BYN
								span.other-price  (150$)

						.wrap-btn.wrap-btn-blue
							a.btn(href="#") Выбрать

				.item.item-fb
					.top-line
						.wrap-icon
							img.lazyload(data-src="img/icon-fb.svg")
						.label
							span facebook

					.content
						.content-item
							span.title Ведение
							.wrap-price
								span.price 300 BYN
								span.other-price  (150$)

						.content-item
							span.title Реклама
							.wrap-price
								| от  
								span.price 300 BYN
								span.other-price  (150$)

						.wrap-btn.wrap-btn-blue
							a.btn(href="#") Выбрать

				.item.item-ok
					.top-line
						.wrap-icon
							img.lazyload(data-src="img/icon-ok.svg")
						.label
							span одноклассники

					.content
						.content-item
							span.title Ведение
							.wrap-price
								span.price 300 BYN
								span.other-price  (150$)

						.content-item
							span.title Реклама
							.wrap-price
								| от  
								span.price 300 BYN
								span.other-price  (150$)

						.wrap-btn.wrap-btn-blue
							a.btn(href="#") Выбрать

				.item.item-insta
					.top-line
						.wrap-icon
							img.lazyload(data-src="img/icon-insta.svg")
						.label
							span instagramm

					.content
						.content-item
							span.title Ведение
							.wrap-price
								span.price 300 BYN
								span.other-price  (150$)

						.content-item
							span.title Реклама
							.wrap-price
								| от  
								span.price 300 BYN
								span.other-price  (150$)

						.wrap-btn.wrap-btn-blue
							a.btn(href="#") Выбрать



							
							
							