section.sec-scope-works.sec-page
	.container

		.sec-scope-works-content

			.wrap-title
				span.title Состав работ<br> в «Webcompany»

			.wrap-list-line
				ul
					li
						.arrow
						span.title Подготовка и старт продвижения <br> в социальных сетях
						ul
							li Анализ бизнеса клиента
							li Анализ конкурентов
							li Подготовка маркетинговой стратегии
							li Подготовка контент-плана и медиа-плана
							li Обновление/создание сообществ в выбранных социальных сетях

					li
						.arrow
						span.title Наполнение сообществ
						ul
							li Наполнение стартовым контентом (посты, которые нужны, чтобы <br> группа не выглядела «голой»)
							li Оформление блока ссылок на внешние ресурсы компании (дополнительный <br> стимул для SEO)
							li Оформление меню/прикрепленного поста
							li От 2 до 5 постов ежедневно (в выходные – 1-2 поста)
							li Проведение специальных событий (конкурсов, розыгрышей и т.д.)

					li
						.arrow
						span.title Рекламная компания
						ul
							li Составление портретов целевых групп
							li Составление рекламных объявлений (продающие тексты + графика)
							li Запуск таргетированной рекламной кампании («ВКонтакте», Facebook, «Одноклассники»). Размещение вирусных постов в популярных тематических сообществах («ВКонтакте», «Одноклассники», Instagram) (постинг)
							li Публикация постов в аккаунтах лидеров мнений (Facebook, Instagram) и блоггеров

					li
						.arrow
						span.title Коммуникация
						ul
							li Мониторинг и реакция на комментарии в созданных сообществах
							li Мониторинг и реакция на сообщения пользователей на личных страничках <br> и в других сообществах (с использованием инструментов автоматического мониторинга)
							li Поддержка пользовательской активности в группах, комментарии от бренда <br> и администраторов, «подогревающие» обсуждения
							li Доп. опция: корректировка репутации в поисковой выдаче и на сайтах с отзывами

					li
						.arrow
						span.title Анализ и корректировка
						ul
							li Анализ результативности раскрутки в соцсетях, таргетинговых <br> и постинговых объявлений
							li Оптимизация рекламных кампаний, перераспределение бюджетов <br> в пользу наиболее эффективных
							li Анализ обратной связи по рубрикам контента
							li Корректировка контент-плана, добавление новых рубрик

					li
						.arrow
						span.title Составление клиентских отчетов
						ul
							li Проверка соответствия демографических и других характеристик сообществ портретам целевых групп клиента (контроль качества SMM-продвижения)
							li Анализ трафика из соц. сетей с использованием Яндекс.Метрики и Google Analytics
							li Предоставление рекомендаций по устранению проблем в конверсионной воронке для трафика из соц.медиа
							li Отчет по результатам рекламных кампаний по ключевым показателям (CTR, конверсии)
							li Отчет по наиболее и наименее популярным темам рубрикатора


