section.smm-plus.sec-page
	.container
	
		.smm-plus-content

			.wrap-blue-items-circle
				.item
					.wrap-icon
						img.lazyload(data-src="img/seo-plus-1.svg", alt="")
					.item-text
						p.text Давайте рекламу на самых<br> посещаемых сайтах Рунета

				.item
					.wrap-icon
						img.lazyload(data-src="img/seo-plus-2.svg", alt="")
					.item-text
						p.text Ведите прямой диалог<br> с клиентами с помощью опытного<br> SMM-агентства

				.item
					.wrap-icon
						img.lazyload(data-src="img/seo-plus-3.svg", alt="")
					.item-text
						p.text Получите источник качественного<br> трафика на ваш сайт

				.item
					.wrap-icon
						img.lazyload(data-src="img/seo-plus-4.svg", alt="")
					.item-text
						p.text Ваши конкуренты уже<br> занимаются раскруткой<br> в социальных сетях!