section.bitrix-why-we.sec-page.img-bg(style="background-image: url('img/bitrix-plus-bg.jpg')")
	.container

		.bitrix-why-we-content
	
			.wrap-title
				span.title Почему продвижение в социальных сетях стоит <br> доверить нам?

			.wrap-text.wrap-scrollbar.mCustomScrollbar
				.text-group
					span С нами приятно работать
					p Средняя продолжительность сотрудничества <br> с клиентами - 15 мес.
					span Снижаем затраты на рекламу в соцсетях
					p Нет комиссии с рекламных бюджетов; постоянное <br> снижение стоимости подписчика/перехода
					span Отвечаем за результат
					p Отчитываемся по достижению утвержденных с Вами <br> KPI; профессиональная команда в штате; состав работ <br> в договоре.

				.text-group
					span Настраиваем репутацию
					p Реагируем на каждое сообщение Ваших подписчиков; <br> следим за упоминаниями компании в Сети
					span Уникальные технологии продвижения
					p Собственная система мониторинга, разработка <br> уникального контента, собственная база трафика.
					span Понятная аналитика и прозрачные отчеты
					p Работаем с системами аналитики, бесплатная настройка <br> Метрики, любые форматы
