.wrap-text
	.wrap-icon.wrap-img
		img(src="img/icon-check-1.svg", alt="")
	p Ваш заказ 
		em №1951 
		| от 20.04.2018 10:34:47 успешно создан.	Номер вашей оплаты: 
		em №1951/1	
	p Вы можете следить за выполнением своего заказа в 
		a(href="#") Персональном разделе сайта.
		|  Обратите внимание, что<br> для входа в этот раздел вам необходимо будет ввести логин и пароль пользователя сайта.

.wrap-info
	span.title Оплата заказа

	.type-cash
		.wrap-icon
			img(src="img/option-cash-1.svg", alt="")
		span Яндекс.Деньги
	
	p Услугу предоставляет сервис онлайн-платежей «Яндекс.Касса».

	em Сумма к оплате по счету: 7 680 руб.

	.wrap-btn
		a(href="#").btn.btn-blue
			span.text Оплатить
		span Вы будете перенаправленны на страницу оплаты

	span.bottom-text 
		em Обратите внимание: 
		| если вы откажетесь от покупки, для возврата денег вам придется обратиться в магазин.

