.main-banner
	padding: px-to-rem(75, 24) 0 px-to-rem(125, 24)

	+media(xxl)
		padding: px-to-rem(60, 22) 0 px-to-rem(100, 22)

	&__greeting
		color: $dove-gray
		margin-bottom: px-to-rem(58, 24)

		+media(xxl)
			margin-bottom: px-to-rem(45, 22)
	
	&__title
		margin-bottom: px-to-rem(64, 24)

		+media(xxl)
			margin-bottom: px-to-rem(40, 22)

		+media(none, 1290px)
			br
				display: none

		+media(sm)
			margin-bottom: 1.3em

		+media(none, 480px)
			font-size: 10vw
			line-height: 14.5vw
	
	&__btn-video
		display: inline-flex
		align-items: center
		cursor: pointer

		&:hover
			.main-banner__btn-video-play
				box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3)

			.main-banner__btn-video-text
				transform: translate(-5px, 0)

		&-play
			width: px-to-rem(80, 24)
			position: relative
			flex-shrink: 0
			border-radius: 50%
			background: linear-gradient(213.98deg, #56BCF4 14.55%, #17A5F4 81.9%)
			margin-right: px-to-rem(27, 24)
			transition: .3s all ease

			&:before, &:after
				content: ''

			&:before
				position: absolute
				top: 50%
				left: calc(50% + 13px)
				transform: translate(-50%, -50%) scale(1, .7)
				border: 21px solid transparent
				border-left-color: #fff

			&:after
				padding-top: 100%
				width: 100%
				display: block

		&-text
			transition: .4s all ease