.main-banner
	.container

		span.main-banner__greeting.d-block Welcome to the new web-studio from Minsk, Belarus

		span.main-banner__title.title-h1.section-title We specialize<br class="d-inline-block-480"> in <span class="highlighted-text"> UX/UI, mobile<br class="d-inline-block-480"> & <br class="d-none-xl d-inline-block-1500"> web design, development</span><br class="d-inline-block-480"> for the <br class="d-none-xl d-inline-block-1500"> startups, individuals,<br class="d-inline-block-480"> brands and<br class="d-inline-block-480"> corporations.

		span.main-banner__btn-video
			span.main-banner__btn-video-play
			span.main-banner__btn-video-text.text-medium Showreel

		//- a(href="#", data-text="Take a look what we do").main-banner__btn.btn
		//- 	span.btn__overlay
		//- 	span.btn__text Take a look what we do