.row-other-products
	.top-line
		span.title С этим товаром обычно покупают

	.wrap-products-cards.wrap-products-cards-index.other-products-slider
		.wrap-card.bonus-action
			.card
				a(href="#").wrap-img-product
					img(src="img/product-3.png", alt="")
				a(href="#").title Многофункциональное<br>устройство Epson WorkForce 
				span.old-price 270,20 руб.
				span.wrap-cur-price
					span.cur-price 250,00 руб.
					span.save-prise Экономия 2,99
				.wrap-actions
					.action.action-set
						.icon.icon-set
							include ../../../img/icon-heart.svg
					.action.action-compare
						.icon.icon-compare
							include ../../../img/icon-diagram.svg
					span.btn-product.btn-white 
						span.text-before-add В корзину
						span.text-after-add В корзине

		.wrap-card.bonus-new
			.card
				a(href="#").wrap-img-product
					img(src="img/product-1.png", alt="")
				a(href="#").title Многофункциональное<br>устройство Epson WorkForce 
				span.old-price 270,20 руб.
				span.wrap-cur-price
					span.cur-price 250,00 руб.
					span.save-prise Экономия 2,99
				.wrap-actions
					.action.action-set
						.icon.icon-set
							include ../../../img/icon-heart.svg
					.action.action-compare
						.icon.icon-compare
							include ../../../img/icon-diagram.svg
					span.btn-product.btn-white 
						span.text-before-add В корзину
						span.text-after-add В корзине

		.wrap-card
			.card
				a(href="#").wrap-img-product
					img(src="img/product-3.png", alt="")
				a(href="#").title Многофункциональное<br>устройство Epson WorkForce 
				span.old-price 270,20 руб.
				span.wrap-cur-price
					span.cur-price 250,00 руб.
					span.save-prise Экономия 2,99
				.wrap-actions
					.action.action-set
						.icon.icon-set
							include ../../../img/icon-heart.svg
					.action.action-compare
						.icon.icon-compare
							include ../../../img/icon-diagram.svg
					span.btn-product.btn-white 
						span.text-before-add В корзину
						span.text-after-add В корзине
						
		.wrap-card
			.card
				a(href="#").wrap-img-product
					img(src="img/product-1.png", alt="")
				a(href="#").title Многофункциональное<br>устройство Epson WorkForce 
				span.old-price 270,20 руб.
				span.wrap-cur-price
					span.cur-price 25 руб.
					span.save-prise Экономия 2,99
				.wrap-actions
					.action.action-set
						.icon.icon-set
							include ../../../img/icon-heart.svg
					.action.action-compare
						.icon.icon-compare
							include ../../../img/icon-diagram.svg
					span.btn-product.btn-white 
						span.text-before-add В корзину
						span.text-after-add В корзине

		.wrap-card
			.card
				a(href="#").wrap-img-product
					img(src="img/product-1.png", alt="")
				a(href="#").title Многофункциональное<br>устройство Epson WorkForce 
				span.old-price 270,20 руб.
				span.wrap-cur-price
					span.cur-price 2 руб.
					span.save-prise Экономия 2,99
				.wrap-actions
					.action.action-set
						.icon.icon-set
							include ../../../img/icon-heart.svg
					.action.action-compare
						.icon.icon-compare
							include ../../../img/icon-diagram.svg
					span.btn-product.btn-white 
						span.text-before-add В корзину
						span.text-after-add В корзине

		.wrap-card.bonus-full
			.card
				a(href="#").wrap-img-product
					img(src="img/product-1.png", alt="")
				a(href="#").title Многофункциональное<br>устройство Epson WorkForce 
				span.old-price 270,20 руб.
				span.wrap-cur-price
					span.cur-price 250,00 руб.
					span.save-prise Экономия 2,99
				.wrap-actions
					.action.action-set
						.icon.icon-set
							include ../../../img/icon-heart.svg
					.action.action-compare
						.icon.icon-compare
							include ../../../img/icon-diagram.svg
					span.btn-product.btn-white 
						span.text-before-add В корзину
						span.text-after-add В корзине


