nav.mobile-menu
	ul
		div.title-dropdown-menu
			span Главное меню

		div.mobile-menu_close.btn-close.mm-nolistview

		div.mobile-menu_header.mm-nolistview
			a(href="#", data-izimodal-open=".modal-sing-in")
				.wrap-icon.responsive-img
					img(src="img/icon_user.svg", alt="")
				span Войти


		li.main-item
			a(href="#") мужчины
			ul
				li.has-dropdown
					span
						span.submenu-dropdown-title Одежда
						ul.submenu-dropdown.mm-nolistview
							li
								a(href="#") Вся одежда
							li
								a(href="#") Обувь зимняя
							li
								a(href="#") Обувь летняя
							li
								a(href="#") Куртки
							li
								a(href="#") Головные уборы
						
				li.has-dropdown
					span
						span.submenu-dropdown-title Одежда
						ul.submenu-dropdown.mm-nolistview
							li
								a(href="#") Вся одежда
							li
								a(href="#") Обувь зимняя
							li
								a(href="#") Обувь летняя
							li
								a(href="#") Куртки
							li
								a(href="#") Головные уборы
						
				li
					a(href="#") Аксессуары
				li
					a(href="#") Женщинам

				li.has-dropdown
					span
						span.submenu-dropdown-title Мужчинам
						ul.submenu-dropdown.mm-nolistview
							li
								a(href="#") Вся одежда
							li
								a(href="#") Обувь зимняя
							li
								a(href="#") Обувь летняя
							li
								a(href="#") Куртки
							li
								a(href="#") Головные уборы
						
				li
					a(href="#") Детям

		li.main-item
			a(href="#") Модальные окна
			ul
				li
					a(href="#", data-izimodal-open=".modal-simple-recovery-password") Простое восст. пароля
				li
					a(href="#", data-izimodal-open=".modal-email-recovery-password") Email восст. пароля
				li
					a(href="#", data-izimodal-open=".modal-success-recovery-password") Успешное восст. пароля
				li
					a(href="#", data-izimodal-open=".modal-registration") Регистрация
				li
					a(href="#", data-izimodal-open=".modal-sing-in") Авторизация
				li
					a(href="#", data-izimodal-open=".modal-thanks") Спасибо
				li
					a(href="#", data-izimodal-open=".modal-remove-address-question") Удалить адрес?
				li
					a(href="#", data-izimodal-open=".modal-testimonial") Оставить отзыв
				li
					a(href="#", data-izimodal-open=".modal-add-address") Добавить адресс


		li.main-item
			a(href="#") мужчины
			ul
				li
					a(href="#") Обувь
				li
					a(href="#") Одежда
				li
					a(href="#") Аксессуары
				li
					a(href="#") Мужчинам
				li
					a(href="#") Женщинам
				li
					a(href="#") Людям

		li.main-item
			a(href="#") мужчины
			ul
				li
					a(href="#") Обувь
				li
					a(href="#") Одежда
				li
					a(href="#") Аксессуары
				li
					a(href="#") Мужчинам
				li
					a(href="#") Женщинам
				li
					a(href="#") Людям

		li.main-item
			a(href="#") мужчины
			ul
				li
					a(href="#") Обувь
				li
					a(href="#") Одежда
				li
					a(href="#") Аксессуары
				li
					a(href="#") Мужчинам
				li
					a(href="#") Женщинам
				li
					a(href="#") Людям


		div.mobile-menu_phone.mm-nolistview
			a.text-fw-bold(href="tel:375291906669") +375 (29) 190-66-69

		div.mobile-menu_form.mm-nolistview
			form
				.wrap-field.wrap-field-search
					input.text-gray.text-medium(type="text", placeholder="Поиск по сайту")
					button(type="submit").btn-search





