.wrap-article
	position: relative

	article
		display: flex
		.wrap-info
			padding-right: 60px
			padding-top: 40px
		.img-hidden
			display: none
			margin-bottom: 20px
			img
				margin: 0 auto
				display: block
				width: 100%
				height: auto
		.img-visible
			img
				width: 690px
				display: block
				height: auto
				margin-right: -370px
		h1
			font-size: 31px
			margin-top: 10px
			line-height: 38px
		.data
			display: block
			color: $text
			margin-bottom: 16px
			margin-top: 6px
		p
			margin-bottom: 10px
			color: #000
			line-height: 23px
			&:last-child
				margin-bottom: 0

@media (max-width: 1600px)
	.wrap-article
		article
			.img-visible
				img
					width: 600px
					margin-right: -240px

@media (max-width: 1440px)
	.wrap-article
		article
			.img-visible
				img
					margin-right: -150px


+media(xl)
	.wrap-article
		article
			.wrap-info
				padding-right: 35px
				padding-top: 25px
				p
					font-size: 14px
					line-height: 19px
			.img-visible
				img
					width: 450px
					margin-right: -125px
	

+media(lg)
	.wrap-article
		article
			.img-visible
				display: none
			.wrap-info
				padding: 0
			.img-hidden
				display: block
			.top-info
				display: flex
				justify-content: space-between
				align-items: center
				margin: 10px 0 15px
				h1
					width: 80%
					line-height: 35px
				> *
					margin: 0

+media(md)
	.wrap-article
		article
			.top-info
				h1
					font-size: 28px
		

+media(sm)
	.wrap-article
		article
			.img-visible
				display: none
			.wrap-info
				padding: 0
			.img-hidden
				display: block
			.top-info
				display: block
				h1
					width: 100%
					margin-bottom: 5px
					line-height: 29px

