.card-data.wrap-products-cards
	span.product-name Смартфон Samsung Galaxy S8 (мистический аметист)

	.card-data-content
		.wrap-product-card-imgs
			.wrap-main-slider.bonus-action.modal-show(data-modal-key="product-img-slider")
				.slider
					.wrap-img-slider
						img(src="img/big-img-1.png", alt="")
					.wrap-img-slider
						img(src="img/big-img-1.png", alt="")
					.wrap-img-slider
						img(src="img/big-img-1.png", alt="")
					.wrap-img-slider
						img(src="img/big-img-1.png", alt="")
					.wrap-img-slider
						img(src="img/big-img-1.png", alt="")

			.wrap-main-slider-dots

			.wrap-slider-thumb
				.slider
					.wrap-img-slider
						img(src="img/small-img-1.png", alt="")
					.wrap-img-slider
						img(src="img/small-img-1.png", alt="")
					.wrap-img-slider
						img(src="img/small-img-1.png", alt="")
					.wrap-img-slider
						img(src="img/small-img-1.png", alt="")
					.wrap-img-slider
						img(src="img/small-img-1.png", alt="")
				.wrap-nav

		.wrap-data
			.data-group
				span.list-title Краткое описание товара
				ul.data-list
					li Операционная система:
						span Android
					li Встроенная память, в гигабайтах:
						span 64
					li Оперативная память, в гигабайтах:
						span 4
					li Диагональ экрана, в дюймах:
						span 5.8
					li Емкость аккумулятора, в миллиампер в час:
						span 3000
					span.show-more Все характеристики

			.data-group.data-group-other-info
				.group
					span.vendor-code Артикуль:
						span 3356528
					span.status Нет в наличии
				
			span.btn-report.modal-show(data-modal-key="report-me") Сообщить о поступлении
			