.wrap-customer-data-bar
	.customer-data-bar-content.element-shadow-static
		
		.selected-products
			span.text-fw-bold Ваш заказ (2)

			ul.wrap-product-card.selected-products-list

				li.wrap-product-card.selected-product
					a(href="#").wrap-img.product-img.product-img-border
						img(src="img/form-img-2.png", alt="")

					.wrap-product-data
						span.brand.text-gray.text-fw-bold.text-small #Reebok Sport скорее всего будет в две строки
						a(href="#").product-name.text-medium.text-fw-bold Спортивная футболка Activchil Graphic Move
						span.text-medium.total-count 2 шт.
						.wrap-price
							span.cur-price.text-fw-bold 172.90 руб.
				
				li.wrap-product-card.selected-product
					a(href="#").wrap-img.product-img.product-img-border
						img(src="img/form-img-1.jpg", alt="")
							
					.wrap-product-data
						span.brand.text-gray.text-fw-bold.text-small #Reebok Sport
						a(href="#").product-name.text-medium.text-fw-bold Спортивная футболка Activchil Graphic Move
						span.text-medium.total-count 2 шт.
						.wrap-price
							span.cur-price.text-fw-bold 172.90 руб.

				li.wrap-product-card.selected-product
					a(href="#").wrap-img.product-img.product-img-border
						img(src="img/form-img-2.png", alt="")
							
					.wrap-product-data
						span.brand.text-gray.text-fw-bold.text-small #Reebok Sport
						a(href="#").product-name.text-medium.text-fw-bold Спортивная футболка Activchil Graphic Move
						span.text-medium.total-count 2 шт.
						.wrap-price
							span.cur-price.text-fw-bold 172.90 руб.
			
				li.wrap-product-card.selected-product
					a(href="#").wrap-img.product-img.product-img-border
						img(src="img/form-img-1.jpg", alt="")
							
					.wrap-product-data
						span.brand.text-gray.text-fw-bold.text-small #Reebok Sport
						a(href="#").product-name.text-medium.text-fw-bold Спортивная футболка Activchil Graphic Move
						span.text-medium.total-count 2 шт.
						.wrap-price
							span.cur-price.text-fw-bold 172.90 руб.

				li.wrap-product-card.selected-product
					a(href="#").wrap-img.product-img.product-img-border
						img(src="img/form-img-2.png", alt="")
							
					.wrap-product-data
						span.brand.text-gray.text-fw-bold.text-small #Reebok Sport
						a(href="#").product-name.text-medium.text-fw-bold Спортивная футболка Activchil Graphic Move
						span.text-medium.total-count 2 шт.
						.wrap-price
							span.cur-price.text-fw-bold 172.90 руб.
			
			.btn-view-all.text-medium.text-fw-bold Все товары

		.box-result-price
			.cur-price.item-price
				em.text-fw-bold Сумма:
				em.text-fw-bold 12 200.20 руб.

			.wrap-action-prices
				.item-price.text-medium
					span Скидка по акциям 
					span.text-red 1 030.30 руб.
				.item-price.text-medium
					span Скидка, промокод
					span.text-red 10 230.30 руб.

			.result-price.item-price
				span.text-medium Итого
				em.text-fw-bold 12 422.20 руб.

			button(type="submit").btn.btn-dark Оформить заказ

