.about-us
	&-content
		display: flex
		justify-content: space-between

	.wrap-mac
		margin-right: 100px
		position: relative
		max-width: 565px
		width: 100%

		iframe
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%

		.wrap-video
			position: absolute
			top: 7%
			left: 50%
			width: 75%
			transform: translate(-50%, 0)
			&::after
				content: ""
				display: block
				width: 100%
				padding-top: 63%

	.page-titles
		text-align: left
		width: 100%
		max-width: 40%
		margin-bottom: 0
		.title
			margin-bottom: 18px

			&::before
				left: 0
				transform: translate(0)

		.subtitle
			margin-bottom: 22px
			&:last-child
				margin-bottom: 0

+media(xl)
	.about-us
		.wrap-mac
			margin-right: 55px

			.wrap-video
				top: 5.5%

		.page-titles
			max-width: 43%


+media(lg)
	.about-us
		&-content
			flex-direction: column

		.wrap-mac
			margin-right: 0
			order: 2
			margin-left: auto
			margin-right: auto
			width: 80%

			.wrap-video
				top: 5.5%

		.page-titles
			max-width: 80%
			order: 1
			margin-left: auto
			margin-right: auto
			margin-bottom: 40px


+media(md)

+media(sm)
	.about-us

		.wrap-mac
			width: 100%
			max-width: 480px

		.page-titles
			width: 100%
			max-width: 480px
			margin-bottom: 40px

