section.about-us.section
	.container

		.about-us-content
			.wrap-mac.resp-img
				img(src="img/macbook.svg", alt="")
				.wrap-video
					span.video-url https://www.youtube.com/watch?v=MQD5wUS0Y6o


			.page-titles
				span.h2.title.title-decor Еще немного о нас

				p.subtitle Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.

				p.subtitle При создании генератора мы использовали небезизвестный универсальный код речей.

