//Footer BEGIN
footer.footer
	picture
		source(media="(min-width: 1280px)" srcset="" data-srcset="img/footer-bg.png")
		source(media="(max-width: 1280px)" srcset="" data-srcset="img/bg-fast.png")
		img.footer__bg.lazy(src="" data-src="img/footer-bg.png" alt="" aria-hidden="true")

	.footer__top
		.wrapper
			.footer__top-inner.footer__inner
				a(href="/" target="_blank" rel="noreferrer").footer__wrap-logo
					img.footer__logo-img(src="img/footer-logo.png" alt="")
					span.logo-upn УНП 192969658

				.footer__top-right
					nav.footer__nav
						ul.footer__nav-list
							li.footer__nav-item.footer__nav-item_current
								a.footer__nav-link(href="/") Главная

							li.footer__nav-item
								a.footer__nav-link(href="#") Услуги

							li.footer__nav-item
								a.footer__nav-link(href="#") Дополнительные  услуги

							li.footer__nav-item
								a.footer__nav-link(href="#") Как подготовить макет

							li.footer__nav-item
								a.footer__nav-link(href="materials.html") Материалы

							li.footer__nav-item
								a.footer__nav-link(href="#") Оплата и доставка

							li.footer__nav-item
								a.footer__nav-link(href="news.html") Новости

							li.footer__nav-item
								a.footer__nav-link(href="contacts.html") Контакты


					ul.footer__contact-list
						li.footer__contact-item
							.footer__contact-item-wrap-icon
								span.footer__contact-item-icon.replace-svg(data-src="img/icon-mobile.svg")
							.footer__contact-item-wrap-text
								a.footer__contact-item-text(href="tel:+375000000000") +375 (33) 333-00-08
								a.footer__contact-item-text(href="tel:+375000000000") +375 (44) 575-50-00

						li.footer__contact-item
							.footer__contact-item-wrap-icon
								span.footer__contact-item-icon.replace-svg(data-src="img/icon-mail.svg")
							.footer__contact-item-wrap-text
								a.footer__contact-item-text(href="mailto:cuttingby@gmail.com") cuttingby@gmail.com

						li.footer__contact-item
							.footer__contact-item-wrap-icon
								span.footer__contact-item-icon.replace-svg(data-src="img/icon-location.svg")
							address.footer__contact-item-text Боровляны, п. Опытный, <br> Центральная, 2А

						li.footer__contact-item.footer__contact-item_accent
							span.footer__contact-item-text Ищите нас<br> в социальных сетях:
							a.footer__contact-item-wrap-icon(href="#" target="_blank")
								span.footer__contact-item-icon.replace-svg(data-src="img/icon-instagram.svg")


	.footer__bottom
		.wrapper
			.footer__bottom-inner.footer__inner

				ul.footer__contact-mobile
					.footer__contact-mobile-wrap-text
						a.footer__contact-mobile-text(href="tel:+375000000000") +375 (33) 333-00-08
						a.footer__contact-mobile-text(href="tel:+375000000000") +375 (44) 575-50-00
					a.footer__contact-mobile-text(href="mailto:cuttingby@gmail.com") cuttingby@gmail.com
					address.footer__contact-mobile-text.footer__contact-mobile-text_full-width Боровляны, п. Опытный, Центральная, 2А


				.footer__bottom-timework
					span.footer__bottom-timework-text.footer__bottom-timework-text_upn УНП 192969658

					span.footer__bottom-timework-title График работы:
					p.footer__bottom-timework-text.footer__bottom-timework-text_time Пн. – Пт.: с 9:00 до 18:00 <em>производство</em><br> Пн. – Вс.: с 9:00 до 21:00 <em>прием заказов</em>


				.footer__copyright-dev
					p.footer__copyright-dev-text.footer__copyright Copyright 2019
					p.footer__copyright-dev-text.footer__dev Разработано <a href="#">Good technologies</a>
//Footer END
