.wrap-header
	header.main-header
		.wrap-menu-2
			ul.menu-2-list
				li.menu-item
					a(href="#") О компании
				li.menu-item
					a(href="#") Партнёрам
				li.menu-item
					a(href="#") Как это работает
				li.menu-item
					a(href="#") Акции
				li.menu-item
					a(href="#") Новости
				li.menu-item
					a(href="#") Вопрос-ответ
				li.menu-item
					a(href="#") Мониторинг пожарной сигнализации
				li.menu-item
					a(href="#") Сервисное обслуживание
				li.menu-item
					a(href="#") Контакты		
		.wrap-menu-icon
			button.menu-icon.icon.hamburger.hamburger--squeeze(type="button")
				span.hamburger-box
					span.hamburger-inner
		.wrap-logo
			a.wrap-logo-img(href="index.html")
				img(src="img/logo.png", alt="Спецстрой").img-resp
			span.sub-text.small-text Системы безопастности
		nav.nav-desktop
			ul.nav-list
				li.menu-item
					a(href="apartment.html", target="_blank") Охрана квартир
					ul.sub-menu
						li
							a(href="#")
								| Загородные дома
						li
							a(href="#")
								| Тревожная сигнализация
						li
							a(href="#")
								| Тревожная сигнализация в две строки
				li.menu-item
					a(href="home.html", target="_blank") Охрана домов
					ul.sub-menu
						li
							a(href="#")
								| Загородные дома
						li
							a(href="#")
								| Тревожная сигнализация
				li.menu-item
					a(href="business.html", target="_blank") Охрана бизнеса
				li.menu-item
					a(href="signaling.html", target="_blank") Тревожная сигнализация
					ul.sub-menu
						li
							a(href="#")
								| Загородные дома
						li
							a(href="#")
								| Тревожная сигнализация
						li
							a(href="#")
								| Тревожная сигнализация								
						li
							a(href="#")
								| Тревожная сигнализация в две строки
				li.menu-item
					a(href="rates.html", target="_blank") Тарифы
					ul.sub-menu
						li
							a(href="#")
								| Охрана бизнеса
						li
							a(href="#")
								| Охрана квартир
						li
							a(href="#")
								| Охрана домов
						li
							a(href="#")
								| Тревожная сигнализация																			
						li
							a(href="#")
								| Тарифы
		.wrap-callback
			.top-line
				.phone-icon
					img.img-resp(src="img/phone_icon.svg", alt="")
				a.tel(href="tel:74957814790") +7 495 781-47-90
			.bottom-line
				button.btn-callback.btn-callback-show.small-text Заказать звонок
		.wrap-header-icons
			.wrap-user
				.wrap-visible-content
					.wrap-icon.user-icon
						img(src="img/user_icon.svg", alt="").img-resp
				.wrap-hidden-content
			.wrap-search
				.wrap-visible-content
					.wrap-icon.search-icon
						img(src="img/search_icon.svg", alt="").img-resp
				.wrap-hidden-content
	nav.nav-mobile
		.container
			ul.nav-list
				li.menu-item.menu-item-has-children
					a(href="apartment.html", target="_blank") Квартиры
					ul.sub-menu
						li
							a(href="#")
								| Загородные дома
						li
							a(href="#")
								| Тревожная сигнализация
						li
							a(href="#")
								| Тревожная сигнализация в две строки
				li.menu-item.menu-item-has-children
					a(href="home.html", target="_blank") Загородные дома
					ul.sub-menu
						li
							a(href="#")
								| Загородные дома
						li
							a(href="#")
								| Тревожная сигнализация
				li.menu-item
					a(href="business.html", target="_blank") Бизнес центры
				li.menu-item.menu-item-has-children
					a(href="signaling.html", target="_blank") Тревожная сигнализация
					ul.sub-menu
						li
							a(href="#")
								| Загородные дома
						li
							a(href="#")
								| Тревожная сигнализация
						li
							a(href="#")
								| Тревожная сигнализация								
						li
							a(href="#")
								| Тревожная сигнализация в две строки
				li.menu-item.menu-item-has-children
					a(href="rates.html", target="_blank") Тарифы
					ul.sub-menu
						li
							a(href="#")
								| Загородные дома
						li
							a(href="#")
								| Квартиры
						li
							a(href="#")
								| Загородные дома
						li
							a(href="#")
								| Квартиры																							
						li
							a(href="#")
								| Тревожная сигнализация
		.wrap-menu-2-mobile
			.container
				ul.menu-2-list
					li.menu-item
						a(href="#") О компании
					li.menu-item
						a(href="#") Партнёрам
					li.menu-item
						a(href="#") Как это работает
					li.menu-item
						a(href="#") Акции
					li.menu-item
						a(href="#") Новости
					li.menu-item
						a(href="#") Вопрос-ответ
					li.menu-item
						a(href="#") Мониторинг пожарной сигнализации
					li.menu-item
						a(href="#") Сервисное обслуживание
					li.menu-item
						a(href="#") Контакты		




