section.sec-dark-callback
	.container

		.sec-content
			.wrap-text
				h3.sec-title Заказать звонок
				span.small-text Оставьте заявку, и наш менеджер перезвонит Вам в течении дня.

			.wrap-form
				form.form.form-callback
					.wrap-field
						input.input.name(type="text", required="required", placeholder="Ваше имя")
					.wrap-field
						input.input.phone(type="tel", required="required", placeholder="+7 ( ___ ) ___ - __ - __")
					.wrap-btn.wrap-btn-acc
						button.btn.btn-callback-send Оставить заявку
