.info-404
	.wrap-img-accent.wrap-img
		img(src="img/404.png", alt="")

	.wrap-text
		span.title Данная страница не найдена или не существует
		span.subtitle Приносим свои извинения. Попробуйте перейти на другую страницу сайта

		.wrap-btns
			a(href="index.html", target="_blank").btn.btn-white
				span.text На главную
			a(href="catalog-list.html", target="_blank").btn.btn-blue
				span.text В каталог


