.wrap-posts

	.wrap-post
		a(href="#").post
			.wrap-img
				img(src="img/article-img-1.jpg", alt="")
			.wrap-text
				span.tags-row Next Level, Pentax, Lego Education
				span.title Honor View 10: смартфон с искусственным интеллектом
				span.data 14 января 2018

	.wrap-post
		a(href="#").post
			.wrap-img
				img(src="img/article-img-3.jpg", alt="")
			.wrap-text
				span.tags-row Next Level
				span.title Техника для экстремальных условий
				span.data 14 января 2018

	.wrap-post
		a(href="#").post
			.wrap-img
				img(src="img/article-img-2.jpg", alt="")
			.wrap-text
				span.tags-row Next Level, Pentax, Lego Education, Видео, Lego Ed
				span.title OPPO F5: фаблет с фантастической фронтальной камерой очень длинное название
				span.data 14 января 2018

	.wrap-post
		a(href="#").post
			.wrap-img
				img(src="img/article-img-3.jpg", alt="")
			.wrap-text
				span.tags-row Next Level, Pentax, Lego Education
				span.title Honor View 10: смартфон с искусственным интеллектом
				span.data 14 января 2018

	.wrap-post
		a(href="#").post
			.wrap-img
				img(src="img/article-img-1.jpg", alt="")
			.wrap-text
				span.tags-row Next Level
				span.title Техника для экстремальных условий
				span.data 14 января 2018

	.wrap-post
		a(href="#").post
			.wrap-img
				img(src="img/article-img-2.jpg", alt="")
			.wrap-text
				span.tags-row Next Level, Pentax, Lego Education, Видео, Lego Ed
				span.title OPPO F5: фаблет с фантастической фронтальной камерой очень длинное название
				span.data 14 января 2018

	.wrap-post
		a(href="#").post
			.wrap-img
				img(src="img/article-img-1.jpg", alt="")
			.wrap-text
				span.tags-row Next Level, Pentax, Lego Education
				span.title Honor View 10: смартфон с искусственным интеллектом
				span.data 14 января 2018

	.wrap-post
		a(href="#").post
			.wrap-img
				img(src="img/article-img-3.jpg", alt="")
			.wrap-text
				span.tags-row Next Level
				span.title Техника для экстремальных условий
				span.data 14 января 2018

	.wrap-post
		a(href="#").post
			.wrap-img
				img(src="img/article-img-2.jpg", alt="")
			.wrap-text
				span.tags-row Next Level, Pentax, Lego Education, Видео, Lego Ed
				span.title OPPO F5: фаблет с фантастической фронтальной камерой очень длинное название
				span.data 14 января 2018

	.wrap-post
		a(href="#").post
			.wrap-img
				img(src="img/article-img-3.jpg", alt="")
			.wrap-text
				span.tags-row Next Level, Pentax, Lego Education
				span.title Honor View 10: смартфон с искусственным интеллектом
				span.data 14 января 2018

	.wrap-post
		a(href="#").post
			.wrap-img
				img(src="img/article-img-1.jpg", alt="")
			.wrap-text
				span.tags-row Next Level
				span.title Техника для экстремальных условий
				span.data 14 января 2018

	.wrap-post
		a(href="#").post
			.wrap-img
				img(src="img/article-img-2.jpg", alt="")
			.wrap-text
				span.tags-row Next Level, Pentax, Lego Education, Видео, Lego Ed
				span.title OPPO F5: фаблет с фантастической фронтальной камерой очень длинное название
				span.data 14 января 2018