.success-msg.mobile-msg
	span Вы заказывали в нашем интернет-магазине, поэтому мы заполнили все данные автоматически.<br> Если все заполнено верно, нажмите кнопку "Оформить заказ".

.wrap-groups-fields.wrap-form
	.success-msg.desktop-msg
		span Вы заказывали в нашем интернет-магазине, поэтому мы заполнили все данные автоматически.<br> Если все заполнено верно, нажмите кнопку "Оформить заказ".

	form.form

		.checkout-stage.checkout-stage-error
			.top-line
				span.title
					.wrap-icon.icon-static
						img(src="img/icon-map.svg", alt="")
					.wrap-icon.icon-success
						img(src="img/icon-success-2.svg", alt="")
					.wrap-icon.icon-error
						img(src="img/icon-warning.svg", alt="")
					span.text Регион доставки
				
				span.btn-change-data изменить

			.stage-content
				.stage-content-part
					span.label Тип плательщика
					label.field-radio(for="rdch1")
						input(type="radio", name="customRadioCheckout", id="rdch1", checked="checked")
						.box
						span.field-text Физическое лицо
					label.field-radio(for="rdch2")
						input(type="radio", name="customRadioCheckout", id="rdch2", )
						.box
						span.field-text Юридическое лицо
				
				.stage-content-part
					span.label Местоположение *
					.wrap-field.wrap-field-search
						.icon-search.icon
							img(src="img/icon-search.svg", alt="")
						input.field(type="text", placeholder="Введите название…")
						.icon-clear.icon
							img(src="img/icon-cross.svg", alt="")

					span.label Индекс *
					.wrap-field
						input.field(type="text", value="220117")
						span.about-field Выберите свой город в списке. Если вы не нашли свой город, выберите "другое местоположение", а город впишите в поле "Город"

				.bottom-line
					span.btn-gray
						span.text Назад
					span.btn-blue
						span.text Далее

			.content-result
				.error-msg
					span Поле "Местоположение" обязательно для заполнения
					span Поле "Индекс" обязательно для заполнения
				.wrap-result-data
					span 
						em Тип плательщика: 
						| Физическое лицо
					span 
						em Местоположение: 
						| не указано
					span 
						em Индекс: 
						| не указано

		.checkout-stage.checkout-stage-success
			.top-line
				span.title
					.wrap-icon.icon-static
						img(src="img/icon-delivery.svg", alt="")
					.wrap-icon.icon-success
						img(src="img/icon-success-2.svg", alt="")
					.wrap-icon.icon-error
						img(src="img/icon-warning.svg", alt="")
					span.text Доставка
				
				span.btn-change-data изменить

			.stage-content.stage-content-big-radio
				.stage-content-part
					
					.wrap-radio-big
						label.field-radio-big(for="del1")
							input(type="radio", name="customRadioDeliery", id="del1", checked="checked")
							.box
								.wrap-icon
									<svg width="46" height="29" viewBox="0 0 46 29" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M42.7799 12.2941L41.5887 7.54529C41.9143 7.47634 42.1587 7.18837 42.1587 6.84337V6.0777C42.1587 4.41528 40.8016 3.06285 39.1337 3.06285H33.7078V1.48352C33.7078 0.665471 33.0401 -3.1698e-07 32.2193 -3.1698e-07H4.56156C3.74074 -3.1698e-07 3.07302 0.665471 3.07302 1.48352V14.5001C3.07302 14.8965 3.39547 15.218 3.7933 15.218C4.19104 15.218 4.51358 14.8966 4.51358 14.5001V1.48352C4.51358 1.4571 4.53505 1.4357 4.56156 1.4357H32.2192C32.2457 1.4357 32.2672 1.4571 32.2672 1.48352V14.5003C32.2672 14.8967 32.5896 15.2182 32.9875 15.2182C33.3852 15.2182 33.7077 14.8968 33.7077 14.5003V13.6866H42.2042C42.2049 13.6866 42.2054 13.6867 42.2061 13.6867C42.2068 13.6867 42.2074 13.6867 42.208 13.6867C43.2536 13.6874 44.1413 14.3713 44.4462 15.3137H42.2066C41.8089 15.3137 41.4863 15.6351 41.4863 16.0316V17.5629C41.4863 18.8031 42.4987 19.8121 43.7431 19.8121H44.5594V22.9705H42.6761C42.0575 21.1901 40.3593 19.9077 38.3652 19.9077C36.3712 19.9077 34.6729 21.1901 34.0544 22.9705H33.7076V17.5628C33.7076 17.1664 33.3851 16.845 32.9873 16.845C32.5895 16.845 32.267 17.1663 32.267 17.5628V22.9703H17.3234C16.7048 21.1899 15.0066 19.9075 13.0125 19.9075C11.0185 19.9075 9.32023 21.1899 8.70165 22.9703H4.56156C4.53505 22.9703 4.51358 22.9489 4.51358 22.9225V21.3432H7.63467C8.03241 21.3432 8.35495 21.0219 8.35495 20.6254C8.35495 20.2289 8.0325 19.9075 7.63467 19.9075H0.720279C0.32254 19.9075 0 20.2289 0 20.6254C0 21.0219 0.32245 21.3432 0.720279 21.3432H3.07311V22.9225C3.07311 23.7405 3.74083 24.406 4.56165 24.406H8.45225C8.45207 24.4219 8.45099 24.4378 8.45099 24.4538C8.45099 26.9606 10.4974 29 13.0125 29C15.5277 29 17.5741 26.9606 17.5741 24.4538C17.5741 24.4377 17.573 24.4219 17.5728 24.406H33.8049C33.8048 24.4219 33.8037 24.4378 33.8037 24.4538C33.8037 26.9606 35.8501 29 38.3652 29C40.8804 29 42.9268 26.9606 42.9268 24.4538C42.9268 24.4377 42.9257 24.4219 42.9255 24.406H45.2797C45.6775 24.406 46 24.0846 46 23.6881V16.0314C46.0001 14.141 44.6006 12.5703 42.7799 12.2941ZM33.7078 4.49846H39.1337C40.0074 4.49846 40.7183 5.20692 40.7183 6.0777V6.12552H33.7078V4.49846ZM33.7078 12.2509V7.56113H40.1079L41.2843 12.2509H33.7078ZM13.0125 27.5646C11.2916 27.5646 9.89146 26.1692 9.89146 24.454C9.89146 22.7387 11.2916 21.3434 13.0125 21.3434C14.7335 21.3434 16.1336 22.7387 16.1336 24.454C16.1336 26.1692 14.7335 27.5646 13.0125 27.5646ZM38.3654 27.5646C36.6445 27.5646 35.2443 26.1692 35.2443 24.454C35.2443 22.7387 36.6445 21.3434 38.3654 21.3434C40.0864 21.3434 41.4865 22.7387 41.4865 24.454C41.4865 26.1692 40.0864 27.5646 38.3654 27.5646ZM44.5596 18.3764H43.7433C43.2932 18.3764 42.927 18.0114 42.927 17.5628V16.7492H44.5595V18.3764H44.5596Z" fill="#27AE60"/>
									<path d="M13.012 22.9705C12.1912 22.9705 11.5234 23.6359 11.5234 24.454C11.5234 25.272 12.1912 25.9375 13.012 25.9375C13.8328 25.9375 14.5005 25.272 14.5005 24.454C14.5005 23.6359 13.8328 22.9705 13.012 22.9705Z" fill="#27AE60"/>
									<path d="M38.3635 22.9706C37.5427 22.9706 36.875 23.6361 36.875 24.4541C36.875 25.2722 37.5427 25.9377 38.3635 25.9377C39.1843 25.9377 39.8521 25.2722 39.8521 24.4541C39.8521 23.6361 39.1843 22.9706 38.3635 22.9706Z" fill="#27AE60"/>
									<path d="M29.9174 19.9078H19.1617C18.7639 19.9078 18.4414 20.2291 18.4414 20.6256C18.4414 21.0221 18.7639 21.3435 19.1617 21.3435H29.9174C30.3152 21.3435 30.6377 21.0221 30.6377 20.6256C30.6377 20.2291 30.3153 19.9078 29.9174 19.9078Z" fill="#27AE60"/>
									<path d="M11.4805 16.845H2.26129C1.86356 16.845 1.54102 17.1664 1.54102 17.5629C1.54102 17.9594 1.86347 18.2807 2.26129 18.2807H11.4805C11.8783 18.2807 12.2008 17.9594 12.2008 17.5629C12.2008 17.1664 11.8783 16.845 11.4805 16.845Z" fill="#27AE60"/>
									<path d="M25.0517 7.10142C24.7705 6.82116 24.3143 6.82116 24.0331 7.10151L17.628 13.485L14.2959 10.1642C14.0146 9.88383 13.5586 9.88383 13.2774 10.1642C12.9961 10.4445 12.9961 10.899 13.2774 11.1793L17.1187 15.0077C17.2594 15.148 17.4437 15.218 17.628 15.218C17.8123 15.218 17.9967 15.148 18.1372 15.0077L25.0516 8.11664C25.3329 7.8362 25.3329 7.38178 25.0517 7.10142Z" fill="#27AE60"/>
									</svg>
							span.text Доставка курьером
							span.subtext 5.00 руб.
						label.field-radio-big(for="del2")
							input(type="radio", name="customRadioDeliery", id="del2")
							.box
								.wrap-icon
									<svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M30.3298 23.3802C30.204 23.0376 29.8261 22.8623 29.4854 22.9888L22.6487 25.5262C22.3081 25.6526 22.1339 26.0328 22.2596 26.3754C22.3576 26.6425 22.6089 26.8079 22.8764 26.8079C22.9519 26.8079 23.0288 26.7947 23.1039 26.7669L29.9406 24.2295C30.2812 24.1031 30.4554 23.7228 30.3298 23.3802Z" fill="#999999"/>
									<path d="M21.6127 26.6152C21.4871 26.2725 21.109 26.0973 20.7683 26.2237L20.4788 26.3311C20.1382 26.4576 19.964 26.8378 20.0896 27.1803C20.1876 27.4474 20.439 27.6129 20.7065 27.6129C20.782 27.6129 20.8589 27.5997 20.934 27.5719L21.2235 27.4644C21.5641 27.338 21.7384 26.9579 21.6127 26.6152Z" fill="#999999"/>
									<path d="M30.3295 20.6856C30.2037 20.343 29.8258 20.1679 29.4851 20.2942L24.0823 22.2994C23.7417 22.4258 23.5675 22.806 23.6932 23.1487C23.7912 23.4158 24.0425 23.5812 24.31 23.5812C24.3855 23.5812 24.4624 23.5679 24.5375 23.5401L29.9403 21.5349C30.2809 21.4085 30.4551 21.0283 30.3295 20.6856Z" fill="#999999"/>
									<path d="M30.3295 18.0191C30.2037 17.6765 29.8258 17.5014 29.4851 17.6277L24.0823 19.6329C23.7417 19.7593 23.5675 20.1395 23.6932 20.4822C23.7912 20.7493 24.0425 20.9146 24.31 20.9146C24.3855 20.9146 24.4624 20.9014 24.5375 20.8736L29.9403 18.8684C30.2809 18.742 30.4551 18.3618 30.3295 18.0191Z" fill="#999999"/>
									<path d="M32.5702 5.9207L16.7276 0.0408431C16.5807 -0.0136144 16.4193 -0.0136144 16.2725 0.0408431L0.429838 5.9207L0.429709 5.92121C0.377824 5.94053 0.327938 5.96608 0.281531 5.99856C0.105123 6.12225 0 6.32485 0 6.54106V25.4589C0 25.7358 0.17151 25.9834 0.429773 26.0793L16.2724 31.9592C16.3463 31.9866 16.4233 32 16.4999 32C16.5773 32 16.6544 31.9859 16.7273 31.9588L16.7276 31.9592L32.5702 26.0793C32.8285 25.9834 33 25.7359 33 25.4589V6.54106C33 6.2641 32.8285 6.01658 32.5702 5.9207ZM15.8426 30.3901L1.31471 24.9981V7.48985L4.27286 8.58782V16.5994C4.27286 16.8763 4.44437 17.1239 4.70263 17.2198L11.8022 19.8548C11.8761 19.8822 11.9531 19.8957 12.0297 19.8957C12.1624 19.8957 12.2939 19.8553 12.4057 19.7769C12.582 19.6533 12.6871 19.4507 12.6871 19.2344V11.7107L15.8425 12.8818V30.3901H15.8426ZM11.3725 11.2227V18.2855L5.58764 16.1385V9.07566L11.3725 11.2227ZM6.82926 8.12162L12.0299 6.19143L17.2304 8.12162L12.0299 10.0518L6.82926 8.12162ZM16.5 11.7161L13.9218 10.7592L19.3571 8.74192C19.6153 8.64603 19.7869 8.39851 19.7869 8.12156C19.7869 7.8446 19.6153 7.59708 19.3571 7.50119L12.2574 4.86623C12.1105 4.81177 11.9492 4.81177 11.8023 4.86623L4.92312 7.41951L2.5564 6.54106L16.5 1.36604L30.4436 6.54112L16.5 11.7161ZM31.6853 24.9981L17.1574 30.39V12.8818L31.6853 7.48985V24.9981Z" fill="#999999"/>
									</svg>
							span.text Самовывоз
							span.subtext бесплатно

					.wrap-result-select
						span.title Доставка курьером
						.box
							.wrap-icon
								<svg width="46" height="29" viewBox="0 0 46 29" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M42.7799 12.2941L41.5887 7.54529C41.9143 7.47634 42.1587 7.18837 42.1587 6.84337V6.0777C42.1587 4.41528 40.8016 3.06285 39.1337 3.06285H33.7078V1.48352C33.7078 0.665471 33.0401 -3.1698e-07 32.2193 -3.1698e-07H4.56156C3.74074 -3.1698e-07 3.07302 0.665471 3.07302 1.48352V14.5001C3.07302 14.8965 3.39547 15.218 3.7933 15.218C4.19104 15.218 4.51358 14.8966 4.51358 14.5001V1.48352C4.51358 1.4571 4.53505 1.4357 4.56156 1.4357H32.2192C32.2457 1.4357 32.2672 1.4571 32.2672 1.48352V14.5003C32.2672 14.8967 32.5896 15.2182 32.9875 15.2182C33.3852 15.2182 33.7077 14.8968 33.7077 14.5003V13.6866H42.2042C42.2049 13.6866 42.2054 13.6867 42.2061 13.6867C42.2068 13.6867 42.2074 13.6867 42.208 13.6867C43.2536 13.6874 44.1413 14.3713 44.4462 15.3137H42.2066C41.8089 15.3137 41.4863 15.6351 41.4863 16.0316V17.5629C41.4863 18.8031 42.4987 19.8121 43.7431 19.8121H44.5594V22.9705H42.6761C42.0575 21.1901 40.3593 19.9077 38.3652 19.9077C36.3712 19.9077 34.6729 21.1901 34.0544 22.9705H33.7076V17.5628C33.7076 17.1664 33.3851 16.845 32.9873 16.845C32.5895 16.845 32.267 17.1663 32.267 17.5628V22.9703H17.3234C16.7048 21.1899 15.0066 19.9075 13.0125 19.9075C11.0185 19.9075 9.32023 21.1899 8.70165 22.9703H4.56156C4.53505 22.9703 4.51358 22.9489 4.51358 22.9225V21.3432H7.63467C8.03241 21.3432 8.35495 21.0219 8.35495 20.6254C8.35495 20.2289 8.0325 19.9075 7.63467 19.9075H0.720279C0.32254 19.9075 0 20.2289 0 20.6254C0 21.0219 0.32245 21.3432 0.720279 21.3432H3.07311V22.9225C3.07311 23.7405 3.74083 24.406 4.56165 24.406H8.45225C8.45207 24.4219 8.45099 24.4378 8.45099 24.4538C8.45099 26.9606 10.4974 29 13.0125 29C15.5277 29 17.5741 26.9606 17.5741 24.4538C17.5741 24.4377 17.573 24.4219 17.5728 24.406H33.8049C33.8048 24.4219 33.8037 24.4378 33.8037 24.4538C33.8037 26.9606 35.8501 29 38.3652 29C40.8804 29 42.9268 26.9606 42.9268 24.4538C42.9268 24.4377 42.9257 24.4219 42.9255 24.406H45.2797C45.6775 24.406 46 24.0846 46 23.6881V16.0314C46.0001 14.141 44.6006 12.5703 42.7799 12.2941ZM33.7078 4.49846H39.1337C40.0074 4.49846 40.7183 5.20692 40.7183 6.0777V6.12552H33.7078V4.49846ZM33.7078 12.2509V7.56113H40.1079L41.2843 12.2509H33.7078ZM13.0125 27.5646C11.2916 27.5646 9.89146 26.1692 9.89146 24.454C9.89146 22.7387 11.2916 21.3434 13.0125 21.3434C14.7335 21.3434 16.1336 22.7387 16.1336 24.454C16.1336 26.1692 14.7335 27.5646 13.0125 27.5646ZM38.3654 27.5646C36.6445 27.5646 35.2443 26.1692 35.2443 24.454C35.2443 22.7387 36.6445 21.3434 38.3654 21.3434C40.0864 21.3434 41.4865 22.7387 41.4865 24.454C41.4865 26.1692 40.0864 27.5646 38.3654 27.5646ZM44.5596 18.3764H43.7433C43.2932 18.3764 42.927 18.0114 42.927 17.5628V16.7492H44.5595V18.3764H44.5596Z" fill="#27AE60"/>
								<path d="M13.012 22.9705C12.1912 22.9705 11.5234 23.6359 11.5234 24.454C11.5234 25.272 12.1912 25.9375 13.012 25.9375C13.8328 25.9375 14.5005 25.272 14.5005 24.454C14.5005 23.6359 13.8328 22.9705 13.012 22.9705Z" fill="#27AE60"/>
								<path d="M38.3635 22.9706C37.5427 22.9706 36.875 23.6361 36.875 24.4541C36.875 25.2722 37.5427 25.9377 38.3635 25.9377C39.1843 25.9377 39.8521 25.2722 39.8521 24.4541C39.8521 23.6361 39.1843 22.9706 38.3635 22.9706Z" fill="#27AE60"/>
								<path d="M29.9174 19.9078H19.1617C18.7639 19.9078 18.4414 20.2291 18.4414 20.6256C18.4414 21.0221 18.7639 21.3435 19.1617 21.3435H29.9174C30.3152 21.3435 30.6377 21.0221 30.6377 20.6256C30.6377 20.2291 30.3153 19.9078 29.9174 19.9078Z" fill="#27AE60"/>
								<path d="M11.4805 16.845H2.26129C1.86356 16.845 1.54102 17.1664 1.54102 17.5629C1.54102 17.9594 1.86347 18.2807 2.26129 18.2807H11.4805C11.8783 18.2807 12.2008 17.9594 12.2008 17.5629C12.2008 17.1664 11.8783 16.845 11.4805 16.845Z" fill="#27AE60"/>
								<path d="M25.0517 7.10142C24.7705 6.82116 24.3143 6.82116 24.0331 7.10151L17.628 13.485L14.2959 10.1642C14.0146 9.88383 13.5586 9.88383 13.2774 10.1642C12.9961 10.4445 12.9961 10.899 13.2774 11.1793L17.1187 15.0077C17.2594 15.148 17.4437 15.218 17.628 15.218C17.8123 15.218 17.9967 15.148 18.1372 15.0077L25.0516 8.11664C25.3329 7.8362 25.3329 7.38178 25.0517 7.10142Z" fill="#27AE60"/>
								</svg>
						span.text Доставка осуществляется в течение дня<br>в удобное для вас время.
						span.subtext Стоимость:
							span.price 5.00 руб.

				.bottom-line
					span.btn-gray
						span.text Назад
					span.btn-blue
						span.text Далее
			
			.content-result
				.error-msg
					span Поле "Местоположение" обязательно для заполнения
					span Поле "Индекс" обязательно для заполнения

				.wrap-result-data
					span 
						em Доставка курьером
			
		.checkout-stage.checkout-stage-success
			.top-line
				span.title
					.wrap-icon.icon-static
						img(src="img/icon-cash.svg", alt="")
					.wrap-icon.icon-success
						img(src="img/icon-success-2.svg", alt="")
					.wrap-icon.icon-error
						img(src="img/icon-warning.svg", alt="")
					span.text Оплата
				
				span.btn-change-data изменить

			.stage-content.stage-content-big-radio
				.stage-content-part
					
					.wrap-radio-big

						label.field-radio-big(for="cash1")
							input(type="radio", name="customRadioCash", id="cash1", checked="checked")
							.box
								.wrap-icon
									img(src="img/option-cash-1.svg", alt="")
							span.text Яндекс.Деньги

						label.field-radio-big(for="cash2")
							input(type="radio", name="customRadioCash", id="cash2")
							.box
								.wrap-icon
									img(src="img/option-cash-4.svg", alt="")
							span.text Банковкие карты

						label.field-radio-big(for="cash3")
							input(type="radio", name="customRadioCash", id="cash3")
							.box
								.wrap-icon
									img(src="img/option-cash-5.svg", alt="")
							span.text Терминалы

						label.field-radio-big(for="cash4")
							input(type="radio", name="customRadioCash", id="cash4")
							.box
								.wrap-icon
									img(src="img/option-cash-2.svg", alt="")
							span.text Наличные курьеру

						label.field-radio-big(for="cash5")
							input(type="radio", name="customRadioCash", id="cash5")
							.box
								.wrap-icon
									img(src="img/option-cash-3.svg", alt="")
							span.text Наложенный<br>платеж

					.wrap-result-select
						span.title Яндекс.Деньги
						.box
							.wrap-icon
								img(src="img/option-cash-1.svg", alt="")
						span.text Доставка осуществляется в течение дня<br>в удобное для вас время.

				.bottom-line
					span.btn-gray
						span.text Назад
					span.btn-blue
						span.text Далее
			
			.content-result
				.error-msg
					span Поле "Местоположение" обязательно для заполнения
					span Поле "Индекс" обязательно для заполнения
				.wrap-result-data
					span 
						em Яндекс.Деньги

		.checkout-stage.checkout-stage-success
			.top-line
				span.title
					.wrap-icon.icon-static
						img(src="img/icon-user.svg", alt="")
					.wrap-icon.icon-success
						img(src="img/icon-success-2.svg", alt="")
					.wrap-icon.icon-error
						img(src="img/icon-warning.svg", alt="")
					span.text Покупатель
				
				span.btn-change-data изменить

			.stage-content
				.stage-content-part
					
					span.label Ф.И.О *
					.wrap-field
						input.field(type="text", value="Кирюшин Александр Адидасович")
						span.text-error-empty Поле обязательно для заполнения

					span.label Номер телефона *
					.wrap-field
						input.field.field-tel(type="tel", placeholder="+375 (__) ___-__-__", value="+375 (29) 642-03-61").error-invalid
						span.text-error-empty Поле обязательно для заполнения
						span.text-error-invalid Неверный формат

					span.label E-mail *
					.wrap-field
						input.field(type="text", value="example@mail.ru")
						span.text-error-empty Поле обязательно для заполнения
						span.text-error-invalid Неверный формат

					span.label Адрес доставки *
					.wrap-field
						textarea.field.error-empty
						span.text-error-empty Поле обязательно для заполнения

					span.label Комментарии к заказу:
					.wrap-field
						textarea.field
						span.text-error-empty Поле обязательно для заполнения

				.bottom-line
					span.btn-gray
						span.text Назад
					span.btn-blue
						span.text Далее
			
			.content-result
				.error-msg
					span Поле "Местоположение" обязательно для заполнения
					span Поле "Индекс" обязательно для заполнения
				.wrap-result-data
					span 
						em Ф.И.О.:
						|  Сеошная Анжела Таргетингавая
					span 
						em Номер телефона:
						|  не выбрано + 375 29 228 22 82
					span 
						em E-mail:
						|  secret@mail.ru
					span 
						em Адрес доставки:
						|  г. Минск, ул. Мележа 1

		.checkout-stage.checkout-stage-products.checkout-stage-success
			.top-line
				span.title
					.wrap-icon.icon-static
						img(src="img/icon-shopping-cart-blue.svg", alt="")
					.wrap-icon.icon-success
						img(src="img/icon-success-2.svg", alt="")
					.wrap-icon.icon-error
						img(src="img/icon-warning.svg", alt="")
					span.text Товары в заказе
				
				span.btn-change-data изменить

			.stage-content
				table.table-products
					tr.row-title
						td
						td Название
						td Цена
						td Кол-во
						td Сумма
					tr
						td
							.wrap-img-product
								img(src="img/product-3.png", alt="")
						td
							.wrap-product-info
								.wrap-text
									span.title Смартфон Samsung Galaxy S8 (мистический амет
									span.subtext Артикуль:
										em  3356528
						td
							span.text-sm Цена:
							span.cur-price.price 11 100,00 руб.
						td
							span.text-sm Кол-во:
							.wrap-product-counter
								.icon-counter.less
									img(src="img/icon-minus.svg", alt="")
								input(type="text", value="1", maxlength="3").cur-counter
								.icon-counter.plus
									img(src="img/icon-plus.svg", alt="")
						td
							span.text-sm Сумма:
							span.price.cur-price 1 100,00 руб.
					tr
						td
							.wrap-img-product
								img(src="img/product-1.png", alt="")
						td
							.wrap-product-info
								.wrap-text
									span.title Бинокль PENTAX 10x36 DCF 
									span.subtext Артикуль:
										em  3356528
						td
							span.text-sm Цена:
							span.cur-price.price 100,00 руб.
						td
							span.text-sm Кол-во:
							.wrap-product-counter
								.icon-counter.less
									img(src="img/icon-minus.svg", alt="")
								input(type="text", value="1", maxlength="3").cur-counter
								.icon-counter.plus
									img(src="img/icon-plus.svg", alt="")
						td
							span.text-sm Сумма:
							span.price.cur-price 11 100,00 руб.
					tr
						td
							.wrap-img-product
								img(src="img/product-2.png", alt="")
						td
							.wrap-product-info
								.wrap-text
									span.title Смартфон Samsung Galaxy S8 (мистический амет
									span.subtext Артикуль:
										em  3356528
						td
							span.text-sm Цена:
							span.cur-price.price 1 100,00 руб.
						td
							span.text-sm Кол-во:
							.wrap-product-counter
								.icon-counter.less
									img(src="img/icon-minus.svg", alt="")
								input(type="text", value="1", maxlength="3").cur-counter
								.icon-counter.plus
									img(src="img/icon-plus.svg", alt="")
						td
							span.text-sm Сумма:
							span.price.cur-price 1 100,00 руб.

				.bottom-line
					span.btn-gray
						span.text Назад


		.wrap-check
			label(for="check-agree-5")
				input(id="check-agree-5", type="checkbox")
				.box
				span.text-error-empty Согласитесь с условиями
			span.text Я согласен на
				span.accent-text  обработку персональных данных

		button(type="submit").form-btn.btn-blue
			span.text Оформить заказ
