doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Разводящая

    //Critical styles BEGIN
    link(rel="stylesheet" href="styles/critical-styles.css" inline)
    //Critical styles END


  style.
    body {
      opacity: 1 !important;
    }

    a {
      color: #000;
      display: block;
      margin-bottom: 30px;
      font-size: 18px;
      font-family: Roboto, serif;
      text-decoration: none;
    }


  body.page
    a(href="main.html") Главная
    a(href="news.html") Новости
    a(href="laser.html") Лазерная резка
    a(href="laser-graving.html") Лазерная гравировка
    a(href="services.html") Дополнительные услуги
    a(href="materials.html") Материалы
    a(href="contacts.html") Контакты
    a(href="grinding.html") Шлифовка
    a(href="article.html") Статья
    a(href="plywood.html") Фанера ФК
    a(href="delivery-payment.html") Доставка и оплата
    a(href="layout-preparation.html") Подготовка макета
