extends ../pug/layouts/default
include ../pug/helpers/mixins


block variables
  - const title = "Laser graving";
  - const bodyClass = "laser-graving";


block append styles
  link(rel="stylesheet" href="styles/common.css")
  link(rel="stylesheet" href="styles/laser.css")


block content
  include ../blocks/pages/laser-graving/laser-graving


block append scripts
  script(src="https://www.youtube.com/iframe_api")
  script(src="js/common.js")
  script(src="js/laser.js")
