.works-list
	display: flex
	align-items: stretch
	flex-wrap: wrap
	margin-left: -15px
	margin-right: -15px
	margin-top: px-to-rem(100, 24)

.wrap-work-card
	padding: 0 15px
	margin-bottom: 30px
	width: 100%
	max-width: 50%

.work-card
	height: 510px
	border-radius: 3px
	position: relative
	color: #fff
	display: flex
	flex-direction: column
	align-items: flex-start
	padding: px-to-rem(45, 24) px-to-rem(40, 24) px-to-rem(60, 24) px-to-rem(80, 24)

	&__layer-hover, &__text, &__link, &__wrap-img
		transition: .4s all ease

	&__layer-hover
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		opacity: 0

	&:hover
		.work-card__layer-hover
			opacity: 1

		.work-card__text, .work-card__link
			opacity: 1
			visibility: visible
			transform: translate(0)

		.work-card__wrap-img
			opacity: .6
			transform: translate(-50%, -50%) scale(.9)

	&__element
		z-index: 1

	&__wrap-img
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		width: 550px
		display: flex
		align-items: center
		justify-content: center

	&__img
		max-width: 100%
		max-height: 100%

	&__label
		&_top
			margin-bottom: px-to-rem(10, 24)

		&_bottom
			margin-top: auto

	&__title
		margin-bottom: px-to-rem(45, 24)

	&__text, &__link
		opacity: 0
		visibility: hidden
		transform: translate(0, 30%)

	&__text
		font-size: px-to-rem(28, 24)
		line-height: px-to-rem(42, 24)
		margin-bottom: px-to-rem(35, 24)
		
	&__link
		padding-left: px-to-rem(55, 24)
		position: relative
		color: #fff
		&:hover
			&:before
				left: 5px

		&:before
			content: ''
			position: absolute
			top: 50%
			left: 0
			transform: translate(0, -50%)
			width: px-to-rem(30, 24)
			height: 20px
			transition: inherit
			background: url("../img/arrow.svg") center/contain no-repeat
