.products-data-wrap
	.products-data-table-titles
		table
			tr.row-title
				td Общая информация
			tr
				td Дата выхожа на рынок
			tr
				td Диагональ
			tr
				td Соотношение сторон
			tr
				td Разрешение
			tr
				td Матрица
			tr.row-title
				td Функциональные особенности
			tr
				td Bluetooth
			tr
				td Wi-Fi
			tr
				td MHL
			tr
				td Интерфейс подключения
			tr.row-title
				td Технические характеристики
			tr
				td Поверхность экрана
			tr
				td Яркость 
			tr
				td Контрастность очень длинное в две строки
			tr
				td Контрастность


	.products-data-tables.products-data-tables-desktop
		.products-data-table.cur-table
			table
				tr.row-title
					td
					td
					td
					td
					td
					td
				tr
					td 2017 г.
					td 2015 г.
					td 2016 г.
					td 2017 г.
					td 2019 г.
					td 2023 г.
				tr
					td 24 ''
					td 24 ''
					td 23 ''
					td 21 ''
					td -
					td 21 ''
				tr
					td 21:9
					td 21:9
					td 21:9
					td 21:9
					td 21:9
					td 21:9
				tr
					td 2560x1080
					td 2560x1080
					td 2560x1080
					td 2560x1080
					td 2560x1080
					td 2560x1080
				tr
					td IPS
					td IPS
					td IPS
					td IPS
					td -
					td IPS
				tr.row-title
					td
					td
					td
					td
					td
					td
				tr
					td да
					td —
					td да
					td да
					td да
					td —
				tr
					td —
					td да
					td да
					td да
					td да
					td да
				tr
					td да
					td да
					td —
					td да
					td -
					td да
				tr
					td да
					td да
					td да
					td -
					td да
					td да

				tr.row-title
					td
					td
					td
					td
					td
					td
				tr
					td матовая
					td матовая
					td матовая
					td матовая
					td матовая
					td глянец
				tr
					td 250 кд/м2
					td 250 кд/м2
					td 250 кд/м2
					td 250 кд/м2
					td 210 кд/м2
					td 290 кд/м2
				tr
					td 1000:1
					td 1000:1
					td 300:1
					td 1000:1
					td 1000:1
					td 1000:1
				tr
					td 1000:1
					td 1000:1
					td 1000:1
					td 1000:1
					td 1000:1
					td 900:1


		.products-data-table
			table
				tr.row-title
					td
					td
					td
					td
					td
					td
				tr
					td 2017 г.
					td 2015 г.
					td 2016 г.
					td 2017 г. 2
					td 2019 г.
					td 2023 г.
				tr
					td 24 ''
					td 24 ''
					td 23 ''
					td 21 ''
					td -
					td 21 ''
				tr
					td 21:9
					td 21:9
					td 21:9
					td 21:9
					td 21:9
					td 21:9
				tr
					td 2560x1080
					td 2560x1080
					td 2560x1080
					td 2560x1080
					td 2560x1080
					td 2560x1080
				tr
					td IPS
					td IPS
					td IPS
					td IPS 2
					td -
					td IPS
				tr.row-title
					td
					td
					td
					td
					td
					td
				tr
					td да
					td —
					td да
					td да
					td да
					td —
				tr
					td —
					td да
					td да 2
					td да
					td да
					td да 2
				tr
					td да
					td да 2
					td —
					td да
					td -
					td да 2
				tr
					td да
					td да
					td да
					td -
					td да
					td да
				tr.row-title
					td
					td
					td
					td
					td
					td
				tr
					td матовая
					td матовая
					td матовая
					td матовая
					td матовая
					td глянец
				tr
					td 250 кд/м2 2
					td 250 кд/м2
					td 250 кд/м2
					td 250 кд/м2 2
					td 210 кд/м2
					td 290 кд/м2
				tr
					td 1000:1
					td 1000:1
					td 300:1
					td 1000:1
					td 1000:1
					td 1000:1
				tr
					td 1000:1
					td 1000:1 2
					td 1000:1
					td 1000:1
					td 1000:1 2
					td 900:1


	.products-data-tables.products-data-tables-mobile
		.products-data-table.cur-table
			table
				tr.row-title
					td.title-mobile(colspan="2") Общая информация
					td
					td
					td
					td
					td
				tr.row-subtitles-mobile
					td.title-mobile(colspan="2") Дата выхода на рынок
					td
					td
					td
					td
					td
				tr
					td 2017 г.
					td 2015 г.
					td 2016 г.
					td 2017 г.
					td 2019 г.
					td 2023 г.
				tr.row-subtitles-mobile
					td.title-mobile(colspan="2") Диагональ
					td
					td
					td
					td
					td
				tr
					td 24 ''
					td 24 ''
					td 23 ''
					td 21 ''
					td -
					td 21 ''
				tr.row-subtitles-mobile
					td.title-mobile(colspan="2") Соотношение сторон
					td
					td
					td
					td
					td
				tr
					td 21:9
					td 21:9
					td 21:9
					td 21:9
					td 21:9
					td 21:9
				tr.row-subtitles-mobile
					td.title-mobile(colspan="2") Разрешение
					td
					td
					td
					td
					td
				tr
					td 2560x1080
					td 2560x1080
					td 2560x1080
					td 2560x1080
					td 2560x1080
					td 2560x1080
				tr.row-subtitles-mobile
					td.title-mobile(colspan="2") Матрица
					td
					td
					td
					td
					td
				tr
					td IPS
					td IPS
					td IPS
					td IPS
					td -
					td IPS
				tr.row-title
					td.title-mobile(colspan="2") Функциональные особенности
					td
					td
					td
					td
					td
				tr.row-subtitles-mobile
					td.title-mobile(colspan="2") Bluetooth
					td
					td
					td
					td
					td
				tr
					td да
					td —
					td да
					td да
					td да
					td —
				tr.row-subtitles-mobile
					td.title-mobile(colspan="2") Wi-Fi
					td
					td
					td
					td
					td
				tr
					td —
					td да
					td да
					td да
					td да
					td да
				tr.row-subtitles-mobile
					td.title-mobile(colspan="2") MHL
					td
					td
					td
					td
					td
				tr
					td да
					td да
					td —
					td да
					td -
					td да
				tr.row-subtitles-mobile
					td.title-mobile(colspan="2") Интерфейс подключения
					td
					td
					td
					td
					td
				tr
					td да
					td да
					td да
					td -
					td да
					td да

				tr.row-title
					td.title-mobile(colspan="2") Технические характеристики
					td
					td
					td
					td
					td
				tr.row-subtitles-mobile
					td.title-mobile(colspan="2") Поверхность экрана
					td
					td
					td
					td
					td
				tr
					td матовая
					td матовая
					td матовая
					td матовая
					td матовая
					td глянец
				tr.row-subtitles-mobile
					td.title-mobile(colspan="2") Яркость
					td
					td
					td
					td
					td
				tr
					td 250 кд/м2
					td 250 кд/м2
					td 250 кд/м2
					td 250 кд/м2
					td 210 кд/м2
					td 290 кд/м2

				tr.row-subtitles-mobile
					td.title-mobile(colspan="2") Контрастность очень длинное в две строки
					td
					td
					td
					td
					td
				tr
					td 1000:1
					td 1000:1
					td 300:1
					td 1000:1
					td 1000:1
					td 1000:1
					
				tr.row-subtitles-mobile
					td.subtitle-mobile(colspan="2") Контрастность
					td
					td
					td
					td
					td
				tr
					td 1000:1
					td 1000:1
					td 1000:1
					td 1000:1
					td 1000:1
					td 900:1


		.products-data-table
			table
				tr.row-title
					td.title-mobile(colspan="2") Общая информация 2
					td
					td
					td
					td
					td
				tr.row-subtitles-mobile
					td.title-mobile(colspan="2") Дата выхода на рынок 2
					td
					td
					td
					td
					td
				tr
					td 2017 г.
					td 2015 г.
					td 2016 г.
					td 2017 г.
					td 2019 г.
					td 2023 г.
				tr.row-subtitles-mobile
					td.title-mobile(colspan="2") Диагональ 2
					td
					td
					td
					td
					td
				tr
					td 24 ''
					td 24 ''
					td 23 ''
					td 21 ''
					td -
					td 21 ''
				tr.row-subtitles-mobile
					td.title-mobile(colspan="2") Соотношение сторон 2
					td
					td
					td
					td
					td
				tr
					td 21:9
					td 21:9
					td 21:9
					td 21:9
					td 21:9
					td 21:9
				tr.row-subtitles-mobile
					td.title-mobile(colspan="2") Разрешение 2
					td
					td
					td
					td
					td
				tr
					td 2560x1080
					td 2560x1080
					td 2560x1080
					td 2560x1080
					td 2560x1080
					td 2560x1080
				tr.row-subtitles-mobile
					td.title-mobile(colspan="2") Матрица 2
					td
					td
					td
					td
					td
				tr
					td IPS
					td IPS
					td IPS
					td IPS cкорее всего в две строки
					td -
					td IPS
				tr.row-title
					td.title-mobile(colspan="2") Функциональные особенности 2
					td
					td
					td
					td
					td
				tr.row-subtitles-mobile
					td.title-mobile(colspan="2") Bluetooth 2
					td
					td
					td
					td
					td
				tr
					td да
					td —
					td да
					td да
					td да
					td —
				tr.row-subtitles-mobile
					td.title-mobile(colspan="2") Wi-Fi 2
					td
					td
					td
					td
					td
				tr
					td —
					td да
					td да
					td да
					td да
					td да
				tr.row-subtitles-mobile
					td.title-mobile(colspan="2") MHL 2
					td
					td
					td
					td
					td
				tr
					td да
					td да
					td —
					td да
					td -
					td да
				tr.row-subtitles-mobile
					td.title-mobile(colspan="2") Интерфейс подключения 2
					td
					td
					td
					td
					td
				tr
					td да
					td да
					td да
					td -
					td да
					td да

				tr.row-title
					td.title-mobile(colspan="2") Технические характеристики 2
					td
					td
					td
					td
					td
				tr.row-subtitles-mobile
					td.title-mobile(colspan="2") Поверхность экрана 2
					td
					td
					td
					td
					td
				tr
					td матовая cкорее всего в две строки
					td матовая
					td матовая
					td матовая
					td матовая
					td глянец
				tr.row-subtitles-mobile
					td.title-mobile(colspan="2") Яркость 2
					td
					td
					td
					td
					td
				tr
					td 250 кд/м2
					td 250 кд/м2
					td 250 кд/м2
					td 250 кд/м2
					td 210 кд/м2
					td 290 кд/м2

				tr.row-subtitles-mobile
					td.title-mobile(colspan="2") Контрастность очень длинное в две строки 2
					td
					td
					td
					td
					td
				tr
					td 1000:1
					td 1000:1
					td 300:1
					td 1000:1 cкорее всего в две строки
					td 1000:1
					td 1000:1
					
				tr.row-subtitles-mobile
					td.subtitle-mobile(colspan="2") Контрастность 2
					td
					td
					td
					td
					td
				tr
					td 1000:1
					td 1000:1
					td 1000:1
					td 1000:1
					td 1000:1
					td 900:1
