.wrap-our-plus-items
	.our-plus-item
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center

		.wrap-icon
			width: 100%
			max-width: 19px
			margin-right: 9px
			display: flex
			align-items: center
			justify-content: center
			svg
				path
					fill: $gray-dark-icons



