main.about-us__main.page__main
	article.wrapper

		//Preview page BEGIN
		include components/preview-page/preview-page
		//Preview page END

		//Group cards first BEGIN
		include components/group-cards/group-cards-first
		//Group cards first END

		// Main content first BEGIN
		include components/main-content/main-content-first
		// Main content first END

		//Group cards second BEGIN
		include components/group-cards/group-cards-second
		//Group cards second END

		// Main content second BEGIN
		include components/main-content/main-content-second
		// Main content second END

		// Pagination BEGIN
		include components/pagination/pagination
		// Pagination END
