.posts-news-items
	.wrap-news-item
		margin-bottom: 30px
		
	.news-item
		&-banner
			background-color: $ocean
			align-items: center
			justify-content: center
			text-align: center

			.shop-name
				font-size: 5.4375rem
				line-height: 82.5px
				span
					&:first-child
						color: #fff
					&:last-child
						color: $text

			.subscribe-title
				line-height: 20px
				font-size: 1.25rem
				margin-top: 20px
				margin-bottom: 40px



+media-breakpoint-down(lg)

+media-breakpoint-down(md)

+media-breakpoint-down(sm)

+media-breakpoint-down(xs)
	.posts-news-items

		.wrap-news-item
			padding: 0
			display: none

			&:nth-child(-n + 4), &-banner
				display: block

		.news-item
			&-banner

				.shop-name
					font-size: 45px
					line-height: 50px

				.subscribe-title
					line-height: 24px
					font-size: 16px
					margin-top: 10px
					margin-bottom: 30px
					padding: 0 15px


