.posts-news-items
	.container

		.wrap-tabs-content.wrap-news-tabs-content

			.tab-content.row.justify-content-center.align-items-stretch.cur-tab-content(data-tab-key="all-news")
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
				
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-2.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Что вы знаете о бреде Under Armour? Обзор новинок

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-3.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold 10 советов, как выбрать идеальные кроссовки для трекинга

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее

				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
				
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-2.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Что вы знаете о бреде Under Armour? Обзор новинок

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.wrap-news-item-banner.col-10.col-12.col-md-8.col-lg-6
					.news-item-banner
						span.hashtag.text-fw-bold.text-small #всегда с вами на связи
						span.shop-name.text-fw-black Sport Outlet
						span.subscribe-title.text-fw-bold Подписывайтесь на нас в соцсетях

						.wrap-social-squares
							a(href="#").social-square
								img(src="img/icon-fb-white.svg", alt="")
							a(href="#").social-square
								img(src="img/icon-vk-white.svg", alt="")
							a(href="#").social-square
								img(src="img/icon-inst-white.svg", alt="")

				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
				
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-2.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Что вы знаете о бреде Under Armour? Обзор новинок

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-3.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold 10 советов, как выбрать идеальные кроссовки для трекинга

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее

				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
				
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-2.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Что вы знаете о бреде Under Armour? Обзор новинок

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-3.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold 10 советов, как выбрать идеальные кроссовки для трекинга

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее

				.col-12.order-99
					include ../../../modules/pagination/pagination

			.tab-content.row.align-items-stretch(data-tab-key="only-news")
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-3.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
				
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Что вы знаете о бреде Under Armour? Обзор новинок

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-2.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-2.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold 10 советов, как выбрать идеальные кроссовки для трекинга

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее

				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-3.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
				
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Что вы знаете о бреде Under Armour? Обзор новинок

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.wrap-news-item-banner.col-10.col-12.col-md-8.col-lg-6
					.news-item-banner
						span.hashtag.text-fw-bold.text-small #всегда с вами на связи
						span.shop-name.text-fw-black Sport Outlet
						span.subscribe-title.text-fw-bold Подписывайтесь на нас в соцсетях

						.wrap-social-squares
							a(href="#").social-square
								img(src="img/icon-fb-white.svg", alt="")
							a(href="#").social-square
								img(src="img/icon-vk-white.svg", alt="")
							a(href="#").social-square
								img(src="img/icon-inst-white.svg", alt="")

				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-3.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
				
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-2.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Что вы знаете о бреде Under Armour? Обзор новинок

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold 10 советов, как выбрать идеальные кроссовки для трекинга

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее

				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее

				.col-12.order-99
					include ../../../modules/pagination/pagination

			.tab-content.row.align-items-stretch(data-tab-key="new-collection-news")
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-3.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
				
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Что вы знаете о бреде Under Armour? Обзор новинок

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-2.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold 10 советов, как выбрать идеальные кроссовки для трекинга

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее

				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
				
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-2.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Что вы знаете о бреде Under Armour? Обзор новинок

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.wrap-news-item-banner.col-10.col-12.col-md-8.col-lg-6
					.news-item-banner
						span.hashtag.text-fw-bold.text-small #всегда с вами на связи
						span.shop-name.text-fw-black Sport Outlet
						span.subscribe-title.text-fw-bold Подписывайтесь на нас в соцсетях

						.wrap-social-squares
							a(href="#").social-square
								img(src="img/icon-fb-white.svg", alt="")
							a(href="#").social-square
								img(src="img/icon-vk-white.svg", alt="")
							a(href="#").social-square
								img(src="img/icon-inst-white.svg", alt="")

				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
				
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-2.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Что вы знаете о бреде Under Armour? Обзор новинок

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее

				.col-12.order-99
					include ../../../modules/pagination/pagination

			.tab-content.row.align-items-stretch(data-tab-key="blog-news")
				
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-2.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Что вы знаете о бреде Under Armour? Обзор новинок

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-3.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold 10 советов, как выбрать идеальные кроссовки для трекинга

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее

				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
				
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-2.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Что вы знаете о бреде Under Armour? Обзор новинок

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
					
				.wrap-news-item.wrap-news-item-banner.col-10.col-12.col-md-8.col-lg-6
					.news-item-banner
						span.hashtag.text-fw-bold.text-small #всегда с вами на связи
						span.shop-name.text-fw-black Sport Outlet
						span.subscribe-title.text-fw-bold Подписывайтесь на нас в соцсетях

						.wrap-social-squares
							a(href="#").social-square
								img(src="img/icon-fb-white.svg", alt="")
							a(href="#").social-square
								img(src="img/icon-vk-white.svg", alt="")
							a(href="#").social-square
								img(src="img/icon-inst-white.svg", alt="")

				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-1.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Весь декабрь в 2 раза больше рассрочки на крупные покупки по «Халве»!

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее
				
				.wrap-news-item.col-12.col-sm-6.col-md-4.col-lg-3
					.news-item.element-shadow-hover
						.wrap-img.responsive-img
							img(src="img/news-2.png", alt="")

						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 380 380" xml:space="preserve">
									<g>
										<path d="M190,0C85.233,0,0,85.233,0,190s85.233,190,190,190s190-85.233,190-190S294.767,0,190,0z M190,340 c-82.71,0-150-67.29-150-150S107.29,40,190,40s150,67.29,150,150S272.71,340,190,340z"/>
										<path d="M291.993,184.132h-74.197c-2.696-4.393-6.403-8.1-10.796-10.796V84.139c0-9.389-7.611-17-17-17c-9.389,0-17,7.611-17,17 v89.197c-9.345,5.737-15.593,16.05-15.593,27.796c0,17.972,14.622,32.593,32.593,32.593c11.746,0,22.059-6.248,27.796-15.593 h74.197c9.389,0,17-7.611,17-17C308.993,191.743,301.382,184.132,291.993,184.132z"/>
									</g>
								</svg>

							time(datetime="2018-02-12 18:00") 02.12.2018
							span.tag #Новости

						span.news-title.text-fw-bold Что вы знаете о бреде Under Armour? Обзор новинок

						a(href="#").link-view-more.text-small.link-bottom-line Подробнее

				.col-12.order-99
					include ../../../modules/pagination/pagination




