$default-font: "Roboto", sans-serif

//Grid options START
$grid-gutter-width: 20px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1180px)
//Grid options END


$accent: #000
$bg-gray: #F9F9F9
$dark: #111
$dark-blue: #3e5b69
$red: #ce4454
$ocean: #B7D1D2
$border-gray: #F0F0F0
$light-blue: #C4DEED
$text-gray: #838383
$hover-btns-links: $dark-blue
$label-pink: #EB6E6E
$label-orange: #F4C24B
$label-violet: #798DF6
$gray-light-icons: #DDDDDD
$footer-delimiter: #303030
$bg-footer: #191919
$gray-dark-icons: #B1B1B1
$gray-icons-footer: #444
$text-gray-footer-inputs: #BBB

$text: $dark

