.wrap-product-card.page-content
	.container
		include ../product-card/top-page-line/top-page-line
		include row-first/row-first
		include ../product-card/row-second/row-second
		include ../product-card/other-product/other-product
