.wrap-personal-area-bar

	.wrap-content-mobile
		.wrap-title
			span.page-title.text-fw-medium Личный кабинет

		.wrap-dropdown-tabs
			.wrap-cur-tab
				span Заказы

			.wrap-dropdown
				ul.dropdown-list
					li.dropdown-list_item.tab-btn.cur-tab-btn(data-tab-key="orders") Заказы
					li.dropdown-list_item.tab-btn(data-tab-key="information") Личная информация
					li.dropdown-list_item.tab-btn(data-tab-key="address") Адреса
					li.dropdown-list_item.tab-btn(data-tab-key="callback") Обратная связь
					li.dropdown-list_item.tab-btn(data-tab-key="favorites") Избранное

	.wrap-user-avatar
		.wrap-img.responsive-img
			img(src="img/avatar.svg", alt="")

		span.user-name.text-fw-medium.text-big Вениамин

	.wrap-nav.wrap-tabs-btns
		.tab-btn.nav-item.cur-tab-btn(data-tab-key="orders")
			.wrap-icon.responsive-img
				img(src="img/018-watch.svg", alt="")
				
			span.text-fw-black.text-small.text-uppercase.letter-spacing-08 заказы

		.tab-btn.nav-item(data-tab-key="information")
			.wrap-icon.responsive-img
				img(src="img/icon_user.svg", alt="")

			span.text-fw-black.text-small.text-uppercase.letter-spacing-08 личная информация

		.tab-btn.nav-item(data-tab-key="address")
			.wrap-icon.responsive-img
				img(src="img/024-pin.svg", alt="")

			span.text-fw-black.text-small.text-uppercase.letter-spacing-08 Адреса

		.tab-btn.nav-item(data-tab-key="callback")
			.wrap-icon.responsive-img
				img(src="img/027-chat.svg", alt="")

			span.text-fw-black.text-small.text-uppercase.letter-spacing-08 обратная связь

		.tab-btn.nav-item(data-tab-key="favorites")
			.wrap-icon.responsive-img
				img(src="img/006-heart.svg", alt="")

			span.text-fw-black.text-small.text-uppercase.letter-spacing-08 Избранное
