.charecteristics.charecteristics__graving.sec_bg.lazy(role="region" data-bg="url(img/bg-center-blue.png)")

  .charecteristics__wrap-titles.sec__wrap-titles
    span.sec__title.title-1 <em>Характеристики</em> орудовании

  .wrapper
    .charecteristics__inner

      .charecteristics__wrap-product
        img.charecteristics__product.lazy(src="" data-src="img/product-2.png" alt="")

        ul.charecteristics__list
          li.charecteristics__item
            img.charecteristics__item-img.lazy(src="" data-src="img/line-1.svg" aria-hidden="true")
            span.charecteristics__item-text <em>Мощность:</em> 30 Вт

          li.charecteristics__item
            img.charecteristics__item-img.lazy(src="" data-src="img/line-2.svg" aria-hidden="true")
            span.charecteristics__item-text <em>Оборудование:</em> 2018 г.

          li.charecteristics__item
            img.charecteristics__item-img.lazy(src="" data-src="img/line-1.svg" aria-hidden="true")
            span.charecteristics__item-text <em>Рабочее поле лазера:</em> 300х300мм

          li.charecteristics__item
            img.charecteristics__item-img.lazy(src="" data-src="img/line-2.svg" aria-hidden="true")
            span.charecteristics__item-text <em>Минимальная ширина линии:</em><br> толщиной до 0,001мм

          li.charecteristics__item
            img.charecteristics__item-img.lazy(src="" data-src="img/line-3.svg" aria-hidden="true")
            span.charecteristics__item-text <em>Глубина маркировки:</em> до 1,5мм

          li.charecteristics__item
            img.charecteristics__item-img.lazy(src="" data-src="img/line-4.svg" aria-hidden="true")
            span.charecteristics__item-text <em>Точность:</em> 1000 dpi
