.services
	padding: px-to-rem(75, 24) 0 px-to-rem(80, 24)

	&__title
		margin-bottom: px-to-rem(88, 24)
	
	&__list
		&-item
			margin-bottom: px-to-rem(75, 24)
			&:last-child
				margin-bottom: 0

			&-title
				display: block

			&-text
				display: block
				margin-top: px-to-rem(25, 24)