.services.section-blue
	.container

		span.services__title.title-h1.section-title Services

		ul.services__list
			li.services__list-item
				span.services__list-item-title.title-h2 UI/UX Design
				p.services__list-item-text Analytics, UI design and user interaction with the interface.

			li.services__list-item
				span.services__list-item-title.title-h2 Mobile App
				p.services__list-item-text Design & development for iOS and Android applications.

			li.services__list-item
				span.services__list-item-title.title-h2 Web Design
				p.services__list-item-text Sitemap, User journey, Online stores, Sites and Landing pages.

			li.services__list-item
				span.services__list-item-title.title-h2 Web Development
				p.services__list-item-text Full-stack Development, Develop CRM, Content management systems (CMS),<br class="d-none-xl"> Supporting & Maintenance.

			li.services__list-item
				span.services__list-item-title.title-h2 Branding
				p.services__list-item-text Logo and corporate identity design. 
