@import "../../less/common/vars";

.page-user-data{
	padding-bottom: 60px;

	.account-out{
		color: @blue;
		-ms-align-items: center;
		align-items: center;

		.wrap-icon{
			margin-left: 18px;
			margin-right: 8px;
			max-width: 10px;

			img {
				-webkit-transform: rotate(180deg);
				-moz-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				-o-transform: rotate(180deg);
				transform: rotate(180deg);
				
			}
		}
	}

	.page-user-data-content{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: stretch;
		align-items: stretch;

		> div {
			width: 100%;
		}
	}
}


@media (min-width: 1260px) {

}

@media (max-width: 1259px) {
	
}

@media (max-width: 991px) {
	.page-user-data{
		.account-out{
			border-radius: 3px;
			border: 1px solid #E6E6E7;
			padding: 5px 15px;
			font-size: 14px;

			.wrap-icon{
				margin-left: 0;
			}
		}

		.page-user-data-content{
			display: block;
		}
	}
}

@media (max-width: 767px) {

}

@media (max-width: 575px) {

}


