section.banner-home.banner
	img.banner__bg(src="img/banner-home-bg.png" alt="")

	.wrapper
		.banner__inner

			.wrap-cards.banner__wrap-cards
				.wrap-card
					.card(style="background-image: url('img/banner-img-3.png');")
						h2.title-1.card__title <span>лазерная</span> резка
						a.btn.card__btn(href="#")
							img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
							img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
							span.btn__text Подробнее

				.wrap-card
					.card(style="background-image: url('img/banner-img-2.png');")
						h2.title-1.card__title <span>Фрезерная</span> резка
						a.btn.card__btn(href="#")
							img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
							img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
							span.btn__text Подробнее

				.wrap-card
					.card(style="background-image: url('img/banner-img-1.png');")
						h2.title-1.card__title <span>лазерная</span> Гравировка
						a.btn.card__btn(href="#")
							img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
							img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
							span.btn__text Подробнее
