.mobile-menu
	background-color: $bg-gray
	overflow: hidden
	width: 100%
	max-width: 100%
	display: none

	.mm-listview
		margin-top: 0 !important
		padding: 18px 0

		.main-item-active
			a
				color: $dark
		
			.mm-btn
				&:after, &:before
					border-color: $dark
				
			
		.mm-nolistview
			display: block
			width: 100%

		.mm-listitem
			&__text
				font-size: 12px
				font-weight: 900
				text-transform: uppercase
				line-height: 48px
				position: relative
				display: block
				letter-spacing: .06em
				padding: 0 16px 0 20px
				transition: .4s all ease
				&::before
					content: ""
					position: absolute
					bottom: 0
					left: 0
					width: 3px
					height: 100%
					background-color: $hover-btns-links
					transition: inherit
					opacity: 0

		.active
			.mm-listitem__text
				background-color: #fff
				box-shadow: 0px 0px 43px 0px rgba(39, 39, 39, 0.07)
				color: $dark-blue
				&::before
					opacity: 1
				

		.wrap-btn-border
			margin-top: 18px

			.btn
				font-size: 14px
				padding: 11px 32px
			

	.mm-listitem__text
		padding-left: 0
		padding-right: 0
		line-height: 20px


	.mm-panels
		background-color: $bg-gray
	

	.mm-listitem[data-style-type="contact"]:first-child
		margin-top: 15px
	.mm-listitem[data-style-type="contact"], .mm-listitem[data-style-type="contact-link"]
		border: none
		span
			color: blackLight
		a
			padding: 2px 0
	.mm-listitem[data-style-type="contact-link"]
		a
			color: blue
			text-decoration: underline
	.mm-listitem__btn:not(.mm-listitem__text)
		border: none
		position: absolute
		right: 0
		top: 50%
		-webkit-transform: translate(0, -50%)
		-ms-transform: translate(0, -50%)
		-o-transform: translate(0, -50%)
		transform: translate(0, -50%)
		padding: 20px 25px
		width: 100%
	.mm-btn_next:after, .mm-btn_prev:before
		width: 6px;
		height: 6px;
		border-width: 1px;
		left: auto;
		right: 18px;
		top: 50%;
		bottom: auto;
		-webkit-transform: translate(-50%, -50%) rotate(135deg);
		-moz-transform: translate(-50%, -50%) rotate(135deg);
		-ms-transform: translate(-50%, -50%) rotate(135deg);
		-o-transform: translate(-50%, -50%) rotate(135deg);
		transform: translate(-50%, -50%) rotate(135deg);
	.mm-btn_next:after
		border-color: $dark-blue
	.mm-panel:after, .mm-panel:before
		content: none
	.mm-listitem
		&::after
			content: none
	.mm-listitem.mm-listitem_selected .mm-listitem__text
		background-color: transparent

	.mm-navbar
		background-color: transparent
		border: none
		-ms-align-items: center
		align-items: center
		margin: 80px 0 0
		position: static
		padding: 0
		position: relative
		display: flex
		height: 60px
		&__title
			font-size: 12px
			font-weight: 900
			text-transform: uppercase
			line-height: 25px
			position: relative
			display: block
			letter-spacing: .06em
			padding: 0
			pointer-events: none
			transition: .4s all ease
			color: $text-gray
		.mm-btn_prev:before
			-webkit-transform: translate(-50%, -50%) rotate(-45deg)
			-moz-transform: translate(-50%, -50%) rotate(-45deg)
			-ms-transform: translate(-50%, -50%) rotate(-45deg)
			-o-transform: translate(-50%, -50%) rotate(-45deg)
			transform: translate(-50%, -50%) rotate(-45deg)
			border-color: #000
		.mm-btn_prev
			margin-top: 2px
			position: relative
			width: 10px
			height: 10px

	.title-dropdown-menu
		position: absolute
		top: 0
		left: 0
		height: 80px
		width: 100%
		background-color: $bg-gray
		align-items: center
		justify-content: center
		font-size: 14px
		line-height: 20px
		display: none
		text-align: center
		span.mm-listitem__text
			position: relative !important
			display: block !important


	.mm-panels
		> .mm-panel
			padding-top: 0
			background-color: $bg-gray

			&:not(:first-child)
				background-color: #fff

				.mm-btn_next
					display: none !important

				.mm-btn_prev
					position: absolute
					width: 36px
					height: 30px
					padding: 0
					margin: 0
					top: -40px
					left: 0
					transform: translate(-35%, -50%)
					&::before
						display: none
					&::after
						content: ""
						position: absolute
						left: 50%
						top: 50%
						transform: translate( -50%, -50%)
						width: 18px
						height: 15px
						background: url("../img/icon-back.svg") no-repeat center
						background-size: contain
						border: none

				> .mm-listview
					margin: 0 !important
					padding: 0 !important

				.title-dropdown-menu.mm-listitem
					display: flex !important

				.mm-listview
					.mm-listitem__text
						text-transform: capitalize
						font-weight: bold
						font-size: 16px
						line-height: 16px
						letter-spacing: 0px
						padding: 0
						margin-bottom: 20px
						display: inline-block
						flex-grow: 0
						flex-basis: auto
						overflow: visible
						&::before
							display: none
						.submenu-dropdown-title
							position: relative
							padding-right: 22px
						ul
							margin-top: 15px
							display: none
							li
								margin-bottom: 7px
								a
									font-size: 14px
									line-height: 16px
									font-weight: 400

					.has-dropdown
						.mm-listitem__text
							.submenu-dropdown-title
								&::after
									content: ""
									position: absolute
									top: 61%
									right: 0
									transform: translate(0, -50%)
									background: url("../img/icon-down.svg") no-repeat center
									background-size: contain
									height: 10px
									width: 13px
									transition: .4s all ease
									z-index: 2
								&_active
									&::after
										transform: translate(0, -50%) rotate(180deg)

	&_header
		margin-bottom: 18px
		.mm-listitem__text
			display: flex !important
			align-items: center !important
		.wrap-icon
			display: -webkit-inline-flex
			display: -moz-inline-flex
			display: -ms-inline-flex
			display: -o-inline-flex
			display: inline-flex
			align-items: center
			margin-right: 8px
			width: 100%
			min-width: 17px
			max-width: 17px
			svg
				fill: $gray-dark-icons
		span
			font-weight: 400
			font-size: 0.875rem
			text-transform: capitalize
			letter-spacing: .01em

	.mm-nolistview.mobile-menu_close
		width: 25px
		height: 25px
		background-size: 11px
		z-index: 4
		top: 14px
		right: 14px

	&_phone, &_form
		padding: 0 15px

	&_phone.mm-nolistview.mm-listitem
		margin-top: 18px
		a.mm-listitem__text
			font-size: 1rem
			padding: 0
			letter-spacing: .01em

	&_form
		width: 100%
		max-width: 100%
		padding-bottom: 40px
		border-bottom: 1px solid $border-gray
		.wrap-field
			input
				padding: 10px 40px 11px 14px			
		
	
.mm-wrapper__blocker
	top: 60px


+media-breakpoint-down(sm)
	.mobile-menu
		display: block






