.wrap-selects
	.wrap-select
		select(placeholder="Все регионый").select
			option(value="ex1") г. Минск
			option(value="ex2") г. Барановичи
			option(value="ex3") г. Брест
			option(value="ex4") г. Борисов
			option(value="ex5") г. Вилейка
			option(value="ex6") г. Гомель
			option(value="ex7") г. Витебск
			option(value="ex8") г. Жлобин
			option(value="ex9") г. Минск
			option(value="ex10") г. Барановичи
			option(value="ex11") г. Брест
			option(value="ex12") г. Борисов
			option(value="ex13") г. Вилейка
			option(value="ex14") г. Гомель
			option(value="ex15") г. Витебск
			option(value="ex16") г. Жлобин

	.wrap-select
		select(placeholder="Все бренды").select
			option(value="exx9") Nike
			option(value="exx10") Adidas
			option(value="exx11") Puma
			option(value="exx12") SEO
			option(value="exx13") Аудит
			option(value="exx14") WebCompany

.wrap-tables
	.table
		span.table-title Pentax
		table
			tr
				td ООО «Проспект длинное название»
				td г. Барановичи, ул. Советская, д. 18
				td 
					a(href="tel:375000000000") +375 (00) 000 00 00; 
					a(href="tel:375000000000") +375 (00) 000 00 00
			tr
				td ООО «Проспект длинное название в две строки»
				td г. Барановичи, ул. Советская, д. 18
				td 
					a(href="tel:375000000000") +375 (00) 000 00 00; 
					a(href="tel:375000000000") +375 (00) 000 00 00
			tr
				td ООО «Проспект длинное название»
				td г. Барановичи
				td 
					a(href="tel:375000000000") +375 (00) 000 00 00
			tr
				td ООО «Проспект длинное название»
				td г. Барановичи, ул. Советская, д. 18
				td 
					a(href="tel:375000000000") +375 (00) 000 00 00; 
					a(href="tel:375000000000") +375 (00) 000 00 00
			tr
				td ООО «Проспект длинное название»
				td г. Барановичи, ул. Советская, д. 18
				td 
					a(href="tel:375000000000") +375 (00) 000 00 00; 
					a(href="tel:375000000000") +375 (00) 000 00 00

	.table
		span.table-title Samsung
		table
			tr
				td ООО «Проспект длинное название»
				td г. Барановичи, ул. Советская, д. 18
				td 
					a(href="tel:375000000000") +375 (00) 000 00 00
			tr
				td ООО «Проспект длинное название в две строки»
				td г. Барановичи
				td 
					a(href="tel:375000000000") +375 (00) 000 00 00; 
					a(href="tel:375000000000") +375 (00) 000 00 00
			tr
				td ООО «Проспект длинное название»
				td г. Барановичи, ул. Советская, д. 18
				td 
					a(href="tel:375000000000") +375 (00) 000 00 00
			tr
				td ООО «Проспект длинное название в две строки»
				td
				td
			tr
				td ООО «Проспект длинное название»
				td г. Барановичи
				td 
					a(href="tel:375000000000") +375 (00) 000 00 00; 
					a(href="tel:375000000000") +375 (00) 000 00 00

	.table
		span.table-title Sony
		table
			tr
				td ООО «Проспект длинное название»
				td г. Барановичи, ул. Советская, д. 18
				td 
					a(href="tel:375000000000") +375 (00) 000 00 00; 
					a(href="tel:375000000000") +375 (00) 000 00 00
			tr
				td ООО «Проспект длинное название в две строки»
				td
				td
			tr
				td ООО «Проспект длинное название»
				td г. Барановичи, ул. Советская, д. 18
				td 
					a(href="tel:375000000000") +375 (00) 000 00 00; 
					a(href="tel:375000000000") +375 (00) 000 00 00
			tr
				td ООО «Проспект длинное название»
				td г. Барановичи, ул. Советская, д. 18
				td 
					a(href="tel:375000000000") +375 (00) 000 00 00
			tr
				td ООО «Проспект длинное название»
				td г. Барановичи
				td 
					a(href="tel:375000000000") +375 (00) 000 00 00;


