section.page-banner.page-banner-has-img.img-bg(style="background-image: url('img/bitrix-banner-bg.jpg')")
	.container

		.page-banner-content
			.wrap-breadcrumbs.breadcrumbs-yellow
				a(href="index.html") Главная
				span.delimiter /
				a(href="") Услуги
				span.delimiter /
				a(href="") Разработка сайтов
				span.delimiter /
				span.cur-page Разработка сайтов на 1С-Битрикс

			.page-banner-text
				span.banner-title Разработка сайтов<br> на 1С-Битрикс
				p.subtext Профессиональная система управления веб-проектами,<br> универсальный программный продукт для создания, поддержки<br> и успешного развития:

			.page-banner-img
				.wrap-img.img-resp
					img.lazyload(data-src="img/banner-service-bitrix.png", alt="")













