section.bitrix-plus.img-bg(style="background-image: url('img/bitrix-plus-bg.jpg')")
	.container
		.bitrix-plus-content

			span.title За что любят cms 1с-битрикс

			.wrap-plus-items

				.plus-item
					.wrap-icon
						img.lazyload(data-src="img/plus-item-1.svg", alt="")
					span.item-title Легкая управляемость
					p.text Интуитивно понятный веб-интерфейс административной панели, подробное руководство пользователя и клиентская поддержка.

				.plus-item
					.wrap-icon
						img.lazyload(data-src="img/plus-item-2.svg", alt="")
					span.item-title Высокая производительность
					p.text Технология «композитный сайт» ускорение в 100 раз! Выдержит любые нагрузки.

				.plus-item
					.wrap-icon
						img.lazyload(data-src="img/plus-item-3.svg", alt="")
					span.item-title Регулярные обновления
					p.text Автоматические обновления в фоновом режиме, благодаря которым поддерживается стабильная работа всех компонентов.

				.plus-item
					.wrap-icon
						img.lazyload(data-src="img/plus-item-4.svg", alt="")
					span.item-title Интеграция с 1С
					p.text Возможность синхронизации данных между сайтом и 1С:Бухгалтерия 7 и 8 версий, 1С:Предприятие и другими системами учётами, в т.ч. в режиме реального времени.

				.plus-item
					.wrap-icon
						img.lazyload(data-src="img/plus-item-5.svg", alt="")
					span.item-title 
						| Надежная защита 
						| и безопасность
					p.text Модуль проактивной защиты реализует мощный комплекс защитных мероприятий для сайта и сторонних приложений.

				.plus-item
					.wrap-icon
						img.lazyload(data-src="img/plus-item-6.svg", alt="")
					span.item-title 
						| Масштабирование
						| и развитие
					p.text Быстрый и простой переход с меньшей редакции на большую, и возможность регулярных доработок.


