section.bitrix-packages.img-bg.sec-page(style="background-image: url('img/bitrix-packages-bg.jpg')")
	.container
		.bitrix-packages-content

			.wrap-title
				span.title 
					| Функциональные отличия между редакциями 
					| 1С-БИТРИКС

			.bitrix-packages-slider.swiper-container
				.wrap-packages-slider-nav
					.swiper-button-next
						<svg width="41" height="16" viewBox="0 0 41 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M41 8H2M2 8L9 1M2 8L9 15" stroke="#959CB0" stroke-width="2"/>
						</svg>
					
					.swiper-button-prev
						<svg width="41" height="16" viewBox="0 0 41 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M41 8H2M2 8L9 1M2 8L9 15" stroke="#959CB0" stroke-width="2"/>
						</svg>


				.wrap-packages-items.swiper-wrapper

					.wrap-package-item.swiper-slide
						.item
							.visible

								.wrap-img.img-resp
									img.lazyload(data-src="img/bitrix-package-item-1.png", alt="")
									.wrap-img-text
										span.title 1С-Битрикс: Малый бизнес
										.wrap-price
											span.price 1 550
											sup BYN


								span.title Бизнес

								.wrap-price
									span.price 1 550
									sup BYN

							.hidden
								.top-line
									span.title 1С-Битрикс: Малый бизнес

									.wrap-price
										span.price 1 550
										sup BYN

								.subtext
									span.title Для быстрого старта нового Интернет-магазина
									span.subtitle Количество модулей: 32

								.wrap-text
									p Специальное решение для небольших и средних компаний. Откройте свой интернет-магазин с минимальными затраты. Разместите любое количество товаров в каталоге, управляйте скидками и доставкой. Интегрируйте магазин с «1С» и «Яндекс. Маркет»

								.bottom-line
									.wrap-btn.wrap-btn-blue.btn-buy
										button.btn Купить

									.wrap-btn.wrap-btn-compare
										a(href="#").btn
											.wrap-icon
												img.lazyload(data-src="img/compare.svg")
											span Сравнить возможности


					.wrap-package-item.swiper-slide
						.item
							.visible

								.wrap-img.img-resp
									img.lazyload(data-src="img/bitrix-package-item-1.png", alt="")
									.wrap-img-text
										span.title 1С-Битрикс: Малый бизнес
										.wrap-price
											span.price 1 550
											sup BYN


								span.title Бизнес

								.wrap-price
									span.price 1 550
									sup BYN

							.hidden
								.top-line
									span.title 1С-Битрикс: Малый бизнес

									.wrap-price
										span.price 1 550
										sup BYN

								.subtext
									span.title Для быстрого старта нового Интернет-магазина
									span.subtitle Количество модулей: 32

								.wrap-text
									p Специальное решение для небольших и средних компаний. Откройте свой интернет-магазин с минимальными затраты. Разместите любое количество товаров в каталоге, управляйте скидками и доставкой. Интегрируйте магазин с «1С» и «Яндекс. Маркет»

								.bottom-line
									.wrap-btn.wrap-btn-blue.btn-buy
										button.btn Купить

									.wrap-btn.wrap-btn-compare
										a(href="#").btn
											.wrap-icon
												img.lazyload(data-src="img/compare.svg")
											span Сравнить возможности

					.wrap-package-item.swiper-slide
						.item
							.visible
								.wrap-img.img-resp
									img.lazyload(data-src="img/bitrix-package-item-3.png", alt="")
									.wrap-img-text
										span.title 1С-Битрикс: Малый бизнес
										.wrap-price
											span.price 1 550
											sup BYN


								span.title Стандарт

								.wrap-price
									span.price 1 550
									sup BYN

							.hidden
								.top-line
									span.title 1С-Битрикс: Стандарт

									.wrap-price
										span.price 1 550
										sup BYN

								.subtext
									span.title Для быстрого старта нового Интернет-магазина
									span.subtitle Количество модулей: 32

								.wrap-text
									p Специальное решение для небольших и средних компаний. Откройте свой интернет-магазин с минимальными затраты. Разместите любое количество товаров в каталоге, управляйте скидками и доставкой. Интегрируйте магазин с «1С» и «Яндекс. Маркет»

								.bottom-line
									.wrap-btn.wrap-btn-blue.btn-buy
										button.btn Купить

									.wrap-btn.wrap-btn-compare
										a(href="#").btn
											.wrap-icon
												img.lazyload(data-src="img/compare.svg")
											span Сравнить возможности

					.wrap-package-item.swiper-slide
						.item
							.visible
								.wrap-img.img-resp
									img.lazyload(data-src="img/bitrix-package-item-2.png", alt="")
									.wrap-img-text
										span.title 1С-Битрикс: Малый бизнес
										.wrap-price
											span.price 1 550
											sup BYN

								span.title Бизнес

								.wrap-price
									span.price 1 550
									sup BYN

							.hidden
								.top-line
									span.title 1С-Битрикс: Малый бизнес

									.wrap-price
										span.price 1 550
										sup BYN

								.subtext
									span.title Для быстрого старта нового Интернет-магазина
									span.subtitle Количество модулей: 32

								.wrap-text
									p Специальное решение для небольших и средних компаний. Откройте свой интернет-магазин с минимальными затраты. Разместите любое количество товаров в каталоге, управляйте скидками и доставкой. Интегрируйте магазин с «1С» и «Яндекс. Маркет»

								.bottom-line
									.wrap-btn.wrap-btn-blue.btn-buy
										button.btn Купить

									.wrap-btn.wrap-btn-compare
										a(href="#").btn
											.wrap-icon
												img.lazyload(data-src="img/compare.svg")
											span Сравнить возможности

					.wrap-package-item.swiper-slide
						.item
							.visible
								.wrap-img.img-resp
									img.lazyload(data-src="img/bitrix-package-item-1.png", alt="")
									.wrap-img-text
										span.title 1С-Битрикс: Малый бизнес
										.wrap-price
											span.price 1 550
											sup BYN


								span.title Стандарт

								.wrap-price
									span.price 1 550
									sup BYN

							.hidden
								.top-line
									span.title 1С-Битрикс: Стандарт

									.wrap-price
										span.price 1 550
										sup BYN

								.subtext
									span.title Для быстрого старта нового Интернет-магазина
									span.subtitle Количество модулей: 32

								.wrap-text
									p Специальное решение для небольших и средних компаний. Откройте свой интернет-магазин с минимальными затраты. Разместите любое количество товаров в каталоге, управляйте скидками и доставкой. Интегрируйте магазин с «1С» и «Яндекс. Маркет»

								.bottom-line
									.wrap-btn.wrap-btn-blue.btn-buy
										button.btn Купить

									.wrap-btn.wrap-btn-compare
										a(href="#").btn
											.wrap-icon
												img.lazyload(data-src="img/compare.svg")
											span Сравнить возможности

					.wrap-package-item.swiper-slide
						.item
							.visible
								.wrap-img.img-resp
									img.lazyload(data-src="img/bitrix-package-item-3.png", alt="")
									.wrap-img-text
										span.title 1С-Битрикс: Малый бизнес
										.wrap-price
											span.price 1 550
											sup BYN


								span.title Бизнес

								.wrap-price
									span.price 1 550
									sup BYN

							.hidden
								.top-line
									span.title 1С-Битрикс: Малый бизнес

									.wrap-price
										span.price 1 550
										sup BYN

								.subtext
									span.title Для быстрого старта нового Интернет-магазина
									span.subtitle Количество модулей: 32

								.wrap-text
									p Специальное решение для небольших и средних компаний. Откройте свой интернет-магазин с минимальными затраты. Разместите любое количество товаров в каталоге, управляйте скидками и доставкой. Интегрируйте магазин с «1С» и «Яндекс. Маркет»

								.bottom-line
									.wrap-btn.wrap-btn-blue.btn-buy
										button.btn Купить

									.wrap-btn.wrap-btn-compare
										a(href="#").btn
											.wrap-icon
												img.lazyload(data-src="img/compare.svg")
											span Сравнить возможности										

			.swiper-pagination

			.bottom-line-under-slider
				span.text Получить консультацию по выбору редакции 1С-Битрикс
				.wrap-btn.wrap-btn-border
					.btn.btn-show-modal(data-modal-key="modal-callback") Заказать звонок
