section.sec-macbook-2.sec-page
	.container
		.sec-macbook-2-content

			.wrap-img.img-resp
				img.lazyload(data-src="img/macbook-2.png")

			.wrap-text.wrap-title-mac.wrap-list-point
				span
					| Задачи, которые может <br>
					| решать Битрикс:
				ul
					li Корпоративные порталы
					li Автоматизацию бизнес процессов
					li Сайты визитки
					li Корпоративные сайты
					li Промо-сайты
					li Сайты продуктов и услуг
					li Интернет-магазины
					li Порталы и СМИ