.wrap-text-under-banner
	.container
		.wrap-text
			p 1C-Bitrix это  мощнейшая платформа для композитного сайта с большим количеством товара, это огромные возможности функционального управления магазином: цены, наличие на складе, товарные предложения, интеграция с 1С Бухгалтерией, настройка мобильной версии и дизайна. Для корпоративных сайтов и визиток Bitrix (Битрикс) также подойдет. Мы предлагаем выгодные условия и цены своим клиентам по услуге создание сайта 1с Bitrix.
			p 1C-Bitrix - это мощнейшая платформа для композитного сайта с большим количеством товара, это огромные возможности функционального управления магазином: цены, наличие на складе, товарные предложения, интеграция с 1С Бухгалтерией, настройка мобильной версии и дизайна. Для корпоративных сайтов и визиток Bitrix (Битрикс) также подойдет. Мы предлагаем выгодные условия и цены своим клиентам по услуге создание сайта 1с Bitrix.




