.container
	margin: 0 auto
	padding: 0 15px

+media-min(xs)
  .container
    width: 100%

+media-min(sm)
  .container
    width: 540px

+media-min(md)
  .container
    width: 720px

+media-min(lg)
  .container
    width: 960px

+media-min(xl)
	.container
		width: 1170px
