//Simple colors BEGIN
$cornflower-blue: #17A5F4
$dusty-gray: #9A9A9A
$gray: #8D8A8A
$emperor: #504E4E
$green-haze: #06A86A
$torch-red: #F21414
$dove-gray: #6C6767
//Simple colors END


//Backgrounds colors BEGIN
$blue-dark-gradient: linear-gradient(241.63deg, #13405E 9.24%, #213C4D 95.22%)
$geyser: #D2D8DD
$wild-sand: #F4F4F4
//Backgrounds colors END


//Common vars BEGIN
$accent: $cornflower-blue
$green: #06A86A
$red: #F21414
//Common vars END


//Transition BEGIN
$slow-to-fast: cubic-bezier(.86,0,.07,1)
//Transition END