//Mixins START
@import "_mixins/media"
//Mixins END


//Accessory START
@import "vars"
//Accessory END


//Row info hover link BEGIN
.row-info
	&__link
		transition: .3s all ease
		&:hover
			color: $accent
	&__overlay
		display: none
//Row info hover link END



