.products-data-tables
	.products-data-table.cur-table
		table
			tr.row-title
				td Общая информация
				td
				td
				td
				td
				td
				td
			tr
				td Дата выхожа на рынок
				td 2017 г.
				td 2015 г.
				td 2016 г.
				td 2017 г.
				td 2019 г.
				td 2023 г.
			tr
				td Диагональ
				td 24 ''
				td 24 ''
				td 23 ''
				td 21 ''
				td -
				td 21 ''
			tr
				td Соотношение сторон
				td 21:9
				td 21:9
				td 21:9
				td 21:9
				td 21:9
				td 21:9
			tr
				td Разрешение
				td 2560x1080
				td 2560x1080
				td 2560x1080
				td 2560x1080
				td 2560x1080
				td 2560x1080
			tr
				td Матрица
				td IPS
				td IPS
				td IPS
				td IPS
				td -
				td IPS
			tr.row-title
				td Функциональные особенности
				td 
				td
				td
				td
				td
				td
			tr
				td Bluetooth
				td да
				td —
				td да
				td да
				td да
				td —
			tr
				td Wi-Fi
				td —
				td да
				td да
				td да
				td да
				td да
			tr
				td MHL
				td да
				td да
				td —
				td да
				td -
				td да
			tr
				td Интерфейс подключения
				td да
				td да
				td да
				td -
				td да
				td да
			tr.row-title
				td Технические характеристики
				td 
				td
				td
				td
				td
				td
			tr
				td Поверхность экрана
				td матовая
				td матовая
				td матовая
				td матовая
				td матовая
				td глянец
			tr
				td Яркость 
				td 250 кд/м2
				td 250 кд/м2
				td 250 кд/м2
				td 250 кд/м2
				td 210 кд/м2
				td 290 кд/м2
			tr
				td Контрастность очень длинное в две строки
				td 1000:1
				td 1000:1
				td 300:1
				td 1000:1
				td 1000:1
				td 1000:1
			tr
				td Контрастность
				td 1000:1
				td 1000:1
				td 1000:1
				td 1000:1
				td 1000:1
				td 900:1

	.products-data-table
		table
			tr.row-title
				td Общая информация 2
				td
				td
				td
				td
				td
				td
			tr
				td Дата выхожа на рынок 2
				td 2017 г.
				td 2015 г.
				td 2016 г.
				td 2017 г.
				td 2019 г.
				td 2023 г.
			tr
				td Диагональ
				td 24 ''
				td 24 ''
				td 23 ''
				td 21 ''
				td -
				td 21 ''
			tr
				td Соотношение сторон 2
				td 21:9
				td 21:9
				td 21:9
				td 21:9
				td 21:9
				td 21:9
			tr
				td Разрешение 2
				td 2560x1080
				td 2560x1080
				td 2560x1080
				td 2560x1080
				td 2560x1080
				td 2560x1080
			tr
				td Матрица 2
				td IPS
				td IPS
				td IPS
				td IPS
				td -
				td IPS
			tr.row-title
				td Функциональные особенности 2
				td 
				td
				td
				td
				td
				td
			tr
				td Bluetooth 2
				td да
				td —
				td да
				td да
				td да
				td —
			tr
				td Wi-Fi 2
				td —
				td да
				td да
				td да
				td да
				td да
			tr
				td MHL 2
				td да
				td да
				td —
				td да
				td -
				td да
			tr
				td Интерфейс подключения 2
				td да
				td да
				td да
				td -
				td да
				td да
			tr.row-title
				td Технические характеристики 2
				td 
				td
				td
				td
				td
				td
			tr
				td Поверхность экрана 2
				td матовая
				td матовая
				td матовая
				td матовая
				td матовая
				td глянец
			tr
				td Яркость 2
				td 250 кд/м2
				td 250 кд/м2
				td 250 кд/м2
				td 250 кд/м2
				td 210 кд/м2
				td 290 кд/м2
			tr
				td Контрастность очень длинное в две строки 2
				td 1000:1
				td 1000:1
				td 300:1
				td 1000:1
				td 1000:1
				td 1000:1
			tr
				td Контрастность 2
				td 1000:1
				td 1000:1
				td 1000:1
				td 1000:1
				td 1000:1
				td 900:1
