//Top page BEGIN
include top-page/top-page
//Top page END

//Content BEGIN
.delivery-payment__content
  .wrapper
    include content-top/content-top
    include content-bottom/content-bottom
//Content END

include ../../../feedback/feedback
