section.page-banner.img-bg(style="background-image: url('img/banner-banner-commercial-bg.jpg')")
	.container

		.page-banner-content
			.wrap-breadcrumbs.breadcrumbs-yellow
				a(href="index.html") Главная
				span.delimiter /
				a(href="") Услуги
				span.delimiter /
				a(href="") Контекстная реклама
				span.delimiter /
				span.cur-page Баннерная реклама

			.page-banner-text
				span.banner-title Баннерная реклама<br> в контекстно медийной сети
				p.subtext Баннеры - это как уличные билборды, но в интернете