section.sec-info-1-under-banner.sec-page
	.container
		.sec-info-1-under-banner-content

			.wrap-img.img-resp
				img.lazyload(data-src="img/banner-commercial-img-info-1.jpg", alt="")

			.wrap-text
				p В наше время сложно представить себе развитый сайт, не имеющий рекламного баннера. Контекстная баннерная реклама от Google и Яндекс - это не только эффективное средство продвижения собственной продукции или услуг рекламодателя, но и отличная возможность заработать владельцу рекламной площадки. Баннер представляет собой небольшой рекламный блок прямоугольной формы, при нажатии на который произойдет редирект на заданную интернет-страницу. Важно помнить, что баннерная реклама предназначена не только для повышения количества посетителей интернет страницы, но и для того, чтобы повысить узнаваемость продукции или услуги. Она поможет клиенту быстрее купить продукт или услугу, т.к. потенциальный покупатель будет видеть ее часто на различных сайтах и порталах.
				span Стоимость медийной рекламы
				p Цена на баннерную рекламу Яндекс или Google варьируется от целой группы факторов, среди которых регион охвата, тематика, длительность размещения и прочие моменты, которые определяются индивидуально.