section.sec-info-2-under-banner.sec-page
	.container
		.sec-info-2-under-banner-content

			.wrap-img.img-resp
				img.lazyload(data-src="img/macbook-3.png", alt="")

			.wrap-text
				span Преимущества медийной рекламы от Google Adwords и Яндекс Директ
				p Для пользователя интернета очень важно иметь визуальный контакт с рекламируемым товаром. Это утверждение, впрочем, актуально для любого потенциального покупателя или заказчика. Любое визуальное представление товара (баннер) имеет гораздо большие шансы на то, чтобы найти своего покупателя. Воспользовавшись контекстно медийной рекламой, вы сможете рассказать о предлагаемой на сайте продукции миллионам людей - для этого следует определиться с площадками, на которых вы будете ее демонстрировать. Популярность некоторых сайтов сопоставима с рейтингами телеканалов или радиостанций. Рекламные блоки (баннеры) размещаются в хорошо обозримых местах, поэтому шансы на то, что они будут незамеченными, практически сводятся к нулю.