.steps-work.sec-page
	.steps-work-content

		.wrap-title
			span.title Этапы изготовления рекламных баннеров

		.wrap-steps-items
			.step-item
				.wrap-number
					span.number 1
				span.text 
					| Определение целевой
					| аудитории

			.step-item
				.wrap-number
					span.number 2
				span.text 
					| Изготовление рекламных
					| баннеров

			.step-item
				.wrap-number
					span.number 3
				span.text 
					| Запуск и настройка 
					| рекламы

			.step-item
				.wrap-number
					span.number 4
				span.text
					| Определение эффективности
					| и внесение корректив
					span.subtext (если необходимы)