.wrap-customer-data
	.customer-data
		padding: 60px 15.5% 80px 50px
		margin-bottom: 20px

		&:last-child
			margin-bottom: 0

		&-title
			font-size: 1.5rem
			line-height: 30px
			margin-bottom: 25px
			display: block

		.wrap-fields
			display: flex
			flex-wrap: wrap
			margin: 0 -10px -20px

			.wrap-field
				padding: 0 10px 0
				margin-bottom: 20px
				width: 100%

		.saved-address
			display: block
			margin-top: 20px
			color: $dark-blue
			position: relative

			span
				cursor: pointer

			.dropdown-saved-address
				width: 600px
				position: absolute
				top: calc(100% + 5px)
				left: 0
				padding: 20px
				display: none
				z-index: 3

				&::before
					display: none
					
				.list-saved-address
					.item-saved-address
						margin-bottom: 10px
						cursor: pointer

						&:last-child
							margin-bottom: 0

						&-title
							position: relative
							font-size: 1rem
							&::after
								content: ""
								position: absolute
								top: 50%
								left: calc(100% + 6px)
								transform: translate(0, -50%)
								background: url("../img/icon-check.svg") no-repeat center
								background-size: contain
								height: 12px
								width: 15px
								display: none

						.address-data
							font-weight: 400
							line-height: 22px

					.cur-address
						.item-saved-address-title
							&::after
								display: block

			.el-show
				display: block

		.wrap-switches
			display: flex
			flex-wrap: wrap
			margin: 0 -20px -40px
			.wrap-radio
				padding: 0 20px 40px

	.customer-data-payment-methods
		.customer-data-title
			display: flex
			align-items: center

		.icon-dropdown
			&::before
				display: none

		.dropdown-payment-methods
			width: 300px
			.dropdown-label
				&::before
					content: ""
					position: absolute
					bottom: 100%
					left: 50%
					transform: translate(-50%, 0)
					border: 8px solid transparent
					border-bottom-color: #fff
					z-index: 3

			span
				display: block

			.dropdown-label
				padding: 35px 30px

			.row-payment-methods
				margin-top: 25px
				display: flex
				flex-wrap: wrap
				align-items: center
				margin-bottom: -15px
				.payment-method
					margin-right: 26px
					margin-bottom: 15px



+media-breakpoint-down(lg)
	.wrap-customer-data
		.customer-data
			padding: 60px 50px 70px



+media-breakpoint-down(md)
	.wrap-customer-data
		.customer-data
			.wrap-fields
				.form-el-6
					max-width: 25%
			
			.saved-address
				.dropdown-saved-address
					width: 400px

			.wrap-switches
				flex-wrap: wrap
				margin-bottom: -20px
				.wrap-radio
					padding-bottom: 20px
					width: 100%
				.form-el-3
					max-width: 50%




+media-breakpoint-down(sm)
	.wrap-customer-data
		.customer-data
			padding: 35px 35px 50px



+media-breakpoint-down(xs)
	.wrap-customer-data
		margin-top: 10px
		.customer-data
			padding: 30px 30px 40px

			.saved-address
				display: none

			&-title
				font-size: 16px
				line-height: 24px
				.icon-dropdown
					display: none

			.wrap-fields
				margin: 0 -7px -15px
				.wrap-field
					max-width: 100%
					padding: 0 7px 0
					margin-bottom: 15px
					input::placeholder
						text-overflow: ellipsis
						white-space: nowrap
						overflow: hidden
						padding-right: 40px
				.form-el-6
					max-width: calc(100% / 3)


			.wrap-switches
				.form-el-3
					max-width: 100%
				.wrap-radio
					align-items: center
					.text
						font-size: 14px
						line-height: 18px










