extends ../pug/template/page.pug

block title 
	| Main page

block content
	
	// Preloader BEGIN
	//include ../modules/preloader/preloader
	// Preloader END

	// Header BEGIN
	include ../modules/header/header
	// Header END 

	// Main page content BEGIN
	include main-page/main-page-include
	// Main page content END