extends ../pug/template/page.pug

block title 
	| Sivenkov - разработка и администрирование сайтов в Минске

block content

	//Header BEGIN
	header.header
		.container
			
	//Header END 


	//Content BEGIN
	.page
		.container
			article.privacy-policy
				span.privacy-policy__title.d-sm-none.d-block.title-h1.page__title Политика<br> Конфиденциальности
				span.privacy-policy__title.d-none.d-sm-block.title-h1.page__title Политика компании

				span.time-last-changes.text-bold.text-accent Обновлено: 
					time(datetime="2019-05-03") 3 мая 2019 г.

				p Принцип работы с заказчиками в Сивенков является <span class="d-sm-inline-block d-none">защищенность</span><span class="d-sm-none d-inline-block">неприкосновенность</span> вашей личной<br> информации. Мы обязуемся использовать информацию о наших посетителях и заказчиках<br> со всей ответственностью, не продавать, не распространять и не передавать на условиях<br> аренды в коммерческих целях частным лицам или организациям. Пожалуйста, ознакомьтесь<br> более подробно с политикой защиты информации, принятой на нашем сайте.

				h3 Политика куки

				p Cookie (куки) — это небольшие текстовые файлы, в которые браузер записывает данные с<br> посещенных вами сайтов. Они не содержат никаких личных данных, таких как пароли.<br> Наш веб-сайт использует куки чтобы улучшить работу и повысить эффективность сайта при<br> посещении. Если вы не хотите, чтобы наш веб-сайт размещал файлы куки на вашем жестком<br> диске, вы можете отключить эту функцию на своем компьютере. В таком случае, Вам следует<br> обратится к документации вашего интернет-браузера для получения информации о том, как<br> отключить куки.

				h4 Как мы используем вашу информацию?

				mark Мы используем куки двумя основными способами.<br class="d-375-400-inline-block"> Во-первых, мы выпускаем небольшое<br> количество файлов cookie от служб, которые мы используем для улучшения<br class="d-375-400-inline-block"> общего опыта<br> использования нашего веб-сайта.<br class="d-375-400-inline-block"> Во-вторых, мы используем агрегированные данные наших<br> пользователей, чтобы понять, как люди используют наш веб-сайт, сколько посетителей мы<br> получаем, и какой контент людям нравится или не нравится. Это позволяет<br class="d-375-400-inline-block"> нам улучшить<br> наш веб-сайт и сделать его более подходящим<br class="d-375-400-inline-block"> для использования и потребностей наших<br> пользователей.

				mark Обратите внимание, что данные, которые мы используем в наших файлах куки, являются<br> анонимными, поэтому мы не сможем использовать их, чтобы выследить и украсть вашу<br><br class="d-375-400-inline-block"> любимую пару обуви.

				p Файлы cookie не крадут ваши персональные данные и применяются только к<br class="d-375-400-inline-block"> конкретному<br> веб-сайту, который<br class="d-375-400-inline-block"> вы посещаете в данный момент. Поскольку мы не предоставляем услуги<br> входа в систему, мы не можем получить данные об идентифицируемых лицах.

				h4 Какой набор кук наш сайт использует на вашем устройстве?

				mark _utma<br><br class="d-375-400-inline-block"> Наш сайт использует Google Analytics <span class="d-sm-none d-inline-block">& Yandex Metrica</span>, чтобы предоставить нам полезные<br> данные о том, как люди используют наш сайт. Этот файл cookie предоставляет данные о<br> количестве новых людей, которые посещают, сколько раз люди возвращаются и когда кто-то<br> последний раз посещал. Эти данные дают нам общее представление о том, предоставляем<br> ли мы достаточно интересный контент, чтобы привлечь новых посетителей и убедить старых<br> посетителей вернуться.

				mark _utmc<br><br class="d-375-400-inline-block"> Эти куки также используются Google Analytics <span class="d-sm-none d-inline-block">& Yandex Metrika</span>. Они позволяют нам точно<br> знать, когда<br class="d-375-400-inline-block"> пользователь покидает наш сайт. Данный инструмент помогает увидеть нам,<br> какие изменение на нашем сайте заставляют уходить людей.

				p _utmz<br><br class="d-375-400-inline-block"> Данный куки Google Analytics <span class="d-sm-none d-inline-block">& Yandex Metrika</span> позволяет нам видеть<br class="d-375-400-inline-block"> информацию о том,<br> каким образом пользователи попадают на наш сайт. Это означает, что мы можем видеть,<br> какие поисковые системы посещают наши клиенты по какой ссылке они находят нас, и<br> какие поисковые запросы используют. Таким образом, мы знаем, что если многие люди<br> находят нас с помощью поискового запроса «доставка пиццы на дом», то нам, вероятно,<br> необходимо пересмотреть содержание нашего сайта. Куки также позволяет нам узнать<br> географическое положение наших пользователей, поэтому мы знаем, из каких стран<br> посещают наши пользователи. Это важно для такой агентской сети, как наша.

				h3 Безопасность

				mark.d-sm-none.d-block Мы стремимся обеспечить безопасное и надежное посещение на сайте. С этой целью<br> мы поддерживаем электронные и процедурные гарантии защиты информации, которые<br> соответствуют всем применимым законам. В некоторых разделах сайта мы просим вас<br> предоставить вашу личную информацию. Эта информация не разглашается и используется<br> исключительно для оптимальной поддержки вашего взаимодействия с Сивенковым.

				mark.d-sm-block.d-none Мы стремимся обеспечить безопасное и надежную онлайн среду на сайте. С этой целью мы поддерживаем электронные и процедурные гарантии защиты информации, которые соответствуют всем применимым законам. В некоторых разделах сайта мы просим вас предоставить вашу личную информацию. Эта информация не разглашается и используется исключительно для оптимальной поддержки вашего взаимодействия с Сивенковым.

				p Мы требуем, чтобы независимые подрядчики и другие третьи стороны, которые работают<br> с нами, соблюдали строгие стандарты конфиденциальности в своих договорах с нами.

				h3 Ссылки на другие сайты

				p Наш сайт содержит ссылки на другие сайты, поддерживаемые третьими сторонами.<br> Сивенков не несет ответственности за политику конфиденциальности и политику, принятую<br> на этих ресурсах. Также, Cивенков не несет ответственности за сбор личной информации<br> через другие сайты, ссылки которых размещены на этом сайте. Пожалуйста, знакомьтесь<br> с политикой конфиденциальности каждого сайта, который вы посещаете.

				h3 Связаться с нами

				p Сивенков заботится о вашей конфиденциальности. Если у вас возникли вопросы<br> относительно настоящей Политики конфиденциальности, работы нашего сайта или ваших<br> предложений по работе с нами, пожалуйста, пишите нам на почту: info@sivenkov.by

				h3 Защита персональных данных

				p Если в использование файлов cookies будут внесены изменения, мы разместим<br> информацию<br class="d-375-400-inline-block"> в данных правилах. Пожалуйста, проверяйте периодически,<br class="d-375-400-inline-block"> как продолжают<br> развиваться методы сбора данных онлайн и наше использование этих данных.
	//Content END


	//Footer BEGIN
	footer.footer-2
		.container
	//Footer END