.catalog-content

	.row-filter-data.d-flex.justify-content-between.align-items-center

		.filter-items
			span.h-6 Вы выбрали:

			.wrap-items
				span Белый
					.btn-remove
				span Голубой
					.btn-remove
				span 38.5
					.btn-remove
				span 40
					.btn-remove

		a(href="#").btn-reset-filter.text-fw-bold.text-small Очистить всё

		.view-sort-items.text-medium.el-show-dropdown
			span Сортировать по
			.wrap-dropdown-label
				.dropdown-label
					ul
						li.text-medium По популярности
						li.text-medium.active По возрастанию цены
						li.text-medium По убыванию цены
						li.text-medium По новизне
						li.text-medium По скидке

		span.btn-show-filter
			.wrap-icon.responsive-img
				img(src="img/icon-filter.svg", alt="")
			span.text-dark-blue.text-fw-bold.text-small Фильтры (4)


	.posts-product-cards
		.wrap-product-card.wrap-product-card-default
			.product-card.product-not-available.element-shadow-hover
				.label.text-fw-bold.text-small HIT

				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-4.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor WW

				.bottom-line
					.wrap-price
						span.old-price.text-small.text-gray 141 руб
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
						<g>
							<path d="m121.6,40.1c-3.3-16.6-15.1-27.3-30.3-27.3-8.5,0-17.7,3.5-26.7,10.1-9.1-6.8-18.3-10.3-26.9-10.3-15.2,0-27.1,10.8-30.3,27.6-4.8,24.9 10.6,58 55.7,76 0.5,0.2 1,0.3 1.5,0.3 0.5,0 1-0.1 1.5-0.3 45-18.4 60.3-51.4 55.5-76.1zm-57,67.9c-39.6-16.4-53.3-45-49.2-66.3 2.4-12.7 11.2-21 22.3-21 7.5,0 15.9,3.6 24.3,10.5 1.5,1.2 3.6,1.2 5.1,0 8.4-6.7 16.7-10.2 24.2-10.2 11.1,0 19.8,8.1 22.3,20.7 4.1,21.1-9.5,49.6-49,66.3z"/>
						</g>
						</svg>

		.wrap-product-card.wrap-product-card-default
			.product-card.product-action.element-shadow-hover
				.label.text-fw-bold.text-small -30%

				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-1.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor нужно показать в три строки пожалуйста

				.bottom-line
					.wrap-price
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
						<g>
							<path d="m121.6,40.1c-3.3-16.6-15.1-27.3-30.3-27.3-8.5,0-17.7,3.5-26.7,10.1-9.1-6.8-18.3-10.3-26.9-10.3-15.2,0-27.1,10.8-30.3,27.6-4.8,24.9 10.6,58 55.7,76 0.5,0.2 1,0.3 1.5,0.3 0.5,0 1-0.1 1.5-0.3 45-18.4 60.3-51.4 55.5-76.1zm-57,67.9c-39.6-16.4-53.3-45-49.2-66.3 2.4-12.7 11.2-21 22.3-21 7.5,0 15.9,3.6 24.3,10.5 1.5,1.2 3.6,1.2 5.1,0 8.4-6.7 16.7-10.2 24.2-10.2 11.1,0 19.8,8.1 22.3,20.7 4.1,21.1-9.5,49.6-49,66.3z"/>
						</g>
						</svg>	

		.wrap-product-card.wrap-product-card-default
			.product-card.product-action.element-shadow-hover
				.label.text-fw-bold.text-small -30%

				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-2.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor

				.bottom-line
					.wrap-price
						span.old-price.text-small.text-gray 141 руб
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
						<g>
							<path d="m121.6,40.1c-3.3-16.6-15.1-27.3-30.3-27.3-8.5,0-17.7,3.5-26.7,10.1-9.1-6.8-18.3-10.3-26.9-10.3-15.2,0-27.1,10.8-30.3,27.6-4.8,24.9 10.6,58 55.7,76 0.5,0.2 1,0.3 1.5,0.3 0.5,0 1-0.1 1.5-0.3 45-18.4 60.3-51.4 55.5-76.1zm-57,67.9c-39.6-16.4-53.3-45-49.2-66.3 2.4-12.7 11.2-21 22.3-21 7.5,0 15.9,3.6 24.3,10.5 1.5,1.2 3.6,1.2 5.1,0 8.4-6.7 16.7-10.2 24.2-10.2 11.1,0 19.8,8.1 22.3,20.7 4.1,21.1-9.5,49.6-49,66.3z"/>
						</g>
						</svg>

		.wrap-product-card.wrap-product-card-default
			.product-card.element-shadow-hover
				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-3.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor нужно показать в три строки пожалуйста

				.bottom-line
					.wrap-price
						span.old-price.text-small.text-gray 141 руб
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
						<g>
							<path d="m121.6,40.1c-3.3-16.6-15.1-27.3-30.3-27.3-8.5,0-17.7,3.5-26.7,10.1-9.1-6.8-18.3-10.3-26.9-10.3-15.2,0-27.1,10.8-30.3,27.6-4.8,24.9 10.6,58 55.7,76 0.5,0.2 1,0.3 1.5,0.3 0.5,0 1-0.1 1.5-0.3 45-18.4 60.3-51.4 55.5-76.1zm-57,67.9c-39.6-16.4-53.3-45-49.2-66.3 2.4-12.7 11.2-21 22.3-21 7.5,0 15.9,3.6 24.3,10.5 1.5,1.2 3.6,1.2 5.1,0 8.4-6.7 16.7-10.2 24.2-10.2 11.1,0 19.8,8.1 22.3,20.7 4.1,21.1-9.5,49.6-49,66.3z"/>
						</g>
						</svg>		

		.wrap-product-card.wrap-product-card-default
			.product-card.product-new.element-shadow-hover
				.label.text-fw-bold.text-small new

				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-4.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor WW

				.bottom-line
					.wrap-price
						span.old-price.text-small.text-gray 141 руб
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
						<g>
							<path d="m121.6,40.1c-3.3-16.6-15.1-27.3-30.3-27.3-8.5,0-17.7,3.5-26.7,10.1-9.1-6.8-18.3-10.3-26.9-10.3-15.2,0-27.1,10.8-30.3,27.6-4.8,24.9 10.6,58 55.7,76 0.5,0.2 1,0.3 1.5,0.3 0.5,0 1-0.1 1.5-0.3 45-18.4 60.3-51.4 55.5-76.1zm-57,67.9c-39.6-16.4-53.3-45-49.2-66.3 2.4-12.7 11.2-21 22.3-21 7.5,0 15.9,3.6 24.3,10.5 1.5,1.2 3.6,1.2 5.1,0 8.4-6.7 16.7-10.2 24.2-10.2 11.1,0 19.8,8.1 22.3,20.7 4.1,21.1-9.5,49.6-49,66.3z"/>
						</g>
						</svg>

		.wrap-product-card.wrap-product-card-default
			.product-card.product-action.element-shadow-hover
				.label.text-fw-bold.text-small -30%

				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-1.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor

				.bottom-line
					.wrap-price
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
						<g>
							<path d="m121.6,40.1c-3.3-16.6-15.1-27.3-30.3-27.3-8.5,0-17.7,3.5-26.7,10.1-9.1-6.8-18.3-10.3-26.9-10.3-15.2,0-27.1,10.8-30.3,27.6-4.8,24.9 10.6,58 55.7,76 0.5,0.2 1,0.3 1.5,0.3 0.5,0 1-0.1 1.5-0.3 45-18.4 60.3-51.4 55.5-76.1zm-57,67.9c-39.6-16.4-53.3-45-49.2-66.3 2.4-12.7 11.2-21 22.3-21 7.5,0 15.9,3.6 24.3,10.5 1.5,1.2 3.6,1.2 5.1,0 8.4-6.7 16.7-10.2 24.2-10.2 11.1,0 19.8,8.1 22.3,20.7 4.1,21.1-9.5,49.6-49,66.3z"/>
						</g>
						</svg>	

		.wrap-product-card.wrap-product-card-default
			.product-card.product-action.element-shadow-hover
				.label.text-fw-bold.text-small -30%

				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-2.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor

				.bottom-line
					.wrap-price
						span.old-price.text-small.text-gray 141 руб
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
						<g>
							<path d="m121.6,40.1c-3.3-16.6-15.1-27.3-30.3-27.3-8.5,0-17.7,3.5-26.7,10.1-9.1-6.8-18.3-10.3-26.9-10.3-15.2,0-27.1,10.8-30.3,27.6-4.8,24.9 10.6,58 55.7,76 0.5,0.2 1,0.3 1.5,0.3 0.5,0 1-0.1 1.5-0.3 45-18.4 60.3-51.4 55.5-76.1zm-57,67.9c-39.6-16.4-53.3-45-49.2-66.3 2.4-12.7 11.2-21 22.3-21 7.5,0 15.9,3.6 24.3,10.5 1.5,1.2 3.6,1.2 5.1,0 8.4-6.7 16.7-10.2 24.2-10.2 11.1,0 19.8,8.1 22.3,20.7 4.1,21.1-9.5,49.6-49,66.3z"/>
						</g>
						</svg>

		.wrap-product-card.wrap-product-card-default
			.product-card.element-shadow-hover
				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-3.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor

				.bottom-line
					.wrap-price
						span.old-price.text-small.text-gray 141 руб
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
						<g>
							<path d="m121.6,40.1c-3.3-16.6-15.1-27.3-30.3-27.3-8.5,0-17.7,3.5-26.7,10.1-9.1-6.8-18.3-10.3-26.9-10.3-15.2,0-27.1,10.8-30.3,27.6-4.8,24.9 10.6,58 55.7,76 0.5,0.2 1,0.3 1.5,0.3 0.5,0 1-0.1 1.5-0.3 45-18.4 60.3-51.4 55.5-76.1zm-57,67.9c-39.6-16.4-53.3-45-49.2-66.3 2.4-12.7 11.2-21 22.3-21 7.5,0 15.9,3.6 24.3,10.5 1.5,1.2 3.6,1.2 5.1,0 8.4-6.7 16.7-10.2 24.2-10.2 11.1,0 19.8,8.1 22.3,20.7 4.1,21.1-9.5,49.6-49,66.3z"/>
						</g>
						</svg>

		.wrap-product-card.wrap-product-card-default
			.product-card.product-not-available.element-shadow-hover
				.label.text-fw-bold.text-small HIT

				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-4.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor WW

				.bottom-line
					.wrap-price
						span.old-price.text-small.text-gray 141 руб
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
						<g>
							<path d="m121.6,40.1c-3.3-16.6-15.1-27.3-30.3-27.3-8.5,0-17.7,3.5-26.7,10.1-9.1-6.8-18.3-10.3-26.9-10.3-15.2,0-27.1,10.8-30.3,27.6-4.8,24.9 10.6,58 55.7,76 0.5,0.2 1,0.3 1.5,0.3 0.5,0 1-0.1 1.5-0.3 45-18.4 60.3-51.4 55.5-76.1zm-57,67.9c-39.6-16.4-53.3-45-49.2-66.3 2.4-12.7 11.2-21 22.3-21 7.5,0 15.9,3.6 24.3,10.5 1.5,1.2 3.6,1.2 5.1,0 8.4-6.7 16.7-10.2 24.2-10.2 11.1,0 19.8,8.1 22.3,20.7 4.1,21.1-9.5,49.6-49,66.3z"/>
						</g>
						</svg>

		.wrap-product-card.wrap-product-card-default
			.product-card.product-new.element-shadow-hover
				.label.text-fw-bold.text-small new

				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-1.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor

				.bottom-line
					.wrap-price
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
						<g>
							<path d="m121.6,40.1c-3.3-16.6-15.1-27.3-30.3-27.3-8.5,0-17.7,3.5-26.7,10.1-9.1-6.8-18.3-10.3-26.9-10.3-15.2,0-27.1,10.8-30.3,27.6-4.8,24.9 10.6,58 55.7,76 0.5,0.2 1,0.3 1.5,0.3 0.5,0 1-0.1 1.5-0.3 45-18.4 60.3-51.4 55.5-76.1zm-57,67.9c-39.6-16.4-53.3-45-49.2-66.3 2.4-12.7 11.2-21 22.3-21 7.5,0 15.9,3.6 24.3,10.5 1.5,1.2 3.6,1.2 5.1,0 8.4-6.7 16.7-10.2 24.2-10.2 11.1,0 19.8,8.1 22.3,20.7 4.1,21.1-9.5,49.6-49,66.3z"/>
						</g>
						</svg>	

		.wrap-product-card.wrap-product-card-default
			.product-card.product-action.element-shadow-hover
				.label.text-fw-bold.text-small -30%

				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-2.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor

				.bottom-line
					.wrap-price
						span.old-price.text-small.text-gray 141 руб
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
						<g>
							<path d="m121.6,40.1c-3.3-16.6-15.1-27.3-30.3-27.3-8.5,0-17.7,3.5-26.7,10.1-9.1-6.8-18.3-10.3-26.9-10.3-15.2,0-27.1,10.8-30.3,27.6-4.8,24.9 10.6,58 55.7,76 0.5,0.2 1,0.3 1.5,0.3 0.5,0 1-0.1 1.5-0.3 45-18.4 60.3-51.4 55.5-76.1zm-57,67.9c-39.6-16.4-53.3-45-49.2-66.3 2.4-12.7 11.2-21 22.3-21 7.5,0 15.9,3.6 24.3,10.5 1.5,1.2 3.6,1.2 5.1,0 8.4-6.7 16.7-10.2 24.2-10.2 11.1,0 19.8,8.1 22.3,20.7 4.1,21.1-9.5,49.6-49,66.3z"/>
						</g>
						</svg>

		.wrap-product-card.wrap-product-card-default
			.product-card.element-shadow-hover
				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-3.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor

				.bottom-line
					.wrap-price
						span.old-price.text-small.text-gray 141 руб
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
						<g>
							<path d="m121.6,40.1c-3.3-16.6-15.1-27.3-30.3-27.3-8.5,0-17.7,3.5-26.7,10.1-9.1-6.8-18.3-10.3-26.9-10.3-15.2,0-27.1,10.8-30.3,27.6-4.8,24.9 10.6,58 55.7,76 0.5,0.2 1,0.3 1.5,0.3 0.5,0 1-0.1 1.5-0.3 45-18.4 60.3-51.4 55.5-76.1zm-57,67.9c-39.6-16.4-53.3-45-49.2-66.3 2.4-12.7 11.2-21 22.3-21 7.5,0 15.9,3.6 24.3,10.5 1.5,1.2 3.6,1.2 5.1,0 8.4-6.7 16.7-10.2 24.2-10.2 11.1,0 19.8,8.1 22.3,20.7 4.1,21.1-9.5,49.6-49,66.3z"/>
						</g>
						</svg>		

		.wrap-product-card.wrap-product-card-default
			.product-card.product-not-available.element-shadow-hover
				.label.text-fw-bold.text-small HIT

				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-4.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor WW

				.bottom-line
					.wrap-price
						span.old-price.text-small.text-gray 141 руб
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
						<g>
							<path d="m121.6,40.1c-3.3-16.6-15.1-27.3-30.3-27.3-8.5,0-17.7,3.5-26.7,10.1-9.1-6.8-18.3-10.3-26.9-10.3-15.2,0-27.1,10.8-30.3,27.6-4.8,24.9 10.6,58 55.7,76 0.5,0.2 1,0.3 1.5,0.3 0.5,0 1-0.1 1.5-0.3 45-18.4 60.3-51.4 55.5-76.1zm-57,67.9c-39.6-16.4-53.3-45-49.2-66.3 2.4-12.7 11.2-21 22.3-21 7.5,0 15.9,3.6 24.3,10.5 1.5,1.2 3.6,1.2 5.1,0 8.4-6.7 16.7-10.2 24.2-10.2 11.1,0 19.8,8.1 22.3,20.7 4.1,21.1-9.5,49.6-49,66.3z"/>
						</g>
						</svg>

		.wrap-product-card.wrap-product-card-default
			.product-card.product-action.element-shadow-hover
				.label.text-fw-bold.text-small -30%

				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-1.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor

				.bottom-line
					.wrap-price
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
						<g>
							<path d="m121.6,40.1c-3.3-16.6-15.1-27.3-30.3-27.3-8.5,0-17.7,3.5-26.7,10.1-9.1-6.8-18.3-10.3-26.9-10.3-15.2,0-27.1,10.8-30.3,27.6-4.8,24.9 10.6,58 55.7,76 0.5,0.2 1,0.3 1.5,0.3 0.5,0 1-0.1 1.5-0.3 45-18.4 60.3-51.4 55.5-76.1zm-57,67.9c-39.6-16.4-53.3-45-49.2-66.3 2.4-12.7 11.2-21 22.3-21 7.5,0 15.9,3.6 24.3,10.5 1.5,1.2 3.6,1.2 5.1,0 8.4-6.7 16.7-10.2 24.2-10.2 11.1,0 19.8,8.1 22.3,20.7 4.1,21.1-9.5,49.6-49,66.3z"/>
						</g>
						</svg>	

		.wrap-product-card.wrap-product-card-default
			.product-card.product-action.element-shadow-hover
				.label.text-fw-bold.text-small -30%

				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-2.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor

				.bottom-line
					.wrap-price
						span.old-price.text-small.text-gray 141 руб
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
						<g>
							<path d="m121.6,40.1c-3.3-16.6-15.1-27.3-30.3-27.3-8.5,0-17.7,3.5-26.7,10.1-9.1-6.8-18.3-10.3-26.9-10.3-15.2,0-27.1,10.8-30.3,27.6-4.8,24.9 10.6,58 55.7,76 0.5,0.2 1,0.3 1.5,0.3 0.5,0 1-0.1 1.5-0.3 45-18.4 60.3-51.4 55.5-76.1zm-57,67.9c-39.6-16.4-53.3-45-49.2-66.3 2.4-12.7 11.2-21 22.3-21 7.5,0 15.9,3.6 24.3,10.5 1.5,1.2 3.6,1.2 5.1,0 8.4-6.7 16.7-10.2 24.2-10.2 11.1,0 19.8,8.1 22.3,20.7 4.1,21.1-9.5,49.6-49,66.3z"/>
						</g>
						</svg>















