.menu
	height: calc(100% - 93px)
	display: flex
	align-items: stretch
	justify-content: center
	opacity: 0
	transition: .4s all ease
	+media(sm)
		height: calc(100% - 74px)

	&-content
		z-index: 1
		position: relative
		margin-top: -5vh
		width: 100%
		padding: 0 30px
		display: flex
		align-items: stretch
		justify-content: space-between
		+media(sm)
			padding: 0 15px
			display: block
			margin-top: 0
		&__item
			width: 50%
			display: flex
			align-items: center
			+media(sm)
				width: 100%
		&__left
			+media(sm)
				padding: 3.6em 0 6em
		&__right
			position: relative
			justify-content: center
			+media(sm)
				padding: 7em 0 5.5em
				display: block
				&:before
					content: ""
					position: absolute
					top: 0
					left: 50%
					width: 105vw
					height: 100%
					transform: translate(-50%, 0)
					background: $blue-dark-gradient
				> *
					position: relative
					z-index: 1

	&-list
		width: 100%
		&__item
			margin-bottom: 1.25em
			&:last-child
				margin-bottom: 0

		&__link
			display: inline-block
			font-size: 4rem
			line-height: 4.875rem
			color: #000
			overflow: hidden
			position: relative
			+M-ExtraBold
			+media(xl)
				font-size: 3.5rem
				line-height: 4.4rem
			+media(lg)
				font-size: 3.1rem
				line-height: 3.8rem
			+media(md)
				font-size: 2.9rem
			+media(none, 480px)
				font-size: 10vw
				line-height: 12vw

			&:hover
				.menu-list__overlay
					animation: anim-in-layer .3s ease forwards
					&:before
						animation: anim-in-text .3s ease forwards

		&__overlay
			position: absolute
			left: 0
			overflow: hidden
			background-color: #fff
			width: 100%
			display: block
			transform: translate3d(-100%, 0, 0)
			animation: anim-out-layer .3s ease-out
			backface-visibility: hidden

			&:before
				background-color: #fff
				content: attr(data-text)
				width: 100%
				display: block
				transform: translate3d(100%, 0, 0)
				color: $accent
				animation: anim-out-text .3s ease-out
				backface-visibility: hidden


	&-info
		text-align: center
		+media(sm)
			margin-left: auto
			margin-right: auto
		&__link
			display: block
			color: #fff
			margin-bottom: .7em
			margin-left: auto
			margin-right: auto
			font-size: 2.25rem
			line-height: 2.25rem
			+media(lg)
				font-size: 2rem
				line-height: 2rem
			+media(md)
				font-size: 1.8rem
				line-height: 1.8rem
			+media(none, 480px)
				text-align: left
				font-size: 7vw
				line-height: 7vw
				margin-bottom: 1em
		&__btn
			margin-top: 3em
			width: 100%
			max-width: 365px
			+media(lg)
				margin-top: 2em
			+media(md)
				margin-top: 1.5em
			+media(sm)
				margin-bottom: 4.2em
				margin-top: 1.7em

	&-social
		position: absolute
		bottom: 50px
		left: 50%
		transform: translate(-50%, 0)
		display: flex
		align-items: center
		+media(lg)
			bottom: 30px
		+media(md)
			bottom: 15px
		+media(sm)
			position: static
			justify-content: center
			transform: translate(0)
			margin-left: auto
			margin-right: auto
		&__item
			margin-right: 75px
			+media(md)
				margin-right: 40px
			+media(sm)
				margin-right: 60px
			&:last-child
				margin-right: 0
		&__link
			display: block
			height: 30px	
			width: 30px
			+media(md)
				width: 25px
				height: 25px
			+media(sm)
				width: 20px
				height: 20px
			svg
				max-width: 100%
				max-height: 100%
				transition: .4s all ease



@keyframes anim-in-layer 
	0%
		transform: translate3d(-100%, 0, 0)
	to 
		transform: translateZ(0)

@keyframes anim-out-layer 
	0%
		transform: translateZ(0)
	to 
		transform: translate3d(100%, 0, 0)

@keyframes anim-in-text 
	0%
		transform: translate3d(100%, 0, 0)
	to 
		transform: translateZ(0)

@keyframes anim-out-text 
	0%
		transform: translateZ(0)
	to 
		transform: translate3d(-100%, 0, 0)