.menu
	.container
		.menu-content

			nav.menu-content__item.menu-content__left
				ul.menu-list
					li.menu-list__item.active
						a.menu-list__link(href="#")
							span.menu-list__overlay(data-text="Services")
							| Services
					li.menu-list__item
						a.menu-list__link(href="#")
							span.menu-list__overlay(data-text="Works")
							| Works
					li.menu-list__item
						a.menu-list__link(href="#")
							span.menu-list__overlay(data-text="About")
							| About
					li.menu-list__item
						a.menu-list__link(href="#")
							span.menu-list__overlay(data-text="Contact")
							| Contact
					li.menu-list__item
						a.menu-list__link(href="#")
							span.menu-list__overlay(data-text="Blog")
							| Blog
				
				
			.menu-content__item.menu-content__right
				.menu-info
					a.menu-info__link.text-bold(href="tel:+375291382469")
						span.menu-info__overlay(data-text="+375 29 138-24-69")
						|+375 29 138-24-69

					a.menu-info__link.text-bold(href="mailto:info@sivenkov.org") 
						span.menu-info__overlay(data-text="info@sivenkov.org")
						| info@sivenkov.org

					a(href="#", data-text="Start a project").menu-info__btn.btn
						span.btn__overlay
						span.btn__text Start a project	

				ul.menu-social
					li.menu-social__item
						a.menu-social__link(href="#")
							<svg class="menu-social__svg menu-social__svg_inst" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
								<path class="menu-social__svg_inst-1" d="m512 138.597656v234.804688c0 76.421875-62.175781 138.597656-138.597656 138.597656h-234.804688c-76.421875 0-138.597656-62.175781-138.597656-138.597656v-234.804688c0-76.421875 62.175781-138.597656 138.597656-138.597656h234.804688c76.421875 0 138.597656 62.175781 138.597656 138.597656zm0 0" fill="#ff5e95"/>
								<path class="menu-social__svg_inst-2" d="m512 138.597656v234.804688c0 76.421875-62.175781 138.597656-138.597656 138.597656h-117.261719v-512h117.261719c76.421875 0 138.597656 62.175781 138.597656 138.597656zm0 0" fill="#ff3980"/>
								<path class="menu-social__svg_inst-3" d="m256 116.003906c-77.191406 0-139.996094 62.804688-139.996094 139.996094s62.804688 139.996094 139.996094 139.996094 139.996094-62.804688 139.996094-139.996094-62.804688-139.996094-139.996094-139.996094zm0 249.976563c-60.644531 0-109.980469-49.335938-109.980469-109.980469s49.335938-109.980469 109.980469-109.980469 109.980469 49.335938 109.980469 109.980469-49.335938 109.980469-109.980469 109.980469zm0 0" fill="#fff"/>

								<g fill="#96fff6">
									<path class="menu-social__svg_inst-4" d="m399.34375 66.285156c-22.808594 0-41.367188 18.554688-41.367188 41.367188s18.558594 41.371094 41.367188 41.371094c22.8125 0 41.371094-18.558594 41.371094-41.371094s-18.558594-41.367188-41.371094-41.367188zm0 0"/>
									<path class="menu-social__svg_inst-5" d="m395.996094 256c0 77.191406-62.804688 139.996094-139.996094 139.996094v-30.015625c60.644531 0 109.980469-49.335938 109.980469-109.980469s-49.335938-109.980469-109.980469-109.980469v-30.015625c77.191406 0 139.996094 62.804688 139.996094 139.996094zm0 0"/>
								</g>
							</svg>

					li.menu-social__item
						a.menu-social__link(href="#")
							<svg class="menu-social__svg menu-social__svg_twitter" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512" height="512">
								<g>
									<path class="menu-social__svg_twitter-1" d="M276.7,392.555l-100.201,99.901c-2.999,1.8-6.899,6.301-15,3.9c-4.199-1.5-9.3-6.301-10.199-11.7   v-0.3l-28.801-172.2l23.401-17.699c3.03,1.777,60.854,35.684,57.299,33.6l73.5,43.2C282.4,377.256,282.4,386.556,276.7,392.555z"/>
									<path class="menu-social__svg_twitter-2" d="M511.708,32.964L420.7,484.956c-0.9,4.8-4.5,9-9.3,10.8c-1.8,0.9-3.6,1.2-5.4,1.2   c-3,0-6-0.9-8.7-2.7c-3.018-2.156-224.061-160.044-210-150c-133.84-66.3-64.027-31.453-178.9-88.8c-5.4-2.7-8.4-8.1-8.4-13.8   c0.3-6,3.6-11.1,9-13.5L491.008,16.164c5.1-2.1,11.1-1.5,15.3,2.1c0.6,0.6,1.5,1.5,2.1,2.1   C511.408,23.964,512.608,28.464,511.708,32.964z"/>
									<path class="menu-social__svg_twitter-3" d="M508.408,20.364L203.2,328.056l-15.899,16.199l-25.801,152.1c-4.199-1.5-9.3-6.301-10.199-11.7v-0.3   l-28.801-172.2l23.401-17.699L508.408,20.364z"/>
								</g>
							</svg>


					li.menu-social__item
						a.menu-social__link(href="#")
							<svg class="menu-social__svg menu-social__svg_facebook" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
								<path class="menu-social__svg_facebook-1"  d="M134.941,272.691h56.123v231.051c0,4.562,3.696,8.258,8.258,8.258h95.159 c4.562,0,8.258-3.696,8.258-8.258V273.78h64.519c4.195,0,7.725-3.148,8.204-7.315l9.799-85.061c0.269-2.34-0.472-4.684-2.038-6.44 c-1.567-1.757-3.81-2.763-6.164-2.763h-74.316V118.88c0-16.073,8.654-24.224,25.726-24.224c2.433,0,48.59,0,48.59,0 c4.562,0,8.258-3.698,8.258-8.258V8.319c0-4.562-3.696-8.258-8.258-8.258h-66.965C309.622,0.038,308.573,0,307.027,0 c-11.619,0-52.006,2.281-83.909,31.63c-35.348,32.524-30.434,71.465-29.26,78.217v62.352h-58.918c-4.562,0-8.258,3.696-8.258,8.258 v83.975C126.683,268.993,130.379,272.691,134.941,272.691z"/>
							</svg>


