.wrap-groups-fields.wrap-form
	.wrap-warning-info
		.wrap-icon.wrap-img
			img(src="img/icon-warning.svg", alt="")
		span.text Если вы забыли пароль, введите E-Mail. Контрольная строка для смены пароля,<br>а также ваши регистрационные данные, будут высланы вам по E-Mail.

	form.form.form-about-field
		span.label E-mail *
		.wrap-field
			input.field.field-email(type="text").error-empty
			span.text-error-empty Поле обязательно для заполнения
			span.text-error-invalid Неверный формат

		button(type="submit").form-btn.btn-blue
			span.text Восстановить
