@import "../../../less/common/vars";

.password-recovery{

	.wrap-groups-fields{
		max-width: 100%;
		border: none;

		.wrap-warning-info{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: center;
			align-items: center;
			margin-bottom: 20px;

			.wrap-icon{
				max-width: 27px;
				min-width: 27px;
				margin-right: 12px;
			}
		}
	}
	
}

@media (min-width: 1260px) {

}

@media (max-width: 1259px) {
	
}

@media (max-width: 991px) {
	.password-recovery .wrap-groups-fields .wrap-warning-info br{
		display: none;
	}
}

@media (max-width: 767px) {
	.password-recovery{
		 .wrap-groups-fields{
		 	.wrap-warning-info{
		 		font-size: 12px;
		 		line-height: 15px;

		 		.wrap-icon{
		 			max-width: 40px;
		 			min-width: 40px;
		 		}
		 	}
		 }
	}
}

@media (max-width: 575px) {
	.password-recovery{
		.wrap-groups-fields{
			.wrap-warning-info{
				display: block;
				font-size: 13px;
				line-height: 18px;

				.wrap-icon{
					min-width: auto;
					max-width: 27px;
					margin-bottom: 10px;
					margin-right: 0;
				}
			}
		}
	}
}

