//Simple colors BEGIN
$chathams-blue: #123D77
$peach: #FFE7B8
$concord: #7B7977
$tundora: #4D4D4D
$bali-hai: #8497B2
$mongoose: #B99E7C
//Simple colors END


//Backgrounds colors BEGIN
$bg-dark-blue: rgba(9, 34, 67, 0.8)
$bg-gray: rgba(245, 241, 235, 0.9)
//Backgrounds colors END


//Common vars BEGIN
$accent: $chathams-blue
$text-dark: #333
$light: $peach
$gray: #eaeaea
$red: #F24E1E
$green: #0ACF83
//Common vars END


//Transition BEGIN
$slow-to-fast: cubic-bezier(.86,0,.07,1)
//Transition END


//Grid BEGIN
$gutter: 30
//Grid END