.modal-window.modal-testimonials
	span.close-modal
		img.lazyload(data-src="img/icon-close.svg", alt="")

	
	.testimonials-slider-modal.owl-carousel

		.testimonial-item-modal
			.wrap-img.img-resp
				img.lazyload(data-src="img/testimonial-1.svg")

		.testimonial-item-modal
			.wrap-img.img-resp
				img.lazyload(data-src="img/testimonial-2.svg")

		.testimonial-item-modal
			.wrap-img.img-resp
				img.lazyload(data-src="img/testimonial-3.svg")

		.testimonial-item-modal
			.wrap-img.img-resp
				img.lazyload(data-src="img/testimonial-4.svg")

		.testimonial-item-modal
			.wrap-img.img-resp
				img.lazyload(data-src="img/testimonial-3.svg")

		.testimonial-item-modal
			.wrap-img.img-resp
				img.lazyload(data-src="img/testimonial-2.svg")

		.testimonial-item-modal
			.wrap-img.img-resp
				img.lazyload(data-src="img/testimonial-2.svg")

		.testimonial-item-modal
			.wrap-img.img-resp
				img.lazyload(data-src="img/testimonial-4.svg")

	.wrap-slider-nav