section.banner-top-page
	.img-bg-banner(style="background-image: url('img/bg_banner_index.jpg')")
	.container
		.wrap-banner-content
			h1.banner-title 
				| Защитите семью 
				| и бизнес сегодня
			h5.banner-subtitle
				| Установка оборудования - 1 день. 
				| Стоимость от 8 200 руб.
			.bottom-line
				.wrap-btn.wrap-btn-acc
					button.btn.btn-application.btn-callback-show Оставить заявку
				.bottom-line-text
					span Позвоните нам сейчас
					span +7 (495) 781 47 98

