section.sec-items.sec
	.container
		h2.sec-title Пультовая охрана от СпецМонтаж  - надежная защита от:

		.wrap-items
			.item-wrap
				.wrap-icon
					img(src="img/defence_2.svg", alt="")
				span.title Проникновения
				p.small-text Кнопка «SOS» в мобильном приложении защищает вас...

			.item-wrap
				.wrap-icon
					img(src="img/defence_3.svg", alt="")
				span.title Нападения
				p.small-text Кнопка «SOS» в мобильном приложении защищает вас...

			.item-wrap
				.wrap-icon
					img(src="img/defence_4.svg", alt="")
				span.title Пожара
				p.small-text Кнопка «SOS» в мобильном приложении защищает вас...

			.item-wrap
				.wrap-icon
					img(src="img/defence_1.svg", alt="")
				span.title Затопления
				p.small-text Кнопка «SOS» в мобильном приложении защищает вас...

			.item-wrap
				.wrap-icon
					img(src="img/defence_5.svg", alt="")
				span.title Утечки газа
				p.small-text Кнопка «SOS» в мобильном приложении защищает вас...

			.item-wrap
				.wrap-icon
					img(src="img/defence_6.svg", alt="")
				span.title Правонарушения
				p.small-text Кнопка «SOS» в мобильном приложении защищает вас...


