section.main-services
	.container
		.title-group
			h2.sec-title Обеспечиваем безопастность вам, вашему бизнесу и дому
			h4.sec-subtitle Мы работаем над такими объектами как - квартиры, загородные дома, и бизнец центры.

	.wrap-services-items
		.secvices-item.item-odd
			.item-img(style="background-image: url('img/main_services_6.jpg')")
			.wrap-item-content
				.item-content

					.top-content
						.top-info
							h3.item-title Базовый комплект для защиты квартиры
							p.item-subtitle Обезопасить свою квартиру можно с помощью охранной сигнализации

						.middle-info
							.wrap-img
								img(src="img/main_services_equipment_1.png", alt="Базовый комплект для защиты квартиры")
							a(href="#").link-more-info Подробнее о комплекте

						.bottom-info
							span.category Пультовая охрана
							span.price 
								| от 900 руб. / мес. 

					.bottom-content
						.wrap-btn.wrap-btn-acc
							button.btn Заказать комплект

		.secvices-item.item-even
			.item-img(style="background-image: url('img/main_services_5.jpg')")
			.wrap-item-content
				.item-content

					.top-content
						.top-info
							h3.item-title Базовый комплект для защиты дома
							p.item-subtitle Обезопасить свою квартиру можно с помощью охранной сигнализации с помощью охранной сигнализации

						.middle-info
							.wrap-img
								img(src="img/main_services_equipment_2.png", alt="Базовый комплект для защиты дома")
							a(href="#").link-more-info Подробнее о комплекте

						.bottom-info
							span.category Пультовая охрана
							span.price
								| от 1800 руб. / мес. 

					.bottom-content
						.wrap-btn.wrap-btn-acc
							button.btn Заказать комплект

		.secvices-item.item-odd
			.item-img(style="background-image: url('img/main_services_3.jpg')")
			.wrap-item-content
				.item-content

					.top-content
						.top-info
							h3.item-title Базовый комплект для защиты бизнеса
							p.item-subtitle Обезопасить свою квартиру можно с помощью охранной сигнализации с помощью охранной сигнализации с помощью охранной сигнализации

						.middle-info
							.wrap-img
								img(src="img/main_services_equipment_3.png", alt="Базовый комплект для защиты бизнеса")
							a(href="#").link-more-info Подробнее о комплекте

						.bottom-info
							span.category Пультовая охрана
							span.price
								| от 504 072 руб. / мес. 

					.bottom-content
						.wrap-btn.wrap-btn-acc
							button.btn Заказать комплект

		.secvices-item.item-even
			.item-img(style="background-image: url('img/main_services_7.jpg')")
			.wrap-item-content
				.item-content

					.top-content
						.top-info
							h3.item-title Базовый беспроводной комплект с тревожной сигнализацией

						.middle-info
							.wrap-img
								img(src="img/main_services_equipment_4.png", alt="Базовый беспроводной комплект с тревожной сигнализацией")
							a(href="#").link-more-info Подробнее о комплекте

						.bottom-info
							span.category Пультовая охрана
							span.price
								| от 4225 руб. / мес. 

					.bottom-content
						.wrap-btn.wrap-btn-acc
							button.btn Заказать комплект

	