section.news.sec
	.container
		.top-line
			h2.new-title Новости
			.wrap-slider-nav

		.wrap-news-items.news-slider.owl-carousel

			.news-item
				.top-info
					a(href="#").info-title Московские угонщики тоже любят ездить на юг.
					p.text За 1 половину 2018 года в Москве объявлено в розыск 1439 автомобилей разных марок. Как ранее сообщал «Цезарь Сателлит», московские угонщики не изменили своих предпочтений.
				.bottom-info
					.wrap-icon
						img.img-resp(src="img/time_icon.svg", alt="")
					.time-data.small-text 27 августа 2018

			.news-item
				.top-info
					a(href="#").info-title «Радуга» защищал лоурайдеры на фестивале Акрофобия
					p.text За 1 половину 2018 года в Москве объявлено в розыск 1439 автомобилей разных марок. Как ранее сообщал «Цезарь Сателлит», московские угонщики не изменили своих предпочтений.
				.bottom-info
					.wrap-icon
						img.img-resp(src="img/time_icon.svg", alt="")
					.time-data 27 августа 2018

			.news-item
				.top-info
					a(href="#").info-title Московские угонщики тоже любят ездить на юг.
					p.text За 1 половину 2018 года в Москве объявлено в розыск 1439 автомобилей разных марок. Как ранее сообщал «Цезарь Сателлит», московские угонщики не изменили своих предпочтений.
				.bottom-info
					.wrap-icon
						img.img-resp(src="img/time_icon.svg", alt="")
					.time-data 27 августа 2018

			.news-item
				.top-info
					a(href="#").info-title Московские угонщики тоже любят ездить на юг.
					p.text За 1 половину 2018 года в Москве объявлено в розыск 1439 автомобилей разных марок. Как ранее сообщал «Цезарь Сателлит», московские угонщики не изменили своих предпочтений.
				.bottom-info
					.wrap-icon
						img.img-resp(src="img/time_icon.svg", alt="")
					.time-data 27 августа 2018

			.news-item
				.top-info
					a(href="#").info-title «Радуга» защищал лоурайдеры на фестивале Акрофобия
					p.text За 1 половину 2018 года в Москве объявлено в розыск 1439 автомобилей разных марок.
				.bottom-info
					.wrap-icon
						img.img-resp(src="img/time_icon.svg", alt="")
					.time-data 27 августа 2018

			.news-item
				.top-info
					a(href="#").info-title Московские угонщики тоже любят ездить на юг.
					p.text За 1 половину 2018 года в Москве объявлено в розыск 1439 автомобилей разных марок.
				.bottom-info
					.wrap-icon
						img.img-resp(src="img/time_icon.svg", alt="")
					.time-data 27 августа 2018