section.other-services.sec
	.container
		h2.sec-title Дополнительные услуги
		.wrap-other-services-items

			.other-services-item
				.item-content(style="background-image: url('img/other_services_1.jpg')")
					h5
						| Мониторинг пожарной
						| сигнализации

			.other-services-item
				.item-content(style="background-image: url('img/other_services_2.png')")
					h5 
						| Гарантийный сервис и послегарантийное
						| обслуживание сигнализации
