section.reliability.sec.sec-gray
	.container
		h2.sec-title С нами надежно!

		.wrap-reliability-items
			.wrap-item
				.front
					span.title Мониторинг объекта 24/7
					.wrap-icon.img-resp
						img(src="img/garant_3.svg")
				.back
					p В случае поступления сигнала «Тревога» с охраняемого объекта на пульт, немедленно направляется наряд полиции и/или экипаж службы реагирования ЧОП «Радуга» - в зависимости от выбранного Вами пакета услуг. 

					p При поступлении на ПЦН «Радуга» сообщения о пожаре, персонал пульта передает информацию в МЧС.

			.wrap-item
				.front
					span.title Круглосуточная техническая поддержка
					.wrap-icon.img-resp
						img(src="img/garant_3.svg")
				.back
					p Высококвалифицированные специалисты с серьёзным опытом работы в области комплесного обеспечения безопасности, постоянно повышающие свою квалификацию.

			.wrap-item
				.front
					span.title Реагирование 24/7
					.wrap-icon.img-resp
						img(src="img/garant_2.svg")
				.back
					ul
						li Собственным ЧОП "Радуга"
						li 40 экипажей по г. Москве в пределах МКАД
						li Экипажами национальной гвардии РФ 600 экипажей по г. Москве и Московской области.
						li Взаимодействуем с ЧОПами по всей России.

			.wrap-item
				.front
					span.title Использование несколько  каналов связи
					.wrap-icon.img-resp
						img(src="img/garant_1.svg")
				.back
					p Использование нескольких каналов связи повышает надёжность в разы.