section.sec-callback.sec-callback-index.sec(style="background-image: url('img/bg_sec_callback_index.jpg')")
	.container
		.sec-callback-content
			.wrap-callback-text
				h2.sec-callback-title Спецпредложение для Вас и Ваших сотрудников!
				h4.sec-callback-subtitle
					| Ваша организация является нашим клиентом. 
					|
					| Охрана квартир или домов  с реагированием Росгвардии для всех сотрудников Вашей компании - с 50% скидкой.
			.wrap-callback-form
				.form-content
					.form-text
						h3.form-title Спец. предложение
						span.subtext.small-text на установку охранной тревожной и пожарной сигнализации
					form.form.form-callback
						.wrap-field
							input.input.name(id="callback-name", required="required", type="text", placeholder="Ваше имя")
						.wrap-field
							input.input.phone(id="callback-phone", required="required", type="tel", placeholder="+7 ( ___ ) __ - __ - __")
						.wrap-btn.wrap-btn-acc
							button.btn.btn-callback-send Оставить заявку

