section.sec-phone.sec
	.container
		.sec-phone-content

			.wrap-phone.img-resp
				img(src="img/iphone-x.png", alt="#")

			.wrap-text
				span.sec-title Удобное управление системой со смартфона
				p.subtext Управляйте системой безопасности Ajax за тысячи километров от дома.
				.wrap-btn.wrap-btn-acc
					a(href="#").btn Скачать приложение
