section.sec-items.sec-items-system.sec.sec-gray
	.container
		h2.sec-title Простая система в использвании

		.wrap-items
			.item-wrap
				.wrap-icon
					img(src="img/simple_system_1.svg", alt="")
				span.title Мобильное приложение
				p.small-text Кнопка «SOS» в мобильном приложении защищает вас...

			.item-wrap
				.wrap-icon
					img(src="img/simple_system_2.svg", alt="")
				span.title Умная розетка
				p.small-text Кнопка «SOS» в мобильном приложении защищает вас...

			.item-wrap
				.wrap-icon
					img(src="img/simple_system_3.svg", alt="")
				span.title Ночной режим
				p.small-text Кнопка «SOS» в мобильном приложении защищает вас...

			.item-wrap
				.wrap-icon
					img(src="img/simple_system_4.svg", alt="")
				span.title Датчики не реагирующие на животных
				p.small-text Кнопка «SOS» в мобильном приложении защищает вас...

			.item-wrap
				.wrap-icon
					img(src="img/simple_system_5.svg", alt="")
				span.title Тревожная кнопка
				p.small-text Кнопка «SOS» в мобильном приложении защищает вас...

