section.sec-skills
	.wrap-sec-img(style="background-image: url('img/skills.png')")
	.container
		.wrap-content

			.content-left
				span.accent-text 16 лет
				span.title Мы работаем для вас

			.content-right
				.wrap-item
					span.title Имеем соответствующие сертификаты и лицензии
					.wrap-icon.img-resp
						img(src="img/16_year_2.svg")

				.wrap-item
					span.title Используем самые современные технологические системы
					.wrap-icon.img-resp
						img(src="img/16_year_3.svg")

				.wrap-item
					em.title Реагирование
					ul
						li Собственный ЧОП
						li Полиция
						li Партнеры ЧОП по всей России
					.wrap-icon.img-resp
						img(src="img/16_year_1.svg")

				.wrap-item
					span.title Все сотрудники высококвалифицированные и постоянно проходят обучение
					.wrap-icon.img-resp
						img(src="img/16_year_4.svg")




