section.first-sec-page.first-sec-page-rates
	.container
		.wrap-breadcrumbs
			span.page-item.cur-page
				a(href="#") Главная
			span.delimiter /
			span.page-item Тарифы
		.sec-content
			h1.title Тарифы
			h5.subtitle ООО «СпецМонтаж» предлагает установку систем безопасности и подключение охранного оборудования к ПЦН «Радуга». В данном разделе сайта Вы можете ознакомиться со стоимостью охраны квартиры, коттеджа и бизнеса. 
			p.subtext Если Вы хотите узнать больше о тарифах и вариантах оплаты охраны квартиры или офиса, позвоните по телефону +7 (495)781-47-90.