.wrap-rates-items
	.rates-item
		.wrap-item-img
			.wrap-img(style="background-image: url('img/rates_sec_top.jpg')")
		.container
			h3.item-subtitle Стоимость комплектов сигнализации с установкой и тарифы на пультовую охрану квартир с техническим обслуживанием:
			.wrap-table
				table.table-type-1
					tr.t-row.t-row-top
						td.t-item.small-text 
						td.t-item.small-text Комплект оборудования 
						td.t-item.small-text Стоимость комплекта с установкой
						td.t-item.small-text ЧОП «Радуга»
						td.t-item.small-text Полиция
					tr.t-row
						td.t-item.t-row-title Проводные
						td.t-item “Стриж”
						td.t-item 8 200 руб.
						td.t-item 1 040 руб.
						td.t-item 1 390 руб.
					tr.t-row.t-last-row
						td.t-item.t-row-title
						td.t-item «Proxyma»
						td.t-item 9 900 руб.
						td.t-item 900 руб.
						td.t-item 1 250 руб.
					tr.t-row
						td.t-item.t-row-title Беспроводные
						td.t-item “Стриж”
						td.t-item 10 200 руб.
						td.t-item 1 040 руб.
						td.t-item 1 390 руб.
					tr.t-row
						td.t-item.t-row-title
						td.t-item «Proxyma»
						td.t-item 12 900 руб.
						td.t-item 900 руб.
						td.t-item 1 250 руб.
					tr.t-row
						td.t-item.t-row-title
						td.t-item «CommPact»
						td.t-item от 21 000 руб.
						td.t-item 900 руб.
						td.t-item 1 250 руб.			

	.rates-item
		.wrap-item-img
			.wrap-img(style="background-image: url('img/rates_item_1.jpg')")
		.container
			h3.item-subtitle Стоимость комплектов сигнализации с установкой и тарифы на пультовую охрану коттеджей с техническим обслуживанием:
			.wrap-table
				table.table-type-1
					tr.t-row.t-row-top
						td.t-item.small-text 
						td.t-item.small-text Комплект оборудования 
						td.t-item.small-text Стоимость комплекта с установкой
						td.t-item.small-text ЧОП «Радуга»
						td.t-item.small-text Полиция
					tr.t-row
						td.t-item.t-row-title Проводные
						td.t-item “Стриж”
						td.t-item 8 200 руб.
						td.t-item 1 040 руб.
						td.t-item 1 390 руб.
					tr.t-row.t-last-row
						td.t-item.t-row-title
						td.t-item «Proxyma»
						td.t-item 9 900 руб.
						td.t-item 900 руб.
						td.t-item 1 250 руб.
					tr.t-row
						td.t-item.t-row-title Беспроводные
						td.t-item “Стриж”
						td.t-item 10 200 руб.
						td.t-item 1 040 руб.
						td.t-item 1 390 руб.
					tr.t-row
						td.t-item.t-row-title
						td.t-item «Proxyma»
						td.t-item 12 900 руб.
						td.t-item 900 руб.
						td.t-item 1 250 руб.
					tr.t-row
						td.t-item.t-row-title
						td.t-item «CommPact»
						td.t-item от 21 000 руб.
						td.t-item 900 руб.
						td.t-item 1 250 руб.			

	.rates-item
		.wrap-item-img
			.wrap-img(style="background-image: url('img/rates_item_1.jpg')")
		.container
			h2.item-title Охрана бизнеса
			h3.item-subtitle Тарифы на пультовую охрану бизнеса и техническое обслуживание
			.wrap-table
				table.table-type-2
					tr.t-row-top-1.t-row-top
						td.small-text Категория объекта
						td.small-text ЧОП «Радуга»
						td.small-text 
						td.small-text Полиция
						td.small-text 
						td.small-text 
					tr.t-row-top-2.t-row-top
						td.medium-text 
						td.medium-text.t-item-line-right «Proxyma» «CommPact»
						td.medium-text «Стриж»
						td.medium-text.t-item-line-right «Proxyma» «CommPact»
						td.medium-text «Стриж»
						td.medium-text Тех. обслуживание
					tr.t-row
						td.t-row-title.t-item Торговые павильоны: палатки, киоски
						td.t-item 5072 руб.
						td.t-item 5 212 руб.
						td.t-item 7000 руб
						td.t-item 7 140 руб.
						td.t-item 725 руб.
					tr.t-row
						td.t-row-title.t-item Культурно-просветительские учреждения без хранения исторических и культурных ценностей
						td.t-item 5072 руб.
						td.t-item 5 212 руб.
						td.t-item 7000 руб
						td.t-item 7 140 руб.
						td.t-item 725 руб.
					tr.t-row
						td.t-row-title.t-item Офисные помещения с кол-ом датчиков / зон до 6 зон
						td.t-item 5072 руб.
						td.t-item 5 212 руб.
						td.t-item 7000 руб
						td.t-item 7 140 руб.
						td.t-item 725 руб.

	.rates-item
		.wrap-item-img
			.wrap-img(style="background-image: url('img/rates_item_2.jpg')")
		.container
			h2.item-title Тревожная сигнализация
			h3.item-subtitle Стоимость на любом объекте
			.wrap-table
				table.table-type-1
					tr.t-row.t-row-top
						td.t-item.small-text 
						td.t-item.small-text Стоимость комплекта с установкой
						td.t-item.small-text Техническое обслуживание в месяц
						td.t-item.small-text ЧОП «Радуга»
						td.t-item.small-text Полиция
					tr.t-row
						td.t-item.t-row-title «Стриж»
						td.t-item 6 200руб.
						td.t-item 8 200 руб.
						td.t-item 1 040 руб.
						td.t-item 1 390 руб.
					tr.t-row
						td.t-item.t-row-title Proxyma
						td.t-item 6 200руб.
						td.t-item 8 200 руб.
						td.t-item 1 040 руб.
						td.t-item 1 390 руб.
			
.wrap-bottom-page-text
	.container
		p.small-text.subtext *Обращаем ваше внимание на то, что информация на нашем сайте носит только информационный характер и ни при каких обстоятельствах не является публичной офертой, разъясняемое положением ст. 437 (2) Гражданского Кодекса Российской Федерации. Для получения более подробной информации о наличии, количестве и стоимости интересуемого товара или услуги нашей фирмы, пожалуйста обращайтесь к менеджерам компании «Спецмонтаж» по телефонам, воспользуйтесь «формой обратной связи» или задайте свой вопрос по электронной почте.




