.container
	margin: 0 auto
	padding: 0 15px
	width: 100%

+media-min(xm)
	.container
		width: 100%

+media-min(sm)
	.container
		width: 570px

+media-min(md)
	.container
		width: 750px

+media-min(lg)
	.container
		width: 990px

+media-min(xl)
	.container
		width: 100%
		max-width: 1170px
