html.page-fixed
	overflow: hidden

body.page-fixed
	overflow-y: scroll

.responsive-image
	img, svg
		display: block
		width: 100%
		height: auto

.lazy
	transition: .6s opacity ease
	opacity: 0
	&.loaded
		opacity: 1

.highlighted-text
	background-color: $accent
	color: #fff
	padding: 0 8px
	line-height: px-to-rem(83, 24)

	+media(md)
		line-height: px-to-rem(52, 18)
		padding: 4px 8px 0px

	+media(xm)
		padding: 4px 8px 0px


.width-1-2
	width: 50%


.first-section
	padding: px-to-rem(83, 24) 0 0
	+media(xxl)
		padding: px-to-rem(50, 22) 0 0

.section-title
	display: block

.section-blue
	color: #fff
	background: linear-gradient(268.1deg, #17A5F4 19.46%, #0484A9 148.2%)


//Delimiter breakpoints BEGIN
.d-inline-block-1500
	display: none !important
	+media(none, 1500px)
		display: inline-block !important


.d-inline-block-xxl
	display: none !important
	+media(xxl)
		display: inline-block !important


.d-none-xl
	+media(xl)
		display: none !important


.d-inline-block-480
	display: none !important
	+media(none, 480px)
		display: inline-block !important



.d-none
	display: none !important

.d-inline-block
	display: inline-block !important

.d-block
	display: block !important
//Delimiter breakpoints END