//Font weight BEGIN
.text-black
	+M-Black

.text-ex-bold
	+M-ExtraBold

.text-bold
	+M-Bold
//Font weight END



//Titles BEGIN
.title-h1, h1
	font-size: 4rem
	line-height: 4.875rem
	+M-ExtraBold
	+media(md)
		font-size: 3rem
		line-height: 4.3rem

.title-h2, h2

.title-h3, h3

.title-h4, h4

.title-h5, h5

//Titles END



//Links BEGIN
.link
	display: inline-block
	color: $accent
	font-size: 1.5rem
	line-height: 1.7rem
	text-decoration: none
	&_line
		position: relative
		&:before
			content: ''
			position: absolute
			top: calc(100% + 2px)
			right: 0
			height: 2px
			width: 100%
			background-color: $accent
			transition: .3s all $slow-to-fast
		&:hover
			&:before
				width: 0%

//Links END
