//Font weight BEGIN
.text-black
	+M-Black

.text-ex-bold
	+M-ExtraBold

.text-bold
	+M-Bold

.text-semibold
	+M-SemiBold

.text-medium
	+M-Medium
//Font weight END




//Colors BEGIN
.text-white-color
	color: #fff

.text-accent-color
	color: $accent
//Colors END




//Titles BEGIN
.title-h1, h1
	font-size: px-to-rem(64, 24)
	line-height: px-to-rem(78, 24)
	+M-Bold

	+media(md)
		font-size: px-to-rem(36, 18)
		line-height: px-to-rem(52, 18)


.title-h2, h2
	font-size: px-to-rem(36, 24)
	line-height: px-to-rem(44, 24)
	+M-SemiBold
//Titles END



//Links BEGIN
.link
	display: inline-block
	color: $accent
	text-decoration: none
	transition: .4s all ease

	&:hover
		color: darken($accent, 15%)

	&_line
		position: relative

		&:before
			content: ''
			position: absolute
			top: calc(100% + 2px)
			right: 0
			height: 2px
			width: 100%
			background-color: $accent
			transition: .3s all $slow-to-fast

		&:hover
			&:before
				width: 0%
//Links END
