.viewed-products
	.container
	
		.top-line
			span.title Просмотренные товары

			.wrap-slider-nav
				<span class="arrow-prev swiper-slide-prev"><svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.2724 7.66891L6.22406 13.723C6.58719 14.0923 7.1761 14.0923 7.53923 13.723C7.90243 13.3535 7.90243 12.7546 7.53923 12.3852L3.1751 7.94596L19.0701 7.94596C19.5836 7.94596 20 7.5224 20 7.00001C20 6.4777 19.5836 6.05406 19.0701 6.05406L3.1751 6.05406L7.53908 1.61485C7.90228 1.2454 7.90228 0.646498 7.53908 0.277049C7.35756 0.0924759 7.11949 0 6.8815 0C6.6435 0 6.40551 0.0924759 6.22391 0.277049L0.2724 6.33111C-0.0907993 6.70056 -0.0907993 7.29946 0.2724 7.66891Z" fill="#A1A1A1"/></svg></span>
				<span class="arrow-next swiper-slide-next"><svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.2724 7.66891L6.22406 13.723C6.58719 14.0923 7.1761 14.0923 7.53923 13.723C7.90243 13.3535 7.90243 12.7546 7.53923 12.3852L3.1751 7.94596L19.0701 7.94596C19.5836 7.94596 20 7.5224 20 7.00001C20 6.4777 19.5836 6.05406 19.0701 6.05406L3.1751 6.05406L7.53908 1.61485C7.90228 1.2454 7.90228 0.646498 7.53908 0.277049C7.35756 0.0924759 7.11949 0 6.8815 0C6.6435 0 6.40551 0.0924759 6.22391 0.277049L0.2724 6.33111C-0.0907993 6.70056 -0.0907993 7.29946 0.2724 7.66891Z" fill="#A1A1A1"/></svg></span>
			

		.viewed-products-slider.wrap-products-cards-index.swiper-container

			.wrap-products-cards.swiper-wrapper
				.wrap-card.swiper-slide
					.card
						a(href="#").wrap-img-product
							img(src="img/product-3.png", alt="")
						a(href="#").title Многофункциональное<br>устройство Epson WorkForce 
						span.old-price 270,20 руб.
						span.wrap-cur-price
							span.cur-price 250,00 руб.
							span.save-prise Экономия 2,99
						.wrap-actions
							.action.action-set
								.icon.icon-set
									include ../../img/icon-heart.svg
							.action.action-compare
								.icon.icon-compare
									include ../../img/icon-diagram.svg
							span.btn-product.btn-white 
								span.text-before-add В корзину
								span.text-after-add В корзине

				.wrap-card.swiper-slide
					.card
						a(href="#").wrap-img-product
							img(src="img/product-1.png", alt="")
						a(href="#").title Многофункциональное<br>устройство Epson WorkForce 
						span.old-price 270,20 руб.
						span.wrap-cur-price
							span.cur-price 250,00 руб.
							span.save-prise Экономия 2,99
						.wrap-actions
							.action.action-set
								.icon.icon-set
									include ../../img/icon-heart.svg
							.action.action-compare
								.icon.icon-compare
									include ../../img/icon-diagram.svg
							span.btn-product.btn-white 
								span.text-before-add В корзину
								span.text-after-add В корзине

				.wrap-card.swiper-slide
					.card
						a(href="#").wrap-img-product
							img(src="img/product-3.png", alt="")
						a(href="#").title Многофункциональное<br>устройство Epson WorkForce 
						span.old-price 270,20 руб.
						span.wrap-cur-price
							span.cur-price 250,00 руб.
							span.save-prise Экономия 2,99
						.wrap-actions
							.action.action-set
								.icon.icon-set
									include ../../img/icon-heart.svg
							.action.action-compare
								.icon.icon-compare
									include ../../img/icon-diagram.svg
							span.btn-product.btn-white 
								span.text-before-add В корзину
								span.text-after-add В корзине

				.wrap-card.swiper-slide.bonus-full
					.card
						a(href="#").wrap-img-product
							img(src="img/product-1.png", alt="")
						a(href="#").title Многофункциональное<br>устройство Epson WorkForce 
						span.wrap-cur-price
							span.cur-price 250,00 руб.
						.wrap-actions
							.action.action-set
								.icon.icon-set
									include ../../img/icon-heart.svg
							.action.action-compare
								.icon.icon-compare
									include ../../img/icon-diagram.svg
							span.btn-product.btn-white 
								span.text-before-add В корзину
								span.text-after-add В корзине

				.wrap-card.swiper-slide.bonus-new
					.card
						a(href="#").wrap-img-product
							img(src="img/product-2.png", alt="")
						a(href="#").title Смартфон Samsung<br>Galaxy S8 (мистический аметист) 
						span.old-price 270,20 руб.
						span.wrap-cur-price
							span.cur-price 325,00 руб.
							span.save-prise Экономия 2,99
						.wrap-actions
							.action.action-set
								.icon.icon-set
									include ../../img/icon-heart.svg
							.action.action-compare
								.icon.icon-compare
									include ../../img/icon-diagram.svg
							span.btn-product.btn-white 
								span.text-before-add В корзину
								span.text-after-add В корзине

				.wrap-card.swiper-slide.bonus-action
					.card
						a(href="#").wrap-img-product
							img(src="img/product-1.png", alt="")
						a(href="#").title Многофункциональное<br>устройство Epson WorkForce 
						span.wrap-cur-price
							span.cur-price 250,00 руб.
						.wrap-actions
							.action.action-set
								.icon.icon-set
									include ../../img/icon-heart.svg
							.action.action-compare
								.icon.icon-compare
									include ../../img/icon-diagram.svg
							span.btn-product.btn-white 
								span.text-before-add В корзину
								span.text-after-add В корзине

				.wrap-card.swiper-slide.bonus-full
					.card
						a(href="#").wrap-img-product
							img(src="img/product-3.png", alt="")
						a(href="#").title Многофункциональное<br>устройство Epson WorkForce 
						span.wrap-cur-price
							span.cur-price 250,00 руб.
						.wrap-actions
							.action.action-set
								.icon.icon-set
									include ../../img/icon-heart.svg
							.action.action-compare
								.icon.icon-compare
									include ../../img/icon-diagram.svg
							span.btn-product.btn-white 
								span.text-before-add В корзину
								span.text-after-add В корзине

				.wrap-card.swiper-slide.bonus-full
					.card
						a(href="#").wrap-img-product
							img(src="img/product-4.png", alt="")
						a(href="#").title Сабвуфер JBL CS1214T
						span.wrap-cur-price
							span.cur-price 115,35 руб.
						.wrap-actions
							.action.action-set
								.icon.icon-set
									include ../../img/icon-heart.svg
							.action.action-compare
								.icon.icon-compare
									include ../../img/icon-diagram.svg
							span.btn-product.btn-white 
								span.text-before-add В корзину
								span.text-after-add В корзине
