.wrap-article.wrap-text-content
	.container
		.row.justify-content-center

			.col-12
				.wrap-img.responsive-img.wrap-main-img-article.wrap-img-desktop
					img(src="img/article-img-1-desk.png", alt="").img-desktop
				.wrap-img.responsive-img.wrap-main-img-article.wrap-img-mobile
					img(src="img/article-img-1-mob.png", alt="").img-mobile


			.col-12.col-lg-10
				article
					span.item-time.text-small.text-gray.text-fw-bold
						.wrap-icon
							img(src="img/018-watch.svg", alt="")

						time(datetime="2018-02-12 18:00") 02.12.2018
						span.tag #Новости

					h1.h-2.title-article Назание статьи в строку или в две<br> небольшие строки

					p.subtitle В отличие от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом<br> и придаст неповторимый текст рыба на русском языке екст рыба на русском языке

					.article-text
						h3 Небольшой заголовок статьи в строку

						p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем

						p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем

						include ../slider/slider

						p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем

						h4 Самым известным «рыбным» текстом является 

						p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем

						p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем

						blockquote Самым известным «рыбным» текстом<br> является знаменитый Lorem ipsum Самым<br> известным «рыбным»

						p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем

						h4 Самым известным «рыбным» текстом является 

						p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем

						ul
							li Самым известным «рыбным» текстом является знаменитый Lorem ipsum. Считается, что впервые его применили в книгопечатании еще в XVI веке.

							li Самым известным «рыбным» текстом является знаменитый Lorem ipsum. Считается, что впервые его применили в книгопечатании еще в XVI веке. Самым известным «рыбным» текстом является знаменитый Lorem ipsum. Считается, что впервые его применили в книгопечатании еще в XVI веке.

							li Самым известным «рыбным» текстом является знаменитый Lorem ipsum. Считается, что впервые его применили в книгопечатании еще в XVI веке.

							p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем

							img(src="img/article-img-1-desk.png", alt="").img-desktop
							img(src="img/article-img-1-mob.png", alt="").img-mobile
							span.text-under-img Небольшие подпись к фото

							p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсемТак как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем
			
							p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно.

				
				.wrap-social
					span.social-title.h-3 Поделиться в соцсетях

					.wrap-social-squares
						a(href="#").social-square
							img(src="img/icon-fb-white.svg", alt="")
						a(href="#").social-square
							img(src="img/icon-vk-white.svg", alt="")
						a(href="#").social-square
							img(src="img/icon-inst-white.svg", alt="")
						a(href="#").social-square
							img(src="img/icon-vk-white.svg", alt="")
						a(href="#").social-square
							img(src="img/icon-inst-white.svg", alt="")

