@import "../../../../less/common/vars";

.product-card-row-first{
	.card-set{
		border: none;

		&-content{
			border: 2px solid @blue;
			padding: 21px 21px 25px;
		}

		.title-set {
			font-size: 18px;
			line-height: 21px;
			font-family: "RobMed";
			display: block;
			margin-bottom: 17px;
			text-align: center;
		}

		.title-set-lg{
			display: none;
			text-align: left;
			margin-bottom: 18px;
		}

		.set-item{
			position: relative;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			height: 130px;
			padding: 0 0 20px;
			margin: 15px 0;
			-ms-align-items: center;
			align-items: center;

			&::before, &::after{
				content: "";
				position: absolute;
				bottom: 0;
				height: 2px;
				width: 44%;
				background-color: #EAEAEA;
			}

			.bottom-icon{
				position: absolute;
				bottom: 1px;
				left: 50%;
				-webkit-transform: translate(-50%, 50%);
				-moz-transform: translate(-50%, 50%);
				-ms-transform: translate(-50%, 50%);
				-o-transform: translate(-50%, 50%);
				transform: translate(-50%, 50%);
				width: 12px;
				height: 12px;

				&::before, &::after{
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					width: 100%;
					height: 2px;
					background-color: @blue;
					-webkit-transform: translate(-50%, -50%);
					-moz-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					-o-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
				}

				&::after{
					-webkit-transform: translate(-50%, -50%) rotate(90deg);
					-moz-transform: translate(-50%, -50%) rotate(90deg);
					-ms-transform: translate(-50%, -50%) rotate(90deg);
					-o-transform: translate(-50%, -50%) rotate(90deg);
					transform: translate(-50%, -50%) rotate(90deg);
					
				}
			}

			.bottom-icon-result{
				&::before, &::after{
					-webkit-transform: translate(-50%, 0);
					-ms-transform: translate(-50%, 0);
					-o-transform: translate(-50%, 0);
					transform: translate(-50%, 0);
				}

				&::before{
					top: 25%;
				}

				&::after{
					top: 65%;
				}
			}

			.wrap-img{
				width: 100%;
				max-width: 92px;
				img{
					display: block;
					margin: 0 auto;
					max-width: 100%;
					max-height: 100%;
					width: auto;
				}
			}

			.wrap-text{
				margin-left: 12px;
				width: calc(100% - 100px);

				> span {
					display: block;
				}

				.title{
					white-space: nowrap;
					font-size: 15px;
					line-height: 19px;
					position: relative;
					overflow: hidden;
					margin-bottom: 3px;
					&::before{
						content: "";
						position: absolute;
						top: 50%;
						right: 0;
						-webkit-transform: translate(0, -50%);
						-moz-transform: translate(0, -50%);
						-ms-transform: translate(0, -50%);
						-o-transform: translate(0, -50%);
						transform: translate(0, -50%);
						width: 38px;
						height: 100%;
						background: rgba(255,255,255,0);
						background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
						background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
						background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
						background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
						background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
						background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
					}
				}

				.old-price{
					color: @textGray;
					text-decoration: line-through;
					margin-top: 6px;
				}

				.cur-price{
					font-family: "RobMed";
					font-size: 16px;
					line-height: 21px;
					margin-top: 2px;
				}

			}

			&::before{
				left: 0;
			}

			&::after{
				right: 0;
			}

			&:last-child{
				margin-bottom: 20px;
			}
		}

		.wrap-result-data{
			padding-top: 5px;

			> span{
				display: block;
			}

			.set-price, .your-price{
				line-height: 19px;
				font-family: "RobMed";
			}

			.set-price{
				font-size: 15px;
				color: @textGray;
			}

			.your-price{
				margin: 9px 0 14px;
				font-size: 18px;
			}

			.btn-blue{
				margin-bottom: 10px;
				cursor: pointer;
				max-width: 100%;

				span{
					display: block;
					margin: 0 auto;
					padding: 3px;
					font-size: 15px
				}
			}

			.btn-custom-set{
				color: @blue;
				font-size: 15px;
				line-height: 19px;
				text-align: center;
				cursor: pointer;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				-ms-align-items: center;
				align-items: center;
				justify-content: center;
			}
		}
	}

	.card-set-none{
		padding: 0;
		border: none;

		> img{
			width: 100%;
			height: auto;
		}

		.img-horizontal{
			display: none;
		}
	}

}


@media (min-width: 1260px) {

}

@media (max-width: 1259px) {
	.product-card-row-first{
		.card-set{
			&-content{
				padding: 18px 18px 20px;
			}

			.title-set{
				margin-bottom: 14px;
			}

			.set-item{
				padding: 0 0 14px;
				margin: 8px 0;
				height: 120px;

				.wrap-text{
					.title{
						font-size: 14px;
						line-height: 18px;
					}

					.old-price{
						font-size: 12px;
					}

					.cur-price{
						font-size: 14px;
						margin-top: 0;
					}
				}

				.wrap-img{
					max-width: 70px;
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					-ms-align-items: center;
					align-items: center;
					justify-content: center;
				}
			}

			.wrap-result-data{
				padding-top: 15px;
			}
		}
	}
}

@media (max-width: 991px) {
	.product-card-row-first{
		.card-set{

			&-content{
				padding: 0;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				min-height: 216px;

				.title-set{
					display: none;
				}
			}

			.title-set-lg{
				display: block;
			}

			.set-item{
				margin: 0;
				height: auto;
				display: block;

				&::before, &::after{
					left: auto;
					right: -1px;
					top: 50%;

					height: 34%;
					width: 2px;
				}

				&::before{
					bottom: auto;
					top: 18px;
				}

				&::after{
					bottom: 18px;
					top: auto;					
				}

				.wrap-img{
					max-height: 92px;
					height: 92px;
					max-width: 92px;
					justify-content: flex-start;
					margin-bottom: 10px;
					
					img{
						max-width: 100%;
						max-height: 100%;
						margin-left: 0;
					}
				}

				.wrap-text{
					width: 100%;
					margin-left: 0;

					.title{
						font-size: 13px;
						line-height: 16px;
					}

					.old-price{
						font-size: 13px;
					}

					.cur-price{
						font-size: 15px;
					}
				}

				.bottom-icon{
					left: auto;
					top: 50%;
					right: 0px;
					-webkit-transform: translate(50%, -50%);
					-moz-transform: translate(50%, -50%);
					-ms-transform: translate(50%, -50%);
					-o-transform: translate(50%, -50%);
					transform: translate(50%, -50%);
					width: 11px;
					height: 11px;
				}
			}

			.wrap-result-data, .set-item{
				padding: 18px;
				max-width: 25%;
				width: 100%;
			}

			.wrap-result-data{
				.set-price{
					font-size: 14px;
					padding-top: 5px;
				}

				.your-price{
					font-size: 16px;
				}

				.set-price, .your-price{
					span{
						display: block;
					}
				}

				.btn-blue{
					line-height: 16px;
				}

				.btn-custom-set{
					font-size: 14px;
				}
			}
		}

		.card-set-none{
			.img-horizontal{
				display: block;
			}

			.img-vertical{
				display: none;
			}
		}
	}
}

@media (max-width: 767px) {
	.product-card-row-first{
		.card-set{
			&-content{
				min-height: 190px;
			}

			.set-item{
				.wrap-img{
					max-height: 62px;
					height: 62px;
					max-width: 62px;
					margin-bottom: 8px;
					
					img{
						max-width: 100%;
						max-height: 100%;
						margin-left: 0;
					}
				}

				.bottom-icon{
					width: 9px;
					height: 9px;

					&:before, &:after{
						height: 1px;
					}
				}

				.wrap-text{
					.title{
						font-size: 12px;
						line-height: 16px;
					}

					.old-price{
						font-size: 12px;
					}

					.cur-price{
						font-size: 14px;
					}
				}
			}

			.wrap-result-data, .set-item{
				padding: 12px;
			}

			.wrap-result-data{
				.set-price{
					font-size: 12px;
					line-height: 14px;
				}

				.your-price{
					font-size: 13px;
					line-height: 15px;
				}

				.btn-blue{
					line-height: 15px;
					padding: 6px;
					margin-bottom: 6px;

					span{
						font-size: 10px;
						padding: 0;
					}
				}

				.btn-custom-set{
					font-size: 11px;
					line-height: 12px;
				}
			}
		}

		.card-set-none{
			position: relative;
			height: 202px;
			overflow: hidden;

			img{
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				-moz-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				-o-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				height: 100%;
				width: auto;
			}
		}
	}
}

@media (max-width: 575px) {
	.product-card-row-first{
		.card-set{
			&-content{
				min-height: 190px;
			}

			.set-item{
				.wrap-img{
					max-height: 62px;
					height: 62px;
					max-width: 62px;
					margin-bottom: 8px;
					
					img{
						max-width: 100%;
						max-height: 100%;
						margin-left: 0;
					}
				}

				.bottom-icon{
					width: 9px;
					height: 9px;

					&:before, &:after{
						height: 1px;
					}
				}

				.wrap-text{
					.title{
						font-size: 12px;
						line-height: 16px;
					}

					.old-price{
						font-size: 12px;
					}

					.cur-price{
						font-size: 14px;
					}
				}
			}

			.wrap-result-data, .set-item{
				padding: 12px;
			}

			.wrap-result-data{
				.set-price{
					font-size: 12px;
					line-height: 14px;
				}

				.your-price{
					font-size: 13px;
					line-height: 15px;
				}

				.btn-blue{
					line-height: 15px;
					padding: 6px;
					margin-bottom: 6px;

					span{
						font-size: 10px;
						padding: 0;
					}
				}

				.btn-custom-set{
					font-size: 11px;
					line-height: 12px;
				}
			}
		}

		.card-set-none{
			overflow: visible;
			
			img{
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				-moz-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				-o-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				height: 100%;
				width: auto;
			}
		}
	}
}

@media(max-width: 530px) {
	.product-card-row-first .card-set{
		&-content{
			flex-wrap: wrap;
			margin: 0 -15px;
			border-right: none;
			border-left: none;
		}

		.set-item{
			max-width: none;
			width: calc(100% / 3);

			&::before, &::after{
				display: none;
			}

			.wrap-img{
				margin: 0 auto;
				max-height: 56px;
				height: 56px;
				max-width: 56px;
			}

			.bottom-icon{
				width: 12px;
				height: 12px;

				&::before, &::after{
					height: 2px;
				}
			}

			.bottom-icon-result{
				display: none;
			}

			.wrap-text{
				display: none;
			}
		}

		.set-item-1{
			.wrap-img{
				margin-left: 0;
			}

			.bottom-icon{
				right: 10%;
			}
		}

		.set-item-2{
			.bottom-icon{
				right: -10%;
			}
		}

		.set-item-3{
			.wrap-img{
				margin-right: 0;
			}
		}

		.wrap-result-data{
			max-width: none;
			width: 100%;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-webkit-flex-wrap: wrap;
			-moz-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			-o-flex-wrap: wrap;
			flex-wrap: wrap;

			.set-price, .your-price{
				width: 100%;
				span{
					display: inline-block;
				}
			}

			.set-price{
				font-size: 14px;
			}

			.your-price{
				margin: 6px 0 18px;
				font-size: 16px;
			}

			.btn-blue, .btn-custom-set{
				width: 50%;
				margin: 0;
				
				span{
					font-size: 14px;
					line-height: 24px;
				}
			}

			.btn-custom-set{
				padding-left: 15px;
			}
		}
	}
}


