.wrap-services-list.wrap-lists
	.wrap-list
		a(href="#").link-accent.list-title Разработка сайтов
			.dropdown-btn
				<svg width="17" height="10" viewBox="0 0 17 10" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1.5 1.5L8.5 8.5L15.5 1.5" stroke="#9096A8" stroke-width="2"/>
				</svg>
		ul.dropdown-content
			li
				a(href="#").link-dark Лэндинг
			li
				a(href="#").link-dark Готовые решения 
					span.recommend Рекомендуем
			li
				a(href="#").link-dark Сайт Визитка
			li
				a(href="#").link-dark Сайты на 1С-Битрикс
			li
				a(href="#").link-dark Корпоративный сайт
			li
				a(href="#").link-dark Интернет-магазин
			li
				a(href="#").link-dark Сайты на ModX

	.wrap-list
		a(href="#").link-accent.list-title Поддержка сайтов
			.dropdown-btn
				<svg width="17" height="10" viewBox="0 0 17 10" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1.5 1.5L8.5 8.5L15.5 1.5" stroke="#9096A8" stroke-width="2"/>
				</svg>
		ul.dropdown-content
			li
				a(href="#").link-dark Техническая поодержка сайтов
			li
				a(href="#").link-dark Переход на Битрикс
			li
				a(href="#").link-dark Поддержка сайтов на 1С-Битрикс и Битрикс 24
			li
				a(href="#").link-dark Поддержка сайтов на ModX
			li
				a(href="#").link-dark Лицензии 1С Битрикс
					span.recommend Скидки
			li
				a(href="#").link-dark CRM Битрикс 24
			li
				a(href="#").link-dark Редизайн сайта

	.wrap-list
		a(href="#").link-accent.list-title SEO оптимизация
			.dropdown-btn
				<svg width="17" height="10" viewBox="0 0 17 10" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1.5 1.5L8.5 8.5L15.5 1.5" stroke="#9096A8" stroke-width="2"/>
				</svg>
		ul.dropdown-content
			li
				a(href="#").link-dark Комплексное продвижение сайта
					span.recommend Рекомендуем
			li
				a(href="#").link-dark Продвижение молодого сайта
			li
				a(href="#").link-dark Продвижение сайта по трафику

	.wrap-list
		a(href="#").link-accent.list-title Контекстная реклама
			.dropdown-btn
				<svg width="17" height="10" viewBox="0 0 17 10" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1.5 1.5L8.5 8.5L15.5 1.5" stroke="#9096A8" stroke-width="2"/>
				</svg>
		ul.dropdown-content
			li
				a(href="#").link-dark Реклама в Google
			li
				a(href="#").link-dark Реклама в YouTube
			li
				a(href="#").link-dark Реклама в Яндекс
			li
				a(href="#").link-dark Баннерная реклама в контекстной медийной сети
			li
				a(href="#").link-dark Догоняющая реклама
			li
				a(href="#").link-dark Ремаркетинг и ретаргетин


	.wrap-list
		a(href="#").link-accent.list-title Продвижение в социальных сетях
		p.dropdown-content Используем уникальные стратегии по продвижению в социальных сетях. SMM не обладает мгновенным эффектом, но дает долгосрочный результат при условии его целевого и правильного использования. 

	.wrap-list
		a(href="#").link-accent.list-title 3D фотографии
		p.dropdown-content Замена обычных фотографии на 3D модели объектов - это одно из лучших решений для привлечения большего количества клиентов. С помощью 3D модели можно "оживить" любой статический предмет.

	.wrap-list
		a(href="#").link-accent.list-title Виртуальные туры
		p.dropdown-content Виртуальный тур - это виртуальное путешествие по любому объекту или территории, которое дает точное отражение действительности и обеспечивает «эффект присутствия» на объекте.