section.bitrix-tasks.sec-page.img-bg(style="background-image: url('img/bitrix-plus-bg.jpg')")
	.container

		.bitrix-tasks-content

			span.sec-title Ключевые задачи, которые решают БИТРИКС-24

			.wrap-tasks-items
				.item
					.wrap-img.img-resp
						img.lazyload(data-src="img/bitrix-task-1.png")
					.wrap-text.wrap-list-point
						span Корпоративный портал
						ul
							li Постановка задач и контроль их исполнения
							li Единая среда для коммуникации сотрудников
							li Внутреннее информационное пространство компании
							li Общий диск для хранения документов и файлов
							li Интеграция с почвой
							li Управление персоналом
							li Автоматизация бизнес-процессов

				.item
					.wrap-img.img-resp
						img.lazyload(data-src="img/bitrix-task-2.png")
					.wrap-text.wrap-list-point
						span CRM
						ul
							li Учет и ведение лидов
							li Управление сделками
							li Формирование коммерческого предложения и счетов
							li Отчёт по продажам
							li Интеграция с 1С: Бухгалтерия и Интернет-магазином на 1С-БИТРИКС
							li Интеграция с IP-телефонией
							li Автоматизация бизнес-процессов
