section.prices-bitrix.sec-page
	.container
		.prices-bitrix-content

			.wrap-title
				span.title Цена на Битрикс24
				span.subtitle Выберите подходящую версию установки

			.wrap-tabs
				button.btn.btn-active Облако
				button.btn Коробка

			.wrap-tables

				.wrap-table-accent.wrap-table-accent-2.wrap-table-x-custom-scroll.table-hover.table-active
					table
						tr.row-title-col
							td.empty-cell
							td Проект
							td Проект +
							td CRM +
							td Команда
							td Компания

						tr.row-gray-text
							td.empty-cell
							td Бесплатный «облачный» сервис для небольшой компании до 12 сотрудников. Включает базовый функционал
							td «Облачный» сервис для компании до 24 сотрудников. Включает расширенные возможности и дополнительные инструменты
							td Бесплатный «облачный» сервис для небольшой компании до 12 сотрудников. Включает базовый функционал
							td «Облачный» сервис для компании до 24 сотрудников. Включает расширенные возможности и дополнительные инструменты
							td «Облачный» сервис для компании до 24 сотрудников. Включает расширенные возможности и дополнительные инструменты

						tr
							td Стоимость
							td 0 BYN/.мес
							td 0 BYN/.мес
							td 0 BYN/.мес
							td 0 BYN/.мес
							td 0 BYN/.мес

						tr
							td Бизнес-пользователи
							td 12
							td 12
							td 12
							td неограниченно
							td неограниченно

						tr
							td Место в облаке, Гб
							td
								img.lazyload(data-src="img/icon-success.svg", alt="").icon-true
							td
								img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
							td
								img.lazyload(data-src="img/icon-success.svg", alt="").icon-true
							td
								img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
							td
								img.lazyload(data-src="img/icon-success.svg", alt="").icon-true

						tr
							td Открытые линии
							td 12
							td 12
							td 12
							td неограниченно
							td неограниченно

						tr
							td Внешние пользователи (экстранет)
							td
								img.lazyload(data-src="img/icon-success.svg", alt="").icon-true
							td
								img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
							td
								img.lazyload(data-src="img/icon-success.svg", alt="").icon-true
							td
								img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
							td
								img.lazyload(data-src="img/icon-success.svg", alt="").icon-true

						tr
							td Интеграция с 1С
							td 12
							td 12
							td 12
							td неограниченно
							td неограниченно

						tr
							td Открытые линии
							td
								img.lazyload(data-src="img/icon-success.svg", alt="").icon-true
							td
								img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
							td
								img.lazyload(data-src="img/icon-success.svg", alt="").icon-true
							td
								img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
							td
								img.lazyload(data-src="img/icon-success.svg", alt="").icon-true

						tr
							td Учет рабочего времени
							td 12
							td 12
							td 12
							td неограниченно
							td неограниченно							

						tr.row-btn
							td
							td 
								.wrap-btn.wrap-btn-blue
									a.btn(href="#") Попробовать бесплатно
							td 
								.wrap-btn.wrap-btn-blue
									a.btn(href="#") Купить
							td 
							td 
							td 

					.wrap-bottom-line
						.wrap-btn.wrap-btn-compare
							a(href="#").btn
								.wrap-icon
									img.lazyload(data-src="img/compare.svg")
								span Сравнить возможности

						.wrap-text
							span.title Получить консультацию по выбору редакции 1С-Битрикс
							.wrap-btn.wrap-btn-blue
								a.btn(href="#") Заказать звонок
								
				.wrap-table-accent.wrap-table-accent-2.wrap-table-x-custom-scroll.table-hover
					table
						tr.row-title-col
							td.empty-cell
							td Не Проект
							td Не Проект +
							td Не CRM +
							td Не Команда
							td Не Компания

						tr.row-gray-text
							td.empty-cell
							td Бесплатный «облачный» сервис для небольшой компании до 12 сотрудников. Включает базовый функционал
							td «Облачный» сервис для компании до 24 сотрудников
							td Бесплатный «облачный» сервис для небольшой компании до 12 сотрудников. Включает базовый функционал Включает расширенные возможности и дополнительные инструменты
							td «Облачный» сервис для компании до 24 сотрудников. Включает расширенные возможности и дополнительные инструменты
							td «Облачный» сервис для компании до 24 сотрудников. 

						tr
							td Бизнес-пользователи
							td 9990 BYN/.мес
							td 0 BYN/.мес
							td 20 BYN/.мес
							td 550 BYN/.мес
							td 10 BYN/.мес

						tr
							td Стоимость
							td 11
							td 634
							td 42
							td неограниченно
							td ограничение

						tr
							td Открытые линии
							td 12
							td 12
							td 12
							td ограничение
							td неограниченно

						tr
							td Внешние пользователи (экстранет)
							td
								img.lazyload(data-src="img/icon-success.svg", alt="").icon-true
							td
								img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
							td
								img.lazyload(data-src="img/icon-success.svg", alt="").icon-true
							td
								img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
							td
								img.lazyload(data-src="img/icon-success.svg", alt="").icon-true

						tr
							td Интеграция с 4С
							td 12
							td 12
							td 12
							td неограниченно
							td неограниченно

						tr
							td Открытые линии
							td
								img.lazyload(data-src="img/icon-success.svg", alt="").icon-true
							td
								img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
							td
								img.lazyload(data-src="img/icon-success.svg", alt="").icon-true
							td
								img.lazyload(data-src="img/icon-error.svg", alt="").icon-false
							td
								img.lazyload(data-src="img/icon-success.svg", alt="").icon-true

						tr
							td Учет рабочего времени
							td 12
							td 12
							td 12
							td ограничение
							td ограничение						

						tr.row-btn
							td
							td 
								.wrap-btn.wrap-btn-blue
									a.btn(href="#") Попробовать бесплатно
							td 
								.wrap-btn.wrap-btn-blue
									a.btn(href="#") Купить
							td 
								.wrap-btn.wrap-btn-blue
									a.btn(href="#") Закупить
							td 
								.wrap-btn.wrap-btn-blue
									a.btn(href="#") Выкупить
							td 
								.wrap-btn.wrap-btn-blue
									a.btn(href="#") Перекупить

					.wrap-bottom-line
						.wrap-btn.wrap-btn-compare
							a(href="#").btn
								.wrap-icon
									img.lazyload(data-src="img/compare.svg")
								span Сравнить возможности

						.wrap-text
							span.title Получить консультацию по выбору редакции 1С-Битрикс
							.wrap-btn.wrap-btn-blue
								a.btn(href="#") Заказать звонок


















