section.srm-bitrix-plus.sec-page
	.srm-bitrix-plus-text-mobile
		.container
			span.main-text
				span Бизнес работает<br> в
				img.lazyload(data-src="img/bitrix24-logo.png", alt="")

			span.under-text Беслатно. Неограниченно. Онлайн.

	.wrap-img.img-resp
		img.lazyload(data-src="img/srm-bitrix-plus.svg", alt="")



