section.srm-bitrix-banner.page-banner.img-bg(style="background-image: url('img/banner-srm-bitrix-bg.jpg')")
	.container

		.page-banner-content
			.left-content
				.wrap-breadcrumbs.breadcrumbs-yellow
					a(href="index.html") Главная
					span.delimiter /
					a(href="#") Услуги
					span.delimiter /
					a(href="#") SEO оптимизация
					span.delimiter /
					span.cur-page Анализ и аудит сайта

				.page-banner-text
					span.banner-title CRM Битрикс24
					p.subtext CRM помогает продавать больше:<br> берет под контроль все каналы коммуникаций с клиентами,<br> подсказывает, что делать и автоматизирует продажи.

					.wrap-btn.wrap-btn-blue.wrap-btn-blue-arrow
						.btn.btn-show-modal(data-modal-key="modal-callback") Заказать консультацию
							.wrap-icon
								<svg width="17" height="11" viewBox="0 0 17 11" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M16.7685 4.97443L11.7095 0.217666C11.4009 -0.0725555 10.9003 -0.0725555 10.5917 0.217666C10.2829 0.507948 10.2829 0.978511 10.5917 1.26879L14.3012 4.75675H0.790455C0.353934 4.75675 0 5.08954 0 5.49999C0 5.91038 0.353934 6.24324 0.790455 6.24324H14.3012L10.5918 9.73119C10.2831 10.0215 10.2831 10.492 10.5918 10.7823C10.7461 10.9273 10.9484 11 11.1507 11C11.353 11 11.5553 10.9273 11.7097 10.7823L16.7685 6.02556C17.0772 5.73527 17.0772 5.26471 16.7685 4.97443Z" fill="white"></path>
								</svg>

			