.wrap-top-page-line

	.wrap-breadcrumbs
		a.other-page(href="index.html") Главная
		span.delimiter /
		a.other-page(href="index.html") О компании
		span.delimiter /
		span.cur-page Отзывы и благодарности

	h2.title-top-page Отзывы и благодарности