.wrap-persons-cards

	.wrap-card
		.card.img-resp
			img.lazyload(data-src="img/person.jpg", alt="")
			.text
				span.name Довбан Алексей
				span.position HEAD OF FRONTEND DEPARTMENT

	.wrap-card
		.card.img-resp
			img.lazyload(data-src="img/person.jpg", alt="")
			.text
				span.name Довбан Алексей
				span.position HEAD OF FRONTEND DEPARTMENT

	.wrap-card
		.card.img-resp
			img.lazyload(data-src="img/person.jpg", alt="")
			.text
				span.name Довбан Алексей
				span.position HEAD OF FRONTEND DEPARTMENT

	.wrap-card
		.card.img-resp
			img.lazyload(data-src="img/person.jpg", alt="")
			.text
				span.name Довбан Алексей
				span.position HEAD OF FRONTEND DEPARTMENT

	.wrap-card
		.card.img-resp
			img.lazyload(data-src="img/person.jpg", alt="")
			.text
				span.name Довбан Алексей
				span.position HEAD OF FRONTEND DEPARTMENT

	.wrap-card
		.card.img-resp
			img.lazyload(data-src="img/person.jpg", alt="")
			.text
				span.name Довбан Алексей
				span.position HEAD OF FRONTEND DEPARTMENT

	.wrap-card
		.card.img-resp
			img.lazyload(data-src="img/person.jpg", alt="")
			.text
				span.name Довбан Алексей
				span.position HEAD OF FRONTEND DEPARTMENT
			
	.wrap-card
		.card.img-resp
			img.lazyload(data-src="img/person.jpg", alt="")
			.text
				span.name Довбан Алексей
				span.position HEAD OF FRONTEND DEPARTMENT
