.wrap-top-page-text
	span.title-top-page Наша команда

	.top-paragraphs
		p Таким образом дальнейшее развитие различных форм деятельности требуют определения и уточнения соответствующий условий активизации. Задача организации, в особенности же новая модель организационной деятельности в значительной степени обуславливает создание дальнейших направлений развития.
