.technologies
	padding: px-to-rem(105, 24) 0
	margin-bottom: px-to-rem(90, 24)
	
	&__wrap-list
		overflow: hidden
		position: relative

		&:before, &:after
			content: ''
			position: absolute
			top: 0
			height: 100%
			width: 60px
			z-index: 1
			background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0.39) 61%,rgba(255,255,255,0) 100%)

		&:before
			left: 0
		
		&:after
			right: 0
			transform: rotate(180deg)
	
	&__list
		display: flex
		margin: 0 -1rem
		animation: list-move 30s linear infinite alternate

		&-item
			display: flex
			align-items: center
			justify-content: center
			padding: 0 px-to-rem(67, 24)
			height: 55px

			&-img
				max-width: 270px
				max-height: 100%


@keyframes list-move
	from
		transform: translate(0)

	to
		transform: translate(-100%, 0)