mixin technologies-item(src)
	li.technologies__list-item
		img.technologies__list-item-img(src=src, alt="")

.technologies
	.container
		
		.technologies__wrap-list
			ul.technologies__list
				+technologies-item("img/technologies/html5.png")
				+technologies-item("img/technologies/css3.png")
				+technologies-item("img/technologies/sass.png")
				+technologies-item("img/technologies/js.png")
				+technologies-item("img/technologies/jquery.png")
				+technologies-item("img/technologies/php.png")
				+technologies-item("img/technologies/mysql.png")
				+technologies-item("img/technologies/wordpress.png")
				+technologies-item("img/technologies/angular2.png")
				+technologies-item("img/technologies/nodejs.png")
				+technologies-item("img/technologies/oracle.png")
				+technologies-item("img/technologies/android.png")
				+technologies-item("img/technologies/ios.png")
				+technologies-item("img/technologies/chicken.png")