.page-product-card
	.description-card
		background-color: $bg-gray

.main
	.page-product-card
		.description-card	
			padding-bottom: 40px


+media-breakpoint-down(lg)

+media-breakpoint-down(md)
	.main
		.page-product-card
			.description-card	
				padding-bottom: 20px

+media-breakpoint-down(sm)

+media-breakpoint-down(xs)
	.main
		.page-product-card
			.description-card
				padding-bottom: 55px
