@import "../../less/common/vars";

.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 6;

	&-top-line{
		background-color: #fff;

		&-content{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: center;
			align-items: center;
			height: 72px;
			padding: 15px 0;
		}

		.wrap-menu-btn, .wrap-cart{
			display: none;
		}

		.wrap-menu-btn{
			.icon{
				padding: 0;
				cursor: pointer;
				display: flex;
				align-items: center;
				width: 100%;
			}

			.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
				width: 100%;
				height: 2px;
				background-color: inherit;
			}

			.hamburger--squeeze .hamburger-inner{
				background-color: #000;
				bottom: 5px;
				transition-duration: .25s;
			}

			.hamburger-inner:before{
				top: -6px;
				transition-duration: inherit;
			}

			.hamburger-inner:after{
				bottom: -6px;
				transition-duration: inherit;
			}

			.hamburger-box{
				height: 24px;
				width: 23px;
			}

			.is-active{
				.hamburger-inner:before{
					top: 0px;
				}
				.hamburger-inner:after{
					bottom: 0px;
				}
			}
				
		}

		.wrap-logo{
			height: 100%;

			img{
				height: 100%;
				width: auto;
			}
		}

		.wrap-accent-field{
			margin: 0 80px;
			width: 100%;
			height: 100%;

			.field{
				padding-left: 38px;
				padding-right: 38px;
			}

			&::before{
				content: "";
				position: absolute;
				top: 50%;
				left: 15px;
				-webkit-transform: translate(0, -50%);
				-moz-transform: translate(0, -50%);
				-ms-transform: translate(0, -50%);
				-o-transform: translate(0, -50%);
				transform: translate(0, -50%);
				background: url("../img/icon-search.svg") no-repeat center;
				-webkit-background-size: contain;
				background-size: contain;
				width: 15px;
				height: 16px;
			}
		}

		.wrap-user-btn {
			border: 1px solid #D9DCDE;
			border-radius: 4px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: stretch;
			align-items: stretch;
			height: 100%;

			.btn{
				color: @blue;
				font-size: 13px;
				cursor: pointer;
				padding: 13px 15px;
				line-height: 15px;
				position: relative;
				letter-spacing: 0.02em;
				height: 100%;

				&:first-child{
					&::after{
						content: "";
						position: absolute;
						top: 50%;
						right: -1px;
						-webkit-transform: translate(0, -50%);
						-moz-transform: translate(0, -50%);
						-ms-transform: translate(0, -50%);
						-o-transform: translate(0, -50%);
						transform: translate(0, -50%);
						width: 1px;
						height: 22px;
						background-color: #D9DCDE;
					}
				}
			}
		}

		.wrap-dropdown{
			position: relative;
			max-width: 180px;
			width: 100%;
			height: 100%;

			.dropdown-top{
				border: 1px solid #D9DCDE;
				border-radius: 3px;
				padding: 6px 12px;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				-ms-align-items: center;
				align-items: center;
				cursor: pointer;
				height: 100%;

				.wrap-icon{
					width: 100%;
					max-width: 18px;
					margin-right: 8px;
				}

				.name{
					font-size: 13px;
					line-height: 16px;
					white-space: nowrap;
					position: relative;
					overflow: hidden;
					-ms-text-overflow: ellipsis;
					text-overflow: ellipsis;
					padding-right: 10px;

					&::selection{
						background-color: transparent;
						color: @textDark;
					}
				}

				.dropdown-icon{
					margin-left: auto;

					img{
						-webkit-transform: rotate(90deg);
						-moz-transform: rotate(90deg);
						-ms-transform: rotate(90deg);
						-o-transform: rotate(90deg);
						transform: rotate(90deg);
						
					}
				}
			}

			.dropdown-content{
				display: none;
				box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.18);
				border-radius: 3px;
				background-color: #fff;
				padding: 13px 15px 17px;
				width: 100%;
				position: absolute;
				top: 105%;
				left: 0;
				z-index: 2;

				a{
					display: block;
					color: @textDark;
					margin-bottom: 4px;

					&:hover{
						color: @blue;
					}

					&:last-child{
						margin-bottom: 0;
					}
				}
			}
		}

		.dropdown-active{
			.dropdown-top{
				.dropdown-icon{
					img{
						-webkit-transform: rotate(-90deg);
						-moz-transform: rotate(-90deg);
						-ms-transform: rotate(-90deg);
						-o-transform: rotate(-90deg);
						transform: rotate(-90deg);		
					}
				}
			}

			.dropdown-content{
				display: block;
			}
		}

		.wrap-phones{
			margin-left: 60px;
			height: 100%;

			.tel{
				color: @textDark;
				font-family: "RobBold";
				letter-spacing: 0.02em;
				display: block;
				white-space: nowrap;
			}
		}

		.wrap-cart{
			.wrap-img{
		
			}

			.product-count{

			}
		}
	}

	&-bottom-line{
		background-color: @bgF7;
		border-top: 1px solid #EEEEEE;
		border-bottom: 1px solid #EEEEEE;

		&-content{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: stretch;
			align-items: stretch;
			justify-content: space-between;
		}

		.desktop-nav{
			.nav-list{
				width: 100%;
				position: relative;
			}

			.list-item, .flexMenu-viewMore{
				display: inline-block;
				line-height: 46px;
				padding: 0 10px;

				> a, span {
					color: @textDark;
					height: 100%;
					line-height: inherit;
					position: relative;
					display: block;

					&::before{
						content: "";
						position: absolute;
						top: 100%;
						right: 0;
						width: 100%;
						height: 2px;
						background-color: @blue;
						opacity: 0;
						transition: .3s all ease;
						z-index: 3;
					}
				}

				&:hover{
					> a, span{
						&::before{
							opacity: 1;
						}
					}

					> .dropdown-menu{
						display: -webkit-flex;
						display: -moz-flex;
						display: -ms-flex;
						display: -o-flex;
						display: flex;
					}
				}

				> .dropdown-menu{
					position: absolute;
					top: calc(100% + 1px);
					left: -25px;
					width: calc(100% + 50px);
					background-color: #fff;
					box-shadow: 0px 10px 22px rgba(0, 0, 0, 0.2);
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					flex-wrap: wrap;
					padding: 10px 0;
					display: none;
					z-index: 2;

					> li {
						max-width: 20%;
						width: 100%;
						a{
							min-height: 100px;
							display: -webkit-flex;
							display: -moz-flex;
							display: -ms-flex;
							display: -o-flex;
							display: flex;
							-ms-align-items: center;
							align-items: center;
							padding: 0px 50px 0px 25px;

							> * {
								height: auto;
							}

							.wrap-img{
								display: -webkit-flex;
								display: -moz-flex;
								display: -ms-flex;
								display: -o-flex;
								display: flex;
								-ms-align-items: center;
								align-items: center;
								max-width: 62px;
						    max-height: 62px;
						    min-width: 62px;

						    img{
							    max-width: 100%;
							    max-height: 100%;
							    height: auto;
							    width: auto;
							    display: block;
						    }
							}

							.title{
								font-size: 13px;
								line-height: 15px;
								font-family: "RobMed";
								transition: .3s all ease;
								margin-left: 20px;

								&::before{
									display: none;
								}
							}

							&:hover{
								.title{
									color: @pink;
								}
							}
						}
					}
				}
			}

			.list-item:first-child{
				padding-left: 0;
			}

			.flexMenu-viewMore{
				cursor: pointer;
				position: relative;
				padding-right: 0;

				&:before{
					width: 110%;
				}

				&:hover{
					.dropdown-more{
						display: block;
						z-index: 1;
					}
				}

				ul{
					background-color: #fff;
					box-shadow: 0px 10px 22px rgba(0, 0, 0, 0.2);
				}

				.flexMenu-popup{
					top: calc(100% + 1px);
					position: absolute;
					right: 0px;
					width: 322px;
					display: none;

					li{
						border-bottom: 1px solid #D9DCDE;
						position: relative;
						display: block;
						padding: 0;

						&:hover{
							ul{
								display: block;
							}

							> a{
								color: @blue;
							}
						}

						&:last-child{
							border-bottom: 0;
						}

						a{
							display: block;
							position: relative;
							color: @textDark;
							line-height: 16px;
							padding: 14px 30px 14px 15px;

						}

						ul{
							position: absolute;
							top: 0px;
							padding: 0;
							right: 100%;
							display: none;
							z-index: 4;
							left: auto;
							width: 215px;

							li{
								max-width: 100%;

								a{
									min-height: auto;
								}
							}
						}
					}
				}
				
				> ul {
					> .item-has-submenu {
						> a{
							&::after, &::before{
								content: "";
								position: absolute;
								top: 50%;
								right: 15px;
								-webkit-transform: translate(0, -50%);
								-ms-transform: translate(0, -50%);
								-o-transform: translate(0, -50%);
								transform: translate(0, -50%);
								background-repeat: no-repeat;
								background-position: center;
								-webkit-background-size: contain;
								background-size: contain;
								width: 6px;
								height: 10px;
								transition: .3s all ease;
							}

							&::before{
								background-image: url("../img/arrow-dropdown-menu-hover.svg");
								z-index: 0;
								background-color: transparent;
							}

							&::after{
								background-image: url("../img/arrow-dropdown-menu.svg");
								z-index: 1;
								background-color: transparent;
							}
						}

						&:hover{
							a{
								&::after{
									opacity: 0;
								}
							}
						}
					}

					li:not(.item-has-submenu){
						a::before{
							content: none;
						}
					}

				}
			}
		}

		.menu-d-flex{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: center;
			align-items: center;
			justify-content: space-between;
		}
	}

}


@media (max-width: 1259px) {
	.header{
		&-top-line{

			.wrap-accent-field{
				margin: 0 40px;
			}

			.wrap-phones{
				margin-left: 37px;
			}
		}
	}
}


@media (max-width: 991px) {
	.header{
		&-top-line{
			&-content{
				height: 60px;
				padding: 12px 0;
			}

			.wrap-user-btn{
				.btn{
					padding: 8px 9px;
				}
			}

			.wrap-accent-field{
				margin: 0 30px;
			}

			.wrap-dropdown{
				max-width: 130px;

				.dropdown-top{
					padding: 4px 8px;

					.wrap-icon{
						max-width: 14px;
						margin-right: 6px;
					}

					.name{
						font-size: 11px;
    				line-height: 15px;
					}
				}
			}

			.wrap-accent-field{
				&:before{
					left: 14px;
					width: 14px;
				}

				.field{
					padding: 9px 10px 9px 34px;
				}
			}

			.wrap-phones{
				margin-left: 30px;
				font-size: 12px;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				-webkit-flex-direction: column;
				-moz-flex-direction: column;
				-ms-flex-direction: column;
				-o-flex-direction: column;
				flex-direction: column;
				justify-content: space-around;
				line-height: 14px;
			}
		}

		&-bottom-line{
			.desktop-nav{

				.list-item, .flexMenu-viewMore{
					> .dropdown-menu{
						-webkit-flex-wrap: wrap;
						-moz-flex-wrap: wrap;
						-ms-flex-wrap: wrap;
						-o-flex-wrap: wrap;
						flex-wrap: wrap;

						> li {
							max-width: calc(100% / 3);

							a{
								min-height: 85px;
							}
						}
					}
				}

				.list-item{
					> a{
						font-size: 13px;
					}
				}

				.flexMenu-viewMore{
					.flexMenu-popup{
						li{
							a {
								font-size: 14px;
							}
						}
					}
				}

			}
		}
	}
}


@media (max-width: 767px) {
	.header{
		&-top-line{
			border-bottom: 1px solid #EAEAEA;

			&-content{
				height: auto;
				-webkit-flex-wrap: wrap;
				-moz-flex-wrap: wrap;
				-ms-flex-wrap: wrap;
				-o-flex-wrap: wrap;
				flex-wrap: wrap;
				justify-content: space-between;
			}

			.wrap-user-btn, .wrap-phones{
				display: none;
			}

			.wrap-cart, .wrap-menu-btn{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				-ms-align-items: center;
				align-items: center;
			}

			.wrap-logo{
				order: 2;
				height: 27px;

				img{
					display: block;
					margin: 0 auto;
				}
			}

			.wrap-menu-btn{
				order: 1;
				width: 100%;
				max-width: 20px;
			}

			.wrap-dropdown{
				display: none;
			}

			.wrap-cart{
				order: 3;
				margin-right: 15px;

				.wrap-img{
					margin-left: auto;
					position: relative;
					max-width: 22px;
					width: 100%;

					img{
						
					}

					.product-count{
						position: absolute;
						right: -15px;
						top: -5px;
						background-color: @blue;
						border-radius: 3px;
						padding: 2px 4px;
						color: #fff;
						font-size: 10px;
						line-height: 12px;
					}
				}
			}

			.wrap-accent-field{
				order: 4;
				min-width: 100%;
				margin: 10px 0 0;
			}

			.wrap-logo{
				width: calc(100% / 3);
			}
		}

		&-bottom-line{
			display: none;
		}
	}
}


@media (max-width: 575px) {

}


