header.header

	.header-top-line
		.container
			.header-top-line-content
				.wrap-menu-btn
					button.menu-icon.icon.hamburger.hamburger--squeeze(type="button")
						span.hamburger-box
							span.hamburger-inner

				a(href="#").wrap-logo
					img(src="img/logo.png", alt="")
		
				.wrap-accent-field
					form
						input.field(type="text", placeholder="Я ищу…", maxlength="50" autocomplete="off")
						.wrap-field-btn
							button.field-btn(type="submit") Найти

				//- .wrap-user-btn
				//- 	span.btn.modal-show(data-modal-key="sing-in") Вход
				//- 	a.btn(href="#") Регистрация

				.wrap-dropdown
					.dropdown-top
						.wrap-icon.wrap-img
							img(src="img/icon-user.svg", alt="")
						span.name Егор Александрович
						.dropdown-icon
							img(src="img/arrow-dropdown-menu-hover.svg", alt="")
					.dropdown-content
						a(href="#") Мои заказы
						a(href="#") Личные данные
						a(href="#") Выйти

				.wrap-phones
					a.tel(href="tel:375297776768") +375 (29) 777 67 68
					a.tel(href="tel:375258879799") +375 (25) 887 97 99

				.wrap-cart
					.wrap-img
						img(src="img/icon-shopping-cart-black.svg", alt="")
						span.product-count 99
		
	.header-bottom-line
		.container
			nav.desktop-nav.header-bottom-line-content

				ul.nav-list
					li.list-item
						a(href="#") Акустика
						ul.dropdown-menu
							li
								a(href="#")
									.wrap-img.img-resp
										img(src="img/submenu-1.png", alt="")
									span.title Audac

							li
								a(href="#")
									.wrap-img.img-resp
										img(src="img/submenu-2.png", alt="")
									span.title Акустические системы

							li
								a(href="#")
									.wrap-img.img-resp
										img(src="img/submenu-3.png", alt="")
									span.title Микшеры

							li
								a(href="#")
									.wrap-img.img-resp
										img(src="img/submenu-4.png", alt="")
									span.title Направленный звук

							li
								a(href="#")
									.wrap-img.img-resp
										img(src="img/submenu-5.png", alt="")
									span.title Провода

							li
								a(href="#")
									.wrap-img.img-resp
										img(src="img/submenu-6.png", alt="")
									span.title Сабвуферы

							li
								a(href="#")
									.wrap-img.img-resp
										img(src="img/submenu-7.png", alt="")
									span.title Саундбары

							li
								a(href="#")
									.wrap-img.img-resp
										img(src="img/submenu-8.png", alt="")
									span.title Усилители

					li.list-item
						a(href="#") Бинокли и телескопы
						ul.dropdown-menu
							li
								a(href="#")
									.wrap-img.img-resp
										img(src="img/submenu-1.png", alt="")
									span.title Audac

							li
								a(href="#")
									.wrap-img.img-resp
										img(src="img/submenu-2.png", alt="")
									span.title Акустические системы

							li
								a(href="#")
									.wrap-img.img-resp
										img(src="img/submenu-3.png", alt="")
									span.title Микшеры

							li
								a(href="#")
									.wrap-img.img-resp
										img(src="img/submenu-4.png", alt="")
									span.title Направленный звук

							li
								a(href="#")
									.wrap-img.img-resp
										img(src="img/submenu-5.png", alt="")
									span.title Провода

							li
								a(href="#")
									.wrap-img.img-resp
										img(src="img/submenu-6.png", alt="")
									span.title Сабвуферы

							li
								a(href="#")
									.wrap-img.img-resp
										img(src="img/submenu-7.png", alt="")
									span.title Саундбары

							li
								a(href="#")
									.wrap-img.img-resp
										img(src="img/submenu-8.png", alt="")
									span.title Усилители

							li
								a(href="#")
									.wrap-img.img-resp
										img(src="img/submenu-1.png", alt="")
									span.title Audac

							li
								a(href="#")
									.wrap-img.img-resp
										img(src="img/submenu-1.png", alt="")
									span.title Audac

							li
								a(href="#")
									.wrap-img.img-resp
										img(src="img/submenu-1.png", alt="")
									span.title Audac

					li.list-item
						a(href="#") Кабели интерфейсные

					li.list-item
						a(href="#") Офисная техника
						ul.dropdown-menu
							li
								a(href="#")
									.wrap-img.img-resp
										img(src="img/submenu-1.png", alt="")
									span.title Audac

							li
								a(href="#")
									.wrap-img.img-resp
										img(src="img/submenu-4.png", alt="")
									span.title Направленный звук

							li
								a(href="#")
									.wrap-img.img-resp
										img(src="img/submenu-5.png", alt="")
									span.title Провода

							li
								a(href="#")
									.wrap-img.img-resp
										img(src="img/submenu-6.png", alt="")
									span.title Сабвуферы

							li
								a(href="#")
									.wrap-img.img-resp
										img(src="img/submenu-7.png", alt="")
									span.title Саундбары

					li.list-item
						a(href="#") Принтеры и МФУ

					li.list-item
						a(href="#") Проекционное оборудования 

					li.list-item
						a(href="#") Накопители

					li.list-item
						a(href="#") Кронштейны. Стойки. Держатели
					li.list-item
						a(href="#") Компьютеры, Ноутбуки, Комплектующие
						ul.dropdown-menu
							li
								a(href="#") Опции и аксессуары
							li
								a(href="#") Комплектующие
							li
								a(href="#") Системные блоки в две строки

					li.list-item
						a(href="#") Переферийные устройства
						ul.dropdown-menu
							li
								a(href="#") Комплектующие
							li
								a(href="#") Системные блоки в две строки
							li
								a(href="#") Комплектующие
							li
								a(href="#") Системные блоки в две строки

					li.list-item
						a(href="#") Програмное обеспечение

					li.list-item
						a(href="#") Бумага, плёнка

					li.list-item
						a(href="#") Мониторы
						ul.dropdown-menu
							li
								a(href="#") Комплектующие
							li
								a(href="#") Системные блоки в две строки
							li
								a(href="#") Опции и аксессуары
							li
								a(href="#") Комплектующие
							li
								a(href="#") Системные блоки в две строки

					li.list-item
						a(href="#") Сканеры

