.main-banner
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	color: #fff
	min-height: 100vh
	max-height: 1000px
	position: relative

	> div, &-content
		min-height: inherit

	&-content
		padding: 195px 0 75px
		display: flex
		flex-direction: column
		align-items: center
		justify-content: flex-end
		z-index: 2

	.wrap-main-text
		text-align: center
		.title
			font-family: "Ubuntu"
			display: block
			margin-bottom: 20px
			font-weight: 300

	.wrap-video
		position: relative
		margin: 65px auto 105px
		width: 750px
		
		&::before
			content: ""
			width: 100%
			padding-top: 55.3%
			display: block

		iframe
			height: 100%
			width: 100%
			display: block
			position: absolute
			top: 0
			left: 0
			right: 0

	.wrap-bottom-text
		display: flex
		align-items: center
		justify-content: space-between
		margin-left: -15px
		margin-right: -15px
		.text
			padding: 0 15px

	&-video-bg
		overflow: hidden

		&::after
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background: rgba(0,0,0,.5)
			z-index: -1

		.wrap-main-text
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)

		.video-bg
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			width: 100%
			height: auto
			z-index: -1




+media(xl)
	.main-banner
		max-height: 800px

		&-content
			padding: 180px 0 55px


+media(lg)
	.main-banner
		max-height: none

		&-content
			padding: 145px 0 40px

		.wrap-video
			width: 70%
			margin: 40px 0 50px

		.wrap-bottom-text
			flex-wrap: wrap
			br
				display: none
			.text
				font-size: 1.05rem
				line-height: 1.4rem
				width: 50%
				margin-bottom: 12px

		&-video-bg
			min-height: 500px
			.video-bg
				height: 100vh
				width: auto
				min-height: 500px
			.wrap-main-text
				top: 42%


+media(md)
	.main-banner
		.wrap-video
			width: 80%
			margin: 40px 0

		.wrap-main-text
			width: 100%

		.wrap-bottom-text
			margin: 0
			text-align: center

			.text
				width: 100%
				padding: 0
				margin-bottom: 10px
				&:last-child
					margin-bottom: 0
	

+media(sm)
	.main-banner
		&-content
			padding: 100px 0 40px

		.wrap-video
			width: 100%
			max-width: 480px
			margin: 45px auto

		.wrap-bottom-text
			.text
				line-height: 1.4rem
				font-size: .9rem

		&-video-bg
			min-height: auto
			.wrap-main-text
				transform: translate(0)
				margin-bottom: 40px
				position: static
