section.main-banner
	.main-banner-parallax
		img(src="img/bg-elements-1.svg", alt="")

	.container

		.main-banner-content
			.wrap-main-text
				span.title.h1 Организуем ваше мероприятие под ключ!

				p.subtext.h4 Корпоративы, тимбилдинг программы


			.wrap-video
				span.video-url https://www.youtube.com/watch?v=LTvFsTbyILg



			.wrap-bottom-text
				p.text.small-text Берем на себя организацию мероприятия полностью

				p.text.small-text Уникальные программы собственной разработки

				p.text.small-text Разрабатывваем индивидуальные программы

				p.text.small-text Игры на любой вкус:<br> интеллектуальные, мультимедийные,
