.pagination
	ul
		li
			a(href="#").link-prev
					img(src="img/icon-back.svg", alt="")

		li.active
			a(href="#") 1

		li
			a(href="#") 2

		li
			a(href="#") 3

		li
			a(href="#") 4

		li
			a(href="#") 5

		li
			a(href="#") 6

		li
			a(href="#") ...

		li
			a(href="#") 63

		li
			a(href="#") 64

		li
			a(href="#") 65

		li
			a(href="#").link-next
				img(src="img/icon-back.svg", alt="")





