.product-card-images .main-image:before,
.product-card-images .thumbnails-images .wrap-img:before{
	content: "";
	padding-top: 100%;
	display: block;
	width: 100%;
}

.product-card-images{
	-ms-align-items: flex-start;
	align-items: flex-start;
}

.product-card-images .thumbnails-images .wrap-img img{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.product-card-images .thumbnails-images .wrap-img{
	margin-bottom: 17px;
	position: relative;
	width: 120px;
}

.product-card-images .main-image{
	margin-left: 17px;
}

.product-card-images .main-image img{
	max-width: none;
	max-height: none;
	width: 100%;
	height: auto;
}

.product-card-images .main-image .wrap-img{
	padding: 0;
	overflow: hidden;
}

.product-card-images .thumbnails-images .wrap-img{
	overflow: hidden;
}

@media(max-width: 1200px){
	.product-card-images .thumbnails-images .wrap-img{
		width: 90px;
	}
}

@media(max-width: 991px) {
	.product-card-images .thumbnails-images{
		width: 100%;
	}

	.product-card-images .main-image{
		margin-left: 0px;
	}

	.product-card-images .thumbnails-images .wrap-img{
		max-width: 73px;
		margin-bottom: 0;
	}
}

@media(max-width: 768px) {
	.product-card-images .thumbnails-images .wrap-img{
		max-width: 55px;
	}
}

@media(max-width: 768px) {
	.product-card-images .thumbnails-images .wrap-img{
		max-width: none;
	}
}