//Mobile menu BEGIN
.menu-mobile
	.menu-mobile__inner
		.wrapper

			nav.menu-mobile__nav
				ul.menu-mobile__nav-list

					li.menu-mobile__nav-item.menu-mobile__nav-item_current
						a.menu-mobile__nav-link(href="#") Главная

					li.menu-mobile__nav-item
						a.menu-mobile__nav-link(href="#") Услуги

					li.menu-mobile__nav-item
						a.menu-mobile__nav-link(href="#") Дополнительные  услуги

					li.menu-mobile__nav-item
						a.menu-mobile__nav-link(href="#") Как подготовить макет

					li.menu-mobile__nav-item
						a.menu-mobile__nav-link(href="#") Материалы

					li.menu-mobile__nav-item
						a.menu-mobile__nav-link(href="#") Оплата и доставка

					li.menu-mobile__nav-item
						a.menu-mobile__nav-link(href="#") Новости

					li.menu-mobile__nav-item
						a.menu-mobile__nav-link(href="#") Контакты



			ul.menu-mobile__list-items
				li.menu-mobile__item
					a.menu-mobile__item-link(href="tel:+375000000000") +375 (33) <span>333-00-08</span>

				li.menu-mobile__item
					a.menu-mobile__item-link(href="tel:+375000000000") +375 (44) <span>575-50-00</span>

				li.menu-mobile__item
					a.menu-mobile__item-link(href="mailto:cuttingby@gmail.com") cuttingby@gmail.com
//Mobile menu END
