.user-data-aside
	nav
		ul
			li.cur-item
				a(href="#") Мои заказы
			li
				a(href="#") Личные данные
			li
				a(href="#") Корзина
			li
				a(href="#") Контакты

	.wrap-dropdown
		.dropdown-top
			span.cur-page Мои заказы
			.dropdown-icon
		.dropdown-content
			a(href="#") Личные данные
			a(href="#") Корзина
			a(href="#") Контакты

	a(href="#").account-out
		.wrap-icon.wrap-img
			img(src="img/arrow-dropdown-menu-hover.svg", alt="")
		| Выйти из кабинета


