.wrap-tabs
	.wrap-tabs-btn
		span.tab.cur-tab О компании
		span.tab Сервисный центр
		span.tab Учебный центр

	.wrap-tabs-content
		span.dropdown-title О компании
			<svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M1.09267 9.90012L5.89687 5.23037C5.96559 5.16366 6 5.0869 6 5.00007C6 4.91324 5.96559 4.83634 5.89687 4.76959L1.09267 0.100236C1.02385 0.0333418 0.944879 0 0.855507 0C0.766172 0 0.687092 0.033447 0.618412 0.100236L0.103092 0.601134C0.0343757 0.667923 3.52859e-05 0.744785 3.52859e-05 0.831614C3.52859e-05 0.918443 0.0343757 0.995304 0.103092 1.06209L4.15466 5.00007L0.102839 8.93819C0.0341229 9.00494 -4.76837e-07 9.08184 -4.76837e-07 9.16853C-4.76837e-07 9.2555 0.0343394 9.33236 0.102839 9.39911L0.618376 9.90008C0.687056 9.96683 0.766172 10 0.855471 10C0.944878 10 1.02396 9.96687 1.09267 9.90012Z" fill="#14AAE6"/>
			</svg>
		article.tab-content.dropdown-content.tab-content-cur
			img(src="img/about-company.jpg", alt="")
			p "ПринтЛюкс" – ведущая дистрибуторская компания, осуществляющая поставки AV, интерактивного и офисного оборудования в Республику Беларусь с 2004 года.
			p В товарном портфеле нашей компании широкий спектр современного оборудования мировых производителей для государственных учреждений, коммерческих компаний, производственных и промышленных предприятий, логистических и транспортных, телекоммуникационных и медийных, дизайнерских и рекламных компаний, для учреждений медицины и образования, для гостиниц, баров и ресторанов, торговых и выставочных центров.  
			strong Направления дистрибуции<br>
			p Проекционное оборудование.<br>Компания «ПринтЛюкс» поставляет профессиональные проекторы Epson, Panasonic для визуализации различного типа информации – презентаций, видеофильмов, графических изображений и фото, рекламных роликов и спортивных матчей, интерактивных материалов  – на большом экране для большой аудитории.<br>Благодаря проекционным экранам Classic Solution и Mechanische Weberei визуализация информации  осуществляется на высоком уровне.
			p Оборудование для печати и сканирования.<br>Среди товаров этой группы струйные и лазерные, монохромные и цветные принтеры и МФУ различных форматов для дома, для малого и среднего офиса, для печати документов и фотографий,  для больших объемов печати, ленточные принтеры для маркировки. Сканеры, позволяющие не просто сделать копию документа, но и организовать эффективный электронный документооборот на предприятии. А также широкоформатные принтеры для интерьерной, наружной, сублимационной печати, САПР и ГИС, цветопроб.
			strong Направления дистрибуции<br>
			p Проекционное оборудование.<br>Компания «ПринтЛюкс» поставляет профессиональные проекторы Epson, Panasonic для визуализации различного типа информации – презентаций, видеофильмов, графических изображений и фото, рекламных роликов и спортивных матчей, интерактивных материалов  – на большом экране для большой аудитории.<br>Благодаря проекционным экранам Classic Solution и Mechanische Weberei визуализация информации  осуществляется на высоком уровне.
			p Оборудование для печати и сканирования.<br>Среди товаров этой группы струйные и лазерные, монохромные и цветные принтеры и МФУ различных форматов для дома, для малого и среднего офиса, для печати документов и фотографий,  для больших объемов печати, ленточные принтеры для маркировки. Сканеры, позволяющие не просто сделать копию документа, но и организовать эффективный электронный документооборот на предприятии. А также широкоформатные принтеры для интерьерной, наружной, сублимационной печати, САПР и ГИС, цветопроб.

		span.dropdown-title Сервисный центр
			<svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M1.09267 9.90012L5.89687 5.23037C5.96559 5.16366 6 5.0869 6 5.00007C6 4.91324 5.96559 4.83634 5.89687 4.76959L1.09267 0.100236C1.02385 0.0333418 0.944879 0 0.855507 0C0.766172 0 0.687092 0.033447 0.618412 0.100236L0.103092 0.601134C0.0343757 0.667923 3.52859e-05 0.744785 3.52859e-05 0.831614C3.52859e-05 0.918443 0.0343757 0.995304 0.103092 1.06209L4.15466 5.00007L0.102839 8.93819C0.0341229 9.00494 -4.76837e-07 9.08184 -4.76837e-07 9.16853C-4.76837e-07 9.2555 0.0343394 9.33236 0.102839 9.39911L0.618376 9.90008C0.687056 9.96683 0.766172 10 0.855471 10C0.944878 10 1.02396 9.96687 1.09267 9.90012Z" fill="#14AAE6"/>
			</svg>
		article.tab-content.dropdown-content
			strong Направления дистрибуции<br>
			p Проекционное оборудование.<br>Компания «ПринтЛюкс» поставляет профессиональные проекторы Epson, Panasonic для визуализации различного типа информации – презентаций, видеофильмов, графических изображений и фото, рекламных роликов и спортивных матчей, интерактивных материалов  – на большом экране для большой аудитории.<br>Благодаря проекционным экранам Classic Solution и Mechanische Weberei визуализация информации  осуществляется на высоком уровне.
			p Оборудование для печати и сканирования.<br>Среди товаров этой группы струйные и лазерные, монохромные и цветные принтеры и МФУ различных форматов для дома, для малого и среднего офиса, для печати документов и фотографий,  для больших объемов печати, ленточные принтеры для маркировки. Сканеры, позволяющие не просто сделать копию документа, но и организовать эффективный электронный документооборот на предприятии. А также широкоформатные принтеры для интерьерной, наружной, сублимационной печати, САПР и ГИС, цветопроб.

		span.dropdown-title Учебный центр
			<svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M1.09267 9.90012L5.89687 5.23037C5.96559 5.16366 6 5.0869 6 5.00007C6 4.91324 5.96559 4.83634 5.89687 4.76959L1.09267 0.100236C1.02385 0.0333418 0.944879 0 0.855507 0C0.766172 0 0.687092 0.033447 0.618412 0.100236L0.103092 0.601134C0.0343757 0.667923 3.52859e-05 0.744785 3.52859e-05 0.831614C3.52859e-05 0.918443 0.0343757 0.995304 0.103092 1.06209L4.15466 5.00007L0.102839 8.93819C0.0341229 9.00494 -4.76837e-07 9.08184 -4.76837e-07 9.16853C-4.76837e-07 9.2555 0.0343394 9.33236 0.102839 9.39911L0.618376 9.90008C0.687056 9.96683 0.766172 10 0.855471 10C0.944878 10 1.02396 9.96687 1.09267 9.90012Z" fill="#14AAE6"/>
			</svg>
		article.tab-content.dropdown-content
			img(src="img/about-company-2.jpg", alt="")
			p "ПринтЛюкс" – ведущая дистрибуторская компания, осуществляющая поставки AV, интерактивного и офисного оборудования в Республику Беларусь с 2004 года.
			p В товарном портфеле нашей компании широкий спектр современного оборудования мировых производителей для государственных учреждений, коммерческих компаний, производственных и промышленных предприятий, логистических и транспортных, телекоммуникационных и медийных, дизайнерских и рекламных компаний, для учреждений медицины и образования, для гостиниц, баров и ресторанов, торговых и выставочных центров.  
			strong Направления дистрибуции<br>
			p Проекционное оборудование.<br>Компания «ПринтЛюкс» поставляет профессиональные проекторы Epson, Panasonic для визуализации различного типа информации – презентаций, видеофильмов, графических изображений и фото, рекламных роликов и спортивных матчей, интерактивных материалов  – на большом экране для большой аудитории.<br>Благодаря проекционным экранам Classic Solution и Mechanische Weberei визуализация информации  осуществляется на высоком уровне.
			p Оборудование для печати и сканирования.<br>Среди товаров этой группы струйные и лазерные, монохромные и цветные принтеры и МФУ различных форматов для дома, для малого и среднего офиса, для печати документов и фотографий,  для больших объемов печати, ленточные принтеры для маркировки. Сканеры, позволяющие не просто сделать копию документа, но и организовать эффективный электронный документооборот на предприятии. А также широкоформатные принтеры для интерьерной, наружной, сублимационной печати, САПР и ГИС, цветопроб.
			strong Направления дистрибуции<br>
			p Проекционное оборудование.<br>Компания «ПринтЛюкс» поставляет профессиональные проекторы Epson, Panasonic для визуализации различного типа информации – презентаций, видеофильмов, графических изображений и фото, рекламных роликов и спортивных матчей, интерактивных материалов  – на большом экране для большой аудитории.<br>Благодаря проекционным экранам Classic Solution и Mechanische Weberei визуализация информации  осуществляется на высоком уровне.
			p Оборудование для печати и сканирования.<br>Среди товаров этой группы струйные и лазерные, монохромные и цветные принтеры и МФУ различных форматов для дома, для малого и среднего офиса, для печати документов и фотографий,  для больших объемов печати, ленточные принтеры для маркировки. Сканеры, позволяющие не просто сделать копию документа, но и организовать эффективный электронный документооборот на предприятии. А также широкоформатные принтеры для интерьерной, наружной, сублимационной печати, САПР и ГИС, цветопроб.
			p В товарном портфеле нашей компании широкий спектр современного оборудования мировых производителей для государственных учреждений, коммерческих компаний, производственных и промышленных предприятий, логистических и транспортных, телекоммуникационных и медийных, дизайнерских и рекламных компаний, для учреждений медицины и образования, для гостиниц, баров и ресторанов, торговых и выставочных центров.

