@import "../common/vars";

.rates{

	&-content{
		.wrap-title{
			margin-bottom: 37px;
			.title{
				color: #fff;
			}
		}
	}

	.wrap-table{
		&:first-child{
			.wrap-title{
				margin-bottom: 45px;
			}
		}

		&:last-child{
			margin-top: 53px;
		}
	}

	.subtext-under-recommend-rates{
		margin-top: 12px;
		text-align: center;

		span{
			display: block;
			color: #fff;
			font-size: 12px;
			line-height: 20px;
		}

		.price{
			font-weight: 600;
		}
	}

}
@media (max-width: 1400px) {

}


@media (max-width: 1200px) {

}


@media (max-width: 992px) {

}


@media (max-width: 768px) {

}


@media (max-width: 576px) {
	.rates{
		.container{
			padding: 0;
		}
	}

	.rates .subtext-under-recommend-rates span{
		font-size: 11px;
		line-height: 16px;
	}

	.rates .wrap-table:last-child{
		margin-top: 40px;

		.wrap-title{
			margin-bottom: 0;
		}
	}

	.rates .wrap-table:first-child .wrap-title{
		margin-bottom: 20px;
	}
}






