@import "../common/vars";


.sheme-technical-work{
	background-color: rgba(15,99,225, .9);
	padding-bottom: 80px;

	&-content{
		.wrap-title{
			margin-bottom: 100px;

			.title{
				color: #fff;
			}
		}
	}

	.wrap-sheme{
		.sheme{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: stretch;
			align-items: stretch;

			justify-content: center;
		}

		.cell{
			border-radius: 3px;
			border: 2px solid @yellow;
			padding: 10px;
			position: relative;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: center;
			align-items: center;
			justify-content: center;

			.text{
				display: block;
				color: #fff;
				font-weight: 600;
			}
		}
	}

	.wrap-cells{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		-ms-align-items: stretch;
		align-items: stretch;
		justify-content: flex-end;
		text-align: center;
		width: 75%;

		.cell{
			margin-right: 42px;
			margin-bottom: 42px;
			flex-basis: 200px;
			min-height: 80px;
		}

		.cell-arrow-left{
			&:before{
				content: "";
				position: absolute;
				top: 50%;
				right: 0;
				transform: translate(calc(100% + 2px), -50%);
				width: 42px;
				height: 12px;
				background-image: url("../img/arrow-yellow.svg");
				background-repeat: no-repeat;
				background-position: center;
				-webkit-background-size: cover;
				background-size: cover;
			}
		}

		.cell-arrow-bottom{
			&:after{
				content: "";
				position: absolute;
				bottom: calc(-50% + 9px);
				left: 50%;
				transform: translate(-50%, 0) rotate(90deg);
				width: 44px;
				height: 12px;
				background-image: url("../img/arrow-yellow.svg");
				background-repeat: no-repeat;
				background-position: center;
				-webkit-background-size: cover;
				background-size: cover;
			}
		}

		.line-descr{
			&:after{
				content: "";
				position: absolute;
				left: calc(100% + 20px);
				background: url("../img/line-descr.svg") no-repeat center;
				width: 3px;
				height: 47px;
				-webkit-background-size: cover;
				background-size: cover;
			}
		}

		.line-descr-top{
			&:after{
				top: -12px;
			}
		}

		.line-descr-bottom{
			&:after{
				bottom: -12px;
			}
		}

		.text-out{
			color: #fff;
			position: absolute;
			left: 100%;
			display: block;
			transform: translate(calc(-50% + 21px), 0);
			width: 130%;
			font-size: 14px;
			line-height: 20px;
			font-weight: 600;

			&-bottom-left{
				top: calc(100% + 22px);
				&:before{
					bottom: calc(100% + 16px)
				}
			}

			&-top-left{
				bottom: calc(100% + 22px);
				&:before{
					top: calc(100% + 16px)
				}
			}

			&-top-center{
				left: 50%;
				-webkit-transform: translate(-50%, 0);
				-moz-transform: translate(-50%, 0);
				-ms-transform: translate(-50%, 0);
				-o-transform: translate(-50%, 0);
				transform: translate(-50%, 0);
				bottom: calc(100% + 22px);
				&:before{
					display: none;
				}
			}
		}
	}

	.wrap-resalt-cell{
		.cell{
			width: 200px;
			min-height: 200px;
			-webkit-flex-direction: column;
			-moz-flex-direction: column;
			-ms-flex-direction: column;
			-o-flex-direction: column;
			flex-direction: column;
			justify-content: flex-start;
		}

		.wrap-icon{
			width: 68px;
			height: 68px;
			border-radius: 50%;
			border: 2px solid #fff;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: center;
			align-items: center;
			justify-content: center;
			margin-bottom: 28px;
			margin-top: 42px;
		}
	}

}



@media (max-width: 1400px) {
	.sheme-technical-work .wrap-cells{
		width: 64%;

		.cell{
			flex-basis: 150px;
			margin-right: 25px;
			margin-bottom: 25px;
			min-height: 60px;

			.text{
				font-size: 12px;
				line-height: 15px;
			}
		}

		.line-descr:after{
			left: calc(100% + 13px);
			bottom: -16px;
		}	
	}

	.sheme-technical-work .wrap-cells .line-descr-top:after{
		top: -16px;
	}

	.sheme-technical-work .wrap-cells .text-out{
		br{
			display: none;
		}
	}
	
	.sheme-technical-work .wrap-cells .cell-arrow-bottom:after{
		bottom: calc(-50% + 18px);
	}

	.sheme-technical-work .wrap-cells .cell-arrow-bottom:after, .sheme-technical-work .wrap-cells .cell-arrow-left:before{
		height: 8px;
		width: 25px;
	}
}


@media (max-width: 1200px) {
	.sheme-technical-work .wrap-cells{
		width: 76%;
	}

	.sheme-technical-work .wrap-cells .cell-arrow-bottom:after, .sheme-technical-work .wrap-cells .cell-arrow-left:before{
		height: 7px;
		width: 20px;
	}
}


@media (max-width: 992px) {
	.sheme-technical-work{
		padding: 50px 0 0;

		.wrap-sheme{
			padding-top: 80px;
			padding-bottom: 70px;
		}

		.wrap-cells{
			width: 100%;

			.text-out{
				font-size: 12px;
				line-height: 15px;
			}

			.cell{
				flex-basis: 110px;
				margin-right: 20px;
				margin-bottom: 20px;
				min-height: 40px;

				&:nth-last-child(-n+2) {
					margin-bottom: 0;
				}

				.text{
					font-size: 10px;
					line-height: 12px;
				}
			}

		}

		.wrap-resalt-cell{
			.wrap-icon{
				width: 55px;
				margin-top: 25px;
				margin-bottom: 20px;
				height: 55px;
			}
		}

	}

	.sheme-technical-work .wrap-cells .line-descr:after{
		left: calc(100% + 11px)
	}

	.sheme-technical-work .wrap-cells .cell-arrow-bottom:after{
		bottom: calc(-50% + 31px);
	}

}


@media (max-width: 768px) {
	.sheme-technical-work{
		
		.sheme-technical-work-content{
			
		}

		.wrap-sheme{
			overflow-x: auto;
		}

		.sheme{
			min-width: 725px;
		}
	}

	.sheme-technical-work .wrap-cells .text-out{
		transform: translate(calc(-50% + 15px));
	}
}


@media (max-width: 576px) {
	.sheme-technical-work{
		.container{
			padding: 0;

			.sheme{
				min-width: 735px;
				padding-left: 15px;
			}
		}
	}
}







