.wrap-article-slider

	.article-slider
		.slider-item
			img(src="img/slider-img-1.jpg", alt="")
		.slider-item
			img(src="img/slider-img-1.jpg", alt="")
		.slider-item
			img(src="img/slider-img-1.jpg", alt="")
		.slider-item
			img(src="img/slider-img-1.jpg", alt="")
		.slider-item
			img(src="img/slider-img-1.jpg", alt="")

	.wrap-slider-arrows

	.wrap-slider-numbers.text-fw-black.text-small.letter-spacing-1-4
		span.cur-slider-pos
		span.delimiter /
		span.slider-item-length


