.page-404
	.top-line-page.top-line-404-page
		img.bg-orange(src="img/bg-orange-2.png", alt="")
		img.bg-orange.bg-orange-sm(src="img/bg-orange-2-sm.png", alt="")

		.container
			span.title Ошибка
	
	.page-404-content
		.container
			span.accent-text Такой старницы не существует
			span.subtext Попробуйте начать с <a href="index.html">Главной страницы</a>

	footer.footer
		img.footer-bg.footer-bg-desktop(src="img/footer-bg-desktop.png", alt="")
		img.footer-bg.footer-bg-mobile(src="img/footer-bg-mobile.png", alt="")

		.footer-content
			.container
				.footer-bottom.row.no-gutters
					span.copyright © Ferrero 2019 − All rights reserved

					.footer-bottom-text
						a(href="#", target="_blank") Правила участия
						a(href="#", target="_blank") Обратная связь
						a(href="#", target="_blank") Политика в отношении обработки персональных данных
					
