section.products-tabs
	.container
		.products-tabs-content

			.wrap-tabs-btn
				span.tab.cur-tab Акции
				span.tab Новинки
				span.tab Все


			.wrap-tabs-content

				.tab-content.tab-content-cur.index-product-slider.swiper-container
					.wrap-products-cards.wrap-products-cards-index.swiper-wrapper

						.wrap-card.swiper-slide
							.card
								a(href="#").wrap-img-product
									img(src="img/product-3.png", alt="")
								a(href="#").title Многофункциональное<br>устройство Epson WorkForce 
								span.old-price 270,20 руб.
								span.wrap-cur-price
									span.cur-price 250,00 руб.
									span.save-prise Экономия 2,99
								.wrap-actions
									.action.action-set
										.icon.icon-set
											include ../../../img/icon-heart.svg
									.action.action-compare
										.icon.icon-compare
											include ../../../img/icon-diagram.svg

									span.btn-product.btn-white 
										span.text-before-add В корзину
										span.text-after-add В корзине

						.wrap-card.swiper-slide.bonus-new
							.card
								a(href="#").wrap-img-product
									img(src="img/product-2.png", alt="")
								a(href="#").title Смартфон Samsung<br>Galaxy S8 (мистический аметист) 
								span.old-price 270,20 руб.
								span.wrap-cur-price
									span.cur-price 325,00 руб.
									span.save-prise Экономия 2,99
								.wrap-actions
									.action.action-set
										.icon.icon-set
											include ../../../img/icon-heart.svg
									.action.action-compare
										.icon.icon-compare
											include ../../../img/icon-diagram.svg
									span.btn-product.btn-white 
										span.text-before-add В корзину
										span.text-after-add В корзине

						.wrap-card.swiper-slide.bonus-action
							.card
								a(href="#").wrap-img-product
									img(src="img/product-1.png", alt="")
								a(href="#").title Многофункциональное<br>устройство Epson WorkForce 
								span.wrap-cur-price
									span.cur-price 250,00 руб.
								.wrap-actions
									.action.action-set.btn-action-active
										.icon.icon-set
											include ../../../img/icon-heart.svg
									.action.action-compare.btn-action-active
										.icon.icon-compare
											include ../../../img/icon-diagram.svg
									span.btn-product.add-to-cart.btn-white 
										span.text-before-add В корзину
										span.text-after-add В корзине

						.wrap-card.swiper-slide.bonus-full
							.card
								a(href="#").wrap-img-product
									img(src="img/product-3.png", alt="")
								a(href="#").title Многофункциональное<br>устройство Epson WorkForce 
								span.wrap-cur-price
									span.cur-price 250,00 руб.
								.wrap-actions
									.action.action-set
										.icon.icon-set
											include ../../../img/icon-heart.svg
									.action.action-compare
										.icon.icon-compare
											include ../../../img/icon-diagram.svg
									span.btn-product.btn-white 
										span.text-before-add В корзину
										span.text-after-add В корзине

						.wrap-card.swiper-slide.bonus-full
							.card
								a(href="#").wrap-img-product
									img(src="img/product-4.png", alt="")
								a(href="#").title Сабвуфер JBL CS1214T
								span.wrap-cur-price
									span.cur-price 115,35 руб.
								.wrap-actions
									.action.action-set
										.icon.icon-set
											include ../../../img/icon-heart.svg
									.action.action-compare
										.icon.icon-compare
											include ../../../img/icon-diagram.svg
									span.btn-product.btn-white 
										span.text-before-add В корзину
										span.text-after-add В корзине

						.wrap-card.swiper-slide
							.card
								a(href="#").wrap-img-product
									img(src="img/product-1.png", alt="")
								a(href="#").title Многофункциональное<br>устройство Epson WorkForce 
								span.old-price 270,20 руб.
								span.wrap-cur-price
									span.cur-price 250,00 руб.
									span.save-prise Экономия 2,99
								.wrap-actions
									.action.action-set.btn-action-active
										.icon.icon-set
											include ../../../img/icon-heart.svg
									.action.action-compare
										.icon.icon-compare
											include ../../../img/icon-diagram.svg
									span.btn-product.add-to-cart.btn-white 
										span.text-before-add В корзину
										span.text-after-add В корзине

						.wrap-card.swiper-slide
							.card
								a(href="#").wrap-img-product
									img(src="img/product-3.png", alt="")
								a(href="#").title Многофункциональное<br>устройство Epson WorkForce 
								span.old-price 270,20 руб.
								span.wrap-cur-price
									span.cur-price 250,00 руб.
									span.save-prise Экономия 2,99
								.wrap-actions
									.action.action-set
										.icon.icon-set
											include ../../../img/icon-heart.svg
									.action.action-compare
										.icon.icon-compare
											include ../../../img/icon-diagram.svg
									span.btn-product.btn-white 
										span.text-before-add В корзину
										span.text-after-add В корзине

					.btn-load-more
						.wrap-icon
							include ../../../img/icon-reload.svg
						span.text Показать еще


				.tab-content.index-product-slider.swiper-container
					.wrap-products-cards.wrap-products-cards-index.swiper-wrapper

						.wrap-card.swiper-slide.bonus-full
							.card
								a(href="#").wrap-img-product
									img(src="img/product-3.png", alt="")
								a(href="#").title Многофункциональное<br>устройство Epson WorkForce 
								span.wrap-cur-price
									span.cur-price 250,00 руб.
								.wrap-actions
									.action.action-set
										.icon.icon-set
											include ../../../img/icon-heart.svg
									.action.action-compare
										.icon.icon-compare
											include ../../../img/icon-diagram.svg
									span.btn-product.btn-white 
										span.text-before-add В корзину
										span.text-after-add В корзине

						.wrap-card.swiper-slide.bonus-full
							.card
								a(href="#").wrap-img-product
									img(src="img/product-4.png", alt="")
								a(href="#").title Сабвуфер JBL CS1214T
								span.wrap-cur-price
									span.cur-price 115,35 руб.
								.wrap-actions
									.action.action-set
										.icon.icon-set
											include ../../../img/icon-heart.svg
									.action.action-compare
										.icon.icon-compare
											include ../../../img/icon-diagram.svg
									span.btn-product.add-to-cart.btn-white 
										span.text-before-add В корзину
										span.text-after-add В корзине

						.wrap-card.swiper-slide
							.card
								a(href="#").wrap-img-product
									img(src="img/product-3.png", alt="")
								a(href="#").title Многофункциональное<br>устройство Epson WorkForce 
								span.old-price 270,20 руб.
								span.wrap-cur-price
									span.cur-price 250,00 руб.
									span.save-prise Экономия 2,99
								.wrap-actions
									.action.action-set
										.icon.icon-set
											include ../../../img/icon-heart.svg
									.action.action-compare
										.icon.icon-compare
											include ../../../img/icon-diagram.svg

									span.btn-product.btn-white 
										span.text-before-add В корзину
										span.text-after-add В корзине

						.wrap-card.swiper-slide
							.card
								a(href="#").wrap-img-product
									img(src="img/product-1.png", alt="")
								a(href="#").title Многофункциональное<br>устройство Epson WorkForce 
								span.old-price 270,20 руб.
								span.wrap-cur-price
									span.cur-price 250,00 руб.
									span.save-prise Экономия 2,99
								.wrap-actions
									.action.action-set.btn-action-active
										.icon.icon-set
											include ../../../img/icon-heart.svg
									.action.action-compare.btn-action-active
										.icon.icon-compare
											include ../../../img/icon-diagram.svg
									span.btn-product.add-to-cart.btn-white 
										span.text-before-add В корзину
										span.text-after-add В корзине

						.wrap-card.swiper-slide
							.card
								a(href="#").wrap-img-product
									img(src="img/product-3.png", alt="")
								a(href="#").title Многофункциональное<br>устройство Epson WorkForce 
								span.old-price 270,20 руб.
								span.wrap-cur-price
									span.cur-price 250,00 руб.
									span.save-prise Экономия 2,99
								.wrap-actions
									.action.action-set
										.icon.icon-set
											include ../../../img/icon-heart.svg
									.action.action-compare
										.icon.icon-compare
											include ../../../img/icon-diagram.svg
									span.btn-product.btn-white 
										span.text-before-add В корзину
										span.text-after-add В корзине

						.wrap-card.swiper-slide.bonus-new
							.card
								a(href="#").wrap-img-product
									img(src="img/product-2.png", alt="")
								a(href="#").title Смартфон Samsung<br>Galaxy S8 (мистический аметист) 
								span.old-price 270,20 руб.
								span.wrap-cur-price
									span.cur-price 325,00 руб.
									span.save-prise Экономия 2,99
								.wrap-actions
									.action.action-set
										.icon.icon-set
											include ../../../img/icon-heart.svg
									.action.action-compare
										.icon.icon-compare
											include ../../../img/icon-diagram.svg
									span.btn-product.btn-white 
										span.text-before-add В корзину
										span.text-after-add В корзине

						.wrap-card.swiper-slide.bonus-action
							.card
								a(href="#").wrap-img-product
									img(src="img/product-1.png", alt="")
								a(href="#").title Многофункциональное<br>устройство Epson WorkForce 
								span.wrap-cur-price
									span.cur-price 250,00 руб.
								.wrap-actions
									.action.action-set.btn-action-active
										.icon.icon-set
											include ../../../img/icon-heart.svg
									.action.action-compare
										.icon.icon-compare
											include ../../../img/icon-diagram.svg
									span.btn-product.add-to-cart.btn-white 
										span.text-before-add В корзину
										span.text-after-add В корзине

						.wrap-card.swiper-slide.bonus-full
							.card
								a(href="#").wrap-img-product
									img(src="img/product-1.png", alt="")
								a(href="#").title Многофункциональное<br>устройство Epson WorkForce 
								span.wrap-cur-price
									span.cur-price 250,00 руб.
								.wrap-actions
									.action.action-set
										.icon.icon-set
											include ../../../img/icon-heart.svg
									.action.action-compare
										.icon.icon-compare
											include ../../../img/icon-diagram.svg
									span.btn-product.btn-white 
										span.text-before-add В корзину
										span.text-after-add В корзине
					
					.btn-load-more
						.wrap-icon
							include ../../../img/icon-reload.svg
						span.text Показать еще


				.tab-content.index-product-slider.swiper-container
					.wrap-products-cards.wrap-products-cards-index.swiper-wrapper

						.wrap-card.swiper-slide
							.card
								a(href="#").wrap-img-product
									img(src="img/product-3.png", alt="")
								a(href="#").title Многофункциональное<br>устройство Epson WorkForce 
								span.old-price 270,20 руб.
								span.wrap-cur-price
									span.cur-price 250,00 руб.
									span.save-prise Экономия 2,99
								.wrap-actions
									.action.action-set
										.icon.icon-set
											include ../../../img/icon-heart.svg
									.action.action-compare
										.icon.icon-compare
											include ../../../img/icon-diagram.svg

									span.btn-product.add-to-cart.btn-white 
										span.text-before-add В корзину
										span.text-after-add В корзине

						.wrap-card.swiper-slide.bonus-full
							.card
								a(href="#").wrap-img-product
									img(src="img/product-4.png", alt="")
								a(href="#").title Сабвуфер JBL CS1214T
								span.wrap-cur-price
									span.cur-price 115,35 руб.
								.wrap-actions
									.action.action-set.btn-action-active
										.icon.icon-set
											include ../../../img/icon-heart.svg
									.action.action-compare
										.icon.icon-compare
											include ../../../img/icon-diagram.svg
									span.btn-product.btn-white 
										span.text-before-add В корзину
										span.text-after-add В корзине

						.wrap-card.swiper-slide
							.card
								a(href="#").wrap-img-product
									img(src="img/product-1.png", alt="")
								a(href="#").title Многофункциональное<br>устройство Epson WorkForce 
								span.old-price 270,20 руб.
								span.wrap-cur-price
									span.cur-price 250,00 руб.
									span.save-prise Экономия 2,99
								.wrap-actions
									.action.action-set
										.icon.icon-set
											include ../../../img/icon-heart.svg
									.action.action-compare
										.icon.icon-compare
											include ../../../img/icon-diagram.svg
									span.btn-product.btn-white 
										span.text-before-add В корзину
										span.text-after-add В корзине

						.wrap-card.swiper-slide
							.card
								a(href="#").wrap-img-product
									img(src="img/product-3.png", alt="")
								a(href="#").title Многофункциональное<br>устройство Epson WorkForce 
								span.old-price 270,20 руб.
								span.wrap-cur-price
									span.cur-price 250,00 руб.
									span.save-prise Экономия 2,99
								.wrap-actions
									.action.action-set.btn-action-active
										.icon.icon-set
											include ../../../img/icon-heart.svg
									.action.action-compare.btn-action-active
										.icon.icon-compare
											include ../../../img/icon-diagram.svg
									span.btn-product.btn-white 
										span.text-before-add В корзину
										span.text-after-add В корзине

						.wrap-card.swiper-slide.bonus-full
							.card
								a(href="#").wrap-img-product
									img(src="img/product-1.png", alt="")
								a(href="#").title Многофункциональное<br>устройство Epson WorkForce 
								span.wrap-cur-price
									span.cur-price 250,00 руб.
								.wrap-actions
									.action.action-set
										.icon.icon-set
											include ../../../img/icon-heart.svg
									.action.action-compare
										.icon.icon-compare
											include ../../../img/icon-diagram.svg
									span.btn-product.add-to-cart.btn-white 
										span.text-before-add В корзину
										span.text-after-add В корзине











