//Leave feedback BEGIN
.leave-feedback.sec.sec_simple-slider(role="region")

  .leave-feedback__wrap-titles.sec__wrap-titles
    span.sec__title.title-1 <em>оставьте</em> отзыв

  .wrapper
    .leave-feedback__inner
      button.btn.leave-feedback__btn.btn-popup(data-popup-key="popup-leave")
        img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
        img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
        span.btn__text Разместить<br> отзыв

      button.btn.leave-feedback__btn.btn-popup(data-popup-key="popup-to-head")
        img.card__btn-img(src="img/bg-btn.png" alt="" aria-hidden="true")
        img.card__btn-img.card__btn-img_hover(src="img/bg-btn-hover.png" alt="" aria-hidden="true")
        span.btn__text Написать<br> руководителю
//Leave feedback BEGIN
