@font-face {
  font-family: "ProximaNovaRegular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ProximaNovaSemibold";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "ProximaNovaBold";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/ProximaNova-Bold/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "IBMPlexSansBold";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/IBMPlexSans-Bold/IBMPlexSans-Bold.eot");
  src: url("../fonts/IBMPlexSans-Bold/IBMPlexSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/IBMPlexSans-Bold/IBMPlexSans-Bold.woff") format("woff"), url("../fonts/IBMPlexSans-Bold/IBMPlexSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "IBMPlexSansMedium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/IBMPlexSans-Medium/IBMPlexSans-Medium.eot");
  src: url("../fonts/IBMPlexSans-Medium/IBMPlexSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/IBMPlexSans-Medium/IBMPlexSans-Medium.woff") format("woff"), url("../fonts/IBMPlexSans-Medium/IBMPlexSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "IBMPlexSansRegular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/IBMPlexSans-Regular/IBMPlexSans-Regular.eot");
  src: url("../fonts/IBMPlexSans-Regular/IBMPlexSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/IBMPlexSans-Regular/IBMPlexSans-Regular.woff") format("woff"), url("../fonts/IBMPlexSans-Regular/IBMPlexSans-Regular.ttf") format("truetype");
}

.custom-page {
  font-size: 16px;
  font-family: IBMPlexSansRegular;
}

.custom-page .wrap-custom-list li {
  list-style: none;
  padding-left: 20px;
  line-height: 1.4em;
  position: relative;
}

.custom-page .wrap-custom-list li:before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
  width: 10px;
  height: 1px;
  background-color: #e52413;
}

.custom-page p,
.custom-page figure {
  margin: 0;
}

.custom-page input {
  outline: none;
}

.custom-page .btn {
  font-size: 1.125em;
  line-height: 1.3em;
  font-family: IBMPlexSansBold;
  color: #fff;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
  cursor: pointer;
}

.custom-page .img-responsive img {
  display: block;
  width: 100%;
  height: auto;
}

.custom-page mark {
  background-color: transparent;
}

.custom-page .btn-accent,
.custom-page .btn-blue {
  display: inline-block;
  padding: 20px 25px;
  width: 100%;
  text-align: center;
}

.custom-page .btn-accent {
  background-color: #e52413;
}

.custom-page .btn-accent:hover {
  background-color: #cd2011;
}

.custom-page .btn-blue {
  background-color: #025692;
}

.custom-page .btn-blue:hover {
  background-color: #024779;
}

.custom-page .sec-gray {
  background-color: #F4F7F9;
}

.custom-page .sec-title {
  display: block;
  font-size: 2.25em;
  line-height: 1.3em;
  margin-bottom: 40px;
  font-family: IBMPlexSansBold;
}

.custom-page .sec-title__small {
  font-family: IBMPlexSansRegular;
  margin-bottom: 60px;
  font-size: 1.625em;
}

.custom-page .sec-products_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.custom-page .sec-products_wrap-product {
  width: 100%;
  max-width: -webkit-calc(100% / 3);
  max-width: calc(100% / 3);
  padding: 0 15px 30px;
}

.custom-page .sec-products_product {
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.custom-page .sec-callback {
  margin: 130px 0;
}

.custom-page .sec-callback_content {
  border: 4px solid #F6F6F6;
  padding: 55px 65px;
  background: url("../img/patteren-decor.png") no-repeat right center;
  -webkit-background-size: contain;
  background-size: contain;
}

.custom-page .sec-callback_title {
  display: block;
  color: #025692;
  font-family: IBMPlexSansBold;
  font-size: 1.5em;
  line-height: 1.8em;
  margin-bottom: 5px;
}

.custom-page .sec-callback_subtitle {
  line-height: 1.4em;
}

.custom-page .sec-callback_form {
  margin-top: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.custom-page .sec-callback_form-field {
  width: 100%;
  display: block;
  max-width: 235px;
  height: 50px;
  margin-right: 10px;
  font-size: .875em;
  color: #a7a7a7;
}

.custom-page .sec-callback_form-field::-webkit-input-placeholder {
  -webkit-transition: .2s all ease;
  -o-transition: .2s all ease;
  transition: .2s all ease;
  color: inherit;
  font-size: inherit;
}

.custom-page .sec-callback_form-field::-moz-placeholder {
  -webkit-transition: .2s all ease;
  -o-transition: .2s all ease;
  transition: .2s all ease;
  color: inherit;
  font-size: inherit;
}

.custom-page .sec-callback_form-field:-ms-input-placeholder {
  -webkit-transition: .2s all ease;
  -o-transition: .2s all ease;
  transition: .2s all ease;
  color: inherit;
  font-size: inherit;
}

.custom-page .sec-callback_form-field::-ms-input-placeholder {
  -webkit-transition: .2s all ease;
  -o-transition: .2s all ease;
  transition: .2s all ease;
  color: inherit;
  font-size: inherit;
}

.custom-page .sec-callback_form-field::placeholder {
  -webkit-transition: .2s all ease;
  -o-transition: .2s all ease;
  transition: .2s all ease;
  color: inherit;
  font-size: inherit;
}

.custom-page .sec-callback_form-field:focus::-webkit-input-placeholder {
  opacity: 0;
}

.custom-page .sec-callback_form-field:focus::-moz-placeholder {
  opacity: 0;
}

.custom-page .sec-callback_form-field:focus:-ms-input-placeholder {
  opacity: 0;
}

.custom-page .sec-callback_form-field:focus::-ms-input-placeholder {
  opacity: 0;
}

.custom-page .sec-callback_form-field:focus::placeholder {
  opacity: 0;
}

.custom-page .sec-callback_form-btn {
  margin-top: 0;
  margin-left: auto;
  max-width: 250px;
  padding: 5px 10px;
  height: 50px;
  text-transform: capitalize;
}

.custom-page .video-preview {
  max-width: 275px;
  display: block;
  margin-left: auto;
  margin-bottom: 20px;
  position: relative;
}

.custom-page .video-preview:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
  opacity: 0;
}

.custom-page .video-preview:hover:before {
  opacity: 1;
}

.custom-page .video-preview_icon-play {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #e52413;
  z-index: 2;
}

.custom-page .video-preview_icon-play:before {
  content: "";
  position: inherit;
  top: inherit;
  left: -webkit-calc(50% + 8px);
  left: calc(50% + 8px);
  -webkit-transform: translate(-50%, -50%) scale(1, 0.8);
  -ms-transform: translate(-50%, -50%) scale(1, 0.8);
  transform: translate(-50%, -50%) scale(1, 0.8);
  border: 12px solid transparent;
  border-left-color: #fff;
}

.custom-page .video-preview img {
  width: 100%;
}

.banner {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 745px;
  padding: 110px 0 215px;
}

.banner-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.banner-content_right-text {
  font-size: .875em;
  line-height: 1.5em;
  color: #fff;
  font-family: IBMPlexSansBold;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.banner-content_right-text-decor {
  width: 40px;
  margin: 0 0 0 15px;
}

.banner-row-btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 80px;
}

.banner-row-btns .btn-accent {
  max-width: 270px;
  margin-right: 55px;
}

.banner-row-btns .btn-calc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.banner-row-btns .btn-calc_icon {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #025692;
  margin-right: 15px;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.banner-row-btns .btn-calc_icon img {
  width: 55%;
  height: auto;
  display: block;
}

.banner-row-btns .btn-calc:hover .btn-calc_icon {
  background-color: #024779;
}

.banner-title,
.banner-subtitle {
  display: block;
  color: #fff;
}

.banner-title {
  font-size: 3.875em;
  line-height: 1.1em;
  margin-bottom: 20px;
  font-family: IBMPlexSansBold;
}

.banner-subtitle {
  font-size: 1.125em;
  line-height: 1.7em;
  font-family: IBMPlexSansRegular;
}

.banner-under-items {
  padding: 0 0 30px;
}

.banner-under-items .wrap {
  overflow: visible;
}

.banner-under-items_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fff;
  padding: 45px 70px;
  -webkit-transform: translate(0, -70px);
  -ms-transform: translate(0, -70px);
  transform: translate(0, -70px);
}

.banner-under-items_icon {
  max-width: 55px;
  height: 55px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 15px;
}

.banner-under-items_icon img {
  max-width: 55px;
  max-height: 55px;
}

.banner-under-items_text {
  font-family: IBMPlexSansRegular;
  line-height: 1.3em;
}

.sec-products-top {
  padding-bottom: 55px;
}

.sec-products-top .sec-title {
  margin-bottom: 30px;
}

.sec-products-top .sec-products-top_product-img {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sec-products-top .sec-products-top_product-img img {
  max-width: 100%;
  max-height: 100%;
}

.sec-products-top_product {
  padding: 30px 40px 40px;
}

.sec-products-top_title,
.sec-products-top_product-sizes-title,
.sec-products-top_product-sizes-list {
  display: block;
}

.sec-products-top_product-title {
  color: #000;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
  font-size: 1.315em;
  line-height: 1.2em;
  margin-bottom: 15px;
  font-family: IBMPlexSansBold;
}

.sec-products-top_product-title:hover {
  color: #025692;
}

.sec-products-top_product-description {
  margin-bottom: auto;
  font-size: .875em;
  line-height: 1.3em;
  font-family: IBMPlexSansRegular;
}

.sec-products-top_product-sizes-title {
  display: block;
  display: block;
  font-size: .875em;
  line-height: 1.3em;
  font-family: IBMPlexSansBold;
  margin-top: 20px;
  margin-bottom: 12px;
}

.sec-products-top_product-sizes-list {
  list-style: none;
  font-size: .875em;
}

.sec-products-top_product-sizes-item {
  margin-bottom: 4px;
}

.sec-products-top_product-sizes-item:last-child {
  margin-bottom: 0;
}

.product-calc {
  padding: 120px 0 0;
}

.product-calc_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.product-calc_content-img,
.product-calc_content-info {
  width: 100%;
  max-width: 100%;
}

.product-calc_content-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-right: 40px;
}

.product-calc_content-img img {
  max-width: 100%;
  max-height: 100%;
}

.product-calc_content-wrap-select-input {
  position: relative;
  max-width: 225px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.product-calc_content-select-title {
  display: block;
  font-family: IBMPlexSansBold;
  margin-bottom: 8px;
}

.product-calc_content-select {
  position: relative;
  outline: none;
  width: 100%;
  background-color: transparent;
  font-size: .875em;
  padding: 10px;
  height: 40px;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.product-calc_content-select option {
  outline: none;
}

.product-calc_content-select-btn {
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  width: 40px;
  height: 40px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  background-color: #e52413;
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.product-calc_content-select-btn:before {
  content: "";
  position: absolute;
  top: -webkit-calc(50% + 4px);
  top: calc(50% + 4px);
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.9, 1);
  -ms-transform: translate(-50%, -50%) scale(0.9, 1);
  transform: translate(-50%, -50%) scale(0.9, 1);
  border: 7px solid transparent;
  border-top-color: #fff;
}

.product-calc_content-calc {
  background-color: #F4F7F9;
  padding: 30px 25px 10px;
  margin: 30px 0;
}

.product-calc_content-wrap-radio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 28px;
}

.product-calc_content-radio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  margin-right: 25px;
}

.product-calc_content-radio-title {
  margin-right: 55px;
  font-family: IBMPlexSansBold;
  font-size: .875em;
}

.product-calc_content-radio-box {
  position: relative;
  margin-right: 10px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.product-calc_content-radio-box:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-border-radius: inherit;
  border-radius: inherit;
  width: 11px;
  height: 11px;
  background-color: #025692;
  opacity: 0;
  -webkit-transition: .2s all ease;
  -o-transition: .2s all ease;
  transition: .2s all ease;
}

.product-calc_content-radio-text {
  font-size: .8em;
}

.product-calc_content-radio input {
  z-index: -1;
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.product-calc_content-radio input:checked + .product-calc_content-radio-box:before {
  opacity: 1;
}

.product-calc_content-control {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.product-calc_content-control-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.product-calc_content-control-item:last-child > *:last-child {
  margin-left: auto;
  margin-right: auto;
}

.product-calc_content-control-item > *:first-child {
  margin-bottom: 10px;
}

.product-calc_content-control-item > *:last-child {
  margin-top: auto;
}

.product-calc_content-control-subtext {
  font-size: .75em;
  color: #333;
  display: block;
  font-family: IBMPlexSansRegular;
}

.product-calc_content-price {
  font-size: 1.4em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-right: 35px;
  font-family: IBMPlexSansMedium;
}

.product-calc_content-price small {
  font-size: .6em;
  margin-bottom: 2px;
  font-family: IBMPlexSansRegular;
  margin-left: 10px;
}

.product-calc_content-wrap-field {
  max-width: 130px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #C2C6CF;
  height: 40px;
}

.product-calc_content-btn-control {
  position: relative;
  width: 35px;
  height: 35px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  cursor: pointer;
  padding: 0 5px;
}

.product-calc_content-btn-control-less:after {
  display: none;
}

.product-calc_content-btn-control:hover:before,
.product-calc_content-btn-control:hover:after {
  background-color: #025692;
}

.product-calc_content-btn-control:before,
.product-calc_content-btn-control:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 10px;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
  background-color: #C2C6CF;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.product-calc_content-btn-control:before {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  -ms-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}

.product-calc_content-field {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: center;
  padding: 0;
  font-size: .93em;
}

.product-calc_content-field::-webkit-input-placeholder {
  -webkit-transition: .2s all ease;
  -o-transition: .2s all ease;
  transition: .2s all ease;
  font-size: inherit;
}

.product-calc_content-field::-moz-placeholder {
  -webkit-transition: .2s all ease;
  -o-transition: .2s all ease;
  transition: .2s all ease;
  font-size: inherit;
}

.product-calc_content-field:-ms-input-placeholder {
  -webkit-transition: .2s all ease;
  -o-transition: .2s all ease;
  transition: .2s all ease;
  font-size: inherit;
}

.product-calc_content-field::-ms-input-placeholder {
  -webkit-transition: .2s all ease;
  -o-transition: .2s all ease;
  transition: .2s all ease;
  font-size: inherit;
}

.product-calc_content-field::placeholder {
  -webkit-transition: .2s all ease;
  -o-transition: .2s all ease;
  transition: .2s all ease;
  font-size: inherit;
}

.product-calc_content-field:focus::-webkit-input-placeholder {
  opacity: 0;
}

.product-calc_content-field:focus::-moz-placeholder {
  opacity: 0;
}

.product-calc_content-field:focus:-ms-input-placeholder {
  opacity: 0;
}

.product-calc_content-field:focus::-ms-input-placeholder {
  opacity: 0;
}

.product-calc_content-field:focus::placeholder {
  opacity: 0;
}

.product-calc_content-control-wrap-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #F2F7FB;
}

.product-calc_content-order-btn.btn-accent {
  max-width: 230px;
  text-transform: uppercase;
  padding: 12px 20px;
  margin-right: 30px;
}

.product-calc_content-wrap-btn-text {
  font-size: .75em;
  color: #C2C6CF;
  line-height: 1.6em;
}

.product-calc_content-payment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 70px;
}

.product-calc_content-payment:last-child {
  margin-right: 0;
}

.product-calc_content-payment-img {
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 45px;
  margin-right: 8px;
}

.product-calc_content-payment-img img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.product-calc_content-payment-text {
  white-space: nowrap;
  font-size: .75em;
  color: #737373;
  line-height: 1.4em;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.product-calc_content-payment-text span {
  border-bottom: 1px dashed #737373;
}

.product-calc_content-payment:hover .product-calc_content-payment-text {
  color: #025692;
}

.product-calc_content-payment:hover .product-calc_content-payment-text span {
  border-bottom-color: transparent;
}

.product-calc_content-payment-options-title {
  display: block;
  font-family: IBMPlexSansBold;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #737373;
}

.product-calc_content-payment-options-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.our-plus_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -40px;
  margin-right: -40px;
}

.our-plus_wrap-item {
  padding: 0 40px 60px;
  width: 100%;
  max-width: 50%;
}

.our-plus_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.our-plus_item-icon {
  background-color: #e52413;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 30px;
}

.our-plus_item-icon-img {
  max-width: 100%;
  max-height: 100%;
}

.our-plus_item-title {
  font-size: 1.3em;
  color: #025692;
  margin-bottom: 15px;
  display: block;
  font-family: IBMPlexSansBold;
}

.our-plus_item-list-item {
  margin-bottom: 20px;
}

.our-plus_item-list-item:last-child {
  margin-bottom: 0;
}

.description {
  padding-bottom: 115px;
}

.description_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.description_content > * {
  width: 100%;
}

.description_info-text p {
  margin-bottom: 25px;
  line-height: 1.7em;
}

.description_info-text p:last-child {
  margin-bottom: 0;
}

.description_info-wrap-dropdown {
  margin-top: 50px;
}

.description_info-dropdown {
  margin-bottom: 20px;
}

.description_info-dropdown:last-child {
  margin-bottom: 0;
}

.description_info-dropdown-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #F4F7F9;
  padding: 25px 30px;
  cursor: pointer;
}

.description_info-dropdown-top-text {
  font-family: IBMPlexSansBold;
  font-size: 1.125em;
  line-height: 1.4em;
}

.description_info-dropdown-top-arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.description_info-dropdown-top-arrow svg {
  width: 15px;
  height: auto;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.description_info-dropdown-top-arrow svg path {
  fill: #0064AD;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.description_info-dropdown-top__active .description_info-dropdown-top-arrow svg {
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

.description_info-dropdown-top__active .description_info-dropdown-top-arrow svg path {
  fill: #BCD2E1;
}

.description_info-dropdown-content {
  border: 2px solid #F4F7F9;
  border-top: none;
  padding: 40px 25px 15px;
  display: none;
}

.description_info-dropdown-content-text {
  line-height: 1.5em;
  margin-bottom: 25px;
}

.description_info-dropdown-content-text:last-of-type {
  margin: 20px 0;
}

.description_info-dropdown-wrap-table {
  max-width: 100%;
  overflow-x: auto;
}

.description_info-dropdown-table {
  width: 100%;
}

.description_info-dropdown-table tr {
  margin-bottom: -1px;
  border-bottom: 1px solid #F4F7F9;
}

.description_info-dropdown-table tr:first-child td:not(:first-child) {
  font-family: IBMPlexSansBold;
}

.description_info-dropdown-table tr:last-child {
  border-bottom: none;
}

.description_info-dropdown-table td {
  padding: 22px 0;
  font-size: .875em;
}

.description_info-dropdown-table td:not(:first-child) {
  text-align: center;
}

.description_info-dropdown-file {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 0;
  margin-bottom: -1px;
  font-size: .875em;
  border-bottom: 1px solid #F4F7F9;
  font-family: IBMPlexSansBold;
}

.description_info-dropdown-file:last-child {
  border-bottom: none;
}

.description_info-dropdown-file-name,
.description_info-dropdown-file-icon .cls-1 {
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.description_info-dropdown-file:hover .description_info-dropdown-file-name {
  color: #e52413;
}

.description_info-dropdown-file:hover .description_info-dropdown-file-icon .cls-1 {
  stroke: #e52413;
}

.description_aside {
  max-width: 315px;
  padding-left: 45px;
}

.description_aside-title {
  display: block;
  font-size: 1.3em;
  line-height: 1.4em;
  font-family: IBMPlexSansBold;
  margin-bottom: 25px;
}

.description_aside-title__small {
  font-size: 1em;
}

.description_aside-list {
  list-style: none;
  margin-bottom: 45px;
}

.description_aside-list:last-child {
  margin-bottom: 0;
}

.description_aside-list__first .description_aside-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
}

.description_aside-list__first .description_aside-item:last-child {
  margin-bottom: 0;
}

.description_aside-list__first .description_aside-item-img {
  width: 60px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 15px;
}

.description_aside-list__first .description_aside-item-text {
  font-family: IBMPlexSansBold;
}

.description_aside-list__second .description_aside-item {
  padding-left: 20px;
  margin-bottom: 10px;
  line-height: 1.4em;
  font-size: .82em;
  position: relative;
}

.description_aside-list__second .description_aside-item a {
  text-decoration: underline;
}

.description_aside-list__second .description_aside-item:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 10px;
  height: 1px;
  background-color: #e52413;
}

.description_aside-list__second .description_aside-item:last-child {
  margin-bottom: 0;
}

.our-production {
  padding-top: 55px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.our-production_video-btn {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

.our-production_video-btn .video-preview {
  margin-left: auto;
  margin-right: auto;
  height: 80px;
}

.our-production_video-btn .video-preview_icon-play {
  width: 80px;
  height: 80px;
}

.our-production_video-btn .video-preview_icon-play:before {
  border-width: 15px;
  left: -webkit-calc(50% + 11px);
  left: calc(50% + 11px);
}

.our-production_video-btn .video-preview:before {
  display: none;
}

.our-production_video-btn-title,
.our-production_video-btn-subtitle {
  display: block;
  color: #fff;
}

.our-production_video-btn-title {
  font-size: 1.5em;
  font-family: IBMPlexSansBold;
  margin-bottom: 12px;
}

.our-production_video-btn-subtitle {
  line-height: 1.4em;
}

.our-production_info {
  background-color: #fff;
  padding: 55px 65px 0px;
}

.our-production_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.our-production_content-text p {
  margin-bottom: 30px;
  line-height: 1.7em;
}

.our-production_content-text p:last-child {
  margin-bottom: 0;
}

.our-production_content-aside {
  width: 100%;
  max-width: 360px;
  padding-left: 70px;
}

.our-production_content-aside .description_aside-item-img {
  width: 80px;
}

.our-plus-products {
  padding: 100px 0 130px;
}

.delivery_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.delivery_content > * {
  width: 100%;
  max-width: 50%;
}

.delivery_info {
  padding-left: 100px;
}

.delivery_info p {
  line-height: 1.6em;
}

.delivery_info p,
.delivery_info ul {
  margin-bottom: 30px;
}

.delivery_info li {
  font-family: IBMPlexSansBold;
  margin-bottom: 25px;
}

.delivery_info li:last-child {
  margin-bottom: 0;
}

.delivery_info-btn {
  max-width: 330px;
}

.sec-products-bottom {
  padding-bottom: 55px;
}

.sec-products-bottom .sec-title {
  margin-bottom: 30px;
}

.sec-products-bottom .sec-products-bottom_product-img {
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sec-products-bottom .sec-products-bottom_product-img img {
  max-width: 100%;
  max-height: 100%;
}

.sec-products-bottom_product {
  padding: 25px 30px 35px;
  border: 1px solid #EFEFEF;
}

.sec-products-bottom_product-title {
  color: #025692;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
  font-size: 1.125em;
  line-height: 1.2em;
  font-family: IBMPlexSansBold;
}

.sec-products-bottom_product-title:hover {
  color: #e52413;
}