@import "../common/vars";

.banner{
	position: relative;
	.slider-item{
		&-content{
			position: relative;
			padding: 62px 72px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-between;
			min-height: 440px;
		}
		.content-text{
			color: #fff;

			.item-title{
				line-height: 42px;
				font-size: 40px;
				font-weight: 700;
			}
			ul{
				margin: 20px 0 40px 0;
				li{

				}
			}
		}
	}
}

@media (max-width: 1400px) {

}


@media (max-width: 1200px) {
	.banner{
		.slider-item{
			.content-text{
				.item-title{
					font-size: 35px;
					line-height: 36px;
				}

				ul{
					margin: 15px 0 30px;
					line-height: 22px;
					font-size: 15px;
				}
			}
		}
	}
}


@media (max-width: 992px) {
	.banner{
		.slider-item{
			&-content{
				padding: 5 0px 70px;
				min-height: 390px;
			}

			.content-text{
				.item-title{
					font-size: 34px;
					line-height: 38px;
				}

				ul{
					font-size: 14px;
					line-height: 22px;
				}
			}

		}
	}
}


@media (max-width: 768px) {
	.banner{
		.slider-item{
			&-content{
				padding: 45px 30px 65px;
				min-height: 350px;
			}

			.content-text{
				.item-title{
					font-size: 30px;
					line-height: 35px;
				}

				ul{
					font-size: 13px;
					line-height: 20px;
					margin: 15px 0 20px;
				}
			}

		}
	}
}


@media (max-width: 576px) {

}


@media (max-width: 480px) {
	.banner{
		.wrap-slider-nav{
			display: none;
		}

		.wrap-slider-dots{
			margin-left: -6px;
		}

		.slider-item{
			&-content{
				padding: 65px 0 85px;
			}

			.content-text{

				.item-title{
					font-size: 28px;
					line-height: 30px;
				}
				
				ul{
					font-size: 14px;
					line-height: 22px;
					margin: 20px 0;
				}

			}
		}
	}
}




