@import "../common/vars";

.sec-our-works-index{
	padding: 0;

	.title{
		margin-bottom: 23px;
	}
}


@media (max-width: 1400px) {

}


@media (max-width: 1200px) {
	.sec-our-works-index{

	}
}


@media (max-width: 992px) {
	.sec-our-works-index{
		padding: 0;

		.title{
			display: none;
		}
	}
}


@media (max-width: 768px) {

}


@media (max-width: 576px) {
	.sec-our-works-index{
		padding: 0;
	}
}



