@import "../common/vars";

.sec-list-column{
	padding: 55px 0;

	.wrap-list{
		margin-bottom: 0;
	}
}


@media (max-width: 1200px) {
	.sec-list-column{
		margin-bottom: -30px;
	}
}


@media (max-width: 992px) {
	.sec-list-column{
		padding: 45px 0;
		margin-bottom: -20px;
	}
}


@media (max-width: 768px) {

}

@media (max-width: 576px) {
	.sec-list-column{
		padding: 40px 0 0;
		margin-bottom: 0;

		.title{
			margin-bottom: 15px;
		}
	}
}








