@import "../common/vars";

.testimonials-index{
	padding-bottom: 50px;
}

@media (max-width: 1200px){
	.testimonials-index{
		padding-bottom: 55px;
	}
}

@media (max-width: 992px){
	.testimonials-index{
		padding-bottom: 45px !important;

		.wrap-testimonials-slider{
			padding-top: 20px;
		}
	}
}


@media (max-width: 768px) {
	.testimonials-index{
		.subtitle{
			margin-bottom: 20px;
		}

		.wrap-testimonials-slider{
			padding-top: 0;
		}
	}
}


@media (max-width: 576px) {
	.testimonials-index{
		padding-bottom: 40px !important;

		.subtitle{
			margin-bottom: 15px;
		}

		.wrap-testimonials-slider{
			padding-top: 5px;
		}
	}
}
