$default-font: "Proxima", sans-serif

//Color sheme
$accent: #F84A51

//Text
$text: #626666
$title: #010101
$subTitle: #3C3D3E

//Link
$link: $accent
$linkHover: #08A1FB
$linkActive: #02006F

//Btn
$btnAccentHover: #332C28
$btnWhtBorder: #D5DADB


//Grid
$gutter: 15px
