.mini-banner
	background-color: $purple

	&-content
		min-height: 280px
		display: flex
		align-items: center

	.wrap-icon
		align-self: flex-end
		max-width: 210px
		width: 100%
		margin-right: 45px



+media(xl)
	.mini-banner
		&-content
			min-height: 250px
		.text
			br
				display: none

+media(lg)

+media(md)
	.mini-banner
		&-content
			min-height: 210px


+media(sm)
	.mini-banner
		padding-top: 45px

		&-content
			min-height: auto
			flex-direction: column

		.wrap-icon
			order: 2
			margin: 0 auto
			max-width: 170px

		.text
			order: 1
			margin-bottom: 40px
