section.mini-banner
	.container

		.mini-banner-content
			.wrap-icon.resp-img
				img(src="img/team.svg", alt="")

			p.text.color-white Грамотно организованное мероприятие решает все эти проблемы,<br> а улучшения в коллективе не заставят себя долго ждать



	