.faq.sec(role="region")
  .sec__bg.lazy(data-bg="url(img/bg-faq.png)")
  .sec__bg.sec__bg_mobile.lazy(data-bg="url(img/laser-bg-mobile.png)")

  .faq__wrap-titles.sec__wrap-titles
    span.sec__title.title-1 <em>Вопрос-</em>ответ

  .wrapper
    .faq__inner

      ul.faq__list
        li.faq__item
          .faq__item-top
            span.faq__item-icon
            span.faq__item-title Как сделать заказ?
          .faq__item-wrap-text
            p Файлы для резки и гравировки нужно присылать в векторном формате. Предпочтительно CDR, либо же eps,pdf,ai,dwg,dxf,stl. Более подробно о подготовке файлов можно прочитать на странице <a href="#">«Как подготовить макет»</a>.

        li.faq__item
          .faq__item-top
            span.faq__item-icon
            span.faq__item-title В каком формате присылать файлы?
          .faq__item-wrap-text
            p Файлы для резки и гравировки нужно присылать в векторном формате. Предпочтительно CDR, либо же eps,pdf,ai,dwg,dxf,stl. Более подробно о подготовке файлов можно прочитать на странице <a href="#">«Как подготовить макет»</a>.

        li.faq__item
          .faq__item-top
            span.faq__item-icon
            span.faq__item-title У вас есть материал или нужно везти свой?
          .faq__item-wrap-text
            p Файлы для резки и гравировки нужно присылать в векторном формате. Предпочтительно CDR, либо же eps,pdf,ai,dwg,dxf,stl. Более подробно о подготовке файлов можно прочитать на странице <a href="#">«Как подготовить макет»</a>.

        li.faq__item
          .faq__item-top
            span.faq__item-icon
            span.faq__item-title Делаете ли вы макет по моему чертежу, фото?
          .faq__item-wrap-text
            p Файлы для резки и гравировки нужно присылать в векторном формате. Предпочтительно CDR, либо же eps,pdf,ai,dwg,dxf,stl. Более подробно о подготовке файлов можно прочитать на странице <a href="#">«Как подготовить макет»</a>.


      ul.faq__list
        li.faq__item
          .faq__item-top
            span.faq__item-icon
            span.faq__item-title Как сделать заказ?
          .faq__item-wrap-text
            p Файлы для резки и гравировки нужно присылать в векторном формате. Предпочтительно CDR, либо же eps,pdf,ai,dwg,dxf,stl. Более подробно о подготовке файлов можно прочитать на странице <a href="#">«Как подготовить макет»</a>.

        li.faq__item
          .faq__item-top
            span.faq__item-icon
            span.faq__item-title В каком формате присылать файлы?
          .faq__item-wrap-text
            p Файлы для резки и гравировки нужно присылать в векторном формате. Предпочтительно CDR, либо же eps,pdf,ai,dwg,dxf,stl. Более подробно о подготовке файлов можно прочитать на странице <a href="#">«Как подготовить макет»</a>.

        li.faq__item
          .faq__item-top
            span.faq__item-icon
            span.faq__item-title У вас есть материал или нужно везти свой?
          .faq__item-wrap-text
            p Файлы для резки и гравировки нужно присылать в векторном формате. Предпочтительно CDR, либо же eps,pdf,ai,dwg,dxf,stl. Более подробно о подготовке файлов можно прочитать на странице <a href="#">«Как подготовить макет»</a>.
