@import "../../less/common/vars";

.page-no-aside{
	&-content{
		padding-bottom: 50px;
		max-width: 890px;
	}
}

@media (min-width: 1260px) {

}

@media (max-width: 1259px) {
	.page-no-aside{
		&-content{
			max-width: 100%;
		}
	}
}

@media (max-width: 991px) {
	.page-no-aside{
		&-content{
			padding-bottom: 35px;
		}
	}
}

@media (max-width: 767px) {
	
}

@media (max-width: 575px) {
	
}
