.privacy-policy
	color: $emperor
	margin-bottom: px-to-rem(85, 16)
	padding-right: calc(5.5% + 30px)

	+media(xxl)
		padding-right: 0
	
	+media(xl)
		br
			display: none

	&__title
		line-height: px-to-rem(80, 16)
		margin-bottom: px-to-rem(70, 16)
		
		+media(lg)
			line-height: px-to-rem(65, 12)
			font-size: px-to-rem(50, 12)
			margin-bottom: px-to-rem(50, 12)

		+media(md)
			font-size: 7.2vw
			line-height: 9.4vw

		+media(sm)
			margin-bottom: px-to-rem(65, 12)


	.time-last-changes
		display: block
		font-size: px-to-rem(18, 16)
		line-height: px-to-rem(18, 16)
		margin-bottom: px-to-rem(45, 16)
		
		+media(lg)
			margin-bottom: px-to-rem(38, 12)
			font-size: px-to-rem(18, 12)

		+media(sm)
			font-size: px-to-rem(16, 12)
			margin-bottom: px-to-rem(65, 12)


	.title-2, h2,
	.title-3, h3,
	.title-4, h4,
	.title-5, h5
		margin-bottom: px-to-rem(38, 16)
		
		+media(lg)
			margin-bottom: px-to-rem(25, 12)

		+media(sm)
			margin-bottom: px-to-rem(18, 12)

	p, mark
		font-size: px-to-rem(24, 16)
		line-height: px-to-rem(41, 16)
		color: $emperor
		
		+media(lg)
			font-size: px-to-rem(20, 12)
			line-height: px-to-rem(34, 12)

		+media(sm)
			font-size: px-to-rem(18, 12)
			line-height: px-to-rem(31, 12)
			color: #000
			margin-bottom: px-to-rem(55, 12)

		&:last-child
			margin-bottom: 0

	p
		margin-bottom: px-to-rem(50, 16)
		
		+media(lg)
			margin-bottom: px-to-rem(40, 12)


	mark
		margin-bottom: px-to-rem(32, 16)
		display: block
		
		+media(lg)
			margin-bottom: px-to-rem(24, 12)

		+media(sm)
			margin-bottom: px-to-rem(20, 12)
