.product-card-data

	.wrap-product-card-name.wrap-page-title
		span.page-title.h-2.product-name Кроссовки Reverenge Plus Pns
	
	.wrap-rating.d-inline-block
		img(src="img/star-full.png", alt="")
		img(src="img/star-full.png", alt="")
		img(src="img/star-full.png", alt="")
		img(src="img/star-half.png", alt="")
		img(src="img/star-none.png", alt="")

	.wrap-comments-count.d-inline-block
		.wrap-icon.responsive-img.d-inline-block
			img(src="img/icon-comment.svg", alt="")
		span.count.text-gray.text-small.d-inline-block 22

	span.brand.d-inline-block.text-gray.text-fw-bold.text-small #Reebok Classic Leather

	.wrap-card-info
		span Материал:
			em кожа
		span Цвет:
			em синий
		span Артикул:
			em D93810

	.wrap-price
		span.old-price.text-small.text-gray 278 руб.
		span.cur-price.text-fw-bold 250.20 руб.

	.wrap-sizes
		span.h-6.d-none.d-sm-inline-block размер

		a(href="#").list-title.text-small.text-fw-bold.d-none.d-sm-inline-block Таблица соответствия размеров

		ul.filter-group_parameters.list-sizes
			li
				a(href="#") 34,5
			li
				a(href="#") 35
			li
				a(href="#") 36
			li
				a(href="#") 36,5
			li
				a(href="#") 37
			li
				a(href="#") 37,5
			li
				a(href="#") 38
			li
				a(href="#") 38,5
			li
				a(href="#") 34,5
			li
				a(href="#") 35
			li
				a(href="#") 36
			li
				a(href="#") 36,5
			li
				a(href="#") 37
			li
				a(href="#") 37,5
			li
				a(href="#") 38
			li
				a(href="#") 38,5

		span.list-title.text-small.text-fw-bold.d-block.d-sm-none Таблица соответствия размеров


	.wrap-btn-to-cart
		span.btn.btn-dark
			.wrap-icon.responsive-img
				img(src="img/package.svg", alt="")
			| добавить в корзину

		.wrap-icon-like.responsive-img
			img(src="img/006-heart.svg", alt="")

	.wrap-brand
		img(src="img/logo-adidas.png", alt="")

