.prices-program

	.wrap-items
		display: flex
		align-items: stretch
		justify-content: center
		margin-left: -$gutters
		margin-right: -$gutters
		margin-top: 70px
		flex-wrap: wrap
		margin-bottom: -16px

	.wrap-item
		padding: 0 $gutters
		margin-bottom: 16px
		width: 100%
		max-width: calc(100% / 3)

		> *
			margin-left: auto
			margin-right: auto

		.item
			box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.05)
			background-color: #fff
			height: 100%
			padding: 63px 75px 53px
			min-height: 370px
			display: flex
			align-items: center
			flex-direction: column

		.wrap-icon
			width: 100%
			max-width: 43px
			margin-bottom: 25px

		.title
			display: block
			margin-bottom: 32px
			text-align: center

		.wrap-list
			margin-bottom: 30px
			li
				margin-bottom: 2px
				&:last-child
					margin-bottom: 0

		.wrap-btn
			margin-top: auto
			width: 100%
			.btn
				width: 100%



+media(xl)
	.prices-program
		.wrap-items
			margin-top: 60px

		.wrap-item
			.item
				padding: 50px 40px 40px
				min-height: 330px


+media(lg)
	.prices-program
		.wrap-items
			margin-top: 50px

		.wrap-item
			.item
				padding: 40px 25px 30px

			.wrap-icon
				max-width: 33px
				margin-bottom: 17px

			.title
				margin-bottom: 23px
				pre
					white-space: normal

			.wrap-list
				li
					margin-bottom: 0


+media(md)
	.prices-program
		.wrap-items
			margin-top: 40px

		.wrap-item
			max-width: 320px

			.item
				min-height: 350px
				padding: 50px 30px 40px


+media(sm)