section.prices-program.section.bg-elements(style="background-image: url('img/bg-elements-5.svg')")
	.container
		
		.page-titles
			span.h2.title.title-decor Стоимость программы

		.wrap-items

			.wrap-item
				.item.radius-4
					.wrap-icon.resp-img
						img(src="img/checked.svg", alt="")

					span.h4.title.color-purple Минимальный комплект

					.wrap-list
						ul
							li Оборудование
							li Ведущий игры
							li Администратор игры

					.wrap-btn
						span.btn.btn-red Заказать

			.wrap-item
				.item.radius-4
					.wrap-icon.resp-img
						img(src="img/star.svg", alt="")

					span.h4.title.color-purple Стандартный комплект

					.wrap-list
						ul
							li Оборудование
							li Ведущий игры
							li Администратор игры
							li Звуковое оборудование

					.wrap-btn
						span.btn.btn-red Заказать

			.wrap-item
				.item.radius-4
					.wrap-icon.resp-img
						img(src="img/key.svg", alt="")

					span.h4.title.color-purple Комплект<br> “Под ключ”

					.wrap-list
						ul
							li Оборудование
							li Ведущий игры
							li Администратор игры
							li Звуковое оборудование
							li Экран с проектором
							li Фотограф

					.wrap-btn
						span.btn.btn-red Заказать




