section.mobile-version-minsk.sec-page
	.container
		.mobile-version-minsk-content

			.wrap-img
				img.lazyload(data-src="img/mobile-version-minsk.png" alt="")

			.wrap-text
				span Особенности разработки мобильной версии в Минске
				p Отличия связаны с тем, что процесс верстки мобильной версии направлен на комфортное чтение страниц сайта со смартфонов, имеющих небольшое разрешение экрана. В мобильной версии нет скриптов, требующих высокой мощности устройства, а также при ее разработке применяется упрощенный код. Несмотря на то, что мобильные устройства развиваются быстрыми темпами, по мощности и разрешению экрана они значительно уступают ноутбукам и персональным компьютерам. Более того, большая часть смартфонов (в том числе apple) не поддерживают проигрыватель Flash, что также влияет на особенности разработки оптимальных мобильных версий.

				p При создании версии сайта для мобильных устройств учитывается такой фактор, как тип ввода. Большинство смартфонов оснащены сенсорным экраном, поэтому слишком мелкие кнопки и элементы управления сайтом в хорошей версии исключены.
