section.mobile-version-plus.img-bg(style="background-image: url('img/bitrix-plus-bg.jpg')")
	.container
		.mobile-version-plus-content

			.wrap-title-group
				span.title Преимущества мобильной версии портала
				span.subtitle Плюсы ее создания очевидны и включают в себя:

			.wrap-plus-items
				.plus-item
					.wrap-icon
						img.lazyload(data-src="img/mobile-version-plus-4.svg", alt="")
					p Максимальное удобство для пользователя. Функционал мобильной версии направлен на то, чтобы обеспечить мобильному пользователю удобное применение ресурса. Мобильная версия позволяет быстро совершить нужное действие: оформить заказ, позвонить, найти ближайший магазин, купить. Это оказывает прямое влияние на продажи в сторону их повышения.

				.plus-item
					.wrap-icon
						img.lazyload(data-src="img/mobile-version-plus-2.svg", alt="")
					p Ее использование в значительной степени повышает уровень отдачи от рекламы и повышает конверсию сайта. Это объясняется возможностью быстрого перехода пользователей с портативных устройств на оптимизированные страницы сайта. Таким образом, мобильная версия обеспечивает наиболее эффективный маркетинг.

				.plus-item
					.wrap-icon
						img.lazyload(data-src="img/mobile-version-plus-1.svg", alt="")
					p Высокая скорость загрузки. Это объясняется отсутствием мощного функционала, лишней информации и данных.

				.plus-item
					.wrap-icon
						img.lazyload(data-src="img/mobile-version-plus-3.svg", alt="")
					p Легкость внесения изменений. Это является главным плюсом отдельной мобильной версии по сравнению с адаптивным дизайном сайта.