section.page-mob-banner.page-banner.img-bg(style="background-image: url('img/banner-mobile-version-bg.jpg')")
	.container

		.page-banner-content
			.wrap-breadcrumbs.breadcrumbs-yellow
				a(href="index.html") Главная
				span.delimiter /
				a(href="#") Услуги
				span.delimiter /
				span.cur-page Мобильная версия
			.page-banner-text
				span.banner-title Мобильная версия сайта
				p.subtext Когда речь заходит о мобильной версии интернет-ресурса, то надо понимать <br>, что это версия сайта должным образом адаптирована под мобильные различные <br> устройства (телефон, планшет и др.). Зачастую, она существенно отличается <br> структурно и функционально от основной версии.  Ее существенное отличие<br> от основного сайта - это наличие адаптивного дизайна, при котором  весь контент<br> на виртуальной странице подстраивается под формат экрана мобильного<br> устройства пользователя.


				