section.steps-dev-mob-version.sec-page
	.container
		.steps-dev-mob-version-content

			.content-left
				.wrap-title
					span.title Процесс разработки
				p.subtext Создание мобильной версии является трудоемким процессом, требующим высокого уровня профессионализма разработчика. Существуют специальные ресурсы, позволяющие создать недорогую самостоятельно по очень низкой цене, но при их использовании нельзя достичь наилучшего качества итогового продукта.
				
			.content-right
				.wrap-img.img-resp
					img.lazyload(data-src="img/steps-mobile-vers-dev-1.png", alt="")
				.wrap-img.wrap-img-accent.img-resp
					img.lazyload(data-src="img/steps-mobile-vers-dev-2.png", alt="")
				.wrap-img.img-resp
					img.lazyload(data-src="img/steps-mobile-vers-dev-3.png", alt="")
				.wrap-img.img-resp
					img.lazyload(data-src="img/steps-mobile-vers-dev-4.png", alt="")
				