section.time-price-mob-ver.time-price.sec-page
	.container
		.time-price-content

			.content-left
				.top
					span.content-left-title Сроки и стоимость работ
					span Процесс разработки занимает:
					em не менее 1 месяца
				
				.bottom.wrap-list.wrap-list-point
					span.content-left-title Применимость
					span Мобильные версии сайта хорошо подходят для:
					ul
						li Интернет-магазинов
						li Многопользовательских порталов
						li Многофункциональных web-сервисов

			.content-right.wrap-title-mac.wrap-list-point
				span Почему стоит заказать разработку мобильной версии сайта на MODX сейчас?
				p Каждый третий пользователь интернета в Минске использует смартфон или планшет, чтобы найти информацию на сайтах. Чтобы сделать сайт удобным для пользователей необходимо создать и добавить адаптивную верстку или мобильную версию сайта для мобильных устройств.
				p Создание мобильной верстки представляет собой оптимальное решение для любого интернет магазина или каталога. Разработка мобильного сайта под ключ позволит Вам совершенствовать бизнес своей компании. А стоимость такой версии очень быстро окупится
