.container
	.row
		.col
			.wrap-page-title
				span.page-title.h-2.d-none.d-sm-block Корзина
				span.page-title.h-2.d-block.d-sm-none Корзина (4)
				.product-count.text-fw-bold.d-none.d-sm-block 4 товара

				a(href="#").text-fw-medium.text-medium.text-dark-blue.ml-auto.d-none.d-sm-block Назад к покупкам