.wrap-description-text.wrap-text-content
	span.product-card-sec-title.h-3 Описание товара
	
	p Стильные туристические ботинки созданы немецким концерном Adidas для мужчин, которые отдают предпочтение активному<br> отдыху. Универсальная и технологичная модель Urban Hiker идеально подойдет путешественникам, которые теперь могут<br> отправиться покорять горные вершины в любую погоду

	ul
		li Верхняя часть изделия выполнена из прочного, износостойкого и водоотталкивающего материала

		li Передний корпус ботинок оснащен эластичной шнуровкой, закрепленной на металлических люверсах, которые<br> увеличивают срок эксплуатациинести совсем

		li Cвязанные с использованием Lorem ipsum на сайтах и проектах, ориентированных на кириллический контент – написание<br> символов на латыни и на кириллице значительно 
