.about-us__preview-page.preview-page

	.preview-page__wrap-title
		span.preview-page__title.title-1 About us
	
	p.preview-page__text.preview-page__text-cut-letter
		//- span.preview-page__text-first-letter
		| <em>Architectural Joinery</em> specialize in Timber doors, Kitchen cabinets, Wardrobes, Vanities and Mill works with In-House Research, Development and innovation Facilities,<br> Manufacturing, Installation, and Maintenance capabilities. Our constant innovative experiments offer exclusive specifications and finishes. We have gained an unmatched reputation in the construction industry with our professional expertise and supported by fact of successful completion of over <em>400 projects</em> in Middle East & Africa, USA, Hong Kong, Macao & China Mainland.
