@import "../common/vars";

.bitrix-price-realisation{
	background-color: @bgGray;

	&-content{

	}

	.wrap-title{
		margin-bottom: 35px;
	}

	.bitrix-price-items{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: stretch;
		align-items: stretch;
		justify-content: center;

		.item-type-1{
			.top-content {
				background: linear-gradient(239.83deg, #08C1EF 0%, #6DCF73 100%);
			}
		}

		.item-type-2{
			.top-content {
				background: linear-gradient(239.83deg, #0052D4 0%, #65C7F7 100%);
			}
		}

		.item{
			margin: 0 20px;
			flex-basis: 342px;
			background-color: #fff;

			.top-content{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				padding: 17px 25px;

				.wrap-icon {
					min-width: 34px;
					height: 34px;
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					-ms-align-items: center;
					align-items: center;
					justify-content: center;
					border-radius: 50%;
					border: 2px solid #fff;
					margin-right: 16px;
				}

				.title{
					font-size: 20px;
					line-height: 26px;
					font-weight: 600;
					color: #fff;
				}
			}

			.content {
				> div {
					padding: 19px 25px;
					border-bottom: 1px solid rgba(0, 0, 0, 0.1);
				}

				.wrap-price, .wrap-time {
					.title {
						color: @textGray-2;
						font-size: 14px;
						line-height: 18px;
						display: block;
						margin-bottom: 3px;
					}

					.price, .time {
						font-size: 20px;
						line-height: 18px;

						.accent {
							color: @accent;
							font-weight: 600;
						}
					}
				}
			}

			.wrap-btn{
				padding: 25px;
				.btn{
					width: 100%;
				}
			}
		}
	}

}




@media (max-width: 1399px) {

}


@media (max-width: 1199px) {

}


@media (max-width: 991px) {
	.bitrix-price-realisation .bitrix-price-items .item .top-content .title{
		font-size: 18px;
		line-height: 24px;
	}

	.bitrix-price-realisation .bitrix-price-items .item .content>div{
		padding: 12px 25px;
	}

	.bitrix-price-realisation .bitrix-price-items .item .wrap-btn .btn{
		padding: 12px;
	}
}


@media (max-width: 767px) {
	.bitrix-price-realisation .bitrix-price-items{
		display: block;

		.item{
			margin: 0 auto 30px;
			flex-basis: auto;
			width: 100%;
			max-width: 450px;

			.top-content{
				-ms-align-items: center;
				align-items: center;
			}

			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}


@media (max-width: 575px) {
	.bitrix-price-realisation .bitrix-price-items .item .top-content{
		padding: 15px;
	}
}





