@import "../common/vars";

.prices-bitrix {

	&-text-mobile{
		display: none;
	}

	&-content{

		.wrap-title{
			margin-bottom: 25px;
			.subtitle{
				display: block;
				color: @textGray;
				font-size: 16px;
				line-height: 23px;
				margin-top: 14px;
			}
		}

		.wrap-tabs{
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 32px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: center;
			align-items: center;
			justify-content: center;

			.btn{
				border-radius: 25px;
				transition: .4s all ease;
				margin: 0 10px;
				font-size: 14px;
				line-height: 23px;
				padding: 9px 42px;
				color: @accent;
				border: 2px solid #DADCE4;
				background-color: #fff;
				cursor: pointer;
				font-weight: 600;
				&:hover{
					border-color: @accent;
				}
			}

			.btn-active{
				color: #fff;
				background-color: @accent;
				border-color: @accent;
				&:hover{
					border-color: #163ed4;
					background-color: #163ed4;
				}
			}
		}

		.wrap-table-accent-2{
			display: none;

			tr{
				&:last-child{
					td{
						padding-left: 16px;
						padding-right: 16px;
						.wrap-btn{
							.btn{
								padding: 14px 10px;
							}
						}
					}
				}
			}
		}

		.table-active{
			display: block;
		}

		.wrap-bottom-line{
			background-color: @bgGray;
			padding: 20px 40px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: center;
			align-items: center;
			border: 1px solid #E6E6E7;
			border-top: none;
			margin-left: -1px;

			.wrap-btn{
				.btn{
					white-space: nowrap;
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
				}
			}

			.wrap-btn-compare {
				.btn{
					padding: 8px 32px;
				}
			}

			.wrap-btn-blue{
				.btn{
					padding: 12px 32px;
				}
			}

			.wrap-text{
				padding-left: 50px;
				margin-left: 50px;
				border-left: 2px solid #E6E6E7;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				-ms-align-items: center;
				align-items: center;

				.title{
					font-weight: 600;
					font-size: 18px;
					line-height: 22px;
					margin-right: 40px;
					max-width: 300px;
					width: 100%;
				}
			}
		}
	}

}

@media (max-width: 1400px) {

}


@media (max-width: 1200px) {

}


@media (max-width: 992px) {
	.prices-bitrix{

	}

}


@media (max-width: 768px) {

}


@media (max-width: 576px) {
	.prices-bitrix{
		padding-bottom: 0;

		&-content{
			.wrap-title{
				.subtitle{
					font-size: 14px;
					line-height: 19px;
				}
			}
		}

		.container{
			padding: 0;
			table{
				padding-left: 15px;
			}
		}
	}


}




