@import "../common/vars";

.srm-bitrix-banner {

	.wrap-breadcrumbs{
		a{
			color: @textGray-2;
		}
		.cur-page{
			color: @yellow;
		}
		.delimiter{
			color: @textGray-2;
		}
	}

	.page-banner-text{
		.banner-title{
			color: #000;
		}

		.subtext {
			color: @textGray;
		}
	}

}