include ../../../../lists/lists


.order-delivery__main-content
	+ol([
		"Please send us a Purchase order / contract issued on Architectural Joinery W.L.L.",

		"We send you production CAD drawing showing all the agreed details of the products you<br> have ordered",

		"Once our CAD drawings is approved by the client, We will start our production process",

		"You will be advised of our lead-time. We take our best effort to meet Client Project<br> Execution Lead Time. Take into consideration that practically minimum 45 -60 days required<br class='d-none-1600'> to complete quality production.",

		"We will keep you posted throughout the process on the order and its details. We guarantee<br> no deviation on contractually agreed execution time period. "
	])

	picture
		source(srcset=".", data-srcset="img/order-and-delivery.webp", type="image/webp")
		source(srcset=".", data-srcset="img/order-and-delivery.png", type="image/png")
		img.lazy(src="." data-src="img/order-and-delivery.png", alt="")

	//- or .title-2
	h2 Payment 

	+ol([
		"An Irrevocable Letter of Credit (L/C) of 100% of the total contract value shall be establish within 10 working days from the date of the Formal Purchase order / contract in favor of Architectural Joinery with indication of all terms & conditions of delivery, goods description and etc. Payment release shall be against Bill of Lading with set of contractually agreed formal documents",

		"Audit"
	])


	//- or .title-2
	h2 Delivery 

	p With the help of our partners specialized in transportation of the furniture & timber products, Architectural Joinery is capable for International delivery all over the Globe. Please note that our customers can arrange their own delivery. However, please keep in mind to appoint an experienced furniture delivery company or a delivery company you have used before and trust.

