@import "../../less/common/vars";

.footer{
	background-color: rgba(22, 27, 33, 0.95);
	color: rgba(255, 255, 255, 0.6);

	&-top{
		padding: 55px 0 40px;

		&-content{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: stretch;
			align-items: stretch;
			justify-content: space-between;
			margin: 0 -10px;
		}

		.footer-col{
			padding: 0 10px;
		}

		.title{
			display: block;
			color: #fff;
			font-size: 16px;
			line-height: 25px;
			margin-bottom: 13px;
		}

		ul{
			li, a{
				margin-bottom: 7px;
				font-size: 13px;
				line-height: 19px;
				color: rgba(255, 255, 255, 0.6);
				letter-spacing: 0.03em;
			}

			a{
				&:hover{
					color: @blue;
				}
			}
		}

		.social-row{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: center;
			align-items: center;
			margin: 0 -7.5px;

			.wrap-icon{
				padding: 0 7.5px;
			}

			.icon{
				height: 100%;
				width: 37px;
				height: 37px;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				-ms-align-items: center;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				border: 1px solid rgba(255, 255, 255, 0.5);
				transition: .3s all ease;

				&:hover{
					opacity: .7;
				}
			}
		}

		.wrap-company{
			margin-top: 24px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: center;
			align-items: center;
			border-radius: 3px;
			border: 1px solid rgba(255, 255, 255, 0.4);
			min-height: 55px;
			padding: 7px 15px 13px;

			.wrap-logo{
				max-width: 54px;
				margin-right: 10px;
			}

			.name-company{
				margin-top: 4px;
				font-size: 12px;
				line-height: 17px;
				letter-spacing: 0.04em;
				color: #fff;
			}
		}
	}

	&-bottom{
		background-color: rgba(255, 255, 255, 0.05);
		padding: 13px 0;
		font-size: 12px;

		&-content{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: center;
			align-items: center;
			justify-content: space-between;
		}

		.copyright{
			line-height: 14px;
		}

		.company-development{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: center;
			align-items: center;

			span{
				white-space: nowrap;
			}

			.wrap-img{
				margin-left: 12px;
				max-width: 60px;
			}
		}
	}

}


@media (max-width: 991px) {
	.footer{
		&-top{
			&-content{
				-webkit-flex-wrap: wrap;
				-moz-flex-wrap: wrap;
				-ms-flex-wrap: wrap;
				-o-flex-wrap: wrap;
				flex-wrap: wrap;
			}
		}

		.footer-col{
			&:last-child{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				-ms-align-items: center;
				align-items: center;
				margin-top: 32px;

				.title{
					margin-bottom: 0;
				}
			}
		}

		.wrap-company{
			margin-top: 0;
			padding: 4px 15px 10px;
		}

		.social-row{
			margin: 0 25px 0 10px;
		}

		.title{
			font-size: 14px;
			line-height: 23px;
		}
	}
}


@media (max-width: 767px) {
	.footer-top{
		.footer-col{
			width: 50%;
			padding-left: 50px;
			margin-bottom: 30px;

			&:last-child{
				width: 100%;
				margin-bottom: 0;
				margin-top: 10px;
				flex-wrap: wrap;
				padding: 0;
				justify-content: center;

				.title{
					display: none;
				}

				.social-row{
					margin-left: 0;
				}
			}
		}
	}
}


@media (max-width: 575px) {
	.footer-top{
		padding: 0;
		font-size: 13px;
		line-height: 15px;

		&-content{
			margin: 0;
		}

		.container{
			padding: 0;
		}

		.footer-col{
			width: 100%;
			padding: 0;
			margin: 0;
			border-bottom: 1px solid rgba(255,255,255,.1);

			&:last-child{
				border-bottom: none;
				padding: 30px 15px;
				margin: 0;
				-ms-align-items: center;
				align-items: center;
				justify-content: center;

				.social-row{
					margin: 0 -10px;
					margin-right: 20px;
				}
			}
		}

		.dropdown-title{
			padding: 13px 15px;
			margin-bottom: 0;
			cursor: pointer;
			position: relative;

			&::after{
				content: "";
				position: absolute;
				top: 50%;
				right: 15px;
				-webkit-transform: translate(0, -50%);
				-moz-transform: translate(0, -50%);
				-ms-transform: translate(0, -50%);
				-o-transform: translate(0, -50%);
				transform: translate(0, -50%);
				background: url("../img/arrow-dropdown-white.png") no-repeat center;
				-webkit-background-size: contain;
				background-size: contain;
				width: 11px;
				height: 5px;
				transition: .4s all ease;
				-webkit-transform: rotate(180deg);
				-moz-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				-o-transform: rotate(180deg);
				transform: rotate(180deg);
			}
		}

		.dropdown-title-active{
			&::after{
				-webkit-transform: rotate(0deg);
				-ms-transform: rotate(0deg);
				-o-transform: rotate(0deg);
				transform: rotate(0deg);
			}
		}

		.dropdown-title + ul {
			display: none;
			padding: 0 15px 15px 15px;
			margin-top: -3px;

			li{
				margin-bottom: 5px;
			}
		}
	}

	.footer-bottom{
		font-size: 11px;
	}
}

@media (max-width: 455px) {
	.footer-top{
		.footer-col{
			&:last-child{
				-webkit-flex-direction: column;
				-moz-flex-direction: column;
				-ms-flex-direction: column;
				-o-flex-direction: column;
				flex-direction: column;
				-ms-align-items: flex-start;
				align-items: flex-start;

				.social-row{
					margin-right: 0;
				}

				.wrap-company{
					margin-top: 22px;
				}
			}
		}
	}
}
