doctype html

html(lang="ru")
	head
		title 
			block title

		//- Default
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

		//- Theme color
		meta(name="theme-color", content="#fff")

		//- Favicon
		link(rel="icon", type="image/png", sizes="16x16", href="img/favicon/favicon.png")
		link(rel="apple-touch-icon", sizes="57x57", href="img/favicon/apple-touch-favicon.png")

		//- Libs
		link(rel="stylesheet", href="libs/css/hamburgers/hamburgers.min.css")
		link(rel="stylesheet", href="libs/css/reset/reset.min.css")
		link(rel="stylesheet", href="libs/css/selectize/selectize.min.css")
		link(rel="stylesheet", href="libs/css/custom-scrollbar/jquery.mCustomScrollbar.min.css")
		link(rel="stylesheet", href="libs/css/slick/slick.css")
		link(rel="stylesheet", href="libs/css/jq-ui/jquery-ui.css")
		link(rel="stylesheet", href="libs/css/mmenu/jquery.mmenu.all.css")
		link(rel="stylesheet", href="libs/css/slider-swiper/swiper.min.css")

		//- Styles
		link(rel="stylesheet", href="fonts/fonts.css")
		link(rel="stylesheet", href="css/styles.min.css")

		//Maps
		<script src="https://api-maps.yandex.ru/2.1/?apikey=<a6d9fe96-0aa0-4450-bce7-6291a3a230fe>&lang=ru_RU", type="text/javascript"></script>

	body
		include ../../modules/mobile-menu/mobile-menu
		include ../../modules/modal-window/modal-window
		include ../../modules/btn-scroll-to-top/btn-scroll-to-top
		include ../../modules/preloader/preloader
		include ../../modules/fixed-bar/fixed-bar

		.page
			include ../../modules/header/header
			block content
			include ../../modules/footer/footer

		//-Jquery
		script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")

		script(src="js/scripts.min.js")