.top-page-line
	.wrap-breadcrumbs
		a.other-page(href="index.html") Главная
		a.other-page(href="index.html") Каталог товаров
		span.cur-page Сравнение товаров
		
	.wrap-title
		span.page-title Сравнение товаров
		span.btn-gray.btn-clear-compare
			span.text Очистить сравнение
		span.btn-gray.btn-clear-compare.btn-clear-compare-sm
			span.text Очистить
