.first-sec-page-rates
	padding: 44px 0 36px 0
	min-height: auto
	.sec-content
		width: 100%
		text-align: left

+media(xl)
	.first-sec-page-rates
		padding-top: 35px

+media(lg)
	.first-sec-page-rates
		padding-top: 20px
		
+media(md)
	.first-sec-page-rates
		padding-top: 20px