.rates-item
	padding-bottom: 60px
	overflow: hidden
	&:last-child
		padding-bottom: 0px
	.wrap-item-img
		margin-bottom: 64px
		.wrap-img
			height: 442px
			width: 100%
			background-size: cover
			background-position: center
			background-repeat: no-repeat
	.wrap-table
		margin-top: 40px
		table
			width: 100%
			.t-row-top
				.t-item
					vertical-align: bottom
					padding: 0 40px 15px 0
			.t-row:not(.t-row-top)
				.t-item
					font-size: 22px
					color: #000
					line-height: 28px
					border-bottom: 1px solid #E5E5E5
					padding: 15px 40px 15px 0
				.t-row-title
					border-bottom-color: transparent
			.t-row:last-child
				.t-item
					border-bottom-color: transparent
			.t-item
				-moz-hyphens: auto
				-webkit-hyphens: auto
				-ms-hyphens: auto
				width: 20%
		.table-type-1
			.t-last-row
				border-bottom: 2px solid #BEC2C3
		.table-type-2
			.t-item-line-right
				position: relative
				&:after
					content: ""
					top: 10%
					position: absolute
					right: 30px
					width: 1px
					height: 60%
					background-color: #E5E5E5
			.t-row-top-1
				td
					padding-bottom: 10px
			.t-row-top-2
				td
					padding: 0 40px 20px 0
				.medium-text
					font-size: 16px
					line-height: 20px
					color: #000
			.t-row
				&:last-child
					.t-item:not(.t-row-title)
						border-bottom-color: #E5E5E5
				.t-item
					width: 12%
					vertical-align: middle
					&:first-child
						width: 21%
						padding-right: 40px
				.t-row-title
					font-size: 16px !important
					line-height: 20px !important
					color: #000
			.t-item-line-right
				&:after
					right: 25px

.wrap-bottom-page-text
	padding-bottom: 72px
	.subtext
		padding-left: 20%
		margin-top: 8px


+media(xl)
	.rates-item
		.wrap-table
			table
				.small-text
					font-size: 13px
				.t-row:not(.t-row-top)
					.t-item
						font-size: 20px
						line-height: 	24px
						padding: 15px 25px 15px 0
			.table-type-2
				.t-row-top-2
					.medium-text
						font-size: 14px
						line-height: 16px
					td
						padding-bottom: 10px

+media(lg)
	.rates-item
		.item-title
			font-size: 28px
		.item-subtitle
			font-size: 24px
			line-height: 27px
		.wrap-table
			margin-top: 30px
			table
				.small-text
					font-size: 11px
					line-height: 14px
				.t-row:not(.t-row-top)
					.t-item
						font-size: 17px
						line-height: 	20px
			.table-type-2
				.t-row-top-2
					.medium-text
						font-size: 12px
				.t-row
					.t-row-title
						font-size: 12px !important
						line-height: 14px !important
	.wrap-bottom-page-text
		.subtext
			font-size: 12px
			line-height: 14px

+media(md)
	.rates-item
		padding-bottom: 30px
		&:last-child
			padding-bottom: 0px
		.wrap-item-img
			margin-bottom: 30px
		.item-title
			font-size: 24px
		.item-subtitle
			font-size: 20px
			line-height: 24px
		.wrap-table
			margin-top: 20px
			table
				.small-text
					font-size: 9px
					line-height: 11px
				.t-row-top 
					.t-item
						padding-bottom: 5px
				.t-row:not(.t-row-top)
					.t-item
						font-size: 12px
						line-height: 	14px
						padding: 10px 20px 10px 0
						width: 26%
					.t-row-title
						padding-right: 20px
			.table-type-2
				.small-text
					font-size: 8px
					line-height: 12px
				.t-row-top-2
					td
						padding-bottom: 5px
					.medium-text
						font-size: 8px
						line-height: 12px
						padding-right: 20px
				.t-row
					&:not(.t-row-top)
						.t-item
							font-size: 12px
							line-height: 14px
					.t-row-title
						font-size: 9px !important
						line-height: 11px !important
					.t-item
						width: 18% !important
						&:first-child
							padding-right: 20px
				.t-item-line-right
					&:after
						right: 18px
	.wrap-bottom-page-text
		padding-bottom: 50px
		.subtext
			font-size: 10px
			line-height: 12px

+media(sm)
	.rates-item
		padding-top: 0
		.wrap-item-img
			display: none
		.item-title
			font-size: 17px
		.item-subtitle
			font-size: 14px
			line-height: 15px
		.wrap-table
			margin-top: 20px
			table
				.small-text
					font-size: 6px
					line-height: 7px
				.t-row-top
					.t-item
						padding: 0 20px 5px 0
				.t-row:not(.t-row-top)
					.t-item
						font-size: 7px
						line-height: 	8px
						padding: 10px 10px 10px 0
						width: 21%
					.t-row-title
						padding-right: 10px
			.table-type-2
				.small-text
					font-size: 5px
					line-height: 6px
				.t-row-top-2
					td
						padding-bottom: 0px
					.medium-text
						font-size: 6px
						line-height: 8px
						padding-right: 10px
				.t-row
					&:not(.t-row-top)
						.t-item
							font-size: 7px
							line-height: 8px
					.t-row-title
						font-size: 5px !important
						line-height: 6px !important
					.t-item
						width: 20% !important
						&:first-child
							padding-right: 10px
				.t-item-line-right
					&:after
						display: none

	.wrap-bottom-page-text
		padding-bottom: 30px
		.subtext
			font-size: 6px
			line-height: 8px

