.banner-top-page-apartments
	min-height: 580px
	.wrap-banner-content
		margin-bottom: 70px
		.banner-title 
			margin-top: 5px

				

+media(xl)
	.banner-top-page-apartments
		min-height: 500px

+media(lg)
	.banner-top-page-apartments
		min-height: 450px

+media(md)
	.banner-top-page-apartments
		min-height: 370px
		

+media(sm)
	.banner-top-page-apartments
		min-height: 350px


@media(max-width: 420px)
	.banner-top-page-apartments
		.wrap-banner-content
			margin: 0