// Main banner BEGIN
include main-banner/main-banner
// Main banner END


// Services BEGIN
include services/services
// Services END


// Technologies BEGIN
include technologies/technologies
// Technologies END


// Works BEGIN
include works/works
// Works END


// Feedback BEGIN
include feedback/feedback
// Feedback END