.wrap-items
	.wrap-slider.wrap-slider-top

		.slider.swiper-container
			.swiper-wrapper

				.wrap-item.wrap-item-simple.swiper-slide
					.item
						.wrap-img.resp-img
							img(src="img/game-12.png", alt="")
						span.small-text.text-info Клиент и задача:
						p.title Компания FireSEO захотела организовать корпоратив на свежем воздухе
						.bottom-line
							a(href="#").small-text.color-red.view-photo Смотреть фото

				.wrap-item.wrap-item-simple.swiper-slide
					.item
						.wrap-img.resp-img
							img(src="img/game-13.png", alt="")
						span.small-text.text-info Клиент и задача:
						p.title Компания FireSEO захотела организовать корпоратив на свежем воздухе
						.bottom-line
							a(href="#").small-text.color-red.view-photo Смотреть фото

				.wrap-item.wrap-item-simple.swiper-slide
					.item
						.wrap-img.resp-img
							img(src="img/game-14.png", alt="")
						span.small-text.text-info Клиент и задача:
						p.title Компания FireSEO захотела организовать корпоратив на свежем воздухе
						.bottom-line
							a(href="#").small-text.color-red.view-photo Смотреть фото

				.wrap-item.wrap-item-simple.swiper-slide
					.item
						.wrap-img.resp-img
							img(src="img/game-15.png", alt="")
						span.small-text.text-info Клиент и задача:
						p.title Компания FireSEO захотела организовать корпоратив на свежем воздухе
						.bottom-line
							a(href="#").small-text.color-red.view-photo Смотреть фото

		.wrap-slider-arrows.wrap-arrows-circle
			.button-prev
				<svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0.306594 6.30693L6.32638 0.287337C6.70931 -0.0957794 7.33017 -0.0957794 7.71292 0.287337C8.09569 0.670113 8.09569 1.29094 7.71292 1.67368L2.38633 7.0001L7.71276 12.3263C8.09554 12.7093 8.09554 13.33 7.71276 13.7128C7.32999 14.0957 6.70916 14.0957 6.32623 13.7128L0.306439 7.69312C0.115051 7.50164 0.0194654 7.25095 0.0194654 7.00013C0.0194654 6.74919 0.115237 6.49832 0.306594 6.30693Z" fill="white"/>
				</svg>

			.button-next
				<svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M7.69341 7.69307L1.67362 13.7127C1.29069 14.0958 0.669828 14.0958 0.287082 13.7127C-0.0956941 13.3299 -0.0956941 12.7091 0.287082 12.3263L5.61367 6.9999L0.287237 1.67367C-0.0955393 1.29074 -0.0955393 0.669973 0.287237 0.287198C0.670013 -0.0957326 1.29084 -0.0957326 1.67377 0.287198L7.69356 6.30688C7.88495 6.49836 7.98053 6.74905 7.98053 6.99987C7.98053 7.25081 7.88476 7.50168 7.69341 7.69307Z" fill="white"/>
				</svg>

	.wrap-slider.wrap-slider-bottom

		.slider.swiper-container
			.swiper-wrapper

				.wrap-item.wrap-item-simple.swiper-slide
					.item
						.wrap-img.resp-img
							img(src="img/game-12.png", alt="")
						span.small-text.text-info Клиент и задача:
						p.title Компания FireSEO захотела организовать корпоратив на свежем воздухе
						.bottom-line
							a(href="#").small-text.color-red.view-photo Смотреть фото

				.wrap-item.wrap-item-simple.swiper-slide
					.item
						.wrap-img.resp-img
							img(src="img/game-13.png", alt="")
						span.small-text.text-info Клиент и задача:
						p.title Компания FireSEO захотела организовать корпоратив на свежем воздухе
						.bottom-line
							a(href="#").small-text.color-red.view-photo Смотреть фото

				.wrap-item.wrap-item-simple.swiper-slide
					.item
						.wrap-img.resp-img
							img(src="img/game-14.png", alt="")
						span.small-text.text-info Клиент и задача:
						p.title Компания FireSEO захотела организовать корпоратив на свежем воздухе
						.bottom-line
							a(href="#").small-text.color-red.view-photo Смотреть фото

				.wrap-item.wrap-item-simple.swiper-slide
					.item
						.wrap-img.resp-img
							img(src="img/game-15.png", alt="")
						span.small-text.text-info Клиент и задача:
						p.title Компания FireSEO захотела организовать корпоратив на свежем воздухе
						.bottom-line
							a(href="#").small-text.color-red.view-photo Смотреть фото

		.wrap-slider-arrows.wrap-arrows-circle
			.button-prev
				<svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0.306594 6.30693L6.32638 0.287337C6.70931 -0.0957794 7.33017 -0.0957794 7.71292 0.287337C8.09569 0.670113 8.09569 1.29094 7.71292 1.67368L2.38633 7.0001L7.71276 12.3263C8.09554 12.7093 8.09554 13.33 7.71276 13.7128C7.32999 14.0957 6.70916 14.0957 6.32623 13.7128L0.306439 7.69312C0.115051 7.50164 0.0194654 7.25095 0.0194654 7.00013C0.0194654 6.74919 0.115237 6.49832 0.306594 6.30693Z" fill="white"/>
				</svg>

			.button-next
				<svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M7.69341 7.69307L1.67362 13.7127C1.29069 14.0958 0.669828 14.0958 0.287082 13.7127C-0.0956941 13.3299 -0.0956941 12.7091 0.287082 12.3263L5.61367 6.9999L0.287237 1.67367C-0.0955393 1.29074 -0.0955393 0.669973 0.287237 0.287198C0.670013 -0.0957326 1.29084 -0.0957326 1.67377 0.287198L7.69356 6.30688C7.88495 6.49836 7.98053 6.74905 7.98053 6.99987C7.98053 7.25081 7.88476 7.50168 7.69341 7.69307Z" fill="white"/>
				</svg>