.wrap-items
	.wrap-slider.wrap-slider-top

		.slider.swiper-container
			.swiper-wrapper

				.wrap-item.wrap-item-dropdown.swiper-slide
					a(href="#").item
						.wrap-img.resp-img
							img(src="img/game-12.png", alt="")
						.item-info
							span.h4.color-red.company-name FieSeo
							time.time-pubdate.color-white(pubdate="21.08.18") 21.08.18
						.item-text.color-white
							p Cнизу фиолетовая полоска где будет написана дата и название компании а при наведении на картинку что бы фиолетовая полоска увеличивалась и было написано описание.

				.wrap-item.wrap-item-dropdown.swiper-slide
					a(href="#").item
						.wrap-img.resp-img
							img(src="img/game-13.png", alt="")
						.item-info
							span.h4.color-red.company-name FieSeo
							time.time-pubdate.color-white(pubdate="21.08.18") 21.08.18
						.item-text.color-white
							p Cнизу фиолетовая полоска где будет написана дата и название компании а при наведении на картинку что бы фиолетовая полоска увеличивалась и было написано описание.

				.wrap-item.wrap-item-dropdown.swiper-slide
					a(href="#").item
						.wrap-img.resp-img
							img(src="img/game-14.png", alt="")
						.item-info
							span.h4.color-red.company-name FieSeo
							time.time-pubdate.color-white(pubdate="21.08.18") 21.08.18
						.item-text.color-white
							p Cнизу фиолетовая полоска где будет написана дата и название компании а при наведении на картинку что бы фиолетовая полоска увеличивалась и было написано описание.

				.wrap-item.wrap-item-dropdown.swiper-slide
					a(href="#").item
						.wrap-img.resp-img
							img(src="img/game-15.png", alt="")
						.item-info
							span.h4.color-red.company-name FieSeo
							time.time-pubdate.color-white(pubdate="21.08.18") 21.08.18
						.item-text.color-white
							p Cнизу фиолетовая полоска где будет написана дата и название компании а при наведении на картинку что бы фиолетовая полоска увеличивалась и было написано описание.

		.wrap-slider-arrows.wrap-arrows-angles
			.button-prev
				<svg width="21" height="41" viewBox="0 0 21 41" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M20.0122 0L0 20.0122L20.0122 40.0244V28.7662L11.2582 20.0122L20.0122 11.2582V0Z" fill="#501E50"/>
				</svg>

			.button-next
				<svg width="21" height="41" viewBox="0 0 21 41" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M0 40.0244L20.0122 20.0122L0 0V11.2582L8.75396 20.0122L0 28.7662V40.0244Z" fill="#501E50"/>
				</svg>


	.wrap-slider.wrap-slider-bottom

		.slider.swiper-container
			.swiper-wrapper

				.wrap-item.wrap-item-dropdown.swiper-slide
					a(href="#").item
						.wrap-img.resp-img
							img(src="img/game-12.png", alt="")
						.item-info
							span.h4.color-red.company-name FieSeo
							time.time-pubdate.color-white(pubdate="21.08.18") 21.08.18
						.item-text.color-white
							p Cнизу фиолетовая полоска где будет написана дата и название компании а при наведении на картинку что бы фиолетовая полоска увеличивалась и было написано описание.

				.wrap-item.wrap-item-dropdown.swiper-slide
					a(href="#").item
						.wrap-img.resp-img
							img(src="img/game-13.png", alt="")
						.item-info
							span.h4.color-red.company-name FieSeo
							time.time-pubdate.color-white(pubdate="21.08.18") 21.08.18
						.item-text.color-white
							p Cнизу фиолетовая полоска где будет написана дата и название компании а при наведении на картинку

				.wrap-item.wrap-item-dropdown.swiper-slide
					a(href="#").item
						.wrap-img.resp-img
							img(src="img/game-14.png", alt="")
						.item-info
							span.h4.color-red.company-name FieSeo
							time.time-pubdate.color-white(pubdate="21.08.18") 21.08.18
						.item-text.color-white
							p Cнизу фиолетовая полоска где будет написана дата и название компании а при наведении на картинку

				.wrap-item.wrap-item-dropdown.swiper-slide
					a(href="#").item
						.wrap-img.resp-img
							img(src="img/game-15.png", alt="")
						.item-info
							span.h4.color-red.company-name FieSeo
							time.time-pubdate.color-white(pubdate="21.08.18") 21.08.18
						.item-text.color-white
							p Cнизу фиолетовая полоска где будет написана дата и название компании а при наведении на картинку что бы фиолетовая полоска увеличивалась и было написано описание.

		.wrap-slider-arrows.wrap-arrows-angles
			.button-prev
				<svg width="21" height="41" viewBox="0 0 21 41" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M20.0122 0L0 20.0122L20.0122 40.0244V28.7662L11.2582 20.0122L20.0122 11.2582V0Z" fill="#501E50"/>
				</svg>

			.button-next
				<svg width="21" height="41" viewBox="0 0 21 41" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M0 40.0244L20.0122 20.0122L0 0V11.2582L8.75396 20.0122L0 28.7662V40.0244Z" fill="#501E50"/>
				</svg>