section.sec-list-1.sec-list-1-circle.sec
	.container
		.sec-list-1-content
			.sec-list-1-text
				h4.subtext Схема установки базового комплекта охранной сигнализации для дома
				h2.title Будьте уверены в безопасности своего дома
				.wrap-list.wrap-list-circle
					ol
						li Панель/клавиатура
						li Датчик открывания двери
						li Датчик движения
						li Брелок
				p.subtext ООО «СпецМонтаж» предлагает круглосуточный мониторинг домов и коттеджей с помощью надежных и современных систем безопасности, подключенных к пульту централизованного наблюдения «Радуга».
			.sec-list-1-img
				.wrap-img
					img.img-resp(src="img/sec_list_1_home.jpg", alt="")
			



