section.sec-list-3.sec.sec-gray
	.wrap-img(style="background-image: url(img/img_serviecs_list.jpg)")
	.container
		.sec-list-3-content
			h2.content-title Компания «СпецМонтаж» предлагает обезопасить свое жилище с помощью охранной сигнализации. 
			p.subtext Наработанный с 2003 года опыт позволил создать оптимальные условия для клиентов и собрать лучшие технологические решения для домовладений.
			.wrap-list.wrap-list-arrow
				p Кроме установки охранных систем, компания предоставляет услуги монтажа пожарной и тревожной сигнализаций. В перечень услуг входит:
				ul
					li установка охраны;
					li вневедомственная охрана жилища;
					li реагирование нарядов полиции и группы немедленного реагирования для контроля безопасности.



