.layout-preparation__common

  .layout-preparation__format
    h2.layout-preparation__format-title.title-2 3D ФОРМАТ
    ul.layout-preparation__format-list
      li.layout-preparation__format-item
        span.layout-preparation__format-item-icon.replace-svg(data-src="img/max-file.svg")
        span.layout-preparation__format-item-name .MAX

      li.layout-preparation__format-item
        span.layout-preparation__format-item-icon.replace-svg(data-src="img/dwg-file.svg")
        span.layout-preparation__format-item-name .DWG

      li.layout-preparation__format-item
        span.layout-preparation__format-item-icon.replace-svg(data-src="img/art-file.svg")
        span.layout-preparation__format-item-name .ART

      li.layout-preparation__format-item
        span.layout-preparation__format-item-icon.replace-svg(data-src="img/dfx-file.svg")
        span.layout-preparation__format-item-name .DXF

      li.layout-preparation__format-item
        span.layout-preparation__format-item-icon.replace-svg(data-src="img/stl-file.svg")
        span.layout-preparation__format-item-name .STL


    h2 Расположение чертежей в файле
    p - Все файлы сохраняйте <em>на одной странице документа</em>.
    br
    p - <em>Подпись</em> материала и толщину помещайте прямо <em>в документе над чертежом</em>.
    br
    p - Сохраняйте файлы <em>в масштабе 1:1</em>.

    br
    br

    h2 Заливка макетов цветом
    p Не стоит путать заливку цветом макета и раскрашивание линий в необходимые цвета. Раскрашивайте линии, но не заливайте свои чертежи.

    br
    br

    h2 Толщина линий в макете
    p Все линии в макетах должны быть сверхтонкими, оборудование режет по линии, но толщину линии оно учитывать не может. Линии должны быть объединены.

    .video-preparation.video
      .video__inner

        .video__player
          <iframe src="https://www.youtube.com/embed/6RZH6CHNgas" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        .video__wrap-text
          span.video__text.title-1 <em>Посмотрите</em>, как<br> подготовить<br> <em>линии</em> в макете

    h2 Преобразование <em>в кривую</em>
    p Весь текст, все линии перед сохранением вам нужно обязательно преобразовать в кривую. Если этого не сделать, то на открывающем файл компьютере файл может отобразиться не верно.

    .video-preparation.video
      .video__inner

        .video__player
          <iframe src="https://www.youtube.com/embed/6RZH6CHNgas" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        .video__wrap-text
          span.video__text.title-1 <em>Посмотрите</em>, как<br> подготовить<br> <em>линии</em> в кривые

    h2 Направление волокон материала
    p Если в вашем заказе используется фанера, массив, ЛДСП, ЛМДФ, ЛДВП, ПВХ, и вам важно направление волокон, то обязательно указывайте это специальным обозначением в вашем файле.
    img(src="img/who-to-make-img-1.png" alt="")

    h2 Сохранение внутренностей остатков
    p Если вам необходимо сохранить середину/выпадающие элементы или остатки материала, то обязательно пишите это в файле при размещении заказа.
    p По умолчанию все серединки и отходы выбрасываются.

    br
    br

    h2 Размножение деталей
    p Если вам необходимо вырезать одну деталь 10 раз, то размножьте ее 10 раз и скомпонуйте.

    br
    br

    h2 Размеры в файле
    p - Указывайте  все размеры в миллиметрах.
    br
    p - Обязательно сохраняйте все чертежи в формате один к одному, то есть в реальном размере.
    br
    p - Если вы чертите не в программе Corel Draw, то для проверки верности масштаба укажите один или два размера из всего чертежа.
    p Мы их проверим, и если они будут сходиться — значит весь масштаб файла открылся верно.





