.box-result-price.element-shadow-static
	form
		.cur-price.item-price
			em.text-fw-bold Сумма:
			em.text-fw-bold 12 200.20 руб.

		.wrap-action-prices
			.item-price.text-medium
				span Скидка по акциям 
				span.text-red 1 030.30 руб.
			.item-price.text-medium
				span Скидка, промокод
				span.text-red 10 230.30 руб.

		.result-price.item-price
			span.text-medium Итого
			em.text-fw-bold 12 422.20 руб.

		button(type="submit").btn.btn-dark Оформить заказ