extends ../pug/template/page.pug

block title 
	| О нас

block content
	include ../modules/header/header
	
	.page.page-about-us.section-white
		include about-us/persons/persons
		include about-us/video-about-us/video-about-us
		include ../modules/cards/testimonials/testimonials-angle

	include ../modules/footer/footer
