<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	link(rel="stylesheet", href="css/style.min.css")
	title Document
body
	ul.index-list
		li
			a(href="main.html") Главная - вар. 1

		li
			a(href="main-second.html") Главная - вар. 2 (видео на фоне)

		li
			a(href="our-programs.html") Наши программы

		li
			a(href="big-racing.html") Большие гонки

		li
			a(href="contacts.html") Контакты

		li
			a(href="portfolio.html") Портфолио

		li
			a(href="about-us.html") О нас


