extends ../pug/template/page.pug

block title 
	| Главная

block vars
	- var bodyClass = 'index-page'

block content
	include ../modules/header/index-header

	include index/banner/banner

	include ../modules/cards/our-programs/our-programs-large

	include ../modules/cards/portfolio/portfolio-simple-angle
	
	include index/special-banner/special-banner

	include index/work-steps/work-steps-white

	include index/about-us/about-us
	
	include ../modules/cards/testimonials/testimonials-angle

	include ../modules/footer/footer
