extends ../pug/template/page.pug

block title 
	| Портфолио

block content
	include ../modules/header/header
	
	.page.page-portfolio
		include portfolio/portfolio-items
	
	include ../modules/footer/footer
