.container
	.row
		.col
			.wrap-page-title
				span.page-title.h-2 Название категории
				.product-count.text-fw-bold 142 товара

				.btn-title.view-sort-items.text-medium.el-show-dropdown
					span Сортировать по
					.wrap-dropdown-label
						.dropdown-label
							ul
								li.text-medium.active По возрастанию цены
								li.text-medium По убыванию цены
