.user-data-info
	.wrap-user-info

		.wrap-name
			span.name Константиновский Константин Константинович
			span.name-company ООО «Трайпл»

		.wrap-prices
			table
				tr.price-item
					td Кредитная линия:
					td 0.00 руб.
				tr.price-item
					td Отсрочка платежа:
					td 4 дня
				tr.price-item
					td Задолженность:
					td 12 400.00 руб.

	.wrap-table-products-info
		table.table-products-info
			tr.row-filter
				td
					a(href="#").filter-param.filter-param-top № Заказа
				td
					a(href="#").filter-param Дата размещения
				td
					a(href="#").filter-param.filter-param-top Дата поставки
				td
					a(href="#").filter-param.filter-param-bottom Статус
				td
					a(href="#").filter-param.filter-param-bottom Сумма
				td
					a(href="#").filter-param Вес, кг
				td
					a(href="#").filter-param Объем, м2
				td
					a(href="#") Действия

			tr
				td
					.circle
					| 00000000000
				td 02.05.2018
				td 02.05.2018
				td Не обработано
				td 300 000.00
				td 300 000
				td 300
				td
					span.btn-remove Удалить

			tr
				td
					.circle
					| 00000000000
				td 02.05.2018
				td 02.05.2018
				td Не обработано
				td 300 000.00
				td 300 000
				td 300
				td
					span.btn-remove Удалить

			tr
				td
					.circle
					| 00000000000
				td 02.05.2018
				td 02.05.2018
				td Не обработано
				td 300 000.00
				td 300 000
				td 300
				td
					span.btn-remove Удалить

			tr
				td
					.circle
					| 00000000000
				td 02.05.2018
				td 02.05.2018
				td Не обработано
				td 300 000.00
				td 300 000
				td 300
				td
					span.btn-remove Удалить

			tr
				td
					.circle
					| 00000000000
				td 02.05.2018
				td 02.05.2018
				td Не обработано
				td 300 000.00
				td 300 000
				td 300
				td
					span.btn-remove Удалить

			tr
				td
					.circle
					| 00000000000
				td 02.05.2018
				td 02.05.2018
				td Не обработано
				td 300 000.00
				td 300 000
				td 300
				td
					span.btn-remove Удалить

			tr
				td
					.circle
					| 00000000000
				td 02.05.2018
				td 02.05.2018
				td Не обработано
				td 300 000.00
				td 300 000
				td 300
				td
					span.btn-remove Удалить
					
			tr
				td
					.circle
					| 00000000000
				td 02.05.2018
				td 02.05.2018
				td Не обработано
				td 300 000.00
				td 300 000
				td 300
				td
					span.btn-remove Удалить

	a(href="#").account-out
		.wrap-icon.wrap-img
			img(src="img/arrow-dropdown-menu-hover.svg", alt="")
		| Выйти из кабинета
