.wrap-personal-data.wrap-tabs-content

	.personal-data-history-orders.personal-data-group.tab-content.cur-tab-content(data-tab-key="history-orders")

		.personal-data-top-line.d-none.d-sm-block
			.wrap-title
				span.h-3.text-fw-medium История заказов

		span.text-dark-blue.current-order-state Нет текущих заказов

		ul.list-previous-orders

			li.previous-order-item
				.top-line.d-block.d-sm-flex.align-items-center.justify-content-between
					span.text-fw-bold № 3772435

					.order-status.d-flex.align-items-center
						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018

						span.d-flex.align-items-center.label-status.label-status-gray
							.label-icon.responsive-img
								img(src="img/icon-label-check.svg", alt="")

							span.text-medium.label-text Доставлен

				.content.d-block.d-md-flex.justify-content-between.align-items-end
					ul.delivery-list.d-flex.align-items-center.flex-wrap
						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")

						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")

						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")

						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")

						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")

						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")

						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")

						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")

						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")

						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")

						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")



					.wrap-price-btn
						span.result-price.text-big.text-fw-bold 22 272.90 руб.
						a(href="#").btn.btn-dark Подробнее

			li.previous-order-item
				.top-line.d-block.d-sm-flex.align-items-center.justify-content-between
					span.text-fw-bold № 3772435

					.order-status.d-flex.align-items-center
						span.item-time.text-small.text-gray.text-fw-bold
							.wrap-icon
								img(src="img/018-watch.svg", alt="")

							time(datetime="2018-02-12 18:00") 02.12.2018

						span.d-flex.align-items-center.label-status.label-status-gray
							.label-icon.responsive-img
								img(src="img/icon-label-check.svg", alt="")

							span.text-medium.label-text Доставлен

				.content.d-block.d-md-flex.justify-content-between.align-items-end
					ul.delivery-list.d-flex.align-items-center.flex-wrap
						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")

						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")

						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")

						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")

						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")

						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")

						li.wrap-delivery-product
							.delivery-product.product-img.product-img-border
								img(src="img/form-img-2.png", alt="")


					.wrap-price-btn
						span.result-price.text-big.text-fw-bold 2 272.90 руб.
						a(href="#").btn.btn-dark Подробнее


	.personal-data-information.personal-data-group.tab-content(data-tab-key="information")

		.personal-data-top-line.d-none.d-sm-block
			.wrap-title
				span.h-3.text-fw-medium Личная информация

		form.form-validate.form.form-user-data
			.wrap-switches.d-flex.flex-wrap.align-items-stretch
				.wrap-radio.form-el-3
					input(required, type="radio", name="switches", checked)#rd3
					label(for="rd3").box
					span.text Мужчина
				.wrap-radio.form-el-3
					input(required, type="radio", name="switches")#rd4
					label(for="rd4").box
					span.text Женщина

			.wrap-fields.d-flex.flex-wrap.align-items-stretch
				.wrap-field.form-el-2
					input(required, type="text", name="lastname", placeholder="Фамилия")
					.error-icon
						img(src="img/icon-error.svg", alt="")

				.wrap-field.form-el-2
					input(required, type="text", name="firstname", placeholder="Имя")
					.error-icon
						img(src="img/icon-error.svg", alt="")
						

				.wrap-field.form-el-2
					input(required, type="text", name="email", placeholder="E-mail", data-msg-email="Неверный формат")
					.error-icon
						img(src="img/icon-error.svg", alt="")
					

				.wrap-field.form-el-2
					input(required, type="tel", name="phone" placeholder="Телефон")
					.error-icon
						img(src="img/icon-error.svg", alt="")

				.wrap-field.wrap-field-date.form-el-2
					input(required, type="text", placeholder="Дата рождения", name="birthday")
					
				.wrap-btn.form-el-2
					button(type="submit").btn.btn-dark сохранить изменения

		form.form.form-validate.form-change-password
			span.form-change-password_title.h-3.text-fw-medium Смена пароля

			.wrap-fields
				.wrap-field.form-el-2
					input(required, type="text", placeholder="Текущий пароль", name="noempty")
					.error-icon
						img(src="img/icon-error.svg", alt="")
					
				.wrap-field.form-el-2
					input(required, type="password", placeholder="Новый пароль", name="password").password
					.error-icon
						img(src="img/icon-error.svg", alt="")
					
				.wrap-field.form-el-2
					input(required, type="password", placeholder="Подтверждение пароля", name="confirm_password")
					.error-icon
						img(src="img/icon-error.svg", alt="")
					
				.wrap-btn.form-el-2
					button(type="submit").btn.btn-dark Изменить пароль


		//- .data-information-social.wrap-social-circle
		//- 	span.h-3.text-fw-medium Социальные сети

		//- 	p.text-medium.social-circle-subtext Нажмите на значок социальной сети, чтобы<br> связать ее с личным кабинетом

		//- 	.social-circle-row
		//- 		a(href="#").social-fb.social-circle
		//- 			img(src="img/icon-fb-white.svg", alt="")

		//- 		a(href="#").social-vk.social-circle.social-active
		//- 			img(src="img/icon-vk-white.svg", alt="")

		//- 		a(href="#").social-inst.social-circle.social-active
		//- 			img(src="img/icon-inst-white.svg", alt="")

		//- 		a(href="#").social-g.social-circle
		//- 			img(src="img/icon-google-white.svg", alt="")


	.personal-data-address.personal-data-group.tab-content(data-tab-key="address")

		.personal-data-top-line.d-none.d-sm-block
			.wrap-title
				span.h-3.text-fw-medium Мои адреса

		ul.list-saved-address
			
			li.item-saved-address.cur-address
				span.d-flex.justify-content-between.align-items-center.item-saved-address-title 
					span.text-fw-bold Домашний

					.wrap-address-functional.d-flex.align-items-center
						span.change-address.responsive-img
							img(src="img/icon-pencil.svg", alt="")
						span(data-izimodal-open=".modal-remove-address-question").remove-address.responsive-img
							img(src="img/icon-cross.svg", alt="")

				address.text-medium.address-data г. Минск, ул. Скрыганова

			
			li.item-saved-address
				span.d-flex.justify-content-between.align-items-center.item-saved-address-title 
					span.text-fw-bold Без названия

					.wrap-address-functional.d-flex.align-items-center
						span.change-address.responsive-img
							img(src="img/icon-pencil.svg", alt="")
						span(data-izimodal-open=".modal-remove-address-question").remove-address.responsive-img
							img(src="img/icon-cross.svg", alt="")

				address.text-medium.address-data г.Минск, ул. Левитана, 144/3, 40
	
		a(href="#").btn.btn-dark(data-izimodal-open=".modal-add-address") добавить адрес


	.personal-data-callback.personal-data-group.tab-content(data-tab-key="callback")

		.personal-data-callback-content.d-flex.justify-content-between

			.content-left
				.personal-data-top-line.d-none.d-sm-block
					.wrap-title
						span.h-3.text-fw-medium Обратная связь
					p.subtitle Возникли вопросы по заказу или работе интернет-магазина? Оставьте свое обращение и мы проконсультируем вас.

				form.form-validate.form.form-callback
					.wrap-select.wrap-select-personal-area
						select(reauired, name="selectthememsg", placeholder="Тема обращения")
							option
							option(value="1") 
								span В данной ситуации
							option(value="2") 
								span И решил
							option(value="3") 
								span Сделать ограничение
							option(value="4") 
								span У выпадающего списка
							option(value="5") 
								span Вроде выпадающего пишется
							option(value="12") 
								span Я тут подумал
							option(value="23") 
								span И решил

					.wrap-field
						input(required, type="tel", placeholder="Телефон")
						.error-icon
							img(src="img/icon-error.svg", alt="")
					
					.wrap-field
						textarea(required, placeholder="Текст сообщения", name="message")
						.error-icon
							img(src="img/icon-error.svg", alt="")

					.wrap-checkbox
						input(required, type="checkbox", id="tdbanner")
						label(for="tdbanner").box
						span.text.text-medium Пожалуйста, свяжитесь со мной по телефону
				
					button(type="submit").btn.btn-dark Отправить

			.content-right

				.reference
					span.text-small.text-fw-bold.reference_title.text-uppercase.letter-spacing-08 Справка
					p.text-medium Время работы службы поддержки:
						em  вт-сб 10.00-19.00
					p.text-medium Максимальный срок  ответа на обращение – 24 часа.
					p.text-medium Тел. для связи
						a(href="375291906669") + 375 (29) 190-66-69

