.catalog-content

	.row-filter-data.d-flex.d-lg-none.justify-content-between.align-items-center
		.view-sort-items.text-medium.el-show-dropdown
			span Сортировать по
			.wrap-dropdown-label
				.dropdown-label
					ul
						li.text-medium.active По возрастанию цены
						li.text-medium По убыванию цены

		span.btn-show-filter
			.wrap-icon.responsive-img
				img(src="img/icon-filter.svg", alt="")
			span.text-dark-blue.text-fw-bold.text-small Фильтры (4)


	.posts-product-cards
		
		.wrap-product-card.wrap-product-card-default
			.product-card.product-not-available.element-shadow-hover
				.label.text-fw-bold.text-small HIT

				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-4.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor WW

				.bottom-line
					.wrap-price
						span.old-price.text-small.text-gray 141 руб
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						img(src="img/006-heart.svg", alt="")

		.wrap-product-card.wrap-product-card-default
			.product-card.product-action.element-shadow-hover
				.label.text-fw-bold.text-small -30%

				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-1.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor нужно показать в три строки пожалуйста

				.bottom-line
					.wrap-price
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						img(src="img/006-heart.svg", alt="")

		.wrap-product-card.wrap-product-card-default
			.product-card.product-action.element-shadow-hover
				.label.text-fw-bold.text-small -30%

				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-2.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor

				.bottom-line
					.wrap-price
						span.old-price.text-small.text-gray 141 руб
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						img(src="img/006-heart.svg", alt="")

		.wrap-product-card.wrap-product-card-default
			.product-card.element-shadow-hover
				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-3.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor нужно показать в три строки пожалуйста

				.bottom-line
					.wrap-price
						span.old-price.text-small.text-gray 141 руб
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						img(src="img/006-heart.svg", alt="")

		.wrap-product-card.wrap-product-card-default
			.product-card.product-new.element-shadow-hover
				.label.text-fw-bold.text-small new

				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-4.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor WW

				.bottom-line
					.wrap-price
						span.old-price.text-small.text-gray 141 руб
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						img(src="img/006-heart.svg", alt="")

		.wrap-product-card.wrap-product-card-default
			.product-card.product-action.element-shadow-hover
				.label.text-fw-bold.text-small -30%

				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-1.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor

				.bottom-line
					.wrap-price
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						img(src="img/006-heart.svg", alt="")

		.wrap-product-card.wrap-product-card-default
			.product-card.product-action.element-shadow-hover
				.label.text-fw-bold.text-small -30%

				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-2.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor

				.bottom-line
					.wrap-price
						span.old-price.text-small.text-gray 141 руб
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						img(src="img/006-heart.svg", alt="")

		.wrap-product-card.wrap-product-card-default
			.product-card.element-shadow-hover
				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-3.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor

				.bottom-line
					.wrap-price
						span.old-price.text-small.text-gray 141 руб
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						img(src="img/006-heart.svg", alt="")

		.wrap-product-card.wrap-product-card-default
			.product-card.product-not-available.element-shadow-hover
				.label.text-fw-bold.text-small HIT

				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-4.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor WW

				.bottom-line
					.wrap-price
						span.old-price.text-small.text-gray 141 руб
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						img(src="img/006-heart.svg", alt="")

		.wrap-product-card.wrap-product-card-default
			.product-card.product-new.element-shadow-hover
				.label.text-fw-bold.text-small new

				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-1.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor

				.bottom-line
					.wrap-price
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						img(src="img/006-heart.svg", alt="")

		.wrap-product-card.wrap-product-card-default
			.product-card.product-action.element-shadow-hover
				.label.text-fw-bold.text-small -30%

				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-2.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor

				.bottom-line
					.wrap-price
						span.old-price.text-small.text-gray 141 руб
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						img(src="img/006-heart.svg", alt="")

		.wrap-product-card.wrap-product-card-default
			.product-card.element-shadow-hover
				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-3.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor

				.bottom-line
					.wrap-price
						span.old-price.text-small.text-gray 141 руб
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						img(src="img/006-heart.svg", alt="")

		.wrap-product-card.wrap-product-card-default
			.product-card.product-not-available.element-shadow-hover
				.label.text-fw-bold.text-small HIT

				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-4.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor WW

				.bottom-line
					.wrap-price
						span.old-price.text-small.text-gray 141 руб
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						img(src="img/006-heart.svg", alt="")

		.wrap-product-card.wrap-product-card-default
			.product-card.product-action.element-shadow-hover
				.label.text-fw-bold.text-small -30%

				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-1.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor

				.bottom-line
					.wrap-price
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						img(src="img/006-heart.svg", alt="")

		.wrap-product-card.wrap-product-card-default
			.product-card.product-action.element-shadow-hover
				.label.text-fw-bold.text-small -30%

				a(href="#").wrap-img.product-img
					img(src="img/main-img-card-2.jpg", alt="")

				span.brand.text-small.text-gray #Reebok Sport

				a(href="#").product-name.text-fw-bold Утепленный жилет Outdoor

				.bottom-line
					.wrap-price
						span.old-price.text-small.text-gray 141 руб
						span.cur-price.text-fw-bold 172.90 руб.
					.wrap-icon-like.responsive-img
						img(src="img/006-heart.svg", alt="")

		include ../../../modules/pagination/pagination















