section.testimonials-card
	.container
		
		.row.justify-content-center
			.col-12.col-md-7.col-lg-8.order-2.order-md-1
				include all/all
				
			.col-sm-8.col-md-5.col-lg-4.order-1.order-md-2
				include common/common
				