.about-program
	padding: 80px 0

	.about-info
		display: flex
		margin-bottom: 50px
		align-items: flex-start
	
	.wrap-video
		position: relative
		max-width: 38%
		width: 100%
		
		&::before
			content: ""
			width: 100%
			padding-top: 74%
			display: block

		iframe
			height: 100%
			width: 100%
			display: block
			position: absolute
			top: 0
			left: 0
			right: 0

	.wrap-text
		padding-left: 50px
		width: 100%
		max-width: 62%
		p
			margin-bottom: 17px
			color: $dark
			&:last-child
				margin-bottom: 0

	.wrap-photos
		display: flex
		align-items: stretch
		margin-left: -$gutters
		margin-right: -$gutters
		flex-wrap: wrap
		margin-bottom: -16px

		.wrap-photo
			width: 100%
			max-width: calc(100% / 3)
			padding: 0 $gutters 16px

		.photo
			height: 100%
	



+media(xl)
	.about-program
		padding: 70px 0

+media(lg)
	.about-program
		padding: 60px 0
		.wrap-text
			padding-left: 35px


+media(md)
	.about-program
		padding: 50px 0

		.about-info
			display: block
			margin-bottom: 40px

			> div
				margin-left: auto
				margin-right: auto

		.wrap-text
			padding-left: 0
			max-width: 100%

		.wrap-video
			width: 100%
			max-width: 385px
			margin-bottom: 30px

		.wrap-photos
			.wrap-photo
				max-width: 50%


+media(sm)
	.about-program
		padding: 45px 0

		.wrap-video
			margin-bottom: 20px

		.wrap-text
			p
				margin-bottom: 15px

		.wrap-photos
			.wrap-photo
				max-width: none
				min-width: 210px
				width: auto
				flex-grow: 1
				flex-basis: 200px
	
