section.about-program.section-white.bg-elements(style="background-image: url('img/bg-elements-7.svg')")
	.container
		
		.about-info
			.wrap-video
				span.video-url https://www.youtube.com/watch?v=6mPKyH2FvY0

			.wrap-text
				p Командная игра "Большие гонки" является аналогом популярной телевизионной игры на Первом канале.<br> Как и в ТВ-версии участникам, поделенным на команды, предстоят соревнования в самых удивительныных спортивных дисциплинах.

				p Всевозможные надувные аттракционы, необычные эстафеты и даже бык, но механический — всем этим наполнена игра. Настоящая возможность ощутить "Большие гонки" на себе, а не смотреть их по телевизору.

				p Не смотря на видимую несерьёзность, для победы, участникам данной игровой программы, необходимо действовать в команде, правильно распределять роли и коллективно решать поставленные задачи. И, конечно, всё это сопряжено с хорошим, активным отдыхом, которым так необходимо разбавить рабочие будни.

		.wrap-photos-slider.wrap-slider
			.slider.swiper-container
				.swiper-wrapper
					.wrap-photo.wrap-item.swiper-slide
						a(href="#").photo.resp-img
							img(src="img/game-22.png", alt="")

					.wrap-photo.wrap-item.swiper-slide
						a(href="#").photo.resp-img
							img(src="img/game-23.png", alt="")

					.wrap-photo.wrap-item.swiper-slide
						a(href="#").photo.resp-img
							img(src="img/game-24.png", alt="")

					.wrap-photo.wrap-item.swiper-slide
						a(href="#").photo.resp-img
							img(src="img/game-25.png", alt="")

					.wrap-photo.wrap-item.swiper-slide
						a(href="#").photo.resp-img
							img(src="img/game-26.png", alt="")

					.wrap-photo.wrap-item.swiper-slide
						a(href="#").photo.resp-img
							img(src="img/game-27.png", alt="")

			.wrap-slider-arrows.wrap-arrows-angles
				.button-prev
					<svg width="21" height="41" viewBox="0 0 21 41" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M20.0122 0L0 20.0122L20.0122 40.0244V28.7662L11.2582 20.0122L20.0122 11.2582V0Z" fill="#501E50"/>
					</svg>

				.button-next
					<svg width="21" height="41" viewBox="0 0 21 41" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M0 40.0244L20.0122 20.0122L0 0V11.2582L8.75396 20.0122L0 28.7662V40.0244Z" fill="#501E50"/>
					</svg>

