section.about-program.section-white.bg-elements(style="background-image: url('img/bg-elements-7.svg')")
	.container
		
		.about-info
			.wrap-video
				span.video-url https://www.youtube.com/watch?v=6mPKyH2FvY0

			.wrap-text
				p Командная игра "Большие гонки" является аналогом популярной телевизионной игры на Первом канале.<br> Как и в ТВ-версии участникам, поделенным на команды, предстоят соревнования в самых удивительныных спортивных дисциплинах.

				p Всевозможные надувные аттракционы, необычные эстафеты и даже бык, но механический — всем этим наполнена игра. Настоящая возможность ощутить "Большие гонки" на себе, а не смотреть их по телевизору.

				p Не смотря на видимую несерьёзность, для победы, участникам данной игровой программы, необходимо действовать в команде, правильно распределять роли и коллективно решать поставленные задачи. И, конечно, всё это сопряжено с хорошим, активным отдыхом, которым так необходимо разбавить рабочие будни.

		.wrap-photos
			.wrap-photo
				.photo.resp-img
					img(src="img/game-22.png", alt="")

			.wrap-photo
				.photo.resp-img
					img(src="img/game-23.png", alt="")

			.wrap-photo
				.photo.resp-img
					img(src="img/game-24.png", alt="")

			.wrap-photo
				.photo.resp-img
					img(src="img/game-25.png", alt="")

			.wrap-photo
				.photo.resp-img
					img(src="img/game-26.png", alt="")

			.wrap-photo
				.photo.resp-img
					img(src="img/game-27.png", alt="")


